[2019-06-28 21:15] shuttr opened #15134 "[stable/grafana] syntax error in deployment.yaml in grafana 3.5.6"
**Describe the bug**
Today, a new helm chart for grafana was release.  This was in it:

https://github.com/helm/charts/blob/9e0d2f23ced8ee73f51a09420b45b097bc89ab04/stable/grafana/templates/deployment.yaml#L78

It caused the YAML parser much chagrin.  Those quotes around the key name are no bueno.  The next line "args": also has the same issue.  Seems like it may have been a bug in converting from

[2019-06-28 21:24] stephenmuss commented on #11917
Bump. Missed the last comment about a PR. Will see what I can do.

[2019-06-28 22:36] #13388 closed

[2019-06-29 02:57] ianks commented on #12851
Figured it out, the configuration should look something like this (note this is terraform syntax):

[code]

[2019-06-29 06:02] #13893 closed

[2019-06-29 08:22] spaghettifunk opened #15136 "[stable/fluent-bit] Kafka output"
**Is your feature request related to a problem? Please describe.**
We are using `fluent-bit` to collect the logs of our applications and we wanted to send those to a kafka-topic.

**Describe the solution you'd like**
Adding the possibility to setup the output of fluent-bit to send the messages to kafka

**Describe alternatives you've considered**
We tried to send the logs directly to Elasticsearch

[2019-06-29 10:02] #13902 closed

[2019-06-29 11:02] #13904 closed

[2019-06-29 11:02] #13905 closed

[2019-06-29 15:02] #13917 closed

[2019-06-29 17:59] oxynux opened #15142 "[stable/nginx-ingress] add a app.kubernetes.io/name label"
The `stable/nginx-ingress` chart should use the same label as documented in `ingress-nginx` official git repository.
[code]

cf: https://github.com/kubernetes/ingress-nginx/pull/4252#issuecomment-506973945

[2019-06-30 00:02] #13937 closed

[2019-06-30 01:02] #13478 closed

[2019-06-30 04:58] cr2025x1 commented on #15078
Similar issue here, but with this log showing up on the slave pod with CrashLoopBackOff.
I set replication.password and .postgresql, .postgresqlPassword.

---

WARN  ==> Data directory is set with a legacy value, adapting POSTGRESQL_DATA_DIR...
WARN  ==> POSTGRESQL_DATA_DIR set to "/bitnami/postgresql/data"!!

Welcome to the Bitnami postgresql container
Subscribe to project updates by watching htt

[2019-06-30 05:00] chehabz commented on #11304
the wired thing is that if you remove the memory limit it works for the first scan and then crashes afterward.

[2019-06-30 06:12] #13941 closed

[2019-06-30 09:30] Mehrez27 opened #15144 "Nginx: 502 Bad Gateway error after deploying redmine in kubernetes cluster."
I tried to deploy redmine in kubernetes cluster (containing 1 master and 2 workers) through this helm chart "https://gitlab.com/kanzari.1993/redmine" with nginx ingress controller enabled, the deployment done with success but when I tried to access the application through the name of the host mentioned in the ingress.yaml file I get this warning: "502 Bad Gateway nginx / 1.17.0" on the other hand

[2019-06-30 09:56] Aisuko commented on #15144
Did you deploy nginx-ingress control on your cluster? Please check the link below https://kubernetes.io/docs/concepts/services-networking/ingress-controllers/

Some advice for HTTPS backend server:

If there was you have an HTTPS backend server. Make sure your secret include the HTTPS certificate which was used by your backend server and add `nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"`

[2019-06-30 10:12] #13947 closed

[2019-06-30 11:20] Mehrez27 commented on #15144
Aisuko I did the nginx-ingress control is deployed and working like a charm! but my problem was "the ingress is working but your backend is not".

[2019-06-30 12:12] #13946 closed

[2019-06-30 15:00] jbialy commented on #12470
Going to bump this again!

[2019-06-30 15:12] #13901 closed

[2019-06-30 15:12] #13953 closed

[2019-06-30 15:39] sykorax opened #15145 "[stable/redis] Collect metrics from Sentinel service"
**Is your feature request related to a problem? Please describe.**
When setting both metrics and sentinel true then the related exporter container (oliver006/redis_exporter) is still configured to grab statistics from the redis master and slave(s).

**Describe the solution you'd like**
I decided to do some research and found a solution to make this work. I had to explicitly set the metrics.extraAr

[2019-06-30 17:33] #15122 closed

[2019-06-30 19:14] jesusmariajurado commented on #5188
Hi all, make sure you have "storage" addon enabled. You should have a "hostpath" pod running on system

[2019-06-30 19:15] jesusmariajurado commented on #11002
Hi all, make sure you have "storage" addon enabled. You should have a "hostpath" pod running on system

[2019-06-30 21:12] #13862 closed

[2019-07-01 00:12] #13966 closed

[2019-07-01 01:47] Aisuko commented on #15144
Did you deploy nginx-ingress controll with the host Network?  You can deploy the nginx-ingress controll with the `service=Nodeport ` and check if that working well.

[2019-07-01 06:45] juan131 commented on #15145
Hi @sykorax

I guess it's a matter of modifying the template in the lines below:

https://github.com/helm/charts/blob/master/stable/redis/templates/metrics-deployment.yaml#L55

Do you want to do a PR or would you rather me to do it?

[2019-07-01 06:46] miguelaeh commented on #15078
Install using  `helm install stable/postgresql --set replication.password=<password>`

You can see all the available parameters (here)[https://github.com/helm/charts/tree/master/stable/postgresql#configuration].

[2019-07-01 06:51] miguelaeh commented on #14893
The `helm delete --purge` does not delete the PVCs so probably you are using always the same password on the configuration, that is because even if you give a password it is incorrect. Delete manually you PVCs after purge and redeploy. That should solve the problem.

[2019-07-01 07:12] sykorax commented on #15145
I'm new at k8s and helm and don't know much about templates. :/

[2019-07-01 08:01] thodquach opened #15148 "[stable/oauth2-proxy]can't evaluate field config at <.Values.config.exist...> _helpers.tpl"
**Describe the bug**
After i fill my values.yaml file, i just print here the change part:
[code]
I run this command:
[code]
And this is the console log:
[code]

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
[code]

**What happened**:
It can not get <.Values.config.exist...>
When the chart check that field exist or not

**What can i do to fix it?**

[2019-07-01 08:01] obeyler commented on #15134
Sorry it's due to my last PR I don't understand why some "" have been added
I'll fix that quikly

[2019-07-01 08:04] tanordheim commented on #15011
For reference, if anyone else is looking - the last version where this seems to not be broken is 1.7.9.

[2019-07-01 08:55] deepak71 commented on #15115
**Our redis status before master failover:**

NAME                                        READY   STATUS             RESTARTS   AGE     IP             NODE                      NOMINATED NODE   READINESS GATES
my-release-redis-client                     1/1     Running            0          3d19h   10.244.3.98    dev-k8stest-worker-lx02   <none>           <none>
my-release-redis-master-0

[2019-07-01 09:23] foot opened #15152 "[stable/grafana] Service port declared in Deployment ports"
**Describe the bug**

The grafana deployment declares the service port, the deployment itself is not actually listening on that port.

https://github.com/helm/charts/blob/master/stable/grafana/templates/deployment.yaml#L242

This causes problems for prometheus for some scraping configs. Prometheus raises an error when it tries to scrape `{{ .Values.service.port }}/metrics` on the pod, as the pod i

[2019-07-01 10:42] juan131 commented on #15145
No problem @sykorax ! I just created a PR addressing it

[2019-07-01 11:06] liorfr opened #15159 "[stable/influxdb] No imagePullSecrets for private repository"
Hi,

I am using the stable/influxdb chart with a private docker repository and with NO connection to the public repository.
In order to pull the images imagePullSecrets must be supported

p.s. is there a workaround for imagePullSecrets ?

Thanks
Lio

[2019-07-01 11:41] Overv opened #15161 "[stable/sealed-secrets] Chart doesn't work out of the box without specific Helm release name"
**Describe the bug**
If one deploys the `stable/sealed-secrets` chart with a release name other than `sealed-secrets-controller`, then the `kubeseal` command will not be able to find it by default. That's because the service is named after the Helm release and `kubeseal` expects this service to be named `sealed-secrets-controller` by default. It will fail with this error if it is named differently

[2019-07-01 12:29] #15134 closed

[2019-07-01 12:55] #13139 closed

[2019-07-01 13:04] brunocous commented on #15092
Found it. Simply adding `extraEnv: AWS_REGION: eu-west-1` solved it for me.

[2019-07-01 13:04] #15092 closed

[2019-07-01 14:10] seils opened #15165 "[stable/influxdb] Allow customization of livenessProbe & readinessProbe path"
Rehash of issue #11878.

Currently influxdb's deployment is hard coding readinessProbe to be /ping. Influxdb respond /ping with a HTTP 204. It's fine for kubernetes to mark the pod as ready but when using in GKE ingress the health check by GLBC always expect a 200 response and it's not configurable.

While influxdb having a verbose endpoint for readinessProbe: /ping?verbose=true, the chart doesn't

[2019-07-01 15:09] eh-am opened #15180 "[stable/spinnaker] changes in additionalProfileConfigMaps/additionalServiceSettings require halyard restart"
**Describe the bug**
When the fields `halyard.additionalProfileConfigMaps` or `halyard.additionalServiceSettings` change, halyard is not notified of the changes, therefore it doesn't restart and the configurations never get applied.

A workaround would be to delete the statefulset before redeploying.

I believe we should add a `checksum` annotation, as per:
https://github.com/helm/helm/blob/master

[2019-07-01 15:30] iamliamc commented on #4932
I don't think so because we are experiencing the same thing... getting proper dummy cert's from Let's Encrypt, changed acme.staging to false and now we are still getting dummy cert's after running a helm upgrade --install with the new values.yaml...

Bit of a bummer because purging means we will get a new IP in our cluster and have to redo DNS... (we can't reserve static IPs at the moment)

[2019-07-01 15:42] maximerenou50 opened #15182 "[stable/elasticsearch] How to use the keystore with a secret"
_(This is a question/support request, not an issue)_

Hello,

I would like to configure ES backups to S3. I installed the [repository-s3](https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-s3.html) plugin, all good but the tricky part comes when I want to configure the credentials to access the bucket. I need to configure the Keystore to add two secure values:
* s3.client.def

[2019-07-01 16:42] zhill commented on #13888
@mickengland or @Btodhunter can this be closed?

[2019-07-01 16:42] zhill commented on #14677
@colindickson thanks for filing this. We'll take a look

[2019-07-01 17:03] costimuraru opened #15183 "[stable/mysql] test-configmap.yaml always deploys to the default namespace"
**Describe the bug**
When trying to deploy the stable/mysql, some (test) resources get deployed to the `default` namespace, even though the desired behavior is to deploy it to a dedicated ns.

**Version of Helm and Kubernetes**:

**Which chart**:
stable/mysql

**What happened**:
Some resources did not get created in the required namespace.

**What you expected to happen**:
The resources should be

[2019-07-01 17:21] jdfalk opened #15185 "[stable/prometheus] Add more granular alertmanager config to prometheus server"
Currently the alerting configuration in the prometheus server config file is statically set. I would like to be able to add relabel configs so that I can drop fields when alerting.

**Is your feature request related to a problem? Please describe.**
Currently we use multiple replicas of the prometheus server in the same cluster but with different labels based on hostname, and would like to be able

[2019-07-01 17:28] F0otsh0T commented on #12575
Attempted to set both the env.pg_password and postgresql.postgresqlPassword in the values.yml / or via --set and still getting the same failure when attempting to specific --name for the helm release

[2019-07-01 17:42] vchrisb commented on #14250
the chart is generating:
[code]

[2019-07-01 17:47] Uvedale opened #15188 "[stable/minio] service account is not created by default"
**Describe the bug**
A new setting was recently added to specify the service account name for minio with a default option to create the associated service account, however, nothing honours the "create" flag.

**Version of Helm and Kubernetes**:
Helm: v2.13.0
Kubernetes: v1.12.9

**Which chart**:
stable/minio

**What happened**:
I installed the minio chart and no minio pods were created because the

[2019-07-01 17:49] Uvedale commented on #15188
@tylercamp could you have a look at this?

[2019-07-01 18:08] rumstead commented on #7609
Same issue for me installing the helm chart on a minikube instance. Tried setting the proxies but nothing seems to be working. Any suggestions?

[2019-07-01 18:43] sebnyberg commented on #7584
I had this issue after deleting a helm release then re-deploying with the same name and a new password.

To fix the issue, delete the release and the lingering pvc then re-deploy.

[2019-07-01 19:17] zia942 opened #15193 "[stable/dex] Bad arity of tpl call in deployment.yaml"
[stable/dex/templates/deployment.yml:47-50](https://github.com/helm/charts/blob/75fe62a37f99a12dca409bdcb06b42a24b49850c/stable/dex/templates/deployment.yaml#L47-50)

If `affinity` is set in values, `helm template` yields:

[code]

[`tpl`](https://github.com/technosophos/k8s-helm/blob/master/docs/charts_tips_and_tricks.md#using-the-tpl-function) expects 2 args, (template string and values). The or

[2019-07-02 00:47] tylercamp commented on #15188
@Uvedale A pull request has been made and is pending a merge (which I don't have permissions to do) https://github.com/helm/charts/pull/15143

[2019-07-02 00:49] tylercamp commented on #15188
In the meantime can specify version 2.4.16 which does not have the service account reference

[2019-07-02 03:06] #15148 closed

[2019-07-02 04:04] rick77777 commented on #13730
Same here.....even though we have a file under jenkins/values.yaml
The directory structure is as follows -
linux-amd64/helm
jenkins/values.yaml
We are executing the following command - ./helm install -n cd stable/jenkins -f jenkins/values.yaml --version 0.16.6 --wait from linux-amd64
linux-amd64 is on the same directory level as jenkins
Hope this information helps.

[2019-07-02 05:43] ntcong opened #15196 "[stable/grafana]RollingUpdate conflict with ReadWriteOnce persistence volume"
In latest stable/grafana chart, when you upgrade the chart, new pod using RollingUpdate strategy can't be started. By default the volume uses ReadWriteOnce access mode, so new pod can't mount the same volume.

[2019-07-02 06:45] rick77777 commented on #13730
I have found a way out of this error....
For more details.....visit https://github.com/rick77777/Problem_Solutions/blob/master/GCP_qwiklabs_jenkins_Error

[2019-07-02 06:46] ntcong commented on #15196
so it seems that the issue goes away after a few minutes.

[2019-07-02 06:46] #15196 closed

[2019-07-02 07:35] javsalgar commented on #15115
Hi,

It seems that the error is caused by this commit  https://github.com/helm/charts/commit/daaff5ef5590ab65ecfd7b6471986bf878199474#diff-bff5387866dba6e2bb69e1feba09ea9b. @sameersbn could you take a look?

[2019-07-02 07:45] Uvedale commented on #15188
Thanks @tylercamp . Yeah I've pinned my version and all is well.

[2019-07-02 11:00] #13971 closed

[2019-07-02 12:08] richerlariviere commented on #14801
Hi @aliartiza75. I have the same issue and I found some informations about it:
- https://github.com/kubernetes-monitoring/kubernetes-mixin/issues/108
- https://devops.stackexchange.com/a/6753/15494

If you want to get rid of this alert, I found a way to do this without using inhibit rules. In Prometheus configuration, it's fine to fire an alert against an empty receiver:

Alertmanager configuratio

[2019-07-02 13:02] cirocosta opened #15207 "[stable/concourse] Turn DNS proxy off by default"
[stable/concourse] Turn DNS Proxy off by default

**Is your feature request related to a problem? Please describe.**

I have not personally had a reproducible, but users have reported that the DNS
proxy (turned on by default) that Concourse places on workers is not as reliable
as it should (and not expected).

This issue could then capture the reports related to problems that it's been
causing.

*

[2019-07-02 13:49] SeriousJul commented on #9543
@rafalwrzeszcz
I had the same issue, it comes with the fact that doing helm upgrade kong, it will also do an upgrade of postgresql.

Best way to debug is to compare outputs of:
`helm upgrade -f values.yaml kong stable/kong --dry-run`
`helm get kong`

You will see that the section with `kind: Secret` is changed.

Quick fix is to make sure that Helm upgrade is producing the same "Secret" as the prev

[2019-07-02 14:03] Jasstkn opened #15209 "[stable/filebeat] Add opportunity to change default updateStrategy"
I want to change the default updateStrategy which define in templates/daemonset.yaml. The best solution it's move it to values.yaml.

**Is your feature request related to a problem? Please describe.**
Updating filebeat in my lab env takes a lot of time and not needed to update filebeat one by one.

[2019-07-02 14:31] Mehrez27 commented on #15144
Aisuko how to deploy nginx-ingress controller using **service=Nodeport** ?

[2019-07-02 14:43] rnkhouse commented on #14893
@miguelaeh What is PVC? How to delete previous password from there?

[2019-07-02 15:07] KAMI911 opened #15211 "[stable/char] read-only directory: /data/db error in MongoDB pod"
**Describe the bug**
After installing graylog helm chart I have this problem:
2019-07-01T15:25:59.906+0000 I STORAGE  [initandlisten] exception in initAndListen: IllegalOperation: Attempted to create a lock file on a read-only directory: /data/db, terminating

**Version of Helm and Kubernetes**:
* Kubernetes version:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitComm

[2019-07-02 15:23] stevenmanton commented on #15023
This is an issue with the underlying Docker image, but I thought that they had fixed it with the [`1.10.3`](https://hub.docker.com/r/puckel/docker-airflow/tags) tag. See #14847.

[2019-07-02 17:02] maximbaz commented on #13492
activity!

[2019-07-02 17:53] #15183 closed

[2019-07-02 18:12] fr-ser commented on #13492
I would like to work on this, but the upstream sidecar PR is not being merged...

https://github.com/kiwigrid/k8s-sidecar/pull/32

[2019-07-02 18:38] Btodhunter commented on #13888
/close

[2019-07-02 21:40] coreyperkins opened #15221 "Chart not using some parameters specified in values.yaml - stable/mongo 5.20.0"
The current secrets template does not appear to be honoring the following items, they have been specified in my values like so:
[code]

The secrets.yaml file in 5.20.0 looks like this:
[code]

Could be I am missing something, but I think my values should be honored rather than the ones in the base chart. I will be glad to provide more feedback if it will help.

Thanks,

Corey

[2019-07-02 22:00] #13975 closed

[2019-07-03 00:00] #11904 closed

[2019-07-03 00:00] #13976 closed

[2019-07-03 00:28] staticdev opened #15223 "[stable/nginx-ingress] host-network doesn't work"
**Describe the bug**
Helm install --wait taking forever (more than 20 minutes) and still not ready.

**Version of Helm and Kubernetes**:

Helm:

Kubernetes: 1.15.0

**Which chart**:

stable/nginx-ingress

**What happened**:

helm list
NAME         	REVISION	UPDATED                 	STATUS	CHART              	APP VERSION	NAMESPACE
agile-tarsier	1       	Tue Jul  2 21:02:36 2019	FAILED	nginx-ingress

[2019-07-03 00:33] macgyver603 commented on #15182
You actually need to [add those settings to an ES keystore](https://www.elastic.co/guide/en/elasticsearch/plugins/6.8/repository-s3-client.html) and store the keystore as the secret with something like:

[code]

Then, just make sure `cluster.keystoreSecret` matches the secret name and restart your ES nodes for the change to take effect. I had to do this with a cluster I had already deployed, so I

[2019-07-03 04:54] aliartiza75 commented on #14801
@ricardofbarros thanks for the response.

[2019-07-03 06:08] Dhananjay-J-P opened #15225 "stable/mysql issue with setting node port if there are multiple mysql database with alias"
In requirements.yaml I have 4 mysql database with different alias and I want to set fixed nodePort for each of them. It looks like below

`dependencies:
- name:  mysql
  version: 0.3.4
  alias: mysql-aba
  repository: https://kubernetes-charts.storage.googleapis.com/
- name:  mysql
  version: 0.3.4
  alias: mysql-abb
  repository: https://kubernetes-charts.storage.googleapis.com/
- name:  mysql

[2019-07-03 06:20] Aisuko commented on #15144
Please take to look at  ```controller.service.type``` in Readme.md

[2019-07-03 07:00] tompizmor commented on #15221
Hi Corey,

Yes, your values should be honored. I just try to reproduce the issue but I couldn't:

I set the following properties in my values.yaml:

[code]
After deploying the chart from local copy with this command, `helm install --name mongodb`, this is the secret I get:

[code]

And finally, if we decrypt the data:

[code]

Your issue is the secret not being created or it is created but with th

[2019-07-03 07:03] miguelaeh commented on #14893
Hi @rnkhouse ,
PVC is Persistent Volume Claim. To delete them, first obtain the name with:
[code]
Copy the name and delete with:
[code]

[2019-07-03 07:43] ivandavidov opened #15226 "[stable/jenkins] Missing example for Amazon AWS / S3 backup"
**Describe the bug**
The [backup](https://github.com/helm/charts/tree/master/stable/jenkins#backup) section contains the required properties for Jenkins backup job. However, apart from these properties, there is no example/sample how to apply these properties and what/where to fill in. Since I have no example to use as a starting point, currently I am not able to backup the Jenkins configuration,

[2019-07-03 08:15] voxmaster commented on #14936
Same here when upgrading prometheus-operator-5.5.1 to prometheus-operator-5.14.1

[2019-07-03 09:28] mveroone commented on #14110
I'm interested in this topic too, the documentation is unclear about this point.

I also have the same question about authentication, (SASL) whether it's kereberos, Oauth, plain or SCRAM

[2019-07-03 11:37] maximerenou50 commented on #15182
Thanks a lot @macgyver603! I did as you said, I manually added the values into the keystore, and I used `kubectl cp` to copy the file from the container to my local machine. Then I created the secret containing the keystore and I configured the backup for ES (with something like that):
[code]
Then in my elasticsearch curator configuration, I configured the snapshot:
[code]
I needed to fix the poli

[2019-07-03 11:37] #15182 closed

[2019-07-03 13:26] #15145 closed

[2019-07-03 13:35] jkldr commented on #10741
any news on this @tompizmor ?

[2019-07-03 13:38] #13025 closed

[2019-07-03 14:20] #11917 closed

[2019-07-03 14:45] msvticket opened #15230 "[stable/prometheus-operator] Support retentionSize"
Since version 0.31.0 of prometheus-operator there is support for setting a size based retention on prometheus with `retentionSize` that can be used together with or instead of the time based `retention`. I would like the the helm chart to get support for this.

It would probably be confusing to keep the existing default for `retention`, since if the user sets only `retentionSize` he probably doesn

[2019-07-03 15:23] aegershman commented on #14869
Fixed by #15220

thanks very much 👍

[2019-07-03 15:23] aegershman commented on #14869
Wait a second, no it doesn't, I'm a dingus.

[2019-07-03 15:29] joan-serra opened #15232 "[incubator/fluentd-cloudwatch] Be able to specify busybox image registry"
Currently the daemonset attempts to pull a busybox image from dockerhub - this can be an issue if we are deploying this chart in worker nodes that have no egress access to the internet or rely completely on private registries, such as AWS ECR, due to compliance or security issue.

It would be nice to be able to specify the repo for the busybox image in the values file.

[2019-07-03 15:42] aegershman opened #15234 "[stable/nginx-ingress] nodePort for tcp/udp requires explicit port mapping"
**Describe the bug**

Change in #15203 requires setting `controller.service.nodePorts.tcp` with explicit port mappings. Formerly you could allow for random assignments.

If left uncommented, the following code will cause the error message below:

[code]

[code]

**Version of Helm and Kubernetes**:
helm 2.14.0, kubernetes 1.13.latest

**Which chart**:
nginx-ingress

See also: https://github.com/hel

[2019-07-03 16:17] rnkhouse commented on #14893
That worked! Thanks for your support.

[2019-07-03 16:17] #14893 closed

[2019-07-03 17:23] hbagdi commented on #15021
This is due to a breaking change in Kong Ingress Controller 0.4.0.
Either use an older version of the chart or upgrade your Ingress Controller.

[2019-07-03 18:59] #14218 closed

[2019-07-03 19:53] #13999 closed

[2019-07-03 19:58] coreyperkins commented on #15221
@tompizmor I had success using this suggestion (https://helm.sh/docs/developing_charts/#alias-field-in-requirements-yaml) from SO (https://stackoverflow.com/questions/56862322/how-to-use-my-values-yamls-values-in-stable-mongo-subcharts-secrets/56866796#56866796).

In a nutshell my chart's values file had to use an alias for the mongodb dependency.

my values.yaml
[code]

Then inside my requirement

[2019-07-03 19:58] #15221 closed

[2019-07-03 20:22] torstenwalter commented on #15226
@ivandavidov The backup section you mentioned should describe all necessary values. More details / a yaml example is contained within [values.yaml](https://github.com/helm/charts/blob/master/stable/jenkins/values.yaml#L453-L499)

The [helm documentation](https://helm.sh/docs/helm/#helm-install) explains how to set single values directly and also how to use one/multiple values files.

Which additio

[2019-07-03 21:09] stevenmanton commented on #15023
Also, see this thread: https://github.com/puckel/docker-airflow/issues/342

[2019-07-03 23:53] #14007 closed

[2019-07-04 01:34] DandyDeveloper commented on #12851
I'm seeing a lot of suggested solutions here, with very little information or steps on how they fixed it. Can someone open a PR if they have fixed it.

I'm experiencing this, in my case we're using LB service, which is basically iterating over all pods assigned to the service, so for 3 nodes, 66% of the time I'm getting a READ-ONLY Slave/Replica.

I'm taking a look at what might solve this, I'll g

[2019-07-04 03:00] donkeyx opened #15242 "[stable/fluent-bit] No service created"
**Describe the bug**
Error when installing fluent-bit chart which is looking for a service endpoint called "fluentd"

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/fluent-bit

**What happened**:
After deploying the chart, I noticed it was getting an error from the pods, looking for a service named "fluentd" which does not exist.

[code]

fluentd pod error logs :
[code]

servi

[2019-07-04 05:13] DandyDeveloper commented on #12851
I've looked a little more at this, I have a feeling that this chart is supposed to only support local kubernetes access by default.

For example, in this chart, we have 3x sentinels, 3x redis clients.

What's expected from the client is, you use the sentinel module/package to determine the master, then you connect to the client this way.

The workflow for the client would look something like: Serv

[2019-07-04 06:35] frbimo opened #15244 "[stable/mongodb] Arbiter error authentication failed when replicaset:true"
**Describe the bug**
"Error: Authentication failed" on arbiter after mongodb installation

**Version of Helm and Kubernetes**:
helm : v2.14.1
Kubernetes: 1.12.7
**Which chart**:
stable/mongodb

**What happened**:
tried 4 times to install mongodb with replicaset but failed.

arbiter log:
[code]

**What you expected to happen**:
MongoDB Replicaset installed and running properly.

**How to reproduce

[2019-07-04 06:51] #13954 closed

[2019-07-04 07:06] carrodher commented on #14002
We released a [new MongoDB chart version](https://github.com/helm/charts/pull/15229) (`stable/mongodb 6.0.0`) disabling IPv6 by default in order to fix this kind of issues, as you can see in the description, depending on the way in which IPv6 is disabled in the host, the mongodb service could fail if it is configured to support this protocol by setting `net.ipv6: true` in the _mongodb.conf_ file.

[2019-07-04 07:35] Towmeykaw commented on #15242
The default backend type is forward which tries to forward the messages to fluentd.
Just include --set backend.type=es and it should work

[2019-07-04 08:08] MohammedFadin opened #15246 "[stable/redis] error: failed switching to "redis": unable to find user redis: no matching entries in passwd file"
**Describe the bug**
Master and Slave pods keep crashing due to the below error.

**Version of Helm and Kubernetes**: Kubernetes: v1.14, Helm v2.9.1

**Which chart**: stable/redis

**What happened**:
[code]

**What you expected to happen**: Pods to run

**How to reproduce it** (as minimally and precisely as possible):
[code]
**Anything else we need to know**: None

[2019-07-04 08:13] zoyapronyakova opened #15247 "[stable/ngnix-ingress] missing networkpolicy.yaml in templates"
**Describe the bug**
I am not sure it is a bug, but i wonder why there is no networkpolicy.yaml template.
When I am using stable/ngnix-ingress i need to install also networkpolicies and as they are not part of templates, after helm install i need to run kubectl apply for networkpolicy instead of using values and just providing values relevant for my case.

**Version of Helm and Kubernetes**:
Helm

[2019-07-04 08:51] #14013 closed

[2019-07-04 08:51] #14014 closed

[2019-07-04 09:11] tompizmor commented on #15221
Oh, I was missing that you were using MongoDB as a dependency. In that case, you would have to add the following values to your parent chart:

[code]

The alias thing you added in the requirements yaml is only needed if you want to change the name to access the MongoDB values. However, by default is `mongodb` (the name of the subchart )

[2019-07-04 09:51] #12901 closed

[2019-07-04 09:51] #14016 closed

[2019-07-04 11:42] miguelaeh commented on #15246
Hi @MohammedFadin ,
Thank you very much for reporting the issue. I can replicate it and it seems it happens when you deploy the Chart as root. But also I can see it doesn't appear when using docker-compose as root.
We will investigate the issue and let you know about the workaround.
Again, thank you for reporting.

[2019-07-04 12:28] MarcoSchaar opened #15249 "stable/nginx-ingress issue"
Hi
while using latest version for ingress-controller facing issues

render error in "nginx-ingress/templates/controller-service.yaml": template: nginx-ingress/templates/controller-service.yaml:66:13

might be related to latest commit
https://github.com/helm/charts/commit/9ad9667545e58ec3f8cdfa5d7c78de7c2abd6a9a

[2019-07-04 12:31] mwieczorek commented on #15091
@gianrubio  @vsliouniaev  @anothertobi - could you take a look at it and give me feedback? thanks

[2019-07-04 12:31] maxout123 commented on #13937
The same issue with redis-ha-3.6.1

[2019-07-04 12:42] sykorax commented on #15145
Thank you :)

[2019-07-04 13:26] Mehrez27 commented on #15144
Aisuko I think the problem is coming from the deployed application itself "redmine" there is the outputs to explain more the situation.
![Capture](https://user-images.githubusercontent.com/36052172/60670076-b8c13280-9e67-11e9-9519-635bdd65d8e5.PNG)
![Capture1](https://user-images.githubusercontent.com/36052172/60670077-b8c13280-9e67-11e9-933f-30ade47407ca.PNG)
![Capture2](https://user-images.githu

[2019-07-04 14:53] juan131 commented on #15244
Hi @frbimo

Is there any reason why you're using the tag **4.0.9**? I was unable to reproduce the issue using the values.yaml below:

[code]

Arbiter logs:

[code]

Could you check whether the rest of pods (primary and secondary) were able to initialise successfully?

[2019-07-04 15:32] sameersbn commented on #15115
Hi @deepak71  I've submitted a fix in https://github.com/helm/charts/pull/15258.

[2019-07-04 18:42] raphaelquati opened #15262 "[stable/telegraf] spec.ports: Required value"
Using this values, doesn't work:

[code]

**Describe the bug**
[code]
**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/telegraf

[2019-07-04 19:51] #14046 closed

[2019-07-04 20:05] raphaelquati opened #15264 "[stable/telegraf] allow passing ENV vars"
**Describe the bug**
Some plugins (like azure_monitor) can use ENV vars to setup Azure authentication (https://github.com/influxdata/telegraf/tree/master/plugins/outputs/azure_monitor)

[2019-07-04 21:36] #15264 closed

[2019-07-04 22:00] tylercamp commented on #15188
@Uvedale Pull request was merged, try again with latest

[2019-07-04 22:26] naseemkullah commented on #15262
Hi @raphaelquati ,

It seems like port of service will depend on the `config.outputs` values

Instead of adding an option to disable the service, keep it and  please configure a similar logic for rabbitmq here: https://github.com/helm/charts/blob/b91e719e6812a15bec9afcd9f0b6e7554cb564ba/stable/telegraf/templates/service.yaml#L12-L42 ?

I *think* that should work.
Cheers!

[2019-07-05 00:51] #14050 closed

[2019-07-05 00:52] ganchandrasekaran commented on #14840
@javsalgar Thank you for your response.
Not sure why this happens in my clusters.. If none can experience this issue, I better close this issue..

[2019-07-05 00:52] #14840 closed

[2019-07-05 01:23] DandyDeveloper commented on #14018
For those of you visiting here who are confused, it actually appears this exception is the TRIGGER to begin the buffer to be saved to Disk. I had misunderstood this.

if you ES client rejects the fluentd connection for any reason. This will tell the fluentd to begin saving the buffer. It will then keep retrying with the chunk until a success.

Those of you experiencing this, will likely want to in

[2019-07-05 01:23] #14018 closed

[2019-07-05 02:11] DandyDeveloper commented on #14492
@eladtamary I don't think this is a bug as much as a feature. I'm currently thinking of how to best manage this in my environment.

By default, I think this chart was built to support internal comms.

The decision should be made to
a. Not change the chart and recommend a proxy for managing this.
b. Update the chart to deploy a proxy that the service communicates with instead.

[2019-07-05 02:26] #13284 closed

[2019-07-05 06:18] DandyDeveloper commented on #14133
@hitesh1907nayyar You're going about your Python side incorrectly.

Youre client needs to ask the sentinel who is the master, and from that connect to the Redis server. This is behaving as I'd expect, as the service is just load balancing between the 3 redis servers.

Regarding the HA / Proxy. I'm investigating, but the problem is that they clearly did not make Sentinel with a containerized soluti

[2019-07-05 06:19] DandyDeveloper commented on #14118
@Zero-2 What does the pod log say? `kubectl logs <pod> -n <namespace> --previous`?

[2019-07-05 06:21] DandyDeveloper commented on #15086
The Statefulset uses a sha1sum but I can't reproduce this.

What version of helm you using?

[2019-07-05 07:00] #15234 closed

[2019-07-05 07:14] frbimo commented on #15244
@juan131 i've tried 4.0.10xxx but the same.
I found something that MAYBE the suspect of this madness.
I have the error when i tried to deploy under the exact same release name. When i delete the release:
`helm delete --purge v1m1`
PVC that bound to this release still exist.
[code]
After manually delete bounded PVC, and deploy using the same release name, i manage to have working deployment.

Anywa

[2019-07-05 07:14] #15244 closed

[2019-07-05 09:03] #14048 closed

[2019-07-05 10:02] SaltedEggIndomee commented on #10751
I'm getting the same error as @themoses where all the JavaScript get error 404.

Are we missing a trailing slash or * (wildcard) during the declaration of the prefix??

[2019-07-05 10:12] juan131 commented on #15011
I think it was solved on this PR: https://github.com/helm/charts/pull/15243
Could you please confirm it?

[2019-07-05 10:52] #15115 closed

[2019-07-05 11:03] #13610 closed

[2019-07-05 11:20] eroiborges opened #15267 "[stable/ngnix-ingress] missing configmap"
Describe the bug

I was using stable/ngnix-ingress 1.6.16 that create the configmap during the deployment. when release the version 1.7.0 and now the version 1.6.19 the configmap og nginx is not created automatic. Is it expected? Any parameter on the deployment to auto create?

Version of Helm and Kubernetes:
Helm
Client: v2.13.1
Server: v2.9.1

K8S
Client Version: v1.14.2
Server Version: v1.13.5

[2019-07-05 11:37] miguelaeh commented on #15246
Hi @MohammedFadin ,
Is there any reason you have to run Redis as root?
You can see in the documentation the following:

[2019-07-05 13:03] #13230 closed

[2019-07-05 13:27] akshayrathod2 opened #15270 "[stable/prometheus-operator] Need to change Command-Line Flags"
**Is your feature request related to a problem? Please describe.**
I’m using helm chart for prometheus-operator installation.I'vee set alerts in it.
In alert mails I get url to prometheus UI.
I am getting it like “http://prometheus-prometheus-oper-prometheus.prometheus:9090/graphs/blablabla”
I understand its because of command line flag>>> web-external-url.
I want to change this flag but as I am u

[2019-07-05 13:34] juan131 commented on #7770
/hold

[2019-07-05 13:34] juan131 commented on #14515
/on-hold

[2019-07-05 13:35] juan131 commented on #14515
/on_hold

[2019-07-05 13:39] Jasstkn opened #15271 "[stable/logstash] Override for default logstashJavaOpts"
Please, remove default values for logstashJavaOpts. Because it's a mess when you are trying to enable this feature MaxRAMFraction.
https://medium.com/adorsys/jvm-memory-settings-in-a-container-environment-64b0840e1d9e

[2019-07-05 14:03] #14061 closed

[2019-07-05 14:03] #14044 closed

[2019-07-05 14:25] #15271 closed

[2019-07-05 15:02] Amojow opened #15275 "[stable/prometheus-operator] spec.logFormat in body must be of type string: "null""
On version Kubernetes 2.14, Helm 2.13.
For the chart stable/prometheus-operator, when you want to install **several times** the chart you have to disable _prometheusOperator.createCustomResource_ because of this error that appears if you **already installed the chart once** :
`Error: customresourcedefinitions.apiextensions.k8s.io "alertmanagers.monitoring.coreos.com" already exists`

Then, after s

[2019-07-05 15:03] #14064 closed

[2019-07-05 15:03] Amojow commented on #15275
This issue can be solved by adding a new setting when you install other charts on the same Kuberenetes instance :
`--set alertmanager.alertmanagerSpec.logFormat=logfmt`

[2019-07-05 15:03] #15275 closed

[2019-07-05 16:00] staticdev commented on #15223
UPDATE: I saw that it was pending LoadBalancer services because I am running on bare-metal.

How can I install ingress-nginx using via the host network? (https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#via-the-host-network)

[2019-07-05 16:03] #14070 closed

[2019-07-05 17:07] MohammedFadin opened #15281 "[stable/elastic-stack] Not able to pass values to ElasticSearch dependent chart"
**Describe the bug**
When adding additional values to the Values.yaml under ElastichSearch section, they are not passed to the dependent subchart -- ElasticSearch

**Version of Helm and Kubernetes**:
Helm Version 2.9.1
Kubernetes Version 1.14

**Which chart**:
Stable/elastic-stack

**What happened**:
The default values from the dependent subschart are not being overriden by the elastic-stack chart

[2019-07-05 19:03] #10991 closed

[2019-07-05 20:03] #12961 closed

[2019-07-05 23:19] xtof2all opened #15284 "[stable/kong] Allow for declarative configuration"
**Is your feature request related to a problem? Please describe.**
When using the `stable/kong` helm chart, there is currently no way to set-up Kong via a declarative configuration (as described in [https://docs.konghq.com/1.2.x/db-less-and-declarative-config/]. In the current version, the value db-less is always assuming a Kong ingress controller.

**Describe the solution you'd like**
We would li

[2019-07-06 09:32] mrszop opened #15289 ""Alpine: A simple Helm chart" and "nginx: An advanced example chart" not working as expected"
Hey,

pretty new to helm charts. I wanted to try out https://github.com/helm/helm/tree/master/docs/examples/nginx and https://github.com/helm/helm/tree/master/docs/examples/alpine but it seem's like there is something wrong with it:

[code]

Any suggestions?

Cheers,
Szop

[2019-07-06 10:27] #13306 closed

[2019-07-06 11:03] MohammedFadin commented on #11037
Any update on this issue?

[2019-07-06 13:11] BahmaniAlireza commented on #11702
1- helm ls --all
2- //purge all packages based on the name that you have found via "helm ls --all"
helm delete --purge existing-saola
helm delete --purge fair-saola
helm delete --purge guiding-tortoise

3- helm install --name prometheus stable/prometheus --namespace=monitoring

[2019-07-06 14:27] #14098 closed

[2019-07-06 15:27] #13530 closed

[2019-07-06 19:27] markmssd commented on #12377
/remove-lifecycle stale

[2019-07-06 23:47] #14564 closed

[2019-07-07 01:27] #13036 closed

[2019-07-07 02:21] jeffmay opened #15291 "[stable/grafana] Allow finalizers and/or add kubernetes.io/pvc-protection by default"
**Is your feature request related to a problem? Please describe.**
When deleting the Grafana helm release, the PersistentVolumeClaim (`pvc`) created is deleted. This will delete all the users and saved logs.

**Describe the solution you'd like**
When deleting the helm install, the `pvc` will remain until deleted manually. This allows the engineer to use the `existingClaim` config to reattach to th

[2019-07-07 08:41] MohammedFadin commented on #15246
Thank you @miguelaeh !

Our Volume Storage requires root user privileges only to read and write.

[2019-07-07 09:06] #15052 closed

[2019-07-07 10:05] smirnov-mi opened #15293 "[stable/openldap] can't setup LDAP_REPLICATION"
Hi guys

I'm trying to create a multi-master setup of the openldap chart on my k8s (v1.14.3) cluster.
It just doesn't work.

**Version of Helm and Kubernetes**:
k8s: v1.14.3
helm: v2.13.1
chart: openldap 0.2.4

**What happened**:
How-to says "just set LDAP_REPLICATION: "true" and that's it". Doesn't work. Container just won't start. Last entry in the containers log is "slapd crashed with exit code

[2019-07-07 10:37] error0327 commented on #10741
Hi ,
regarding " include postgis in the bitnami container "
Can you please explain how this done ?
Thanks

[2019-07-07 11:09] Antiarchitect opened #15294 "[stable/rabbitmq-ha] with statically created local volumes."
**Is your feature request related to a problem? Please describe.**
I want to build up a rabbitmq-ha cluster over manually provisioned bare-metal machines with no persistent volume layer driver installed (like openEBS, Ceph, etc.). So I stick with `local` volumes pre-created beforehand which could not be provisioned via PVC as stated in the docs.

**Describe the solution you'd like**
I want to cove

[2019-07-07 11:19] #13020 closed

[2019-07-07 11:32] etiennedi commented on #11543
@samizuh Sorry for my late reply - somehow I have missed this and got reminded by the "stale" label.

Yes, this would help a lot. Thanks.

[2019-07-07 13:18] vongrossi commented on #7652
[code]

And run helm install with this parameter to set pvc

[code]

[2019-07-07 13:50] iluuu1994 opened #15296 "[stable/sentry] Fresh install results in an Index error"
**Describe the bug**

This is how I installed Sentry:

[code]

There are various issues. Without the `securityContext` params the Redis pods would keep failing. With these params the Redis pods work.

Second issue is that the `db-init` job keeps running into timeout issues. It's recreated automatically and keeps going from where it left off. So I guess that's ok.

Third issue is that when I open t

[2019-07-07 14:19] #13991 closed

[2019-07-07 15:06] frbimo opened #15297 "[stable/mongodb] automatic failover does not work"
**Describe the bug**
MongoDB deployment using this chart with replicaset failed to perform automatic failover.

**Version of Helm and Kubernetes**:
semver 2.14.1
AKS kubernetes 1.12

**Which chart**:
stable/mongodb

**What happened**:
Testing automatic failover by re-connecting to mongoDB  replicaset after delete the primary pod. Re-connecting was failed. In this case i connect using robo3T.

**Wh

[2019-07-07 15:12] #15262 closed

[2019-07-07 15:14] miguelaeh commented on #15246
Hi @MohammedFadin ,
When that PR will be merged it should solve your problem.
Thank you again for reporting.

[2019-07-07 15:19] #13480 closed

[2019-07-07 15:31] stanislavb opened #15298 "[stable/external-dns] Version 2 requires service account key/secret in GKE clusters"
**Describe the bug**
validateValues with google provider fails when serviceAccountKey or serviceAccountSecret does not exist.

**Version of Helm and Kubernetes**:
Kubernetes 1.13.7-gke.8
Helm v2.14.1

**Which chart**:
stable/external-dns

**What happened**:
Installing external-dns in a GKE cluster:
[code]

**What you expected to happen**:
I expect the deployment to start without any secrets mounte

[2019-07-07 16:23] KadenLNelson opened #15300 "[stable/traefik] add values for volumes and volumeMounts"
**Is your feature request related to a problem? Please describe.**
I have a log scraper that needs access to the traefik access logs. I expose the access logs by writing them to a directory in the traefik container `/var/log/traefik/access.log`. I need to be able to expose those logs to the underlying host through a volume of `hostPath`

**Describe the solution you'd like**
I would like to be able

[2019-07-07 17:52] smirnov-mi commented on #15293
Update: I just tried it from the scratch. Just changed the replicaCount=3.   Got three pods started, but they don't replicate anything. Environment in the containers do NOT contain an "LDAP_REPLICATION=true" so I added it to the values.yaml.    In this case pods crash with

Link /container/service/:ssl-tools/assets/default-ca/default-ca.pem to /container/service/slapd/assets/certs/ca.crt
Start Ope

[2019-07-07 20:41] papanito commented on #14592
Could somebody move this to the correct repo as suggested above?

[2019-07-07 20:45] KadenLNelson commented on #15015
A little off topic, I'm curious, why do you use Terraform to deploy Helm charts?

[2019-07-07 20:47] KadenLNelson commented on #15015
Could you post the Traefik `config.toml` in the ConfigMap?

[2019-07-07 21:04] stieler-it commented on #12057
This often breaks our CD pipeline as Helm upgrade fails waiting for Grafana to finish upgrading. Helm has an unsynced state afterwards.

[2019-07-08 00:10] DandyDeveloper commented on #12851
Okay, so a follow up, basically the only way to do this is with HAProxy. I've added HAProxy stuff to the chart, but the healthchecks need to be better. I'm almost done, by when it is done and the PR is merged. You can enable the HAProxy with as many replicas as you want, and only the delegated master should be used by the HAProxy service.

[2019-07-08 04:19] #13352 closed

[2019-07-08 05:00] dmxlsj commented on #14608
Can anyone take a look at this issue? or I can create a PR

[2019-07-08 05:17] DandyDeveloper commented on #15085
This can be done via customer configuration / configmap for the time being. It's an acceptable solution for the time being.

[2019-07-08 05:17] #15085 closed

[2019-07-08 06:25] javsalgar commented on #15297
Hi,

Could you let us know the exact values.yaml you used? To which service you tried connecting robo3t to?

[2019-07-08 06:29] DandyDeveloper commented on #12851
Annnnd hopefully the above PR will fix this for everyone. It tries to mimic some of the leg work a client would perform on sentinel. I've had 100% success with it so far.

It deploys a HAProxy in place of the existing service if you enable it, to basically replace the common workflow for establishing with Redis server you connect against.

[2019-07-08 06:36] frbimo commented on #15297
Hi @javsalgar

values.yaml
[code]

I was using external IP 40.83.xx.xx  on Robo3T.
[code]

[2019-07-08 07:38] juan131 commented on #15298
Hi @stanislavb

My bad! I can't remember where I found the information but I understood both parameters were mandatory when using Google as provider.

I just rechecked the docs and they're not mandatory. Thanks so much for reporting it! Checking your PR!

[2019-07-08 08:27] mhbrooks commented on #15015
Hey, its a good question, in general we do not use Terraform for k8s deployments. However we find that there a few charts where it makes sense to do so, for a few reasons:

- Logically they are closer to infrastructure resources than (our) application
- They interact closely with other infrastructure resources
- It is important that they are deployed and ready before other services start
- They ar

[2019-07-08 08:50] orzarchi commented on #15249
happens here also, I've had to downgrade for now

[2019-07-08 08:54] #13659 closed

[2019-07-08 09:31] mhbrooks commented on #15015
The toml config map looks like:
        ```"traefik.toml": "# traefik.toml\nlogLevel = \"info\"\ndefaultEntryPoints = [\"http\",\"https\"]\n[entryPoints]\n  [entryPoints.http]\n  address = \":80\"\n  compress = true\n    [entryPoints.http.redirect]\n      regex = \"^http://(.*)\"\n      replacement = \"https://$1\"\n      permanent = true\n  [entryPoints.https]\n  address = \":443\"\n  compress =

[2019-07-08 09:56] juan131 opened #15311 "[stable/external-dns] Testing issue"
Please ignore this issue. Created for testing purposes.

[2019-07-08 09:57] #15311 closed

[2019-07-08 09:57] acaligiuri opened #15312 "[stable/redis] Metrics Exporter container created as a separate pod"
**Describe the bug**
This chart (versions 6 -> 8) create a separate deployment, pod and service for metrics, instead of creating a sidecar container for each pod

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a7

[2019-07-08 10:22] #15246 closed

[2019-07-08 10:34] praveen056 commented on #15086
i am using 2.7.0 version of helm . What i do is to clone the redis-ha on a server and replace it with sha256sum instead of sha1sum  and then install the redis-ha from that server and it installed but its state is currently CrashLoopBackOff . is it correct?

[2019-07-08 10:39] KadenLNelson commented on #15015
Yeah it seems like that function you referenced is causing the problem for sure. If you would like I could open the PR for fixing the error.

[2019-07-08 11:21] Aisuko commented on #15249
Hello guys, thanks for your make the feedback on the issue. Would you like to paste your value.yaml there?  This may helpful

[2019-07-08 11:24] gerganadzhumerkova opened #15313 "stable/kiam Wrong TSL certificate DNS name"
In [the template generating the TSL certificate](https://github.com/helm/charts/blob/567501aecfce4924ebc092ad64e5b895f8a7bfbe/stable/kiam/templates/_helpers.tpl#L104), **kiam.name** is used as part of the DNS name.

In [the agent daemonset](https://github.com/helm/charts/blob/567501aecfce4924ebc092ad64e5b895f8a7bfbe/stable/kiam/templates/agent-daemonset.yaml#L93), the server address parameter pass

[2019-07-08 11:29] mhbrooks commented on #15015
It would be useful if you could create a PR. I had a look at doing it but not sure how to only skip the function for that one flag.

[2019-07-08 11:33] MarcoSchaar commented on #15249
Hi @Aisuko
I dont use a dedicated yam file for values ... deployment in my case is done like this

helm install stable/nginx-ingress
--version=<version>
--namespace <namespace>
--name <release-name>
--set controller.ingressClass=nginx-internal
--set rbac.create=true
--set controller.service.loadBalancerIP=<IP>
--set controller.service.annotations."nginx\.org/client-max-body-size"=64M
--set default

[2019-07-08 11:48] jesstruck opened #15314 "[incubator/gogs] support for base_root_path"
**Describe the solution you'd like**
From the values file, a would like to be able to configure the server.STATIC_ROOT_PATH see. https://gogs.io/docs/advanced/configuration_cheat_sheet#server-(server)

[2019-07-08 11:57] mboret commented on #4633
@bentatham

You can solve the permissions issue by using this config:

[code]

My Dockerfile contains only:

[code]

Hope this helps.

[2019-07-08 12:05] sharon-vendrov opened #15316 "Add ability to specify fluentd service annotations"
Add ability to specify fluentd service annotations.
This is useful when we need to create an ELB with a TLS certificate or to specify that the ELB is "internal" and not exposed to WWW

[2019-07-08 12:24] KadenLNelson commented on #15015
Oh, I see what you mean

Oh, I see what you mean. Yeah, I believe the only reasonable solution is just removing the `| quote` from all relevant `kvprovider.tls` definitions.

[2019-07-08 13:48] docktermj commented on #14757
Hi @tompizmor!

Is there any plan to fix this issue on minikube?

In the meantime, I'm using:

[code]
Which is probably not an illustration of "best practice".

[2019-07-08 13:55] zazu86 commented on #15078
Hi everyone,
I confirm the existence of the problem, I tried different versions of the chart, starting from:
version: 5.3.1
appVersion: 11.3.0
until:
version: 5.3.10
appVersion: 11.4.0
I also tried to change various versions of the container, up until the last 11.4.0-debian-9-r14

and always behaves in the same way
the final problem is that it is not possible to obtain a master/slave postgres syst

[2019-07-08 14:51] cirocosta opened #15322 "[stable/concourse] Document upgrade steps needed from the Postgres dependency bump"
**Is your feature request related to a problem? Please describe.**

As noticed by @M0nsieurChat in https://github.com/helm/charts/issues/11610#issuecomment-506215061,
users who are leveraging the Postgres chart dependency were surprised by the
fact that the naming scheme used for the PostgreSQL persistent volume claim
changed, naturally, causing unexpected trouble.

<br />

**Describe the solution

[2019-07-08 14:53] cirocosta commented on #14869
oh hahah

Sorry for the radio silence, I'll take a deeper look into it 😁  Thanks!

[2019-07-08 15:05] naseemkullah opened #15323 "[stable/prometheus] Relabel instance for k8s services and k8s nodes"
**Is your feature request related to a problem? Please describe.**
Feature:
Dashboards pertaining to nodes, services often have IPs in the dropdown, whereas hostnames are more desirable. The IPs over hostnames is because the value of `instance` is the default `__address_`

**Describe the solution you'd like**
Would it be desirable to add a relabel, in the case of `job_name: kubernetes-service-endp

[2019-07-08 15:08] #15298 closed

[2019-07-08 15:22] ys-taylorchristie commented on #14874
FYI, this change makes a non-defined log format give a nil value in the pod command argument, and makes alert manager loop crash.

[
<img width="588" alt="Screen Shot 2019-07-08 at 9 20 28 AM" src="https://user-images.githubusercontent.com/51799307/60821986-d5a87f00-a161-11e9-9fad-69184e2345ed.png">

[2019-07-08 17:04] aegershman commented on #14869
No worries, all good, this isn't a high priority; I don't want to be naggy or throw off prioritizations, just wanted to report the use-case 👍

[2019-07-08 17:14] aegershman opened #15325 "[stable/concourse] docs diverge on database naming"
Apologies, going to skip a lot of "bug report" fields for the sake of time.

**Describe the bug**

This isn't a _huge_ deal, but worth pointing out:

The values for the postgres DB name that concourse web should use if using an _external_ postgres, and the value of the db that should be created if using an _internal_ postgres should probably be the same.

Example:

- https://github.com/helm/charts

[2019-07-08 17:19] fr-ser commented on #13492
Since the sidecar PR has been merged, I could take a stab at adding this feature (should be fairly easy now), if this is in line with the maintainers goals.
I wouldn't want to work on this if it is not something the repo owners want to merge...

[2019-07-08 17:20] aegershman opened #15326 "[stable/concourse] slightly misleading doc on postgres password creation"
**Describe the bug**

The `postgres.postgresqlPassword` field says...

This feels slightly misleading, as if a unique password will be generated for you if you don't set the field in your own `values.yml`. In reality, if you don't set your own password, it will be `concourse`.

I propose that single line of doc just be straight-up removed. It would bring the doc inline with things like [the `secre

[2019-07-08 17:22] maximbaz commented on #13492
To confirm that there is a desire to merge this, pinging maintainers: @zanhsieh, @rtluckie, @maorfr

[2019-07-08 17:54] maorfr commented on #13492
yeah go for it!

[2019-07-08 18:05] jethr0null commented on #10543
Not stale.

[2019-07-08 18:06] #15291 closed

[2019-07-08 20:34] twk3 commented on #15298
This is still broken, as the deployment is trying to mount a secret volume that hasn't been created. https://github.com/helm/charts/blob/d58c7d46a08b040ef8ff87f83dc67911ce98f1bb/stable/external-dns/templates/deployment.yaml#L315

[2019-07-08 21:19] Saggi432 opened #15332 "[stable/grafana] slack takes localhost:3000 instead of ingress configured domain name"
**Describe the bug**
when we install grafana with tls configs.. the grafana url mentioned in the slack alert still localhost:3000 instead of the domain name mentioned in the ingress config

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5

[2019-07-08 22:10] twk3 commented on #15298
I've brought back the old gating around these secrets in https://github.com/helm/charts/pull/15334

[2019-07-09 00:59] ChiefAlexander commented on #15249
Could you try updating your repos `helm repo update` so that you can use the latest version 1.8.1? I believe this was already fixed by https://github.com/helm/charts/pull/15236

[2019-07-09 03:26] jinlxz opened #15337 "[stable/nginx-ingress] can't set up TCP proxy with external service as upstream."
## **Describe the bug**

I want to set up a TCP proxy using nginx-ingress with an external service as the upstream, my settings are as follows:
[code]
but it failed to forward TCP request from client, and I checked the logs in the ingress POD, it said the format of the yaml data is not valid, it should be **port number:  namespace/service_name**, but for an external service it doesn't have a names

[2019-07-09 05:54] stanislavb commented on #15298
Thank you! Sorry, I should have tested whether my fix actually solved the issue.

[2019-07-09 06:23] #15337 closed

[2019-07-09 06:56] MarcoSchaar commented on #15249
great:)
can confirm version 1.8.1 fixed the issue

[2019-07-09 06:57] #15249 closed

[2019-07-09 07:18] miguelaeh commented on #15312
Hi @acaligiuri ,
Thank you for reporting, we will evaluate your request as soon as possible.

[2019-07-09 07:23] acaligiuri commented on #15312
If needed I can upload screenshot or the raw Prometheus metrics

[2019-07-09 07:31] alemorcuq commented on #15326
Hi, @aegershman.

In the `values.yaml` file, the default value for the PostgreSQL password is indeed `concourse` and thus, by default it is set. But, if you remove the default and don't set a password (by commenting the line, for example), then PostgreSQL will generate a random alphanumeric 10 character password.

You can see this logic in the [`stable/postgresql` repo](https://github.com/helm/cha

[2019-07-09 07:51] backbasejeff opened #15340 "[stable/jenkins] Configure kubernetes plugin using JCasC"
**Is your feature request related to a problem? Please describe.**
I share a single values.yml file amoung multiple jenkins instances and just override some essential values using command line `--set` arguments. The jenkins helm chart does not automatically configure the kubernetes plugin in JCasC, as it does when not using JCasC. For me this means I cannot have a single values.yml supporting mult

[2019-07-09 07:52] juan131 commented on #15244
@frbimo since those PVCs are created as part of a `VolumeClaimTemplate` defined in the statefulsets definitions, Helm does not have control over them. Therefore, I'm afraid you need to manually delete them even if you remove the chart using `helm del --purge`.

[2019-07-09 08:32] vchrisb opened #15341 "[stable/minio] upgrading from chart 1.6.3 to newer fails due to clusterip"
**Describe the bug**
Upgrading the minio chart from `1.6.3` to a newer version fails with due to invalid clusterIP

**Version of Helm and Kubernetes**:
helm: 2.14.1
kubernetes: 1.13.5

**Which chart**:
stable/minio

**What happened**:
When upgrading minio with its default values from `1.6.3` to a newer version, the upgrade fails with following message:
[code]
This is due to a change in `1.6.4.` ht

[2019-07-09 08:34] ivandavidov commented on #15226
Thank you for the provided feedback. Nevertheless, I still had to reverse-engineer some bits:

* I believe it will be better to explicitly mention that the [existing secret](https://github.com/helm/charts/blob/master/stable/jenkins/values.yaml#L478) is actually K8s secret. Otherwise some people (e.g. myself) could be mistaken that they have to provide the AWS access/secret keys directly.

* You sh

[2019-07-09 08:34] #15226 closed

[2019-07-09 09:11] zenglian commented on #5408
Could you pls update the readme file with this?

[2019-07-09 09:37] sameersbn commented on #14515
@27Bslash6 can you please take a look at https://github.com/helm/charts/pull/15343 and let us know if ir works for you?

[2019-07-09 09:55] #14132 closed

[2019-07-09 12:44] miguelaeh commented on #15312
Hi @acaligiuri ,
I checked with the team and we are not sure about what is the benefit to create it as a sidecar container. We received in the past some issues requesting to create it as a separate deployment.

[2019-07-09 12:51] Ngob commented on #15021
Thanks,
In case someone have a similar issue, i fixed my issue with:
[code]

[2019-07-09 12:51] #15021 closed

[2019-07-09 13:16] acaligiuri commented on #15312
Hi @miguelaeh, I was unaware of the previous issues. However, I don't see how it could work as a separate deployment. The issue I see is that as a single separate deployment, every call the exporter makes to the redis service will be loadbalanced to a different pods (the exporter is using the NON-headless service so it's loadbalanced according to the iptables probability which is 1/<numPods>) henc

[2019-07-09 13:43] torstenwalter commented on #15226
@ivandavidov Sorry if my reaction gave the wrong impression. We'd like to improve the existing documentation wherever it makes sense and simplifies it for users. I really appreciate any contributions and everyone who is spending time to improve the solution. I think they are trying there best to add functionality which might be useful for others as well and document them as good as possible. That'

[2019-07-09 15:06] phlegx commented on #5879
`Version 1.29.0` still has this issue.

[2019-07-09 15:29] javsalgar commented on #15297
Which is the error you found when connecting? Do the pods appear when executing the command below?

[code]

[2019-07-09 17:11] mentalblock commented on #15122
I think in the current form this breaks my use case with Elasticsearch.

I do not use a password with ElasticSearch and now I must use `usePassword: false` in my values file. This prevents the creation of the elasticsearch secret at https://github.com/helm/charts/blob/80f5d310e20868fa0900e64664cbffc625ab404e/incubator/jaeger/templates/elasticsearch-secret.yaml#L1.

The problem with not creating th

[2019-07-09 17:38] stormmore opened #15366 "[stable/prometheus-pushgateway] pdb labels broken"
https://github.com/helm/charts/blob/2f0cfa3bc222651811955cbc9f43d0fd4d130038/stable/prometheus-pushgateway/templates/pdb.yaml#L6 should be:
[code]

[2019-07-09 18:22] naseemkullah commented on #15122
Thanks for pointing this out in detail @mentalblock ... i've created https://github.com/helm/charts/pull/15367 can you please let me know if you think this will solve the issue?

[2019-07-09 18:39] mentalblock commented on #15122
I believe that is the correct solution. Thank you for the quick response and fix.

[2019-07-09 20:38] nbkrause opened #15369 "[stable/ambassador] Please add me as repo-collaborator"
I am currently an OWNER of the `stable/ambassador` chart. However, since I am currently not a repo collaborator people are unable to request reviews from me directly.

Could you please add me as a collaborator to resolve this.

Thanks!

[2019-07-09 21:39] naseemkullah commented on #15122
merged!

[2019-07-10 01:10] gopikishanm opened #15375 "stable/prometheus-operator alertmanager templateFiles property issue"
**Describe the bug**
In prometheus-operator, for alertmanager we have property templateFiles which is not well documented. I am not able to understand how the template files defined here will be loaded into alert manager.
The templateFiles properly is present in values.yaml file and in alertmanager secret template files

For alertmanager config, templates property is missing. The config should be

[2019-07-10 01:26] seagetch opened #15376 "[stable/nginx-ingress] Update clusterrole.yaml for nginx-ingress 0.25 image."
**Describe the bug**
clusterrole requires update for 0.25.

**Version of Helm and Kubernetes**:
helm 2.14.1
k8s 1.14.1

**Which chart**:
stable/nginx-ingress

**What happened**:
in latest "stable/nginx-ingress" helm chart, image is updated to 0.25.
in that release, access to apiGroups "networking.k8s.io" should be permitted.
but current clusterrole.yaml is not updated, thus I experienced crash loo

[2019-07-10 02:04] frbimo commented on #15297
@javsalgar
error is on the client side that cannot make connection while the primary pod is shutdown.  Connection will success after primary pod is fully recover and running, which i think this should be not the case if failover works.

when i execute
[code]
normal condition shows:
[code]

when the primary shut down:
[code]

[2019-07-10 04:55] #12560 closed

[2019-07-10 07:29] ChinaShrimp commented on #15376
+1

[2019-07-10 07:55] #13909 closed

[2019-07-10 08:26] #14515 closed

[2019-07-10 09:30] Morriz opened #15379 "[stable/prometheus-blackbox-exporter] ingress path fixed to /"
`ingress.path` should be configurable to support all ingress controllers.

[2019-07-10 10:04] #14147 closed

[2019-07-10 10:25] metal3d opened #15381 "[stable/drone] RPC failed since last version"
Updated to 2.0.4 after the merge of #14939 - jobs cannot contact RPC endpoints:

[code]

I added the 443 port on the service (as the service from latest version is only on "80"), the error is still there.

I added DRONE_LOGS_TRACE to see the problem, as my builds are now in "pending state". I will try to revert...

[2019-07-10 12:44] hkailantzis opened #15386 "[stable/heartbeat] support for loading environment variables from secrets"
Ability to support loading environment variables from secrets, e.g. something like:

[code]

Use case: e.g. Elasticsearch username and password when SSL is enabled.

[2019-07-10 12:47] hkailantzis commented on #14760
@mazharul . I believe you have a typo: "enabled" not "enable". The following worked for me:

[code]

[2019-07-10 13:07] c18s commented on #15376
+1

[2019-07-10 13:27] caarlos0 commented on #15051
this should be fixed now afaik

[2019-07-10 13:31] eamonnmcevoy opened #15389 "[stable/rabbitmq-ha] User credentials invalid after node restart"
I have a 3 node rabbitmq-ha cluster running on development aks cluster. At night we power down the VM's. When the VMS come back online my user credentials no longer work, even though the user still exists. To work around this, each morning I open a shell to the rabbitmw-ha0 pod run the following commands to recreate my test user:

[code]

[2019-07-10 13:45] xjantoth commented on #15376
+1

[2019-07-10 14:13] Aisuko commented on #15376
Hello guys, https://github.com/helm/charts/pull/15387#issue-296167631  was fixed this issue.

[2019-07-10 14:14] luciangutu opened #15390 "Values.storage.elasticsearch.usePassword jaeger/templates/query-deploy.yaml"
I'm trying to install Jaeger using helm, with ElasticSearch as a backend:

`helm install incubator/jaeger --name jaeger --set provisionDataStore.cassandra=false --set provisionDataStore.elasticsearch=false --set storage.type=elasticsearch --namespace default --set storage.elasticsearch.host=elasticsearch --set storage.elasticsearch.port=9200 --set storage.elasticsearch.user=elastic --set storage.e

[2019-07-10 14:26] msharbaji opened #15392 "[stable/chart/prometheus-blackbox-exporter] changing the service.port, also used to change the container port"
Changing the service port to 80 that will change also on the container port which is not correct cause the application is listening on port 9115.

**Version of Helm and Kubernetes**:
The helm version *v2.13.1* and Kubernetes version  *1.12.8-gke.10*

**Which chart**:
helm/chart/stable/prometheus-balckbox-exporter

**What happened**:
By changing the service port will change the container port and c

[2019-07-10 14:29] aperullo commented on #9241
This issue does still indeed persist in 2.14

[2019-07-10 16:38] lagorsse opened #15399 "[name of the chart e.g. stable/chart] kafka external advertised listerners"
chart -> kafka

I am trying to use configurationOverrides.advertised.listeners
"EXTERNAL://\${LOAD_BALANCER_IP}:31090"

KAFKA_ADVERTISED_LISTENERS is not well set and doesn't contains my override
export KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://${POD_NAME}.kafka2-headless.${POD_NAMESPACE}:9092 && \
should be
export KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://${POD_NAME}.kafka2-headless.${POD_NAMESPACE}:90

[2019-07-10 17:02] nekar93 opened #15400 "[stable/rabbitmq-ha] Invalid credential using existingSecret"
Error `[warning] <0.844.0> HTTP access denied: user 'management' - invalid credentials` does not allow the pod to start.

___

I use the _existingSecret_ values property and i use these configurations:

**values.yaml**
[code]
commented the username and password in values.

**public-rabbitmq-ha-secret.yaml**
[code]

When i apply the secret and install the chart with my values, in the pod logs i rea

[2019-07-10 17:06] ameier38 opened #15401 "[stable/openvpn] Add {{ .Release.Namespace | quote }} to metadata"
**Is your feature request related to a problem? Please describe.**
_Feature request_: When using `helm template --namespace <my namespace>` the chart does not pick up the namespace flag and a subsequent apply using the templates will install the chart into the default namespace.

**Describe the solution you'd like**
Add `{{ .Release.Namespace | quote }}` into the metadata field of the templates. S

[2019-07-10 17:18] infa-bsurber commented on #13689
Not getting any attention so I guess I'll stick to a full sidecar container consul agent

[2019-07-10 18:55] chenjianxin opened #15403 "[error] Error: This command needs 1 argument: chart name......"
helm install pingcap/tidb-cluster --name demo --set schedulerName=default-scheduler,pd.storageClassName=standard,tikv.storageClassName=standard,pd.replicas=1,tikv.replicas=1,tidb.replicas=1 --version=v1.0.0-beta.3

**It Return**
Error: This command needs 1 argument: chart name

??? I have give it [--name demo]

[2019-07-10 19:45] rumstead opened #15404 "[stable/spinnaker] Halyard's tomcat java server won't use internal root CA"
**Describe the bug**

I am sitting behind a corporate proxy and we use an internal root CA.

I was able to get the proxy working and hitting our internal docker registries fairly easily.

I have read all the github issues on spinnaker and spinnaker's chart. Ones regarding installing without internet, behind proxies, etc. None of which were able to help.

Halyard pod that runs the tomcat java serve

[2019-07-10 21:04] #13548 closed

[2019-07-10 22:31] chungktran opened #15409 "[stable/spinnaker] deployment/service/ingress not matching up"
**Describe the bug**
Deploy the latest version of stable/spinnaker doesn't work. The manifests for ingress, service, and statefulset don't match up. Service name and port in ingress doesn't match with what's defined in service manifest.

The ingress file below points to a `spin-desk` service on port `9000`
https://github.com/helm/charts/blob/master/stable/spinnaker/templates/ingress/deck.yaml#L27-

[2019-07-10 22:38] nick-lehmann opened #15410 "[stable/nextcloud] Nextcloud sends 500 request after installing"
**Describe the bug**
After installing nextcloud via helm and waiting for all pods to be up and running, I get a 500 response when accessing the login page.

**Version of Helm and Kubernetes**:

Helm

[code]
Kubernetes

[code]

**Which chart**:

Nextcloud (stable/nextcloud)

**What happened**:

After I installed my first nextcloud instance via helm and the `values.yaml` that can be found at the end

[2019-07-10 23:41] steven-sheehy commented on #15400
If you exec into the container and echo $RABBIT_MANAGEMENT_PASSWORD and $RABBIT_MANAGEMENT_USER does it match your expected values?

You should also set a static value for `rabbitmq-erlang-cookie`.

[2019-07-10 23:45] steven-sheehy commented on #15389
Please provide your modified values.yaml. By default the chart generates a random value for the regular user and management user's password as well as the erlang cookie. You should set all these to your own static value.

[2019-07-11 00:03] steven-sheehy commented on #15294
Not sure exactly what you're suggesting to change, maybe provide a link to an example? As I understand it, any change to the statefulset spec would be applied to all pods. So you can't reference an existing volume in a statefulset and scale past 1.

Why not just use https://github.com/rancher/local-path-provisioner to create PVCs?

[2019-07-11 07:51] severity1 commented on #8914
I tried deploying the latest helm chart and i still get this issue, pinning the helm chart to 1.6.8 solves it. am i doing something wrong?

[2019-07-11 08:43] danielschlegel opened #15419 "[stable/prometheus] alertmanager Readiness probe failed: HTTP probe failed with statuscode: 404"
**Describe the bug**
After successfully running helm install for stable prometheus prometheus-alertmanager and also prometheus-server is not running. prometheus-server is not running because it cannot connect to alertmanager.
When i connect into the container i see port 9093 is used and i can also connect to it with telnet localhost 9093 but if i try wget to localhost:9093/#/status like rediness p

[2019-07-11 09:05] ramkrishnan8994 opened #15436 "[stable/airflow] Postgress connection keeps getting disconnected"
`sqlalchemy.exc.OperationalError: (psycopg2.OperationalError) could not translate host name "postgres-postgresql.production" to address: Name or service not known
`
The above error keeps occurring on a regular basis on the **airflow-web** pod.
As soon as the pod restarts, the **airflow-web** pod starts running without any issues. Around 2-3 restarts per day has been observed.

My Postgres pod is a

[2019-07-11 09:17] figaw opened #15451 "[stable/dex] Missing: custom annotations on job-grpc-certs PodTemplateSpec"
In the Job `..-grpc-certs` `templates/job-grpc-certs.yaml` the `spec.template.metadata.annotations` haven't been templated, so it's not possible to add custom annotations to the pod created by the Job.

We're using Istio, with automatic sidecar injection in all namespaces. Referring to: https://github.com/istio/istio/issues/11045 we're not able to add the `sidecar.istio.io/inject: "false"` to the

[2019-07-11 09:34] aaktaev opened #15452 "[stable/external-dns] PrivateDns azure issue"
**Describe the bug**
Trying to configure external-dns chart with azure cloud, and use Private Dns zone for resource group

**Version of Helm and Kubernetes**:

**stable/external-dns**:

**Here is output from external-dns pod**:

[code]

**What you expected to happen**:
Add record of service to PrivateDns zone

**How to reproduce it** (as minimally and precisely as possible):
azure cloud,
privateDn

[2019-07-11 09:35] aaktaev commented on #15452
as I understand there should be some configuration like type of DNS zone for azure cloud like in AWS

[2019-07-11 09:37] tyg03485 opened #15453 "[stable/jenkins] Run Jenkins as non root user"
I bad at english. I hope you could understand it.

I apply with config.jenkins-value.yaml for persistence volume and (runAsUser, fsGroup)

I just set `master.runAsUser`, `master.fsGroup` to 1000
And
append persistence config, too.

config.jenkins-value.yaml
[code]

Then i ran it with helm command
[code]

The pod said
[code]

Help me. Please.

**Describe the bug**
A clear and concise description of

[2019-07-11 09:58] nekar93 commented on #15400
I try to add `rabbitmq-erlang-cookie` into the secret:
[code]

I kill and re-install the chart and I print the `env`:
[code]

I done a diff to the two case (with secret and without) `env` and i found no difference.

[2019-07-11 10:34] aaktaev opened #15455 "[stable/external-dns] Typo in azure resource group"
**Describe the bug**
Typo.

In templates/deployment.yaml  found typo:

[code]

Need to fix resourceGroup

[2019-07-11 10:40] someonegg commented on #12631
It is the readinessProbe
`mongo --eval "db.adminCommand('ping')" `

[2019-07-11 10:55] aaktaev commented on #15455
and in values.yaml also

[2019-07-11 11:24] weber-d commented on #11707
Push as usual

[2019-07-11 12:36] nerddelphi commented on #15386
Dealing with that, I've just setup daemonset.yaml with that bold part:
`        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: NODE_IP
          valueFrom:
            fieldRef:
              fieldPath

[2019-07-11 12:45] mumrau commented on #12900
up

[2019-07-11 13:50] eamonnmcevoy commented on #15389
[code]

[2019-07-11 13:52] eamonnmcevoy commented on #15389
@steven-sheehy you can see, I have more or less used the sample config, but defined a user, password, and a few queues. Are you saying that when the node restarts, it will reset the password for every user to a random string?

[2019-07-11 14:11] steven-sheehy commented on #15389
No, I mean if you leaves those at default/blank then on every `helm upgrade` it will regenerate them, but restart should keep them the same.

I'm not sure about your user issue, but if you're shutting down all nodes you should be setting `forceBoot: true` OR `podManagementPolicy: Parallel` otherwise rabbitmq may not be able to startup.

[2019-07-11 14:13] miguelaeh commented on #15455
Hi @aaktaev ,
Thank you for reporting the issue, we will fix it as far as we can.

[2019-07-11 14:27] ferantivero commented on #8914
@severity1 yeah same here. Please have a look at kubernetes/ingress-nginx#3817

[2019-07-11 14:42] zoetian opened #15459 "[stable/concourse] Add missing CREDHUB flag"
## Why we need this?

Currently the pipeline we have for concourse k8s helm is failing because in our helm chart most of the `CREDHUB` flags have been added, whereas in the concourse-ci, these flags were filtered. [This PR](https://github.com/concourse/ci/pull/50) will ensure this is no longer the case but raises a new issue. One of the `CREDHUB` flags is still not implemented in the concourse hel

[2019-07-11 14:43] steven-sheehy commented on #15400
Try `definitions.json` for the key instead of `definition`.

[2019-07-11 14:58] donnierisk opened #15460 "[stable/wordpress] Cluster went down, once it started up again mariadb gets error Readiness probe failed: mysqladmin: connect to server at 'localhost' failed error: 'Access denied for user 'root'@'localhost' (using password: YES)"
**Describe the bug**
I get the error when reinstalling helm chart after kubernetes cluster went down:

I'm not sure which steps to follow to ensure that it'll reconnect again and find the same drive, do I specify a volume?

**Version of Helm**:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.

[2019-07-11 15:03] juan131 commented on #15460
/assign @juan131

[2019-07-11 15:21] juan131 commented on #15460
Hi @donnierisk

When you delete a chart (e.g. running the command `helm delete --purge my-release`), you'll find out that some resources aren't removed (for instance the **PVCs** associated to **statefulsets**). That's something very easy to check:

[code]

As you can see, the **PVCs** associated to the MariaDB database, were not removed!! Therefore, if you install the chart again using the same n

[2019-07-11 16:39] Antiarchitect commented on #15294
Will think about local-path-provisioner.

[2019-07-11 17:00] gsemet commented on #15436
hi. Is it the right hostname: postgres-postgresql.production ?

[2019-07-11 17:33] nekar93 commented on #15400
The same... I try with definitions.json and it didn't work.
You can run it with secrets?

[2019-07-11 17:38] #15455 closed

[2019-07-11 18:46] steven-sheehy commented on #15400
Yes, it works for me. Why not try getting it first to work with built-in secret?

[2019-07-11 19:00] nekar93 commented on #15400
You mean with menagementUsename and menagementPassword in values?

I try it, if you see the first post.
With the values work good, with the secret not... and the `diff` of two tries `env` is empty

Can you give me your working secret? I don’t understand why doesn’t work

[2019-07-11 19:35] navi86 opened #15467 "gRPC service should be not exposed by default"
**Is your feature request related to a problem? Please describe.**
I don't think there is a profit to deploy gRPC always.
That functionality was implemented in this MR:
https://github.com/helm/charts/pull/6679

**Describe the solution you'd like**
I would like to have an option to disable grpc like grpc.configure = false.

**Additional context**
Add any other context or screenshots about the featu

[2019-07-11 19:41] mhbrooks commented on #15015
Yep, that was my fear. Not ideal, thanks for your input though.

[2019-07-11 19:56] #15404 closed

[2019-07-11 19:56] rumstead commented on #15404
I was able to write a python script that takes a bom and curls all the needed resources down. I was able to get the install pod to complete. Doesn't really solve the problem but... it worked.

[2019-07-11 20:02] mattshin commented on #15114
If I am understanding you correctly, you should be able to create a "drop-in replacement" docker image and overwrite `.Values.image.repository`. You will still need to replace some of the elasticsearch-specific configuration, but at least you get the rest of the stuff without having to start from scratch.

[2019-07-11 20:04] mattshin commented on #9708
Bump - this would be nice to have

Not sure what the process to revive stale issues is in this repo but I will work a quick fix to this and submit a PR

[2019-07-11 21:54] albertorm95 commented on #10316
I'm having that issue, what should I do to resolve it?

[2019-07-11 22:27] kyschouv commented on #13492
Would this make it possible to have most of the provisioning details in a configmap, but load just the secret values from a secret? Right now we have secrets (api keys, etc.) in Kubernetes secrets, but the rest of our details in configmaps, and it'd be great to be able to have the sidecar merge those automatically (instead of us having to write something to do it).

[2019-07-11 23:37] staticdev commented on #15223
Solution can be found here:
https://stackoverflow.com/questions/56915354/how-to-install-nginx-ingress-with-hostnetwork-on-bare-metal/56998424#56998424

This can be used to improve the chart documentation or configuration using hostnetwork since it is not trivial at all that 3 parameters needed to be changed.

[2019-07-12 01:42] #12341 closed

[2019-07-12 05:08] ramkrishnan8994 commented on #15436
Yes. As soon as the pod restarts, the service is up and running with the same config.
It just keeps on restarting in between with this error

[2019-07-12 05:55] Towmeykaw commented on #15281
Elastic-stack uses the stable elastic chart right? These values looks like the values for elastics official chart.

[2019-07-12 06:02] fr-ser commented on #13492
That PR (and the sidecar behind it) do not support that.

[2019-07-12 06:22] chrisingenhaag commented on #15410
/assign

[2019-07-12 06:24] acaire commented on #15117
Introduced first by [5.14.0](https://github.com/helm/charts/commit/d58247103fafd5930792bb1fd3ac240547523200#diff-b9f481ac97524bfb24d27f62676dc143) due to a `quay.io/prometheus/prometheus` image update from `v2.9.1` to `v2.10.0`.

Current work-around is to drop back to `v2.9.1`:
[code]

Still looking for the cause

[2019-07-12 06:27] chrisingenhaag commented on #15410
Hi,
Can you please provide the logs of the container?
But as a first response the nextcloud container isn´t able to configure a redis password via environment variables, just host and port. I hope the guys maintaining the docker image will add this soon. You should try again without a password.

[2019-07-12 06:31] #14980 closed

[2019-07-12 06:47] chap-dr commented on #15011
I just tried installing chart v. 1.9.0 and got this error.

Im using google as my provider.

[2019-07-12 06:54] jcotineauCoffreo opened #15474 "[stable/sonarqube] add compatibility for nfs/cephfs volumes"
**Is your feature request related to a problem? Please describe.**
When using cephfs as a dynamic provisioner with storage class, sonarqube does not own the /opt repository and therefore cannot write to it, causing a crash.
"cannot create /opt/sonarqube/temp"

**Describe the solution you'd like**
in any case, correct rights should be ensured on all directories, no matter what are the volumes type.

[2019-07-12 07:22] arunkumarrspl commented on #6309
I got this error: ```Error from server (BadRequest): container init-config is not valid for pod

[2019-07-12 08:01] aliartiza75 commented on #14727
its not stale

[2019-07-12 08:20] davide-talesco opened #15477 "[stable/concourse] parse error with default settings. Chart is unusable"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

There is a typo in concourse/templates/_helpers.tpl and . chart is unusable

**What you expected to happen**:
To output the manifests

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything else we need to know**:

[2019-07-12 08:42] #14175 closed

[2019-07-12 09:30] donnierisk commented on #15460
Hi @juan131 Thank you for the help so far. The mariadb issue is sorted out well it seems. I thought I got it fully working last night, but when I retried again this morning the Wordpress pod can't attach to the PVC I get the error:
**Multi-Attach error for volume "pvc-f8a59a0a-a421-11e9-953a-42010a84002b" Volume is already used by pod(s) knotted-umbrellabird-nfs-server-provisioner-0**

in my value

[2019-07-12 09:42] #14183 closed

[2019-07-12 10:18] nekar93 commented on #15400
One more detail. When i apply the helm chart, appears the NOTES. This NOTES are built with the NOTES.txt:
[code]

When i apply without secret (with the credentials, cookies and definitions in values.yaml) the NOTES are **OK**:
[code]

BUT when i apply with secret (without the credentials, cookies and definitions in values.yaml) the NOTES are **WRONG**:
[code]

Imo there is some bug with the initia

[2019-07-12 10:38] juan131 commented on #15452
Hi @aaktaev

Could you please share the **values.yaml** you're using to deploy the external-dns chart?

What configuration options are you missing? Is there anything mentioned in the guide below that can't be configured in **external-dns** with the current chart?

https://github.com/kubernetes-incubator/external-dns/blob/master/docs/tutorials/azure.md

[2019-07-12 11:24] bcollard commented on #15114
Well, this is what I actually did.
I was just not expecting so strong relationship with elasticsearch, given the name of this chart.

Also, still in my case, I have an output with the "file" plugin. So I'm transforming this deployment into a statefulset.
Good luck to everyone in similar situation.

[2019-07-12 11:38] #14244 closed

[2019-07-12 12:38] #14249 closed

[2019-07-12 12:55] tapanhalani opened #15484 "[stable/mongodb] "debug" level logs not showing on pod startup"
**Describe the bug**
I have "mongodbSystemLogVerbosity=5" set in values.yaml file. When I deploy a release, the pod keeps crashing, and when I see the logs, I cannot see any "debug" level logs corresponding to those defined in following file: https://github.com/bitnami/bitnami-docker-mongodb/blob/master/4.0/debian-9/rootfs/libmongodb.sh . I cannot find the issue in my config that is causing the cr

[2019-07-12 13:37] willejs opened #15486 "[stable/sonarqube] test pod re-created on every run"
**Describe the bug**

The ui test pod is recreated on every apply as it uses a random id to name the pod.
This causes helm diff to always diff, and also the pod to run every time we do an apply.
I am curious to know why this even runs when we have liveliness and readiness probes?
Do you think i can just make a PR to delete this @rjkernick ?

**Version of Helm and Kubernetes**:
N/A

**Which chart**

[2019-07-12 13:50] mattshin commented on #15114
FWIW, I do agree that this chart should probably be renamed to better convey it's tight coupling with Elasticsearch, maybe if I have some time I can create a PR.

[2019-07-12 14:14] torstenwalter commented on #15453
[code]

Looks like a permission problem. You could check permissions of that file by executing `ls -al //var/jenkins_home/copy_reference_file.log` within your container.

If you started Jenkins before with a different user than that user is probably still the owner of that file.

[2019-07-12 14:14] alexfrancavilla opened #15489 "[stable/GoCD] Proper way to append to server.env.extraEnvVars"
**Is your feature request related to a problem? Please describe.**
It is, to my belief, not possible to only "append" the value server.env.extraEnvVars without overwriting the chart's default. Since the default value always contains up-to-date plugins, I'd like to not overwrite it with my own plugins, but rather extend it in some way.

**Describe the solution you'd like**
An extra value for append

[2019-07-12 14:15] alexfrancavilla commented on #15489
Oh and by the way, the README states that the default value is `nil`, but obviously isn't.

[2019-07-12 14:43] juan131 commented on #15011
Hi @chap-dr

That PR solved the issue and bumped the chart version to **2.0.1**. Therefore, you will face the issue if you're using any previous version (such as **1.9.0**)

[2019-07-12 14:46] aaktaev commented on #15452
There are two types od DNS zones in Azure cloud: Public and private.

And I've wanted to deploy external-dns on azure cloud, but to use private dns zone.

[2019-07-12 15:04] markhilton opened #15491 "[stable/nfs-server-provisioner] cannot provision SSD disk on GCP"
**Describe the bug**
stable/nfs-server-provisioner is unable to provision SSD disk.

**Version of Helm and Kubernetes**:
HELM version:
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}

KUBERNETES version:
GKE: M

[2019-07-12 15:11] morsok commented on #13717
Nope not stale ><

[2019-07-12 15:14] dunglas commented on #13717
Goof catch, I badly copy/pasted the chart template. Would you want to open a PR to fix this?

[2019-07-12 16:20] pierreozoux opened #15492 "Standard Resource Definition - Postgres"
I'm trying to standardize the way we describe PostreSQL instances in kubernetes resources, and make this part of upstream, [in alpha for the 1.16 version](https://github.com/libresh/StandardResourceDefinitions/issues/6).

As one PG "operator" provider, I'd love your feedback on this.

As a user of your operator, would you find it useful to have a standard resource definition for PG (the same as in

[2019-07-12 16:28] markhilton commented on #15491
I actually figured out the issue. I had to manually create a storage class first:

name: ssd
provisioner: kubernetes.io/gce-pd
type: pd-ssd

then install chart using --set persistence.storageClass=ssd

[2019-07-12 16:28] #15491 closed

[2019-07-12 16:31] chap-dr commented on #15011
Hmm, why am i getting 1.9.0 then? I just did a helm fetch..

a helm search returns

``
$ helm search external-dns
NAME               	CHART VERSION	APP VERSION	DESCRIPTION
stable/external-dns	1.9.0        	0.5.14     	ExternalDNS is a Kubernetes addon that configures public ...

[2019-07-12 17:41] caarlos0 commented on #15011
That PR does not properly fix the issue I'm afraid

check https://github.com/helm/charts/pull/15485

[2019-07-12 18:14] zoetian commented on #15459
Update:

Actually, after removing the `CREDHUB` flag, the current `check-helm-param` job is failing on

[code]

[2019-07-12 18:56] james-crowley opened #15496 "[stable/elastic-stack] Elasticsearch Master and Data Crash Upon Deployment"
**Describe the bug**
Upon deployment of the elastic-stack chart, the Master and Data pod's fail to initialize. They get stuck in a CrashLoopBackOff state. Thus causing the client pod not be able to connect to the Master.

Another user seemed to have a similar issue, #11464 but the issue got closed by accident.

**Version of Helm and Kubernetes**:
HELM:
 - Client: &version.Version{SemVer:"v2.9.1",

[2019-07-12 19:56] moikot opened #15498 "[stable/traefik] Provide a value for acme.storage"
**Is your feature request related to a problem? Please describe.**
I'm trying to run two instances of Traefik and I'm keeping SSL certificates in Consul.

I would like to keep certificates for different domains, handled by my two instances, in different Consul keys. But unfortunately the configmap template has hardcoded **acme.storage** value - **traefik/acme/account**

[code]

**Describe the solu

[2019-07-12 21:10] #15409 closed

[2019-07-13 00:59] steven-sheehy commented on #15400
I mean with `existingSecret: ""` to use the secret generated by the chart. I don't see that tried in the first post. Here's the secret it generated for me:

[code]

[2019-07-13 02:44] sudeep-ib commented on #14300
Any update on this?

[2019-07-13 03:38] #14146 closed

[2019-07-13 10:48] #13865 closed

[2019-07-13 13:37] MartinX3 commented on #9963
Must stay open until #11343 got closed.

[2019-07-13 13:46] RsknCankov commented on #10292
Hello, faced same error, after setting cloudConfigPath t /etc/kubernetes/cloud.conf -> Failed to create GCE Manager: read /etc/kubernetes/cloud.conf: is a directory

Helm
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:

[2019-07-13 16:44] #14127 closed

[2019-07-14 06:44] #14365 closed

[2019-07-14 07:30] giangnn commented on #9361
@thomasliddledba I've tried your PR but the problem still occurs. Specifically, only 1 pod is started and the 2nd pod throws the same `CrashLoopBackOff` error

[2019-07-14 07:52] RsknCankov opened #15509 "[stable/cluster-autoscaler] Failed to create GCE Manager: read /etc/gce.conf: is a directory"
**Describe the bug**
A clear and concise description of what the bug is.

Failed to create GCE Manager: read  /etc/gce.conf: is a directory

**Version of Helm and Kubernetes**:

Kubernetes
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.6", GitCommit:"abdda3f9fefa29172298a2e42f5102e777a8ec25", GitTreeState:"clean", BuildDate:"2019-05-08T13:53:53Z", GoVersion:"go1.11.5", Compi

[2019-07-14 08:44] #14331 closed

[2019-07-14 08:44] #12352 closed

[2019-07-14 08:50] moikot opened #15510 "[stable/home-assistant] Allow to extend Ingress labels"
**Is your feature request related to a problem? Please describe.**
I'm trying to expose home-assistant to the outside world via Traefik and I'm running two instances of Traefik, one for the services accessible inside of my network and another one for accessing them from the Internet. I want home-assistant to be exposed on the second (publicly available) one and I'm using labelSelector (see [here](

[2019-07-14 09:37] donnierisk commented on #15460
I think I got it working, below were the steps I took:
[code]
[code]
Then create the above PVC in the cluster:
[code]
Then installed wordpress, referencing the above PVC in "existingClaim" in the values-production.yaml

[code]

I've deleted the helm release multiple times and brought it back up with the last command above, i changed WordpressSkipInstall to true after the initial release. If I set

[2019-07-14 11:52] MohammedFadin commented on #14098
Sorry to re-open this issue, but it seems valid. I'm having the same problem and not sure what's the solution for it?

[2019-07-14 11:54] MohammedFadin commented on #12716
@simonmacklin have you figured it out? I'm having the same issue.

[2019-07-14 12:11] #14337 closed

[2019-07-14 12:11] #14373 closed

[2019-07-14 12:41] sharon-vendrov commented on #15316
Please review my PR?

[2019-07-14 13:11] #14376 closed

[2019-07-14 15:38] krichter722 opened #15513 "[incubator/kafka] Wrong curly brace replacement during installation"
**Describe the bug**
Creating a Kafka broker with `helm install --name my-kafka --namespace my-kafka incubator/kafka --set resources="{'cpu': '125m'}"` fails due to

`Error: release my-kafka failed: StatefulSet in version "v1beta1" cannot be handled as a StatefulSet: v1beta1.StatefulSet.Spec: v1beta1.StatefulSetSpec.Template: v1.PodTemplateSpec.Spec: v1.PodSpec.Containers: []v1.Container: v1.Conta

[2019-07-14 17:23] jasongwartz commented on #15401
@ameier38 I opened a similar PR about this for openvpn a while back, but it went stale: https://github.com/helm/charts/pull/13068

I’m happy to consider it if you want to reopen a similar PR, knowing now what the motivation is

[2019-07-14 17:28] jasongwartz commented on #15119
@Warok21 I don’t believe this is possible (using the openvpn chart to connect nodes to each other to form a cluster), because this chart relies on the kubernetes overlay network already being in place.

If anyone knows if this is possible, I’d be happy to see an explanation, but if I understand your question correctly, I don’t believe this would work using a helm chart.

[2019-07-14 17:31] jasongwartz commented on #13078
@joebeadle the chart seemed to be mostly abandoned for a while, I’m now helping maintain it (would be happy to have more maintainers, if you or anyone is interested). Can you confirm if #14452 covered what you wanted to do with your PR?

[2019-07-14 17:37] joebeadle commented on #13078
@jason Yes thanks helps a lot!

[2019-07-14 18:11] #13639 closed

[2019-07-14 18:41] #14884 closed

[2019-07-14 18:50] jasongwartz commented on #13078
Great, glad to hear

[2019-07-14 20:11] #13989 closed

[2019-07-14 21:11] #1071 closed

[2019-07-14 22:58] fpiedrah opened #15516 "[stable/concourse] Error: the namespace from the provided object does not match the namespace"
**Describe the bug**
While running "**helm install stable/concourse --version 8.1.0 --generate-name**" I get "**Error: the namespace from the provided object "concourse-1563143525-main" does not match the namespace "default". You must pass '--namespace=concourse-1563143525-main' to perform this operation.**"  I've tried running "helm install concourse stable/concourse --version 8.1.0 --namespace=c

[2019-07-15 04:09] zenglian opened #15519 "[incubator/kafka] helm scale did not update the external services"
**Is your feature request related to a problem? Please describe.**
When do helm scale **up** the chart,  no external services (nodeport or lbr)  for newly created pods.

**Describe the solution you'd like**
When do helm scale **up** the chart, should create new external services (nodeport or lbr)  for new pods

**Describe alternatives you've considered**
When scaling down, should it remove the ext

[2019-07-15 07:11] #13383 closed

[2019-07-15 07:14] alemorcuq commented on #15484
Hi, @tapanhalani.

To enable debugging messages for the Bitnami image, you have to set the `image.debug` option to true: https://github.com/helm/charts/blob/master/stable/mongodb/values.yaml#L35

However, I can see there's a bug there, as it should enable the `BITNAMI_DEBUG` environment variable instead of `NAMI_DEBUG`. I will be making a PR fixing this.

In the meantime, you can manually configur

[2019-07-15 07:21] #15011 closed

[2019-07-15 09:34] figaw opened #15521 "[stable/gangway] No support for a "trustedCAPath" volume in deployment.yaml"
The Readme specifies the possibility of having a `gangway.trustedCAPath`-variable. But it's only referenced in the `values.yaml` and used as a child of `gangway` in the `templates/configmap.yaml`.

There's no support for adding a `Secret` or `ConfigMap` as a volume and volumeMount in the `templates/deployment.yaml`, so it's not possible to provide the actual file containing the CA Bundle.

Our tem

[2019-07-15 09:46] vinay2107 opened #15522 "[incubator/vault] Options for enabling/configuring vault auth enable or vault write"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-15 09:52] Timost commented on #15296
Hi @iluuu1994,
I've come accross the same issue as you. For me this happened because something went wrong in the post-install hook that runs `sentry upgrade --noinput`, and the database ended up being corrupted.

I use an external postgres database and the db user did not have enough rights to install the `citext` postgres extension. After installing the extension manually in the db, wiping the da

[2019-07-15 09:56] morsok commented on #13717
Here you go opened a PR.

[2019-07-15 10:21] iluuu1994 commented on #15296
Hi @Timost!

Thanks for your response! It seems the `citext` was already created in my case but I think it's very likely the database is corrupt in some other way. Running `sentry upgrade --noinput` lreads to the following output:

That's probably not normal, right?

[2019-07-15 10:50] Timost commented on #15296
Indeed that doesn't look normal. I've lost the output of the command when my the db was corrupted, but what you pasted does ring a bell. in my case deleting all the tables in the db and rerunning the `sentry upgrade --noinput` solved the issue.

[2019-07-15 11:00] caarlos0 commented on #15011
Should be good now, #15485 was merged :)

[2019-07-15 11:13] iluuu1994 commented on #15296
Tried your suggestion and recreated the entire database. Unfortunately, the output is almost the same:

[2019-07-15 11:22] #15519 closed

[2019-07-15 11:31] Timost commented on #15296
Hum and you don't get any stacktrace or anything ? On which pod do you run the `upgrade command` ?

[2019-07-15 11:32] PHameete opened #15526 "[stable/datadog] error in readme configuration parameter"
**Describe the bug**
Configuration parameter in `rbac.serviceAccount` in readme should be `rbac.serviceAccountName` according to the code at https://github.com/helm/charts/blob/9b89f45a27aa98551ed01d60b362060f3271b7ff/stable/datadog/templates/daemonset.yaml#L128

**Which chart**:
datadog

[2019-07-15 11:46] kwill4026 opened #15528 "[mongodb-replicaset stable/chart] Incorporating a mongodb UI to interact with replicaset or individual mongo server"
I would like the chart to have the ability to include the option to produce a MongoDB UI alongside the standalone mongodb server or the replicaset. This way one could use the UI to connect to the server.

**Is your feature request related to a problem? Please describe.**
The problem is simply that. I would like to know if this can be included in the mongodb-replicaset helm chart. If not is this so

[2019-07-15 12:07] PHameete opened #15530 "[stable/datadog] incorrect datadog-agent kubernetes permissions since 1.31.5"
**Describe the bug**
Since commit 81405b0a337ee7e96515654343fe17d46765d45e (version 1.31.5) the datadog agent no longer has the correct permissions for the kubernetes API.

**Version of Helm and Kubernetes**:
Helm 2.14 and Kubernetes 1.12

**Which chart**:
stable/datadog

**What happened**:
After recreating our Datadog agent daemonset with the latest helm chart, all log and metric collection stopp

[2019-07-15 12:32] iluuu1994 commented on #15296
[This was the solution](https://github.com/getsentry/sentry/issues/8862#issuecomment-400807159). This is most likely a Sentry issue and not something in the chart. Anyways, thanks @Timost!

[2019-07-15 12:32] #15296 closed

[2019-07-15 12:36] martinvol opened #15531 "Documentation has no reference to secrets.yaml files"
**Is your feature request related to a problem? Please describe.**
No documentation in about secrets.yaml is provided: https://www.google.com/search?q=site%3Ahttps%3A%2F%2Fhelm.sh%2Fdocs%2F+%22secrets.yaml%22&oq=site%3Ahttps%3A%2F%2Fhelm.sh%2Fdocs%2F+%22secrets.yaml%22&aqs=chrome..69i57j69i58.2083j0j4&sourceid=chrome&ie=UTF-8

**Describe the solution you'd like**
Explanation on how to set up a sec

[2019-07-15 13:18] #13701 closed

[2019-07-15 13:18] #13605 closed

[2019-07-15 13:18] #13368 closed

[2019-07-15 14:17] #15484 closed

[2019-07-15 14:40] cirocosta opened #15535 "[stable/concourse] Update list of prerequisites"
**Is your feature request related to a problem? Please describe.**

We've seen quite a good number of people running into issues when installing the Concourse Chart as a result of using an old version of the Helm chart.

**Describe the solution you'd like**

Have the Concourse chart being able to tell people that they're not using a version that the Chart expects.

**Describe alternatives you've c

[2019-07-15 14:56] nekar93 commented on #15400
Yes, i comment the credential in the first post. But i tried without an `existingSecret` and worked.
However, with your secrets (and with the auto-generated one) in `existingSecret`, works.
So, i try again to understand. Thanks for now

[2019-07-15 16:26] philurlaub opened #15536 "[stable/grafana] Configurable env for init container "download-dashboards""
**Is your feature request related to a problem? Please describe.**
In our kubernetes cluster every http connection needs to go through a http proxy. In order to use the dashboard download feature, the init container "download-dashboards" also needs the HTTP_PROXY env variables to be set. Currently the templates don't provide the ability to set them.

It is related to:  https://github.com/helm/char

[2019-07-15 18:18] #13715 closed

[2019-07-15 19:18] #13708 closed

[2019-07-15 19:22] chirangaalwis commented on #14690
@ctienshi +1 for this feature. It is a basic use case of any DBMS based Helm Chart, AFAIU.

[2019-07-15 19:28] henro001 commented on #8576
Same issue here. When the cluster domain is not default "cluster.local" bootstrap init container is stuck. Tried a different cluster with "cluster.local", works out of the box.

[2019-07-15 21:06] pauloeliasjr commented on #14507
Tested today against 7.8 and 7.9: same issue

[2019-07-15 22:13] maximbaz commented on #10183
@minhdanh, @zanhsieh, @maorfr, the PR https://github.com/helm/charts/pull/15382 (specifically this commit https://github.com/helm/charts/pull/15382/commits/46e541bda2220ab5b4cdb49dc20c5a6130ee8f94) has reverted my earlier change in https://github.com/helm/charts/pull/13761 and broke custom dashboard folders again, could someone take a look?

[2019-07-15 23:02] devopsdymyr opened #15545 "Apachi nifi - stable"
Anyone is working on apache-nifi stable helm chart, there is lots of issues with creating apache-nifi

[2019-07-15 23:04] ameier38 commented on #15401
@jasongwartz sounds good will do

[2019-07-16 00:28] BYK commented on #15296
I'd guess this is most likely an OOM-kill of the migration process as it needs ~3GB of RAM. @okgolove any way tho check the RAM available for that process during setup to avoid this?

[2019-07-16 01:09] tyg03485 commented on #15453
Yes, It's `jenkins_home` dir's permission problem.

[Solved]
I was just thought what i have to do for changing permission is touching only initContainer. (image, volumeMounts, command using chwon, chmod ..)

But, when you set `runAsUser`, `fsGroup` 1000 (jenkins) user, all initContainer should run as `jenkins` user. So, It couldn't touch `jenkins_home` dir's permission.

Anyway, if somebody want t

[2019-07-16 01:09] #15453 closed

[2019-07-16 01:17] frankreno commented on #14494
@Towmeykaw - thoughts on the above PR?

[2019-07-16 01:22] naseemkullah commented on #15323
nvm

[2019-07-16 01:22] #15323 closed

[2019-07-16 01:54] isaacegglestone commented on #15114
The chart becomes a lot less useful when it can't auto install plugins.
Even if your backend is elasticsearch there are numerous other plugins (Thousands). for input and output that one one would still want to use to integrate everything.
Why not just add some code to allow for plugin install when the container launches.
Other charts do this kind of thing.

[2019-07-16 02:09] tyg03485 opened #15547 "[stable/jenkins] feature for `Deployment` to be added custom Containers"
In my case, i run docker container in same pod. (docker in docker)

For running a Docker container which runs it’s own Docker daemon, I have to add container in Deployment.

And not only for my issue, there is something needs `Add` Container on same pod.

ref.
https://medium.com/hootsuite-engineering/building-docker-images-inside-kubernetes-42c6af855f25

**Is your feature request related to a prob

[2019-07-16 03:13] minhdanh commented on #10183
@maximbaz Hi, the commit https://github.com/helm/charts/commit/46e541bda2220ab5b4cdb49dc20c5a6130ee8f94 was because the checks made the sc-dashboardproviders.yaml removed, so the custom dashboards could not loaded in my case.
[code]
But it looks like because I was having a default dashboardProvider:
[code]
So this looks like my mistake. I'll fix this.

[2019-07-16 03:23] minhdanh commented on #10183
Here's the fix: https://github.com/helm/charts/pull/15550

[2019-07-16 04:18] #13932 closed

[2019-07-16 06:41] duckzhouya commented on #6064
Try to use persistentVolume, and the problem will be solved.

[2019-07-16 08:35] okgolove commented on #15296
@BYK
We can create an environment variable which references to limit memory spec.

[2019-07-16 09:07] mkasprzyk commented on #10517
That helps in AKS/EKS cases:
`
kubelet:
  enabled: true
  serviceMonitor:
    https: false

kubeControllerManager:
  enabled: false
  serviceMonitor:
    https: false

kubeScheduler:
  enabled: false
  serviceMonitor:
    https: false

...
`

[2019-07-16 09:17] burizz commented on #8067
I have the same issue using Chart - keycloak-5.1.2. I cannot login either with the default keycloak user nor with a user created with  :

      /opt/jboss/keycloak/bin/add-user.sh -u admintest -p adminpass
      /opt/jboss/keycloak/bin/add-user-keycloak.sh -r master -u admintest -p adminpass

Tried both with 2 replicas, with 1 replica, wihtout setting any replicas flag at all, etc.

[2019-07-16 09:24] dimitraz commented on #12298
How did you resolve this? @Sam123ben

[2019-07-16 09:46] BYK commented on #15296
@okgolove sounds good to me. I use this script: https://github.com/getsentry/onpremise/blob/master/install.sh#L6 which has the minimum RAM as a variable.

I think, for now, we can set it independently but in the future, it'd be great if there was a way to keep these in sync.

[2019-07-16 09:49] javsalgar commented on #15460
Hi,

Could you use `kubectl describe pod` to see the events that are causing the container to be stuck in pending?

[2019-07-16 09:52] javsalgar commented on #15452
Hi,

It would be very helpful to us if you could describe the necessary steps to replicate the configuration you have. With that, we could reproduce the issue.

[2019-07-16 10:32] esafzay commented on #12851
I was getting the same error when writing to my new master after the failover. My issue was fixed when I replaced **replicaof localhost 6379** with **replicaof 127.0.0.1 6379** in the original replica configuration.

[2019-07-16 11:41] mwieczorek commented on #15091
@gianrubio @vsliouniaev @anothertobi - will you find time to take a look? thanks

[2019-07-16 12:21] Aisuko commented on #15091
@mwieczorek Hi, Did you joined the Slack channel `charts`?  You can make a question on the channel, and I believe you would get more reply there.

[2019-07-16 13:57] mwieczorek commented on #15091
Hi @Aisuko, I thought my question would be too specific for slack channel, but thanks, I'll try also there

[2019-07-16 14:22] mistermania opened #15563 "[stable/sonarqube] PersistentVolumeClaim "sonarqube-dev-postgresql" is invalid: spec: Forbidden: is immutable after creation except resources.requests for bound claims"
**The bug**
Sonarqube is running well with PVC, but after a moment, even if i decide to not change charts, i got the following error in my Helm History:
[code]
This issue also happen with mysql on the PVC "sonarqube-dev-mysql", so the problem seems to not be in the DB chart or be on both ?

**Version of Helm and Kubernetes**:
Kubernetes v1.12.7
Helm v2.14.2

**Which chart**:
stable/sonarqube (with

[2019-07-16 14:30] okgolove commented on #15296
@BYK you want me to add something like this to the entrypoint?
https://github.com/getsentry/onpremise/blob/master/install.sh#L40-L43

[2019-07-16 14:51] rkouyoumjian commented on #12653
@nicolas-g were you able to resolve this?

[2019-07-16 15:01] rophos-rb commented on #10988
@MMartyn I was working on this a whole week and couldn't solve it.
It worked perfectly.
Neeed to thank you!

[2019-07-16 15:03] donnierisk commented on #15460
Hi @javsalgar the logs for mariadb as well as wordpress pod says:

[code]

Is my nfs-server-provisioner possibly not reassigning the pods to their respective PVCs?

[2019-07-16 15:05] stevenmanton commented on #15436
@ramkrishnan8994 it's really hard to say without seeing your `values.yaml`. It sounds like Postgres is trying to connect to a service that doesn't exist. Are you able to see that service running in kubernetes (e.g. `kubectl get svc`)? I'm guessing this was an existing Postgres instance, not one deployed and managed by the chart, right? Also, 2-3 restarts per day implies it's an intermittent issue;

[2019-07-16 15:11] neoakris opened #15568 "[stable/Dex] Make liveness and readiness probes configurable"
**Describe the bug**
On my cluster, dex started to reboot sporadically 12 reboots in 107minutes, it was usable but not stable, The pod events said it was because it's liveness and readiness probes were showing that they were getting a response, but they'd occasionally fail due to
"(Client.Timeout exceeded while awaiting headers)"
I did a live edit of the deployment yaml to update the liveness and

[2019-07-16 15:58] ramkrishnan8994 commented on #15436
@stevenmanton . Yes the service exists. After restarts, the web pod starts working fine without issues

[2019-07-16 16:43] jnaulty opened #15572 "[stable/prometheus-operator] alertmanagerSpec needs logFormat set"
**Describe the bug**
There is an issue deploying prometheus-operator alertmanager pod. It goes into `CrashLoopBackOff`.

**Version of Helm Chart and prometheus-operator App Version**
Chart: prometheus-operator-5.15.0
App: 0.31.1

**Version of Helm and Kubernetes**:
Helm: v2.12.0
Kubernetes: v1.12

**Which chart**:
stable/prometheus-operator

**What happened**:
Stateful set after deploy:
[code]

**

[2019-07-16 17:35] cirocosta opened #15573 "[stable/concourse] Worker pre-stop ConfigMap created in web-only deployment"
**Describe the bug**

Currently, when deploy a Concourse installation that is composed of only web
instances (i.e., it has `worker.enabled == false`), we end up creating the
ConfigMap that generates the `pre-stop` script for the worker.

https://github.com/helm/charts/blob/afdcbd010c407108bffe8cc5cfc3f7a5299c5a86/stable/concourse/templates/worker-prestop-configmap.yaml

That, however, is totally u

[2019-07-16 18:22] BYK commented on #15296
@okgolove - if there's an elegant way, that would be nice (at least a warning). I don't really know how Helm works tho so I trust whatever you think is best.

[2019-07-16 19:26] cloud-rocket opened #15576 "[stable/postgresql] postgresql.conf written in hardcoded location regardless of postgresqlDataDir"
**Describe the bug**

Cannot modify a default Postgres configuration if alternative `postgresqlDataDir` is set. Or alternatively there should be a way to set a custom `conf` path

**Which chart**:

`stable/postgresql`

**What happened**:

`postgresql.conf` is written in hardcoded `/bitnami/postgresql/conf/postgresql.conf` path regardless of `postgresqlDataDir` setting

**What you expected to happe

[2019-07-16 22:30] nicolas-g commented on #12653
@rkouyoumjian  nope :(

[2019-07-16 22:56] stefansedich commented on #15530
I am seeing this too, it appears as if the `cluster-agent` service account is not getting created either but can see the role and binding created so assume it is getting through that {{- if }}, yet to dig into the chart to understand why.

Downgraded to 1.13.4 and everything works again.

[2019-07-16 23:02] jnaulty commented on #14874
@ys-taylorchristie
I found this issue too, and created the issue #15572 (with PR #15582 to resolve this)

[2019-07-16 23:13] stefansedich commented on #15530
I think I figured it out: https://github.com/helm/charts/blob/6eb91d3647cd289790388eadcedc1a4bc238a7b7/stable/datadog/templates/agent-rbac.yaml#L103

Is causing whitespace to be chomped before the --- which causes it to render like so:

[code]

And results in issues, I see a number of places where this is happening in this chart.

[2019-07-17 03:24] tyg03485 commented on #15547
Sorry. It was already possible.

using `master.sidecars.other`

[2019-07-17 03:24] #15547 closed

[2019-07-17 05:07] jwenz723 commented on #10517
Sorry to revive this after so long, I didn't realize that I had been tagged in a comment.... I would like to point out that when running prometheus-operator in minikube that everything is working OK for me except the kubelet metrics collection. The kubelet metrics are failing to be collected with a 403 error, so I guess it requires authentication. I am not sure what it will require to get that wor

[2019-07-17 06:36] g-dury commented on #12716
@simonmacklin @MohammedFadin would be happy to know if you have a solution since I am facing the same issue?! Thanks!

[2019-07-17 06:46] rafariossaa commented on #15576
Hi @cloud-rocket ,
  The parameter postgresDataDir is to set where to store the data, is not related to config files.

  If you need to set configuration values, you can use `postgresqlConfiguration` or `postgresqlExtendedConf` depending on your needs.
  Please take a look at them at the values.yaml, and tell me if that will work for you.

[2019-07-17 07:17] g-dury commented on #12716
One workaround for you would be to rebuild the cassandra docker image with your new configuration:
https://github.com/docker-library/cassandra/tree/5b7eebbf4412cf8b1434cfe6430648c606cdd6de
and adding
`RUN echo "authenticator: PasswordAuthenticator" >> /etc/cassandra/cassandra.yaml`
in the Dockerfile, it is a bit dirty but it is working!
cheers

[2019-07-17 07:54] liorfr commented on #15159
@carrodher can you please respond (if it is in your domain)

Thanks
Lior

[2019-07-17 08:51] aliartiza75 commented on #13457
not stable

[2019-07-17 09:00] vsliouniaev commented on #13457
@aliartiza75 that isn't possible to achieve with the chart. I suggest that any modifications to the alerts that you wish to do should be done yourself, deploying the custom alerts separately to the chart. The alerts are all sourced from several upstreams, which means that the chart would have to add custom templating logic to expose this kind of functionality.

[2019-07-17 09:07] vsliouniaev commented on #15091
@mwieczorek I think that this would be a welcome addition, feel free to open a PR for it

[2019-07-17 09:30] xlucas opened #15587 "Add @xlucas as Trusted Collaborator"
Hello,

As for #13120 and #13279, I'm also working at Datadog and maintaining the Datadog chart. Therefore I would like to be added as a trusted collaborator as well to take part in the PR lifecycle.

Thanks!

@hkaj

[2019-07-17 10:10] jdomag commented on #14900
have the same issue, label is being added instead of being replaced. That causes false alerts in Alertmanager.

[2019-07-17 10:54] aliartiza75 commented on #13457
@vsliouniaev thank you for response.

[2019-07-17 10:54] #13457 closed

[2019-07-17 10:56] #14801 closed

[2019-07-17 10:57] okgolove commented on #15296
@BYK I'd suggest do the next two things:
- add a default request/limit 3gb for sentry-web
- add to [helm notes] https://github.com/helm/helm/blob/master/docs/chart_template_guide/notes_files.md) the warning if request/limit is lower than 3gb (was setup up manually, for example).

[2019-07-17 11:57] hkaj commented on #15587
👋 sponsoring this request - @xlucas works at Datadog and contributes to our chart.

[2019-07-17 12:36] #14021 closed

[2019-07-17 12:58] figaw opened #15621 "[stable/oauth2-proxy] provide `ca-certificates.crt` file to oauth2_proxy deployment"
We're using a self-signed certificate and need to provide at certificate-bundle for the oauth2_proxy.

**Describe the solution you'd like**

I would like, just like the `existingConfig` to be able to specify a `existingCertificateSecret` that would contain an entry called `ca-certificates.crt` which would be mounted to `/etc/ssl/certs/ca-certificates.crt` in the container.

**Describe alternatives

[2019-07-17 13:17] joan-serra commented on #15232
#15353 would fix this

[2019-07-17 13:35] figaw commented on #15621
On second thought. The oauth2-proxy also supports the flags
[code]
So it might actually be nice, being able to mount `extraVolumes` and `extraVolumeMounts`.

My naming here is highly inspired of the way it's handled in the [stable/dex](https://github.com/helm/charts/tree/master/stable/dex) chart:
`values.yaml`:
[code]

and in the `deployment.yaml`:
[code]

[2019-07-17 14:39] P6rguVyrst opened #15623 "[stable/prometheus-operator] Decouple Grafana dashboards from prometheus-operator chart."
**Problem:**
Since I am using Grafana as a central place to aggregate all kinds of different datasources, I find deploying Grafana as a sidekick of Prometheus too restrictive. I would, however, like to use the nice Dashboards this chart comes with (https://github.com/helm/charts/tree/master/stable/prometheus-operator/templates/grafana/dashboards) in my own instance of Grafana.

**Solution 1:**
Add

[2019-07-17 15:36] cloud-rocket commented on #15576
Hi @rafariossaa,
Sorry for maybe not so accurate description.
I am setting `postgresqlConfiguration`, but it generates `postgresql.conf` file in `/bitnami/postgresql/conf/` (default) location. Because my `postgresDataDir` is pointing to another location and uses config files in this location also, this file is ignored.

Tnx

[2019-07-17 16:07] iluuu1994 commented on #15296
I've tried installing Sentry with the following values:

[code]

This was likely overkill but I just wanted to make sure it doesn't crash for the same reason again. Unfortunately, the db-init still kept crashing but for a different reason:

First one:

[code]

Second one:

[code]

Third one:

[code]

It does eventually complete but Sentry still displays it as `PENDING_INSTALL`. The projects have n

[2019-07-17 16:19] 123BLiN opened #15625 "[stable/postgresql] Broken readinessProbe for postgres image 11.1.0"
**Describe the bug**

Changes in 5.2.3 broke readiness probe for Postgres bitnami image 11.1.0

**Version of Helm and Kubernetes**:
[code]
**Which chart**:

stable/postgresql

**What happened**:

starting from 5.2.3 I see this error in pod description:
[code]
Issue is gone if I use 5.2.2

**How to reproduce it**:

`helm upgrade postgres-test --install stable/postgresql --version '5.2.3' --set imag

[2019-07-17 16:22] okgolove commented on #15296
@iluuu1994 I'm pretty sure you should've set up a resource section for a hook job.
https://github.com/helm/charts/blob/master/stable/sentry/templates/hooks/db-init.job.yaml

[2019-07-17 16:27] iluuu1994 commented on #15296
@okgolove Ok I see. I can try that. But the errors don't seem to be related to the memory limit.

[2019-07-17 17:51] MohammedFadin commented on #12716
@g-dury Yes I did. I added a initContainers to copy past the custom configs. I can push and share the repo if you would like?

[2019-07-17 18:08] matttabor commented on #14668
Running into the same issues here where the public ip needs to be created in a different resource group. I eventually get a timeout error.

[2019-07-17 18:48] a7i opened #15658 "[stable/redis] Exporter REDIS_ADDR invalid separator in cluster mode"
**Describe the bug**
Issues with metrics exporter when deploying a Redis chart (v8.1.2) with cluster and metrics enabled. Exporter container logs errors but it does not crash. As a result, metrics are not published.

**Version of Helm and Kubernetes**:
Helm v2.12.2
Kubernetes v1.12.6

**Which chart**:
stable/redis

**What happened**:
In chart upgrade to 8.0.18, metrics image tag was changed to`v1.

[2019-07-17 19:12] rnkhouse opened #15659 "[stable/nginx-ingress] Error: ErrImagePull"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:
kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T08:13:03Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info

[2019-07-17 20:36] #14426 closed

[2019-07-17 20:36] #14393 closed

[2019-07-17 20:45] BYK commented on #15296
@iluuu1994 - the first two ones look like Redis connection/availability issues. The last one seems like a DB crash so maybe the system was starved of I/O or CPU?

[2019-07-17 20:54] iluuu1994 commented on #15296
@BYK It's a completely new Kubernetes cluster hosted on DigitalOcean with two nodes, 4GB of RAM and 2 vCPUs per node. The only things installed are Helm and Ingress. It's not a lot but it should definitely be enough to run one application.

[2019-07-17 21:01] matttabor commented on #14668
@rnkhouse @diepes - were you able to find a work around to this issue?

[2019-07-17 21:11] BYK commented on #15296
@iluuu1994 yeah, that looks like more than enough. That said the initial migration can be intense (we're working on making it better). Anyway, just wanted to point out the Redis issue, not sure about the root cause.

[2019-07-17 21:20] #13717 closed

[2019-07-17 23:13] anujgeek commented on #14393
@vsliouniaev I was working on this setup in Azure (AKS). I've reported the same case here:
https://github.com/virtual-kubelet/virtual-kubelet/issues/673
https://github.com/Azure-Samples/virtual-node-autoscale/issues/40
Sadly, I've not been getting any replies on those as well.

[2019-07-18 03:18] piyush9194 opened #15663 "[stable/prometheus-operator/] Container level metrics not available in grafana"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2019-07-18 07:36] #14157 closed

[2019-07-18 08:38] 0lmi opened #15665 "[stable/prometheus] alertmanager is not able to write to /data"
**Describe the bug**
After installing the chart alertmanager is not able to write to /data partition due to lack of permissions.

**Version of Helm and Kubernetes**:
Kubernetes: v1.12.6-eks-d69f1b
Helm: v2.14.1

**Which chart**:
stable/prometheus

**What happened**:
After installing the chart alertmanager gets "permission denied" when it tries to write to /data
[code]
[code]

**What you expected t

[2019-07-18 08:49] javsalgar commented on #15658
Hi,

Taking a look at the recent documentation, it seems that they changed the exporter to work as a sidecar. We would need then to remove the metrics deployment and switch it to a sidecar approach. I will update this thread when I have a PR ready

[2019-07-18 09:42] MahaGamal opened #15671 "[stable/airflow] log volume permission issue"
Is this a BUG REPORT or FEATURE REQUEST? (choose one):
BUG

Version of Helm and Kubernetes:
Helm 2.12.3
Kubernetes v1.13.3

Which chart:
stable/airflow

What happened:
{{logsPersistence.enabled}} to {{true}} works for the webserver and scheduler pods.
The airflow user inside the container has the UID 1000. But the volum own is root user has a different UID, it can cause issues.

In that case airfl

[2019-07-18 10:10] Hashfyre commented on #13869
@cristinanegrean, it'd be great if you could maintain `stable/stackdriver-exporter`
At work I mostly end up using your version: https://github.com/cristinanegrean/charts/tree/master/stable/stackdriver-exporter

Also, great blog post: https://blog.trifork.com/2019/02/07/centralized-metrics-with-stackdriver-prometheus-exporter/

[2019-07-18 10:12] tnimni opened #15672 "jenkins stable/chart - reverse proxy broken behind ssl"
**Describe the bug**
A clear and concise description of what the bug is.

Reverse proxy is broken according to jenkins, chart installed on eks behind ALB which route all traffic from 443 to ngnix inside the cluster

**Version of Helm and Kubernetes**:
kubernetes 1.13
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &vers

[2019-07-18 10:53] aminesouabni opened #15673 "Multiple subcharts with differents .Values properties"
Hello everybody,

I'm trying to create a chart with multiple subcharts ( 2 instances of ibm-db2oltp-dev)
Is there a way to define in the same values.yaml file, different configuration for each instance.

I need two database:

db2inst.instname: user1
db2inst.password: password1
options.databaseName: dbname1

db2inst.instname: user2
db2inst.password: password2
options.databaseName: dbname2

I saw it

[2019-07-18 11:16] mmaier2 opened #15676 "[stable/sonarqube] Privileged init container needed since 2.1.0?"
**Describe the bug**
Not a bug but more a design question:
The privileged init container makes it difficult to install, e.g. on an Openshift environment or other security concerned kubernetes platforms.

**Version of Helm and Kubernetes**:
Not relevant

**Which chart**:
stable/sonarqube >= 2.1.0

**What happened**:
Openshift, e.g. does not allow privileged containers as a default. Is this init con

[2019-07-18 11:21] proskehy opened #15677 "[stable/prometheus] Prometheus is down (404 Not Found)"
**Describe the bug**
The Prometheus endpoint's status is Down with the code 404. The same code is a result of any attempts to add Prometheus as datasource into Grafana.

![screenshot](https://user-images.githubusercontent.com/24292015/61453611-e1b0ef80-a95e-11e9-8c87-b6e212a835fa.png)

**Version of Helm and Kubernetes**:
Helm: v2.12.3
K8s: v1.14.1

**Which chart**:
stable/prometheus

**What happen

[2019-07-18 11:36] #13183 closed

[2019-07-18 11:36] #13510 closed

[2019-07-18 11:56] #15673 closed

[2019-07-18 12:15] rjkernick commented on #15486
The purpose of those files is to be able to run the command "helm test". If the issue is the random id, we can change it to a static name.

[2019-07-18 12:15] rjkernick commented on #15486
/assign

[2019-07-18 12:19] pmontanari opened #15679 "[stable/datadog] kube-state-metrics generates RBAC errors due to old Chart dependency"
The dependency chart for kube-state-metrics is ~0.16.0 whereas the latest version of the chart is 2.0.0

If we want to use the latest version of kube-state-metrics v1.6.0, we have a lot of errors due to RBAC such as:

E0718 10:02:29.504756       1 reflector.go:126] k8s.io/kube-state-metrics/internal/collector/builder.go:482: Failed to list *v1.Deployment: deployments.apps is forbidden: User "syste

[2019-07-18 12:36] ilhanadiyaman commented on #14725
I also had same problems. In order to fix this issue I did steps below:
- If your nodes are running different regions, use [topology-aware storage class](https://kubernetes.io/blog/2018/10/11/topology-aware-volume-provisioning-in-kubernetes/) instead of default("gp2"). With default settings, EKS creates EBS storages in different AZ then node placed. Setup topology-aware-storage-class and change th

[2019-07-18 12:50] cirocosta opened #15681 "[stable/concourse] provide `web.hardAntiAffinity` in `values`"
[stable/concourse] provide `web.hardAntiAffinity` in `values`

**Is your feature request related to a problem? Please describe.**

We currently allow the configuration of `worker.hardAntiAffinity` to ease the
burden on the user of providing an entire `affinity` rule.

Rather than

[code]

One can simply

[code]

Which is quite convenient.

**Describe the solution you'd like**

Have a `web.hardAnti

[2019-07-18 13:12] ramkrishnan8994 commented on #13262
@cBournhonesque, @naseemkullah  -
Please look at this issue - https://github.com/helm/charts/issues/15436#issue-466762092

Will the above issue get solved by adding `listen_addresses: "'*'"` to the postgres configuration.
My connection from airflow web/scheduler gets interrupted on an adhoc basis. On restart, its working fine.

[2019-07-18 13:13] ramkrishnan8994 commented on #15436
@stevenmanton - Please look at this - https://github.com/helm/charts/issues/13262#issuecomment-512809289

Let me know if this setting in postgres would help

[2019-07-18 13:32] adhodgson1 opened #15684 "[stable/traefik] Enable the dashboard without ingress"
When enabling the dashboard in the Traefik chart (setting dashboard.enabled to True), an ingress rule is always created to allow the dashboard to be available externally. As we access the dashboard via Kubernetes port forwards, I would like the creation of this rule to be skipped if we set a value like dashboard.create_ingress to False. The default values.yaml would set this to true to match the e

[2019-07-18 13:35] silvermind commented on #15419
removing the alertmanager.baseURL fixed the issue for me. see: https://github.com/helm/charts/blob/master/stable/prometheus/templates/alertmanager-deployment.yaml#L54

if  --web.external-url= is set, the Pod does not repsonse to the HealthChecks anymore.. not sure where this is comming from..

          {{- if .Values.alertmanager.baseURL }}
            - --web.external-url={{  .Values.alertmanage

[2019-07-18 16:02] YoussB commented on #14867
🙌

[2019-07-18 16:04] YoussB commented on #13019
awaiting the merge of:
- #15579
- concourse/concourse#4133

[2019-07-18 16:16] #14488 closed

[2019-07-18 16:20] rummens opened #15691 "[stable/nginx-ingress] incompatible types for comparison defaultBackend.replicaCount"
**Describe the bug**
Running into incomatible type error when using the default values of chart.

Command s. below

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.14+unreleased", GitCommit:"ed2373629bb8eccb2c2c663cced6f40e759c7d15", GitTreeState:"clean"}
Server: &version.Version{SemVer:"canary+unreleased", GitCommit:"88bb48bc6f573e21909147792a16daad7665e45f", GitTreeState:

[2019-07-18 16:32] #15659 closed

[2019-07-18 16:35] tretos53 opened #15693 "[stable/jenkins] Can't update some plugins"
**Describe the bug**
My InstallPlugins section in value file looks like this:

[code]
And I can change the version of each plugin, run below command and all the plugins get updated.

`helm upgrade jenkins stable/jenkins -f values.yaml`

My jenkins 2.176.2-alpine, shows under Manage Jenkins / Manage Plugins / Updates below plugins that needs updating:

[code]

When I add them to InstallPlugins sect

[2019-07-18 16:39] rnkhouse opened #15694 "[stable/nginx-ingress] Get client real IP address with service type ClusterIP"
**Describe the bug**
I have services with ClusterIP in Kubernetes and using Nginx ingress to expose these services to the internet. When I try to get the client IP address in the application I am getting cluster's node IP. How can I retrieve real client IP?

**Version of Helm and Kubernetes**:
    kubectl version
    Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitComm

[2019-07-18 16:44] ChiefAlexander commented on #12653
Instead of setting the target port set the port of the service itself. EG change `.Values.controller.service.targetPorts.http` to `.Values.controller.service.ports.http`

[2019-07-18 18:27] dwinters-gpsw commented on #14725
@ilhanadiyaman - Thanks!  I ended up and did the same thing as you described in the second bullet.  Our EKS cluster did not have large enough instances to satisfy the 8GB heaps.

[2019-07-18 18:38] jonaspetersorensen opened #15701 "[stable/velero] Why is the credential secret for azure handled differently versus the cli install?"
**Describe the bug**
Pod fails because it cannot find expected environment variables for the azure credentials.

**Version of Helm and Kubernetes**:
Helm client v2.12.2, server v2.14.1
AKS, k8s v1.12.8

**Which chart**:
velero v2.1.1

**What happened**:
I installed the secret as described in the README,
`kubectl create secret generic cloud-credentials --namespace velero --from-file cloud=credentia

[2019-07-18 19:16] #14497 closed

[2019-07-18 19:16] #14498 closed

[2019-07-18 19:35] stevenmanton commented on #13262
I'm interested in this change as well. Unfortunately, it's a breaking change and I'm not sure how to handle that. (For example, the name of the key used to store the postgres password is different in the `0.13.1` version and the current version: `postgresPassword` vs `posgresqlPassword` if memory serves.)

[2019-07-18 19:35] stevenmanton commented on #15436
@ramkrishnan8994 I'm not sure if that setting would help you. Unfortunately, upgrading the posgres subchart is a breaking change.

[2019-07-18 19:46] torstenwalter commented on #15672
You can specify `master.jenkinsUrl`

https://github.com/helm/charts/blob/master/stable/jenkins/templates/config.yaml#L195

[2019-07-18 20:12] elpadrinoIV opened #15703 "[stable/telegraf] add image pull secrets to download other images of telegraf"
**Feature request**
Add the possibility to define imagePullSecrets to be able to download telegraf docker image from a private repository.

**Describe the solution you'd like**
I suggest the same solution as the elasticsearch chart solution (https://github.com/elastic/helm-charts/blob/master/elasticsearch/values.yaml#L178)
- In values.yaml
[code]
- In deployment.yaml
[code]

**Describe alternative

[2019-07-18 20:38] torstenwalter commented on #15693
Could it be that you updated the problematic plugins manually?

In that case please have a look at
https://github.com/jenkinsci/docker/issues/790

[2019-07-18 21:11] #15694 closed

[2019-07-18 22:16] #14504 closed

[2019-07-18 23:16] #14039 closed

[2019-07-18 23:39] jayhding commented on #9075
I also met same issue.. then realised the config name should be `gce_sd_configs` instead of `gce_sd_config`, even the documentation uses singular https://prometheus.io/docs/prometheus/latest/configuration/configuration/#gce_sd_config

[2019-07-19 00:52] demisx commented on #15161
Just ran into the same issue myself. It is confusing. Per author, this is what you have to

[code]

[2019-07-19 01:59] g-dury commented on #12716
@MohammedFadin That would be great! Cheers

[2019-07-19 06:06] boxidilshan commented on #15691
Any resolution for this? I also get this error. Your help is appreciated.

[2019-07-19 06:29] andy199 opened #15708 "What is the default login password for grafana?"
What is the default login password for grafana?

[2019-07-19 07:09] rummens commented on #15691
I was able to find a workaround, it is not clean but works for now.

1. Fork the repo
2. Change the following files:
   -controller-poddisruptionbudget.yaml
   -default-backend-poddisruptionbudget.yaml
3. You have to replace 1.0 with "one" in the first line of both files
4. Install this new chart and it works for me.

But again this is not a good fix, someone should have a look at this. I tried di

[2019-07-19 07:50] jasper-nl commented on #15516
Got the same issue. I did not do the helm install but client only to get the generated yaml. The yaml contains for the rolebinding the namespace for the ...-main. This causes the error as that namespace does not match the namespace the yaml is applied with.
Based on the generated yaml the following yaml can be applied to get the authorization on the secrets working (https://github.com/helm/charts/

[2019-07-19 09:05] tretos53 commented on #15693
Thank you @torstenwalter. This is something I took over so there is a possibility that it's ben built that way. You can close this for now as I need to check those plugins in docker and it might take some time.

[2019-07-19 09:11] #15091 closed

[2019-07-19 10:04] javsalgar commented on #15658
Hi, I created this https://github.com/helm/charts/pull/15713 to cover this issue

[2019-07-19 11:59] boxidilshan commented on #15691
@rummens yes I too got it working using a workaround. IMO this needs to be fixed.

[2019-07-19 12:57] AviNitSri commented on #14613
I have installed sentry and used my own ingress.
The sentry application is working were DSN: https://<public key>@<base url>/<project id>
But the DSN field is still empty. how to automatically populate the DSN field with correct DSN

[2019-07-19 14:19] raam86 opened #15715 "[stable/rabbitmq] pvc isn't purged on helm del --purge"
**Describe the bug**
As title suggest, helm del --pruge will not delete the PVCs which means newly generated passwords do not take
**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/rabbitmq

**What happened**:
returned value from
[code]
was wrong

**What you expected to happen**:
The password should allow connection even if it's not the first time rabbitmq is installed on the clu

[2019-07-19 14:39] arrkaye opened #15716 "[stable/spark] Adding annotations for the service for internal LoadBalancer"
Hi,

I'm having an issue where I've updated the values.yaml file like below:

`
    Annotations:
      service.beta.kubernetes.io/aws-load-balancer-internal: 0.0.0.0/0
`

But the annotation is not being added to the Service. Consequently, and External LoadBalancer is being created.

Please can you advise how to achieve what I'm trying to do?

Thanks,
Ark

[2019-07-19 14:45] norwoodj opened #15717 "[stable/grafana] Automatically generate chart documentation"
**Is your feature request related to a problem? Please describe.**
I have noticed a number of charts where the README documentation is out of sync with the chart values. This is due to the related problem that updating values and having to also update the defaults and descriptions of those values in the README.md is tedious and error-prone. It would be nice to have a single source of truth for the

[2019-07-19 15:20] mlagran1 commented on #11337
Has this issue been solved? I'm still having the same problem. I've updated Helm and I'm using chart version prometheus-operator-5.19.0.

[2019-07-19 17:44] agustin-caylent opened #15721 "[stable/external-dns] assume-role not working with default profile"
**Describe the bug**
When providing `aws.assumeRoleArn` using a valid Role, which the EKS has permission to assume, I get the following error:

[code]

**Version of Helm and Kubernetes**:
helm: v2.14.1
EKS: 1.12

**Which chart**:
stable/external-dns

**What happened**:
Cannot get external-dns to access hosted zone in another AWS Account

**What you expected to happen**:
external-dns to assume the

[2019-07-19 18:16] #14423 closed

[2019-07-19 18:57] edencivitas opened #15722 "[incubator/sparkoperator] Spark Operator - Add AWS IAM Role"
**Is your feature request related to a problem? Please describe.**
In order to get the Spark operator to download S3 dependencies I need to add AWS dependencies into the container but I also need to add an AWS IAM Role to the operator container. I'm getting a class not found when trying to download my spark jobs from S3. Getting this project to work with AWS S3 have been issues before, ex: https:/

[2019-07-19 19:16] #12519 closed

[2019-07-19 19:16] #14526 closed

[2019-07-19 19:46] the-real-cphillips commented on #15721
@agustin-caylent just an FYI I found this after searching a bit
https://github.com/helm/charts/issues/10886#issuecomment-466469997

I still think this Issue is necessary but I can confirm it works as expected

[2019-07-19 20:12] pgporada commented on #14936
I'm encountering this as well with prometheus-operator-5.16.0 in one cluster. I was able to successfully upgrade another cluster though which is very strange.
[code]

I then delete the PSP and try again, but I receive
[code]

What can we do without completely deleting the prometheus-operator?

[2019-07-19 20:20] agustin-caylent commented on #15721
Hi @the-real-cphillips , thanks for the comment! I saw that, but if I am not mistaken it was a workaround for `aws.roleArn` (which as I understand, is now replaced with `aws.assumeRoleArn`).

The use of this annotation requires you having setup `kube2iam`, right? And we currently don't have or plan to have it.

[2019-07-19 20:40] agustin-caylent commented on #15721
Does `aws.assumeRoleArn` requires the use of `aws.credentials.accessKey` and `aws.credentials.secretKey` instead of the default profile? The role currently set in the workers node, is allowed to assume the needed role.

[2019-07-19 21:03] danilorsilva opened #15724 "[nfs-server-provisioner] Permission denied when i try to use a hostpath disk to storage data"
**Describe the bug**
Permission denied when i try to deploy nfs-server-provisioner using helm

**Version of Helm and Kubernetes**:
Helm v2.14.1
Kubernetes 1.13.5

**Which chart**:
nfs-server-provisioner

**What happened**:
When i deploy the helm chart using emptyDir, it works fine, when i create a PV and use this PV to storage nfs data i receive this error on nfs pod:

Error setting up NFS server:

[2019-07-19 21:46] previ opened #15725 "[stable/grafana] unable to configure dashboards in values file"
I cannot define dashboard to be imported in grafana at install time.

**Description**:
Configuring dashboard to be auto imported (by dashboard id) at install time, they are ignored.

Helm: 2.13.1
Kubernetes: 1.13.5

**Which chart**: stable/grafana 3.5.11

**What happened**: dashboards configured are actually ignored.

**What you expected to happen**: dashboard configured to be impoterd to be actua

[2019-07-19 21:55] #15703 closed

[2019-07-19 23:50] irasnyd commented on #15725
I hit this same issue today.

FYI, this works with the `stable/grafana` chart version 3.5.4, but does not work in the latest version 3.5.12.

[2019-07-20 00:03] irasnyd commented on #15725
Further testing shows these results:

| Version | Result |
| --- | --- |
| 3.5.4 | Works Perfectly |
| 3.5.5 | Works Perfectly |
| 3.5.6 | YAML parse error (see below) |
| 3.5.7 | Grafana crashes on startup (see below) |
| 3.5.8 | Grafana crashes on startup (logs are identical to 3.5.7) |

`stable/grafana` version 3.5.6 YAML parse error:
[code]

`stable/grafana` version 3.5.7 crash logs:
[code]

[2019-07-20 04:42] obeyler commented on #15725
this should be solve by https://github.com/helm/charts/pull/15702

[2019-07-20 05:16] #14335 closed

[2019-07-20 11:42] nick-lehmann commented on #15410
Thank you @chrisingenhaag, using the redis pod without a password solved the issue. I must have accidentally changed this setting (probably because I did a Gitlab deployment where you should the password). However, it would be great if this would be documented as it not obvious.

[2019-07-20 11:42] #15410 closed

[2019-07-20 12:48] the-real-cphillips commented on #15721
I believe you are correct in that it is/was a workaround, we are using `aws-iam-authenticator`.
I had incorrectly assumed you were too  😄

[2019-07-20 15:03] #15294 closed

[2019-07-20 15:44] #14560 closed

[2019-07-20 16:45] #14445 closed

[2019-07-20 16:51] cirocosta commented on #14033
https://github.com/helm/charts/pull/15680 🙌

[2019-07-20 18:44] #13580 closed

[2019-07-20 19:45] #14568 closed

[2019-07-20 20:11] charlspjohn commented on #14568
Used configmap and advanced configuration. Then issue solved

[2019-07-20 21:44] #14577 closed

[2019-07-21 02:44] #14580 closed

[2019-07-21 04:39] bkaid commented on #14668
I figured this out from this [issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/1837).  You need to set the controller service annotation `service.beta.kubernetes.io/azure-load-balancer-resource-group` to the public ip resource group name.  I used the Terraform Helm provider and was able to use:
[code]

which from command line is probably (give or take an escaping per

[2019-07-21 09:41] obeyler commented on #15725
The PR #15702 is merged could you check if it close this issue ?
Thanks by advance @previ

[2019-07-21 09:49] #13492 closed

[2019-07-21 10:44] #14586 closed

[2019-07-21 12:44] #14588 closed

[2019-07-21 14:42] #14595 closed

[2019-07-21 14:42] #14596 closed

[2019-07-21 19:06] patst commented on #15691
I got the same error with helm version v2.14.**2**.
But it seems to be working with helm version v2.14.**1**

[2019-07-21 19:42] #14605 closed

[2019-07-21 20:02] krichter722 opened #15733 "[meta] Deactive stale bot"
The project seems to use stale bot which closes important issues which hasn't been dealt with after a certain time (e.g. https://github.com/helm/charts/issues/10949). Issues don't disappear after a time. The have to be resolved or a decision has to be made to close it. Closing them automatically is of no help for no project ever and causes the overhead that one day you have to figure out which iss

[2019-07-21 20:42] #14607 closed

[2019-07-21 21:28] nesl247 commented on #14773
This is still relevant.

[2019-07-21 21:44] seansund opened #15734 "[stable/sonarqube] misspelled Values key reference in pvc.yaml"
**Describe the bug**
There is a typo in line 11 of the pvc.yaml file where it tries to reference `.Values.persistence.annotations` but instead is using `.Values.presistence.annotations`

**Version of Helm and Kubernetes**:
Helm: v2.14.2
Kubernetes: N/A

**Which chart**:
stable/sonarqube

**What happened**:
Error:
render error in "sonarqube/templates/pvc.yaml": template: sonarqube/templates/pvc.yam

[2019-07-21 21:48] previ commented on #15725
Tested stable/grafana chart version 3.6.0, same values as before; now I get `Init:Error` at container `download-dashboards` starting.
Error message in init container log: `/bin/sh: /etc/grafana/download_dashboards.sh: Permission denied`.

[2019-07-22 06:46] torstenwalter commented on #15672
@tnimni Did this solve your problem?

[2019-07-22 06:46] #15693 closed

[2019-07-22 06:49] torstenwalter commented on #14773
This is solved via #15202. Namespaces are rendered as part of the templating for all namespaced resources.

[2019-07-22 06:49] #14773 closed

[2019-07-22 06:50] #13730 closed

[2019-07-22 06:52] #14978 closed

[2019-07-22 06:54] #14514 closed

[2019-07-22 08:07] bailsman commented on #13492
https://github.com/helm/charts/blob/master/stable/grafana/templates/clusterrole.yaml and
https://github.com/helm/charts/blob/master/stable/grafana/templates/role.yaml have the following lines:

[code]

With this change, does the role need to include secrets in addition to configmaps?

[2019-07-22 08:59] lisaliuyl opened #15736 "[stable/mongodb-replicaset]Helm3 install stable/mongo-replicaset ,when bootstrap container execute on-start.sh, error occured"
helm version:v3.0.0-alpha.1
k8s    version:v1.14.2
I use helm (v3) to install  stable/mongodb-replicaset,the command line is
`helm install  --name-template mongocluster stable/mongodb-replicaset`
and prompt is:
[code]

When  I check the status of mongocluster-mongodb-replicaset-0 ,the result show :the container bootstrap is Terminated,reason columnshow: Error,Maybe some error occured ,So I checked

[2019-07-22 09:14] kiddingl opened #15737 "[stable/prometheus] Upgrade node-exporter from v0.16.0 to latest(v0.18.0)"
**Version of Helm and Kubernetes**:
helm: v2.12.3
kubelet v1.11.8

**Which chart**:
node-exporter:v0.18.0

**What happened**:
I can‘t find mountpoint=“rootfs”

**What you expected to happen**:

I want to count the filesystem information of each node through node-exporter v0.18.0., but  I only have one mountpoint : mountpoint= ”/”. in v0.16.0, I can get more about the filesystem. Information, like

[2019-07-22 09:16] kiddingl commented on #15737
Why i have so many node_filesystem_device_errors?

[2019-07-22 09:22] PierluigiLenociAkelius commented on #14937
Has anyone else had this problem?

[2019-07-22 09:28] compleatang commented on #14935
not stale. still actionable.

[2019-07-22 09:58] ms42Q opened #15741 "[stable/nextcloud] config folder permission"
**Describe the bug**
When using the `configs` value, the config folder owner is set to `root:www-data` which causes missing config files in the config folder.

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/nextcloud:1.6.1

**What happened**:
I wanted to make use of the configs option to mount a config map into the config folder which caused my deployment to crash because of m

[2019-07-22 10:07] ms42Q commented on #15741
This Issue seems to be related:

[2019-07-22 10:15] #15232 closed

[2019-07-22 10:25] ratnakarreddyg opened #15742 "prometheus-server CrashLoopBackOff"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:
Helm Version: v2.14.2
Kubernetes Version: v1.15.0

**Which chart**:
stable/prometheus

**What happened**:
Pod named prometheus-server-66fbdff99b-z4vbj always in CrashLoopBackOff    state

**What you expected to happen**:
prometheus-server pod supposed to start and running

**How to reprodu

[2019-07-22 12:46] fr-ser commented on #13492
Good point. I somehow missed the normal role and only updated the clusterrole

[2019-07-22 13:03] marcadella opened #15751 "[stable/mysql] ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)"
**Describe the bug**
I run `helm install --name my-release stable/mysql` and get the root password as described. When I attempt to login as root WITHIN the pod (`kubectl exec -it pod/my-release-mysql-<pod_id> mysql -h 127.0.0.1 -u root -p<ROOT-PASSWORD>`), I get: `ERROR 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)`
Note that I do not use any PV as in #9942 and I us

[2019-07-22 14:34] tompizmor commented on #15715
Hello @raam86,

What you describe is a well-known limitation of Kubernetes statefulsets.

Original site: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#limitations

[2019-07-22 14:55] mfvitale opened #15757 "[stable/postgresql] initdbScripts executed at each restart"
**Describe the bug**
By setting the init script works fine but if the pod is killed and restarted, the script are executed again.  This behavior occurs when 'postgresqlDataDir' and 'persistence.mountPath' are set to a different folder rather than the default.

**Version of Helm and Kubernetes**:
Helm : v2.14.1
Kubernetes: v1.11.0+d4cacc0

**Which chart**:
postgresql

**What happened**:
The file '.

[2019-07-22 15:07] GreenKnight15 opened #15759 "[stable/reloader] Use full name instead of name for ClusterRoleBinding name"
The ClusterRoleBinding name is prefixed with the chart name which is causing issues deploying the chart multiple times into a cluster since ClusterRoleBinding is at the cluster scope not the namespace scope. In my case reloader is a dependency to an application that gets deployed and tested in parallel which is why reloader is trying to be deployed multiple times and fails on the second deployment

[2019-07-22 15:11] GreenKnight15 commented on #15759
/assign GreenKnight15

[2019-07-22 15:51] msvticket commented on #9254
As they mention in the video they use [prometheus-operator](https://github.com/coreos/prometheus-operator). So this is not possible with just prometheus as installed with the prometheus chart.

[2019-07-22 17:23] xlucas commented on #15587
Hey @mattfarina could you take a look at this request? 🙏 Thanks a lot!

[2019-07-22 18:02] #14289 closed

[2019-07-22 19:00] Dmitry1987 commented on #12900
The chart authors probably did not receive the notification about this issue. I also see other tickets with related questions, unanswered. It's better to modify the chart yourself and use it, and submit a PR with your changes.

These tickets were also not answered:
1. About S3 backup option (which is why I'm here also :) )  https://github.com/helm/charts/issues/12300  and GCS backup option config

[2019-07-22 19:10] billyshambrook opened #15762 "[stable/falco] Daemonset environment variables"
Would like to pass in environment variables to the daemonset pods.

**Is your feature request related to a problem? Please describe.**

This requirement has come up to solve this issue, which is solved by passing an environment variable - https://github.com/falcosecurity/falco/issues/650#issuecomment-501541258

**Describe the solution you'd like**

Pass a map of environment variables.

[2019-07-22 19:43] irasnyd commented on #15725
I confirmed that deploying the Helm chart version 3.7.0 does not work. The `download-dashboards` initContainer gives the following log message:

[code]

This is because the `/etc/grafana/download_dashboards.sh` file is not executable. AFAICT, it is not possible to instruct Kubernetes to set the executable mode bits on a file which is mounted from a ConfigMap.

I did this instead, which works as ex

[2019-07-22 20:02] jdsarr opened #15764 "[incubator/cassandra] Cassandra backup job can't be installed in k8s 1.13"
**Describe the bug**
We recently updated our EKS kubernetes cluster to k8s 1.13. We have our own fork of the cassandra helm chart here, but we were seeing a problem upon installation. We tried installing the incubator one, but we were seeing the same issue. The backup job does not want to install due to validation error with PodTemplateSpec

**Version of Helm and Kubernetes**:
Kubernetes 1.13 on E

[2019-07-22 20:20] dodizzle opened #15766 "[stable/spinnaker] add --only-spinnaker-managed option to halyard provider"
Would be helpful to  add the --only-spinnaker-managed option to the hal config provider kubernetes account command.
By default this is disabled.
I submitted this PR which adds this feature.
https://github.com/helm/charts/pull/15765

[2019-07-22 20:22] dodizzle commented on #15766
/assign @paulczar

[2019-07-22 20:40] Dmitry1987 commented on #12900
lol I forgot what I wanted to ask myself...
So, I'm looking for an "official" method to backup to S3, and seems like I'll not find it here 🤕 .
Gotta make myself and send a PR.

[2019-07-22 20:41] Dmitry1987 commented on #12900
@here  @everyone  if anybody hears us on this deserted island, please advice on a proper way to configure an AWS deployment with artifact storage on S3 and backups 🙏   thanks in advance! 😌

[2019-07-22 20:44] nbarnum opened #15767 "[stable/openebs] deployment ndm operator nodeSelector incorrect indentation"
**Describe the bug**
In the stable/openebs chart, specifying a non-empty `ndmOperator.nodeSelector` causes a YAML parse error:

[code]

**Version of Helm and Kubernetes**:
Helm/Tiller 2.14.2
Kubernetes 1.14.3

[2019-07-22 21:42] raam86 commented on #15715
the main problem is that the password seems to be associated with these volumes and del —purge despite its name doesn’t allow a clean helm install

[2019-07-22 22:00] #15300 closed

[2019-07-22 22:10] jdsarr commented on #15764
Upon further investigation, it seems that this is a problem with helm 2.14.0. Updating to 2.14.1 or 2.14.2 fixes the problem. I'll close this issue.

[2019-07-22 22:10] #15764 closed

[2019-07-22 23:02] #14617 closed

[2019-07-23 05:30] #15766 closed

[2019-07-23 06:14] OlliL opened #15773 "[stable/graylog] Errors in an air-gap environment"
The initContainer "setup" for Graylog just exits while logging the following:

[code]

Then having a look at the helm chart makes it clear:
https://github.com/helm/charts/blob/master/stable/graylog/templates/statefulset.yaml

`wget https://storage.googleapis.com/kubernetes-release/release/v1.14.0/bin/linux/amd64/kubectl -O /k8s/kubectl`

Wow - this is crazy - downloading kubectl from google everyt

[2019-07-23 07:04] GaneshbabuRamamoorthy opened #15774 "stable/neo4j - Not able setup neo4j in kubernetes using helm charts"
Hi All,

I am trying to setup neo4j in kubernetes using the [helm charts](https://github.com/helm/charts/tree/master/stable/neo4j) and below is the values.yaml file I have used and modified few things like installing plugin and adding extra vars,

[code]

Below is the command i execute and getting the response,

[code]

I followed the default [values.yaml](https://github.com/helm/charts/blob/maste

[2019-07-23 07:46] tompizmor commented on #15757
Hello @mfvitale,

Thanks for creating the issue. I just want to let you know that I was able to reproduce the issue.
We will work on a fix and update this issue once we have more information.

[2019-07-23 11:51] SergeyD commented on #14118
`redis-ha-server-XXX` pods has multiple containers running within it: `redis`, `sentinel` and `redis-exporter`. If one of container restarts pod restarts counter will be increased. In our case `redis` and `sentinel` container running without restart, while `redis-exporter` restarts and it happens more often on highly loaded clusters (to check which containers restart inside pod describe it with `k

[2019-07-23 11:54] desaintmartin opened #15798 "[stable/postgresql] custom metrics are not allowed"
Documentation bug: The documentation (https://github.com/helm/charts/tree/master/stable/postgresql#metrics) states that custom metrics can be enabled. But there is no such parameter.

Is that expected?
cc @ prydonius @tompizmor @sameersbn @carrodher @javsalgar @juan131

[2019-07-23 11:56] strigazi commented on #11420
Is this fixed? I still see localhost:8084 in the deck pod, when using: `spinnaker-1.13.2	1.12.5`

[2019-07-23 11:58] apunreddy opened #15799 "stable/kong"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add additional podLabels via the values file

**Describe alternatives you've considered**
None

**Additional context**
None

[2019-07-23 12:21] ms42Q commented on #15741
As the permissions flags in my sample output indicate, the issue is not caused by missing file permissions. It seems to me that there is a problem with the way nextcloud creates the initial configuration files.
This is what i observed:
I tried moving the configMap mount to a sub directory in the config folder but that didn't solve the problem. I then removed the configs value again and added an in

[2019-07-23 12:42] ms42Q commented on #15741
In any case I think it would be nice to have a separate config folder to mount the configMaps. Currently it is not possible to do that but there is an open issue that is discussing this feature.

[2019-07-23 13:11] michtam commented on #15708
Default login is **admin**.
But there is no default password - it's generating if it's not set and stored inside secretes.
You can read it in this way:
`kubectl get secret --namespace default grafana -o jsonpath="{.data.admin-password}" | base64 --decode ; echo`

[2019-07-23 13:48] Lakshmisowmya opened #15805 "stable/grafana Dashboards to different org"
**Is your feature request related to a problem? Please describe.**
Unable to add dashboard to different org through using configmap template

**Describe the solution you'd like**
Similar to sidecar for datasource
https://github.com/helm/charts/tree/master/stable/grafana#sidecar-for-datasources
Where mentioning a orgId will create datasource in different org. Need a similar feature to dashboards
ht

[2019-07-23 14:28] #15762 closed

[2019-07-23 14:54] cragandme opened #15810 "[stable/mongodb] unable to access the service outside of cluster"
**Describe the bug**
I was able to sucessfully deploy this service in my google cloud instance and can access it via cluster ip and endpoints. But while trying to access the service outside cluster when i need to set service ip using
`export SERVICE_IP=$(kubectl get svc --namespace default mymongo-mongodb --template "{{ range (index .status.loadBalancer.ingress 0) }}{{.}}{{ end }}")
`
i get

**Ver

[2019-07-23 15:24] rudolphjacksonm commented on #15733
Here are just two issues that have had a lot of feedback from the community which have been closed by stale bot:
#10949
#1255

[2019-07-23 15:37] krakazyabra opened #15811 "Can't create additional dashboard for grafana in prometheus-operator"
Hi!
I can't add new custom dashboard for grafana. Can't understand, to what section in my values.yaml, put it.
I'm using stable/prometheus-operator in helm. My values.yaml file is pretty simple and looks like example https://github.com/helm/charts/blob/master/stable/prometheus-operator/values.yaml
Can you, please, explain me with some examples?

[2019-07-23 16:02] #14094 closed

[2019-07-23 16:45] yurrriq commented on #14972
In this case you need to specify boolean values as strings, e.g.

[code]

[2019-07-23 16:54] yurrriq opened #15814 "[stable/cluster-autoscaler] Useless/empty secret created"
**Describe the bug**
https://github.com/helm/charts/pull/11978 introduces an unnecessary secret when, e.g. `cloudProvider` is `aws` and not both `awsAccessKeyID` and `awsSecretAccessKey` are set.

**What you expected to happen**:
No such secret.

**How to reproduce it** (as minimally and precisely as possible):
[code]

[2019-07-23 19:16] razor-x opened #15816 "[stable/external-dns] Version 2 adds undocumented regression for extraEnv"
**Describe the bug**

The chart value `extraEnv` in v1 supported arrays of non-strings, in v2 this feature was removed without notice. Please see this PR for a complete history of why this feature was added: https://github.com/helm/charts/pull/8587

Ideally the maintainers would expedite and restore the original code without a new PR, however if requested I can re-implement this feature for v2 and

[2019-07-23 19:28] 0lmi commented on #14972
It's fixed after #12998 is merged (version 0.14.2).

[2019-07-23 19:29] #14972 closed

[2019-07-23 22:33] towolf commented on #13747
WTF, I just found this issue after wracking my brain for two evenings and it's closed?

[2019-07-23 22:39] towolf commented on #13747
@ssalaues could we reopen this? I found the same thing, and it pegs out CPU hard.

My post in K8s Slack: https://kubernetes.slack.com/archives/C09NXKJKA/p1563909535138700

[2019-07-23 23:20] ssalaues commented on #13747
@towolf I don't think I have permissions to reopen this but if you make a new issue with a reference to this, it might make things easier and I'll be happy to help track this down.

While I try my best to keep up with issues related to the redis-ha chart, it's more difficult when I'm not tagged :/

At first glance with the mention of forking this comes to mind since by default even with `persisten

[2019-07-23 23:55] ssalaues commented on #13747
@towolf
Interesting it looks like the OP found the problem was with the readiness script
https://github.com/opencontainers/runc/issues/2055#issuecomment-492603794

[2019-07-23 23:57] #13266 closed

[2019-07-24 03:02] jnaulty commented on #15811
I have tried the following documented steps and it works:
https://github.com/helm/charts/tree/0771fc7e4c3853c0b64e6b4a5ad7b4824d688db9/stable/grafana#sidecar-for-dashboards

[2019-07-24 03:11] jnaulty opened #15819 "[stable/prometheus-operator] issue configuring datasources from kubernetes secrets"
**Describe the bug**
According to the Grafana docs, the advised method for adding datasources to grafana:

 [grafana-readme](https://github.com/helm/charts/tree/0771fc7e4c3853c0b64e6b4a5ad7b4824d688db9/stable/grafana#sidecar-for-datasources)

Unfortunately, the prometheus-operator is using an older version of this chart. This issue was most recently resolved in this grafana [PR](https://github.com

[2019-07-24 06:05] tolleiv commented on #13193
For everyone else looking into this - adding `--recreate-pods` to the helm command is a workaround of course.

[2019-07-24 06:44] rushrecon commented on #14592
Using
`plugins:
 install:
 - "https://github.com/AmadeusITGroup/sonar-stash/releases/download/1.6.0/sonar-stash-plugin-1.6.0.jar"`
instead of
`- "https://github.com/AmadeusITGroup/sonar-stash/releases/download/1.3.0/sonar-stash-plugin-1.3.0.jar"`
helps.

[2019-07-24 06:48] rushrecon commented on #14592
Using
`https://github.com/AmadeusITGroup/sonar-stash/releases/download/1.6.0/sonar-stash-plugin-1.6.0.jar`
instead of
`https://github.com/AmadeusITGroup/sonar-stash/releases/download/1.3.0/sonar-stash-plugin-1.3.0.jar`
helps.

[2019-07-24 07:01] Lakshmisowmya commented on #15805
**Current configuration in values.yaml**

 dashboards:
    enabled: false
    label: grafana_dashboard
    folder: /tmp/dashboards
    defaultFolderName: null
    searchNamespace: null
    provider:
      name: sidecarProvider
      orgid: 1
      folder: ''
      type: file
      disableDelete: false

**Expected:**

 dashboards:
--  name: org1 configuration
  enabled: false
   label: grafana_dash

[2019-07-24 07:02] #15814 closed

[2019-07-24 08:30] krakazyabra commented on #15811
Thanks a lot! It was what i need!
I had error while applying this configMap:
[code]
So helped to quote the grafana_dashboard's value.
Thanks a lot.

[2019-07-24 08:30] #15811 closed

[2019-07-24 08:52] mariogeorgievft opened #15822 "[stable/prometheus-operator] disabling grafana's servicemonitor"
**Describe the bug**
If you for instance want to use prometheus-operator but want to disable grafana in an umbrella chart the following happens:

Umbrella chart name : mychart
[code]

[code]

First of all, if you try to do

[code]

this does not work, because the yaml gets prefixed with prometheus-operator, ok this has a simple way to get over with:

[code]
However when we disable the chart -> the

[2019-07-24 09:31] ricardompcarvalho opened #15824 "[stable/sonarqube] sonarqube.properties are not applied"
**Describe the bug**
I fullfill my sonarqube.properties with these values and when i open my configurations in sonar the values don't appear.
![image](https://user-images.githubusercontent.com/27811451/61782307-be25f300-adfd-11e9-9056-f4e0fa358d60.png)

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
SONARQUBE

**What happened**:
Sonarqube.properties are not applied

**How to r

[2019-07-24 10:09] towolf commented on #13747
@ssalaues thanks for your response. We have readinessProbe at `5s` period interval. And teadinessProbe is not doing much, essentially only `redis-cli PING`. What's the deal with that?

Is it just the multitude of of pods? We have a lot of Redis pods because everybody and their grandmother want their own redis-ha statefulset as a dependency.

![image](https://user-images.githubusercontent.com/34521

[2019-07-24 10:10] towolf commented on #13747
@marech did you solve this problem?

Are you able to reopen this issue? If not then we should open a new one, not?

[2019-07-24 10:15] towolf commented on #13747
@ssalaues is this connected to `readinessprobe.sh` script coming from the configmap and that leads to overhead? When running strace on systemd I can see a lot of syscalls related to mounts.

[2019-07-24 10:57] #14628 closed

[2019-07-24 10:57] #14633 closed

[2019-07-24 11:04] tompizmor commented on #15757
@mfvitale The PR is now merged. Can you try again using the latest chart?

[2019-07-24 11:15] marech commented on #13747
Hey!
@towolf @ssalaues
Oh, i'm glad i wasn't the only one with this problem.

Yep the root cause what i found is liveness/readiness probes, well not exactly the script itself, but command what executes it or how it's executed.

So basically every time probe is called runc attaches to container and executes that shell script and detaches, so apparently attaching/detaching and invoking command makes

[2019-07-24 11:40] smatyas commented on #12057
For the record, since #14863 the `deploymentStrategy` parameter is a map type.

So the modified workaround in the config will look like this:
[code]

[2019-07-24 12:20] nixonraphy opened #15828 "[stable/airflow] Is Kubernetes executor available as a provision in the same charts"
**Is your feature request related to a problem? Please describe.**

The default executor in the helm charts is "Celery" . Is kubernetes executor also supported ? Or , Celery is the only executor available ,in which case the option can be removed from the charts

**Describe the solution you'd like**

I saw a comment as to have a documentation regarding use of Kubeexecutor as well alongside Celery i

[2019-07-24 13:18] mfvitale commented on #15757
Hi @tompizmor thanks. All works fine now.

[2019-07-24 13:33] babalsurer opened #15831 "Mongodb secondry pod Autometic restart"
I have deployed MongoDB and it is automatically restarted after some time and it is continually restarted. but my primary pod is working fine.
I have checked logs I got below error.
mongodb INFO  Cannot connect to MongoDB server. Retrying in 5 seconds...:
2019-07-24T13:32:55.118+0000 E QUERY    [js] Error: not master and slaveOk=false :
_getErrorWithCode@src/mongo/shell/utils.js:25:13
DB.prototype

[2019-07-24 13:49] smatyas opened #15833 "[stable/grafana] problem with setting environment variable"
**Describe the bug**

I want to set an evironment variable to grafana, namely **GF_PANELS_DISABLE_SANITIZE_HTML=true**.

When I try to set it through the values.yaml file, the install/upgrade fails like this:

[code]

As you can see, I actually use grafana through the stable/prometheus-operator chart, but I don't think that would be the issue here.

The interesting part of the values.yaml:
[code]

[2019-07-24 14:02] cc-stjm commented on #12314
I like @andreykaipov 's approach above. You could avoid making it a breaking change by having a bool that toggles multiple pipeline support, and so switches between old and new way of doing it. (Means that templates are more complicated though)

[2019-07-24 14:13] smatyas commented on #15833
As a workaround, I can use the `envFromSecret` parameter to set the desired env. var.

[2019-07-24 14:33] k0ffee opened #15837 "[stable/sealed-secrets] role needs "list" privilege"
**Describe the bug**
Sealed-secrets container v0.8.0 fails to start with a Go panic and ends up in CrashLoopBackOff.

**Version of Helm and Kubernetes**:
[code]

Kubernetes is 1.12.8-gke.10 on Google Kubernetes Engine.

**Which chart**:
stable/sealed-secrets

**What happened**:
[code]

**What you expected to happen**:
[code]

**How to reproduce it** (as minimally and precisely as possible):
[code]

[2019-07-24 16:04] pavdmyt commented on #8785
Running Elasticsearch cluster _v6.7.1_. Having the same issue, after deleting elasticsearch master pod, cluster is stuck for approx 65-70 seconds. Setting `net.ipv4.tcp_retries2=3` and `transport.connect_timeout=3s` reduces the outage to 33-37 seconds. But still not able to reach 8-10 seconds mentioned by @kimxogus

Setting `discovery.zen.fd.ping_timeout=3s` has no effect.

[2019-07-24 16:46] #15658 closed

[2019-07-24 18:29] marcindulak commented on #14968
Link an old, unmerged PR for reference https://github.com/helm/charts/pull/9566

[2019-07-24 18:33] #14673 closed

[2019-07-24 19:34] towolf commented on #13747
So, wow. I did a lot of patching to remove readinessProbes and livenessProbes from more than 90 redis-ha pods. Just to see what the effect is:

`export NS=goe-dev; kubectl -n $NS patch --type='json' -p='[{"op": "remove", "path": "/spec/template/spec/containers/0/readinessProbe"}, {"op": "remove", "path": "/spec/template/spec/containers/0/livenessProbe"}, {"op": "remove", "path": "/spec/template/sp

[2019-07-24 19:42] towolf commented on #13747
So, for 90 redis-ha pods I expect 5000 probes per minute, but we get 250,000 forks total. And that is 50 forks per probe.

That's a lot, no?

[2019-07-24 19:48] t451772 commented on #15672
I am having this issue.
Kubernetes 1.13.5
My command was:
helm install --name jenkins --namespace jenkins stable/jenkins --set master.ingress.enabled=true --set master.ingress.hostName=fake.node.com --set master.serviceType=ClusterIP --set master.jenkinsUrl=http://fake.node.com
My result is jenkins alert that reverse proxy is broken. Possibly related the Jenkins python API doesn't work for the cha

[2019-07-24 19:55] torstenwalter commented on #15672
@ts4z

- Which URL are you using when accessing Jenkins?
- Which URL is shows under Jenkins -> Manage Jenkins -> Jenkins Location -> Jenkins URL?
- Are both identical?

[2019-07-24 21:00] BernhardLenz opened #15859 "[stable/nginx-ingress] "--set controller.service.loadBalancerIP=" causes "requested ip is neither static nor assigned to the LB" error"
**Describe the bug**
I am trying to create an nginx-ingress controller using helm with a static ip address in google using below steps. However I am getting a "requested ip is neither static nor assigned to the LB" error.

**Version of Helm and Kubernetes**:
helm version
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &

[2019-07-24 21:14] t451772 commented on #15672
I am accessing Jenkins on a URL which looks a lot like http://fake.node.com
Under Jenkins -> Manage Jenkins -> Configure System -> Jenkins Location the url is http://fake.node.com/
They are different by a /. I will see if changing that matters

[2019-07-24 21:33] #14625 closed

[2019-07-24 21:45] tnimni commented on #15672
hi all, sorry for the late respone
@torstenwalter i did specify the url and it didn't help it just keep saying it's broken
when i run the test with curl from command line from this page https://wiki.jenkins.io/display/JENKINS/Jenkins+says+my+reverse+proxy+setup+is+broken
it works fine, meaning it's not broken
i specified the url from the ui not from the chart
so i don't understand why it say it's

[2019-07-24 21:53] BernhardLenz commented on #15859
Never mind. It turns out that google only supports regional static IPs for their Network LBs (NLBs) as described here:

[2019-07-24 21:55] #15859 closed

[2019-07-24 22:02] towolf commented on #13747
@ssalaues I'm thinking about switching to `tcpSocket` probes. What do you think?

[2019-07-24 22:03] ssalaues commented on #13747
@towolf That's incredible difference. I think there might be a way to do http probes and net the same effect.

[2019-07-24 22:04] ssalaues commented on #13747
`tcpSocket` might be the quickest solution. I'll test out some http probes to see what I get.

[2019-07-24 22:15] #15486 closed

[2019-07-24 22:31] #15572 closed

[2019-07-24 22:33] #14590 closed

[2019-07-25 00:56] ssalaues commented on #13747
So after testing it out with forkstat, it looks like every time the probe happens, 4 forks occur per container. So x4 per pod (x2 per container and x2 types of probes) every 5 seconds.
exec->shell->shell->exit
[code]

That quickly can add up for any additional installs. I'm testing out a few different things but otherwise at the very least changing the probe to a tcpSocket works.

[2019-07-25 01:33] #14670 closed

[2019-07-25 01:46] szemkhel commented on #15188
I think i have same issue when using stable. Replica set reports:

Reproduce:
`helm delete s3 --purge && helm install --namespace gitlab --name s3 --set persistence.existingClaim=pv-gitlab-storage stable/minio`

[2019-07-25 02:03] tylercamp commented on #15188
I can only think of tiller RBAC not being set to allow SA modifications, SA declaration uses `{{ .Release.Namespace }}` so it should be made under your `gitlab` namespace

Does `kubectl get sa -n gitlab` show any service accounts?

[2019-07-25 03:49] kimxogus commented on #8785
@pavdmyt I recommend [elastic's official helm chart](https://github.com/elastic/helm-charts). This issue is fixed in elastic's official chart via https://github.com/elastic/helm-charts/pull/119
Setting `masterTerminationFix: true` will handle this problem automatically.

[2019-07-25 06:53] #15757 closed

[2019-07-25 07:09] marech commented on #13747
@towolf congrats with hotfix, thats huge drop indeed!

About tcpSocket i liked that idea, but couldn't find a way to customize it, it just opens tcp connection to redis, but according to this PR https://github.com/helm/charts/pull/14999 it could take time before redis is ready even port is open.

For example for haproxy to check if redis is healthy i used following snippet:
[code]
wondering how so

[2019-07-25 07:13] deepaksood619 opened #15869 "[stable/airflow] Flower gives postgres error logs after starting up"
**Describe the bug**
A clear and concise description of what the bug is.
When i create a new airflow deployment this error comes in flower logs

**Version of Helm and Kubernetes**:
`helm version`
[code]

`kubectl version`
[code]

**Which chart**:
stable/airflow

**What happened**:
Error while deploying airflow with default values

**What you expected to happen**:
no errors

**How to reproduce it**

[2019-07-25 07:27] deepaksood619 opened #15870 "[stable/airflow] flower dashboard cannot be accessed and liveness probe failure after upgrade or new install"
**Describe the bug**
A clear and concise description of what the bug is.
Flower dashboard cannot be accessed in port 5555 and flower pod stuck in restart loop

**Version of Helm and Kubernetes**:
`helm version`
[code]

`kubectl version`
[code]

**Which chart**:
stable/airflow

**What happened**:
Flower dashboard cannot be accessed using port-forward at both service or directly from pod at port 555

[2019-07-25 07:38] towolf commented on #13747
@ssalaues but your numbers leave out all the numerous calls to `runc`, which are directly associated with executing the probes. So the number of forks is a lot higher.

[2019-07-25 07:43] towolf commented on #13747
@marech there's no facility to actually establish the connection and to interact with the port. You can only check if the port is open.

And regarding "actual" readiness, that is what we use the sentinels for, no?. The sentinels still provide *ground truth* about which Redis sever to talk to. Not a local shell script that runs and establishes local readiness.

[2019-07-25 07:49] miguelaeh commented on #15774
Hi @GaneshbabuRamamoorthy ,
I guess the problem is the array of the init containers  is closed before the specification of the init containers. See below:
[code]

[2019-07-25 07:53] miguelaeh commented on #15831
Hi @babalsurer ,
Could you detail how did you deploy it?

[2019-07-25 08:09] hanusiakl commented on #6309
@arunkumarrspl To be sure that your pod has '**init-config"** inside "**Init Continers**" section, just run `kubectl describe pod "your pod name"` and read first child from **Init Conteiners** section. In my case it was copy-default-config. So instead of  `kubectl logs {{pod_name}} -c init-config` I run  `kubectl logs {{pod_name}} -c copy-default-config`

[2019-07-25 08:34] miguelaeh commented on #15810
Hi @cragandme ,
I cannot replicate it, I deployed with
[code]

And executing
[code]

I get the correct IP:
[code]

[2019-07-25 08:39] pavdmyt commented on #8785
@kimxogus Thanks for the reference! I should give it a try.

[2019-07-25 09:51] #15819 closed

[2019-07-25 10:53] david-benes opened #15895 "stable/mongodb Specifying mongodbUsername without mongodbDatabase causes primary node to fail during initialization"
When you specify username but omit databaseName, a node (or the primary node in cluster) fails with non descriptive error:

[code]

Chart: stable/mongodb@6.2.0

I expect either a meaningful error to be logged or least to have a mention in docs about dependency between these two values. It might seem obvious for the values to depend on each other. However, without meaningful error I spent considera

[2019-07-25 11:01] te95 opened #15896 "[stable/airflow] Missing Postgres and Redis Password in 3.0.6"
**Describe the bug**
Since the we updated from airflow 3.0.2 to airflow 3.0.6 we are experiencing issues with the jobs being stuck in `scheduled` but never proceeding to `queued` or `running`. Checking the logs of the workers revealed the following log message over and over again:
[code]
Checking the environment variables revealed that `REDIS_PASSWORD` and `POSTGRES_PASSWORD` were not set:
[code]

[2019-07-25 12:18] szemkhel commented on #15188
Now it is, but only because I have replicated helm chart workaround in form of minio-account.yaml:
`apiVersion: v1
kind: ServiceAccount
metadata:
  name: minio
  namespace: gitlab`

`kubectl apply -f minio-account.yaml`

Account was not created by helm by default. Is permission to allow SA modifications default in Tiller setup?

[2019-07-25 13:15] SergeyD commented on #14118
UPDATE: with increased timeout from 1s to 5s `redis-exporter` container running without restarts.

[2019-07-25 13:24] c4tz opened #15897 "[stable/sentry] Update sentry.conf.py to match current version"
**Describe the bug**
The version of `sentry.conf.py` in the helm chart is outdated and missing some mappings, such as: https://github.com/getsentry/onpremise/blob/af07ad9c55183b4341c4ad49fe1009cad9dd4135/sentry.conf.py#L291

Because of this, it is not possible to use the Slack integration, for example.

**Which chart**:
Sentry

**What happened**:
I tried to configure Sentry's Slack integration by

[2019-07-25 14:09] tylercamp commented on #15188
@szemkhel It depends on the default RBAC permissions for your cluster

Try running `helm install <... other opts ...> --dry-run --debug` and check if the service account YAML is included in the generated output.

Alternatively, you can add `--set serviceAccount.create=false` so it doesn't try to create a service account. When no SA name is provided and it's not set to make a service account, it'll

[2019-07-25 14:11] tylercamp commented on #15188
I had set `serviceAccount.create=true` as default so that the chart would do a more "complete"/"correct" install as default behavior, but for backwards compatibility and cases like this I'm wondering if it's better to leave that default as `false`

👍 / 👎 on this comment and I guess we'll see preference?

[2019-07-25 14:18] lorantonodipo commented on #14900
Thanks for writing down the workaround, saved me a few hours

[2019-07-25 15:06] tompizmor commented on #15798
@desaintmartin You are right! Currently the use of customMetrics is not supported so either we update the documentation or we we re-add customMetrics support. Originally it was added in this PR https://github.com/helm/charts/pull/791

[2019-07-25 15:11] #13019 closed

[2019-07-25 16:22] adamcroissant opened #15901 "[stable/newrelic-infrastructure] Unable to discover kube-state-metrics due to label change"
**Describe the bug**
The newrelic infrastructure agent will not result in the cluster appearing in newrelic currently if installed clean because it cannot auto-locate the kube-state-metrics service and pods. Exact error message is:
[code]

**Version of Helm and Kubernetes**:
Helm: v2.11.0
Kubernetes: v1.11.8

**Which chart**:
[stable/newrelic-infrastructure](https://github.com/helm/charts/tree/mas

[2019-07-25 18:15] ssalaues commented on #15086
@praveen056 Your issue is your version of Helm is too old to support the sha1sum function. It was added in Helm v2.10. Try updating Helm and it should allow you to install without any errors.

[2019-07-25 18:33] gabrielsyapse commented on #15870
Am new to using this chart and deployed it many times in last week, but also having exact same issue, with no idea how to debug from here. But going to try 3.0.2 now.

[2019-07-25 18:40] #14243 closed

[2019-07-25 18:50] ssalaues commented on #13747
That's true, with the numbers I'm seeing plus the calls to runc it can easily get to the numbers you're seeing with various deployments.

Yeah exactly. The readiness is more for Kubernetes to take pods in and out of service rotation which doesn't really matter for this chart because clients directly rely on the Sentinels. So essentially the readiness is useless for the Redis containers and the tcp

[2019-07-25 19:40] #14489 closed

[2019-07-25 19:41] previ commented on #15725
solved in 3.7.3

[2019-07-25 19:41] #15725 closed

[2019-07-25 21:40] #14710 closed

[2019-07-25 21:40] #14713 closed

[2019-07-25 22:30] #15837 closed

[2019-07-25 22:55] JayThomason commented on #9241
I just seemed to run into this issue while using `helm upgrade --install` but when I went back to just using `helm install` it worked. It's possible I was using upgrade --install incorrectly but definitely seems weird to me that they don't behave the same.

[2019-07-25 23:40] dcherman commented on #15816
Just ran into this myself.  This feels like a bug rather than a feature since it also conflicts with the documentation

This is treating the `extraEnv` option like it's an object/map

https://github.com/helm/charts/blob/14c82cd4f9035589bebb936d4fb14cfd0376ec56/stable/external-dns/templates/secret.yaml#L36-L38

However it's documented to be an array

https://github.com/helm/charts/tree/14c82cd4f903

[2019-07-25 23:40] #14716 closed

[2019-07-26 01:49] DandyDeveloper commented on #14118
@SergeyD The container should still state why it's restarting. Do you get anything in the log?

The exporter is super lightweight, so it should have very few problems. Are you using the latest version of the chart?

[2019-07-26 02:05] #15737 closed

[2019-07-26 02:49] dragid10 commented on #15869
Did you ever figure out what was wrong, I'm getting this exact same issue

[2019-07-26 03:34] dragid10 commented on #15869
Actually running `k exec -it <POD> airflow initdb --namespace=<YOUR-NAMESPACE>` helped me fix that issue. I don't know why the db isn't being initialized the first time properly though

[2019-07-26 04:34] yurrriq commented on #13867
I’d love someone, especially someone who runs on GCE, to join me on stable/cluster-autoscaler :)

[2019-07-26 07:03] miguelaeh commented on #15721
Hi,
Could you confirm if it works using AWS credentials?

[2019-07-26 07:34] ebcFlagman opened #15913 "Schema-Registry JAAS config not set"
Output of `helm version`:
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}

Output of `kubectl version`:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.0", GitCommit:"e8462b5b5dc2584fdcd18

[2019-07-26 07:37] vsliouniaev commented on #9241
@JayThomason it's not a specific command - the installation will simply fail sporadically

[2019-07-26 07:40] #14726 closed

[2019-07-26 08:55] tompizmor commented on #15816
@razor-x, I think it is better to do a new PR re-implementing the extra env-vars functionality.

@dcherman IMHO, we should support what it was already supported before external-dns 2.X.

---------

@bagratte has already sent this PR https://github.com/helm/charts/pull/15900 fixing extraVars rendering. @razor-x @dcherman can you review it and see if it works for you?

[2019-07-26 10:40] #14705 closed

[2019-07-26 10:44] longwuyuan opened #15911 "stable/postgresql --set initdbScripts\.init.sql ="create table" not working"
**Describe the bug**
--set initdbScrpts.init\.sql = "{CREATE TABLE passengers(field1 INTEGER,field2 INTEGER)"  creates only one field in the table

**Version of Helm and Kubernetes**:
helm = 2.14.1/2
kubernetes = 1.15.1

**Which chart**:
stable/postgresql

**What happened**:
Can't create table with more than 1 field ;
[code]

[code]

Only one field was created
**What you expected to happen**:
2 fi

[2019-07-26 10:46] phouri commented on #13109
Nope.

On Fri, 26 Jul 2019 at 10:41 stale[bot] <notifications@github.com> wrote:

[2019-07-26 10:52] longwuyuan commented on #15911
The issue revolves around parsing the "create table" command parameters. i can provide any info needed

[2019-07-26 11:08] longwuyuan commented on #15911
some wierd output issue. it works. closing

[2019-07-26 11:08] #15911 closed

[2019-07-26 11:40] #14747 closed

[2019-07-26 11:40] #14702 closed

[2019-07-26 12:02] will-beta commented on #15870
Having exact same issue!

[2019-07-26 12:10] vitali-zevako commented on #12889
it does not related to auth.enabled
Seems initMongodStandalone does not work
Here is log from bootstrap container:

`2019/07/26 12:03:55 Peer list updated
was []
now [vitali-mongo-mongodb-replicaset-0.vitali-mongo-mongodb-replicaset.default.svc.cluster.local]
2019/07/26 12:03:55 execing: /init/on-start.sh with stdin: vitali-mongo-mongodb-replicaset-0.vitali-mongo-mongodb-replicaset.default.svc.clu

[2019-07-26 12:30] towolf commented on #13747
@ssalaues thanks for the offer, I will do this next week.

This is also handled by sentinel. I also had the same problem. The problem that new pods were killed while receiving the initial data dump.

So the problem that was fixed in PR #14999 was that the pod was terminated *prematurely* while it was still LOADING the data from the other redis nodes. So the old probe was too strict, while our new

[2019-07-26 14:20] johnburns320 opened #15915 "stable/velero - Azure deployment unable to get environment variables"
**Describe the bug**

Deployment on Azure uses an invalid environment variable configuration which fails to make the cloud-credentials secret available to the pod.

**Version of Helm and Kubernetes**:

Helm:
[code]

Kubernetes:
[code]

**Which chart**:

stable/velero --version 2.1.1

**What happened**:
[code]

**What you expected to happen**:

Environment variables are loaded and velero continues

[2019-07-26 14:27] isaacsanders commented on #11465
Same.

[2019-07-26 14:40] #13983 closed

[2019-07-26 15:24] #15459 closed

[2019-07-26 15:40] #14758 closed

[2019-07-26 17:18] JayThomason commented on #9241
Right. Previously I was wondering if under the hood helm might be doing something slightly different when calling `upgrade --install` vs. `install` that would exacerbate this issue.

Now that I read https://github.com/helm/helm/pull/5112 it does look like that should be the authoritative fix.

I'm currently on v2.14.1 so I will see if I can replicate.

[2019-07-26 17:40] #14761 closed

[2019-07-26 19:16] cronolio opened #15922 "[stable/mariadb] clusterIp provided IP is already allocated"
[master-svc.yaml](https://github.com/helm/charts/blob/master/stable/mariadb/templates/master-svc.yaml#L19) and [slave-svc.yaml](https://github.com/helm/charts/blob/master/stable/mariadb/templates/slave-svc.yaml#L20) is use the same clusterIP from the [values-production.yaml](https://github.com/helm/charts/blob/master/stable/mariadb/values-production.yaml#L68) (or [values.yaml](https://github.com/h

[2019-07-27 03:58] Neustradamus commented on #10768
Any news?

[2019-07-27 13:03] #14332 closed

[2019-07-27 15:57] ajayakumar-jayaraj opened #15926 "Apache Kafka Helm Chart incubator - GKE Internal loadbalancer"
**Describe the bug**
unable to create internal load balancer in GKE for kafka /incubator chart

**Version of Helm and Kubernetes**:

SemVer:"v2.14.2" and   v1.13.7-gke.8
**Which chart**:
incubator/kafka

**What happened**:
The internal loadbalancer is not working as intended. for example when we define " annotations:
    cloud.google.com/load-balancer-type: Internal

Error:
003638a:kafka-qa $ helm

[2019-07-27 18:02] #13757 closed

[2019-07-27 20:32] #14790 closed

[2019-07-27 23:05] Morriz commented on #15064
still an issue

[2019-07-28 01:23] rphansen91 commented on #8893
Somewhat old but for others interested I ran into this issue when loading a plugin not supported by my neo4j according to this version table https://github.com/neo4j-contrib/neo4j-apoc-procedures#version-compatibility-matrix

#10573

[2019-07-28 03:32] #14798 closed

[2019-07-28 05:36] Aisuko commented on #15922
cc @carrodher Hello sir, Is this has some special settings for production deployments?

[2019-07-28 07:29] cronolio commented on #15922
Nope. Difference is described [here](https://github.com/helm/charts/tree/master/stable/mariadb#production-configuration)

[2019-07-28 07:35] Aisuko commented on #15922
Thanks.

[2019-07-28 09:32] #14527 closed

[2019-07-28 14:32] #14811 closed

[2019-07-28 15:32] #14759 closed

[2019-07-28 17:38] cirocosta commented on #15124
🙌

[2019-07-28 21:24] thavlik commented on #10316
I'm having this issue as well after running `helm delete --purge` on prometheus-operator. Can't reinstall, even with --replace.

[2019-07-28 21:41] solohin commented on #10316
The same for
[code]

[2019-07-28 23:51] #14823 closed

[2019-07-29 01:15] dragid10 commented on #11275
@kalyanaramansanthanam were you able to figure this out? How do you start the ssh-agent, and if it is not needed, what is the proper configuration to do this?

[2019-07-29 07:47] miguelaeh commented on #15922
Hi @cronolio ,
I think that PR will fix the problem you are facing. Could you confirm please?

[2019-07-29 08:25] liorfr commented on #15159
@jackzampolin can you please assist

Thanks
Lior

[2019-07-29 08:39] cronolio commented on #15922
hm. possible problem is that production values has ```slave.replicas: 2```

[2019-07-29 08:57] #15922 closed

[2019-07-29 09:49] Lakshmisowmya commented on #15805
Solution:

**values.yaml**

sidecar:
  image: kiwigrid/k8s-sidecar:0.0.18
  imagePullPolicy: IfNotPresent
  resources: {}
  dashboards:
    enabled: true
    label: grafana_dashboard
    # folder in the pod that should hold the collected dashboards
    **folder: /tmp/dashboards**
    searchNamespace: null

**configmap-dashboard-provider.yaml**
data:
  provider.yaml: |-
    apiVersion: 1
    provid

[2019-07-29 09:49] #15805 closed

[2019-07-29 09:58] jinbal commented on #15896
Can confirm I'm experiencing the same issue - rolled back to 3.0.2 as a workaround

[2019-07-29 10:30] juan131 commented on #15895
Thanks so much for reporting this @david-benes !!! I just created a PR to address this issue

[2019-07-29 10:57] Hansa064 commented on #13390
I do have the same issue. Any updates on this? How can this be solved? Clicking on "Login" just does nothing.

[2019-07-29 12:12] duksis commented on #4540
here is the fix applied on the origin on the typo bug https://github.com/kubernetes-retired/contrib/commit/584b78cfcb88a9e432ee22701fb22b51face8d0d