[2020-02-14 16:20] Jaydee94 commented on #20757
Hey @marcadella, i`ve got the same problem the last days. My Fix for this is the following.
Add the following Value to values.yaml:
[code]

Change templates/_helper_create_bucket.txt to:
[code]

This one worked for me in our OpenShift-Cluster.

[2020-02-14 16:32] harshavardhana commented on #20757
@Jaydee94 feel free to send a fix

[2020-02-14 16:34] nvtkaszpir commented on #19861
so what's the update on this? @rendhalver @Miouge1 @hectorj2f

[2020-02-14 16:48] rowanruseler commented on #19283
@Pigmalion I've no version called 'latest', do you mean 1.1.5?

[2020-02-14 17:02] #20709 closed

[2020-02-14 17:39] Jaydee94 commented on #20757
I have commited a fix for this issue.
It is under Review now .

[2020-02-14 22:19] rnkhouse opened #20769 "[stable/sonarqube] SSL support for the PostgreSQL database"
Right now, there is no option to provide an SSL certificate to connect with the PostgreSQL database. We cannot use this on production without SSL.

**Describe the solution you'd like**
The way sonarqube connects to PostgreSQL with SSL is below:

There should be an option to provide these files from the helm chart.
Refer this line in deployment.yaml inside template directory:

[2020-02-14 23:16] prashanth-sams commented on #20727
I am facing the same issue

[2020-02-14 23:25] dpkirchner commented on #7989
FYI for future searchers: Disabling minio in values.yaml won't disable minio deployment/STS installation, it just prevents minio use.

[2020-02-15 00:02] dpkirchner opened #20772 "[stable/spinnaker] Truncating newline after password-file (and password-command) triggers error"
**Describe the bug**

Adding a docker registry results in an error when the hal install script runs.

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

`stable/spinnaker`

**What happened**:

[code]

**What you expected to happen**:

I expected it the installer to successfully use the specified registry.

**How to reproduce it** (as minimally and precisely as possible):

Install the c

[2020-02-15 01:48] fredbeltrao commented on #20721
@rowanruseler Any idea about what this could be?

[2020-02-15 02:37] linux0x5c commented on #20738
I have same problem.

[2020-02-15 02:55] VenkateshSrini commented on #20723
@miguelaeh ,
Sorry before you could post the reply I had uninstalled the new Docker version and then went ahead and installed the older version 2.1.X. It was having Kubernetes 1.14.X version of kubernetes. In that I could see this is running with out any issues. I'm not sure whether this an issue from Docker or Kubernetes cluster. Just in case if you can try doing this and check if you are able to

[2020-02-15 03:00] rjshrjndrn commented on #18377
@sd2302 Sorry for the delay.
This is what I've changed.
**prometheus-operator-8.5.8**
[code]

[2020-02-15 05:03] Aisuko opened #20774 "[stable/kapacitor] The chart needs new maintainer to maintaining."
**Describe the bug**
A clear and concise description of what the bug is.

Please see the PR below, we have no idea how to merge the PR. And I saw all the maintainer no longer maintain the chart. So, I can as a maintainer who can maintain the chart and follow the [Deprecation timeline](https://github.com/helm/charts#deprecation-timeline) to move forward it to the other community.

https://github.co

[2020-02-15 11:07] #20118 closed

[2020-02-15 14:33] #19830 closed

[2020-02-15 14:34] kaminek commented on #12377
same issue here, adding
[code]
in the values file seems to resolve the problem (or create the according ClusterRole and ClusterRoleBinding manually)

[2020-02-15 15:07] Pigmalion commented on #19283
I meant the last one. didn't specify the version simply helm installed.... I believe it gives you the last available.

[2020-02-15 15:16] naseemkullah commented on #20013
Thanks for raising the issue! Should be fixed now via https://github.com/helm/charts/pull/20760

[2020-02-15 15:33] #19784 closed

[2020-02-16 04:38] appunni-dishq commented on #20728
No it was a mistake with another issue with oassword having '/'  in it  which causes kombu to read charters before that '/' as port number but on cast to int it fails. Check kombu url_to_parts code for it

[2020-02-16 05:21] naseemkullah commented on #20365
Hi @veerappans , thanks for raising this!

Is this still required? I can look into implementing this, would this be only for the `api` port? Other ports include rpc, collectd, opentsdb, graphite, etc.

[2020-02-16 10:31] AdrianSkierniewski opened #20789 "[stable/pgadmin] Fix README to use email instead username"
Hi,

It looks like there is a bug in the documentation. It says `env.username` but in `vaules.yaml` there is `email`. https://github.com/helm/charts/blob/master/stable/pgadmin/values.yaml#L74

[2020-02-16 10:55] #19845 closed

[2020-02-16 10:55] #19844 closed

[2020-02-16 10:55] #19824 closed

[2020-02-16 11:55] #19847 closed

[2020-02-16 12:46] NadavkOptimalQ opened #20790 "[stable/prometheus-operator] All data was deleted after cluster upgrade"
**Describe the bug**
I have a cluster running on azure (aks). Yesterday I upgraded the cluster from version 1.13.11 to 1.14.8 and then again to 1.15.7.
I upgraded the control plane twice and then the nodes twice.
After the upgrade all the data I had on grafana and prometheus was deleted.
The PV still exists and the PVC still exists.

**Version of Helm and Kubernetes**:
helm version:
Client: &versi

[2020-02-16 14:53] palko444 commented on #17632
I supose issue is with configMap creation, for me its working when some option is added, e.g.
# Will add custom configuration options to Nginx https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/
  config:
    client-header-buffer-size: 1k

[2020-02-16 16:17] marshallford opened #20793 "[stable/prometheus-operator] SecurityContext issues, pods failing to start"
**Describe the bug**

SecurityContext for various pods appear to be configured incorrectly.

**Version of Helm and Kubernetes**:

Helm: `3.0.3`
Kubernetes: `1.17.0`

**Which chart**:

`stable/prometheus-operator`

**What happened**:

[code]

[code]

[code]

**What you expected to happen**:

Containers come up.

**How to reproduce it** (as minimally and precisely as possible):

values.yaml:

[code]

[2020-02-16 17:54] ivanlefkate opened #20795 "[stable/sonatype-nexus] Add clusterIP parm for additional service"
Hi all,
I noticed upgrading the chart ends up in an error "spec.clusterIP: Invalid value: field is immutable" when I am using the additional service. I believe this can be avoided by adding the possibility to set the clusterIP field as a value parm for the additional service, so it can be set to "None" for this specific use case. I can work on this little feature if you believe it worths doing.

T

[2020-02-16 18:58] dcherniv commented on #20389
@acim
That conditional in prometheus wouldn't work because the class is still set to "" which depending on the cloud and admission controller may or may not work.
On GKE with storageClass as ""
[code]
[code]
@kenperkins #17806 looks better and should work properly, though there may be some side effects which are not entirely clear to me, based on the below:
https://kubernetes.io/docs/concepts/stor

[2020-02-16 19:42] acim commented on #20389
@dcherniv, this means that GKE doesn't set default Storageclass. Well, I am not aware of that, but AKS and EKS work fine with the code like in Prometheus.

https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/

[2020-02-16 19:45] acim commented on #20389
Hmm, GKE documentation says that they actually define the default StorageClass.

```Volume implementations such as gcePersistentDisk are configured through StorageClass resources. GKE creates a default StorageClass for you which uses the standard persistent disk type (ext4). The default StorageClass is used when a PersistentVolumeClaim doesn't specify a StorageClassName.```

https://cloud.google.c

[2020-02-16 20:04] dcherniv commented on #20389
@acim the code in Prometheus does specify storageclass as "", which is different than omitting storageClass field altogether, which appears to be different than setting storageClass as 'storageClass: '

[2020-02-16 20:12] acim commented on #20389
I agree with that and didn't say you should copy that code, but there should be some conditionals for ommiting the StorageClass completely. However, Prometheus chart works well on EKS without defining the StorageClass value, meaning this "" works. I saw more charts using "".

[2020-02-16 21:02] eyenx commented on #19823
bump

[2020-02-16 21:46] veerappans commented on #20365
Yes please. This will help. Just API port is good. Others will be internal. So its okay.Trying avoid code change with each deployment.

[2020-02-16 22:55] #19853 closed

[2020-02-16 23:12] NickLarsenNZ opened #20796 "[stable/external-dns] Allow CAs for any provider in the ConfigMap"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to supply CA chains for providers other than designate:

https://github.com/helm/charts/blob/275d0344f38ae4d6626464c02f6869d9c56f4e55/stable/external-dns/templates/configmap.yaml#L7-L9

This means customising the chart for internal use, modifying the provider container to have the certificate chain baked

[2020-02-16 23:55] #19855 closed

[2020-02-17 00:49] mikee opened #20797 "stable/prometheus-rabbitmq-exporter add openshift support"
When deploying this chart on openshift - the security context runAsUser prevents deployment unless you allow the anyuid scc.

An easy pattern is available from other charts (check the elastic exporter chart)

Add a value for toggling the security context block
[code]
and for the deployment.yaml template add an if block
[code]

[2020-02-17 02:37] #20757 closed

[2020-02-17 07:53] pvorb commented on #18962
Still valid and I'm still interested.

[2020-02-17 07:53] jizusun commented on #17511
[code]

Installed successfully but still get the warning
[code]

[2020-02-17 08:05] papanito opened #20803 "[stable/kubernetes-dashboard] cannot get resource "secrets" in API group "" in the namespace "kube-system""
**Describe the bug**

When deploying the `kubernetes-dashboard` to a dedicated namespace, the container does not start and fails with

[code]

**Version of Helm and Kubernetes**:

`helm`: `3.0.1`
`kubernetes`: `1.17.2`

**Which chart**:

`stable/kubernetes-dashboard`

**What happened**:

Container does not start and fails with

[code]

**What you expected to happen**:

Pod starts without errors

*

[2020-02-17 08:24] miguelaeh commented on #20723
Hi @VenkateshSrini ,
I am afraid I don't have a windows machine to test that, but I would suggest you for the next time to check what I explain in my previous comment.

[2020-02-17 08:25] #20046 closed

[2020-02-17 08:48] juan131 commented on #20758
Hi @JTarball

Thanks so much for the suggestions! It would be great if you could create a PR adding this feature! I'd be glad to review it.

[2020-02-17 09:06] rowanruseler commented on #20789
@AdrianSkierniewski Thanks for pointing this out, created a PR.

[2020-02-17 09:07] papanito commented on #20803
Resources:

[code]

[code]

[2020-02-17 09:13] juan131 commented on #20756
Hi @jlmurphysa

It seems it's failing while restarting MongoDB:

[code]

See: https://github.com/bitnami/bitnami-docker-mongodb/blob/master/4.2/debian-10/rootfs/libmongodb.sh#L934

It could be related to credentials issues, see:

- https://github.com/bitnami/bitnami-docker-mongodb/blob/master/4.2/debian-10/rootfs/libmongodb.sh#L944
- https://github.com/bitnami/bitnami-docker-mongodb/blob/master/4.

[2020-02-17 09:14] neodani commented on #20562
Hi!

I've tested and only happens when password is configured in your own secret.

This "default way" works
[code]

But when you try with your existing secret, metrics doesn't work, could you try?
[code]

Thank you

[2020-02-17 09:22] Chronojam commented on #20337
Sorry about the long delay in responding

with the new image tag this now works as intended, im going to close this issue now

Thanks for looking into this!

[2020-02-17 09:22] #20337 closed

[2020-02-17 09:25] NickLarsenNZ commented on #20796
As per contributing guidelines, I must test this before raising a PR. I will try to do this over the next few days.

[2020-02-17 09:25] juan131 commented on #20796
Hi @NickLarsenNZ

IMHO, a generic list of trusted CA(s), not specific by provider, it's simpler and it wouldn't add more complexity to the chart.

However, if you take a look to the current structure followed in this chart, you'll see that each provider has its own configuration parameters... For instance, take a look to `coredns`, it uses a different way to provide the CA(s).

Therefore, I'd say

[2020-02-17 09:31] NickLarsenNZ commented on #20796
Yeah, I noticed designate uses an env var, while others used a command line option. The commits above make the minimum amount of change, and default the customCA chain to be stored where golang defaults to in Alpine.

We can keep morphing this to get closer to an ideal state while not breaking anything. I need to get a testing environment setup at work so I can raise an honest PR.

[2020-02-17 09:31] dduportal commented on #19155
/bump

(reason: WiP on splitting the PR after getting answers from maintainers)

[2020-02-17 09:35] NickLarsenNZ commented on #20796
I adjusted the default CA path for Alpine based on: https://golang.org/src/crypto/x509/root_linux.go

[2020-02-17 09:47] jlmurphysa commented on #20756
Hi @juan131,

Thanks for checking out the issue.

Here is the yaml for the secret:

[code]

Maybe I'm missing a key or something, but surely there would be a warning for that?

The secondary containers are still Pending. I believe they're waiting for the arbiter to startup

[2020-02-17 11:04] carrodher opened #20809 "[stable/several] CI/CD failing if dependencies updated using Helm 3"
**Describe the bug**
There are some PRs failing in the CI/CD tests with the following error:
[code]
for example this one: https://github.com/helm/charts/pull/20798

This PR is updating the images, the chart version, app version, etc. We did this kind of PRs automatically for a long time without any issue. In the past week, we update our internal pipeline to use Helm 3 instead of Helm 2 (as recomme

[2020-02-17 11:04] ensonic commented on #20726
Same issue in node.rules:
[code]

[2020-02-17 13:25] #20774 closed

[2020-02-17 13:38] appunni-dishq commented on #20722
[code]

I disabled the existing gitSync and and initContainer . Setup an NFS volume using stable/nfs-server-provisioner and created a persistentVolumeClaim called airflow-dags with ReadWriteMany accessMode.

And used the above yaml config to create my own gitSync which works perfectly.

[2020-02-17 13:50] runningman84 opened #20814 "[stable/phpmyadmin] unnecessary rewrite-target ingress annotation"
**Describe the bug**
The chart always creates an annotation for a rewrite-target. From my point of view these annotations should be optional. Because since helm3 you cannot delete / overwrite them with null. Our setup using traefik is therefore broken.

**Version of Helm and Kubernetes**:
helm 3.1
kubernetes 1.14

**Which chart**:
stable/phpmyadmin

**What happened**:
All requests (like css) get r

[2020-02-17 14:14] titou10titou10 commented on #12900
We have the same kind of requirement
Actually, even if you set`"nexusBackup.enabled=false"`,a volume for backup is defined in the`"volume"`and `"volumeMounts"` specs of the deployment/sts
At a minimun, if`"nexusBackup.enabled=false"`, no volume should be defined in the deployment and we can then use`"deployment.additionalVolumes"`and`"deployment.additionalVolumeMounts"`values to define the volume

[2020-02-17 14:14] shurikg opened #20815 "[stable/jenkins] sidecars try to apply the configuration before jenkins is ready"
I'm running the stable/jenkins chart with below custom values

[code]

I already have pre-defined configmaps with jcasc definition in the namespace.

The sidecar success find those configmaps and save the files in casc_folder in the pod.

The problem is that sidecar try to reload the configuration when jenkins container not ready yet.

Log from jenkins container:

[code]

You can see that jenkins

[2020-02-17 14:35] solomson opened #20816 "[stable/external-dns] Issues with azure.json config after upgrading helm chart to latest"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:
Helm 2.16.3
Kubernetes 1.16.4 (AKS)

**Which chart**:
 2.16.1

**What happened**:
I upgraded my cluster from version 1.14.8 to 1.16.4. During this I had to update the external-dns chart from version 1.7.0 to 2.16.1 due to API deprecations.

After the upgrade the helm chart is not able to u

[2020-02-17 15:13] testmad opened #20817 "[stable/consul] Missing {if...} on gossip-key volume mount."
**Describe the bug**
The volume mount section is incorrect in regards to the gossip-key and should be surrounded with an if statement referencing Gossip.Create value

**Which chart**:
stable/consul v3.9.4

**What happened**:
Setting Gossip.Encrypt: false and Gossip.Create: false results in FailedMount for volume gossip-key

**What you expected to happen**:
Successful pod start.

**How to reproduce

[2020-02-17 15:26] dudicoco opened #20818 "[stable/filebeat] Impossible to downgrade filebeat version"
We had filebeat v7.5.1 installed on a k8s cluster, when attempting to downgrade to v6.4.2 the following error appeared in the logs:
```Registry file path must be a file. /usr/share/filebeat/data/registry is a directory```

It seems that the directory structure is different between the two versions, making it not possible to downgrade to the older version.
We had to replace the nodes in order to ge

[2020-02-17 15:35] excavador commented on #19616
Please re-open it

[2020-02-17 15:46] pgronkiewicz opened #20820 "[stable/prometheus-operator] How to setup saml for Grafana?"
Is this a request for help?: Yes

Version of Helm and Kubernetes:
helm: v3.0.2
kubernetes: v1.15.9

Which chart: [stable/prometheus-operator]

Hi, what is the correct way to enable SAML auth for Grafana?

I have tried for now to configure env variables, as per Grafana [documentation](https://grafana.com/docs/grafana/latest/auth/saml/) in values.yaml:

[code]

I can see that those variables get int

[2020-02-17 16:30] noe-charmet commented on #18609
Wanted to report the same thing. Learned the hard way that the default value for mariaDB persistence written in the doc was not the same as the one set in values.yaml

[2020-02-17 16:42] papanito commented on #20803
kind/bug

[2020-02-17 16:43] papanito commented on #20803
/kind bug

[2020-02-17 16:59] ensonic opened #20825 "[stable/prometheus-operator] prometheus-operator/admission-webhooks/job-patch/job-createSecret.yaml uses serviceAccountName even is rbac is off"
**Describe the bug**
prometheus-operator/admission-webhooks/job-patch/job-createSecret.yaml
prometheus-operator/admission-webhooks/job-patch/job-patchWebhook.yaml

use a service account in the form of
[code]
although the yaml to create the service account
prometheus-operator/admission-webhooks/job-patch/serviceaccount.yaml
is also conditional on `global.rbac.create`.

Version of Helm and Kubernete

[2020-02-17 17:20] slikk66 commented on #20740
looks like it's "path" not "paths" for grafana.. but also it's using an older grafana in the dependency, 4.3.* vs 4.6*

[2020-02-17 17:20] #20740 closed

[2020-02-17 17:23] papanito commented on #20803
If I change the role accordingly i.e.

[code]

The error is different

[code]

The helm chart itself does not seem to create any `csrf` at least I don't find a reference

[2020-02-17 18:28] r9labs opened #20826 "stable/home-assistant hassio/supervisor integration"
Although the chart works well for installing home assistant, the addon store/supervisor isn't a part of this chart. It would be great to have that there for ease of adding addons via the store.

**Is your feature request related to a problem? Please describe.**

I can't install addons via supervisor like in the other installs of home-assistant

**Describe the solution you'd like**
An option in the

[2020-02-18 01:01] pickettd opened #20827 "[stable/moodle] Values for Mariadb master persistence accessmode incorrect name/type"
**Describe the bug**
The Moodle chart values.yaml file has the wrong parameter name/type for Mariadb master persistence accessmode

**Version of Helm and Kubernetes**:
Helm:
version.BuildInfo{Version:"v3.1.0", GitCommit:"b29d20baf09943e134c2fa5e1e1cab3bf93315fa", GitTreeState:"clean", GoVersion:"go1.13.7"}

Kubectl:
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommi

[2020-02-18 03:57] qianghudd01 opened #20829 "[stable/graylog] The "allow_highlighting" parameter modification is invalid"
Can "allow_highlighting" be set as a variable?
config: |
  allow_highlighting = true

[2020-02-18 06:47] naseemkullah commented on #19471
I'm going to open an issue again for this.

[2020-02-18 06:48] naseemkullah commented on #19471
Yep, we need this. I will see if I can come up with a PR.

[2020-02-18 06:49] naseemkullah commented on #19471
@zanhsieh Do you have any ideas of how to implement this? There is A LOT of templating going on in that configmap, but hopefully this is possible.

[2020-02-18 07:09] vivianforzj opened #20830 "[stable/airflow] airflow web has no /admin/metrics API"
I installed airflow, and set serviceMonitor true. I wished that I can monitor airflow by prometheus, but when I opened prometheus web and choose status->targets->unhealthy, I found that it reported server returned HTTP status 404 NOT FOUND for accessing airflow-web-IP:port/admin/metrics.

So I want to know if airflow web has the /admin/metrics API. If no, can I install the airflow plugin as https:

[2020-02-18 07:12] prashanth-sams commented on #20735
Fixed it after changing the service port to `9090`
[code]

[2020-02-18 07:12] #20735 closed

[2020-02-18 08:05] Miouge1 commented on #19861
Nothing to add since my last comment.

[2020-02-18 08:14] nvtkaszpir commented on #19861
OK, so this is just a known limitation.

This renders that this chart has certain features which are unavailable for certain cloud providers.
The only thing that is left is to make custom fork or wait for cloud provider to support autoscaling/v2beta2.

[2020-02-18 08:14] #19861 closed

[2020-02-18 08:18] juan131 commented on #20796
Hi @NickLarsenNZ

It looks like you submitted some commits to your fork repository, but I don't see any PR associated. Do you plan to create one for us to review?

[2020-02-18 08:29] sdanbury commented on #7997
@pelzerim I am having the same issue as you, I can't use `dashboards:` and `sidecar:` together it seems. Did you find a workaround?

[2020-02-18 08:31] bclermont commented on #19717
@jonathan-mothership I heavily modified your repository and created a pull request https://github.com/helm/charts/pull/20831

@zakkg3 I did it here https://github.com/helm/charts/pull/20831

[2020-02-18 08:49] bclermont commented on #19717
And also, I added support for k8s secrets, as `.drone.yaml` can refers to passwords stored in k8s `Secret` objects

[2020-02-18 08:52] juan131 commented on #20814
Hi @runningman84

These are the default annotations (taken from [values.yaml](https://github.com/helm/charts/blob/master/stable/phpmyadmin/values.yaml)):

[code]

You can rewrite them by overwriting the `ingress.annotations` parameter, but it's true you'll obtain some warning from Helm3. E.g. using a custom `values.yaml` as shown below:

[code]

However, it's just a warning. It shouldn't block you

[2020-02-18 08:57] Alirun commented on #19153
@vsliouniaev Seems like it did help. Thank you!

[2020-02-18 08:57] #19153 closed

[2020-02-18 08:59] runningman84 commented on #20814
The problem is that we need additional annotations for https redirect and so on.

Using flux/helm-operator it was not possible to deploy a setup like this:
[code]

[2020-02-18 09:12] LucaPrete opened #20833 "[stable/metabase] Add {} after annotations in values.yaml to avoid "warning: destination for annotations is a table. Ignoring non-table value <nil>""
**Describe the bug**
When using metabase as a chart dependency, the following warning is displayed during the chart installation/upgrade: "warning: destination for annotations is a table. Ignoring non-table value <nil>"

**Version of Helm and Kubernetes**:
helm 3.0.3
kubernetes 1.14.2

**Which chart**:
stable/metabase

**What happened**:
When using metabase as a chart dependency, the following war

[2020-02-18 09:13] miguelaeh commented on #20827
Hi @pickettd ,
Thank you very much for reporting this issue, we will take care of it.

[2020-02-18 09:25] NickLarsenNZ commented on #20796
Hi @juan131, I do intend to raise a PR (and wanted to last night), but the PR template states:

will run across your changes and do some initial checks and linting. These checks run
very quickly. Please check the results. We would like these checks to pass before we
even continue reviewing your changes.

Unfortunately I didn't get time to try this out today. I'm happy to raise the PR anyway (if th

[2020-02-18 09:36] lucamaggioni commented on #20214
No change when using standard storageClass.

I've noticed that when I do not use persistence, the ACL flag is setted:

[code]

... while using persistence, is not setted:

[code]

Anu suggestion?

[2020-02-18 09:49] miguelaeh commented on #20816
Hi @solomson ,
How did you upgrade the Helm Chart? Did you uninstall and install it again or did you use `helm upgrade`?
If you used Helm Updagre take into account that they are different major version, that means that it will be incompatibilities.

[2020-02-18 09:50] solomson commented on #20816
Hello.
I did a fresh install onto a new cluster.

[2020-02-18 10:17] jlmurphysa commented on #20756
Okay, I've made some progress here...

I was making the assumption that `primary` and `secondary` were waiting for the `arbiter`

This was incorrect... the reason they were `Pending` was because I hadn't created the `StorageClass` on my cluster yet.

After I resolved that, I needed to change my `replica-set-key`, because I had includes hyphens (illegal characters)

After that, my `primary` and `se

[2020-02-18 10:23] juan131 commented on #20304
cc @mattfarina @unguiculus

[2020-02-18 10:39] jlmurphysa commented on #20756
The arbiter is deciding to shutdown here: https://github.com/bitnami/bitnami-docker-mongodb/blob/master/4.2/debian-10/rootfs/libmongodb.sh#L749

I logged into the primary node and executed the following:
[code]

This points me in a new direction.
Shouldn't be too far from a working cluster now...

[2020-02-18 10:44] ensonic commented on #20825
There is more breakage. If I just diable

[code]

I get lots of `no service port "443" found for service "kube-operator"'` errors.

[2020-02-18 10:44] xposix commented on #20428
You may like to close the ticket ;)

[2020-02-18 10:45] jlmurphysa commented on #20756
One issue after another...

[code]

[2020-02-18 10:53] evilrussian opened #20838 "st[name of the chart e.g. stable/chart] issue title"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-02-18 10:53] #20838 closed

[2020-02-18 11:10] evilrussian opened #20840 "[stable/metallb] Add defining priorityClassName to pods"
**Is your feature request related to a problem? Please describe.**
Please add ability to define priorityClassName in pods of deployment metallb-controller and daemonset metallb-speaker in values.yaml.
I want it, because if there is insufficient hardware resources at node and if where is not priorityClassName in metallb pod higher whan other services like my apps,  kubernetes can evict metallb pods

[2020-02-18 11:38] jlmurphysa commented on #20756
Finally resolved.

I removed the existing PVC before re-deploying and everything spun up without hassle.

[2020-02-18 11:38] #20756 closed

[2020-02-18 12:06] mtparet commented on #20433
@poochwashere PR to switch to an existing version https://github.com/helm/charts/pull/20841

[2020-02-18 13:11] dvianello commented on #20186
@DandyDeveloper, fair enough - I'd be happy to do some digging on this one, I'm just clueless on how the whole thing is wired up, so any pointer to possible places where to look for issues are welcome!

[2020-02-18 13:23] saikatharryc commented on #20244
/assign olemarkus

[2020-02-18 13:35] #19717 closed

[2020-02-18 13:48] lucamaggioni commented on #20214
The interesting thing is that with a persistent volume created manually in hostPath mode, everything works... but it's not scalable nor consistent:

[code]

[2020-02-18 13:55] lucamaggioni commented on #20214
I've also tried  to use a persistent volume claim created manually by me (just like the one in the last post)... which use the nfs, just like this:

[code]

... and here we have another behaviour... the pod stuck in this way:

[code]

... here the pod stays in this state for minutes... and then die

[2020-02-18 14:33] richerlariviere opened #20842 "stable/datadog Parsing issue when applying multiple tags"
**Describe the bug**

**Version of Helm and Kubernetes**:

Helm:
[code]

Kubernetes:
[code]

**Which chart**:
stable/datadog Latest version (1.39.9)

**What happened**:

I wanted to attach multiple tags to every metrics coming from a specific Kubernetes cluster. To do so, I added the following tags in my helm chart:
[code]
But when I deploy Datadog, I can see an issue with the parsing of the yaml

[2020-02-18 16:26] dcherniv commented on #20389
@acim @bacongobbler
I further tested this a little bit. It appears that
[code]
is really not a valid spec or shouldn't be a valid spec really. The proper way to go about selecting default storage class is omitting storageClass field altogether.
The approach taken by prometheus chart is incorrect. Specifying storageClass as "" will cause kubernetes (in some cloud provider) to specifically look for

[2020-02-18 17:51] #19823 closed

[2020-02-18 19:35] VincSch commented on #19928
@karanmagdani1 Thank you very much!

[2020-02-18 20:38] evalsocket commented on #20758
@juan131 @JTarball Would like to work on this. Can this be assigned to me.

[2020-02-18 20:48] zdelanofw commented on #19272
[code]
The issue, I believe, is with the generation of the passwords. Try a simple password like `qwerty123` and I think it should work. I was running into a similar issue today but when I passed non-random passwords, I was able to get it to deploy just fine.

[2020-02-18 21:27] carrodher commented on #20809
/assign @mattfarina @unguiculus @cpanato

[2020-02-18 22:05] rbren commented on #20231
Fixed in https://github.com/helm/charts/pull/20622

[2020-02-18 23:28] andylippitt commented on #13485
I have found a problem with podManagementPolicy: Parallel. There's a race condition on initialization if you don't specify `rabbitmqErlangCookie`. I now have a condition where a single pod is running with a RABBITMQ_ERLANG_COOKIE which is different from the current value of the secret. I suspect this was a result of concurrent initialization and will try to reinstall with an explicit value.

[2020-02-18 23:37] vkasgit commented on #13485
Yes I did test with `podManagementPolicy: Parallel` but faced issues. sometimes pods did not comeback healthy. Instead  setting `force_boot` flag to true which was suggested in the previous thread worked for me. I tested multiple times bringing the pods all together at once, bringing pods one at a time within like 2-5 mins creating some sort of a mess and with that flag on all the pods came back h

[2020-02-18 23:57] andylippitt commented on #13485
@vkasgit were you specifying an explicit value for `rabbitmqErlangCookie` in your failed testing?

[2020-02-19 00:22] vkasgit commented on #13485
in our installation that was failing i had the secret pre-created with erlang cookie

[2020-02-19 02:22] #20833 closed

[2020-02-19 07:34] vishal8k opened #20859 "[stable/fluentd] Unable to install "azure-storage-append-blob" plugin"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:
Helm = v3.0.2
Kubernetes = 1.14.8

**Which chart**:
stable/fluentd

**What happened**:
I tried installing using the below command:
`helm install fluentdazure stable/fluentd -f values.yaml --namespace mynamespace`

Below is my values.yaml

[code]

**What you expected to happen**:
The plugin

[2020-02-19 07:47] LucaPrete commented on #20833
Hello @pmint93 I still see the 0.10.3 version as the latest one available in the list of charts. Do you know when the 0.10.4 will be available for download from the helm cli?

[2020-02-19 08:23] juan131 commented on #20796
Yes, that's okay! Don't worry about CircleCI @NickLarsenNZ

[2020-02-19 08:36] #20827 closed

[2020-02-19 09:15] Atharex opened #20868 "[stable/traefik] jaeger tracing error in TOML"
**Describe the bug**
When I want to enable jaeger tracing in the traefik helm chart, the values get incorrectly passed into the chart and break the deployment.

I use the following segment to enable jaeger
[code]

And after the deployment I get a CrashLoopBackOff because of a faulty config:

`2020/02/19 09:05:15 Error reading TOML config file /config/traefik.toml : toml: cannot load TOML value of

[2020-02-19 09:20] unguiculus commented on #20809
For the record: CI uses https://github.com/helm/charts/blob/master/test/e2e.sh.

Indeed, CI still uses Helm 2. This will not change. See https://github.com/helm/charts#deprecation-timeline

[2020-02-19 09:37] HaveFun83 commented on #10543
Any news here?

[2020-02-19 09:41] desaintmartin commented on #10543
I'm ok to deprecate it, possibly still making fixes (like I've done a few days agos) but no new feature.

[2020-02-19 09:46] juan131 commented on #20814
Hi @runningman84

Check the PR I just created

[2020-02-19 09:50] miguelaeh commented on #20816
Hi @solomson ,
As you can see in the log:
[code]
The failure reason is you didn't provide the `azure.resourceGroup` parameter, try providing that parameter. It is a validation we are doing in the `_helpers.tpl` to ensure the parameters are the correct one for every provider.

[2020-02-19 10:03] orkiguazio opened #20870 "[stable/jenkins] Support Multiple Kubernetes podTemplates"
**Is your feature request related to a problem? Please describe.**
Currently there's no way (that I'm aware of) to create more than one k8s podTemplate (`agent.yamlTemplate`).

**Describe the solution you'd like**
Something like:
in `tempaltes/config.yaml`:
[code]

And then in `values.yaml`:
[code]

**Describe alternatives you've considered**
None that I can think of..

**Additional context**
.

[2020-02-19 10:06] #20814 closed

[2020-02-19 10:09] solomson commented on #20816
Ok fair enough, but this seems like a regression, as in previous versions all you need is to provide a secret flle formatted like this

[code]

Which contains all relevant details. What is the point of this secret if we also have to explicitly type in other fields?

[2020-02-19 10:13] pmint93 commented on #20833
@LucaPrete  Run `helm repo update` 👍

[2020-02-19 10:25] juan131 commented on #20814
Hi @runningman84

We just merged the PR I did. As you can check in the latest version the `annotations` will be undefined by default.

Now, there's a new parameter `ingress.rewriteTarget`  that's set to `true` by default that adds the annotations below:

[code]

Disabling them is as easy as installing the chart using `--set ingress.rewriteTarget=false`

[2020-02-19 10:29] LucaPrete commented on #20833
Ahhhhh, damn sorry :)

-Luca

Il giorno mer 19 feb 2020 alle ore 11:13 pmint93 <notifications@github.com>
ha scritto:

[2020-02-19 10:29] naveen-pundir opened #20871 "[stable/telegraf] kube_inventory plugin throws error for current telegraf version"
**Describe the bug**
The current version of telegraf (`1.12-alpine`) doesn't support `kube_inventory` input plugin. The telgraf pod errored out with the following logs:
[code]
The error is mainly due to the API change for Deployment, DaemonSets, etc to`apps/v1` and similarly for other resources.

**Version of Helm and Kubernetes**:
Helm = v3.1.0
Kubernetes = v1.17.3

**Which chart**:
stable/telegr

[2020-02-19 10:31] juan131 commented on #20809
Hi @unguiculus

Could you please elaborate the reasons for this? Do you refer to this?

[2020-02-19 10:31] pmint93 commented on #20833
@LucaPrete No problem, don't be sorry ;)

[2020-02-19 10:38] #20544 closed

[2020-02-19 11:03] alex-sainer commented on #19041
same problem here and hardcoding the clusterIP shouldn't be the real solution...
any other workarounds out there?

[2020-02-19 11:15] #20707 closed

[2020-02-19 11:27] #19871 closed

[2020-02-19 11:27] #19541 closed

[2020-02-19 12:55] runningman84 commented on #20814
thanks for your help!

[2020-02-19 12:59] embik opened #20872 "[stable/elasticsearch-curator] load env variables from secrets first to allow env composition"
**Is your feature request related to a problem? Please describe.**
`stable/elasticsearch-curator` allows to load environment variables from secret keys via its `envFromSecrets`. This is nice to load elasticsearch basic auth passwords from a `Secret`, for example when using [ECK](https://www.elastic.co/guide/en/cloud-on-k8s/current/index.html).

Unfortunately, elasticsearch-curator only has limited

[2020-02-19 15:10] mrkcmo opened #20877 "[stable/rabbitmq-ha] vHost not found even though vHost exist in UI and is properly configured in chart"
**Describe the bug**
Deploying the RabbitMQ or RabbitMQ-HA charts into a Kubernetes cluster (1.17.0) with multiple vhosts configured  (in my case 2 extra defined) deploys without error. You can see the vHosts in the UI and configuration of the rabbitmqctl command. However when you try and connect via AMQP too one the vHost you get a failure of "vHost (name of vhsost) not found" in the server log.

[2020-02-19 15:57] talzion12 commented on #20629
I'm experiencing a similar problem.
Did you try setting `prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues` to false?

[2020-02-19 16:09] waelghaith97 opened #20878 "problem with ingrass nginx Grafana If you're seeing this Grafana has failed to load its application files"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2020-02-19 16:12] broxgit opened #20879 "[stable/consul] Cannot override namespace when used as subchart/dependency"
Describe the bug/feature request
There isn't a way to override the namespace for the Consul chart objects, they only inherit from the **Release.Namespace** . This doesn't work well in environments where Consul is a subchart and namespace isolation is needed.

Is your feature request related to a problem? Please describe.
Our company is using Consul as a dependency for our internal Helm charts. Our

[2020-02-19 16:13] waelghaith97 opened #20880 "problem with ingrass nginx Grafana , If you're seeing this Grafana has failed to load its application files"
I have this message
[code]
ingress:

[code]

with :
[code]
where is the problem?!

[2020-02-19 16:24] juan131 commented on #20814
You're welcome @runningman84

[2020-02-19 16:24] juan131 commented on #20758
sure @evalsocket

[2020-02-19 16:25] juan131 commented on #20758
/assign @evalsocket

[2020-02-19 16:39] juan131 commented on #20877
Hi @mrkcmo

Could you please share the commands you used to deploy the RabbitMQ chart and configure the vhosts? Please also share the exact **values.yaml** you're using in case you're overwriting the default one.

Thanks in advance

[2020-02-19 17:48] mrkcmo commented on #20877
I packaged and deployed:
helm package (folder_name)
helm install rabbitmq (package_name) --namespace (namespace)
[values.yaml.txt](https://github.com/helm/charts/files/4226508/values.yaml.txt)

[2020-02-19 19:06] punit-trivedi opened #20884 "stable/prometheus-node-exporter typo in daemonset.yaml line 21"
**Describe the bug**
Typo in daemonset.yaml line 21,  {{- toYaml .Values.podAnnotations | nindent 8 }},

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2020-02-19 19:08] #20884 closed

[2020-02-19 19:16] snorlaX-sleeps opened #20885 "[stable/spinnaker] Support for custom ServiceAccounts for Spinnaker Pods"
**Is your feature request related to a problem? Please describe.**

TL;DR - Is it possible to update the ServiceAccount used by Spinnaker pods to be custom / modified / specific to the created Spinnaker pods, rather than the `default` ServiceAccount?

We wish to add IAM annotations to the ServiceAccount used by Spinnaker services, but do not want to give *any* pod using the `default` ServiceAccoun

[2020-02-19 19:51] dpkirchner commented on #20743
I was wrong -- this is actually because there are two (or at least two) types of "securityContexts", one for pods and the other for containers. In that case, I think this may call for renaming `securityContext` to `podSecurityContext` and then adding a new `containerSecurityContext` config tunable.

[2020-02-19 20:41] NickLarsenNZ commented on #20796
Cool, I'll raise a PR. I tested yesterday, and although I still have TLS trust issues, I found some surprising code in the infoblox client which is specific to the problem that caused me to raise this issue:

https://github.com/infobloxopen/infoblox-go-client/blob/master/connector.go#L39-L43

Turns out the infoblox client takes a string which can be `"true"`, `"false"`, or a path to the CA cert fi

[2020-02-19 21:18] schwing commented on #19919
Is this possibly a mixup between the rabbitmq and rabbitmq-ha charts? The config you provided and the template filename svc.yaml matches the rabbitmq chart.

For the rabbitmq-ha chart, the config you provided would be:
[code]

[2020-02-19 21:41] jayar opened #20890 "[stable/postgresql] Admin user is not created"
**Describe the bug**
During initial load of database, an error occurs so the admin user is not created with the stored password.

**Version of Helm and Kubernetes**:
kubectl version
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc

[2020-02-19 22:27] #20433 closed

[2020-02-19 22:36] dennybaa commented on #20605
Likewise nginx ingress controller is not scaled, but for a random deployment it's okay:
[code]

[2020-02-20 00:55] javajon commented on #19919
I applied the change to managerNodePort: 31000 and it fixed the problem. I may have been looking at the wrong chart. I may have been confused with the other setting "rabbitmqNodePort". However, while the three NodePorts are in the chart's values.yaml file they are missing from the listing in the README Configuration section.

As a takeaway, the README distinction for the various NodePort's could b

[2020-02-20 00:55] #19919 closed

[2020-02-20 05:15] ramaprasad434 commented on #20605
@dennybaa  do you mean HPA does not support for nginx controller? Can you please confirm.

[2020-02-20 06:22] Zossin opened #20894 "[stable/elastic-stack] Ability to choose non-oss docker images"
**Is your feature request related to a problem? Please describe.**
We want to use basic license of elastic stack, but this helm chart only provides the oss docker images, which can't be customized.

**Describe the solution you'd like**
Can we have the ability to customize docker images used in the helm chart? For example, docker.elastic.co/kibana/kibana:6.7.0 instead of docker.elastic.co/kibana/ki

[2020-02-20 08:49] miguelaeh commented on #20890
Hi @jayar ,
I am afraid we have an issue in the PostgreSQL image that we detected last week. It seems that when providing the username the password is not correctly set. Give a try to not create a user and just change the password.

[2020-02-20 08:52] juan131 commented on #20877
Hi @mrkcmo

This is the **values.yaml** for RabbitMQ HA, isn't it? I am maintainer of the [RabbitMQ chart](https://github.com/helm/charts/blob/master/stable/rabbitmq). I am afraid I won't be able to help you with RabbitMQ HA

[2020-02-20 09:04] gadelkareem opened #20897 "[stable/cluster-autoscaler] unknown field "strategy" in io.k8s.api.core.v1.PodSpec"
if I add the updateStrategy like in https://github.com/helm/charts/blob/master/stable/cluster-autoscaler/values.yaml#L152 I get error `error validating data: ValidationError(Deployment.spec.template.spec): unknown field "strategy" in io.k8s.api.core.v1.PodSpec`

[2020-02-20 09:10] gadelkareem commented on #20897
never mind wrong var

[2020-02-20 09:13] matteocodogno commented on #20499
I cannot upgrade sonarqube as well, but I use an external instance of postgres.

[2020-02-20 09:35] bcollard opened #20899 "[stable/elasticsearch-exporter] error with the new prometheus rules templating"
Hello,

It looks like that there is a Helm template rendering issue since there is a new templating model, see https://github.com/helm/charts/pull/20322

If you uncomment the rules under the prometheusRule block in values.yaml (and enable it), there is a parse error when rendering the rules:
`helm template -x templates/prometheusrule.yaml .`

Can you guide me on how to fix that please?

[2020-02-20 09:45] golgotow commented on #19272
@zdelanofw yes that is true, with easier password this works,

[2020-02-20 10:02] liorhar commented on #18917
Is the KubernetesExecutor supported? I'm getting various errors when changing the executor type to Kubernetes. Same issue as described here - https://stackoverflow.com/questions/60130992/airflow-scheduler-fails-to-start-with-kubernetes-executor

[2020-02-20 10:08] huang-jy opened #20901 "[stable/nginx-ingress] http2 + large cookies"
**Describe the bug**
When using large cookies and having http2 enabled, nginx-ingress returns an empty reply, or a `400 Bad Request` if http2 is not enabled.

**Version of Helm and Kubernetes**:
Helm:
[code]
Kubernetes:
[code]

**Which chart**:
nginx-ingress version 1.6.17

**What happened**:
When using large cookies with http2 enabled, connection is dropped, regardless of whether or not http2 dir

[2020-02-20 10:26] shardulsrivastava commented on #11202
just in case anyone here comes looking for importing a dashboard from Grafana helm chart, here is how to do it :
[code]

[2020-02-20 10:52] Morishiri opened #20904 "[stable/openldap] Helm3 fails with "ClusterIP is immutable" error"
**Describe the bug**
When updating the release with helm3 it throws an error about ClusterIP not being mutable.

**Version of Helm and Kubernetes**:
[code]
[code]
**Which chart**:
`stable/openldap`

**What happened**:
When updating the release with helm3 it throws:
[code]

**What you expected to happen**:
Upgrade goes without issues because the field was not actually mutated

**How to reproduce it

[2020-02-20 11:20] cs94njw commented on #11817
Can someone point to a true Redis-cluster helm chart?  Or is it not possible?
I need to create a multi-master high availability cluster for Redis, and I don't know if it's just not possible, or no-one has created a helm chart for it yet.

[2020-02-20 11:27] rolandg opened #20906 "[stable/stolon] stolon does not start correctly if cluserName is set"
**Describe the bug**
If I start the stolon chart with the parameter `clusterName` set it doesn't start correctly. The keepers show the message below (what happened) and I cannot connect.
fsr when I start it first without the clusterName and then update the chart with the name added it works.

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stolon

**What happened**:
[code]

**What you

[2020-02-20 11:36] travisgroth commented on #20001
Fixed with #20813

[2020-02-20 11:36] #20001 closed

[2020-02-20 13:35] theAkito opened #20908 "[stable/openvpn] Providing `nodeSelector` key:value pairs buggy"
**Describe the bug**
Providing `nodeSelector` key:value pairs does not get translated to the actual configuration file correctly.

**Version of Helm and Kubernetes**:

Component | Version
-- | --
Rancher | v2.3.5
User Interface | v2.3.36
Kubernetes | v1.17.2-rancher1-2
Helm | v2.14.3-rancher1
Machine | v0.15.0-rancher29

**Which chart**:
https://github.com/helm/charts/tree/master/stable/openvpn

*

[2020-02-20 14:02] shubhambhattar opened #20909 "stable/grafana Datasources added from chart config doesn't work but same datasource added manually works"
**Describe the bug**
I am using `stable/grafana` chart with some custom config (given below).
[code]

This installs grafana and the default datasource (graphite) is setup. But it doesn't work. If I add the same datasource manually from Grafana UI, it works.

**Version of Helm and Kubernetes**:

[code]

**Which chart**: stable/grafana

**What happened**: Datasource added while deploying chart using

[2020-02-20 15:05] mrkcmo commented on #20877
@juan131 I tried both and see the same issue just FYI.

[2020-02-20 15:11] irizzant commented on #20629
It looks like the `prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues` did the trick, now prometheus picks up the `ServiceMonitor`s in other namespaces too.

I saw that this setting disable the creation of `serviceMonitorSelector` in the `Prometheus` CRD so that it's not locked to any specific `matchLabel`.

Since there could be also additional rules and `PodMonitor` resources in ot

[2020-02-20 16:58] jayar commented on #20890
Hi @miguelaeh I have just tried removing postgresqlDatabase and postgresqlUsername, and then only having postgresqlPassword, but it gives the same output.
I have also tried to remove postgresqlPassword, so it is set by default setup but still no success.

[2020-02-20 18:15] ebuildy opened #20916 "[stable/zeppelin] Should expose Spark web UI as ingress"
**Is your feature request related to a problem? Please describe.**
Running a Spark job with Zeppelin, I want to access to Spark web UI (on port 4040)

**Describe the solution you'd like**
From here https://github.com/helm/charts/blob/master/stable/zeppelin/templates/ingress.yaml , port 4040 should be also exposed.

**Describe alternatives you've considered**
Use another service to provide Spark wo

[2020-02-20 18:29] pdambrauskas commented on #19471
I guess whole `prometheus.yml` value is loaded there https://github.com/helm/charts/blob/master/stable/prometheus/templates/server-configmap.yaml#L37
I don't see any easy way to plug custom relabeling (except for the last job), since whole `prometheus.yaml` value is treated as one huge chunck.
Only option I can think of is moving job definitions level up in values.yaml file, and adding something l

[2020-02-20 18:37] naseemkullah commented on #19471
Thanks @pdambrauskas that makes sense!

@zanhsieh @gianrubio  Can we make a PR?

Really comes in handy for situations such as https://github.com/oliver006/redis_exporter/pull/344#issuecomment-588041607

[2020-02-20 19:07] ashwinchandran13 commented on #5239
I had the same issue but doing helm init --upgrade at first produced this output:

`$ helm init --upgrade
$HELM_HOME has been configured at /home/ashwinchandran/.helm.

Tiller (the Helm server-side component) has been updated to gcr.io/kubernetes-helm/tiller:v2.16.1 .
`
And when I tried to install a chart

`$ helm install -n monitoring stable/prometheus-operator
Error: could not find a ready tille

[2020-02-20 19:12] jamiegs commented on #20504
Were you able to figure this issue out? I'm running into it also.

[2020-02-20 20:39] rrijkse commented on #20277
I am having the same issue and I ended up working around it by creating a script and mounting this using an `additionalConfigMaps` and mounting it on the `clouddriver` machine as well.

[code]

[2020-02-20 20:40] rakshit-simha opened #20918 "[stable/traefik] stop using deprecated .Capabilities.KubeVersion.GitVersion"
**Describe the Bug**:
The current stable/traefik chart uses `.Capabilities.KubeVersion.GitVersion` in multiple template files to determine various things, including the `apiVersion` to use.  With Helm 3.x, this field is deprecated (see https://github.com/helm/helm/blob/master/pkg/chartutil/capabilities.go#L60).  To avert future breakage, the chart should use `.Capabilities.KubeVersion.Version`, or

[2020-02-20 22:52] thavlik commented on #19987
This is still an issue without resolution and should not be closed. The following changes do not fix the issue for me. Installing in the default namespace, which presumably would alleviate the need for the changes, also does not fix it.

[code]

[2020-02-21 00:24] gowrisankar22 commented on #19987
You are right .. yesterday I tried but again it dint work even for me with gke1.15.9..

[2020-02-21 00:56] djsly commented on #13457
We have the same requirements.. We need to be able to route the alerts based on labels...

[2020-02-21 05:02] #20897 closed

[2020-02-21 05:54] vsinghal13 commented on #14494
@Towmeykaw thoughts on the above PR?

[2020-02-21 06:00] #19925 closed

[2020-02-21 07:22] dogzzdogzz opened #20920 "[stable/prometheus-operator] Lack of resources configuration in values.yaml for grafana and node exporter"
**Describe the bug**
I can't find the resources configuration in values.yaml for grafana and node exporter but there is one in prometheus and alerManager, so when I deploy prometheus-operater chart, pods of these grafana and node exporter have no requested/limited resource. Wondering if lack of resources config for these two components is intentional ?

**Version of Helm and Kubernetes**:
8.7.0

[2020-02-21 07:46] juan131 commented on #20877
Hi @mrkcmo

Could you please share the **values.yaml** you were using with the [RabbitMQ chart](https://github.com/helm/charts/blob/master/stable/rabbitmq)? Please note that I don't need the whole **values.yaml** but just the values that you modified (instead of using the default ones)

[2020-02-21 09:29] onyxet commented on #20085
We've exprienced same issues during latest chart installation. Can somebody update CRD?
 `kube-prometheus` has already reflected this issue

[2020-02-21 09:50] dominik-bln opened #20921 "[stable/redis] Helm3 Upgrade Failing"
**Describe the bug**

When trying to upgrade a `stable/redis` release from Helm 2 to Helm 3, the initial conversion is working, but the next release fails due to an immutable statefulset issue.

**Version of Helm and Kubernetes**:

Helm v3.0.3
Kubernetes 1.17.2

**Which chart**:

`stable/redis`

**What happened**:

 `The StatefulSet "review-helm3-7yge49-redis-master" is invalid: spec: Forbidden: u

[2020-02-21 09:51] miguelaeh commented on #20890
Hi @jayar,
We checked again and the image issue was actually a misunderstand to of how to connect to Postgresql.
Regarding your issue, I deployed the Helm Chart with your parameters except for the NFS storage class and seems to be working. Could you test it using a different storage class to check if it an issue with NFS?

[2020-02-21 09:53] dennybaa commented on #20605
@ramaprasad434 we don't know yet the reasons, but it happens on GKE and suspect the metrics-server and kubelet inconsistency. First I will upgrade the cluster and there might be some updates.

[2020-02-21 10:01] dominik-bln commented on #20921
Looks like there is a proposal on the Helm repo that could also fix this problem for us:

https://github.com/helm/helm/issues/7211

[2020-02-21 11:30] jcardoso-bv commented on #20499
The chart is broken. It now defines the following environment variables regardless of whatever you set your Postgresql values to:

[code]

[2020-02-21 11:34] jcardoso-bv commented on #20499
Check your values file. A stupid typo in the chart was silently corrected:

https://github.com/helm/charts/commit/6d607aad335890ce5dcef6503ae25595b62d164b#diff-ebe79591eaa535b3278dc3bd0d74ee07

[2020-02-21 12:59] acim opened #20923 "[stable/postgresql] data directory "/bitnami/postgresql/data" has invalid permissions"
**Describe the bug**
After upgrade from 8.3.4 to 8.4.0 pod is crashing with message:

[code]

**Version of Helm and Kubernetes**:

Helm 3.1.1
Kubernetes 1.17.3

**Which chart**:

stable/postgresql 8.4.0

**What happened**:

Crash.

**What you expected to happen**:

Run.

**How to reproduce it** (as minimally and precisely as possible):

Just upgrade from 8.3.4 to 8.4.0.

**Anything else we need to

[2020-02-21 13:19] fredbeltrao commented on #20721
It works on Firefox.

[2020-02-21 13:19] #20721 closed

[2020-02-21 13:53] kmova commented on #17782
The fix is being worked on at : https://github.com/openebs/openebs/pull/2850

[2020-02-21 14:47] vrathore18 commented on #8510
what's the status of this issue?

[2020-02-21 15:05] #20820 closed

[2020-02-21 15:28] macalak opened #20935 "stable/distributed-jmeter"
**Describe the bug**
Jmeter servers not started

**Version of Helm and Kubernetes**:
helm: v3.0.2
kubernetes: v1.17

**Which chart**:
distributed-jmeter

**What happened**:
When I install distributed-jmeter with --set image.tag=5.0 (not --set master.image.tag as documented), servers failed to start with error: "java.io.FileNotFoundException: rmi_keystore.jks (No such file or directory)". JMeter al

[2020-02-21 16:21] noeRls opened #20937 "Add tezos chart"
**Describe the solution you'd like**
I would like to add a chart for tezos blockchain. This chart would start tezos and init them with fresh new peers. With values you could select weather run it on mainnet / betanet / alphanet / zeronet.

**Describe alternatives you've considered**
Having my own chart without sharing it.

**Additional context**
I'm going to develop a complete tezos chart. I was t

[2020-02-21 16:33] marcadella opened #20939 "[stable/minio] minio-make-bucket-job mkdir permission denied /etc"
On openshift `minio-make-bucket-job` crashes with the following error: `Unable to save new mc config. mkdir /etc/minio: permission denied.`
It happens because /etc has the following rights: `rw-r--r--` and on openshift the user belongs to root.

Wouldn't changing the config from `/etc/minio/mc` to `/tmp/minio/mc` be a better idea?

[2020-02-21 16:58] MaksymDolgykh commented on #20920
You can define resources for grafana with`grafana.resources`. The defaults are defined in [grafana chart](https://github.com/helm/charts/tree/master/stable/grafana)

[2020-02-21 16:59] gmorse81 opened #20940 "[stable/traefik] Health checks cause ACME errors: connection refused"
**Describe the bug**
The health checks on the traefik chart prevent LE acme challenges from completing due to race condition. Traefik starts up and begins the HTTP-01 or TLS-ALPN-01 challenge before the deployment is considered "healthy" which results in 400 errors while attempting to complete the challenge.

**Version of Helm and Kubernetes**:
NA

**Which chart**:
stable/traefik

**What happened*

[2020-02-21 17:00] #19465 closed

[2020-02-21 17:48] theAkito opened #20943 "[stable/openvpn] Auto-selection of unused `NodePort` fails"
**Describe the bug**
Does not auto-select unused `NodePort`, properly.

**Describe the solution**
This is a bug with the template, as it always expects an explicit port. Once can avoid this by enabling the deployment of this Chart, without providing an explicit port. To achieve that, one has to change the `openvpn-deployment.yaml` and `openvpn-service.yaml`, to only set a NodePort, if explicitly r

[2020-02-21 18:20] dennybaa commented on #20605
I guess it has nothing to do with nginx ingress chart and relates more to this https://github.com/kubernetes/kubernetes/issues/79365

[2020-02-21 18:24] aviettran opened #20944 "[stable/drone] drone pipeline clusterrole needs update on pod"
**Describe the bug**
The Drone Pipeline clusterrole needs the "update" verb on Pod
https://github.com/helm/charts/blob/master/stable/drone/templates/role-pipeline.yaml#L35

**Which chart**:
stable/drone

**What happened**:
RBAC error from runner

**How to reproduce it** (as minimally and precisely as possible):
Install chart with kubernetes.disabled and runner.enabled

[2020-02-21 20:21] aliartiza75 opened #20945 "[stable/influxdb] add backup support in aws s3 buckets."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I want to add aws s3 backup support for influxdb helm chart.

**Describe alternatives you've considered**
nil

**Additional context**
nil

[2020-02-21 20:22] aliartiza75 commented on #20945
Hi @Aisuko, kindly add your thoughts about this feature. Thank you

[2020-02-21 22:02] BPtmaruya opened #20946 "[stable/sonarqube] Parse error when used with a certain combination of config settings"
**Describe the bug**
Specifying `sonarSecretProperties`, `sonarProperties` and `nodeSelector` together gives you parse error.
`Error: YAML parse error on sonarqube/templates/deployment.yaml: error converting YAML to JSON: yaml: line 88: did not find expected key`

**Version of Helm and Kubernetes**:
[code]
**Which chart**:
stable/sonarqube

**What happened**:
Encountered error and could not create

[2020-02-22 01:01] #19953 closed

[2020-02-22 01:01] #19957 closed

[2020-02-22 04:01] aliartiza75 commented on #20945
hi @naseemkullah, if found out that currently backups are only supported for azure and gcs, I was thinking about to add support for aws s3. what do you think?

[2020-02-22 04:19] naseemkullah commented on #20945
That would be great!

[2020-02-22 04:32] #19960 closed

[2020-02-22 12:32] #19039 closed

[2020-02-22 14:32] #19977 closed

[2020-02-22 14:33] Centzilius commented on #20317
Is there anything I can do so that this feature request gets attention?

[2020-02-22 15:32] #19345 closed

[2020-02-22 17:21] arafatmohammed commented on #20625
Every time I see these restarts logs pattern is as follows:

I0204 22:23:04.386241       1 controller.go:620] Started provisioner controller dais.com/aws-efs_efs-provisioner-79f5bd6c84-w5bz4_e01a6726-479c-11ea-87ce-662c30e8f5a1!

I0204 22:23:04.286145       1 event.go:221] Event(v1.ObjectReference{Kind:"Endpoints", Namespace:"bravo", Name:"dais.com-aws-efs", UID:"a291e099-a1c0-11e9-aab0-060720ab8a

[2020-02-22 20:38] sorleone opened #20954 "[bitnami/wordpress] wrong allowEmptyPassword value"
Is this line correct? Shouldn't that be `false`?

https://github.com/helm/charts/blob/65f1f381e293974b25e0903a45f395892f7bda7f/stable/wordpress/values-production.yaml#L98

Here it says the opposite:

https://github.com/bitnami/bitnami-docker-wordpress#environment-variables

ALLOW_EMPTY_PASSWORD: It can be used to allow blank passwords. Default: no

[2020-02-22 21:32] lucamaggioni commented on #20214
By adding 1001 group to the nfs folder the problem was solved, so it was only a permission problem.

Thanks
Regards
Luca

[2020-02-22 21:32] #20214 closed

[2020-02-22 22:43] manast opened #20956 "[stable/contour] Error when installing: manifest_sorter.go:192: info: skipping unknown hook: "crd-install""
**Describe the bug**
Just running the example in the readme gives the following errors:

[code]
**Version of Helm and Kubernetes**:
[code]
Kubernetes managed by GKE version 1.15.8-gke.2

**Which chart**:
contour

**What happened**:
It installed but gave errors

**What you expected to happen**:
Clean installation without any errors.

**How to reproduce it** (as minimally and precisely as possible):

[2020-02-22 23:32] #19997 closed

[2020-02-22 23:32] #19999 closed

[2020-02-23 00:32] #20000 closed

[2020-02-23 01:48] alexmsu commented on #20186
Seeing the same issue +1

[2020-02-23 11:02] jayar commented on #20890
Hi @miguelaeh,
I had another deployment giving some issues, where it didn't have time enough for loading the data scripts, so I changed the liveness probes initial delay.
So I tried the the same for postgresql and set it to 90 sec, and it worked.
Thanks for the quick reply and good suggestions... I suspect it is the NFS which is the reason for the slow load time.

[2020-02-23 11:02] #20890 closed

[2020-02-23 11:47] kanhaic commented on #20210
any chance this would be merged?

[2020-02-23 12:57] usmonster commented on #19713
@rjkernick @tsiddique, can you please confirm this is an issue? It seems to be an easy fix. Thanks!

[2020-02-23 15:13] #18762 closed

[2020-02-23 15:26] sorleone opened #20961 "[stable/nfs-server-provisioner] Why was the NFS version decreased?"
I have noticed you modified the values of the Chart in the[ last commit](https://github.com/helm/charts/commit/6bd9551d39739a6a3564c8f9b666480921e8c1de#diff-63df78371422b655c0b2be69da8fbd34), from this

[code]

to

[code]

why is that? And what kinds of differences would I get with these two types of mount options?

[2020-02-23 15:49] shapeofarchitect commented on #20499
I also would like to point out that with the existing deployment controller you can update sonarqube anyway.

In my setup I have external Postgres container with PVC that is attached with sonarqube pod. When I upgraded the sonar to use new image , I met with this error.

If we would use StatefulSet , it might be handled or is this the issue with the update strategy ?

I am only running single pod

[2020-02-23 16:25] Aisuko commented on #20204
keep

[2020-02-23 18:13] #19230 closed

[2020-02-23 19:07] merlindorin commented on #19039
...

[2020-02-23 20:45] Joibel commented on #19039
The pull request is still open, although no-one appears to be looking at it

[2020-02-23 23:16] mmailhos commented on #13651
FYI the issue is not corrected with `docker.io/bitnami/postgresql:9.6.12-r73`

[code]

[code]

[2020-02-23 23:55] iboware commented on #11028
I also need this feature. We are using predefined PVs. It should be much easier to attach them without creating a PVC manually.

[2020-02-24 00:50] jim-barber-he commented on #20923
I just hit this myself.
The default for `volumePermissions.enabled` changed from `true` to `false`.
Setting it to `true` should get things going again.

[2020-02-24 01:12] jim-barber-he commented on #20923
It was broken by this change I think.
https://github.com/helm/charts/pull/20910

[2020-02-24 02:59] nalakawula opened #20965 "[stable/traefik] Traefik v1.7.21"
Traefik already [release v1.7.21](https://github.com/containous/traefik/releases/tag/v1.7.21) with some improvement and bug fix. When traefik chart update the image?

Thanks

[2020-02-24 03:48] ncmans commented on #11672
How about https://github.com/bitnami/charts/tree/master/bitnami/mongodb-sharded

[2020-02-24 08:21] carrodher commented on #20954
Hi,

This doc is referring to the Docker image where the env. variable has a different default value.

In the case of charts, you can find the [default parameters in the chart README](https://github.com/helm/charts/tree/master/stable/wordpress#parameters), [in this case](https://github.com/helm/charts/blame/master/stable/wordpress/README.md#L73):

| `allowEmptyPassword`                      | Allo

[2020-02-24 08:42] juan131 commented on #20921
Hi @dominik-bln

This issue was already reported for other chart and it's related to the label below which solves to `Tiller` in Helm2, and `Helm` in Helm3:

[code]

See:

- https://github.com/helm/helm/issues/7211
- https://github.com/helm/charts/issues/19231

[2020-02-24 08:59] carrodher opened #20969 "[stable/several] Transition from stable to bitnami"
**Context**
With the Helm 3 release, there are some changes affecting the charts repository. Some changes are due to technical reasons, while others are to facilitate the maintenance of the charts.

About the second item, in the next months `stable`/`incubator` are going to be de-listed from Hubs (in fact, they are already not included by default in Helm 3). [Here](https://github.com/helm/communit

[2020-02-24 09:07] javsalgar commented on #20923
Hi,

Good to know that it was just enabling the volumePermissions container. As stated in the PR, this is not compatible with all platforms that's why we're setting it to false by default. Do not hesitate to open a new ticket if you find any other issue.

[2020-02-24 10:53] acim commented on #20923
I tried volumePersmissions=enabled, but it still doesn't work with the same error:

[code]
The difference between 8.3.4 and 8.4.0 with this flag are really minor:
[code]
And I don't see why this would affect the problem. There must be something else.

[2020-02-24 10:56] anton-johansson opened #20973 "[stable/rabbitmq] Support for `loadBalancerIP`"
**Is your feature request related to a problem? Please describe.**

I'm using MetalLB to provide external IP addresses for `LoadBalancer` services. I like to be in control of my `LoadBalancer` services. Therefore, I really like using the `loadBalancerIP` to force which IP that MetalLB assigns. This is not possible with the current chart, but it should be really easy to fix.

**Describe the solutio

[2020-02-24 10:58] acim commented on #20923
It worked, but I had to uninstall the chart first and then install again. It seems this init is not executed on each start.

[2020-02-24 11:37] rishiraaz opened #20974 "[ incubator/fluentd-cloudwatch ] inconsistent logs upload to cloudwatch"
**Describe the bug**
We have noticed that the logs upload to cloudwatch is very inconsistent, some time logs are uploaded, some times not. The issue keeps on happening on different nodes with different set of pods.

**Version of Helm and Kubernetes**:
Kubernetes: 1.15.7 (issue has been noticed on 1.14.8 too)
Helm version: 2.14.3
**Which chart**:
incubator/fluentd-cloudwatch

**What happened**:
We

[2020-02-24 11:46] #20057 closed

[2020-02-24 13:06] jrockway commented on #12176
@jdomag I just had this problem and maresja's advice works perfectly.  The config he pasted goes in your "prometheus" object.  I don't know where the helm chart puts that, but you should have one, as that's the resource that the operator uses to create your prometheus instance.  You may need to adjust the name of the volume mount.

[2020-02-24 13:08] ranganathabrr opened #20979 "[bitnami/redmine] enabling mailReceiver issue"
**Describe the bug**
I can able to create redmine application and its working, adding to this i am trying with create a task from email functionality. I set up i map host name and configuration stuff. If I make
 mailReceiver
       enabled:true
throwing some error.

Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: [ValidationError(CronJob

[2020-02-24 14:31] RyuCaelum opened #20980 "[stable/chart/prometheus-mongodb-exporter] TLS support"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to add a ca certification in the prometheus-mongodb-exporter module. I've created a PR for this additional feature. https://github.com/helm/charts/pull/20913

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
To be able to use TLS

**Describe alternatives you

[2020-02-24 15:16] lukaszbudnik commented on #20504
@jamiegs well yes, if you do it via a set of kubectl it will work just fine, so if you want to get it running just follow the steps I have here: https://github.com/lukaszbudnik/migrator/tree/master/contrib/kubernetes-aws-eks

if you want to use helm to provision ALB then you have to wait for a fix

[2020-02-24 16:42] merlindorin commented on #19039
@Joibel we are working at Renault on a fork (with a better kubernetes integration / security best practice) and will open source it in one month. If you are interested, ping me ;)

[2020-02-24 19:29] beltran-rubo commented on #13651
This could be related to https://github.com/helm/charts/pull/20910 Could you please try to enable the "initContainer" for fixing the issue with permissions?

[2020-02-24 19:36] jtsoftex opened #20986 "mongodb-replicaset -- Backup to S3"
Hi, Is there any possibility we can add a feature like taking backup of all mongo db's and upload it on s3, may be using some k8 crons ?

Also, if not possible here, anyone know how can I achieve it on k8 ?

[2020-02-24 20:16] brylor commented on #20738
Was able to get it running doing:
helm install jenkins stable/jenkins --set master.installPlugins=

yet I get connect timed out

Caused: java.io.IOException: Failed to load http://updates.jenkins-ci.org/download/plugins/script-security/1.70/script-security.hpi to /var/jenkins_home/plugins/script-security.jpi.tmp
        at hudson.model.UpdateCenter$UpdateCenterConfiguration.download(UpdateCenter.j

[2020-02-24 21:06] gborp commented on #20721
pgadmin: 4.18

Firefox (73.0.1): OK.
Chrome (80.0): Charts are empty. (4.17 was ok)

[2020-02-24 21:41] #20363 closed

[2020-02-25 01:43] javamonkey79 commented on #20568
@NBardelot can you help with this?

[2020-02-25 02:02] jim-barber-he commented on #20923
FYI, for us, we have a pretty vanilla install of Kubernetes provisioned into an AWS environment using Kops.
I would have thought that would be a reasonably common scenario, so not sure why it broke for us.

[2020-02-25 02:15] bekriebel commented on #20581
I'm getting the same error when trying to use the `any: true` option that is also described in the documentation. It looks like either the documentation or the CRD is incorrect. How can one have it select all namespaces?

[code]

[2020-02-25 06:13] johnzheng1975 commented on #20974
Not sure this is caused by client side bottleneck, or server side bottleneck.
If it is server side bottleneck,  can we try forward logs to different cloudwatch group (or ask AWS support to improve).
Or we can use fluend file buffer to make logs forward consistence.

[2020-02-25 07:33] lindhe commented on #20363
I'll try to wake this again later, when I have time to drive it.

[2020-02-25 07:39] chaoyue729 opened #20991 "[tensorflow-notebook e.g. stable/chart] can not use The password "mytest "to access jupyter"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2020-02-25 08:14] miguelaeh commented on #20973
Hi @anton-johansson ,
Thank you for the request we will add it when we have the chance

[2020-02-25 08:46] clamoriniere commented on #20842
Hi @richerlariviere

Thanks for opening this issue.
We didn't use a "map" here because we want to have the possibility to add several times the same "key" in tags; for example: `service:booking` and `service:shopping`. that is why we are using a "list".
Also due to YAML limitations. you need to force the type in the list by adding `"environment:staging"`

so the correct way to add several tags in

[2020-02-25 08:58] clamoriniere commented on #20485
Hi @bkimbrough88,
Thank for opening this issue. We are currently working on a major `stable/datadog` chart upgrade #18182 that is solving your issue.
We should release soon this new version.

[2020-02-25 09:15] danielcooperxyz commented on #19032
This is still an issue, and it is not that easy to spot.

[2020-02-25 09:23] ahmed-mez opened #20993 "Add ahmed-mez as Trusted Collaborator"
Hello,

I'm member of the Datadog team that maintains the stable/datadog chart.

May I please be added as a Trusted Collaborator to take part in the PR lifecycle? (Similar to #18810 .)

Thanks!

cc @clamoriniere @CharlyF

[2020-02-25 09:38] NBardelot commented on #20568
Hi, for the moment I'm using this script:

[code]

I execute it in the webserver using `kubectl exec` after having deployed and started Airflow.

As the initdb is done *after* the scheduler is started you cannot use initcontainers against the DB to do things like this (the same issue arises would you want to create users...).

[2020-02-25 11:42] hprotzek opened #20998 "[stable/prometheus-operator] updated app version 0.36.0 not changed in values.yaml"
Regarding appVersion in the charts.yaml, prometheus-operator version 0.36.0 should be used, but the values.yaml file still has 0.35.0 configured.

[2020-02-25 11:47] pallavg opened #21000 "[charts/stable/rabbitmq-ha]: Is it possible to expose STOMP port to external IPs via NodePort?"
**Is your feature request related to a problem? Please describe.**
I am not sure if this a feature request or it is already supported. I have installed rabbitmq-ha on Racher (Kubernetes). I would like to expose the STOMP (TCP/SSL/WS) ports outside the cluster to external traffic via NodePort. However, by looking at the configuration options, there does not seem to be a way to do this. I am able to

[2020-02-25 12:02] githubrotem opened #21001 "[stable/Prometheus] Use an external Alermanager with Prometheus"
Hi

I am using the current stable Prometheus helm template and dont want to install the alertmanager as we already have an external alertmanager in our company.

I need to configure Prometheus to use this external alertmanager, however if I set the "alertmanager: false" in the values file, the "alertmanagers" section is ignored and I have to modify the server configmap yaml and remove {{- if $root

[2020-02-25 12:30] vboulineau opened #21003 "Add vboulineau as Trusted Collaborator"
Hello,

I've recently joined the Datadog team that maintains the stable/datadog chart.

May I please be added as a Trusted Collaborator to take part in the PR lifecycle?

Thanks!

cc @clamoriniere

[2020-02-25 13:26] #19894 closed

[2020-02-25 14:04] #19801 closed

[2020-02-25 15:18] SelinGungor opened #21008 "[stable/airflow] Gitsync throws Error: Deployment.apps "airflow-web" is invalid: spec.template.spec.containers[0].volumeMounts[0].name: Not found: "git-clone""
Airflow doesn't sync the git repo as I provided in `gitSync` in `values.yaml`.

Here is the dag part for the values.yaml

[code]

**Version of Helm and Kubernetes**:
Helm version:
version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}

Kubernetes version:

Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"

[2020-02-25 15:19] onedr0p commented on #19452
Moreover in the docs for `prometheusOperator.createCustomResource=false`

My understanding of that is if you are using helm 3 make sure you have `prometheusOperator.createCustomResource=false`

[2020-02-25 16:07] anton-johansson commented on #20973
Great, thanks for the quick response. I see you already created a PR for it. :+1:

[2020-02-25 16:43] mattfarina commented on #19539
@celenechang sorry for the slow response. You should have an invitation to collaborate. Accept it and you should be good to go.

[2020-02-25 16:45] irabinovitch commented on #20993
Approved from Datadog.

[2020-02-25 16:46] mattfarina commented on #18810
@L3n41c sorry for the delay. You should have an invitation to collaborate waiting for you.

[2020-02-25 16:47] irabinovitch commented on #20993
Approved from Datadog.

[2020-02-25 16:47] irabinovitch commented on #20993
Approved from Datadog.

[2020-02-25 16:47] mattfarina commented on #20993
@ahmed-mez you should have an invitation waiting for you.

[2020-02-25 16:48] irabinovitch commented on #18810
Thans Matt.

[2020-02-25 16:50] irabinovitch commented on #21003
Approved from Datadog

[2020-02-25 17:23] xario commented on #20510
@steven-sheehy Can you take a look at this? Thanks.

[2020-02-25 17:25] Cagrosso opened #21011 "[incubator/msyqlha] Slave containers fail due clone-mysql failing busy resource"
**Describe the bug**
With no additional configuration of the chart, slave pods fail after roughly 20 minutes of deploying mysqlha to a cluster due to /var/lib/mysql/mysql/... resource being busy

**Version of Helm and Kubernetes**:
kubernetes 1.15.5
rancher 2.3.5
helm v2.14.3-rancher1

**Which chart**:
incubator/mysqlha

**What happened**:

<img width="640" alt="Screen Shot 2020-02-25 at 10 46 57

[2020-02-25 19:00] rojopolis opened #21014 "[stable/spinnaker] pre-delete hook fails to start"
**Describe the bug**
The pre-delete hook `cleanup` doesn't work because it's requisite configmap is deleted before the hook executes.

**Version of Helm and Kubernetes**:
Kubernetes: 1.14 (AKS)
Helm: 2.15.1
**Which chart**:
stable/spinnaker

**What happened**:
The chart does not delete cleanly.
The pod description has this:
[code]

**What you expected to happen**:
The chart to delete cleanly

**Ho

[2020-02-25 19:13] cedricve commented on #20961
better support for kubernetes, many issues where opened in the past to increase usability and availability in a cluster.

[2020-02-25 19:15] cedricve commented on #20701
@naseemkullah @lurraca  any help here?

[2020-02-25 19:18] juan131 commented on #13651
Hi everyone,

When we disabled the **initContainer** by default, the following actions were not running by default anymore:

[code]

As you can see, there are two different actions done there:

- Restricting permissions on data directory to `700`
- Adapting ownership of data directory

As commented in the PR were we introduced the change, we're also enabling a **securityContext** to address the is

[2020-02-25 19:59] naseemkullah commented on #20701
cc @kvaps

[2020-02-25 20:00] cedricve commented on #20701
just tried myself and it looks like, it is not using latest version. When cloning the repo/chart it works.

     helm install stable/nfs-server-provisioner

[2020-02-25 21:09] celenechang commented on #19539
Got it, thanks!

[2020-02-25 21:09] #19539 closed

[2020-02-26 00:38] javamonkey79 commented on #20568
@NBardelot I like this approach, I will implement it. Thanks.

[2020-02-26 01:38] javamonkey79 commented on #20568
@NBardelot @gsemet [new PR is up](https://github.com/helm/charts/pull/21018), with the simplified "remove default connections" approach described above.

[2020-02-26 03:43] marshallford commented on #20699
I'm running into this issue as well. I don't think this problem is solvable given this discussion: https://discuss.istio.io/t/k8s-istio-sidecar-injection-with-other-init-containers/845

[2020-02-26 06:55] NickLarsenNZ commented on #20796
@juan131 this should be good to go

[2020-02-26 07:23] sorleone commented on #20954
@carrodher Hello, thank you for your reply. Isn't the chart sending that value to the Docker image anyway? Why would we want to allow empty passwords when using the Docker image in a chart?

[2020-02-26 08:01] yxxhero commented on #19738
@alemorcuq  I found the answer. thanks  because i use it by error way.

[2020-02-26 08:17] #19738 closed

[2020-02-26 08:21] rafariossaa commented on #20986
Hi,
   Sorry, but for now that is not on our roadmap.
   You can launch other mongodb container (or get into one of the pods) and there use the mongo tools to do the [backup](https://docs.mongodb.com/manual/tutorial/backup-and-restore-tools/).

[2020-02-26 08:30] sshishov commented on #19319
Also have this issue,

[2020-02-26 08:35] rafariossaa commented on #20986
Hi again,
We have this [guide]( https://docs.bitnami.com/tutorials/backup-restore-bitnami-deployments-velero/) to use velero for backing up a WP, maybe you can use it to do a similar thing for mongodb.

[2020-02-26 08:54] dani8art commented on #20979
Hi @ranganathabrr ,

Thank you for reporting this issue, I've just created a PR in order to fix it.

Regards.

[2020-02-26 10:04] ensonic commented on #20825
We're enabled rbac and that 'solved' it

[2020-02-26 10:22] #20979 closed

[2020-02-26 10:33] Hokwang opened #21046 "[stable/pgadmin] How to run ingress sub path"
Hello.

I want to use pgadmin with http://my.company.com/pgadmin URL.

But I think there's some problem in here.

my value file is here.
[code]

when I access my.company.com/pgadmin, URL moved to my.company.com/login?next=%2F
and 404 error.

How can I use sub path? Is it possible?

[2020-02-26 12:15] richerlariviere commented on #20842
Hi @clamoriniere, thank you for your answer. I understand your point. I will then close my issue and my PR.

[2020-02-26 12:15] #20842 closed

[2020-02-26 13:38] rjksn opened #21052 "[stable/mariadb] helm update removes service from live services"
**Describe the bug**

When running helm install the database service is created.

    $ helm install database stable/mariadb -f ./mariadb-production.yaml --set rootUser.password='...' --set replication.password='...'

When running helm update the service disappears from Kubernetes but helm tells me it was successful.

    $ helm upgrade database stable/mariadb -f ./mariadb-production.yaml

**Versi

[2020-02-26 14:38] rrneuron opened #21054 "[stable/spinnaker] unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta2", unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta2""
**Describe the bug**
A clear and concise description of what the bug is.
helm install spnkr stable/spinnaker --timeout 300s
Error: unable to build kubernetes objects from release manifest: [unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta2", unable to recognize "": no matches for kind "StatefulSet" in version "apps/v1beta2"]
**Version of Helm and Kubernetes**:
kuber

[2020-02-26 15:26] #20485 closed

[2020-02-26 15:35] ahmedspiir opened #21057 "[stable/airflow] airflow is not reading secret of a private github repo"
I'm trying to Add my private git reop to airflow
I ran this command
[code]
And my YAML Look like this:
[code]
I'm getting a message from `git-sync` and `git-clone` pods writing
[code]
I checked the secret and it's there. So what i'm doing wrong here?

[2020-02-26 15:43] jf647 opened #21058 "[stable/drone] Incorrect service account set in -secrets deployment"
When the value secrets.enabled is true, a [serviceaccount](https://github.com/helm/charts/blob/master/stable/drone/templates/service-account-secrets.yaml) suffixed with -drone-secrets is created (along with a role and binding) letting that serviceaccount read secrets from the K8S API.  This is in contrast to the -drone suffixed serviceaccount that allows other things (but not access to secrets).

[2020-02-26 15:45] bkimbrough88 commented on #20035
This is now handled in #18182

[2020-02-26 15:49] jf647 commented on #21058
A temporary fix is to apply this additional rolebinding:

[code]

(replacing $FULLNAME and $NS as appropriate).  This will add the -drone-secrets role to the -drone service account, which fixes the issue, albeit at the cost of giving the -drone service account privileges it doesn't strictly need (i.e. the ones that would normally be used by the secrets deployment).  My gitops workflow doesn't easi

[2020-02-26 15:53] sjmiller609 commented on #20736
The existing configuration is valid if the user configures the scrape config to use 'endpoints' https://prometheus.io/docs/prometheus/latest/configuration/configuration/#endpoints

[2020-02-26 15:53] #20736 closed

[2020-02-26 16:13] ahmedspiir commented on #21057
It was my mistake i didn't use the SSH git url `url: git@github.com:myorg/airflow-dags.git`

[2020-02-26 16:13] #21057 closed

[2020-02-26 16:40] ruaridhangus-fbr opened #21063 "[stable/phabricator] MariaDb.Enabled false is not respected"
**Describe the bug**
[code]

With the above config there is still a deployment of a MariaDB pvc, service ect. The Phabricator service connects to this rather than the externalDatabase details.

Successful deployment of Phabricator is possible when not trying to connect to a remoteDatabase.

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/phabricator

**What you expected to happ

[2020-02-26 20:15] CodingSpiderFox opened #21073 "[sable/nextcloud] cannot access web UI when deployed on minikube"
**Describe the bug**
Nextcloud is not locally accessible via the browser

**Version of Helm and Kubernetes**:
minikube version: v1.7.3
commit: 436667c819c324e35d7e839f8116b968a2d0a3ff

helm version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:"go1.13.8"}

**Which chart**:
stable/nextcloud

**What happened**:
[code]
Looked up the

[2020-02-26 20:58] javamonkey79 commented on #16368
For anyone else coming here after the last 2 comments, this does in fact work, but not quite as described. This is what worked for me:

[code]

[2020-02-26 20:58] skidpa commented on #21073
nextcloud will listen for trusted connections on a host. so you'll need to specify that host in the values.yaml file (nextcloud.host)
so `helm install nextcloud stable/nextcloud --set nextcloud.host=172.17.0.4`
although setting a hostname would probably be better

[2020-02-26 21:02] CodingSpiderFox commented on #21073
Can't it determine the IP and trust it automatically by default?

[2020-02-26 21:06] skidpa commented on #21073
not as far as i know. guess the reasoning would be something along the lines of that access to the cloud would be through some fqdn or if someone decided to just run it locally something along the lines of nextcloud.local

[2020-02-26 22:01] CodingSpiderFox commented on #21073
Anyway, your fix works for me, thanks :)

[2020-02-26 22:01] #21073 closed

[2020-02-27 00:08] Hokwang commented on #21046
@rowanruseler can you help me?

[2020-02-27 01:07] 3manuek commented on #20956
[code]

It may having be related to a non correct handling of a v3 migration, according to [the new template rules](https://github.com/helm/helm/blob/9b42702a4bced339ff424a78ad68dd6be6e1a80a/pkg/lint/rules/template.go#L156), this might no longer supported:

[code]

Found that [](https://github.com/helm/helm/blob/840bbc951ea026297a5afeffdf913bd6bc79f20f/pkg/releaseutil/manifest_sorter.go#L192)

[2020-02-27 01:25] Hokwang commented on #21046
@dpage can you help me?

[2020-02-27 01:48] sachinmsft opened #21076 "[stable/prometheus-operator] Why we are not using Kubernetes CA to sign the certificate to be used by PrometheusRules Admission Webhooks"
**Describe the bug**
I see that we are using pre-install jobs that creates and configure the PrometheusRules Admission Webhooks with private CA certificate.
My question is that why we are not using kubernetes cluster CA to sigh the certificate using https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request

**Version of Helm and Kubernetes**:
3.0

**Which

[2020-02-27 04:27] SharanReddyK commented on #18706
I still see this issue. Do we need to edit configmap-env.yaml file instead of values.yaml to see our changes?

[2020-02-27 04:31] Bluesboy commented on #20160
I'm also experiencing this issue

[2020-02-27 05:08] sk2991 opened #21077 "[stable/chart/airflow] airflow.cfg configs are not updated."
**Describe the bug**
Postgress connection is not applied in the airflow.cfg, I see the airflow.cfg is still having the default values, env has the values supplied through values.yml file.
How to create/edit the airflow.cfg so that the configs are present in the file on the node and in the UI?
I have exported the webUI using Nodeport

**Version of Helm and Kubernetes**:
Kubernetes:1.11.5
Helm:v2.16

[2020-02-27 05:21] akrausesap opened #21078 "[stable/mongodb] Authentication failure with mongodb"
**Describe the bug**
When installing stable/mongodb through `helm install  --name first-mongo --set "persistence.size=2Gi" stable/mongodb --namespace personservice` as of version 7.0.2 (and greater) the command `mongo admin --host first-mongo-mongodb --authenticationDatabase admin -u root -p $MONGODB_ROOT_PASSWORD` fails to execute inside the container with the following message:

[code]

**Versio

[2020-02-27 05:22] sekka1 commented on #20195
@wasimansari661 I am looking into this.  Will post and update of what I find.

[2020-02-27 05:26] #19902 closed

[2020-02-27 05:26] #19056 closed

[2020-02-27 05:26] #18805 closed

[2020-02-27 05:26] #20089 closed

[2020-02-27 05:26] #20021 closed

[2020-02-27 05:26] #20080 closed

[2020-02-27 05:26] #19988 closed

[2020-02-27 05:26] #19978 closed

[2020-02-27 05:26] #20062 closed

[2020-02-27 07:05] ravizeewee opened #21080 "Error: Internal error occurred: failed calling webhook"
Hello There,

I am tring to install prometheus but getting below issue:

Error: Internal error occurred: failed calling webhook "prometheusrulemutate.monitoring.coreos.com": Post https://monitoring-prometheus-oper-operator.monitoring.svc:443/admission-prometheusrules/mutate?timeout=30s: service "monitoring-prometheus-oper-operator" not found

**Helm Version:**
version.BuildInfo{Version:"v3.1.1", G

[2020-02-27 08:15] Hokwang commented on #21046
figure it out self.

[code]

[2020-02-27 08:15] #21046 closed

[2020-02-27 08:28] kauphylover opened #21082 "[stable/mongodb] Helm template failure"
**Describe the bug**
I'm trying to install the mongodb chart with extraVolumes and extraVolumeMounts also configured using the following values.yaml file:
[code]
**Version of Helm and Kubernetes**:
version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:"go1.13.8"}

Kubernetes version: 1.15.5

**Which chart**:
stable/mongodb

**What

[2020-02-27 08:35] #19344 closed

[2020-02-27 08:41] nwaelti commented on #18929
It's definately not stale, I'm having the same issue, but in a local cluster where volumes are pre-mounted...

[2020-02-27 09:03] VLZZZ opened #21084 "[stable/prometheus-operator] Generated comments for empty resources in helm templates prevent normal chart deletion"
**Describe the bug**

During Helm chart deletion Helm fails due to comments in top of the templates for non created resources.
Removing the comments reduced number of errors.
Then you need to manually remove using `--purge` flag.
Comments generated by `hack` must use Helm template syntax comments - `{{- /* */ -}}` for successful deletion. (as they won't be rendered)

Please see below for the compl

[2020-02-27 09:09] juan131 commented on #21063
Hi @ruaridhangus-fbr

This chart doesn't support using an external database at this very moment. As you can see the `externalDatabase` parameter is not listed in the [values.yaml](https://github.com/helm/charts/blob/master/stable/phabricator/values.yaml) nor the [README.md](https://github.com/helm/charts/blob/master/stable/phabricator/README.md).

This is something that we could add since it's alr

[2020-02-27 09:19] #20973 closed

[2020-02-27 09:35] ahmed-mez commented on #20993
Hi @mattfarina
I didn't receive any invitation, could you please try to send it again?
Thanks!

[2020-02-27 09:43] rishiraaz commented on #20974
@johnzheng1975 one suspect is cloudwatch putevents has a limit of 1 mb per sec but not sure on that.
I have made below config change, will check how this goes.
enable_watch_timer false
 enable_stat_watcher true

[2020-02-27 10:08] ruaridhangus-fbr commented on #21063
@juan131 - Thanks, I had a suspicion. I am guessing it was copied from the maridaDb chart.

What the likelihood that it could be added into the chart? As I would prefer not to migrate our existing RDS to a containerized version.

[2020-02-27 11:25] #20102 closed

[2020-02-27 11:30] javsalgar commented on #21078
Hi,

Could you confirm if you are using istio or any sidecar injection?

[2020-02-27 11:35] javsalgar commented on #21082
Hi,

I was unable to reproduce the issue. This is what I had in values.yaml and it worked without issues

[code]

Could you check this is the exact format you are using? I think that the `|` that you are using is causing the problem.

[2020-02-27 12:04] kauphylover commented on #21082
Thanks for taking a look, @javsalgar.  I can reproduce the problem if you copy-paste the commands from the "How to reproduce it" section.

But it works when I run your version of the same configuration!!! I had even tried it without the '|' but I had still run into problems.

Thank you very much for the help, @javsalgar.

[2020-02-27 12:04] #21082 closed

[2020-02-27 12:09] doryanmzr opened #21090 "Grafana nodeselector issue"
**Describe the bug**
When I deploy the helm chart of grafana using helm, it schedule the pod on windows node although i set the nodeselector to linux in values.yaml

[code]

**Version of Helm and Kubernetes**:
kubectl version
[code]
helm version
[code]

**Which chart**:
grafana

**What happened**:
grafana was scheduled on windows node

**What you expected to happen**:
grafana should be scheduled o

[2020-02-27 12:25] #17155 closed

[2020-02-27 12:33] akrausesap commented on #21078
@javsalgar: It is definetly related. however chart version 7.0.1 works with istio. 7.0.2 does not. My hypothesis is that the script inside the container image has changed.

[2020-02-27 12:55] jlmurphysa opened #21091 "[stable/rabbitmq-ha] Better support for community plugins"
Hi,

I'm using a single community plugin in my application and was surprised to find the chart offered no easy way to enable it.

I wanted to discuss new options to download additional files into the plugins directory before rabbitmq tries to enable them.
I imagine it's quite a common use case, and it's quite inconvenient to have to extend the base image just to do this.

**Describe the solution y

[2020-02-27 13:03] #21084 closed

[2020-02-27 13:05] ravizeewee opened #21092 "How to enable admin api?"
I have deployed the Prometheus on aks but forgot to enable admin API at the time of installation.

How can i do now?

Resource: https://github.com/helm/charts/tree/master/stable/prometheus-operator

Thanks

[2020-02-27 13:25] #20052 closed

[2020-02-27 14:33] Timvissers commented on #21001
How about:

`
server
  alertmanagers:
    - scheme: https
      static_configs:
      - targets: ['externalalertmanager.ourcompany.com:443']
`

[2020-02-27 14:34] techd1984 opened #21095 "Helm uninstall leaves 2 pods running in the namespace"
Helm uninstall leaves 2 pods running in the namespace and when trying to delete it recreates these two pods which is expected. but, why its leaving these 2 pods running and how to clean or uninstall the spinnaker completely, had to delete the namespace to get rid of those 2 pods...

NAME                                          READY   STATUS      RESTARTS   AGE
spinnaker-install-using-hal-4q2tz

[2020-02-27 14:56] juan131 opened #21097 "[name of the chart e.g. stable/chart] issue title"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2020-02-27 14:56] #21097 closed

[2020-02-27 14:56] juan131 opened #21098 "[stable/wordpress] Transform WordPress into a non-root chart"
**Is your feature request related to a problem? Please describe.**

Running container using unprivileged users (AKA **"non-root" containers**) is one of the most extended security best practices on Kubernetes. Indeed, it is mandatory for some K8s distributions such as [OpenShift](https://www.openshift.com/) or [VMware Tanzu Kubernetes Grid](https://my.vmware.com/web/vmware/info?slug=infrastructure

[2020-02-27 15:17] AceHack opened #21100 "Where are Helm 3 charts going to be stored?"
I see

So where is the "new" location for Helm 3 charts?

Thanks.

[2020-02-27 15:50] techd1984 opened #21102 "When S3 enabled and Minio disabled, Helm install times out"
Here is the changes in default values.yaml

minio:
  enabled: false
  image:
    tag: RELEASE.2018-08-25T01-56-38Z
  serviceType: ClusterIP
  accessKey: spinnakeradmin
  secretKey: spinnakeradmin
  bucket: "spinnaker"
  nodeSelector: {}

# AWS Simple Storage Service
s3:
  enabled: true
  bucket: "abcdef"
  rootFolder: "front50"
  #region: "us-east-1"
  # endpoint: ""
  # accessKey: ""
  # secretKe

[2020-02-27 15:52] techd1984 commented on #21102
Helm Install times out but leaves 2 pods running in the namespace
spinnaker$ kubectl get pods
NAME                            READY   STATUS    RESTARTS   AGE
spinnaker-redis-master-0        1/1     Running   0          9m36s
spinnaker-spinnaker-halyard-0   1/1     Running   0          9m36s

[2020-02-27 16:07] scottrigby opened #21103 "[stable/*] helm repo migration"
Given the stable and incubator [support plan](https://github.com/helm/charts/blob/master/README.md#status-of-the-project) and [Deprecation Timeline](https://github.com/helm/charts/blob/master/README.md#deprecation-timeline), the community (chart OWNERS, organizations, groups or individuals who want to host charts) are moving charts to new Helm repos, and will list these new repos on the [Helm Hub]

[2020-02-27 16:43] #20217 closed

[2020-02-27 18:00] bcg62 opened #21105 "[stable/sysdig] cannot set env unless ebpf enabled"
**Describe the bug**

env vars cannot be set unless ebpf.enabled = true

[code]

**Which chart**:
stable/sysdig

**What happened**:

Values:

[code]

`Error: YAML parse error on sysdig/templates/daemonset.yaml: error converting YAML to JSON: yaml: line 40: did not find expected key`

**What you expected to happen**:
Proper install

**How to reproduce it** (as minimally and precisely as possible):

[2020-02-27 18:37] c4m4 opened #21107 "[stable/cert-manager] install fails on kubernetes v1.17.0"
**Version of Helm and Kubernetes**:
helm: v2.16.1
kubernetes: v1.17.0

**Which chart**:
stable/cert-manager

**What happened**:
helm install stable/cert-manager --name cert-manager --namespace kube-system --version v0.6.0 --set createCustomResource=true
Error: validation failed: unable to recognize "": no matches for kind "Deployment" in version "apps/v1beta1"

**What you expected to happen**:
Ins

[2020-02-27 19:23] aetherith opened #21108 "[stable/jenkins] Unable to configure custom httpsKeyStore"
**Describe the bug**
When trying to use a custom Java keystore Jenkins fails to start up saying that there is no keystore at `/var/jenkins_keystore/keystore.jks`. I am trying to use a custom keystore to add an internal CA certificate to Java so that I can use LDAPS.

**Version of Helm and Kubernetes**:
Helm: v3.1.1
Kubernetes: v1.17.2

**Which chart**:
stable/jenkins

**What happened**:
After inst

[2020-02-27 19:45] marcos-monteiro opened #21109 "[stable/stolon] hardcoded init-scripts configmap name"
**Describe the bug**
The init-scripts configmap name is hardcoded, making it impossible (without delete the configmap already deployed) to have two instances (even with different deploying names) running in the same namespace.

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
Stable/Stolon

**What happened**:
Having one instance of Stolon already running prevents to deploy anoth

[2020-02-27 19:58] marcos-monteiro commented on #21109
I've been able to deploy more than one instance with the changes done in the PR #21110.

[code]

[2020-02-27 20:14] calind opened #21111 "[stable/nginx-ingress] Deployments are targeting wrong pods"
**Describe the bug**
The controller and default-backend deployments are targeting the same pods (eg. the controller is targeting both the controller pods and default backend pods. The same goes for the default-backend deployment).

They are both missing the `component` label from their respective `.spec.selector.matchLabels`

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**

[2020-02-27 20:34] newtonjose commented on #20132
Hi ALL, Any one can help?

[2020-02-27 20:39] Razernut opened #21112 "[stable/grafana] Login defined in .values.admin.existingSecret is invalid"
**Describe the bug**

When setting admin username and password via `.admin.existingSecret` in `values.yaml`, the defined login is not working when trying to log into the Grafana web UI with the defined credentials.

**Version of Helm and Kubernetes**
Helm: 3.1.0
Kubernetes: 1.17.3

**Which chart**
stable/grafana
Chart version: 5.0.3

**What happened**
After configuring the following secret
[code]

[2020-02-27 21:18] vkasgit opened #21113 "[stable/rabbitmq-ha] Is there a character limit on definitions.json?"
Hi,
I am creating custom vhosts, users, permissions and such via values.yaml and I see there is some limit on characters. Is there any way to get around this issue.

Here is my definitions snippet defined in values.yaml. On inspecting the base64 encoded secret that was created I see some text cut off which indicates there might be some character limit. i double checked the format and indents and e

[2020-02-27 22:54] tquach commented on #20647
The`helm uninstall traefik` worked for me. This will purge the PV and PVC, however be warned that this will also blow away the ELB and if you have anything in terraform it will cause a mess.

Deleting the PV or PVC manually is not recommended as this will cause the PV to be in a Failed state as the volume will still be attached to the node.

It would be great if helm would recreate the PV / PVC wh

[2020-02-28 07:47] tuananh1998hust commented on #19505
[code]

[2020-02-28 07:56] akrausesap commented on #21078
Hi all,
a potential workaround for this is to disable sidecar injection and to tell istio to not use mtls for all connections to the mongo db. with automatic sidecar injection enabled on the ns this can be achived as follows:

[2020-02-28 08:18] dmytropetryk commented on #10869
In my case, I was deploying via terraform cert-manager and cert-manager-issuer charts in the same script.
I fixed it when set depends on cert-manager for cert-manager-issuer. Cert-manager should deploy first

[2020-02-28 08:49] denisw commented on #16251
I hit this issue as well. It seems as if recent versions of the Bitnami PostgreSQL Docker image [expect `POSTGRESQL_PASSWORD` as environment variable name](https://github.com/bitnami/bitnami-docker-postgresql#setting-the-root-password-on-first-run) whereas the Helm chart sets `POSTGRES_PASSWORD` instead.

[2020-02-28 09:29] pkaramol commented on #1341
Do these annotations `service.beta.kubernetes.io/load-balancer-source-ranges: "172.0.0.0/8, 10.0.0.0/8"`
also apply when running on GCP / GKE? (i.e. for the GCP load balancer that will be created for the agent service?

[2020-02-28 09:36] saine1991 opened #21122 "[stable/redmine] Plugins installation"
**Describe the bug**
Unable to install some plugins (example: redmine_contacts).

**Version of Helm and Kubernetes**:
helm: 2.16.1
kube: 15.3

**Which chart**:
stable/redmine

**What happened**:
I've created docker image basing on bitnami/redmine:4.1.0-debian-10-r0 with some plugins attached.

Here is what I added to Dockerfile:
---------------------------------------------------------------------

[2020-02-28 09:56] theoddprince opened #21124 "[stable/prometheus-postgres-exporter] Failed to connect to database"
Hi Guys ,

After installing the exporter and after execution I always get the error below :

`time="2020-02-28T08:45:42Z" level=error msg="Error opening connection to database (postgresql://ossdb01db:PASSWORD_REMOVED@dop-postgres:6432/paasdb?sslmode=disable): pq: password authentication failed for user \"ossdb01db\"" source="postgres_exporter.go:1474"`

Any Idea why it is always failing to connect

[2020-02-28 10:11] ksiadz opened #21125 "[stable/stolon] initdbScripts has no psql"
**Describe the bug**
Init script doesn't have psql access and there is a lack of precise information on how to run init SQL configuration

**Version of Helm and Kubernetes**:
helm 2.16.2
kubernetes 1.15

**Which chart**:
stolon: 1.4.0

**What happened**:
psql not found

**What you expected to happen**:
execute SQL setting up first database and users

**How to reproduce it** (as minimally and preci

[2020-02-28 10:19] #18231 closed

[2020-02-28 11:14] timrabbetts opened #21126 "Ran install, everything seems up and running but can't access in browser"
I ran the install, everything seems fine, but can't access in browser, as a test I tried the jenkins/stable which did work and was accessible but there was an extrta port forward bit which made it work, I wonder if this is missing?

`helm install drupal stable/drupal
NAME: drupal
LAST DEPLOYED: Fri Feb 28 10:42:14 2020
NAMESPACE: default
STATUS: deployed
REVISION: 1
NOTES:
************************

[2020-02-28 11:28] javsalgar commented on #21052
Hi,

I was unable to reproduce the issue

[code]

I don't see a reason why the service object would disappear. Maybe you mean the containers that disappear?

[2020-02-28 11:37] javsalgar commented on #21063
Hi,

We have plans for doing another round of charts standardizations. I think it makes sense for this feature to be available in all of our web applications. We will update this ticket when we have more news.

[2020-02-28 11:44] javsalgar commented on #21078
Hi,

We are currently in version 7.8.6, so there have been several changes in the container. You could try using the container version that was available in 7.0.1 to see if that helps. However, thanks for sharing the workaround, let's see if the isitio issue gets resolved :)

[2020-02-28 12:37] bulatzamilov opened #21128 "[stable/sonatype-nexus] securityContext.fsGroup: 2000 doesn't work"
**Describe the bug**
a) Setting securityContext.fsGroup to eg 1000 (group of exisiting files in nexus data in my case) doesn't help to apply new chart version having mounted nexus-data dir (pls see What happened section)
b) No info securityContext.fsGroup what this param should do in case of having external volumes mounted
c) The lack of instruction about updating from 1.19.0 to 1.22.0 chart versi

[2020-02-28 12:37] bulatzamilov opened #21129 "[stable/sonatype-nexus] securityContext.fsGroup doesn't work as supposed to"
**Describe the bug**
a) Setting securityContext.fsGroup to eg 1000 (group of exisiting files in nexus data in my case) doesn't help to apply new chart version having mounted nexus-data dir (pls see What happened section)
b) No info securityContext.fsGroup what this param should do in case of having external volumes mounted
c) The lack of instruction about updating from 1.19.0 to 1.22.0 chart versi

[2020-02-28 13:06] #21098 closed

[2020-02-28 13:16] DaveOHenry commented on #21091
Storing the file into a Configmap and mapping it to a volume works fine:

values.yaml
[code]

An extra Configmap / template is needed, too. This should go into the "templates" folder.
rabbitmq-extra-files-cfg.yaml:
[code]

And of course the file should be placed in the correct folder under the chart root folder.

Keep in mind that Helm has certain limitations when it comes to adding files. A chart

[2020-02-28 13:19] #19857 closed

[2020-02-28 13:32] alberto56 commented on #20286
Same here.

I am using [Helm on Docker](https://github.com/alpine-docker/helm).

My helm alias looks like:

    alias helm='docker run -e KUBECONFIG="/root/.kube/config:/root/.kube/digitalocean-tutorial-kubeconfig.yaml:/root/.kube/helm-drupal-issue-kubeconfig.yaml" -ti --rm -v $(pwd):/apps -v ~/.kube:/root/.kube -v ~/.config/helm:/root/.config/helm -v ~/.helm:/root/.helm alpine/helm'

I cannot ins

[2020-02-28 13:35] DaveOHenry commented on #20899
The same thing happens with many other example rules from other charts, too. The problem is that something tries to pretty print the values and adds a "\n" when the line becomes too long. I think it is valid yaml after this transformation, but it breaks the template rendering.

The only (non-practical) workaround I found is to make the rules as short as possible and avoid templated strings.

See a

[2020-02-28 13:53] ppoliani opened #21130 "[stable/neo4j] Unable to run the cluster"
**Describe the bug**
I follow the instruction to install the helm chart:

[code]

I can see the pods running however when I check the logs I see the following lines:

[code]

I also tried to read the logs from `debug.log` and got the following lines:

[code]

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:
 stable/neo4j

[2020-02-28 15:18] blazhemitrev opened #21131 "[stable/openvpn] OpenVPN user with revoked certificate still can connect"
**Describe the bug**
OpenVPN user with revoked certificate still can connect

**Version of Helm and Kubernetes**:
Helm Client version: v2.14.3
Helm Server version: v2.14.1
Kubernetes client version: v1.15.9
GKE version: 1.15.8-gke.3

**Which chart**:
stable/openvpn

**What happened**:
OpenVPN user with revoked certificate still can connect

**What you expected to happen**:
After certificate revoca

[2020-02-28 15:19] #16931 closed

[2020-02-28 15:23] baelish commented on #21080
I'm having a similar issue. I think mine is caused by the `fullnameOverride: po` setting causing the creation of a service called `po-operator` and the webhook still using the default service name `prometheus-operator-operator`

error message when applying a rules file:
[code]
Chart version: 8.9.3
Helm version: v3.0.3
Kubernetes version: v1.14.10-gke.17

This worked fine before I added the `fullna

[2020-02-28 15:45] baelish commented on #21080
@ravizeewee you may want to add `[stable/prometheus-operator]` to the title so it get's the right people's attention.

[2020-02-28 15:47] jlmurphysa commented on #21091
Hi @DaveOHenry - thanks a lot for your input.

What you've suggested is not a bad solution. In fact, I think it beats what I'm doing now...

However, it doesn't strike me as ideal that the plugin gets downloaded on the client-side and sent along with the manifests to the tiller pod / kubeapi-server.

Would Helm fetch the file every time it runs an upgrade before computing the patch?
If that's the

[2020-02-28 16:16] baurmatt opened #21133 "[stable/postgresql] Can't connect to database after deployment"
**Describe the bug**
After deploying I can't using the Helm notes output to connect to the database

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**: stable/postgresql

**What happened**:  I've tried to deploy the stable/postgresql chart and can't connect to the database afterwards.

**What you expected to happen**: I can connect to the database

**How to reproduce it** (as min

[2020-02-28 16:23] lcsfreire opened #21134 "REQ_TIMEOUT jenkins-sc-config side car"
Hello,
Chart: Jenkins Helm Chart
Version: 1.9.19
Bug: we have jenkins as code returning timeouts in the jenkins-sc-config side-car container. Since we have many jobs, when jenkins is loading the configuration, it takes more than 10s (default value, and we need a couple of seconds more) and we got a timeout related to REQ_TIMEOUT. This forces jenkins to charge the config maps in a loop. This happen

[2020-02-28 16:42] test-account-0 opened #21135 "[stable/prometheus-operator] disableCompaction not working"
**Describe the bug**
Option `prometheus.prometheusSpec.disableCompaction` is not working when creating new prometheus instance.

**Version of Helm and Kubernetes**:
It is probably not important.

**Which chart**:
stable/prometheus-operator

**What happened**:
`prometheus.prometheusSpec.disableCompaction` is not referenced in `templates/prometheus/prometheus.yaml` so there is not way for it to work

[2020-02-28 16:46] yachtcaptain23 opened #21136 "[stable/metabase] Please upgrade appVersion to 0.34.3"
Please upgrade appVersion to 0.34.3

[2020-02-28 16:49] baelish commented on #21080
In my case it ended up being caused by some webhook configurations still hanging around from the old release. The below commands and a re-deploy fixed it for me.

[code]

[2020-02-28 17:12] baurmatt commented on #21133
With the helper of a coworker I've just discovered that it works fine for the first deployment in a namespace but fails for `helm install` that follow:

First create:
[code]

Delete helm release:
[code]

Second create:
[code]

The problem seems to be that the persistent volume survives the `helm delete`.

[code]

This probably means that the second `helm install` just reuses the pv which than has

[2020-02-28 18:19] #20179 closed

[2020-02-28 19:19] #19399 closed

[2020-02-28 21:04] Angivare opened #21139 "[stable/prometheus-operator] KubeletTooManyPods rule evaluation error"
**Describe the bug**
When installing the chart with `kubelet.serviceMonitor.https=false`, I get a `PrometheusRuleFailures` alert in the prometheus interface. Logs show the failing rule is `KubeletTooManyPods`

**Version of Helm and Kubernetes**:
helm v3.1.1
kubernetes v1.14.8 (deployed on AKS)

**Which chart**: stable/prometheus-operator 8.10.0

**What happened**: The default alert rule `KubeletTo

[2020-02-28 21:20] #20553 closed

[2020-02-28 21:30] #21105 closed

[2020-02-28 21:46] JulianGindi opened #21141 "[stable/grafana] Error when trying to set GF_DATABASE_PASSWORD from Kubernetes secret"
**Describe the bug**
I have the following config set up to expose an environment variable from a Kubernetes secret. The configuration looks as follows:

[code]

I get the following error when attempting to install the chart:

[code]

**Version of Helm and Kubernetes**:

Helm: `Version.BuildInfo{Version:"v3.1.1", GitCommit:"afe70585407b420d0097d07b21c47dc511525ac8", GitTreeState:"clean", GoVersion:

[2020-02-29 00:08] peterculak opened #21142 "stable/wordpress MARIADB_PORT_NUMBER %!s(int64=3306)"
[code]

after running this it creates deployment with
[code]

[2020-02-29 00:35] znat commented on #16820
The issue seems to be back. Now I'm not using terraform anymore, but using this chart as a dependency in another chart. Here are my values:

[code]

`mongo bf -u rw -p password --authenticationDatabase admin` fails

However, I can login as root and do:
[code]

Any idea?

[2020-02-29 03:24] funky81 commented on #19183
Hi @msschl , i have some problems with you. is disable cluster feature and sentinel feature is the only way to solve the problem? It's been several days since i tried to solve this problem.
Main Goals : using Stackexchange redis connect to redis cluster (plus sentinel) in k8s environment

[2020-02-29 03:33] alberto56 commented on #20286
So in my case I was using Helm on Docker and had to fix which volumes I was sharing between my host and my container. For helm charts in repos to work correctly, ~/.cache/helm and ~/.config/helm need to be shared.

Here are the changes to how I'm using helm on Docker:

* https://github.com/alpine-docker/helm/pull/17/files
* https://github.com/alpine-docker/helm/pull/18/files

This is required from

[2020-02-29 08:03] nmacherey opened #21144 "[stable/wordpress] cannot use an existing PVC"
**Describe the bug**

The existing PVC is attached and mounted but the content is erased event when `wordpressSkipInstall` is `true`

**Version of Helm and Kubernetes**:

Helm: 2.14.3
Kubernetes: 1.15.9-gke.8

**Which chart**:

stable/wordpress

**What happened**:

I am unable to use an existing PVC from a previous wordpress version (full wordpress code into it). The PVC content is emptied.

**Wha

[2020-02-29 08:20] msschl commented on #19183
Unfortunately for me yes.
The problem is:
I haven’t found an example on how to connect with the C# stackexchange redis client to an sentinel enabled cluster.
Therefore the only way for me was to disable the cluster feature and sentinel and connect directly to redis.

[2020-02-29 08:26] msschl commented on #19183
I just found an pull request in the StackExchange.Redis repo.
When you are using C# you can try [this](https://github.com/StackExchange/StackExchange.Redis/pull/406). Maybe this works

[2020-02-29 10:53] janotav commented on #20476
I'm facing similar/same issue. After deploy to multiple (identical) environments, there is usually a couple of them where the dashboard configmap update is not noticed by Grafana. Kubectl logs on the sidecar container shows no output at all when the configmap is modified, i.e. no "Working on configmap foo/bar" lines appear. When this happens it seems to affect all ConfigMap updates. It looks as if

[2020-02-29 11:11] nielsvz opened #21147 "[external-dns] Using CloudFlare with cloudflare.secretName containing cloudflare_api_key does not work"
**Describe the bug**
When installing the external-dns chart with the CloudFlare provider and an API key in a custom `secretName` the resulting Pod fails with `CreateContainerConfigError`.

**Version of Helm and Kubernetes**:
Helm v3.1.1
Kubernetes v1.17

**Which chart**:
External-DNS 2.19.1

**What happened**:
Installing External-DNS with the following values results in the output below.

Values:

[2020-02-29 12:04] #20188 closed

[2020-02-29 12:04] #20108 closed

[2020-02-29 13:03] #19898 closed

[2020-02-29 13:03] #20193 closed

[2020-02-29 15:03] #20197 closed

[2020-02-29 15:38] funky81 commented on #19183
I'll try this. I just wondering why c# don't have good library for redis.
Coz the library that you refer is 3 years old 😅

On Sat, Feb 29, 2020, 3:26 PM Markus Schlotbohm <notifications@github.com>
wrote:

[2020-02-29 16:03] #20198 closed

[2020-02-29 18:46] ahmetkaftan opened #21149 "[stable/mongodb] Error when useStatefulSet is true"
**Describe the bug**
When installing the chart with:
[code]
I got the following error:
[code]

**Version of Helm and Kubernetes**:
[code]
**Which chart**:
https://github.com/helm/charts/tree/master/stable/mongodb

**What happened**:
Can't install chart.

**What you expected to happen**:
Can install helm chart

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything els

[2020-02-29 19:12] RachadAbiChahine commented on #18568
@AntoineGodeau you can use 1.2.2 it should work now 👯‍♂

[2020-02-29 19:30] znat commented on #16820
Ok, got it. Just needed to not specify an authentication database

[2020-02-29 22:50] fredbeltrao commented on #20721
Any issue about that opened in dpage/pgadmin repo?

[2020-03-01 03:11] codiophile commented on #20450
I still need this to be able to use this helm chart in our environment. If there is no active maintainer of this helm chart here, maybe someone could tell me where to find one?

[2020-03-01 04:00] briantopping commented on #16463
I ran into this as well. It seems like a good idea to document.

[2020-03-01 06:54] jshrack-ssi opened #21153 "[stable/datadog] trace-agent not enabled (v2.0 chart)"
**Describe the bug**
When enabling the Datadog trace agent in the values.yaml: datadog.apm.enabled: true the following error is observed in the associated pod:

2020-03-01 06:50:46 UTC | TRACE | INFO | (pkg/util/log/log.go:482 in func1) | Loaded configuration: /etc/datadog-agent/datadog.yaml
2020-03-01 06:50:46 UTC | TRACE | INFO | (pkg/trace/agent/run.go:71 in Run) | trace-agent not enabled. Set

[2020-03-01 07:41] gaurav517 opened #21154 "[stable/sentry] sentry 10 support"
Can we please have helm charts for sentry 10

Thanks.

[2020-03-01 09:01] schmichri commented on #20803
+1

[2020-03-01 11:05] aliartiza75 commented on #20945
as influx db helm chart is moved under influxdb helmChart, so a [issue](https://github.com/influxdata/helm-charts/issues/30) has been created there

[2020-03-01 11:31] #20191 closed

[2020-03-01 12:31] #20213 closed

[2020-03-01 12:56] #21109 closed

[2020-03-01 16:08] UbiquitousBear commented on #21142
What version of the chart is installed? Use `helm ls` to find out

[2020-03-01 16:10] UbiquitousBear commented on #21142
Looks like this started to happen after https://github.com/helm/charts/pull/21099 was merged @juan131

[2020-03-01 16:26] aandrushchenko opened #21156 "[stable/prometheus-operator] failed post-install: timed out waiting for the condition"
**Describe the bug**
Helm installation results into a failed release because of the timeout while waiting for the prometheus-operator-admission-patch that is completed

**Version of Helm and Kubernetes**:
Helm: `version.BuildInfo{Version:"v3.0.2", GitCommit:"19e47ee3283ae98139d98460de796c1be1e3975f", GitTreeState:"clean", GoVersion:"go1.13.5"}`
Kubernetes: v1.17.2
Environment: bare metal
**Which c

[2020-03-01 16:33] peterculak commented on #21142
[code]

[2020-03-01 17:38] loremaps commented on #21154
Duplicate of #19981

[2020-03-01 18:22] huang-jy opened #21158 "[stable/nginx-ingress] Whitelisting by headers and/or header values"
This isn't a bug report or a feature request (yet) but I'm curious, can I whitelist by the existence and/or value of those headers?

For example, can I whitelist a user-agent even if they're not in the whitelist specified by the `nginx.ingress.kubernetes.io/whitelist-source-range` annotation or the `whitelist-source-range` config in the configmap?

Or another example would be to prevent access to

[2020-03-01 19:41] juan131 commented on #21144
Hi @nmacherey

As you can see at https://github.com/helm/charts/pull/21099 and https://github.com/helm/charts/issues/21098 WordPress has been moved to non-root and existing data from previous versions is not compatible anymore.

As can see in the README (see the link below), you'll need to migrate your data in order to upgrade to the latest version:

- https://github.com/helm/charts/tree/master/st

[2020-03-01 20:58] yachtcaptain23 commented on #21136
Related to https://github.com/helm/charts/pull/21146

[2020-03-01 22:41] lachy123 opened #21161 "Secondary pod memory reaching limit at off peak."
I have set a request of 4gb and limit of 8gb for my mongodb statefulset. Overnight the pod seems to be reaching the max limit until we start another environment on the same cluster at which the memory drops about 3gb. Not sure why the pod is using so much memory overnight off peak and dropping when another environment is started.

[2020-03-02 00:23] mforutan opened #21162 "[stable/mongodb-replicaset] Namespace override"
To enable the `namespaceOverride` parameter to use this chart as a dependency in an umbrella helm chart

Similar to what is already implemented for Grafana(#18986) and Jenkins (#15202) charts

This is to follow the same convention in above charts to define `<chart_name>.namespace` in `_helpers.tpl`

[2020-03-02 03:26] k7faq opened #21163 "stable/prometheus-snmp-exporter"
Please help me understand what I did wrong trying to implement the stable chart. Following is what I had to change in order to get a deployed configmap.

**Describe the bug**
{{- if .Values.config }} is not properly detecting the values populated.

I had to modify the templates/configmap.yml disabling the if statement and the data field to:

[code]

Following is an Example Config used in values.ym

[2020-03-02 03:32] hari-miracle opened #21164 "[stable / prometheus-mongodb-exporter] Mongodb exporter deploy failed with error `Error: no objects visited`"
Kubernetes - v1.15.1
Helm - v3.1.0

Which chart:
[code]
Install helm prometheus-mongodb-exporter getting below error.
[code]

[code]

[2020-03-02 05:28] jinleileiking opened #21166 "[incubator/druid] update the zookeeper & mysql dep version"
now:  zookeeper: 1.2.0     mysql: 0.10.2

needs a bump!

[2020-03-02 05:31] #20226 closed

[2020-03-02 06:13] shurikg opened #21167 "[stable/jenkins] plugin folder as persistence volume"
I'm using the stable helm chart in order to deploy it in my OCP environment.

I activate the persistence volume where jenkins save the **jenkins_home** folder.

I found that the helm chart define the plugin and plugin-dir folder as empty volume folder.

It's cause to download the plugins every time when pod is restarted.

How can I configure it that plugin dir will be also configured as persistenc

[2020-03-02 07:54] pt-tomasz-zylka commented on #20472
Hi, is anyone able to tell me whether this ticket could be implemented or at least whether this ticket is formally well created?

[2020-03-02 08:15] dani8art commented on #21133
Hi @baurmatt ,

Thank you so much for your feedback, effectively, what is happening is that for the second and next deployments the pv already exists so the password will be the first one. It is the way Helm was designed, please take a look at this similar issue in the Helm repository: helm/helm#3313

Regards.

[2020-03-02 08:17] juan131 commented on #21142
Hi everyone,

Please correct me if I'm wrong but you're using the parameters below:

[code]

However, you're not using `--set mariadb.enabled=false`. Therefore, all the parameters that affect the external database will be ignored.

Regarding the issue, I'm unable to reproduce it. See:

[code]

[2020-03-02 08:20] andresbono commented on #21122
Hi @saine1991, can you confirm that without adding the plugin, the deployment works fine in your environment?

Also, here you can find how we recommend installing plugins:

https://github.com/bitnami/bitnami-docker-redmine/issues/115#issuecomment-468231005

[2020-03-02 08:23] miguelaeh commented on #21149
Hi @ahmetkaftan ,
Thank you very much for the PR!!!

[2020-03-02 08:30] #21149 closed

[2020-03-02 08:34] baurmatt commented on #21133
Hey @dani8art,

thanks for explaining! :) Do you see a chance to at least inform the user that something is left which might conflict with a redeployment of the chart? I could imagine something like this:

[code]

This would make things clearer for the user.

Thanks!

Regards,
Matthias

[2020-03-02 08:39] saine1991 commented on #21122
Hello @andresbono, thanks for reply. Yes everything works fine without plugins.
I think my solution is quite similar to mentioned one, but still it doesn't resolve my problem.

[2020-03-02 08:55] #21091 closed

[2020-03-02 09:30] superbeer commented on #20724
values.yaml

add values

defaultBackend:
  resources:
    limits:
      cpu: 1000m
      memory: 513Mi
    requests:
      cpu: 200m
      memory: 128Mi

[2020-03-02 09:30] #20724 closed

[2020-03-02 09:36] ArchiFleKs commented on #20581
Same here with Helm v3.1.1 and latest chart 8.10.0 with `any: true`

[code]

[2020-03-02 09:48] andresbono commented on #21126
Hi @timrabbetts, the Drupal chart deploys a service of type LoadBalancer:
https://github.com/helm/charts/blob/958e01a4d70d8739003c24dd132d47ec2d359b46/stable/drupal/values.yaml#L130-L135

You should be able to access it through ports 80 or 443.

If you want to do something similar to what you did for Jenkins and `port-forward`, you can do:

[code]

Let us know if it works for you.

[2020-03-02 09:52] KamilSwiech opened #21169 "[stable/prometheus-operator] Add deleting crd thanosrules.monitoring.coreos.com in documentation"
**Describe the bug**
release pop (as pop)" action=CREATE options="{DryRun:false ReuseName:false}" timeout=300s
ts=2020-03-02T09:45:42.803913675Z caller=release.go:215 component=release error="Chart release failed: pop: &status.statusError{Code:2, Message:\"customresourcedefinitions.apiextensions.k8s.io \\\"thanosrulers.monitoring.coreos.com\\\" already exists\", Details:[]*any.Any(nil), XXX_NoUnke

[2020-03-02 09:59] ruaridhangus-fbr commented on #21063
I guess that is in the weeks / months timescale not the "days"?  Ill need to go about a temp version if so until the updated chart is out.

[2020-03-02 10:40] foux commented on #21142
I can confirm the issue with disabling the external database. Here is my (redacted) values.yaml :
[code]

And when installing, with Helm3, the output of the wordpress pod is :
[code]

[2020-03-02 10:44] foux commented on #21142
And switching to chart 8.1.5 works

[2020-03-02 10:49] Shini31 opened #21171 "[stable/prometheus-operator] Failed to list *v1.ThanosRuler: thanosrulers.monitoring.coreos.com is forbidden: User "system:serviceaccount:monitoring:sandbox-operator" cannot list resource "thanosrulers" in API group "monitoring.coreos.com" at the cluster scope"
**Describe the bug**
There is an unexpected flood of error message for Thanos Ruler CRDS

**Version of Helm and Kubernetes**:
Helm: 2.15.1
Kubernetes: v1.14.10-gke.17

**Which chart**:
prometheus-operator version 8.10.0

**What happened**:
[code]

**What you expected to happen**:
No error log message

**How to reproduce it** (as minimally and precisely as possible):
Install Helm prometheus-operato

[2020-03-02 11:07] juan131 commented on #21142
Oh I found the error! Creating a PR to address it!
Thanks for reporting it

[2020-03-02 11:16] foux commented on #21142
Thanks @juan131 !

[2020-03-02 11:46] #21142 closed

[2020-03-02 11:49] dani8art commented on #21133
Hi @baurmatt we really appreciate your suggestion but this is currently an open discussion in Helm and we can not couple our documentation with it. However, we have a section where we talk about the necessity of providing these values when we upgrade the chart https://github.com/helm/charts/tree/master/stable/postgresql#upgrade It could help new users to know about that issue.

Thank you so much.

[2020-03-02 11:51] juan131 commented on #21142
The issue has been addressed in the above PR. You shouldn't face it anymore using the chart version `9.0.1`

[2020-03-02 12:09] dani8art commented on #16251
Hi @denisw thank you for your feedback, sorry for that, maybe it is a bit confusing but we can pass the value in both ways `POSTGRESQL_PASSWORD` and `POSTGRES_PASSWORD` we implemented them as aliases for this password, you can find the documentation here: https://github.com/bitnami/bitnami-docker-postgresql#environment-variables-aliases

Thanks
Regards.

[2020-03-02 12:26] f-ld opened #21175 "[stable/nginx-ingress] wrong position of key in values.yaml"
**Describe the bug**
In stable/nginx-ingress/values.yaml, the key `maxmindLicenseKey` is under `defaultBackend` while it should be under `controller`

**Version of Helm and Kubernetes**:
Unrelated

**Which chart**:
stable/nginx-ingress

**What happened**:
The chart refers to `.Values.controller.maxmindLicenseKey`, see https://github.com/helm/charts/blob/9c45f0f6d592e800871130bddee543381c44c065/sta

[2020-03-02 13:26] #20998 closed

[2020-03-02 13:33] andresbono commented on #21147
Hi @nielsvz, thanks for filling this issue.

I can only reproduce the issue if I create the secret with wrong properties:

[code]

[code]

If I describe the secret, key in the secret is `wrong`:

[code]

Can you also describe your secret in case it doesn't have the `cloudflare_api_token` key?

By the way, the logs say it's looking for a secret called `cloudflare-apikey` in the `system-external-dns

[2020-03-02 13:54] harsh4870 opened #21180 "You can't write against a read only replica."
I have edited chart for running Redis-ReJson HA clsuter on Kubernetes. However, everything is working well but when application try to connect it showing error `You can't write against a read only replica.`

**Describe the bug**
when application try to connect it showing error `You can't write against a read only replica.`

**Version of Helm and Kubernetes**:
K8s : 1.14
Helm : v2.16.1

**Which cha

[2020-03-02 14:24] Iridescens opened #21181 "[stable/prometheus-operator] Unable to install chart with custom prometheus image"
**Describe the bug**
Using custom prometheus image (section ## Image of Prometheus.) yield no STS and no POD created after chart installation.

**Version of Helm and Kubernetes**:
helm version
Client: &version.Version{SemVer:"v2.16.1", GitCommit:"bbdfe5e7803a12bbdf97e94cd847859890cf4050", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.16.1", GitCommit:"bbdfe5e7803a12bbdf97e94cd847859890

[2020-03-02 14:35] timrabbetts commented on #21126
I tried again, fresh install tried port stuff still not loading in browser, could you confirm that you run this command and then access drupal.local in browser and the site is there?
helm install drupal stable/drupal
also nothing running on port 80 as far as I can see:
tcp        0      0 127.0.0.1:39037         0.0.0.0:*               LISTEN      850/kubectl
tcp        0      0 127.0.0.1:45003

[2020-03-02 14:38] timrabbetts commented on #21126
kube dashboard is all green it looks like its all up and running just the port stuff isnt working or maybe the domain isnt setup right? I tried adding 127.0.0.1 drupal.local to /etc/hosts. OH WOW ITS WORKING so now I edited my /etc/hosts and change browser to http://drupal.local:8080/ I have a site loading.  So my question is should I need to do all this, do the docs need updating amd I doing some

[2020-03-02 14:38] timrabbetts commented on #21126
If I stop the forward command it doesnt load.

[2020-03-02 14:55] nmacherey commented on #21144
Hi Juan,

Thanks for your answer. I’ve migrated the full directory and it seams to work now. What I did is the following…

1. Create a VM on the cloud and attach the volume.
2. Login to the new VM instance and mount the volume at some path.
3. Move wp-config.php and wp-content folder to /path/to/my/volume/wordpress directory
4. Remove other files
5. I also had to edit manually the wp-config conten

[2020-03-02 15:50] tony-kerz opened #21185 "[stable/metrics-server] Error: UPGRADE FAILED: failed to replace object: Service "metrics-server" is invalid: spec.clusterIP: Invalid value: "": field is immutable"
**Describe the bug**

second time i run the following:

[code]

i get:

[code]

i am using `values.yaml` containing:

[code]
**Version of Helm and Kubernetes**:
[code]
[code]
**Which chart**:
`metrics-server`
(also similar with `hpa-operator`)

**What happened**:

[code]

**What you expected to happen**:

upgrade to succeed :)

**How to reproduce it** (as minimally and precisely as possible):

ins

[2020-03-02 16:07] bastienbc commented on #20872
I have a similar issue, and I am looking forward for this.

[2020-03-02 16:11] javsalgar commented on #21161
Hi,

Do the logs show any meaningful information? Did you perform any change in the configuration? Not sure if there is a maintenance setting/task that could explain that memory increase.

[2020-03-02 16:14] juan131 commented on #21144
Hi @nmacherey

Thanks so much for sharing detailed steps about the process you followed to migrate your site! I'm sure they'll be very helpful for other users.

[2020-03-02 16:25] kbirger opened #21186 "stable/redis - configuring for use outside of cluster"
**Is your feature request related to a problem? Please describe.**
I want to set up a redis-sentinel cluster in my k8s environment which is accessible outside of the cluster. Currently, sentinel is announcing cluster IPs and ports, which means that when sentinel resolves the server I must use when connecting from outside (NodePort), my client cannot connect to the master. I am able to add "announc

[2020-03-02 16:33] Vad1mo commented on #21171
@Shini31 did you find a solution, I face the same issue. I guess it has to do with the recent thanos addition

[2020-03-02 16:47] nielsvz commented on #21147
I just re-validated this in a clean minikube cluster:

[code]

pod:
[code]

secret:
[code]

I think this is caused by the conditions in [deployment.yaml](https://github.com/helm/charts/blob/master/stable/external-dns/templates/deployment.yaml#L241), if you provide `cloudflare.secretName`, this will never get to the `CF_API_KEY` environment value.

[2020-03-02 17:08] #21180 closed

[2020-03-02 17:32] Vad1mo commented on #21171
I was able to resolve the issue by not installing the `crd-thanosrulers.yaml`
So I do skip CRD installation and install the CRDs manually skipping  crd-thanosrulers.yaml.

Maybe @vsliouniaev can take a look at it again as `system:serviceaccount:monitoring:sandbox-operator` does not exist.

[2020-03-02 17:46] Shini31 commented on #21171
On the issue is still present

[2020-03-02 21:38] GoDllkE opened #21194 "[stable/jenkins] It appears that your reverse proxy set up is broken"
**Describe the bug**
Got a problem where all incoming for jenkins is redirected to the port 8000. By that, if I call "jenkins.myserver.com", a response will come at "jenkins.myserver.com:8000", wich explain the warning about the reverse proxy.

**Version of Helm and Kubernetes**:  Helm: v3.0.3 && Kubernetes 1.14 (EKS)

**Which chart**: stable/jenkins

**What happened**:
Responses are coming in ano

[2020-03-02 22:53] sbuzonas opened #21195 "[stable/grafana] headless-service does not use correct selectors"
**Describe the bug**
The headless service created with grafana persistence type statefulset uses the old labels in the selector.

**Version of Helm and Kubernetes**:
Helm 2.16.3
Kubernetes v1.14.9-eks-c0eccc

**Which chart**:
stable/grafana

**What happened**:
svc/grafana-headless has no endpoints

**What you expected to happen**:
svc/grafana-headless should have endpoints of the ready pods in the

[2020-03-03 01:29] jeremyolliver opened #21198 "[stable/oauth2-proxy] Upgrade to 5.0+ to resolve security issue"
Hi, I noticed on the README at https://github.com/pusher/oauth2_proxy#security that there's an [open redirect vulnerability](https://github.com/pusher/oauth2_proxy/security/advisories/GHSA-qqxw-m5fj-f7gv) which requires running oauth2-proxy 5.0+ to resolve. The latest version in this chart to date runs 4.0 - I'd like to continue running the official stable helm chart that packages this, but it's i

[2020-03-03 01:46] javamonkey79 opened #21199 "[stable/airflow] git sync failure causes pod restart"
**Describe the bug**
When the git sync process fails, the pod restarts.

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
helm/airflow

**What happened**:
The git sync container failed causing the pod to restart.

**What you expected to happen**:
I would expect the container to fail, but not restart the pod.

**How to reproduce it** (as minimally and precisely as possible):
Set the ref

[2020-03-03 01:48] javamonkey79 commented on #21199
/assign hmike96

[2020-03-03 01:49] javamonkey79 commented on #21199
@hmike96 can you take a look at this one?

[2020-03-03 03:29] #20920 closed

[2020-03-03 03:37] protometa commented on #20647
I've noticed that the storeconfig job doesn't appear to update the CA server field in the kvprovider because setting staging back to false simply means no new value will be loaded. The storeconfig job itself is problematic as it often doesn't get triggered when it needs to be.

[2020-03-03 03:37] dogzzdogzz opened #21200 "[stable/prometheus-operator] Failed to upgrade to 8.10.0 due to immutable field changed"
**Describe the bug**
Failed to upgrade to 8.10.0 due to immutable field changed

**Version of Helm and Kubernetes**:
helm v3.1.1
k8s: 1.14

**What happened**:
When upgrade release from 8.7.0 to 8.10.0, got below error due to selector field changed
[code]

[2020-03-03 03:48] jmthvt opened #21201 "[stable/fluentd] Error when autoscaling is enabled"
**Describe the bug**
When installing the chart with:

`helm install fluentd stable/fluentd  --set autoscaling.enabled=true`

I get the following error:

`error validating "": error validating data: ValidationError(StatefulSet.spec): missing required field "serviceName" in io.k8s.api.apps.v1.StatefulSetSpec`

**Version of Helm and Kubernetes**:
[code]
EKS 1.14

**Which chart**:
https://github.com/h

[2020-03-03 03:51] 306-san commented on #21153
The same problem happens me too.
This PR (https://github.com/helm/charts/pull/21118) will be fixed it.

[2020-03-03 07:08] mpsingh10 opened #21206 "Error: duplicate location "/healthz" in /tmp/nginx-cfg120735508:1531"
Version of Helm and Kubernetes:
Helm: 2.16.1
Kubernetes: 1.15.7

Which chart:
stable/nginx-ingress

What happened:
Deployment of ingress failed, Pod is not coming in ready state

How to reproduce it
Install the chart using command - helm install stable/nginx-ingress --set controller.replicaCount=2 --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux --set defaultBackend.nodeSelector."beta

[2020-03-03 07:11] arnaud-skillz commented on #20937
Great initiative @noeRls !

[2020-03-03 08:00] dinomiteX opened #21209 "[incubator/etcd] statefulset apiversion wrong"
**Describe the bug**
Statefulset not present in "apps/v1beta2"

**Version of Helm and Kubernetes**:
Kubernetes: 1.17

**Which chart**:
etcd

**What happened**:
Install chart was not successfull

**What you expected to happen**:
Install succeeded

**How to reproduce it** (as minimally and precisely as possible):
Try to install incubator/etcd chart into Kubernetes 1.16 and above.

**Anything else we

[2020-03-03 08:03] VLZZZ opened #21211 "[stable/prometheus-operator] check CRD before install (ability to persist CRD)"
**Is your feature request related to a problem? Please describe.**

Currently if I want to install the latest `prometheus-operator` it will create a bunch of CRDs.
If for some reason I'll need to delete the release with the `helm delete --purge` it will leave orphaned CRDs which need to be manually removed to install helm chart once again, as the CRD is already in place, or chart's values should b

[2020-03-03 08:15] #21209 closed

[2020-03-03 08:17] dinomiteX commented on #21209
I guess you are already aware of this, because you mentioned it in your Prerequisites Details in the Readme.

[2020-03-03 08:42] alinoekialo opened #21212 "[stable/prometheus-operator] Add a Changelog.md"
Hi,
I'm using the prometheus-operator and it is great. Thanks for the great work. However, the update process can be a bit painful given there is no Changelog. There is now an upgrade path in the Readme.md and a request for this feature was previously opened here: https://github.com/helm/charts/issues/10669.

**Is your feature request related to a problem? Please describe.**
The number of releases

[2020-03-03 08:52] dogzzdogzz commented on #19319
Not sure if it is because the secret of helm release almost reach etcd size limit (1 mb) on object ? If so, then I think we should use ```kubectl apply``` instead of helm to install such "big" chart.

[2020-03-03 10:12] SachinMaharana commented on #4785
Issue is still not solved. I am getting Access Denied error often. Any solution for this would be helpful.

[2020-03-03 10:36] gowrisankar22 commented on #19987
@vsliouniaev @bismarck  @gianrubio  can you please provide some workarounds to fix this issue.

[2020-03-03 12:49] Vallsten opened #21215 "[stable/grafana] templates/NOTES.txt needs to be updated with the new labels"
**Describe the bug**
In release 5.0.0 in Grafana, the app and release labels of grafana was updated but the NOTES.txt still prints out the old labels so the small tutorial after a new installation or writing "helm get notes <applicationname>" is out of date and doesnt work.

**Version of Helm and Kubernetes**:
Helm: v3.1.1
Kubectl: v1.17.3

**Which chart**:
stable/grafana-5.0.4

**What happened**:

[2020-03-03 13:15] ushakov opened #21216 "[stable/mongodb] Cannot use with replicaSet enabled and usePassword=false"
**Describe the bug**

I start mongodb with replica set enabled by running

[code]

The cluster does not become available.

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:

stable/mongodb

**What happened**:

Primary does not start:

[code]

Arbiter does not start:

[code]

**What you expected to happen**:

Mongodb starts and is available :)

**How to reproduce it** (as minima

[2020-03-03 13:18] ushakov commented on #21216
I believe this is different from old issue #11671 because of quite different  error messages.

[2020-03-03 15:31] thomas-riccardi opened #21221 "[stable/external-dns] Support Azure MSI with AAD-Pod-Identity"
**Is your feature request related to a problem? Please describe.**
When deploying external-dns on Azure, the MSI mode for authentication can be configured with [AAD-Pod-Identity](https://github.com/Azure/aad-pod-identity/).

**Describe the solution you'd like**
I'd like to be able to use a pre-existing AAD-Pod-Identity deployment to configure Azure credentials using MSI.

See https://github.com/Az

[2020-03-03 15:43] #20743 closed

[2020-03-03 15:55] adipmeesse commented on #19231
We have the same problems in all our clusters. isn't there a less painfull way (then cloning hundreds of PVC's) to solve this problem?

[2020-03-03 16:24] eightlimbed commented on #3104
I got here from googling an error message deploying the dashboard in a namespace other than `kubernetes-dashboard`. I am not using helm. My issue was that I had `--namespace=kubernetes-dashboard` in the container args section of the Deployment. I missed it because I did a find and replace on `namespace: kubernetes-dashboard`, doh! Changing the flad to the namespace I wanted solved the problem.

[2020-03-03 16:59] Arno500 opened #21222 "[stable/unifi] No service for captive portal"
**Describe the bug**
When trying to use the captive portal feature of the Unifi Controller (for guest access), the client need to access port 8880 (port HTTP) and 8443 (port HTTPS) directly.
Unfortunately, the chart doesn't expose the service ports (maybe `unifi-captiveportal`)

**Which chart**:
stable/unifi

**Anything else we need to know**:
I can spend some time for it and it should be easy by

[2020-03-03 17:45] tylermarien opened #21223 "[stable/datadog] Docker integration broken when running in Kubernetes"
**Describe the bug**
After upgraded to version 2.0.1 of the Datadog chart, container stats are no longer reporting to Datadog. You can view the issue in this screenshot. All the containers for one of our k8s clusters stopped reporting to Datadog.

![Screen Shot 2020-03-03 at 11 31 33 AM](https://user-images.githubusercontent.com/897223/75802740-d4584200-5d42-11ea-9cb4-591aa7b62421.png)

**Version

[2020-03-03 17:50] joesteffee opened #21224 "[stable/prometheus-pushgateway] has hard-coded path for ingress"
Using v 1.1.0

The spec for pushgateway has a hard-coded path as "/":

[code]

which means using an ingress controller such as ALB will not work properly. ALB requires the path be set to "/*" and not "/".

The / should be set to whatever ingress path is, for example like what is in grafana:

[code]

[2020-03-03 18:14] ElTimablo opened #21228 "[stable/rocketchat] Rocketchat helm chart fails despite following included instructions"
**Describe the bug**
Following the instructions [here](https://github.com/helm/charts/tree/master/stable/rocketchat) give me nothing but a pod stuck in a constant CrashLoopBackOff

**Version of Helm and Kubernetes**:
Helm 2.16.0 and Kubernetes 1.17.3

**Which chart**:
stable/rocketchat

**What happened**:
App enters crashloopbackoff immediately when following supplied instructions.

**What you exp

[2020-03-03 18:16] vchan2002 opened #21229 "[name of the chart e.g. stable/prometheus] no longer updates, but only on linux"
I have a Jenkins CI running on CentOS to update the helm chart as I add alerts, etc... As of today, the automated process no longer runs.

./helm upgrade prometheus stable/prometheus --install --values ../values.yaml -n=prometheus

coalesce.go:199: warning: destination for env is a table. Ignoring non-table value []
coalesce.go:199: warning: destination for env is a table. Ignoring non-table value

[2020-03-03 18:34] #21228 closed

[2020-03-03 19:13] early-breakfast commented on #19319
i do have same issue

[2020-03-03 21:08] Shini31 commented on #21171
The PR proposed by @sbuzonas fixes the issue

[2020-03-03 21:12] Vad1mo commented on #21171
Can confirm!

[2020-03-04 00:22] TJM opened #21230 "[stable/minecraft] Should be a statefulset, not a deployment"
As per issue #1863 the storage is RWO, which means that a deployment is not good, it should be a statefulset.

**Version of Helm and Kubernetes**:

* helm 3.1.1
* kube vanilla 1.16.3

**Which chart**: stable/minecraft

**What happened**: upgrades (changing config) fails due to deployment trying to mount the storage twice.

**What you expected to happen**: It should stop the old pod, then start the

[2020-03-04 00:28] TJM commented on #19850
What was the finding here? We also don't want to use a load balancer for this.

[2020-03-04 00:55] zanhsieh commented on #21229
@vchan2002
The dependent chart, prometheus-kube-state-metrics, has been moved. Now it binds to the native chart (previous this chart has its own). You might update the dependency (`helm dep up` or other commands mentioned in the official helm chart)

[2020-03-04 00:57] #21195 closed

[2020-03-04 02:40] naseemkullah opened #21235 "[stable/fluent-bit, stable/fluentd] Move source to a new charts repo"
Hello,

@scottrigby and I are in the process of preparing these charts [new home](https://github.com/fluent/helm-charts).

Are you all on board and would like to continue maintaining the charts? Please let us know :)

fluent-bit:
@kfox1111
@hectorj2f
@Towmeykaw

fluentd:
@rendhalver
@miouge1
@hectorj2f

[2020-03-04 06:07] czunker commented on #20608
As mentioned in #20609, this should be fixed upstream.

But taking a look at [the script](https://github.com/helm/charts/blob/master/stable/prometheus-operator/hack/sync_prometheus_rules.py) which integrates these alerts into this repository, the alert is part of kube-prometheus release-0.1. This release only supports k8s up to version 1.14. I installed prometheus-operator on k8s 1.17.

So, should

[2020-03-04 08:14] #18740 closed

[2020-03-04 09:14] miguelaeh commented on #21186
Hi @kbirger ,
If I understand this correctly your issue is that the sentinel announces the internal Pods IPs that are not reachable from the outside right?
I want to share with you that we are working on a new topology that will not need the sentinel as it uses the Redis cluster topology. This new topology will need to setup a LoadBalancerIP for every Pod to be accessed from the outside.

[2020-03-04 09:58] Miouge1 commented on #21235
@naseemkullah sounds good.

One of the nice things that the [helm/charts](https://github.com/helm/charts) repo provides is the CI (`helm lint`, DCO checker, version bump checker, E2E tests etc...).  Do you have plans for some automated CI in the new repo?

[2020-03-04 11:05] hazcod opened #21242 "[stable/grafana] no ingress created"
**Describe the bug**
Altough I set the values, no ingress is created for grafana.

**Version of Helm and Kubernetes**:
latest, chart version 5.0.3

**Which chart**:
stable/grafana

**How to reproduce it** (as minimally and precisely as possible):
[code]

Running pods:
[code]

[2020-03-04 11:14] #21242 closed

[2020-03-04 11:28] kbirger commented on #21186
Are you by chance referring to the redis-ha chart?

Also, to my understanding, sentinel is superior to cluster in terms of number of resources needed and robustness. Why do you want to use the cluster solution? And I'm not clear, does your solution require a load balancer?

[2020-03-04 11:58] asafdl opened #21244 "[grafana 6.3.2-6.7.1] Persistence and Stateless config map loading on startup conflicting"
Problem:
If you have persistence enabled for grafana, and also are loading dashboards/datasources/initial admin password from secret/ config maps
Any changes done to config map / secret will not be updated anywhere since grafana is maintaining statefulness via persistent volume.

**Version of Helm and Kubernetes**:
15.9 (installing using argocd 1.12)

**Which chart**:
Grafana 6.3.2-6.7.1

**What h

[2020-03-04 13:08] naseemkullah commented on #21235
Indeed we do! We will be using the latest and greatest in github actions for our CI. See https://github.com/helm/charts-repo-actions-demo/ for an example of what we'll be doing.

[2020-03-04 14:14] #17183 closed

[2020-03-04 14:56] pentago commented on #21011
a PVC/PV issue?

[2020-03-04 14:57] dabeck opened #21249 "[stable/sematext-agent] Make tokens optional"
**Is your feature request related to a problem? Please describe.**
We deploy our secrets seperately via sealed secrets. This is currently not possible with sematext-agent because its tied to the helm values `infraToken`, `logsToken`, `containerToken` and overrides our seperatly deployed secrets every time on automated deployments.

[code]
**Describe the solution you'd like**
I would like to be abl

[2020-03-04 15:21] yoshz commented on #19895
We have multiple redis clusters per namespace and multiple namespaces with redis clusters and configured unique group names per cluster and also encountered this problem.
The only way to fix it was to delete all redis server pods at once in all namespaces, otherwise the sentinels were keep promoting the wrong master.

I am afraid this problem will rise again in the future.

Also noticed that the s

[2020-03-04 15:41] jshrack-ssi opened #21250 "[stable/opa] Prometheus metrics port not exposed through service template"
**Describe the bug**
Opa service template does not expose the Prometheus metrics scrape endpoint port on 8181 as required by the defined servicemonitor.

**Version of Helm and Kubernetes**:
3.1.0/1.14.9

**Which chart**:
stable/opa

**What happened**:
Prometheus scrape does not identify any opa endpoints available.

**What you expected to happen**:
Opa endpoints identified and scraped by Promtheus

[2020-03-04 16:43] desaintmartin commented on #19471
Hello,
I doubt it should be in prometheus-operator helm chart.
On the contrary, a PR on stable/redis would perfectly make sense (https://github.com/helm/charts/blob/master/stable/redis/templates/metrics-prometheus.yaml), since you can set relabelling in a ServiceMonitor (https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint).

[2020-03-04 16:48] naseemkullah commented on #19471
Good to know prometheus-operator has this workaround @desaintmartin , what about the vanilla prometheus chart though? Can this be done outside of the prometheus config?

[2020-03-04 16:49] naseemkullah commented on #19471
@pdambrauskas  would you be willing to open a PR for the prometheus chart if there is no similar workaround as prometheus-operator's ServiceMonitor?

[2020-03-04 16:56] varunpalekar opened #21252 "[stable/pgadmin] pods not reloaded when secrets get update"
**Pods not reloaded on secret update**
When we are updating secrets then pods also need to be updated, to pickup new secrets but it not working

**Version of Helm and Kubernetes**:
* Helm - v2.16.3
* Kubernetes: 1.14.9

**Which chart**: 1.2.0

**What happened**: Password not get reflected in application on secrets update

**What you expected to happen**: Password need to update on secrets update

[2020-03-04 17:01] desaintmartin commented on #19471
I can't see any obvious way to do it through prometheus-operator itself, but I can't be wrong...

[2020-03-04 17:05] naseemkullah commented on #19471
Hi @desaintmartin I actually mean the regular old prometheus chart (not operator).

[2020-03-04 17:13] javsalgar commented on #21063
It would go more in the weeks timescale. Stay tuned to the PRs that @dani8art will be sending in the following days

[2020-03-04 17:53] billimek commented on #21230
There is a lot of history and controversy about Deployment vs StatefulSet for helm charts and some strong opinions on both sides.

To work around this specific issue with multi-attached storage, we can solve it by changing the update strategy to `Recreate` instead of using the default of `RollingUpdate`.  See the [unifi chart](https://github.com/helm/charts/blob/master/stable/unifi/values.yaml#L6)

[2020-03-04 17:55] itzg commented on #21230
That works for me @billimek . Yeah, I skimmed that issue about the Deployment vs StatefulSet and IMHO the choice is fairly arbitrary since both strategies in the general kubernetes-sence equally support persistent volumes.

[2020-03-04 19:06] vsliouniaev commented on #19987
Try specifying the kubernetes version with `--kube-version` when you use `helm template`

[2020-03-04 19:09] #21171 closed

[2020-03-04 19:17] nwhobart commented on #15375
massively helpful!

[2020-03-04 19:21] #21224 closed

[2020-03-04 19:49] wongma7 commented on #20625
It means the efs provisioner cannot communicate with your apiserver. This is a more generic issue of apiserver (172.20.0.1:443) becoming unavailable, have you noticed other symptoms? It just happens that leader election is always the first thing it tries.

[2020-03-04 21:27] drewwells commented on #9166
fixed in https://hub.helm.sh/charts/cloudposse/cert-manager

[2020-03-05 00:48] jshrack-ssi commented on #21223
Agree. We too have observed this same issue. Please fix ASAP.

[2020-03-05 02:20] LordDeco commented on #20581
Same here with Helm v3.0.0

[2020-03-05 02:27] zhaoshenhao commented on #4465
I got same problem. It can't pass our failover test.

[2020-03-05 04:17] #20250 closed

[2020-03-05 04:23] iboware commented on #20859
I am having the same problem with mongodb plugin. Basically it cannot install plugins.

[2020-03-05 06:43] loremaps commented on #19981
Let's keep it open 😄

[2020-03-05 06:44] gowrisankar22 commented on #19987
@vsliouniaev This option is not available with helm3. I have created PR  #21263 to fix the issue. Can you review it?

[2020-03-05 08:13] vishal8k commented on #20859
@iboware Then why in the hell do they have that in the document still? should atleast remove it from the doc. None of the guys working on this bothered to reply.

[2020-03-05 08:58] ofirshtrull opened #21266 "[stable/jenkins] slaves with iam role"
Hello,
is there a way to add an annotation for slaves to run with kube2im automatically from the deployment?
like we have with the backup section

Thanks

[2020-03-05 09:06] L3n41c commented on #21223
I’ll have a look.
What will most probably happen is that the change on the CRI socket path will be reverted until the startup script honors DD_CRI_SOCKET_PATH.

[2020-03-05 09:24] vsliouniaev commented on #19987
Looks like this was changed to `--api-versions` in helm 3, which can be used to set `.Capabilities.KubeVersion.GitVersion`

[2020-03-05 09:27] L3n41c commented on #18810
Thanks you very murch @mattfarina.
Sorry as well: I just noticed you sent me the invitation during my holidays and the invitation has now expired. :-(
Would you mind sending me a fresh one ?

Lénaïc.

[2020-03-05 09:30] #19987 closed

[2020-03-05 10:16] NBardelot commented on #20568
See also:

https://issues.apache.org/jira/browse/AIRFLOW-6987
https://github.com/apache/airflow/pull/7629

[2020-03-05 10:50] #20872 closed

[2020-03-05 11:44] monobaila commented on #20315
There's a few bug reports floating around for this and I haven't had time to dig too deep. For me personally I've reverted use of hpa for the nginx-ingress.

I know roughly what the issue is and why it's pretty confusing. I'm just a little unclear on where responsibility lies for fixing it (whether kubernetes or helm chart).

Ultimately the issue is the HPA is using label of app=nginx-ingress to d

[2020-03-05 11:49] brian-anthony opened #21269 "[stable/spinnaker] Front50 fails to connect to minio if release name contains "minio""
**Describe the bug**
Halyard config expects minio to be accessible at http://{{ .Release.Name }}-minio:9000.
However, minio will be deployed based on name: {{ template "minio.fullname" . }}.
This is defined in _helpers.tpl and will only return the .Release.Name if the Release contains the chart name.

**Version of Helm and Kubernetes**:
Helm v2.16.1
Kubernetes v1.15.0

**Which chart**:
stable/spin

[2020-03-05 12:11] lovesuper commented on #19934
I have faced with this issue too.

[2020-03-05 12:53] dabeck commented on #21249
Even though this might be a problem for other people. I found a workaround and will close this issue for know.

[2020-03-05 12:53] #21249 closed

[2020-03-05 12:53] krancour commented on #20392
@sunnygoel8 the usual way of doing certs with ingress is that you make a secret that has the cert in it and then the ingress resource references that secret. Refer directly to k8s documentation for this. Traefik can auto-provision secrets using ACME (Let's Encrypt) for those who are _not_ using that usual approach.

[2020-03-05 13:17] #20263 closed

[2020-03-05 13:17] #19825 closed

[2020-03-05 14:26] billimek commented on #21230
#21272 raised for this.

[2020-03-05 14:34] fredgate opened #21273 "[stable/rabbitmq-ha] Alerts not installed with built-in Prometheus support"
**Describe the bug**
As of 3.8.0, RabbitMQ ships with built-in Prometheus & Grafana support. It can replace the exporter sidecar. The chart correctly install ServiceMonitor resource, but should be updated to install alerts (PrometheusRule) event if exporter sidecar is not used.

**Version of Helm and Kubernetes**:
All.

**Which chart**:
rabbitmq-ha

**What happened**:
Alerts are not installed in c

[2020-03-05 14:46] #21223 closed

[2020-03-05 14:59] jbfavre commented on #20503
Just tested with Chart 8.10.3
Everything works now so far…

[2020-03-05 15:14] TJM commented on #21230
I think changing the strategy to restart will help, and will effectively work the same. The main thing is we don't want two minecraft's running using the same PVC, which shouldn't be possible, but...

[code]

[2020-03-05 15:17] #20243 closed

[2020-03-05 15:17] #20269 closed

[2020-03-05 15:56] AntoineGodeau commented on #18568
Thanks a lot @RachadAbiChahine. It works very well now. My database management will be really improve thanks to this

[2020-03-05 16:11] TJM commented on #21230
@itzg I think PVCs for deployments would usually be RWX (ReadWriteMany), like NFS. However, as per my error above, that would be bad for MC

[2020-03-05 16:36] billimek commented on #21230
I think we can all agree that workloads like minecraft or similar things should never leverage shared storage or multiple replicas accessing the same storage.

Assuming this is a truth, it begs the question why not run as a statefulset which will, using defaults, protect against the above situation.

[2020-03-05 16:36] LucasFueyo opened #21277 "[stable/auditbeat] Template forces AUDIT_READ capability which causes error on older kernels"
**Describe the bug:**
The template file forces the usage of the AUDIT_READ capability, which causes the following error on older kernels (less than 3.16) :

`CapAdd: unknown capability: "CAP_AUDIT_READ"`

This makes the service unable to deploy.

**Which Chart:**
stable/auditbeat

**What you expected to happen:**
I would expect the auditbeat chart to not use the AUDIT_READ capability if the 6.8+ a

[2020-03-05 16:37] jackieluc commented on #20315
Hi everyone, I've been digging all over the place and came across #20724. It seems like there is an implicit dependency that the `default-backend` also requires it's resource limits/requests for CPU/memory.

[code]

Although now my autoscaling works, it seems like the memory utilization is 114% / 75% which means I have 11 replicas right now despite `kubectl -n ingress top pods` shows that memory i

[2020-03-05 17:17] #20271 closed

[2020-03-05 17:17] #20272 closed

[2020-03-05 18:51] TJM opened #21284 "[stable/minecraft] Add startupProbe to account for longer startup times in v1.15.x"
As per my issue that was incorrectly filed https://github.com/itzg/docker-minecraft-server/issues/445 .

I am seeing an issue where the Minecraft pod is not given long enough to start up the first time, causing more delay in coming online. I realize the parameters are tunable thorough values.yaml, but maybe we should add a startup probe as per: https://kubernetes.io/docs/tasks/configure-pod-contai

[2020-03-05 19:04] #21162 closed

[2020-03-05 19:33] TJM commented on #21284
For what its worth, I added the following to my values.yaml to workaround this for now...

[code]

Maybe a startup probe is not needed. I am not really sure what the different implications are, maybe there didn't used to be an initialDelay?

[2020-03-05 19:42] ravinderb2 opened #21287 "stable/redis: Master not failing over to slave"
Using this helm chart, deployed 1 master + 3 slaves + 4 sentinels on 4 different nodes in ICP kubernetes.
1. In the sentinel, I did this
`sentinel get-master-addr-by-name mymaster`
lets say i get output "master1"
2. In the master Redis I do this
`redis-cli -p 6379 DEBUG sleep 30`
(This command will make our master no longer reachable, sleeping for 30 seconds. It basically simulates a master hangin

[2020-03-05 19:49] chakrabandla opened #21288 "[incubator/solr] SolrCloud Cluster status API returns internal kubernetes hostnames which can't be reached from outside the kubernetes cluster"
I setup SolrCloud cluster using helm chart on Kubernetes cluster and  exposed the solr-svc using NodePort i.e.,
`service/solr-svc  NodePort  10.252.234.133   <none>   8983:32470/TCP`

I get the following error message with apache Solrj client.

`Caused by: java.lang.RuntimeException: Tried fetching cluster state using the node names we knew of, i.e. [solr-2.solr-headless.default:8983_solr, solr-0.

[2020-03-05 20:00] smark88 commented on #21112
Bumping this, I tried overriding the admin password with the default grafana chart values for using a secret and get "Pod errors: CreateContainerConfigError"
[code]

[2020-03-05 20:17] #20235 closed

[2020-03-05 20:38] #21175 closed

[2020-03-05 21:07] pramodsharma62 commented on #13109
Has this been resolved? I am facing the same issue.

[2020-03-05 22:17] gracedo opened #21290 "[stable/prometheus-operator] Prometheus CRD storage spec metadata ignored in upgrades, creates new PVC"
**Describe the bug**
On upgrade from version 8.3.3 to 8.7.0, we discovered that a new PVC was created instead of using the PVC prior to upgrade. Looking at the Prometheus resource, we noticed that the `prometheus.prometheusSpec.storageSpec.volumeClaimTemplate.metadata` field was set to empty, ignoring our configs (we set `prometheus.prometheusSpec.storageSpec.volumeClaimTemplate.metadata` to have

[2020-03-05 22:38] on4tux commented on #20738
same issue here

[2020-03-06 02:49] rim-wood opened #21293 "[stable/mysql] --initialize specified but the data directory has files in it. Aborting."
**Describe the bug**
when i`m use cmd "helm install ", deployment is start error.
and i find the log
![image](https://user-images.githubusercontent.com/13330165/76044339-04971f00-5f95-11ea-93d2-2a2f43d0aa43.png)

i`m modify the vaule.yaml
[code]

and i add the storageclass.yaml
[code]

I found the same error because of the lost + found folder
[290](https://github.com/docker-library/mysql/issues/29

[2020-03-06 03:20] rim-wood commented on #21293
One more thing to add：

modify the pvc.yaml：
[code]

[2020-03-06 05:05] #20268 closed

[2020-03-06 07:01] antoinevokleber opened #21294 "stable/spark-history-server Exception when using Azure WASBS"
I have followed the steps in the readme to deploy a Spark History Server on AKS using the helm chart.
same issue closed : https://github.com/helm/charts/issues/17741

Everything gets deployed but the pod crashes on startup with the following exception:

2020-03-05 18:00:12 INFO  FsHistoryProvider:54 - History server ui acls disabled; users with admin permissions: ; groups with admin permissions
Ex

[2020-03-06 07:54] tctovsli opened #21295 "[stable/postgresql] volumePermissions.securityContext.runAsUser: "auto" is not integer"
**Describe the bug**
According to values.yaml and README.md, a special value of "auto" can be used to the key volumePermissions.securityContext.runAsUser. When installing/upgrading with helm3, it won't validate the value:
`Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(StatefulSet.spec.template.spec.initContainers[0].sec

[2020-03-06 08:04] ienns commented on #19895
We had the same problem, suddenly all sentinel clusters connected to a swarm, as a result, we couldn't write to Redis instances because they changed status to slave.

As I know there shouldn't be any broadcasting, so I still don't understand how it could happened and how to prevent it in future.

[2020-03-06 08:05] #20284 closed

[2020-03-06 08:10] jbfavre commented on #20503
OK, now it's working.
Fix: Use operator 0.37.0 release which include a bug fix (https://github.com/coreos/prometheus-operator/issues/3041)

[2020-03-06 08:13] #20319 closed

[2020-03-06 09:08] ksiadz commented on #20803
+1

[2020-03-06 09:12] miguelaeh commented on #21287
Hi @ravinderb2 ,
The test you are using should be correct as it is documented on the Redis website.
You could also try to kill the master pod directly, in that way it is sure it will be not reachable.

Apart from that, I think you could be interested in the next major changes for this Helm Chart. You can see the PR here: https://github.com/helm/charts/pull/21258
With those changes, sentinel won't

[2020-03-06 09:43] miguelaeh commented on #21295
Hi @tctovsli ,
If that didn't work for you I recommend you to disable the `securityContext`. In that way the `runAsUser` will be the random user set by Openshift and the `fsGroup` will be configured for that user automatically.

[2020-03-06 09:50] one-two-my-gad commented on #21293
helm lint 试过么

[2020-03-06 10:00] josro commented on #21295
Auto

El vier., 6 de marzo de 2020 03:44 a.m., Miguel Ángel Cabrera Miñagorri <
notifications@github.com> escribió:

[2020-03-06 10:26] baniol opened #21296 "[stable/postgresql] Error installing chart"
Trying to install postgresql after the [latest commit](https://github.com/helm/charts/commit/6b848abd21a2c8fd0acfba751282f404162a30e5), version 8.6.0, renders an error:
[code]

[2020-03-06 10:51] rim-wood commented on #21293
能创建成功，helm lint只是校验文件格式的。

我的错误时pod里面的mysql初始化时，说数据文件夹中有数据

[2020-03-06 10:52] one-two-my-gad commented on #21293
方便发下部署命令么

[2020-03-06 11:01] josro commented on #20284
inactivity

El vier., 6 de marzo de 2020 02:05 a.m., stale[bot] <
notifications@github.com> escribió:

[2020-03-06 11:05] #19507 closed

[2020-03-06 11:16] 7ko7 opened #21301 "[stable/rabbitmq-ha] pods created after helm upgrade cannot resolve localhost and fail readiness check."
**The Problem**:
The container 'rabbitmq-ha' in pods created by the stateful set after a helm upgrade cannot resolve localhost and thus fail readiness check and never come up.  ( NOTE that the initial deployment always works fine and the containers CAN resolve localhost. )

Here is a single replica deployment after changing the image from 3.8.1-alpine to 3.8.2-alpine in values.yaml, running a helm

[2020-03-06 11:29] scristalli opened #21302 "[stable/redmine] Unable to specify TLS configuration"
**Describe the bug**
I try to specify a custom configuration for TLS certificates following the README, but I get an error when installing the chart:
`"Error: UPGRADE FAILED: template: redmine/templates/tls-secrets.yaml:7:14: executing \"redmine/templates/tls-secrets.yaml\" at <include \"redmine.labels\" .>: error calling include: template: redmine/templates/_helpers.tpl:6:18: executing \"redmine.

[2020-03-06 11:34] simon-jouet commented on #21287
Hi @ravinderb2

Just came here to report a very similar issue but it looks like it's the same issue as yourself.

Just to put things in context:

* The cluster contains 3 nodes and each node is running redis+sentinel
* By default 3 pods are started redis-master-0, redis-slave-0 and redis-slave1 (all on different nodes)
* If I force of failover of redis-master-0 then one of the slave is promoted, i

[2020-03-06 11:45] anirban99 commented on #21296
Hi @baniol, I also have the similar issue. However you can also use an older version of helm charts to install postgres and it works.

helm install stable/postgresql --version 8.0.0

[2020-03-06 12:12] simon-jouet opened #21303 "[stable/redis] Split brain after failover"
Hey,

I'm running into some issue running redis for HA using sentinel. When the master node fails, a slave is properly promoted to be a master, however when the master comes back online the slave that was promoted remains mater and the master node is also master with 0 slave connections.

* The cluster contains 3 nodes and each node is running redis+sentinel
* 3 pods are started redis-master-0, re

[2020-03-06 12:18] baniol commented on #21296
Hi, this is what I did, thanks

[2020-03-06 12:38] tctovsli commented on #21295
Thanks. Turning off `volumePermissions.enabled` resolved it for me. I would still recommend updating README.md and comments or something regarding this.

[2020-03-06 12:46] andresbono commented on #21122
Hi @saine1991, can you share the plugins that you are trying to install so we can try to reproduce your issue?

[2020-03-06 12:51] andresbono commented on #21147
The error is very strange.

I don't think so, the error that you are seeing when describing the pod is `  Warning  Failed     2s (x3 over 15s)  kubelet, minikube  Error: couldn't find key cloudflare_api_token in Secret external-dns/cloudflare-apikey`

I don't think that is related to the contents of the `deployment.yaml` file.

In any case, you can modify it to try to identify the source of the is

[2020-03-06 12:55] saine1991 commented on #21122
@andresbono,
https://www.redmine.org/plugins/redmine_contacts

[2020-03-06 13:02] dani8art commented on #21216
Hi @ushakov, I was able to reproduce the issue, it seems that it is related to a missing environment variable `ALLOW_EMPTY_PASSWORD`. I am going to open a PR to fix that while this is done you could use this workaround

[code]

[2020-03-06 13:05] #19733 closed

[2020-03-06 13:05] #17390 closed

[2020-03-06 13:05] #19995 closed

[2020-03-06 13:45] Towmeykaw commented on #21235
@naseemkullah 👍

[2020-03-06 14:30] mmerrill3 opened #21307 "[stable/prometheus-operator] Alert for PrometheusRemoteWriteDesiredShards does not handle floats"
**Describe the bug**
Seeing this in our prometheus log for alert PrometheusRemoteWriteDesiredShards

level=warn ts=2020-03-06T14:14:03.969Z caller=alerting.go:344 component="rule manager" alert=PrometheusRemoteWriteDesiredShards msg="Expanding alert template failed" err="error executing template __alert_PrometheusRemoteWriteDesiredShards: template: __alert_PrometheusRemoteWriteDesiredShards:1:192:

[2020-03-06 15:36] simon-jouet commented on #21303
I've just switched to a fairly similar setup with redis-ha and the failover / recovery is working as expected

[2020-03-06 15:48] sc250024 commented on #20514
Having the same issue. A simple PR adding these to the chart could work?

[2020-03-06 16:05] #20292 closed

[2020-03-06 16:12] ushakov commented on #21216
Hi! I tried that, but unfortunately it doesn't fix the issue because
arbiter start script still requires non-empty password.

On Fri, Mar 6, 2020, 16:03 Daniel Arteaga <notifications@github.com> wrote:

[2020-03-06 16:20] networkandcode opened #21312 "Azure AD RBAC"
- I followed this https://grafana.com/docs/grafana/latest/auth/azuread/#enable-azure-ad-oauth-in-grafana and I don't see a link on the Grafana login page to sign in using Azure AD
- But if I replace [auth.azuread] with  [auth.generic_oauth], I was able to authenticate but not authorize, RBAC doesn't work
- I am using your stable/grafana Helm chart with Image version 6.6.2

[2020-03-06 16:45] celambert commented on #20315
I can confirm the above. I added the resources to the backend and it worked.
Thanks @jackieluc

[2020-03-06 16:45] ravinderb2 commented on #21287
Hi @miguelaeh ,
Thanks so much for you reply. I will try your suggestion right now.

The other question I have:
Output when chart is deployed -
------------------------------------------------------------------------------------------------
NOTES:
** Please be patient while the chart is being deployed **
Redis can be accessed via port 6379 on the following DNS name from within your cluster:

lame-

[2020-03-06 16:54] javsalgar commented on #21303
Hi,

@miguelaeh is working on a major refactor of the chart, feel free to take a look: https://github.com/helm/charts/pull/21258

@miguelaeh make sure that this issue does not occur in the new chart

[2020-03-06 17:01] javsalgar commented on #21221
Hi,

Thanks for the feedback! Now that you have a working solution, feel free to submit a PR and we can evaluate it. If not, we will add a task to our backlog in order to add this feature. However, as it is not a critical feature, we cannot guarantee an ETA.

[2020-03-06 17:05] MisterRnobe opened #21313 "[stable/mongodb-replicaset] User creation on startup"
**Is your feature request related to a problem? Please describe.**
Expecting database and user creation on startup for replica set.

**Describe the solution you'd like**
I'd like to provide a property with database and user creation script, Example:
[code]

**Describe alternatives you've considered**
I am satisfied if current `initMongodStandalone` option performs required feature

[2020-03-06 17:17] javsalgar commented on #21296
Hi,

This PR https://github.com/helm/charts/pull/21308 fixed the issue

[2020-03-06 17:21] simon-jouet commented on #21303
@javsalgar thanks for pointing to this, I indeed saw that refactor, however the move to a cluster topology instead of sentinel isn't necessarily desirable.

Switching to a cluster requires more resources (more redis master+slaves), it shards the keys across the different masters, it doesn't support multiple databases, and there are limitations with multi-key operations. (https://redis.io/topics/cl

[2020-03-06 19:48] bhelm-prosper commented on #21008
I ran into this same issue, and traced it to the following:
https://github.com/helm/charts/blob/258cd28472554d84fc206243074bbc11da3b2316/stable/airflow/templates/deployments-web.yaml#L244

The volume "git-clone" is only created when "initContainer" is set to true.  So having gitSync enabled but not initContainer results in a volumeMount for a volume that doesn't exist.

I was able to get this work

[2020-03-06 20:13] ravinderb2 commented on #21287
Question#3
`kubectl port-forward --namespace adphc svc/running-kangaroo-redis-master 6379:6379`
`redis-cli -h 127.0.0.1 -p 6379`
...is not working for me.
[code]
As you see, service is `running-kangaroo-redis` not `running-kangaroo-redis-master`.

Port forwarded here
[code]
Tried to connect but got error.
[code]

I am debugging here but any help is appreciated.

[2020-03-06 20:49] omer2500 opened #21316 "[stable/cluster-autoscaler] No option to pass cloud provider credentials from kubernetes-secret"
Hi,

Im using cluster-autoscaler chart with AWS
as instructed i had to provide these variables to the values.yaml file in order it to work properly :

`
awsRegion: "",
 awsAccessKeyID: "",
 awsSecretAccessKey: ""
`
 Im storing these values for these variables  in a kubernets-secret on my cluster
and i want to pass them to the values.yaml so i wont have to save them on the file itself

i tried to d

[2020-03-06 21:05] #20298 closed

[2020-03-06 21:35] #21222 closed

[2020-03-06 23:15] Neustradamus commented on #10768
ping

[2020-03-07 05:58] networkandcode commented on #21312
I think I raised this issue at the wrong place? Created a topic at community.grafana.com to address this

[2020-03-07 05:58] #21312 closed

[2020-03-07 08:36] kachkaev commented on #17203
not stale

[2020-03-07 09:09] #20290 closed

[2020-03-07 09:09] #20312 closed

[2020-03-07 10:56] ldez commented on #17203
More information about the current state of this repo containous/traefik-helm-chart: https://github.com/containous/traefik-helm-chart/issues/92#issuecomment-594664488

To use the helm chart of Traefik v2 https://github.com/containous/traefik-helm-chart/blob/master/README.md#prerequisites

[2020-03-07 14:09] #20316 closed

[2020-03-07 21:49] papanito commented on #20803
There is a pr #15774

[2020-03-07 21:50] papanito commented on #20803
There is a PR https://github.com/helm/charts/pull/15744

[2020-03-08 03:50] vaishali-prophecy opened #21323 "[stable/chart] Prometheus not able to scrape metrics from different namespaces"
I have serviceMonitorSelector and serviceMonitorNamespaceSelector configured in values.yml for prometheus like below -

[code]

Namespace where servicemonitor is running has been labelled as-

[code]

Still, in service discovery, the service monitor running in this namespace are not listed and hence metrics are not scraped.

[2020-03-08 06:07] danghung-dev opened #21324 "[stable/graylog] PostStartHookError: command '/bin/bash /post-start-hook.sh' exited with 126"
**Describe the bug**
graylog-elasticsearch-data-0           PostStartHookError: command '/bin/bash /post-start-hook.sh' exited with 126: /post-start-hook.sh: /post-start-hook.sh: is a directory

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.14.2", GitCommit:"a8b13cc5ab6a7dbef0a58f5061bcc7c0c61598e7", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.2", GitComm

[2020-03-08 06:09] #19870 closed

[2020-03-08 09:08] servo1x commented on #20581
Also getting this error with Helm v3:

[code]

[code]

[2020-03-08 09:41] #20313 closed

[2020-03-08 09:48] sagar-kolli opened #21325 "stable/stolen pljava"
Hi,

  Can you include pljava library in your postgres docker images with sqlj schema created on the Database.

or

 please help me how can i install Java and change settings to postgresql.conf  on your postgres images to enable Java lang on Postgres

[2020-03-08 12:41] #20180 closed

[2020-03-08 14:23] metost commented on #19597
Anything new? Thanks!

[2020-03-08 15:41] #19940 closed

[2020-03-08 16:16] aliartiza75 commented on #20945
closing this issue, for now, track it on this [link](https://github.com/influxdata/helm-charts/issues/30)

[2020-03-08 16:16] #20945 closed

[2020-03-08 21:19] #20514 closed

[2020-03-08 22:09] alexhowardconga commented on #18568
I can confirm I am now able to utilize pgadmin in both Firefox and Chrome using version 1.2.3 of the chart in EKS now. Thank you!

[2020-03-09 06:02] caihy05 commented on #6921
挂载证书解决问题

[2020-03-09 06:25] dineshba commented on #20738
I also had the same issue. My problem is having a wrong `http_proxy` configuration.

[2020-03-09 07:34] caihy05 commented on #6921
第一步：
kubectl create secret generic prome-etcd-cert --from-file=/etc/etcd/ssl/etcd.pem --from-file=/etc/etcd/ssl/etcd-key.pem -n monitoring
第二步：
          volumeMounts:
            - name: ssl
              mountPath: /ssl
      volumes:
        - name: ssl
          secret:
            secretName: prome-etcd-cert

第三步：
      - job_name: 'etcd'
        scheme: https
        tls_config:
          in

[2020-03-09 08:00] bframke opened #21329 "[stable/redis] Slave not working with Persistence"
**Describe the bug**
When trying to deploy a Redis Slave with Persistence it does not work correctly and tells me this:
`Can't chdir to '/mnt/redis': No such file or directory`
The directory exists and has the correct fsGroup.

In the description of the statefulset for the slave the mount is missing. In the master it is like this `/mnt/redis from redis-data (rw,path="master")`

It is also crashing

[2020-03-09 08:49] Wilson13 opened #21330 "[stable/prometheus-operator] [stable/stable/prometheus-node-exporter] Pending prometheus-node-exporter Pod"
**Describe the bug**
One of the prometheus node exporter pod remained pending.

**Version of Helm and Kubernetes**:
Helm v3
Kubernetes v1.16

**Which chart**:
stable/prometheus-operator

**What happened**:
Pod remained pending.

**What you expected to happen**:
Pod becomes "running".

**How to reproduce it** (as minimally and precisely as possible):
helm install prometheus stable/prometheus-operat

[2020-03-09 08:50] anitabee opened #21331 "[stable/*] Future locations of helm 3 chart repos"
Hello,

With a helm 3 release and follow up plan to make current stable and incubator repos obsolete it is a bit unclear where and are there even some plans to migrate current charts repos.

I understand that anyone can host chart somewhere, but I believe that most of us want some more sustainable solution and one source of truth when and if that possible. I read somewhere that there was plan to a

[2020-03-09 09:44] tctovsli commented on #21295
Hmm, it seems like it wasn't solved just yet.
After deleting the pod, when the new pod appears it gives an error:
[code]
I have the following set in values.yaml:
[code]

[2020-03-09 09:54] #21330 closed

[2020-03-09 09:57] marekaf opened #21332 "[stable/cluster-autoscaler] the newest version 1.17.1 needs k8s >1.13"
**Describe the bug**
Cluster-autoscaler in 1.17.1 is using the API group `coordination.k8s.io` which was introduced in k8s 1.13

https://www.cncf.io/wp-content/uploads/2019/01/CNCF-Webinar_-Kubernetes-1.13.pdf

However the stable/chart docs mention a required version of k8s 1.8...

I tested it on EKS v1.12 and it fails.

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/cluster-a

[2020-03-09 10:06] marekaf commented on #21332
Ahaaa! Now I understand.. The CA version reflects the k8s version it is meant for. https://github.com/kubernetes/autoscaler/tree/master/cluster-autoscaler#releases

[2020-03-09 10:06] #21332 closed

[2020-03-09 10:11] miguelaeh commented on #21295
Hi @tctovsli ,
I guess that could be because the new pod is not running with the same user as the killed one.
Could you check that?

[2020-03-09 10:54] SCLogo commented on #12967
Can we reopen? It is a good feature request in Kubernetes

[2020-03-09 11:07] tctovsli commented on #21295
@miguelaeh The pod has been set to run with `runAsUser: 1001`.
When I check out the owner of the files from the node, it is owned by `1001880000`.
Not sure why.

[2020-03-09 11:17] tctovsli commented on #21295
OK, so now I deleted the PV and reinstalled from the helm chart.
The owner of the `/bitnami/postgresql/data` seems to be UID 1001 (I checked this from the kubernetes node that has the PV mounted).
But as the error indicates, the permissions are wrong:
[code]

[2020-03-09 11:21] miguelaeh commented on #21287
Hi @ravinderb2 ,

That seems to be an issue with the Chart, it is not supported right now as the `announce-ip` is not being configured in sentinel. As we are working on a new topology without sentinel this issue should not appear anymore. See the PR above.

[2020-03-09 14:09] yafernandes opened #21336 "[stable/datadog] Missing kubelet integration conf"
Kubelet integration conf is not present.

[code]

values.yaml
[code]

[2020-03-09 14:17] arnarg opened #21337 "[stable/prometheus-pushgateway] .Values.podLabels not present on pods"
**Describe the bug**
When setting custom labels in `.Values.podLabels` they are added to the deployment's labels but not under `.spec.template.metadata.labels`. The name suggests they should be there.

**Version of Helm and Kubernetes**:
Helm: v3.1.1
Kubernetes: v1.14

**Which chart**:
stable/prometheus-pushgateway

**What happened**:
Custom label in `.Values.podLabels` is applied to the deploymen

[2020-03-09 14:33] OliverLeighC commented on #20803
@papanito Looks like that PR is not going to be merged though

[2020-03-09 14:37] yafernandes opened #21338 "[stable/datadog] criutil failure"
Kubernetes 1.17
Ubuntu
Docker

agent status

[code]

[code]

values.yaml

[code]

[2020-03-09 14:48] Maellooou opened #21339 "[stable/hadoop] Request for hadoop 3.1 chart"
It is not a issue, but I would like to know if it is schedule to update the hadoop chart to the 3.1 version ?

Thank you for your work

[2020-03-09 15:13] rjshrjndrn opened #21341 "[stable/prometheus-operator] wrong metrics for cpu limit in workload on k8s > 1.15"
**Describe the bug**
[code]

![image](https://user-images.githubusercontent.com/2563385/76227805-dab85380-6245-11ea-9052-c686e76d7fb4.png)

**Version of Helm and Kubernetes**:
❮ helm version --short
v3.1.1+gafe7058

❯ helm ls -n default
NAME            NAMESPACE       REVISION        UPDATED                                STATUS   CHART                           APP VERSION
prometheus      default

[2020-03-09 15:15] yafernandes opened #21342 "[stable/datadog] datadog.env only added to initContainers"
`datadog.env` is not getting applied to agent containers, just to the init containers.

Expectation is that it would apply to all containers, like to be part of `containers-common-env.yaml`.

[2020-03-09 15:21] ravinderb2 commented on #21287
Hi @miguelaeh,

127.0.0.1 didn't work neither from redis-cli nor from lettuce java library.
And my pod is working correctly.
I am keeping an eye on your ongoing PR.

Btw, regarding your suggestion on my very first question - yes when I killed the container the fail over worked.
Fail over worked because container port and forwarded port were/are same.

[2020-03-09 15:31] papanito commented on #20803
Yep right @OliverLeighC

[2020-03-09 15:54] yaphetsglhf commented on #21301
enable the forceBoot.

[2020-03-09 16:21] 7ko7 commented on #21301
forceBoot makes no difference. Same result.

[2020-03-09 17:03] lyz-code opened #21345 "[stable/prometheus-blackbox-exporter] Add SSL client certificate secrets"
**Is your feature request related to a problem? Please describe.**
Currently the helm chart supports using secrets to load client SSL certificates, but you need to create them manually. This is cumbersome because I'm not able to deploy all my infrastructure automatically with helmfile.

**Describe the solution you'd like**
I'd like to be able to create the secret with the SSL certificates directly

[2020-03-09 18:35] vicenteherrera commented on #3011
It is mentioned when opening a new PR that you should read:
https://github.com/helm/helm/blob/master/docs/chart_best_practices

But that link doesn't exist anymore. Maybe someone should change it to:
https://helm.sh/docs/topics/chart_best_practices/

[2020-03-09 19:02] sjentzsch commented on #20581
@servo1x The comments say, it would only watch its own namespace by default:
- https://github.com/helm/charts/blob/master/stable/prometheus-operator/crds/crd-prometheus.yaml#L3890
- https://github.com/helm/charts/blob/master/stable/prometheus-operator/crds/crd-prometheus.yaml#L4136

[2020-03-09 20:02] yafernandes opened #21348 "[stable/datadog] system-probe fails to start"
Kubernetes 1.17.3
Ubuntu 19.10
Kernel 5.3.0
Docker 19.03.6

system-probe fails to start with error 128.

Removing the line below from the DaemonSet fixes the issue.
`container.seccomp.security.alpha.kubernetes.io/system-probe: localhost/system-probe`

values.yaml
[code]

[2020-03-09 21:35] ruiengana opened #21351 "[incubator/kafka] Warning in Keel"
I know this is just a warning, but is very annoying...
Simply speaking, Kel is detecting a problem with incubator/kafka charm.

I am getting continued warnings like below.

_2020/03/09 21:30:10 Warning: Merging destination map for chart 'kafka'. Cannot overwrite table item 'resources', with non table value: map[]
2020/03/09 21:30:13 Warning: Merging destination map for chart 'kafka'. Cannot overwr

[2020-03-09 22:24] embcla opened #21352 "stable/rabbitmq extra ports not working"
Uncommenting the "extraports" and "extracontainerports" in the values.yaml results in intepretation errors at various points of templates/svc.yaml

**Version of Helm and Kubernetes**:
Helm 3.0.2
Kube 1.17.3+k3s1

**Which chart**:
rabbitmq

**What happened**:
I tried to add port 1883 which is necessary for plugin mqtt

**What you expected to happen**:
an additional port made available

**How to rep

[2020-03-10 00:00] wann-ap commented on #16715
Did anyone fixed it?

[2020-03-10 01:20] rjshrjndrn commented on #21341
Wrong issue. that namespace was enabled with istio. And sidecar had 2G limit. Closing the issue

[2020-03-10 01:20] #21341 closed

[2020-03-10 05:25] yaphetsglhf commented on #21301
refer to this https://github.com/helm/charts/issues/14893, maybe it's helpful.

[2020-03-10 05:50] t3-aoki commented on #20504
`eksctl create iamserviceaccount --name alb-ingress-controller --namespace kube-system` creates k8s service account named `alb-ingress-controller` and its role with following `assume role policy`.
You can see it in `Trust Relationships` tab in role detail in IAM console.

[code]

The following condition means it only allows `alb-ingress-controller` service account in `kube-system` namespace to `st

[2020-03-10 06:02] t3-aoki commented on #20504
I think the chart should uses given service account name when `rbac.serviceAccountName` parameter is given expressly even if `rbac.create` is true.
It allows us to create RBAC resources (ClusterRole and ClusterRoleBinding) by `helm` with existing service account created by `eksctl`.

[2020-03-10 07:26] kremers opened #21355 "[stable/redis] Dependency on bitnami image, probes can not be configured to match rhscl/redis-32-rhel7 rhscl/redis-5-rhel7"
**Describe the bug**
The chart does not passtrough livenessProbe or readinessProbe. See https://github.com/helm/charts/blob/1488955c16e818240b7de96c644d52206f428951/stable/redis/templates/redis-master-statefulset.yaml#L151

That makes it impossible to work with other redis images such as the redhat images rhscl/redis-32-rhel7 & rhscl/redis-5-rhel7 that do not have the same healthchecks included.

[2020-03-10 07:27] carrodher commented on #21352
Hi @embcla,

Taking into account the [stable deprecation timeline](https://github.com/helm/charts#deprecation-timeline), we have been started the process of moving the Bitnami Helm Charts to the Bitnami repository, see helm/charts#20969 for more details.

The Helm Chart tgz continues existing in the stable repo but it would not get new updates. We also added more info and the upgrade process to st

[2020-03-10 08:01] embcla commented on #21352
Ok will do

**closed as chart is obsolete**

[2020-03-10 08:01] #21352 closed

[2020-03-10 08:15] BahmaniAlireza commented on #16249
if you have run before without disabling the webhook, you must manually delete the following kinds:

kubectl get validatingwebhookconfigurations.admissionregistration.k8s.io   //delete all objects
kubectl get MutatingWebhookConfiguration //delete all objects

and after that run:

helm install --name prometheus-operator stable/prometheus-operator \
--set prometheusOperator.admissionWebhooks.enabled

[2020-03-10 08:15] BahmaniAlireza commented on #16174
if you have run before without disabling the webhook, you must manually delete the following kinds:

kubectl get validatingwebhookconfigurations.admissionregistration.k8s.io   //delete all objects
kubectl get MutatingWebhookConfiguration //delete all objects

and after that run:

helm install --name prometheus-operator stable/prometheus-operator \
--set prometheusOperator.admissionWebhooks.enabled

[2020-03-10 08:16] BahmaniAlireza commented on #17766
if you have run before without disabling the webhook, you must manually delete the following kinds:

kubectl get validatingwebhookconfigurations.admissionregistration.k8s.io   //delete all objects
kubectl get MutatingWebhookConfiguration //delete all objects

and after that run:

helm install --name prometheus-operator stable/prometheus-operator \
--set prometheusOperator.admissionWebhooks.enabled

[2020-03-10 08:16] BahmaniAlireza commented on #21080
if you have run before without disabling the webhook, you must manually delete the following kinds:

kubectl get validatingwebhookconfigurations.admissionregistration.k8s.io   //delete all objects
kubectl get MutatingWebhookConfiguration //delete all objects

and after that run:

helm install --name prometheus-operator stable/prometheus-operator \
--set prometheusOperator.admissionWebhooks.enabled

[2020-03-10 08:24] javsalgar commented on #21303
Thanks for the input! I will forward it for evaluation.

[2020-03-10 08:24] BahmaniAlireza commented on #19928
if you have run before without disabling the webhook, you must manually delete the following kinds:

kubectl get validatingwebhookconfigurations.admissionregistration.k8s.io   //delete all objects
kubectl get MutatingWebhookConfiguration //delete all objects

and after that run:

helm install --name prometheus-operator stable/prometheus-operator \
--set prometheusOperator.admissionWebhooks.enabled

[2020-03-10 08:30] rafariossaa commented on #21302
Hi @scristalli
  Could you share your values.yml ?
  In the [parameters list](https://github.com/helm/charts/tree/master/stable/redmine#user-content-parameters) there is not a `redmine.secrets.tls` item.

[2020-03-10 08:47] miguelaeh commented on #21287
Hi @ravinderb2 ,
Could you provide the exact command you used to deploy the Helm Chart so I can try to reproduce it?
Also, in the mean time could you try with a LoadBalancer service?

[2020-03-10 08:52] miguelaeh commented on #21295
Hi @tctovsli ,

When I check out the owner of the files from the node, it is owned by 1001880000.

That is how OpenShift works. It by default uses a random user and group. Disabling the `securityContext` it should try to set the random user and the `fsGroup` correctly for that user.
You should not be setting the `runAsUser` to `1001`, setting that Openshift will not modify the user, while if you d