[2019-04-17 13:57] User1m commented on #9229
@juan131 thanks for the quora link explaining the need for headless service. I was under the incorrect impression it was used to loadbalance R/Ws across the master/slaves. So it possible to use 1 service definition that comes with the helm chart to loadbalance read/writes across slaves/master nodes?

Thanks!

[2019-04-17 13:58] ZachDZimmerman commented on #8914
@danigrmartinez and @unguiculus sounds like there is still an issue here. Can this be re-opened? Thank you

[2019-04-17 14:04] carrodher commented on #13017
@freddy-bookinggo in order to reproduce your environment, can you share with us (without sensitive information) your _values.yaml_?

[2019-04-17 14:24] rnkhouse commented on #13097
@juan131 AKS. It supports loadbalancer type.

[2019-04-17 15:16] clamoriniere opened #13120 "Add clamoriniere as a trusted collaborator"
Hello all,

I would like to be added as a trusted collaborator of the Datadog chart.
Per the documentation: https://github.com/helm/charts#trusted-collaborator, I'm opening an issue here.

Let me know if you would like me to share more on my background and knowledge of this chart and the overall Datadog product.

Cheers,

[2019-04-17 15:29] hkaj commented on #13120
👍 Cédric works at Datadog and maintains the Datadog Helm chart with us. We need him to be involved in the PR lifecycle.

[2019-04-17 15:42] freddy-bookinggo commented on #13017
Hey @carrodher
`database:
  type: "mysql"
postgresql:
  enabled: false
mysql:
  enabled: true
persistence:
  enabled: true
  size: "30Gi"
`
Tried without postgres.enabled too. Describe pod shows that it's still trying to find the postgres secret.

[2019-04-17 15:56] #9217 closed

[2019-04-17 16:15] clamoriniere commented on #13120
Hi @mattfarina, could you look at this issue?
Thanks in advance

[2019-04-17 17:05] Shellwhale opened #13122 "Initialize a fresh instance of Mariadb"
**Which chart:**
stable/mariadb

**Kubernetes version**
`Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.9", GitCommit:"16236ce91790d4c75b79f6ce96841db1c843e7d2", GitTreeState:"clean", BuildDate:"2019-03-25T06:30:48Z", GoVersion:"go1.10.8", Compiler:"gc", Platform:"linux/amd64"}`

I am trying to Initialize a fresh instance of Mariadb (putting my .sql file inside /docker-entry

[2019-04-17 17:38] Bidek56 opened #13124 "[stable/dask] Read-only file system"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT
**Version of Helm and Kubernetes**: Azure AKS 1.12.7
**Which chart**: [stable/dask]
**What happened**:
After installing the dask chart using: `helm install --namespace=dask2 --name dask2 ./dask`
The lab interface http://153.168.127.59/lab? tries to ping:
http://153.168.127.59/lab/api/worksp

[2019-04-17 17:56] #11905 closed

[2019-04-17 18:00] mayankkapoor commented on #11867
@valiksb A few things on a quick read of values.yml:
- You need to configure a DNS name for each external broker, as mentioned in the README.
- You need to update the domain in the values.yml, both in "domain: example.com" and in "advertised.listeners", with the actual Domain name configured.
- Even though your values.yml says you're setting advertised.listeners with port 19092, the external servi

[2019-04-17 18:13] zoonman commented on #6857
What did you do?

[2019-04-17 19:16] ivangfr opened #13126 "Unable to start Kong using helm chart in Minikube"
**Is this a BUG REPORT**

**Version of Helm and Kubernetes**:
[code]
[code]
[code]

**Which chart**:
stable/kong

**What happened**:
**How to reproduce it** (as minimally and precisely as possible):

Here is what I am trying to do

*Install Postgres*
[code]

*Install Kong*
[code]

*After some minutes*
[code]
`my-kong-kong-6b9996b775-256vj` stays in the status `Init:0/1`

*Checking logs*
[code]

*D

[2019-04-17 19:59] MPV commented on #9241
https://github.com/helm/helm/pull/5112 is now merged to master in Helm

[2019-04-17 22:09] aguyhasnoname opened #13127 "A restore initContainer has no shared volume with neo4j core"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm: 2.9.1
Kubernetes: 1.11

**Which chart**:
https://github.com/helm/charts/tree/master/stable/neo4j

**What happened**:
InitContainer running a restore script during init needs a common volume with the main core container. In order to set this

[2019-04-18 03:55] ricktbaker opened #13130 "[stable/jenkins] Jenkins executor/slave pod not starting after upgrade"
**Is this a request for help?**:
Help
---

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

Jenkins . https://github.com/helm/charts/tree/master/stable/jenkins

**What happened**:

After doing an upgrade, the executor/slave pod never comes online when a build is triggered.

**What you expected to happen**:

Before upgrading, I could trigger builds, see the executor/slave pod come onl

[2019-04-18 04:20] ricktbaker commented on #13130
I do see that I am maybe missing some new values, like the sidecar and MaxContainers for the agent.  Maybe that's my issue which I will look at tomorrow.

[2019-04-18 05:22] ashish1993 opened #13131 "help needed jaegerUI"
**Is this a request for help?**:
Yes
**Version of Helm and Kubernetes**:
kubernetes 1.13

**What happened**:
Installed Jaeger develop enviroment via helm.
able to access jaeger Ui via simplest-query service and port 16686.
However not able to see any services except jaeger-query.
Deployed all-in-one deployement my app

[code]

But nothing can be seen in jaeger UI..how can one test Jaegr UI  not gi

[2019-04-18 05:31] maorfr opened #13132 "[stable/jenkins] chart naming convention best practices"
**Is this a request for help?**:
YES!
---

**Which chart**:
stable/jenkins

This is a call for contributors!

As chart maintainers, we have been working towards making the stable/jenkins chart follow chart best practices, while attempting to simplify it.
Over time, some breaking changes have been introduced to the chart. As this chart is in major version 0, the major version was not bumped, which

[2019-04-18 06:06] torstenwalter commented on #13132
I'll pick this one up.

[2019-04-18 07:41] jgrossmac commented on #12928
Im having this issue as well on a new install.

[2019-04-18 08:17] vovkanaz commented on #12341
Hi guys, another kind of problem, and we have not idea how to fix this, We are using AWS EKS, and we noticed that no such kind of metrics in the Prometheus, that's why grafana can't get data points:
![image](https://user-images.githubusercontent.com/6215653/56346692-673fca80-61cb-11e9-83de-026e5f19c59f.png)
------
![image](https://user-images.githubusercontent.com/6215653/56346777-8b9ba700-61cb-11

[2019-04-18 08:22] tompizmor commented on #10627
Still unresolved

[2019-04-18 08:29] jlusiardi opened #13135 "HackMD chart displays wrong port number in NOTES section"
Hi @yuanying,

i found this little misleading piece of information in the NOTES.txt with the port number to forward to. It  says, execute `kubectl port-forward $POD_NAME 8080:80` but as the values.yaml says, it runs on port 3000. Could you update this?

Thanks
Joachim

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
`stable/hackmd`

**What happened**:
During running `helm install --na

[2019-04-18 08:34] #13072 closed

[2019-04-18 08:40] maorfr commented on #13132
awesome!!

[2019-04-18 08:46] tompizmor commented on #13097
@rnkhouse The RabbitMQ creates two different services. A service to access the application (which is configurable) and another service to access to the statefulset pods (this is always a headless service so it is always a Cluster IP with None ip).

I just deploy the rabbitmq chart with your command and I can see these services:

[code]

Can you check that apart from the `rabbitmq-headless` service

[2019-04-18 08:50] jlusiardi commented on #13135
Perhaps event better: use `{{ .Values.service.port }}` instead of a fixed  value?

[2019-04-18 09:03] tompizmor commented on #13122
Hi @Shellwhale,

You have three options to execute your initialization scripts:

1. Clone the chart, put for SQL files in the `files/docker-entrypoint-initdb.d` and install the chart from the **local** copy.
2. Specify custom scripts via the `initdbScripts`
3. Create a config map with your scripts and specify the name with the ` initdbScriptsConfigMap`.

It seems right now you are having issues wi

[2019-04-18 09:05] tompizmor commented on #13122
Maybe you can try with a dummy initialization script to be sure there is nothing wrong there? For example, you can try with something like this:

[code]

[2019-04-18 09:47] javsalgar commented on #12836
@Industrial could you confirm that's the reproducible example? I did not find any issue

[code]

[2019-04-18 10:34] Industrial commented on #12836
@javsalgar

It runs, that is correct.

If you add `--debug --dry-run` then you can see that the actual password being set is not the one that you configured.

[code]

You can also, as the output suggests, try running `kubectl get secret --namespace default postgresql-postgresql -o jsonpath="{.data.postgresql-password}" | base64 --decode` on a running version.

[2019-04-18 10:40] hectorj2f opened #13139 "[stable/elasticsearch] define custom pod and/or node affinity rules"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**Version of Helm and Kubernetes**:
Helm v2.13.1
Kubernetes v1.14.0

**Which chart**:
elasticsearch

**What happened**:
Need to define custom affinity rules

**What you expected to happen**:
For instance, regarding podAntiAffinity the choices soft|hard are very limited and sometimes you need to define your own affinit

[2019-04-18 11:35] Shellwhale commented on #13122
Thanks for the answer @tompizmor  -
Here are all my steps

**Create a configmap with sql script**
[code]

**Send the configmap to Kubernetes API**
`kubectl create -f .\init-script.yml`

**Download values-production.yaml**
`curl https://raw.githubusercontent.com/helm/charts/master/stable/mariadb/values-production.yaml -o values-production.yaml`

**Place a dummy initialization script at line 122 of

[2019-04-18 13:43] Shellwhale commented on #13122
I opened a thread on https://github.com/bitnami/bitnami-docker-mariadb/issues/182. I am only getting this error when using the bitnami/mariadb image and a specific sql statement. Looks like a bug because it does not happen on the official mariadb image.

[2019-04-18 14:23] pimjansen commented on #13113
Issue is that a wildcard is not supported for tlsChallenges however there is no handling of this in the logs itself.

[2019-04-18 14:23] #13113 closed

[2019-04-18 15:04] #11558 closed

[2019-04-18 15:50] vsliouniaev commented on #12341
Please open a separate issue for a separate problem.
You are most likely not scraping your coredns pods, or not using coredns

[2019-04-18 16:04] #11910 closed

[2019-04-18 17:04] #11915 closed

[2019-04-18 17:48] vsakati opened #13146 "neo4j pods CrashLoopBackOff with deafult config"
Tried to install neo4j on kubernetes using helm

-bash-4.2$ helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
-bash-4.2$ kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"

[2019-04-18 18:38] zluo-rmn opened #13149 "[stable/luigi] support pod disruption budget in chart"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

In my use case, the we occasionally need to cycle/drain nodes in the cluster, thus to ensure high availability of Lugi service in those disruption times, wonder if we can support PodDisruptionBudget in chart.

**Version of Helm and Kubernetes**: Helm(Server) v2.12.1 (Client) v2.11.

[2019-04-18 18:44] steven-sheehy commented on #12993
I recently narrowed the permissions for metrics-server in PR https://github.com/helm/charts/pull/12997. You're welcome to submit a PR that changes the PSP accordingly. Here's the securityContext:

[code]

[2019-04-18 18:56] rnkhouse commented on #13097
@tompizmor In my case it's not creating loadbalancer ip.
rabbitmq                                 ClusterIP      10.0.10.127   <none>          4369/TCP,5672/TCP,25672/TCP,15672/TCP   16s
rabbitmq-headless                        ClusterIP      None          <none>          4369/TCP,5672/TCP,25672/TCP,15672/TCP   16s

[2019-04-18 20:03] andcan opened #13150 "minio: post install message suggests wrong command to initialize mc"
**Version of Helm and Kubernetes**:
helm: 2.13.0 k8s: 1.14.1

**Which chart**:
stable/minio

**What happened**:
Post installation message suggest wrong command to setup mc cli:
[code]
the result of executing this command is
[code]
The command should be:
[code]

**How to reproduce it** (as minimally and precisely as possible):
Install chart

[2019-04-19 00:22] maflaven commented on #12290
@juan131 thoughts?

[2019-04-19 02:04] #11944 closed

[2019-04-19 06:30] async-dna commented on #10960
this would be nice.

[2019-04-19 06:48] carrodher commented on #12290
Hi, in my humble opinion, address this change only at the level of this chart it is something with more complexity than benefit. Replacing directly the variables implies breaking changes and using an alias for this purpose adds more complexity and diverges from the approach used in other charts.

I agree with the background of the question, but I think you should move this concern to Redis itself,

[2019-04-19 06:51] tompizmor commented on #13122
Thanks for all the detailed information.
I will check the issue in the bitnami/mariadb container so I think we can close this issue and continue the conversation there. At least now it is clear is not a chart thing but an image one.

[2019-04-19 07:11] tompizmor commented on #13097
That is very weird.
- Are you using the same Kubernetes cluster when you install it manually and when you install it from Jenkins?
- Are you installing the same chart version? You can check the version by checking the labels of any pod or in the output of the `helm list` command

[2019-04-19 08:18] javsalgar commented on #12836
Hi,

I tried it and I got

[code]

This is expected. The `global.postgresql.postgresqlPassword` has priority over `postgresqlPassword`. The global version is meant to be used in very specific context where you have various sub-charts that depend on a same postgresql chart. Otherwise, using the regular `postgresqlPassword` should be enough.

[2019-04-19 10:44] simplypost commented on #11120
I have the same issue.
Already set MINIMUM_MASTER_NODES:1

[2019-04-19 12:04] #11950 closed

[2019-04-19 14:41] wvidana commented on #12999
Any comments?

[2019-04-19 15:00] ricktbaker commented on #13130
I've updated my values file to make sure it has everything in the latest release and the executor/slave pod still does not come online when I trigger a build.

[2019-04-19 15:08] ricktbaker commented on #13130
@maorfr Any ideas or who I might ping to assist with this?

[2019-04-19 15:32] ricktbaker commented on #13130
Have tried everything I can think of to fix this, so we're kind of dead here.   I see the InstalledPlugins in the values file has kubernetes:1.14.0, but that doesn't seem to be available, can get 1.13.8 or 1.15.1.   Tried uncommenting the OverwritePlugins: true, but didn't make a difference, still have 1.15.1.   Not sure if that's causing any of this or not, but just trying to provide any info tha

[2019-04-19 17:11] andreisergiu98 opened #13161 "[stable/wordpress] Readiness probe failes with multisite"
**Is this a request for help?**:
Yes

**Is this a BUG REPORT or FEATURE REQUEST?**:
It might be a bug report

**Version of Helm and Kubernetes**:
helm: 2.13.1
kubernetes: 1.12.7

**Which chart**:
wordpress

**What happened**:
I successfully set up the wordpress chart, but when i'm trying to enable network multisite (subfolder) i can't get it to work. The readiness probe fails, and in the logs `wp-

[2019-04-19 17:16] ricktbaker commented on #13130
As a last ditch attempt I manually installed the 1.14.0 kubernetes plugin and still no luck.  Here is my current updated values file:

[code]

[2019-04-19 17:16] askm3 commented on #11719
merged in #13014

[2019-04-19 17:47] ricktbaker commented on #13130
Sooo.  After spending a lot of time here I see that the config.xml in the jenkins container isn't the same as what I am seeing when I look at the jenkins configmap.  So, I copied the config from the configmap onto the jenkins container and it's working now.   I'm not quite sure why this isn't happening on it's own however.

[2019-04-19 19:53] mohanraj1311 opened #13163 "[stable/horovod] regarding the horovod workers nodes kept alive even after the job completed"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Seems a bug

**Version of Helm and Kubernetes**:

Helm : v2.12.1
k8s: v1.12.3
**Which chart**:
Stable/horovod

**What happened**:
The worker pods are still staying on even after the horovod job is done.

**What you expected to happen**:
Worker pods should ideally go away once the job is completed.

**

[2019-04-19 20:17] #11111 closed

[2019-04-19 20:17] #11125 closed

[2019-04-19 20:25] maorfr commented on #13130
Hey @ricktbaker,

All this context has been super helpful!
What happens if you set `OverwriteConfig` to true?

[2019-04-19 22:17] #11014 closed

[2019-04-20 00:31] felippe-mendonca commented on #10921
@msschl, I think you are right. Accordingly with the first note of nginx-ingress [documentation](https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#via-the-host-network) when the setup is made via the host network, it's recommended to disable the service with this given configuration.

[2019-04-20 03:17] #11970 closed

[2019-04-20 07:12] msschl commented on #10921
I have an open pull request pending for this issue
[#11911](https://github.com/helm/charts/pull/11911)

[2019-04-20 09:17] #11858 closed

[2019-04-20 09:17] #11972 closed

[2019-04-20 09:17] #11567 closed

[2019-04-20 09:18] pjanuario opened #13166 "[stable/filebeat] Remove the deprecated prospectors option in the configuration"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:
stable/filebeat

**What happened**:

The current chart configuration make use of a configuration property that was deprecated at version 6.3 and now it was removed on the verison 7.0

**What you expected to happen**:

[2019-04-20 09:36] pjanuario commented on #13166
using the `overrideConfig` property allow us to bypass the problem, but I guess this needs to be fixed.

[2019-04-20 09:46] pjanuario commented on #12378
This issue is still valid one.

[2019-04-20 10:17] #11448 closed

[2019-04-20 10:17] #11981 closed

[2019-04-20 10:25] pjanuario commented on #12199
@dperetti `overrideConfig ` is a solution for the `stable/filebeat` but not for `stable/kibana`,  for Kibana I couldnt found a workaround yet.

[2019-04-20 13:30] #11985 closed

[2019-04-20 16:47] xiaozhu36 commented on #11904
I still happened the same issue when I installing the charts with the command `helm install --name my-release stable/spinnaker --timeout 600`

[2019-04-20 17:56] alexandrsemak opened #13167 "[stable/prometheus] Missing value --storage.tsdb.retention.size"
In Prometheus 2.7 introduced an option for size-based retention with `--storage.tsdb.retention.size`.
I would be appreciate to be able use it with helm chart.

[2019-04-20 20:30] #12001 closed

[2019-04-20 22:51] sdelrio opened #13170 "[stable/prometheus-operator] PVC name must be no more than 63 characters"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:  Helm v2.13.1, Kubernetes v1.13.5

**Which chart**: stable/prometheus-operator

**What happened**: Attemt to run helm install stable/prometheus-operator with prometheus.storageSpec (without storage same way of deployment works). When I deploy the PVC

[2019-04-21 05:30] #12010 closed

[2019-04-21 07:30] #11823 closed

[2019-04-21 12:44] sdelrio commented on #13170
Adding metadata.name will fix the long name generated. But at the moment even if your helm is named with just 2 letters it will hit the 63 characters limit

* sample content on values.yaml
[code]
Will generate a shorter name:
[code]

[2019-04-21 12:54] adamdodev opened #13172 "[stable/nextcloud] Deployment not created when service.type set to LoadBalancer"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/nextcloud

**What happened**:
When `service.type` configuration is set to `LoadBalancer`, Secret and Service resources are created correctly, but Deployment and Pod resources are **not**.

**What you expected to happen*

[2019-04-21 13:36] Shellwhale opened #13173 "[stable/traefik] Invalid certificate using DNS-01"
**Version of Kubernetes**:
[code]
**Version of Helm**:
[code]
**Which chart**:
stable/traefik

Hello.
I am facing an issue using stable/traefik. The DNS record for traefik.example.org (the dasboard) is working but my Let's Encrypt certificate gets invalid. I use DNS-01 for the challenge.

**Here is my values.yml:**
[code]

**Helm install:**
`helm install stable/traefik --name traefik -f values.yml

[2019-04-21 16:51] #12931 closed

[2019-04-21 17:00] #11655 closed

[2019-04-21 18:52] andreisergiu98 commented on #13161
So the problem was that after i enabled multisite urls became broken redirecting to urls without domain like `http://wp-include.php/.....`.
I finally fixed it by defining my domain here
[code]
I also enabled the relocate flag `define( 'RELOCATE', true );`  like mentioned [here](https://codex.wordpress.org/Changing_The_Site_URL#Relocate_method) then refreshed the browser and then removed it. Now it

[2019-04-21 18:52] #13161 closed

[2019-04-21 21:00] #12029 closed

[2019-04-21 23:44] andreisergiu98 opened #13176 "[stable/wordpress] Readiness and liveness probe failes with multisite"
**Is this a request for help?**: No
---

**Is this a BUG REPORT or FEATURE REQUEST?**
bug report

**Version of Helm and Kubernetes**:
kubernetes 1.12.7
helm: 2.13.1

**Which chart**:
Wordpress

**What happened**
With a lot of struggling i managed to get a multisite worpdress up and running, the problem now is with the readiness and liveness probes. When i enable multisite urls get hardcoded into t

[2019-04-22 00:06] andreisergiu98 commented on #13176
If the issue is not with my configuration then this will be fixed with kubernetes 1.14
https://github.com/kubernetes/kubernetes/issues/73172
https://github.com/kubernetes/kubernetes/pull/75416

[2019-04-22 07:38] carrodher commented on #11470
/on-hold

[2019-04-22 07:38] carrodher commented on #11470
/hold

[2019-04-22 11:57] #13132 closed

[2019-04-22 12:12] YoussB commented on #12431
🙌

[2019-04-22 12:18] ricktbaker commented on #13130
@maorfr  Aha, it seems I missed that config option.   Changing that to true does indeed update the configuration as it should.  Thank you.

[2019-04-22 12:20] maorfr commented on #13130
there are so many configuration options in this chart. we are working on that :)

[2019-04-22 12:22] ricktbaker commented on #13130
I went through them multiple times when I was updating my values file, and somehow completely missed it.   But, we're good now.  Thanks, will close this issue.

[2019-04-22 12:22] #13130 closed

[2019-04-22 12:47] ChethanUK opened #13183 "Kafka Charts: Pods keeps crashing"
**Which chart**:
incubator/kafka

**What happened**:
After installing the chart,

Pods just crashing
[code]

**What you expected to happen**:
Work properly, with External IP

**How to reproduce it** (as minimally and precisely as possible):
Make these [changes](https://github.com/helm/charts/tree/master/incubator/kafka#example-valuesyml-for-external-service-type-nodeport) in values.yml and install

[2019-04-22 13:14] mattfarina commented on #13120
Invitation sent to join as a collaborator.

[2019-04-22 13:14] #13120 closed

[2019-04-22 14:50] mattfarina commented on #12834
Fixed. Those who were not collaborators have been invited.

[2019-04-22 14:50] #12834 closed

[2019-04-22 14:51] mattfarina commented on #12531
They have been invited.

[2019-04-22 14:51] #12531 closed

[2019-04-22 15:14] rnkhouse commented on #13097
@tompizmor

1) Yes
2) It's installing a different version. When I install it from Jenkins it's 3.5.5 and when I install manually it's 4.9.0

I don't understand, why is it installing different versions with the same command?

[2019-04-22 15:31] kwill4026 opened #13186 "Mongodb-replicaset chart vs Mongodb chart differences"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
General Question

**Version of Helm and Kubernetes**:
1.11.5 K8s
2.12.3 Helm

**Which chart**:
Mongodb and mongodb-replicaset

**What happened**:
Looking between the mongodb chart and the mongodb-replicaset chart I am confused as to what the major differences between the two charts are. The mongodb

[2019-04-22 15:49] juan131 commented on #13176
Hi @andreisergiu98

I think this error was solved on this PR: https://github.com/helm/charts/pull/9390

Could you please take a look? You can modify the httpHeaders to avoid the redirection.

[2019-04-22 16:11] #12431 closed

[2019-04-22 17:18] torstenwalter commented on #12486
Could you try the latest version of the chart. rbac is installed now by default.

[2019-04-22 18:32] grantatspothero commented on #10183
@richmondwang as someone else mentioned in your PR:

Our team wanted to have multiple dashboard folders managed through the dashboard sidecar, so unfortunately your PR didn't help us out.

We were able to get around these issues by:
1. Using @mmiller1 's folder annotation solution to make the sidecar put different dashboards in different filesystem directories. IE) `/tmp/dashboards/{grafana_folder

[2019-04-22 18:57] andreisergiu98 commented on #13176
I enabled the following headers, but it's still following the redirects and ends with 503
[code]

[2019-04-22 19:07] Starefossen commented on #13170
This is redicilous! I ended up with a persistance volume claim name like this: `prometheus-prometheus-operator-prometheus-db-prometheus-prometheus-operator-prometheus-0"`. That is 6x `promethues`!

[2019-04-22 19:09] dcwangmit01 opened #13188 "[incubator/raw] ConfigMap Artifact created for every raw chart"
@mumoshu, @josdotso ,

With the `incubator/raw` chart version `0.2.0`, there is a default configuration in the values.yaml file which creates an empty configmap called `raw` every time a release is deployed.  It is found here:

https://github.com/helm/charts/blob/37614efca42d212162d73260979c4c2cdcadcf1f/incubator/raw/values.yaml#L67-L73

Thus, when I deploy two releases of the same `incubator/raw`

[2019-04-22 19:15] josdotso commented on #13188
@mumoshu Could you submit a PR to set templates to `[]` by default?

Is that a proper fix in your opinion, @dcwangmit01

[2019-04-22 19:24] wreed4 commented on #6109
Why did this get no traction?? This seems like a pretty obvious enhancement.

[2019-04-22 21:11] krish7919 commented on #12470
@jbialy @mikeraimondi @dimitrigraf @varshavaradarajan @wfernandes

Can you please help in assigning on removing the `lifecycle/stale` policy here?

[2019-04-22 22:04] AndrewSav commented on #1071
Does not look like it's fixed.

[2019-04-23 01:42] richmondwang commented on #10183
@grantatspothero
Yes you still need to use the dashboardProviders.
My patch will change the `default` folder for global into another directory so that the race condition doesn't happen without more configuration.

[2019-04-23 06:26] tolleiv opened #13193 "[stable/sonarqube] Changing plugins doesn't restart the pods"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: v2.13.1 / 1.11

**Which chart**: stable/sonarqube

**What happened**: When changing the list of plugins for an already installed release, the pods will just continue running and never be recreated or pick up the new plugins automatically.

**What you

[2019-04-23 06:38] tompizmor commented on #13097
In order to update the local copy of your chart repositories, you need to run `helm repo update` before installing the chart.
The current version of the chart is 5.5.0 so you are testing outdated version in both environments. Try installing the latest version in both environments to check if it is consistent.

[2019-04-23 07:24] rfvermut commented on #13183
Strange to see them ALL crash. Can you post the logs of, say `kafka-0` and `kafka-zookeeper-0` ?

[2019-04-23 07:28] juan131 commented on #13186
Hi @kwill4026

The MongoDB chart is more generic and supports different configurations (replica set is one of them). However, most of them are disabled by default (e.g. you need to set `replicaSet.enabled=true` to enable replica set configuration).

That said, it's true that they were much more different in the past, and the `stable/mongodb` chart has evolved becoming more flexible.

[2019-04-23 07:51] juan131 commented on #13176
Hi @andreisergiu98

That httpHeaders fix the issue when you're being redirected from http to https. However, it doesn't fix the issue in your case (you're being redirected to a specific domain by WordPress).

I guess you could substitute the `httpGet` probe with a `tcpSocket` (checking the port is active) probe or an `exec` probe (using a `curl` call to check wether Apache is responding as expecte

[2019-04-23 07:56] denis111 commented on #12368
@stale Please, wait until https://github.com/bitnami/bitnami-docker-redmine/issues/118 finished ;)

[2019-04-23 09:37] occelebi opened #13196 "[stable/prometheus-operator] No serviceMonitors are picked up from different namespaces"
**Is this a request for help?**:
Yes
---

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
[stable/prometheus-operator]

**What happened**:

Hi
I’ve been struggling getting metrics from another namespace with prometheus operator helm chart on minikube.

**What did you do?**
[code]
I changed values.yaml to give Prometheus relevant rbac permission for different namespaces by changing pro

[2019-04-23 09:51] batazor commented on #13196
@occelebi Typically, Service Monitoring runs in the same namespace as prometheus-operator

[2019-04-23 09:54] hitesh1907nayyar opened #13199 "Jenkins Chart Problem"
**Is this a request for help?**:
Help
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
helm - v2.11.0

**Which chart**:
Jenkins

**What happened**:
I am not able to get the POD name of jenkins through the command:
kubectl get pods --namespace jenkins-system -l "app=jenkins"
Till yesterday i was able to get the response for this. Now it

[2019-04-23 10:04] occelebi commented on #13196
Thanks for quick reply @batazor
It works in kube-prometheus without putting serviceMonitor of services running on same namespaces than Prometheus operator. If so other helm chart should be configurable to put their serviceMonitor to different namespace ?

[2019-04-23 10:07] torstenwalter commented on #13199
This should work:

`kubectl get pods --namespace jenkins-system -l app.kubernetes.io/name=jenkins`

labels of the chart have been aligned with helm [chart best practices for labels](https://helm.sh/docs/chart_best_practices/#standard-labels). The major version of the chart has been bumped to indicate this breaking change.

[2019-04-23 10:11] batazor commented on #13196
@occelebi As example in rabbitmq-ha https://github.com/helm/charts/blob/master/stable/rabbitmq-ha/templates/servicemonitor.yaml#L6

try chart ;-) https://github.com/helm/charts/tree/master/stable/prometheus-mongodb-exporter

[2019-04-23 10:12] ChethanUK commented on #13183
Where are the logs? What's the location?

[code]

[2019-04-23 10:14] ryandawsonuk commented on #5579
Presumably this was closed as it can be configured using the `cluster.enabled` flag

[2019-04-23 10:23] ChethanUK commented on #13183
In kafka-exporter the error is:
[code]

[2019-04-23 10:26] ryandawsonuk commented on #5583
I suspect this was due to accessing redis without authentication. I hit `NOAUTH Authentication required` when switching to the chart and found it went away when I set `usePassword: false`

[2019-04-23 10:35] rfvermut commented on #13183
I'm worried about `kafka-zookeeper-0` most. It's a prerequisite for Kafka to start the cluster and it's failing at init container. Can you get Zookeeper's init container logs?

[2019-04-23 10:39] occelebi commented on #13196
Looks like the current `ServiceMonitorSelector` is generated due to `prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues` being not overwritten to false: https://github.com/helm/charts/blob/master/stable/prometheus-operator/templates/prometheus/prometheus.yaml#L71-L77. So it should be enough to set this one without modifying the first… (edited)
stable/prometheus-operator/templates/pr

[2019-04-23 10:39] #13196 closed

[2019-04-23 10:45] ChethanUK commented on #13183
Yes, Whats the Location? Can you give commands?

[2019-04-23 10:56] #13199 closed

[2019-04-23 11:04] tomerleib commented on #12370
Anything?

[2019-04-23 11:10] maorfr commented on #12370
@torstenwalter can you ptal?

[2019-04-23 11:46] EntonoX opened #13202 "[incubator/mysqlha] redeploy statefullset slave hang"
**Is this a request for help?**:

Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
Using Google Gloud
Kubernetes: v1.11.8-gke.6
Helm: v2.12.2

**Which chart**:
incubator/mysqlha

**What happened**:
Deployed this chart with 1 master and 1 slave. Actual database size +/- 300Gb. When needed to restart this setup i take the helm chart down leavin

[2019-04-23 11:52] torstenwalter commented on #12370
Please configure `Master.AdminUser` or as it is called now `master.adminUser` as well.

I suspect this to be related to what is described within `values.yaml`:

[2019-04-23 12:01] tomerleib commented on #12370
Thanks.
As you can see in my yaml above, I've already configured `Master.AdminUser` to be a valid username from my AD.
It did not help so much

[2019-04-23 12:11] etiennedi commented on #11543
Commenting to remove the stale label. Could someone comment on one of the two options outlined in the OP, still happy to provide a PR. Thanks.

[2019-04-23 12:14] kwill4026 commented on #13186
Thanks for the response @juan131, does the MongoDB chart also provide statefulset? And what about full TLS encryption with certs or is this something I will have to configure into files/docker-entrypoint-initdb.d to be consumed as a configmap?

[2019-04-23 13:11] juan131 commented on #13186
`stable/mongodb/` chart use 3 statefulsets when the parameter `replicaSet.enabled` is set to `true`:

 - One for Primary nodes
 - One for Secondary nodes
 - One for Arbitrary nodes

By default, there are no parameters provided to configure TLS encryption.

You can modify the chart to include the corresponding secrets to configure the TLS encryption and consume it on your MongoDB containers by usin

[2019-04-23 13:13] torstenwalter commented on #12370
Did you login to your Jenkins instance once so that the user is created within Jenkins?
You can check if the user is created using a url like this:
http://jenkins-url:8080/asynchPeople/

If the user exists then you could check if the `SSH Public Key` is configured:
http://jenkins-url:8080/user/bind/configure

[2019-04-23 14:21] rnkhouse commented on #13097
Now, it's working. Silly mistake! Thanks for pointing out this.

[2019-04-23 14:21] #13097 closed

[2019-04-23 14:26] javsalgar commented on #13176
Yes, I guess the problem is because of the redirection to a different domain. Maybe what it makes more sense is to have the tcpSocket test.

[2019-04-23 14:32] tomerleib commented on #12370
I've managed to reproduce it so I can provide a better understanding of the issue:
If you configure values.yaml with the following settings:
[code]

Both sidecar and the Jenkins container will be up and the pod is set to 2/2 ready.
However, if you will try to log in with the adminUser and the password - you will get login failed.
In fact, any attempt to log in will fail.

At this stage, I've tried

[2019-04-23 15:32] christianbeland commented on #13124
Any workaround available for this through dask configuration files?

[2019-04-23 15:36] grantatspothero commented on #10183
@richmondwang just tried it out, thanks for your work!

[2019-04-23 15:36] torstenwalter commented on #12370
I suggest to disable auto reload with:

[code]

That gives you the chance to fix LDAP authentication first. Once you can successfully login via LDAP, you can try auto reload again.

[2019-04-23 15:39] Bidek56 commented on #13124
Not that I am aware of, attaching /home/jovyan/ to a PVC would be another solution.

[2019-04-23 15:44] #10743 closed

[2019-04-23 16:54] dnavre opened #13210 "HAProxy ingress NodePort service type is broken"
**Version of Helm and Kubernetes**: Helm: v2.13.0, Kubernetes: v1.13.2

**Which chart**: incubator/haproxy-ingress

**What happened**: When setting controller.service.type: NodePort error messages are produced which are due to the template not actually supporting that configuration. As an example, specifying controller.service.nodePorts.http & controller.service.nodePorts.https values help but tho

[2019-04-23 16:55] baelish opened #13211 "The openvpn chart doesn't correctly determine the subnet mask for one of it's routes."
Chart: stable/openvpn
Type: bug
Priority: low?

It appears [this line](https://github.com/helm/charts/blob/856302e6cdd0f763ce105722076140afa5588320/stable/openvpn/templates/config-openvpn.yaml#L104) makes an assumption on what the subnet mask should be and in our case the wrong assumption. which means we get the following error client side:
[code]
As in our case it is a subset of the subnet we sup

[2019-04-23 18:43] jbialy commented on #12470
/reopen

[2019-04-23 18:45] kwill4026 commented on #13186
Thanks! @juan131

[2019-04-23 18:51] kwill4026 commented on #13186
One last thing, I am assuming the NGINX Ingress Controller helps solve external accessing of a mongo replicaset via URI issue .Which is when you need to access a replica set in mongodb to determine the master you can't connect through a NodePort exposed service because once you connect through the connection gets switch over to using internal kubernetes namespaces. Also when connecting via node po

[2019-04-23 19:40] bpehling opened #13217 "[stable/ambassador] Endpoints resource missing from clusterrole"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
helm: 2.11.0
kubernetes: 1.12.7

**Which chart**:
Ambassador chart version 2.2.0

**What happened**:
Ambassador containers fail to init on clean install with error:
endpoints is forbidden: User "system:serviceaccount:infra:ambassador" cannot list resource "endp

[2019-04-23 19:57] nbkrause commented on #13217
https://github.com/helm/charts/pull/13218

[2019-04-23 20:15] acesir opened #13223 "[stable/cluster-autoscaler] Passing in extraArgs causes pod to fail"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
potentially a bug
-->

**Version of Helm and Kubernetes**:
Helm 2.11.0
Kubernetes 1.11

**Which chart**:
stable cluster-autoscaler

**What happened**:
Passing in any of the extrArgs like the ones commented out bellow causes the pod to terminate without any valid messages

[code]

**How to reproduce

[2019-04-23 22:39] FrenchBen commented on #9776
@nicroto did you try the latest build: https://github.com/helm/charts/issues/9776#issuecomment-456186972 ?

[2019-04-24 01:10] huisebug opened #13226 "Error: release traefik failed: deployments.apps "traefik" already exists"
Error: release traefik failed: deployments.apps "traefik" already exists

[2019-04-24 01:28] alanjcastonguay opened #13227 "[stable/kured] default image cited by chart is missing"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report.

**Version of Helm and Kubernetes**:

helm:

* Client: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean"}

kubernetes:

* Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc5

[2019-04-24 01:44] #12054 closed

[2019-04-24 02:12] Neustradamus commented on #10768
Any news?

[2019-04-24 03:59] jayenzo commented on #13040
Thanks Will do !

[2019-04-24 04:01] jayenzo opened #13229 "unable to update stable/jenkins from version 0.10.0 - 0.36.5 "-JavaOpts""
I'm able to successfully update stable/Jenkins ver 0.10.0 to version 0.36.5
pod restarts with:

kubectl -n ci log running-chipmunk-jenkins-5648dc54fb-7k5kg
Error: Could not find or load main class default-src

It seems with the new version update is unable to find JavaOpt classes

JavaOpts: >-
-Dhudson.model.DirectoryBrowserSupport.CSP="upgrade-insecure-requests; default-src 'self' http://ajax.goo

[2019-04-24 04:02] jayenzo commented on #13229
It seems helms renders the values.yaml differently from version 0.10.0 to 0.36.5 after checking the deployment file.

chart ver.0.10.0
env:
- name: JAVA_OPTS
value: "-Dhudson.model.DirectoryBrowserSupport.CSP="upgrade-insecure-requests; default-src 'self' http://ajax.googleapis.com 'sha256-xxxxxxxxxxxxxxxx=' https://cdxx.cloudxxx.com http://cdxx.cloudxxx.com http://net.bootstrap.com http://yui.yah

[2019-04-24 04:02] #13040 closed

[2019-04-24 05:14] nicroto commented on #9776
@FrenchBen I have tested the latest at the time of my previous comment.
Don’t have the time to try again ATM. Perhaps someone else can verify it’s fixed?

[2019-04-24 06:22] torstenwalter commented on #13015
Without any context e.g from which version to which version you tried to update, you used values etc. it will be hard to support you.

[2019-04-24 06:29] torstenwalter commented on #13229
If I understand it correctly you are using this as values:
[code]

I am wondering where `http://yui.yahooapis.com https://cdxx.cloudxxxcom http://net.bootstrap.com` is coming from as that is not specified within you JavaOpts. Or do you specify additional JavaOpts somewhere else?

[2019-04-24 06:53] zgui2000 opened #13230 "ERROR: epmd error for host my-rabbitmq-0.my-rabbitmq-headless.kube-system.svc.cluster.local: nxdomain (non-existing domain)"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
kubernetes version: 1.12.7
helm version: 2.12.3

**Which chart**:
rabbitmq

**What happened**:
I configure rabbitmq's value. yaml. Then install helm, using the command: helm install -- name my-rabbitmq. / rabbitmq -- namespace = kube-system.Then I loo

[2019-04-24 07:10] Igor-lkm commented on #12272
well... it seems that keycloak is working behind `express-gateway` at least 🤔, with config like:

[code]

@tolmanam did you have any luck with Kong?

[2019-04-24 08:54] #10183 closed

[2019-04-24 08:56] manojchandrabss opened #13238 "how to validate client certificate, my application resolves for all digi cert client certificates"
**kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.5", GitCommit:"753b2dbc622f5cc417845f0ff8a77f539a4213ea", GitTreeState:"clean", BuildDate:"2018-12-06T01:33:57Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.8-eks-7c34c0", GitCommit:"7c34c0d2f2d0f11f397d55a46945193a0e22d8f3

[2019-04-24 09:02] Stalluri1 commented on #10561
Hey can someone help on this , we are facing similar issue

[2019-04-24 09:58] gouki777 opened #13239 "[stable/prometheus-operator] how to create a ServiceMonitor with jobLabel filtering"
**Is this a request for help?**:
i have a request.
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
no

**Version of Helm and Kubernetes**:
kubernetes :v1.12.5
helm version
Client: &version.Version{SemVer:"v2.12.3"}
Server: &version.Version{SemVer:"v2.12.3"}

**What happened**:

i create a ServiceMonitor,but all (namespace=monitoring) service data in it.

**What you expected to happen**:

[2019-04-24 10:20] ChethanUK commented on #13183
Hey, any update?

[code]

[2019-04-24 10:44] #11942 closed

[2019-04-24 10:53] #13173 closed

[2019-04-24 11:06] tomerleib commented on #12370
Thanks, this one is indeed working.

[2019-04-24 11:06] #12370 closed

[2019-04-24 11:37] Morishiri opened #13245 "[stable/prometheus-operator] kube-scheduler and kube-controller-manager job label is hardcoded"
**Is this a request for help?**: No, it's not
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
`stable/prometheus-operator`

**What happened**:
Job label for service monitor is always hardcoded to jobLabel and uncofigurable via values.

**What you expected to happen**:

Job label is configurable via values and

[2019-04-24 12:32] denis111 commented on #8145
Please, reopen...

[2019-04-24 12:43] #12000 closed

[2019-04-24 12:45] tolmanam commented on #12272
@Igor-lkm I've had to pivot to work on other tasks.  I thought that the keycloak.org documents appear to provide a promising lead that I hoped to come back to later.

If you have it working behind `express-gateway` that is a really good sign.

[2019-04-24 14:37] rfvermut commented on #13183
You have Istio running, who injects it's Init containters into other pods. `istio-init` is crashing, that's why Zookeeper cannot start, that's why Kafka cannot start.

Not a Kafka issue.

[2019-04-24 14:42] himpierre opened #13251 "[stable/nextcloud] Feature Request LDAP Support"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:  v2.13.1 / v1.13.4

**Which chart**: stable/nextcloud

**What happened**: helm chart does not support ldap authentication

**What you expected to happen**: helm chart supports setting nextcloud ldap authentication

Hello Devs.

It would be reallly nice to set LDAP Configuration via Helm

[2019-04-24 14:50] Morishiri commented on #13245
I was somehow using older version and that was the reason it is not working for me, sorry for bothering you.

[2019-04-24 14:50] #13245 closed

[2019-04-24 15:24] #12374 closed

[2019-04-24 15:35] #12064 closed

[2019-04-24 15:50] s12chung opened #13254 "Trusted Collaborator"
I would like to be added as a trusted collaborator. (@s12chung). https://github.com/helm/charts#trusted-collaborator says I should open an issue here.

Thanks.

[2019-04-24 16:35] #11989 closed

[2019-04-24 16:53] out-of-band opened #13257 "[stable/sonarqube] Support ingress path configuration"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**Which chart**:
stable/sonarqube

The current ingress configuration supported by stable/sonarqube provides limited functionality because it does not support ingress path configuration.  Currently, the only way to configure ingress with SonarQube is at the root level (e.g., sonarqube.domain.com), where many use-cases may r

[2019-04-24 17:15] juan131 commented on #13186
Hi @kwill4026

The NGINX Ingress Controller allows you accessing MongoDB though a web port (which is a little awkward) but you can use a custom external domain to access your MongoDB replicaset. It's not very common to use this feature.

As you mentioned, when configuring MongoDB with replicaSet, you can access to the primary nodes by selecting a NodePort or LoadBalancer service type. See:

https:

[2019-04-24 17:15] drewwells opened #13259 "multiple prometheus adaptors can not be installed into the same cluster"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm 2.31.1
K8s 1.11.9

**Which chart**:
stable/prometheus-adaptor

**What happened**:
Release failed to install b/c another one is already installed

**What you expected to happen**:
All k8s objects to be prefixed with the release name

**How to reprodu

[2019-04-24 17:16] juan131 commented on #13176
Did you have a chance to try the `tcpSocket` test @andreisergiu98 ?

[2019-04-24 18:33] cBournhonesque opened #13262 "Update requirements.yaml charts for stable/airflow"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request

The postgres and redis charts that are installed from the airflow requirements.yaml are very outdated. I had some trouble to see what extra parameters I had to use in the `postgresql` section of the values.yaml file because I couldn't simply go on the github page of the postgresql chart to know what the values.yaml should look like.

I

[2019-04-24 18:57] jayenzo commented on #13229
I believe we only specify this within the JavaOpts directive env only
# Set min/max heap here if needed with:
  JavaOpts: >-
    -Dhudson.model.DirectoryBrowserSupport.CSP=\"upgrade-insecure-requests; default-src 'self' http://ajax.googleapis.com 'sha256-mp+xxxxxxxxxxxxxxxxxxxxx=' https://cdxxx.cloudxxx.com http://cdnxx.cloudxxx.com http://netdna.bootstrapcdn.com http://yui.yahooapis.com; img-src

[2019-04-24 19:00] ChethanUK commented on #13183
Do I need to do something like `--set sidecarInjectorWebhook.enabled=false`

https://preliminary.istio.io/docs/setup/kubernetes/additional-setup/sidecar-injection/#disabling-or-updating-the-webhook

[2019-04-24 19:09] bpehling commented on #13217
Fixed, closing  issue

[2019-04-24 19:09] #13217 closed

[2019-04-24 20:58] rajiteh opened #13266 "[stable/prometheus-operator] Cannot add additionalPeers to alertmanager"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

stable/prometheus-operator

**What happened**:

Documentation states that the `additionalPeers` value in `alertmanager.alertmanagerSpec` should be a string array but in the template it is rendered as a serialized go list ra

[2019-04-24 21:35] #11834 closed

[2019-04-25 03:34] rvangundy opened #13268 "Spinnaker - Wildcard path not set when using ALB ingress"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**:
[code]

Kubernetes v1.12.7

**Which chart**:
Spinnaker

**What happened**:
I configured the chart to use `kubernetes.io/ingress.class: "alb"`. In this case, the ingress path should be set to `/*`. However, when I describe the ingress controller I see:

[cod

[2019-04-25 03:35] #11578 closed

[2019-04-25 05:00] coolyrat opened #13270 "stable/drone add support OAuth2 for gitea"
**Is this a request for help?**:
request
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

add env DRONE_GITEA_CLIENT_ID and DRONE_GITEA_CLIENT_SECRET in the https://github.com/helm/charts/blob/master/stable/drone/templates/_provider-envs.yaml

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c6

[2019-04-25 05:35] unguiculus commented on #11445
Invite sent.

[2019-04-25 05:35] #11445 closed

[2019-04-25 07:41] gouki777 commented on #13239
I looked the document and the problem was solved

[2019-04-25 07:41] #13239 closed

[2019-04-25 09:09] faheem-cliqz opened #13275 "[stable/prometheus-operator ] Default label selector for kubeControllerManager and KubeScheduler"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**: 1.11 / Kops, Helm v2.13.0

**Which chart**: prometheus-operator

**What happened**:
Default selector labels injected for kubescheduler and kubecontroller:
[code]

**What you expected to happen**:
For kops created clusters the pods have label `k8s-app` rather th

[2019-04-25 09:12] omni-lchen commented on #11738
I experienced the same issue with stable/prometheus-operator v5.0.2, it looks like the endpoints of kubelet service is not up to date, it still holds the nodes terminated, however the endpoints of prometheus-operator-kubelet service are showing correct, not sure this is kubernets issue, you can run the following commands to verify.

kubectl -n kube-system get ep kubelet -o json | jq .subsets[].add

[2019-04-25 10:29] dingko commented on #12967
I also want this request. @jnsvd do you have a workaround?

[2019-04-25 11:50] mfpierre opened #13279 "Add @mfpierre as Trusted Collaborator"
Hi,

In the same fashion as https://github.com/helm/charts/issues/13120 I'm also working at Datadog and one of the owners of the Datadog chart:

https://github.com/helm/charts/blob/a5b16939ebc25a09200c36d2feb37e69674c907a/stable/datadog/OWNERS#L11

An would like to be added as a trusted collaborator to speed up the development on the Datadog Chart.

Thanks! 🙇

Sponsor: @hkaj

[2019-04-25 11:54] hkaj commented on #13279
👍

[2019-04-25 12:08] harry12345678910 opened #13281 "Ingress in version "v1beta1" cannot be handled as a Ingress:"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
Kubernetes version:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:04:45Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"linux/amd64

[2019-04-25 13:42] Typositoire opened #13284 "[ stable/concourse ] Using a real BTRFS partition make initContainer fail/slow"
FEATURE REQUEST

When using a real BTRFS partition (not a loop mount) the current init container doesn't work.
![image](https://user-images.githubusercontent.com/721017/56740103-3e28b800-673e-11e9-8b49-488dac31e70a.png)

It is possible to either account for this OR let us overwrite the current initContainer script ?

[2019-04-25 13:45] gboor opened #13285 "[stable/sentry] make /var/lib/sentry/files a persistent volume"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Which chart**: stable/sentry

**What happened**: I tried to upload a file to sentry for a source map and sentry-cli just hung forever. The logs of sentry-worker shows that it could not create the file in /var/lib/sentry/files

**What you expected to happen**: File upload to succeed

*

[2019-04-25 15:21] TOTOleHero opened #13288 "openldap chart : using "osixia/openldap-backup" instead of "osixia/openldap""
Hello everybody,

Is it possible to use the "openldap" chart with "osixia/openldap-backup" image instead of "osixia/openldap" image ?

The values.yaml file do not expose extra volumes to do this. How can i do this ?

Thank's you

[2019-04-25 16:24] out-of-band commented on #13257
I am working on a PR to make the ingress paths configurable.  That's a pretty straightforward change to the `ingress.yaml` template.

However, despite the ingress setting up correctly, the SonarQube web UI will not load.  I just get the spinning loading animation forever with no errors in the logs that I can see.

Does `sonar.web.context` need to be set to match the ingress path?

I've tried setti

[2019-04-25 17:12] uschtwill commented on #11637
Fixed by https://github.com/helm/charts/pull/12031?

[2019-04-25 17:22] #13211 closed

[2019-04-25 17:24] marcingluc-clearobject opened #13291 "[stable/jenkins] Error: UPGRADE FAILED: Deployment.apps "jenkins" is invalid"
Request for help:

**Version of Helm and Kubernetes**:
Kubernetes: 1.12.7-gke.10

Helm:
Client: &version.Version{SemVer:"v2.12.0", GitCommit:"d325d2a9c179b33af1a024cdb5a4472b6288016a", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.0", GitCommit:"d325d2a9c179b33af1a024cdb5a4472b6288016a", GitTreeState:"clean"}

**Which chart**:
stable/jenkins 1.0.0

**What happened**:
I am trying to

[2019-04-25 18:13] feliperfmarques opened #13292 "[stable/external-dns] How to setup AWS Route53 using preexisting IAM user secrets?"
**Is this a request for help?**:

Hello guys,

I can see that PR #8587 changes extraEnv to be an array of objects. It makes external-dns be able to retrieve credentials from already existing secrets, avoiding duplication and more importantly credentials stored in helm overrides which might be checked into version control.

But, I can't see in docs how I should do this for config aws route53 using

[2019-04-25 18:17] Typositoire commented on #13284
you need to do `btrfs subvolume delete <volume>`

[2019-04-25 18:20] #12146 closed

[2019-04-25 18:21] torstenwalter commented on #13291
Does this help? https://github.com/helm/charts/pull/13273

[2019-04-25 18:24] marcingluc-clearobject commented on #13291
Thanks - I'll give it a shot. I see that it requires the deletion of the deployments.

`kubectl delete deploy jenkins`

[2019-04-25 20:20] #12117 closed

[2019-04-25 20:30] #11280 closed

[2019-04-25 21:42] Goobaii commented on #10491
@CharlesHuangGeminiOpenCloud Were you able to fix this issue and if so how? I think I am having a similar issue but with elasticsearch.

[code]

[2019-04-25 22:18] sgandewar opened #13297 "on-start.sh stuck in running - mongodB replica for second pod"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
Kubernetes version "v1.8.7"
helm version
Client: "v2.7.2",
Server: "v2.11.0"

**Which chart**:
helm plugin install https://github.com/technosophos/helm-template --version 2.5.1

**What happened**:
First mongo pod created successfully. Second pod stuck in running st

[2019-04-26 04:55] QwertyJack opened #13300 "[stable/mariadb] BUG REPORT: fail to re-deploy"
**Is this a request for help?**:
Yeap
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
v2.13.1@618447cbf203d147601b4b9bd7f8c37a5d39fbb4

**Which chart**:
stable/mariadb

**What happened**:
Everything is OK during the first time deploy; but fails if deploy again.

**What you expected to happen**:
Further deploy is successful.

**How to

[2019-04-26 05:50] popsonebz commented on #13109
facing same issue

[2019-04-26 06:19] occelebi opened #13302 "[stable/prometheus-operator] Targets are down on GKE (status 401 Unauthorized & connection refused)"
**Is this a request for help?**:
Yes
---

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
prometheus-operator

**What happened**:
There are no kubelets (cadvisor) and coredns endpoints in Prometheus UI on Google kubernetes engine.
Kubelets give `server returned HTTP status 401 Unauthorized`
Coredns gives `Get http://IP:PORT/metrics: dial tcp 10.IP:PORT: connect: connection refused`

*

[2019-04-26 06:32] isen-ng opened #13303 "[stable/postgresql] Using non 5432 service.port will not work"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm: 2.12.3
minikube: 1.0.0

**Which chart**:
stable/postgresql
version: 3.18.1

**What happened**:
If i set the `service.port` to something other than `5432`, eg `2345` other pods will not be able to connect to the postgres server

**What you expected

[2019-04-26 07:32] torstenwalter commented on #13291
Did that help? Do you have suggestions for the upgrade instructions?

[2019-04-26 07:50] Pamir commented on #13302
Hi

This should work.
coreDns:
  enabled: true
  service:
    port: 10054
    targetPort: 10054
    selector:
      k8s-app: kube-dns

[2019-04-26 07:59] occelebi commented on #13302
Thanks @Pamir. Prometheus can scrape from coreDns but kubelets are still failing as we did not touch it. Do you have any idea on kubelet's error (`server returned HTTP status 401 Unauthorized`)

[2019-04-26 09:24] stijndehaes commented on #12042
Yeah I think the ingress configuration in the example/minikube-values.yaml ensures this error.

[2019-04-26 09:53] yinwhm12 opened #13306 "[Hlf-ca] setting multi-affiliation in values.yaml can not run"
Hi, I set affiliation for mutil-Orgs in values.yaml, but I failed.
![image](https://user-images.githubusercontent.com/25929417/56799465-98fc0580-684b-11e9-9254-a31def437738.png)

and run command:
helm install xx/hlf-ca --name xx --namespace xxx -f ca-values.yaml

Error information from the Error-pod:
![image](https://user-images.githubusercontent.com/25929417/56799653-ee381700-684b-11e9-8d8c-49fac

[2019-04-26 10:04] yinwhm12 commented on #13306
i ran a test for that generating the fabric-ca-server-config.yaml, it has the bad result:

![image](https://user-images.githubusercontent.com/25929417/56800487-b7fb9700-684d-11e9-9725-04dd05e5ab4b.png)

[2019-04-26 10:05] desaintmartin commented on #10543
Not stale.
What is the status of this? charts.git elasticsearch release is doing great, how should we work to converge the two charts?

[2019-04-26 10:17] aurelien-moreau commented on #12153
Same issue. We also have to change the service name to match patroni.name instead of patroni.fullname  because spilo script seems to create/update service endpoint with this SCOPE environment variable.

[2019-04-26 10:20] #12006 closed

[2019-04-26 10:22] occelebi commented on #13302
For future googlers:

Edit servicemonitor: (**monitoring-prometheus-oper-kubelet**)
https://github.com/coreos/prometheus-operator/issues/926#issuecomment-374781066

[2019-04-26 10:22] #13302 closed

[2019-04-26 10:53] arthurk commented on #12560
activity

[2019-04-26 11:20] dshackith commented on #12668
@fog1985 the stable/fluentd-elasticsearch chart is deprecated and is now hosted at https://kiwigrid.github.io/. See https://github.com/helm/charts/blob/master/stable/fluentd-elasticsearch/README.md

[2019-04-26 12:33] mrtndwrd opened #13309 "[stable/collabora-code] Configurable liveness and readiness probes"
**Is this a request for help?**:
no
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Feature request

- Describe *in detail* the feature/behavior/change you'd like to see.

Configurable liveness and readiness probe, like, for example in the mariadb chart:

https://github.com/helm/charts/blob/master/stable/mariadb/templates/master-statefulset.yaml

**Which chart**:

collabora-code

[2019-04-26 13:22] mjrepo2 commented on #12789
Hi,

i think this can be closed. We investigated further and somewhen changed the persistent storage for the postgres. Since then the issue disappeared.

[2019-04-26 13:22] #12789 closed

[2019-04-26 15:20] #11976 closed

[2019-04-26 15:29] marcingluc-clearobject commented on #13291
Thanks - Deleting the deployment and then running the upgrade resolved the issue.

[code]

I ran into a problem with host not being set properly within my jenkins ingress configuration. The following gets deployed:
What gets deployed:

[code]

The fix:

[code]

Manually modifying the ingress with **-host: redacted.com** under spec > rules allows the cert to properly load

The previous version of t

[2019-04-26 15:39] 0xErnie commented on #13230
Could you please adjust the markup of you value.yaml, so it is more readable?
Maybe use a code block so github does not try to parse it.

[2019-04-26 15:43] unguiculus commented on #12272
The Keycloak chart here is being deprecated (#13316) and moved to a new home:
https://github.com/codecentric/helm-charts

I'm closing this issue. Feel free to open a new issue in the new repo. Thanks.

[2019-04-26 15:43] #12272 closed

[2019-04-26 15:43] unguiculus commented on #12342
The Keycloak chart here is being deprecated (#13316) and moved to a new home:
https://github.com/codecentric/helm-charts

I'm closing this issue. Feel free to open a new issue in the new repo. Thanks.

[2019-04-26 15:43] #12342 closed

[2019-04-26 15:43] unguiculus commented on #11435
The Keycloak chart here is being deprecated (#13316) and moved to a new home:
https://github.com/codecentric/helm-charts

I'm closing this issue. Feel free to open a new issue in the new repo. Thanks.

[2019-04-26 15:43] #11435 closed

[2019-04-26 15:44] unguiculus commented on #12788
The Keycloak chart here is being deprecated (#13316) and moved to a new home:
https://github.com/codecentric/helm-charts

I'm closing this issue. Feel free to open a new issue in the new repo. Thanks.

[2019-04-26 15:44] #12788 closed

[2019-04-26 15:44] unguiculus commented on #12754
The Keycloak chart here is being deprecated (#13316) and moved to a new home:
https://github.com/codecentric/helm-charts

I'm closing this issue. Feel free to open a new issue in the new repo. Thanks.

[2019-04-26 15:44] #12754 closed

[2019-04-26 15:58] torstenwalter commented on #13291
Thanks for the update. Do you want to create a PR to fix the chart?

[2019-04-26 16:08] #13309 closed

[2019-04-26 16:21] torstenwalter commented on #13291
Looks like there are two parameters where the hostname can be configured:

master.hostName
master.ingress.hostName => has been introduces as part of #12946

If I look at the template only `master.ingress.hostName` is used now. NOTES.txt still references the wrong value. I just created #13318 to correct the notes.

[2019-04-26 18:46] #12143 closed

[2019-04-26 18:46] #12160 closed

[2019-04-26 20:13] marcingluc-clearobject commented on #13291
Thank you for the clarification. I'll correct my values and this should fix it.

[2019-04-26 21:46] #12193 closed

[2019-04-26 23:13] amir-barkal commented on #7360
Why is there a need for a second service to access the jenkins container from agent pods?

[2019-04-27 00:21] Aourin opened #13325 "Default Port is statically 3000"
https://github.com/helm/charts/blob/77aaa9a5fc4c2a06ce1ea446bcd5f27a88244af5/stable/grafana/templates/deployment.yaml#L234

I was wondering if this was made set statically to 3000 for a reason. I was wondering if this is something that could become a configurable port as well.

[2019-04-27 05:07] juliohm1978 opened #13328 "Graylog chart fails to start - chown: changing ownership of '/usr/share/graylog/data/journal': Operation not permitted"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
- Helm v2.13.1
- Kubernetes v1.14.1

**Which chart**: stable/graylog

**What happened**:
Graylog fails to start because Init Containers provided by the chart do not correctly adjust file permissions in some cases.

More specifically, when PVs are auto

[2019-04-27 07:44] will-beta opened #13330 "[stable/airflow] Request for custom dns servers support"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
a FEATURE REQUEST

We have some dags that need to access internal web-servers, which could only be resolved by internal dns servers.

Thanks in advance.

[2019-04-27 08:46] #12182 closed

[2019-04-27 08:46] #7770 closed

[2019-04-27 08:46] #12090 closed

[2019-04-27 09:44] Genki-S commented on #9791
I got a workaround for this: Let your node-exporters have different IP than the host they are running on. I found that on Digital Ocean kubernetes environment:
- Pod cannot access to Node IPs (except for the node the pod is running on)
- Pod can access to Pod IPs (even though target pods are running on different nodes)

This can be done by setting `hostNetwork: false` I believe.

(note it has a ca

[2019-04-27 09:46] #12044 closed

[2019-04-27 10:59] 27Bslash6 commented on #7770
sigh

[2019-04-27 12:21] tony-kerz opened #13333 "[jenkins] values.yaml and casc: suggestion"
hi jenkins chart guys,

just taking the latest chart for a spin `1.10.0` and i really like the CasC integration!

one behavior that i noticed is that if i place another key under `master.JCasC.configScript` that contains `jenkins.systemMessage`, like:
[code]

it will clash and fail (see below) with the example in `values.yaml`:

[code]
__stack trace__:
[code]
---

i can get around this by overridi

[2019-04-27 16:08] Industrial commented on #12836
I can't reproduce my earlier state now, sorry. It works for me so I'm closing the ticket.

[2019-04-27 16:08] #12836 closed

[2019-04-27 16:30] feliperfmarques commented on #13292
Hello guys,

I figured out how to do. It was stupid of me. It's very simple. But my doubt occurs because in docs din't have full description about this. The way like works with configs defined directly set up by  ```aws.secretKey``` and ```aws.accessKey``` in values.yaml and secrets defined by ValueFrom in ```ExtraEnvs``` are differents:

1 - When set  ```aws. secretKey``` and ```aws.accessKey```

[2019-04-27 16:42] marcindulak opened #13335 "[stable/prometheus-operator] Add namespace information to the TargetDown alert"
**Is this a request for help?**: no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

The TargetDown alert does not list the namespace and therefore:

- the alert message does not provide the necessary context - one needs to guess the namespace
- the alert cannot be further filtered out based on the namespace

https://github.com/helm/charts/blob/f6974d6307f964267df3

[2019-04-27 16:50] QwertyJack commented on #13300
Solved by deleting pvc.
BTW: Somehow `helm delete --purge` keeps pvc which is the root cause.

[2019-04-27 16:50] #13300 closed

[2019-04-27 17:40] #12219 closed

[2019-04-27 17:40] #11414 closed

[2019-04-27 18:56] feliperfmarques commented on #13292
PR #13336 submitted for improving docs.

[2019-04-27 20:26] tuxpeople opened #13337 "[stable/rabbitmq-ha] nodeAffinity on rabbitmq"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FeatureRequest like #3335 I would appreciated if I could configure nodeAffinity because as far as I know it's the only Kubernetes feature which allows me to do this:

I have 6 nodes, labeled in pairs:

Node 1: environment=red
Node 2: environment=red
Node 3: environment=blue
Node 4: environment=blue
No

[2019-04-28 00:40] #12259 closed

[2019-04-28 03:40] #12263 closed

[2019-04-28 06:12] will-beta commented on #12798
Looking forward to this feature!

[2019-04-28 11:40] #11067 closed

[2019-04-28 13:02] GreSuh commented on #5194
still the same Problem wirt latest edge docker for mac and concourse hello-world demo

runc run: exit status 1: container_linux.go:345: starting container process caused "process_linux.go:424: container init caused \"rootfs_linux.go:70: creating device nodes caused \\\"function not implemented\\\"\""

[2019-04-28 13:40] #12131 closed

[2019-04-28 14:40] #12275 closed

[2019-04-28 15:14] polganesh commented on #10747
@steven-sheehy
i am trying to use client service inside k8s cluster as suggested by you but i am getting following error.

i am using mongodb-replicaset as sub chart and my release name is skeleton

[code]

can you please suggest any pointers if i am missing something

[2019-04-28 15:39] darxkies opened #13340 "[stable/home-assistant] wrong indentation for initialDelaySeconds"
**Version of Helm and Kubernetes**:
Helm: v2.13.1
Kubernetes: 1.14.1

**Which chart**:
stable/home-assistant

**What happened**:
Configurator can not be installed.

**What you expected to happen**:

Configurator should be installed when enabled.

**How to reproduce it** (as minimally and precisely as possible):

configurator.enabled needs to be set to true when installing chart stable/home-assista

[2019-04-28 17:58] darxkies opened #13341 "[stable/home-assistant] missing slash in mount path"
**Version of Helm and Kubernetes**:

Helm: v2.13.1
Kubernetes: v1.14.1

**Which chart**:

stable/home-assistant

**What happened**:

The git repository can not be accessed due to to missing slash in the path to id_rsa.pub

**What you expected to happen**:

Access the git repository.

**How to reproduce it** (as minimally and precisely as possible):

Run the following command to create the secret

[2019-04-28 18:05] darxkies opened #13342 "[stable/home-assistant] git sync secret command typo"
**Version of Helm and Kubernetes**:
Helm: v2.13.1
Kubernetes: v1.14.1

**Which chart**:

stable/home-assistant

**What happened**:

The command in README.md to create the git sync secret contains a typo.

**What you expected to happen**:

Store content of id_rsa_pub in id_rsa.pub instead of ida_rsa.pub

**How to reproduce it** (as minimally and precisely as possible):

Run the following command an

[2019-04-28 18:18] ashishxooa opened #13344 "hlf charts - Update to 1.4.0 LTS version"
Hi team,

Any plans to update to 1.4.x for all Fabric components and introduce the parameters for operations service and also support for RAFT based consensus.

[2019-04-28 18:28] darxkies commented on #13341
Already fixed with a previous commit.

[2019-04-28 18:28] #13341 closed

[2019-04-28 19:32] CodeSwimBikeRunner opened #13345 "How do I provide My Issuer Email?"
In order to properly sign certificates, letsencypt usually requests an email that is controlled by my domain.

Is this still an option with this chart?

[2019-04-28 20:43] darxkies opened #13346 "[stable/home-assistant] initContainers fails after initialization"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:
Helm: v2.13.1
Kubernetes: v1.14.1

**Which chart**:

stable/home-assistant

**What happened**:

Once git-sync cloned the repository, when the pod gets restarted it tries to clone the repository again, but as the files are in place it fails and it prevents the other containers to start.

**Wh

[2019-04-28 22:23] #12294 closed

[2019-04-28 23:10] monotek commented on #12628
Why has this been closed?
Imho it's still valid.

[2019-04-29 01:42] ianhuang92 commented on #13166
@pjanuario Hi , could you please provide more information on how to bypass this problem, I've encountered this as well. Thank you

[2019-04-29 01:43] tlmiller commented on #9828
New PR for this issue #13347

[2019-04-29 01:57] sangwonl opened #13352 "[stable/airflow] scheduler.resources has wrong key in values.yaml"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
Not a specific version

**Which chart**:
stable/airflow

**What happened**:
Scheduler resources spec is defined as below in `values.yaml`
[code]

But it's not used in scheduler template, `deployments-scheduler.yaml`. So, k8s says an error that `scheduler` key i

[2019-04-29 02:30] minhdanh opened #13353 "[stable/drone] prometheus metrics not working"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

Helm version:
[code]

Kubernetes version:
[code]

**Which chart**: stable/drone

**What happened**:
Prometheus cannot scrape metrics of drone server:
[code]

**What you expected to happen**:
Prometheus can scrape drone server metrics

**How to repro

[2019-04-29 04:44] juliohm1978 commented on #13328
I'm cross relating this to the Graylog container repo.

I'm not sure what's the best way to resolve this:

1) Make the Graylog container immune to this problem ([issue #76 on their side](https://github.com/Graylog2/graylog-docker/issues/76
))

2) Implement a workaround in this chart, but that means introducing an implicit complexity into the chart ([see PR thread](https://github.com/helm/charts/pu

[2019-04-29 05:03] sangwonl opened #13357 "[stable/airflow] airflow worker doesn't have queue arguments"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Any version of Helm and K8s

**Which chart**:
stable/airflow

**What happened**:
Airflow worker can run with the specific queues (not only `default` queue) by giving `-q` argument. (https://airflow.apache.org/cli.html#worker)

Using dedicated queues

[2019-04-29 06:48] weber-d commented on #11707
_Push_

[2019-04-29 08:18] ybizeul opened #13362 "Changing fullnameOverride after initial install wipes Grafana dashboards every few minutes"
**Is this a request for help?**:

No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug Report

**Version of Helm and Kubernetes**:

Helm 2.12.3 / k8s v1.13.5

**Which chart**:

stable/prometheus-operator

**What happened**:

Dashboards are all deleted at regular intervals

**What you expected to happen**:

Dashboards to stay

**How to reproduce it** (as minimally and precisely

[2019-04-29 08:57] tompizmor commented on #13303
Hi @isen-ng,

The key `servicePort` does not exist in the values.yaml. You should use `service.port` when installing the chart.

In any case, I tried with the correct key and it didn't work either. The port information is not being passed to the docker image so it is always configured in the same port (5432). We will further check this issue and let you know once we have more information.

[2019-04-29 09:09] compleatang commented on #12628
Basically cause nobody responded....

[2019-04-29 09:17] javsalgar commented on #13230
Hi,

Please, as @0xErnie mentioned, it is very difficult to read the YAML if you do not put it inside a code block. I tried editing the post but I couldn't

[2019-04-29 09:19] javsalgar commented on #13300
Hi,

Yes. By definition, the PVCs created by a StatefulSet are not deleted when deleting it. These are meant to be deleted manually

[2019-04-29 09:50] javsalgar opened #13363 "[stable/postgresql] MAJOR CHANGE: Moving the postgresql container to bash"
All of our stable/postgresql users please check this: https://github.com/bitnami/bitnami-docker-postgresql/issues/125

We will update both tickets when we have more news.

[2019-04-29 09:51] juv commented on #10561
We have a similar issue, but our Keycloak instances appear to be able to join the jgroups cluster when looking at the log output. Our issue is that login sessions are not properly synchronized across the nodes. Basically, when obtaining a authorization code from the /auth endpoint, then sending it in to the /token endpoint, will end up in a `invalid_token` error in 9/10 times and the logs say that

[2019-04-29 11:23] #12300 closed

[2019-04-29 13:35] ricardompcarvalho commented on #11642
@holmesb can you help?

[2019-04-29 13:57] ricardompcarvalho opened #13367 "[stable/jenkins] Sidecar Container crashloopbackoff"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

[code]

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
JENKINS

**What happened**:
I try to work with Auto-reload with non-Jenkins identities and the sidecar gives me an error.

**What you expected to happen**:
Sidecar container reloads configuration

**How to repro

[2019-04-29 14:12] wskulley commented on #11637
Not fixed as near as I can tell. Still getting this error with stable/velero --version 1.0.0

[2019-04-29 14:24] nickytd opened #13368 "Typo in secret name when additionalScrapeConfigsExternal is enabled"
When additionalScrapeConfigsExternal: true is enabled in prometheusSpec

https://github.com/helm/charts/blob/master/stable/prometheus-operator/templates/prometheus/additionalScrapeConfigs.yaml

The secret which is looked is prometheus-oper-prometheus-scrape-confg
where it should be prometheus-oper-prometheus-scrape-config

[2019-04-29 14:41] adamdodev commented on #13172
cc @chrisingenhaag (sorry, I don't know if there's a better way of notifying chart owners)

[2019-04-29 14:59] chrisingenhaag commented on #13172
No worries, I´ll take a look onto this.
After first look, I think you´re right. The helper method has an issue as its nulls nextcloud.host if serviceType is LoadBalancer. And without this no Deployment will be rendered by helm.

[2019-04-29 15:18] holmesb commented on #11642
CasC config must be in one or more values yaml files.  You may store them in sub-folders in your repo.  Helm documentation explains how to apply different values files.

This question is unrelated to this issue.  Please open new issues for unrelated questions.

[2019-04-29 15:23] #12307 closed

[2019-04-29 15:27] ricardompcarvalho commented on #11642
Yes but with auto-reload the configmaps will be inside configscripts no?

[2019-04-29 15:46] holmesb commented on #11642
This chart creates configmaps from the keys under master.JCasC.ConfigScripts.  The sidecar takes these configmaps and creates yaml files in a single dir (/var/jenkins_home/casc_configs) on the master pod's filesystem.

[2019-04-29 15:49] ricardompcarvalho commented on #11642
Yes, i know that, my doubt is how to apply casc configuration that i have in a folder and sub-folders on the repository. I want to have all my jobs inside a folder and apply them, do you know how to do it?

[2019-04-29 15:59] alexppg opened #13372 "prometheus-cloudwatch-exporter not updated in the helm repository"
The version on the chart repository is not the same as the one in the git repository. In the git repository, there's the version 0.4.4, but the one in the helm repository is the 0.4.0.

The related [MR](https://github.com/helm/charts/pull/12503l) is this one.

[2019-04-29 16:02] torstenwalter commented on #11642
I have to agree with @holmesb: How you store configmaps in version control and apply them to kubernetes is really off topic and unrelated to this chart.

You can just call 'kubectl apply -f folder' and that will apply all yaml files within that folder.

You don't have to manage JCasC scripts within this chart. You can store them in any config map you want as long as they have the same annotation t

[2019-04-29 16:12] ricardompcarvalho commented on #11642
Thanks for the answer @torstenwalter and sorry for writing here

[2019-04-29 16:26] Adriien-M commented on #11672
There is the MongoDB Enterprise Kubernetes Operator but sadly, it is not free... :/
This feature requires big changes but it could be really useful!

[2019-04-29 17:25] vsliouniaev commented on #13335
Alerts are sourced from upstream repositories, originating with the kubernetes-mixin project. You're free to customize alerts in whatever way you wish, but if you would like to change the defaults, please ask in the source project

[2019-04-29 17:26] vsliouniaev commented on #13275
You can remove them by setting the value to `null`

[2019-04-29 17:44] jbialy commented on #12470
@krish7919 Can you attempt to implement the change, test and submit a PR? I agree that we should be using the default entrypoint defined in the vault docker image as opposed to overwriting it, if possible. However, I haven't tested this!

[2019-04-29 17:54] marcingluc-clearobject commented on #13291
I have tried setting my hostname `redacted.com` on both master.hostName or master.ingress.hostName. Neither populates the rules field within the ingress rules section. My workaround is to manually modify the ingress so our systems are operational. Just bringing this back up to the community in case anyone else is having a problem.

[2019-04-29 18:02] jimmiebtlr commented on #11464
Any hints on how you solved this, think I'm seeing 1/2 pods in a production environment behaving this way at the moment.  Same error message.

[2019-04-29 18:14] thedodd commented on #11175
I believe this issue should be opened again. The above comments don't seem to solve the problem as of `2.2.0`.

Creating a different storage class with xfs filesystem did not resolve the issue.

[2019-04-29 18:18] chicken231 commented on #11175
@thedodd What does the kubelet say when for events for the pod?

The original cause for my issue was that the Kibana pod was being scheduled on a node that was in a different availability zone than where it had originally been created. This error wasn't very clear to me at the time, but makes sense in retrospect:

[2019-04-29 18:21] thedodd commented on #11175
The issue that I am seeing is a permissions issue. The init container fails and the logs from the init container simply state: `rm: cannot remove 'plugins/lost+found': Permission denied`.

If I remove that line from the init script, the script simply fails further down with similar permissions issues.

[2019-04-29 18:24] thedodd commented on #11175
@chicken231 any thoughts on that? It looked like @halradaideh was spot on, but the solution they suggested didn't seem to make a difference.

[2019-04-29 18:35] chicken231 commented on #11175
@thedodd This guy had the same error, it might point you in the right direction: #11136

Just to clarify, @halradaideh says  `ext4`, you said `xfs`. Did you mean `ext4`?

[2019-04-29 18:36] torstenwalter commented on #13291
@marcingluc-clearobject I tried to reproduce your issue using the following steps:

[code]

It contains `host: "redacted.com"`, so what's wrong with the generated ingress?

[2019-04-29 18:38] torstenwalter commented on #13333
Thanks for the suggestion. Could you create a PR which comments out the `welcome-message`?

[2019-04-29 18:40] thedodd commented on #11175
@chicken231 they said that `ext4` was the problem, and that creating a storage class with `xfs` should resolve the issue.

I'll checkout that other issue though. Looks like that could do the trick.

[2019-04-29 18:47] thedodd commented on #11175
@chicken231 thanks for the very fast feedback. I was being a fool and did not enable the security group settings. It had been working in my minikube, but when deploying to an environment with non-local PVCs, it was breaking. Just needed to enable security context and everything was g2g.

[2019-04-29 18:49] torstenwalter commented on #12519
Which chart version caused the problem and which chart version worked?

[2019-04-29 19:44] marcingluc-clearobject commented on #13291
Looks like it was an indentation error in my values.yaml. Closing issue.

[2019-04-29 19:44] #13291 closed

[2019-04-29 21:07] maxsarath commented on #5433
facing same issue.
+1

[2019-04-29 21:19] #13342 closed

[2019-04-29 21:20] #13340 closed

[2019-04-29 21:20] #13346 closed

[2019-04-29 21:57] marklester opened #13383 "coredns doesn't deploy if loadbalancer is metallb"
BUG REPORT

**Version of Helm and Kubernetes**:
k8s: 1.14.1
helm: 2.13,1

**Which chart**:
stable/coredns

**What happened**:
try to deploy but failed with:
[code]

**How to reproduce it** (as minimally and precisely as possible):
install coredns with value override of
[code]

**Anything else we need to know**:
k8s doesn't like  service port on both tcp and udp for loadbalancer type services: http

[2019-04-29 22:01] #12378 closed

[2019-04-29 23:27] maxsarath commented on #5433
i was able to fix this issue for my cluster. The issue was, i had not created the storage class. so when i did it, i can see pods running.

https://docs.aws.amazon.com/eks/latest/userguide/storage-classes.html

kubectl get sc
NAME            PROVISIONER             AGE
gp2 (default)   kubernetes.io/aws-ebs   4s

[2019-04-29 23:38] pjanuario commented on #13166
@ianhuang92 The `overrideConfig` property allow you to override the all config something like this is possible, so basicly the values of the chart without what is broken.

[code]

[2019-04-30 02:21] zgui2000 opened #13386 "[stable/jenkins] jenkins_slave Pod start Unable to execute docker command,Hint no permission to read / var / run / docker. sock"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm version:  v2.12.3
kubernetes version:  v1.12.7

**Which chart**:
jenkins

**What happened**:
When I used the Jenkins helm, I configured the value. yaml file. In the value. yaml file, I turned on the agent enable option, and image defines my own j

[2019-04-30 04:20] ianhuang92 commented on #13166
Thanks @pjanuario , I've tried but it seems the `overrideConfig` does not affect the default config.
This is my values.yaml
[code]
And this is the Pod log from filebeat
![image](https://user-images.githubusercontent.com/30798206/56940581-baface00-6b52-11e9-866c-a94284820f2e.png)

[2019-04-30 04:25] torstenwalter commented on #13386
Can you provide a minimal example of how to reproduce it?

With as little content from the values.yaml as possible. Can you reproduce
it with publicly available images for Jenkins / Agents?

Running docker daemon within Kubernetes is likely a security issue. There
are different ways to do it though:
- mounting the docker socket
- running docker within a sidecar container

That require that you are

[2019-04-30 04:27] shiva075gowda opened #13388 "Keycloak Helm Configuration not working with pre-exisiting mysql database"
I want to run helm chart for keycloak with by specifying mysql database details, but it throws the following error.
According to documentation, it should work fine by just changing the config parameters

Caused by: com.mysql.jdbc.exceptions.jdbc4.MySQLNonTransientConnectionException: Cannot load connection class because of underlying exception: 'java.lang.NumberFormatException: For input string: "

[2019-04-30 05:04] etby opened #13390 "[stable/kubernetes-dashboard] Can't login with ingress"
**Is this a request for help?**:
I used stable/kubernetes-dashboard can't login with ingress, but kubectl is working.
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
Kubernetes:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-

[2019-04-30 05:24] zgui2000 commented on #13386
[code]

[2019-04-30 05:27] zgui2000 commented on #13386
[code]

[2019-04-30 05:36] torstenwalter commented on #13386
Did you try `sudo docker ...`

On Tue, 30 Apr 2019, 07:27 zgui2000, <notifications@github.com> wrote:

[2019-04-30 05:39] zgui2000 commented on #13386
[code]

[2019-04-30 05:45] zgui2000 commented on #13386
[code]
Should I set / var / run / docker. sock on all hosts in the k8s cluster to 777 Chmod - R 777 / var / run / docker. sock?

Now all the operations in the container, such as Chmod group add usermod, are not possible. Can I specify in the value. yaml file of jenkins-slave pod that I have privileges to read / var / run / docker. sock?

[2019-04-30 06:08] torstenwalter commented on #13386
Permission is mostly an issue with the used agent image. You could check the current permissions with

`ls -alh /var/run/docker.sock`

[2019-04-30 06:41] isen-ng commented on #13303
Yes, it's bad copy, pasting and redacting on my side. I have been using `service.port` and it does not work.

I'm not terribly sure as im not well versed in kubernetes but is the issue here in
https://github.com/helm/charts/blob/master/stable/postgresql/templates/statefulset.yaml#L154
[code]
the `containerPort` should be tied to the `hostPort`??

[2019-04-30 09:27] #12412 closed

[2019-04-30 09:46] faheem-cliqz commented on #13275
@vsliouniaev Thank you for the tip didn't knew about `null`. Works perfectly :)

[2019-04-30 09:46] #13275 closed

[2019-04-30 09:46] ricardompcarvalho commented on #13367
@tomerleib

[2019-04-30 10:39] arilwan commented on #7905
Facing same problem here. Grafana was running smoothly until very recently, don't understand the reason. The solution suggested above didn't work  for me. Grafana definition;
[code]

[2019-04-30 11:07] themoses commented on #10751
Hey,

got the same behaviour and the error is a 404 for all JavaScript libraries:

[code]
As mentioned, I am able to open the web interface with a trailing slash

[2019-04-30 11:46] christianhuening opened #13399 "[stable/cockroachdb] Allow ExtraAnnotations on the CockroachDB Statefulsets"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

Allow to add extra annotations on the CockroachDB Statefulsets for instance to control ServiceMesh injection etc (e.g. Linkerd2)

**Version of Helm and Kubernetes**:

2.13.1 / 1.14.1

**Which chart**:

stable/cockroachdb

**Anything else we need to know**:

[2019-04-30 11:47] #12543 closed

[2019-04-30 12:29] #12666 closed

[2019-04-30 12:51] #12635 closed

[2019-04-30 14:04] maslick commented on #12836
didn't work for me either :(
until I removed all PVC manually :)

[2019-04-30 14:16] michemoche opened #13403 "[Stable/Telegraf] prometheus output plugin support"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
k8s : 1.12.3
helm : 2.11.0

**Which chart**:
stable/telegraf

**What happened**:
the service just managed the input plugins, moreover, we should be able to activate or not that service if none of the input plugin need an endpoint

**What you expected to happen**:
- add this option in the

[2019-04-30 14:17] michemoche commented on #13403
I've added a service monitor too if you're interested :)

[2019-04-30 15:06] ensonic opened #13407 "node-exporter fail to pass arguments"
This is a similar issue like https://github.com/helm/charts/issues/4409

**Which chart**:

prometheus-operator-5.0.3

**What happened**:

[code]
results in
[code]

Using
[code]
works though.

[2019-04-30 15:57] silvez-dh commented on #13285
maybe a moment to use another storage option for sentry? https://github.com/getsentry/sentry/blob/c269e6cbb41bf4e22ad4c9fe633d01ea7cb8c549/src/sentry/data/config/config.yml.default#L60

[2019-04-30 16:29] MrD2 opened #13409 "[stable/prometheus-operator] grafana graphs are broken again"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
[code]

**Which chart**: stable/prometheus-operator

**What happened**: updated from 5.1.0 to 5.3.0

**How to reproduce it** (as minimally and precisely as possible):
values.yaml> http://paste.openstack.org/show/750115/
helm install stable/prometheus-operator --namespace kube-system --name pr

[2019-04-30 16:32] GreSuh opened #13410 "stable/concourse simple demo fails with guardian.create.containerizer-create.runtime-create-failed"
BUG REPORT

**Version of Helm and Kubernetes**:
helm version --short=true
Client: v2.13.1+g618447c
Server: v2.13.1+g618447c

kubectl version --short=true
Client Version: v1.13.0
Server Version: v1.13.0

running on Docker for MacOS 18.09.3

**Which chart**:
stable/concourse  6.0.0

**What happened**:
Running simple world as described in https://medium.com/concourse-ci/getting-started-with-concourse

[2019-04-30 16:37] MrD2 opened #13411 "[stable/prometheus-operator] better support for PriorityClass"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

 Would be nice to have a way to create a PriorityClass for the chart deployment and/or to create a ResourceQuota assigned to the namespace where the chart is going to be deployed.

This is important because of Pod priority and mitigate k8s engine to drop monitoring pods in favour of higher priority ones (when there are hig

[2019-04-30 16:45] kawikao commented on #11904
Same issue for me with OSX and GKE.
[code]

[2019-04-30 17:54] tompizmor commented on #13303
I took a quick look to docker image and I think the issue is there.

@javsalgar can you check if this issue is fixed after the changes you are implementing?

[2019-04-30 18:18] #12438 closed

[2019-04-30 18:24] melissapalmer commented on #6349
I am able to reproduce this - it can happen when you use the keycloak chart as a dependency child of another chart. eg: in the requirements.yml of your helm chart you have

`dependencies:
  - name: keycloak
    version: 4.3.0
    repository: "@stable"
    condition: keycloak.enabled`

Then you install your own chart with something like ::
`helm install --name my-chart-1e5ef49c214   etc. etc.`

The

[2019-04-30 18:46] #13257 closed

[2019-04-30 21:27] tomerleib commented on #13367
Hi,
In my case with Active Directory I've done the following to troubleshoot:

1. Removed AuthorizationStrategy to avoid any additional restrictions
2. Disabled sidecar
3. Attempted to create the chart and log in with the admin account `master.admin`

At this point I've figured out that one parameter in my configuration is causing me issues, after I could successfully log in with my domain user, I

[2019-04-30 21:39] alejandrox1 opened #13420 "[stable/heapster] set heapster-nanny resources"
**Describe the bug**
There is a bug in the Helm chart when setting the resources for the heapster-nanny container.
The resources for heapster-nanny are set as follows:
https://github.com/helm/charts/blob/4120bbf88af6afb11a99e334f3beb6018e9b622c/stable/heapster/templates/deployment.yaml#L62

That line should look instead as follows:
[code]

**Which chart**:
stable/heapster

**What happened**:
Even

[2019-04-30 21:43] #11855 closed

[2019-04-30 22:49] #12596 closed

[2019-04-30 22:56] #13420 closed

[2019-05-01 03:28] Lindenk commented on #12742
I've had the same problem. Apparently `ssl` needs be turned on manually otherwise the challange will fail. Add this to your `values.yml`:

[code]

[2019-05-01 03:40] maorfr commented on #11528
seems that this is now implemented in the chart as checksums for various files (configs, secrets, etc).

@vsliouniaev can you take a look at the chart and let me know if this issue can be closed?

[2019-05-01 04:54] #12537 closed

[2019-05-01 05:41] gboor commented on #13285
This is not currently easily possible with the chart as far as I am aware.

There is a pull request to implement this, but there appear to be some issues;

https://github.com/helm/charts/pull/11153

[2019-05-01 06:43] #12321 closed

[2019-05-01 08:04] javsalgar commented on #13303
Hi,

Thanks for letting us know. My question would be, would you like the postgresql container port to be different from 5432. It looks to me that what you want to change is the service, not the containerport itself

[2019-05-01 08:43] #12322 closed

[2019-05-01 08:43] #10918 closed

[2019-05-01 13:43] #12340 closed

[2019-05-01 17:42] #13292 closed

[2019-05-01 19:55] MV-SH commented on #12510
There are two different issue tickets describing this problem, original #11033 and later this one, #12510.

With the problem (that didn't even warrant the change introduced in #9637 as it amounted to as much as extra logs noise) being long fixed upstream (https://github.com/kubernetes/ingress-nginx/pull/3887), the latest nginx-ingress chart still ships the useless extra cluster roles that break sc

[2019-05-01 20:20] gdusart commented on #12851
Looks like a duplicate of https://github.com/helm/charts/issues/8988

From what I understood, proposed solution is to use something like https://github.com/prodriguezdefino/charts/tree/master/incubator/haproxy-redis

Is it still the way to go or is there something else available ?

@mmack what do you mean by "redis-ha-qa service" ?

The only service I can find in the stable chart is exposing all r

[2019-05-01 21:46] mrothroc commented on #11904
Same issue for me with Google Cloud Shell and GKE.  I see this error:
kubectl -n spinnaker get events --sort-by='{.lastTimestamp}'
last line of output is:
3m21s       Warning   Translate                Ingress                 error while evaluating the ingress spec: could not find service "spinnaker/spin-deck"; could not find service "spinnaker/spin-gate"

Ingress is disabled, not sure why this is

[2019-05-01 23:39] jlegrone opened #13449 "Document convention around usage of image digests"
Related to https://github.com/helm/charts/issues/3011.

There has been some recent work to add a digest reference to the `image` object that is conventionally included in many charts.

An explanation of what image digests are and why they're useful is available here: https://success.docker.com/article/images-tagging-vs-digests.

Today, running `helm create mychart` results in a values file that co

[2019-05-01 23:47] scottrigby commented on #13449
Once we agree on a best practice for this repo, we can track it in #3011, and add to the correct place (REVIEW_GUIDELINES etc).

[2019-05-01 23:57] scottrigby commented on #13449
Personally I'd love to see container image digests supported in charts by default. Interestingly most charts split up the image values by `registry` and `tag`, then combine them again in templates. If we just set the full image image as in the pod spec, this would be supported in charts OOTB 🤷‍♂ It seems funny to add this templating logic for pulling it apart, and then putting it back together aga

[2019-05-02 00:19] jlegrone commented on #13449
I see significant positives for both options.

### Option A
- Indicates more clearly to chart users that digests are supported
- If a digest is specified, chart authors should always be able to set image pull policy to `IfNotPresent` in the template

### Option B
- Existing charts and charts created with `helm create` do not need to be updated
- Does not require the more involved templating of opt

[2019-05-02 00:24] drastawi commented on #13449
I agree B is a better option, but one significant advantage of A over B is that A can easily be implemented in a backwards compatible way.

[2019-05-02 02:22] acesir commented on #13223
This was a different issue. The paramater **scale-down-delay** is not valid anymore and **scale-down-delay-after-add** should be used. Would probably be a good idea to change the values file since it is still using **scale-down-delay**

[2019-05-02 02:22] #13223 closed

[2019-05-02 02:50] jlegrone commented on #13449
@drastawi you're right; I've amended the example in the issue description. Theoretically charts could be patched to also accept raw digests in addition to annotated digests using the [hasPrefix](http://masterminds.github.io/sprig/strings.html#hasprefix-and-hassuffix) function, but we'd run into the same problem of requiring patches everywhere.

[2019-05-02 02:52] scottrigby commented on #13449
@drastawi is right, only A above is backwards compatible on upgrade with existing values. B would be a breaking change, [requiring a MAJOR version bump](https://github.com/helm/charts/blob/master/REVIEW_GUIDELINES.md#versioning).

What I suggested above would also be a breaking change. None of this is dictated by Helm, but are just conventions repeated to attempt consistency across charts in the h

[2019-05-02 03:13] jlegrone commented on #13449
@scottrigby one of my examples was incorrect and I removed it from the issue description. Here it is for posterity:

[code]

That wouldn't work with existing charts, but the current example for option B does work without any changes. This is because it is possible to "annotate" image digests, so something like `nginx:v1.15@sha256:05838c9a9204f377987bd87645026610ba4de67c7072fae7db1a437fe4ab8974` is

[2019-05-02 03:28] Anakin-Hao opened #13453 "[stable/ignite] Pods don't seem to discover each other"
**Describe the bug**
Installed using the stable ignite chart 1.0.
I setup my statefulset to have 3 replicates. All started fine. But looking at their logs, there's no indication of them discovering each other.
I also used the pyignite failover exmaple to test the cluster. (https://apache-ignite-binary-protocol-client.readthedocs.io/en/latest/examples.html#failover)

The client was able to switch t

[2019-05-02 04:28] #13399 closed

[2019-05-02 07:45] #12362 closed

[2019-05-02 07:58] ricardompcarvalho commented on #13367
@tomerleib thank you for answering, I already had this configuration of saml plugin done but thank you, did you have to set admin.password and admin.privatekey?

[2019-05-02 08:01] aliartiza75 opened #13457 "[stable/prometheus-operator] how to add additional labels to the default Prometheus alerts for kubernetes system alerts."
Hello everyone,

I am using `prometheus-operator` chart for monitoring.

###  Problem Statement
I want to assign custom labels to default Prometheus alerts?

### What I did

I used `defautlRules.labels.kind` parameter to assign a label to Prometheus alerts but that label was applied to rules `metadata` level instead of individual rules.

* Label value
[code]

* Applied values

[code]

* Instead, I

[2019-05-02 08:14] SahilLone commented on #10424
@gajus I had the same issue and I can see it works only if u have a JSON MAP, so if u have a nested json the decoder will still fail.
It doesn't matter if u use kubernetes filter, because the same result can be achieved using normal JSON parser.
1. If a simple JSON object, the keys will be parsed
2. If a nested JSON object the decoder will fail and keys will not be parsed.

[2019-05-02 08:19] aliartiza75 commented on #13457
Guys @davidkarlsen, @kflynn, kindly have a look at this issue. Thank you

[2019-05-02 09:53] denis111 opened #13458 "[stable/jenkins] add clusterrole for executing helm inside pipeline"
**Is your feature request related to a problem? Please describe.**
jenkins service account has no sufficient permissions to execute helm inside pipeline.

**Describe the solution you'd like**
Add an option to include clusterrole for jenkins account allowing him to get,list,create on pods,pods/portforward

**Describe alternatives you've considered**
I've created manually clusterrole and binding:
[c

[2019-05-02 09:59] tnimni opened #13459 "stable/apm-server issue title"
**Describe the bug**
helm fetch stable/apm-server --untar download version 0.1.0
chart version in github repo is 2.0.1

**Version of Helm and Kubernetes**:

kubernetes version 1.12

Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", Gi

[2019-05-02 11:31] dotLou commented on #12510
What we've ended up having to do on our end is just have our own modified copy of the chart, without this broken behaviour in it. This is not the first and only thing that's forced us to maintain our own copy of the chart, so at this point we're pretty far removed from the chart contained in this repository because of this. Multiple PRs have gone stale, as have issues, due to inactivity.

[2019-05-02 11:34] andrei-dascalu opened #13461 "stable/mongodb - replicaset with single node always produces a SECONDARY"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

kubernetes: 1.12.7
helm: 2.13.1

**Which chart**:

stable/mongodb

**What happened**:

edit provided values file  with the following:
- image.debug: false
- usePassword: true
- mongodbDirectoryPerDB: false
- replicaSet.enabled: true
- replicaSet.replicas.secondary: 0
- replicaSet.replicas

[2019-05-02 11:35] janostik opened #13462 "[stable/spring-cloud-data-flow/] Server dashboard is not accessible behind proxy"
**Describe the bug**
Chart takes hostname configuration from Kubernetes when configuring server deployment. When the service is run, there is no way to override this value. This leads to invalid redirects and dashboard is not accessible.

**Version of Helm and Kubernetes**:

- Helm version: v2.12.1
- Master version: 1.11.8-gke.6
- Node version: 1.9.6-gke.1

**Which chart**:
stable/spring-cloud-dat

[2019-05-02 11:51] hypnoce commented on #12510
I believe the governance process around charts ownership should be revisited. I already have other PRs on this repo that are waiting approval.
Hopefully, as this is an issue raised by more people, it will be reviewed.

[2019-05-02 12:05] hitesh1907nayyar opened #13464 "Kube state metrics Information"
Hi,

I require information related to query in kube state metrics.

Can somebody please help me related to finding below metrics through kube state metrics:

a) How to use kube_node_spec_unschedulable -Requirement-> I need to know how many pods are in unscheduled state .
b) How the calculation is done for kube_node_status_capacity_pods - Presently i am getting a sum of 220 from my two node cluster

[2019-05-02 12:33] mumoshu commented on #13188
@josdotso Unfortunately I believe no, as doing so would break the helm charts CI... https://github.com/helm/charts/pull/12422#issuecomment-475458831

[2019-05-02 13:14] naseemkullah commented on #10424
an issue has been created several months ago https://github.com/fluent/fluent-bit/issues/1130 regarding this matter, who knows C ? :)

[2019-05-02 13:17] tomerleib commented on #13367
Only the `admin.user`.
Another option that I advise if you haven't done it already, create a new deployment without the plugin.
Manually, configure everything related to the SAML and once approved working, you can export the config-as-a-code yaml and use it to compare with your existing configurations.

[2019-05-02 13:26] max-rocket-internet commented on #10424
There's many issues for this, just search. In [this one](https://github.com/fluent/fluent-bit/issues/1278) they have a list of them. It's a fluent-bit problem though, not a chart issue.

[2019-05-02 13:36] egeturgay commented on #12510
just wanted to echo the comments on this issue, users with security concerns would deploy tiller as non cluster-admin as suggested here: https://github.com/helm/helm/blob/master/docs/rbac.md#example-deploy-tiller-in-a-namespace-restricted-to-deploying-resources-only-in-that-namespace

We currently workaround this by removing the additional cluster roles from the helm chart which is far from being

[2019-05-02 14:11] rudolphjacksonm commented on #10949
Just to satisfy my own curiousity I'd like to know the answer to this too. It seems like a [lot](https://github.com/jetstack/cert-manager/issues/1255#issuecomment-482456421) [of](https://github.com/jetstack/cert-manager/issues/1255#issuecomment-457289469) [people](https://github.com/jetstack/cert-manager/issues/1255#issuecomment-461581701) are using an older version of cert-manager mainly so they

[2019-05-02 14:35] eh-am opened #13467 "[stable/jenkins] wrong deprecation message of Master.JCasC.ConfigScripts"
**Describe the bug**
Deprecation message for `Master.JCasC.ConfigScripts` is wrong

`(deprecation.yaml)`
[code]
it should be `master.JCasC.configScripts`

**Which chart**:
stable/jenkins

[2019-05-02 16:06] kfox1111 commented on #13449
Yeah, I kind of like the idea behind splitting up the values. it makes it very easy to switch out a tag. but it does not let you mirror the containers to your own mirror easily.

In my own charts I've started doing: https://github.com/pnnl-miscscripts/miscscripts/blob/master/charts/image-library-charts/build#L47-L76
server, prefix, org, repo and tag.
server being like 'docker.io'.
prefix defaultin

[2019-05-02 16:09] kfox1111 commented on #13449
I would prefer option A.

[2019-05-02 16:27] logicbomb421 commented on #13409
I might be having this issue myself, though the original description is a bit vague.

Installed prometheus-operator via helm with the `values.yaml` provided in the repo. I'm able to access and query prometheus without issue when port-forwarding 9090, however when port-forwarding grafana, all the pre-built queries time out.

Oddly I tested this chart out a few weeks ago and it all worked very well

[2019-05-02 18:43] groovenarula commented on #9561
Still not work for me as well

[2019-05-02 19:17] #11992 closed

[2019-05-02 20:56] juanmatias commented on #11992
Just for the record: I modified this chart so you can edit tasks on deploy time without the need of image rebuild.

Here it is: https://github.com/juanmatias/locust-chart/blob/master/README.md

[2019-05-02 21:39] Towmeykaw commented on #13459
Have you ran a helm repo update?

[2019-05-02 23:56] cr1cr1 opened #13478 "[stable/kong] Remove --default-backend-service if ingress controller >=0.4.0"
**Describe the bug**
Using ingress controller image 0.4.0, pods will not start because --default-backend-service parameter was removed.

**Version of Helm and Kubernetes**:
- helm: v2.12.3
- kubernetes: v1.14.1

**Which chart**:
stable/kong

**What happened**:
Ingress controller got a new release: 0.4.0

**What you expected to happen**:
`--default-backend-service` should be removed if tag >= 0.4.0

[2019-05-03 01:17] joshperry opened #13480 "[incubator/couchdb] Document need for prehashed COUCHDB_PASSWORD for cookie authentication"
If COUCHDB_PASSWORD value is not prehashed, then couchdb on each instance will hash it on startup with a random salt. This causes an authentication cookie from one node to not work on another.

See apache/couchdb-docker#9 (took me a couple hours to find...)

[2019-05-03 01:20] joshperry opened #13481 "[incubator/couchdb] UUID on each node should be identical for proper replication operation"
By default this chart does not set the UUID value for all of the cluster nodes to the same value. Because of this, couchdb on each instance will generate a unique uuid at startup.

The [documentation](https://docs.couchdb.org/en/stable/setup/cluster.html#preparing-couchdb-nodes-to-be-joined-into-a-cluster) says that this needs to be the same on all nodes clusterwide or replication will not work pr

[2019-05-03 01:34] joshperry commented on #13480
Actually, there is another part to this problem. The couchdb-statefulset-assembler sidecar needs the non-hashed version of this password, so just simply hashing the password in the secret will break autoformation. There will need to be a hashed and unhashed version of the password in the secret, and the nonhashed version should be used in the environment of the sidecar.

[2019-05-03 02:23] acim commented on #13077
This is not a problem of this chart, it is actually dependency https://github.com/jaegertracing/jaeger-client-go that fails:

https://github.com/jaegertracing/jaeger-client-go/blob/c58709fe19d793cdd40ad8bfa6e645a40a2eccf8/config/config_env.go#L186

If you install jaeger chart with name jaeger, environment variable JAEGER_AGENT_PORT will be automatically created by Kubernetes (as string) and jaeger

[2019-05-03 03:30] out-of-band opened #13482 "[stable/sonarqube] `extraEnv` not passed to /opt/sonarqube/bin/run.sh when `.Values.plugins.install` is truthy"
**Describe the bug**
When `.Values.plugins.install` evaluates as truthy, environment variables set via `.Values.extraEnv` are not available in the SonarQube container.

**Which chart**:
stable/sonarqube

**What happened**:
Setting `extraEnv: sonar.web.context: /sonar` has no effect on the started process.  Examining the running JAR with `jps -lvm` shows that it was not started with the -Dsonar.web

[2019-05-03 04:49] torstenwalter commented on #13467
Looks like a copy and paste mistake. Would you mind creating a PR which fixes it?

[2019-05-03 08:03] MrD2 commented on #13409
For me the graphs Most of the charts are ok. But some of them are missing values (mainly the last 2 from the grafana defaults). I suspect it's the new time series created by the evaluation rules

[2019-05-03 08:32] denis111 opened #13485 "[stable/rabbitmq] Recover from "Waiting for Mnesia tables" after all nodes forced shutdown"
**Is your feature request related to a problem? Please describe.**
Yes, in our dev/staging environment in AWS we turn-off at night time (set scaling group to 0) the nodes of EKS cluster to save costs and we enabled persistence for rabbitmq, so it was like unexpected shutdown for all rabbitmq nodes and it can't recover with "Waiting for Mnesia tables", i tried setting podManagementPolicy and servic

[2019-05-03 08:56] javsalgar commented on #13230
Hi,

Regarding not  being able to check the logs, could you run the command like this?

[code]

[2019-05-03 09:18] MrD2 commented on #13409
with chart stable/prometheus-operator:5.5.0 works for me.

Closing

[2019-05-03 09:18] #13409 closed

[2019-05-03 09:53] torstenwalter commented on #13458
Are you running your pilelines on Jenkins master or on agents which are scheduled via the Kubernetes plugin?

https://wiki.jenkins.io/display/JENKINS/Distributed+builds

I am asking because there are different service accounts involved and depending on who executes builds permission for the correct service account need to be set.

Jenkins Master uses one service account which is configured within

[2019-05-03 10:07] denis111 commented on #13458
Yes, I run builds on agents and put serviceAccount to jenkins in podTemplates of Jenkinsfile but it only has permission to pods in it's namespace while helm inside the pipeline deploys charts in another namespaces. I understand that I can create others accounts but just wanted fully automated solution like deploy jenkins and have it working without additional configuration of the cluster.

[2019-05-03 10:09] torstenwalter commented on #13458
Are you using the same service account for Jenkins master and agents? I think it's best to separate both, but that's just personal preference.

[2019-05-03 10:14] denis111 commented on #13458
The same account just to not create any accounts manually and it worked in some older chart version. I think it's good to restrict jenkins service account permissions but now it requieres manual creation of clusterrole or another account.

[2019-05-03 10:16] ricardompcarvalho opened #13490 "[stable/jenkins] Error: Error: UPGRADE FAILED: no Role with the name "jenkins-schedule-agents" found"
I'm currently trying to upgrade the version of the chart because of best practices and changing the names to the correct ones when I do `helm upgrade ...` I get this error below.
[code]
I have already checked and there is the role with the name jenkins-schedule-agents, in fact, when I did the helm upgrade he created me this role.

If you need more information please tell me!!

[2019-05-03 10:38] torstenwalter commented on #13458
What's been there in the past was the possibility to create a rolebinding to existing roles. I am fine with adding similar options again, but it shoud not default to being `cluster-admin` as that is certainly bad practice.

What would your suggestion be of how to implement this? Creating a custom role, just offer functinality to bind to an existing role?

[2019-05-03 10:41] #13490 closed

[2019-05-03 10:41] torstenwalter commented on #13490
Did you follow the upgrade guide and removed the deployment first?
https://github.com/helm/charts/tree/master/stable/jenkins#100

The error message is something I got in the past when not following it. I had to delete the deployment and also all object which have been created during the failed upgrade.

[2019-05-03 10:45] denis111 commented on #13458
I'm not sure, some option in values.yaml maybe to create and bind a clusterrole to jenkins account with customizable verb and resource?...

[2019-05-03 10:55] ricardompcarvalho commented on #13490
@torstenwalter thanks for reply, i already did it :+1:  Thanks once more

[2019-05-03 12:35] mumoshu commented on #13188
I wish the helm charts CI accepted a test-only values.yaml so that we can set `templates: []` in your default values.yaml. But I'm not sure if that's possible

[2019-05-03 12:35] YoussB commented on #12221
✋

[2019-05-03 13:34] tompizmor commented on #13461
Hi! I tried to reproduce the issue using your values modifications and your install command. However, I don't get the same result.

In the primary log I see this line

[code]

And if I connect to the pod the mongodb node is actually a primary node:

[code]

Can you reproduce this issue consistently? Or it only happens sometimes?

[2019-05-03 13:46] seboudry opened #13492 "[stable/grafana] datasource provisioning with sidecar should be done trough secrets"
We can define `sidecar.datasources.enabled` to deploy a sidecar that use configmaps with corresponding label for Grafana datasources provisioning.

This datasource configuration may contains sensitive data in `secureJsonData` field (other sensitive fields are now deprecated) : passwords, private keys, etc...

So, it'll be more secure to store these datasource configuration on Kubernetes using a se

[2019-05-03 14:27] gkohler79 opened #13497 "[stable/mysqldump] failed jobs with duplicate saved files"
I'm having a problem with the mysqldump chart.  No matter how I configure the values.yaml, it appears the script ultimately doesn't run properly.  My jobs/pods are always in a failed state even though there are completed mysql dumps saved to the persistent storage volume.  What is strange is that it appears that there are 2 dump files for every database (mysqldump is running twice), and it looks l

[2019-05-03 15:31] naseemkullah opened #13503 "[stable/redis] persistence does not work"
**Describe the bug**
A clear and concise description of what the bug is.

State is not persisted across reboots although `.Values.persistence` is enabled and a pvc is mounted.

**Version of Helm and Kubernetes**:
latest GKE and latest helm

**Which chart**:
redis 6.4.5 and beyond, have not confirmed behaviour with older versions of chart, i do remember it working as expected in the past however
cl

[2019-05-03 16:11] javsalgar commented on #13503
Hi,

Did you try executing the `save` command to confirm that it is note an issue with the pvc mounting?

[2019-05-03 17:58] naseemkullah commented on #13503
Thanks @javsalgar .

Save command works:
[code]
then
[code]
then
[code]
Why would it not be automatically saving periodically?

[2019-05-03 18:07] naseemkullah commented on #13503
Here is the configmap (comes from the chart)

[code]

[2019-05-03 18:40] eh-am commented on #13467
sure!

just to be sure, do we need to bump the version in this case? @torstenwalter

[2019-05-03 18:49] ray-haggerty opened #13510 "[stable/redis-ha] redis exporter not working"
**Describe the bug**
Redis exporter crashes for unknown reason

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
redis-ha

**What happened**:
When deploying redis-ha with the exporter set to enabled the export will die unexpectedly

**What you expected to happen**:
The redis exporter will not die

**How to reproduce it** (as minimally and precisely as possible):
in values.yaml s

[2019-05-03 19:19] #13467 closed

[2019-05-03 20:27] heroic opened #13513 "[stable/wordpress] mariadb is always insstalled"
**Describe the bug**
When installing wordpress, even if mariadb.enabled is set to false, statefulset for mariadb is always installed. It would appear that the commited requirements.lock file might be causing this.

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
stable/wordpress

**What happened**:
Mariadb gets installed

**What you expected to happen**:
Mariadb should not be

[2019-05-03 21:44] mrothroc commented on #11904
I wanted to share what I've learned after going through this several times.  From what I've seen, this is the generic error you will get for many reasons.  One time, I had the wrong key name in my spinnaker-config.yaml and I saw the time out error.  Another time, I forgot to add a volume that is referenced in that file, same error.

This command helps diagnose the real issue:
kubectl -n spinnaker

[2019-05-03 21:58] chychkan commented on #13503
Hi!
I'm facing same issue. According to this doc https://redis.io/topics/persistence persistence can be done either via "snapshotting" or via "append-only file" (AOF). The snapshotting (creating `dump.rdb` file) is controlled by the `save` config option. And the AOF is controlled by `appendonly yes` config option.
When I deploy Redis using this chart, the `save` config option is set to `""` which

[2019-05-03 22:07] chs-bnet commented on #12000
I'm having this exact same issue and it's troubling that no one ever responded to this and it was closed automatically.

My secret is named correctly, the contents are correct, and I'm using other secrets elsewhere in this same chart and other charts without any issues. It looks like there might be something wrong specifically with this chart and how it gets the `ldap.existingSecret`.

[2019-05-03 22:07] dtzar commented on #12521
@WStasW Are you using the kubernetes provided by Docker for Desktop on Windows by chance?  I'm able to reproduce your behavior on this configuration, but not on AKS.  I've tried using `persistentVolume.storageClass=""` and `persistentVolume.storageClass="hostpath"` and both effectively have the same result as you describe:
`  Warning  FailedScheduling       4m (x5 over 4m)  default-scheduler

[2019-05-03 22:40] chychkan commented on #13503
After playing with it a bit more I was able to enable snapshotting by adding top level property to my `values.yml` file:
[code]

[2019-05-03 23:12] naseemkullah commented on #13503
Thanks for your findings @chychkan

The root of the problem is that the default `redis.conf` is being completely overwritten by the configmap.

I installed an arbitrarily older version of the chart (`4.2.8`) where no configmap was deployed, and the bg saving works as desired with the default `redis.conf` file.

[2019-05-03 23:20] naseemkullah commented on #13503
actually scratch that, im not sure

[2019-05-04 02:57] maorfr commented on #12000
Would you be interested in submitting a PR for this?

[2019-05-04 06:26] ufou opened #13517 "[stable/rabbitmq-ha] pod restart contents do not match RABBITMQ_ERLANG_COOKIE"
**Describe the bug**
We've noticed sporadic failures of the HA (3 node) cluster we are running, we're not sure why a pod fails, but after it does _sometimes_ it results in the on disk cookie contents not matching the environment variable RABBITMQ_ERLANG_COOKIE

[code]

**Which chart**:
stable/rabbitmq-ha-1.25.0 app version 3.7.12
helm version 2.13.0
kubernetes version 1.13.3

**What happened**:
As

[2019-05-04 06:50] XBeg9 commented on #12829
I have the same issue, any updates?

[2019-05-04 13:12] #12418 closed

[2019-05-04 13:12] #12413 closed

[2019-05-04 13:12] #11879 closed

[2019-05-04 13:12] #11033 closed

[2019-05-04 13:12] #12376 closed

[2019-05-04 13:12] #12406 closed

[2019-05-04 13:12] #12033 closed

[2019-05-04 14:00] chrisovergaauw commented on #12815
I'd still like to see this improved.

[2019-05-04 15:11] #12428 closed

[2019-05-04 15:43] arthurbdiniz commented on #12377
I had the same issue. First i try to install with
[code]
No errors was spawn no GKE and everything  was working fine.

Then i put all args inside `values.yaml` purge the latest traefik and try `helm install --values values.yaml --name traefik stable/traefik`

[code]

The same error  when deployed on GKE and exposing the dashboard service of type ClusterIP:
[code]

Then i edit the dashboard service

[2019-05-04 17:38] #12432 closed

[2019-05-04 20:46] aliartiza75 commented on #13457
@carrodher @javsalgar @AdamDang guys kindly have a look at the above issue. Thank you

[2019-05-04 21:05] stephenmuss commented on #11917
Bump.

[2019-05-04 21:12] ufou commented on #13517
Sorry for the noise - I worked out that we had double base64 encoded the erlang cookie value - which meant that it was indeed different on disk than in the ENV variable

[2019-05-05 01:38] #12446 closed

[2019-05-05 02:48] anoopswsib commented on #4474
hi michal, I have installed helm chart rabbitmq-ha on azure kubernetes cluster. After few days one pod automatically restarts. In the logs nothing unusual is there except one line that says mnesia table exit...Any ideas what might be wrong

[2019-05-05 03:38] #12450 closed

[2019-05-05 10:53] ensonic commented on #9474
Still not fixed

[2019-05-05 11:38] #12456 closed

[2019-05-05 11:41] marcwolff opened #13527 "[stable/kong] make waitImage configurable in all files"
**Is your feature request related to a problem? Please describe.**
waitImage is´nt configurable in all files. In the migration files is busybox hard coded

**Describe the solution you'd like**

[code]

[2019-05-05 14:15] arthurk commented on #12057
activity

[2019-05-05 15:56] gianrubio commented on #9474
@ensonic feel free to send a PR to fix this issue

[2019-05-05 17:45] brandondoran opened #13530 "[stable/prisma] unable to load Prisma config"
**Describe the bug**
When the Prisma pod starts up it is looking for a file at `/app/config.yml`, which does not exist, causing pod to go into a crash loop. `/app/config.yml` is hard coded for the `PRISMA_CONFIG_PATH` env var in the [deployment.yaml](https://github.com/helm/charts/blob/master/stable/prisma/templates/deployment.yaml#L47). My assumption is that Prisma attempts to load config from `P

[2019-05-05 18:11] #12464 closed

[2019-05-05 18:24] polganesh opened #13531 "stable/mongodb related to picking passwords and key from existing secrets for replicaset"
**is it request for help**
Yes

**what information i am looking for?**
currently i am trying to explore how stable/mongodb can be use as replica set for high availability
while checking values.yaml i observed following

[code]

**my queries**

- is mongodb mongodbRootPassword will be picked up from existingSecret?
- is mongodbPassword will be picked up from existingSecret?
- as per my understandin

[2019-05-05 19:13] andreisergiu98 commented on #13176
Sorry for the late response, i was out of my country. It works with `tcpSocket`.  Thanks!

[code]

[2019-05-05 19:59] natchaphon-r opened #13532 "Make Falco embedded webserver configurable"
Would like a nice way to enable/configure Falco's webserver in falco.yaml, which is hardcoded in configmap.yaml
[Falco WebServer Configuration](https://github.com/falcosecurity/falco/wiki/Falco-Configuration#webserver)
[Falco Configmap with falco.yaml hardcoded](https://github.com/helm/charts/blob/master/stable/falco/templates/configmap.yaml)

Content that I would like to add to configmap.yaml:
`w

[2019-05-05 20:02] abhishekjiitr opened #13533 "[stable/logstash] Mount Binary Files for Plugins"
**Is your feature request related to a problem? Please describe.**
The current helm chart supports adding custom plain-text files in the logstash pod for use by plugins but no way to mount binary files inside logstash pod which is required by some plugins like tha _kafka_ plugin in both input and output needs to have [ssl keystores](https://www.elastic.co/guide/en/logstash/current/plugins-inputs-k

[2019-05-05 20:02] #13176 closed

[2019-05-05 20:10] andreisergiu98 opened #13535 "[stable/wordpress] Update mariadb dependency"
**Describe the bug**
I'm trying to use an existing claim for mariadb, but this bug is preventing me to do so
https://github.com/helm/charts/issues/10322 (basically the pod for mariadb doesn't start). This is a mariadb bug which was fixed with this pr https://github.com/helm/charts/pull/10378, but the wordpress chart is not using the release of mariadb which contains the fix. I updated the dependen

[2019-05-05 21:11] #12459 closed

[2019-05-06 03:11] #11565 closed

[2019-05-06 05:33] Anakin-Hao commented on #13453
Found out why.
We have netpol's enabeld. And it **malfunctions** when getting messed around too many times.
Having netpol correctly configured to allow ignite nods to talk to 47500 and other ports results in a successful cluster.

[2019-05-06 05:33] #13453 closed

[2019-05-06 06:50] marinflorin commented on #9561
Same here

[2019-05-06 07:13] juan131 commented on #13535
Hi @andreisergiu98

Thanks for reporting it. I just created a PR to update the **requirements.lock** file

[2019-05-06 07:23] tompizmor commented on #13513
Hello @heroic,

I tried to reproduce the issue but I couldn't. Can you provide the exact command you are using to install the chart and the chart version?

I just tested the WordPress chart version 5.9.0 with this command and MariaDB resources were not created.

[code]

[2019-05-06 07:31] #13535 closed

[2019-05-06 07:41] juan131 commented on #13503
We should be enabling AOF by default. As you can see, we're already doing it on the default Docker image's **setup.sh**

https://github.com/bitnami/bitnami-docker-redis/blob/master/5.0/debian-9/rootfs/libredis.sh#L352

However, this script is not being execute in the chart since we're rewriting the Docker image's command:

https://github.com/helm/charts/blob/master/stable/redis/templates/redis-mas

[2019-05-06 07:58] juan131 commented on #12521
Hi @dtzar

What do you obtain when running the command below?

[code]

Does it reports to be bound and claimed by your MongoDB pod?

[code]

[2019-05-06 08:01] juan131 commented on #12829
Hi @XBeg9

Could you please let us know what version of the PostgreSQL chart and the Bitnami PostgreSQL image are you using?

[2019-05-06 09:47] juan131 commented on #13510
Hi @ray-haggerty

This PR affects the `redis-ha` chart, doesn't it?

If so, please update the title to reflect the right chart `[stable/redis-ha]`. It's very important so the maintainers of the corresponding chart can easily identify what issues to respond.

[2019-05-06 10:37] juan131 commented on #13531
Hi @polganesh

Here you have some reponses:

When **existingSecret** is selected, both parameters will be ignored, and the values will be picked up from the existing secret.

When **existingSecret** is selected, it will be ignored too, using the one available in the existing secret.

I'll be displayed after installing the chart. It's calculated depending on your settings (e.g. you're using a Clust

[2019-05-06 11:35] ufou commented on #13517
Having corrected the double base64 encoded erlang cookie value in helm we again experienced this problem.

At the moment we are not using a PV/PVC - my thinking now is that when the pods are created the init containers run and create the erlang cookie in `/var/lib/rabbitmq` with the correct value from the helm chart, but if a pod has issues and has to restart then this init container no longer run

[2019-05-06 11:51] naseemkullah commented on #13503
Thanks, is it true that vanilla redis comes with rdb enabled and aof disabled? I feel like mimicking vanilla redis defaults is better

[2019-05-06 12:11] #12472 closed

[2019-05-06 12:11] #12473 closed

[2019-05-06 13:10] ray-haggerty commented on #13510
@juan131 You are right my mistake,  title has been updated!

[2019-05-06 13:11] juan131 commented on #13503
Hi @naseemkullah

In the links below you can find the advantages/disadvantages of using RDB or AOF persistence:

https://redis.io/topics/persistence#rdb-advantages
https://redis.io/topics/persistence#rdb-disadvantages
https://redis.io/topics/persistence#aof-advantages
https://redis.io/topics/persistence#aof-disadvantages

To me the key to use AOF instead of RDB is the one below:

As we know, in K8

[2019-05-06 13:33] drcrook1 commented on #12521
I believe I'm having a similar issue.  I was using my own .yaml files which failed to switch from pending to running for the issue due to unbound volume.

I've switched to using the helm chart and tested on a fresh cluster on docker-for-desktop (on windows).  It starts off indicating unbound volume claim; then it says it set it up; but we end with an unhealthy pod and inability to connect.

**helm

[2019-05-06 13:37] naseemkullah commented on #13503
Good point, I was actually thinking of that after posting my last comment. Just a few follow-up questions if you don't mind:

1. Would a `pre-stop` hook to write perform a `SAVE` and thus writing a `dump.rdb` upon `SIGTERM` solve this issue?

2. Is it possible to have both RDB and AOF enabled by default? According to documentation links provided it seems feasible.

3. For those of us who use redis

[2019-05-06 13:48] cirocosta commented on #11512
This just got in in #12920 🙌

[2019-05-06 13:48] #11512 closed

[2019-05-06 13:52] juan131 commented on #13503
Do you refer to a [container hook](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#container-hooks)? Please note that Hem hooks won't be suitable for this situation.

It's not possible. See https://redis.io/topics/persistence#interactions-between-aof-and-rdb-persistence

You can always run the "redis save" command

[2019-05-06 13:55] #13503 closed

[2019-05-06 13:55] rajeshkannank commented on #12519
Same problem here. I am using below version
Server : 2.13.1
Client : 2.13.1

It's not installing additional plugins.. Its taking only default plugin only.

[2019-05-06 14:10] naseemkullah commented on #13503
Hi @juan131

1) Yes I meant a container lifecycle pre-stop hook.

2) Thanks but I am confused because according to https://redis.io/topics/persistence#ok-so-what-should-i-use you can use both.

[2019-05-06 14:20] juan131 commented on #13503
RDB will be ignored if Redis is restarted. I wouldn't enable a second persistence method by default since it can overload Redis.

Regarding the `pre-stop` hook, I'm okay with implementing a way to enable the hook when an optional parameter is set. Please feel free to create a PR adding support for it.

[2019-05-06 14:26] naseemkullah commented on #13503
Just to confirm. AOF will be the only form of persistence enabled by default in the chart, and to enable RDB one will have to adjust the chart values?

FWIW in older versions of the helm chart, RDB seemed enable by default.

[2019-05-06 14:33] AlyRagab commented on #12829
I have the same exact issue ,
Image is the latest and chart version is 3.11.0

[2019-05-06 14:56] greendog commented on #12829
Guys, I had a mistake with password validation. I changed `replication-db-user` to `replication_db_user` and it helped me.

[2019-05-06 15:00] jonatasfreitasv opened #13548 "[stable/kafka-manager] Kafka Manager bootstrap not connect with Kafka Manager"
Kafka Boostrap cant connect to Kafka Mananger because his try to connect in service kafka-manager service but this real service is kafka-manager.backoffice, with namespace, how i say that in values.yaml?

[2019-05-06 15:02] jonatasfreitasv opened #13549 "[stable/kafka-manager] Add extra /etc/hosts"
How i set /etc/hosts?

Kafka Manager cant connect to kafka Bootstraps because no resolve hostnames, how i solve this?

[2019-05-06 15:10] torstenwalter commented on #12519
Is your Jenkins instance behind a proxy server or firewall which could prevent internet connectivity?

[2019-05-06 15:15] rajeshkannank commented on #12519
Hi,
Manually i am able to install the jenkins plugin usings managed jenkins. But via helm chart its not installing the any plugin.

[2019-05-06 15:19] torstenwalter commented on #12519
Can you provide a minimal values.yaml to reproduce the issue?
Which chart version are you using?

[2019-05-06 15:27] rajeshkannank commented on #12519
i am using chat version 1.1.11
i tried with minimal value, below is the values mentioned in values.yaml file
master:

  adminPassword: admin
  # node port <to set explicitly, choose port between 30000-32767
  nodePort: 31234
  # List of plugins to be install during Jenkins master start
  installPlugins:
    - kubernetes:1.14.0
    - workflow-job:2.31
    - workflow-aggregator:2.6
    - credentials

[2019-05-06 15:39] whereisaaron commented on #12146
No maintainers for this chart?

[2019-05-06 15:52] jethr0null commented on #10543
@desaintmartin I'm not sure if you saw, but the migration guide @Crazybus was working on has been merged into the Elastic chart repo.

I'm thinking a call (or zoom?) to map out the next steps could be helpful. I believe @rendhalver is unavailable this week and @Crazybus and I are at traveling for work next week. Would you (and any of the other maintainers) be open to chatting the week of May 20th?

[2019-05-06 16:16] desaintmartin commented on #10543
Unfortunately, I'll be at kubecon Europe the week of May 20th.
I'll be available the week after or... At kubecon itself!

But having a call with all (most?) maintainers would be really nice in order to prepare the next steps.

[2019-05-06 17:07] #12153 closed

[2019-05-06 17:21] rajeshkannank commented on #12519
Aplologies.. my bad plugin version..after mention correct jenkins plugin version.. its working as expected..

Thanks for help

[2019-05-06 17:30] XBeg9 commented on #12829
@juan131 @AlyRagab same issue, no changes to image and chart version is 3.11.0.

[2019-05-06 17:58] jethr0null commented on #10543
Ah, excellent point. Let's shoot for the week after (week of the 27th). I won't be at Kubecon Europe, but I believe @Crazybus is be attending. Perhaps you two can connect there as well.

[2019-05-06 18:13] torstenwalter commented on #12519
Thanks for the feedback.

[2019-05-06 19:00] heroic commented on #13513
This is my requirements.yaml
[code]

This is my values.yaml
[code]

[2019-05-06 19:03] polganesh commented on #13531
Hi @juan131
one query in context of this thread.

- is defining key is mandatory for replicas.?
- i am planning to use this chart as subchart. what will be consequence of omitting  key?
- will it impact authentication url from deployment?

[2019-05-06 19:33] prometherion opened #13554 "[stable/mongodb] password validation"
This is not a real bug, just a simple _JFI_ since I had issues to troubleshoot a weird scenario with the chart mentioned in the issue's title.

Basically, MongoDB was not running, stuck the whole time in `mongodb INFO  ==> Enabling MongoDB replica set name`: it seems that the passwords cannot contain special characters due to a limitation of Bitnami Docker base image (_not verified_, just guessing

[2019-05-06 19:50] ewbankkit opened #13555 "[stable/ambassador] Add HOST_IP environment variable to ambassador container"
**Is your feature request related to a problem? Please describe.**
Following the [instructions](https://www.getambassador.io/reference/core/resolvers/#the-consul-resolver) for configuring the `ambassador` container to use a Consul agent running on each node in the cluster, I'd like to be able to set the `HOST_IP` environment variable via the Kubernetes [downwards API](https://kubernetes.io/docs/ta

[2019-05-06 20:13] emlin opened #13557 "Failed to install ambassador in single namespace mode"
I followed the instruction to install ambassador in single namespace mode, but helm installation always fail with this error:
[code]
I set the following values in values.yaml file:
[code]

The solution for me worked, is to remove the `namespace` service requirement in the template rbac.yaml file at here: https://github.com/helm/charts/blob/master/stable/ambassador/templates/rbac.yaml#L18

Can you

[2019-05-06 20:43] drastawi commented on #13449
Do we think we are aligned enough to edit the review guideline in line with option A? I opened up a pr https://github.com/helm/charts/pull/13451.

[2019-05-06 21:41] #13555 closed

[2019-05-06 22:28] damouse opened #13558 "[stable/elastic-stack] cant start stack with 1 master"
**Describe the bug**
I can't start an elastic-stack with default configuration except that I'm running a single master node. None of the pods brought up by elasticsearch can reach `elasticsearch-discovery`.

I understand 1 master node erodes HA, but I'm currently testing and don't have the resources to deploy more than that in this environment.

**Version of Helm and Kubernetes**:
Helm: v2.13.1
Ku

[2019-05-06 23:43] s1113950 opened #13559 "stable/jenkins connection timeout behind proxy with flags set"
**Describe the bug**
I ran this command:
[code]
and got through installing things from the init container, but after jenkins said `jenkins is fully up and running` I got this error:

[code]

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
stable/jenkins

**What happened**:
socket timeout error despite proxies set

**What you expected to happen**:
jenkins fully up and running

*

[2019-05-06 23:55] s1113950 commented on #13559
🤦‍♂ I left the protocol on the `javaOpts` host values. Everything works now

[2019-05-06 23:55] #13559 closed

[2019-05-07 05:53] #12521 closed

[2019-05-07 06:03] booboothefool opened #13562 "[stable/postgresql]Warning FailedScheduling 17s (x3 over 17s) default-scheduler pod has unbound immediate PersistentVolumeClaims"
on IBM Cloud, helm install --name my-release stable/postgresql gives me this error and the pod stays stuck in Pending.

Can someone suggest example of how to set up the PV/PVC and use with helm command?

[2019-05-07 06:34] aliartiza75 opened #13565 "stable/mongodb] scaling the mongdb replicaset doesn't add the new node in the replicate set config"
Hello everyone,

When I deploy the stable/mongodb helm chart with x number of replicas it works perfectly fine. But after deployment when I scale up a replicate set, it adds new pod and pvc but that pod doesn't become part of the replicate set.

* I have verified it by using this command

rs.conf() of new pod
[code]
output:

[code]
As it can been seen that it is a single node replicate set.

While

[2019-05-07 07:12] juan131 commented on #12829
@XBeg9 @AlyRagab could you please share the **values.yaml** you're using to install the chart? I'd like to reproduce the same scenario you're struggling with.

[2019-05-07 07:23] juan131 commented on #12521
Hi @drcrook1

Are you able to reproduce the issue on a different K8s cluster (running on a Linux machine)? It might be related with the docker-for-desktop K8s implementation on Windows

As an alternative you can create a **initContainer** that allows you to modify the permissions on the persistent volume you're attaching to your MongoDB container. A user explained the process in the link below in

[2019-05-07 07:42] tompizmor commented on #13513
I see you are using WordPress as a dependency. So in order to disable MariaDB chart, you should use this values.yaml file.

[code]
The condition to enable or disable MariaDB in WordPress chart is `mariadb.enabled` and according to [helm chart docs](https://helm.sh/docs/developing_charts/#tags-and-condition-fields-in-requirements-yaml
), this condition is evaluated from the top parent's values (whi

[2019-05-07 07:51] kamilgregorczyk commented on #11308
Yes, it worked, it would be great to add such statement to the documentation and README that's printed after installing prometheus via helm

[2019-05-07 08:15] juan131 commented on #13554
Hi @prometherion

Could you please provide some examples that gave you problems? I'd like to reproduce the issue and find out what's the reason for those passwords to fail.

These are the functions used to configure the replica set key:

[code]

And these are these line that calls the function:

[code]

Some notes to understand the code:

- **$app.replicaSetKey** is set based on the env. variable

[2019-05-07 08:56] polganesh opened #13567 "stable/mongodb authentication issue with replicaset set true"
Hi,
**Is it a request for help ?**
Yes

**what I am trying to do?**
I am trying to use stable/mongodb as _sub chart_ in my main chart with replica set enabled

**steps performed**

- added mongodb as a sub chart in chart folder
-  mention dependency of this chart in requirements.yaml

[code]

- override sub chart values in main chart

[code]
**- define secret for this**
in secret for skeleton
[cod

[2019-05-07 09:45] heroic commented on #13513
Thanks!

[2019-05-07 09:45] #13513 closed

[2019-05-07 09:52] Crazybus commented on #10543
I'll be available the week after or... At kubecon itself!

Yup I will also be there! If anyone else wants to come and say hi I'll be at the Elastic booth.

[2019-05-07 11:00] aliartiza75 commented on #13565
Closing this issue because the above issue was resolved

[2019-05-07 11:00] #13565 closed

[2019-05-07 11:04] emiioan opened #13570 "[stable/sonatype-nexus] Google service account for GCS backups"
Hello.

At this moment, nexus-backup container suports just the admin password as secret to connect to nexus container and assumes that you are using node serviceaccount to upload backups to GCS bucket.

It will be nice for nexus-backup container to have the option to mount a secret for a google service account that has restrict access to GCS bucket for backup uploads.

[2019-05-07 12:06] Zefool commented on #11308
Glad it did. I agree about the documentation, will you put in a PR?

On Tue, 7 May 2019, 09:51 Kamil Gregorczyk, <notifications@github.com>
wrote:

[2019-05-07 13:52] lcostea commented on #11172
This would be a really good change and it would open up the path for using an existing secret (where we could use bitnami sealed secrets or aws-ssm to populate it).
I am also interested in such a change and I could help with the PR and I think all the es settings should go into a secret: es.server-urls, es.username, es.password
And probably a separate secret for cassandra settings

[2019-05-07 14:05] #12480 closed

[2019-05-07 14:51] AlyRagab commented on #12829
@juan131 i just used to run it as :
`helm install --name postgresql --set "postgresqlDatabase=mydb,replication.enabled=true,replication.slaveReplicas=2,postgresqlUsername=admin,postgresqlPassword=password" stable/postgresql --version 3.11.0`

[2019-05-07 15:20] srueg opened #13575 "Applying to be a trusted collaborator"
I'd like to apply to become a trusted collaborator on the Helm org. We at [vshn](https://vshn.ch) use Helm a lot and often create PRs to create and improve stable Helm charts.
I'll be at KubeCon Barcelona (and VSHN is sponsoring) if you'd like to chat :smiley:

[2019-05-07 15:58] juan131 commented on #12829
Hi @AlyRagab

I was unable to reproduce the issue using the command you shared an minikube as K8s cluster:

[code]

As you can check both slave were initialized successfully.

[2019-05-07 16:09] brndnmtthws opened #13577 "[stable/redis] `extraFlags` unused"
**Describe the bug**
The docs specify that you can overload the `extraFlags` value for the master or slave to append additional command line flags. I'm trying to use this to load a module.

However, the flag is not actually used anywhere in the chart:

[code]

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

`stable/redis`

**What happened**:

The `extraFlags` value is unused.

**Wha

[2019-05-07 16:17] jlegrone commented on #13449
@drastawi I would prefer to wait until we've had a chance to discuss this issue on the next chart maintainers call on May 14th. You are welcome to join (details are in the #charts channel in the kubernetes slack)!

[2019-05-07 16:38] seprokof commented on #12882
Guys? Any ideas?

[2019-05-07 16:46] bitsofinfo opened #13580 "[stable/traefik] entryPoints.https.tls.certificates how to customize?"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

1.14

**Which chart**:

[stable/traefik] 1.67.1

**What happened**:

I need to be able to specify multiple static certificates/keys in TOML

Such as:

[code]

**What you expected to happen**:

I can't find any way to do this in the chart. It appears hardwired

[code]

Is this possible? or

[2019-05-07 17:02] XBeg9 commented on #12829
@juan131 please, try to do this new PVC, delete your previous one for both master and slave.

[2019-05-07 17:32] thedodd commented on #6803
Just in case anyone else runs into this, @rekcah78's recommendation fixed things. In case the suggested change seemed cryptic, they are indicating that the new value for the `options.path` value should be set to `/var/lib/grafana/dashboards/default`. That was not immediately clear to me at first.

[2019-05-07 19:18] nrb commented on #11637
So far, I haven't been able to reproduce this on GKE or KinD with master, 1.0.0, or 1.0.1.

My kubernetes version on GKE:

[code]

And in KinD:

[code]

Helm versions:

[code]

@wskulley What version of kubernetes are you running? I saw this problem when I was working on the `velero install` command and put all resources into a single YAML document, but had added ready checks to the `install` comm

[2019-05-07 19:19] damouse opened #13584 "[stable/logstash] Default "Filters" dont work in logstash values as present in chart, expected structure not clear"
**Describe the bug**
Commenting in the `filters` block in values.yaml doesn't work with the error

[code]

The other two blocks with the same structure, `inputs` and `outputs` both work, but the same syntax for filters doesn't. What is the expected format for this value? Why does the commented out example not work? Is there documentation somewhere that explains how this value should be passed in?

[2019-05-07 19:32] wskulley commented on #11637
kops based in aws, kops versions up to 1.11.1:

`Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-26T00:04:52Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.9", GitCommit:"16236ce91790d4c75b79

[2019-05-07 22:00] back2outdoor opened #13587 "[incubator/cassandra] Add support for Client Authentication to chart"
**Is your feature request related to a problem? Please describe.**
By default, Cassandra is configured with 'AllowAllAuthenticator' which performs no authentication checks and therefore requires no credentials. It is used to disable authentication completely.
Cassandra itself support client authentication by changing [authenticator] setting to 'PasswordAuthenticator'.
Refer to the Cassandra websit

[2019-05-08 00:32] #12702 closed

[2019-05-08 02:20] #12485 closed

[2019-05-08 03:01] moluzhui opened #13592 "[stable/prometheus-operator] can't install it successfully"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:
Helm v2.13.1 and Kubernetes v1.14.0

**Which chart**:
stable/prometheus-operator

**What happened**:
can't install it
[code]

**What you expected to happen**:
install successfully

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2019-05-08 03:11] #13592 closed

[2019-05-08 03:20] #11659 closed

[2019-05-08 03:20] CameronAM opened #13593 "[stable/jenkins] fresh install timeout connecting to https://kubernetes.default in kubernetes configuration"
**Describe the bug**
Jenkins Kubernetes plugin test connection fails in a fresh install.

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
stable/jenkins

**What happened**:
After a fresh install in AKS, the the Jenkins Kubernetes plugin "Test Connection" tool times out with "Error testing connection https://kubernetes.default: java.net.SocketTimeoutException: timeout"

**What

[2019-05-08 03:22] juliohm1978 opened #13594 "[stable/graylog] Chart does not allow volumeName to specified in PersistentVolumeClaims"
The [`volumeClaimTemplates` section in `statefulset.yaml`](https://github.com/helm/charts/blob/master/stable/graylog/templates/statefulset.yaml#L240) does not allow a `volumeName` to the added to the PVC spec.

This, of course, should not be necessary if you are using any storage provider and use a `storageClass`. However, small scale Kubernetes installations may still require manual PV provisioni

[2019-05-08 03:37] hbagdi commented on #13527
The fix is is in #13595. Thank you for reporting!

[2019-05-08 03:38] hbagdi commented on #13478
This is being done in #13475. Please close this issue. Thanks!

[2019-05-08 03:41] hbagdi commented on #12950
@keeganmccallum You can set `KONG_PG_SSL=on` variable in the `env` section in values.yaml:
[code]

Please close this issue. Thank you!

[2019-05-08 03:45] minhdanh commented on #13353
@christian-roggia @paulczar What do you think?

[2019-05-08 03:50] dano0b commented on #13383
workaround which work for me:
[code]

[2019-05-08 04:20] hbagdi commented on #13126
@ivangfr You need to use `minikube service -n kong kong-proxy --url` command to get a routable address from your local desktop to get to Kong's proxy port.

Please close this issue. Thanks.

[2019-05-08 04:42] juliohm1978 opened #13597 "[stable/elasticsearch] Chart does not allow volumeName to specified in PersistentVolumeClaims"
This is related to https://github.com/helm/charts/issues/13594, which uses this chart as a requirement.

Quoting as similar request for this chart:

[2019-05-08 04:55] ivangfr commented on #13126
Hey @hbagdi , thanks for your reply. I did what you are suggesting but in 2 steps (as shown above).
1) Get Services
[code]

2) Get Minikube Ip
[code]

3) Call **MINIKUBE_IP:KONG_HTTP_PROXY_PORT**
[code]

Running what you are suggesting is, indeed, the easiest way to get the full URL.
[code]

But, it doesn't solve the problem of starting Kong using Helm chart in Minikube.

Best regards,

[2019-05-08 05:00] juliohm1978 opened #13599 "[stable/mongodb-replicaset] Chart does not allow volumeName to specified in PersistentVolumeClaims"
This is related to https://github.com/helm/charts/issues/13594, which uses this chart as a requirement.

Quoting as similar request for this chart:

[2019-05-08 05:17] hbagdi commented on #13126
And what exactly is the problem you're facing here apart from that?

[2019-05-08 05:27] shashiranjan84 commented on #13126
Can you try without starting a separate Postgres instance. Let the Kong chart provision Postgres too

[2019-05-08 05:53] juliohm1978 opened #13602 "[stable/graylog] Allow more flexibility in defining graylog.conf values"
The graylog chart creates a ConfigMap that stores all of `graylog.conf`, and several entries from `values.yaml` end up as replacements in that CM during deployment.

While it does a good job simplifying `graylog.conf` to its basic values, I fear that is now oversimplified. A significant number of options are hard coded into the CM itself and I am unable to change any of them without breaking a ful

[2019-05-08 06:46] ivangfr commented on #13126
How I have written in the description

[code]

`my-kong-kong-6b9996b775-256vj` stays always in the status `Init:0/1`, never goes to `Running`

[2019-05-08 06:47] ivangfr commented on #13126
This is what I get when I try to install just Kong

[code]

[2019-05-08 07:28] carrodher commented on #13577
Thank you for highlighting this issue, we are working to find a solution, you can take a look at this [PR](https://github.com/helm/charts/pull/11579), but it is true that at this moment we are finding certain limitations

[2019-05-08 07:47] hzliangbin opened #13604 "[incubator/kubeless] two config.builderImage in README"
It seems it's a small mistake that two config.builderImage in README.
one of them should be config.provisionImage according to the values.yaml.

[2019-05-08 08:13] carrodher commented on #12829
Hi, I am not reproducing the issue from scratch, I mean, with everything deleted from previous deployments. Can you share your `values.yaml`?

[2019-05-08 08:19] moluzhui opened #13605 "[stable/prometheus-operator] kube-etcd is down"
**Describe the bug**
A clear and concise description of what the bug is.
Prometheus Web UI show the target of kube-etcd is down
**Version of Helm and Kubernetes**:
Helm v2.13.1 and Kubernetes 1.14.0

**Which chart**:
stable/prometheus-operator

**What happened**:
After I typed **helm install --name prometheus-operator-release stable/prometheus-operator** command, everything is ok.
I edit service p

[2019-05-08 08:22] srueg commented on #13575
@unguiculus if you could take a look at this :pray: :+1:
I'm not really familiar with the process, so if there's more information needed I'm happy to provide it.

[2019-05-08 08:26] XBeg9 commented on #12829
@carrodher that's values-production.yaml that comes with helm chart.

[2019-05-08 09:24] aangelog opened #13610 "[stable/kibana] Unable to install monitoring with Kibana chart"
**Describe the bug**
I am trying to install Kibana on my Kubernetes cluster for monitoring Elasticsearch. The install works fine but there is no Monitoring app there and I can not find any way to enable/install it (I guess this has to do with xpack not being installed by default?). I do see Dev Tools/Management tabs but Monitoring is essential. The Monitoring app comes by default with Kibana i.e.

[2019-05-08 09:28] carrodher commented on #13604
Thanks, I just created a PR fixing it

[2019-05-08 10:25] carrodher commented on #13562
Can you execute the following commands?
[code]
Replacing `{PODNAME}` by the name that appears in the output of `kubectl get pods`

[2019-05-08 10:31] Mattzr opened #13611 "[stable/magento] can't install magento with ingress definition"
**Describe the bug**
Installing magento via helm fails if ingress definition is specified in values.yml or as parameter. Helm returns an error:

Error: render error in "magento/templates/ingress.yaml": template: magento/templates/ingress.yaml:8:24: executing "magento/templates/ingress.yaml" at <{{template "magento....>: template "magento.chart" not defined
Error: UPGRADE FAILED: render error in "m

[2019-05-08 13:11] Cellebyte opened #13614 "[stable/ambassador] imagePullSecrets is buggy"
**Describe the bug**

The template is misbehaving when specifying imagePullSecrets.

**Version of Helm and Kubernetes**:

HELM:
 * Client: v2.11.0
 * Server: v2.11.0

Kubernets:
 * Client: v1.13.1
 * Server: v1.10.11

**Which chart**:
stable/ambassador

**What happened**:
No deployment happend and a template error ocurred.

**What you expected to happen**:
Installation of ingress/ambassador.

**Ho

[2019-05-08 14:20] #12103 closed

[2019-05-08 14:30] xyzxyzxyzxyzxyz opened #13615 "[stable/kafka-manager] addClusters.sh has the service.port hardcoded"
**Describe the bug**

**Version of Helm and Kubernetes**:
Kube 1.14, Helm 2.13.1

**Which chart**:
kafka-manager

**What happened**:
The server.port is hardcoded in the addClusters.sh script, as you can see here:
https://github.com/helm/charts/blob/master/stable/kafka-manager/templates/configmap.yaml#L17
Because of this, if you change the default port with config value "service.port" it stops work

[2019-05-08 14:40] #12950 closed

[2019-05-08 14:50] sathyu opened #13617 "stable/chart : Version 3.18.4 postgres image : 10.7.0"
**Describe the bug**
Welcome to the Bitnami postgresql container
Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-postgresql
Submit issues and feature requests at https://github.com/bitnami/bitnami-docker-postgresql/issues
 nami    INFO  Initializing postgresql
postgre INFO  ==> No injected postgresql.conf file found. Creating default postgresql.conf file...
postg

[2019-05-08 16:03] shashiranjan84 commented on #13126
Did you change postgres endpoint?

[2019-05-08 17:21] msschl opened #13621 "prometheus-operator: Grafana: Unable to Log in, Failed to get settings"
**What happened?**
Running grafana with helm chart prometheus-operator-4.1.1 app version 0.29.0

**Did you expect to see**
Login Page

**What did you see instead? Under which circumstances?**
Error Page:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Here is my helm chart configuration, which overrides the default provided values.yaml:
[code]

**Environment**

* Promethe

[2019-05-08 17:22] msschl commented on #13621
See [coreos/prometheus-operator](https://github.com/coreos/prometheus-operator/issues/2589)

[2019-05-08 18:20] #12505 closed

[2019-05-08 19:52] ivangfr commented on #13126
Running `helm install --name my-release stable/kong` as explained in the documentation, I am getting
[code]

[2019-05-08 20:30] nroose commented on #3723
I am getting this. I believe my pods have enough resources. And even if it is a pod resource issue, it would be good if the stage would fail or restart the test when this happens. Kubernetes, by its nature, has nodes that get scaled down or otherwise go away, and if Jenkins is to be run in the Kubernetes environment (which is generally a good fit), then it should do this.

[2019-05-08 20:57] #11431 closed

[2019-05-08 21:00] prydonius commented on #13617
it looks like `replication.password` is being set, so not sure why the initialisation is failing.

any ideas, @javsalgar?

[2019-05-09 00:12] #13527 closed

[2019-05-09 02:58] hello2mao opened #13629 "Add @hello2mao as a Trusted Collaborator"
Hi, I'm an existing kubernetes member: [hello2mao](https://github.com/hello2mao)
And I want to make some prs to fix [stable/ethereum] / [stable/burrow] issue.

[2019-05-09 03:08] hello2mao commented on #13629
/assign @prydonius

[2019-05-09 04:25] mumoshu commented on #13188
@dcwangmit01 @josdotso PTAL at #13633. I realized that we can add CI-specific values.yaml at `ci/*-values.yaml` of the chart.

[2019-05-09 04:28] steven-sheehy commented on #13614
It's not buggy, your yaml is just incorrect:
[code]

This is the [standard way](https://kubernetes.io/docs/concepts/containers/images/#referring-to-an-imagepullsecrets-on-a-pod) to specify imagePullSecrets.

[2019-05-09 04:33] Cellebyte commented on #13614
Thanks close I am closing it.

[2019-05-09 04:33] #13614 closed

[2019-05-09 06:32] mumrau commented on #12900
Not much activity over here, maybe someone could redirect me to a place where nexus community is more active?

[2019-05-09 07:04] miguelaeh commented on #13617
Hi @sathyu ,
You set the `usePasswordFile: true`, if this is true, the replication password is going to be taken from the file `/opt/bitnami/postgresql/secrets/postgresql-replication-password` and not from the environment variables. You can see that in the template:

        - name: POSTGRES_REPLICATION_PASSWORD_FILE
          value: "/opt/bitnami/postgresql/secrets/postgresql-replication-password

[2019-05-09 07:12] codeman-crypto opened #13639 "[stable/mongodb-replicaset] Authentication not working"
I am trying to deploy the `stable/mongodb-replicaset` to GKE with authentication enabled but when I try to login with the provided credentials I am getting `Authentication failed` error

**Helm Version:** `v2.13.1`

**Values.yml**
[code]

**installation command**:
`helm install --name dev stable/mongodb-replicaset -f mongodb/values.yml`

Installed successfully

**Issue**
I run the below command to

[2019-05-09 07:48] juan131 commented on #12829
Hi @XBeg9

I was unable to reproduce the issue with the **values-production.yaml** on a Minikube K8s cluster without any previous existing PVC.

These are the steps I followed:

[code]

What K8s cluster are you using?

[2019-05-09 08:41] David-Ray1 commented on #5276
I have also hit this problem. I worked around it by disabling rbac and adding Role and RoleBindings to the promethues helm chart and I then had to add a extra job to scrape metrics on a given namespace. This meant I had to copy the prometheus helm chart and make changes directly, so Prometheus supporting Role and Rolebindings would be much nicer.

[2019-05-09 08:57] #11899 closed

[2019-05-09 09:24] MrD2 opened #13642 "[stable/prometheus-operator] Enable extra(.*) args for prometheus mountings"
stable/prometheus enables a user to add parameters like

extraVolumeMounts
extraVolumes
**extraHostPathMounts
extraConfigmapMounts
extraSecretMounts**

Because my etcd leaves outside of the cluster it cannot be auto-discovered like normal k8s pods. Also authentication is needed to access it but the prometheus does not have the required secrets mounted.

This is a feature request to implement the a

[2019-05-09 09:56] #12523 closed

[2019-05-09 11:00] max-rocket-internet commented on #9227
10000%

I was not able to do this.

Good idea @razor-x! I made a PR: https://github.com/helm/charts/pull/13646

[2019-05-09 11:09] larsha commented on #9227
I was also able to update from 0.30.0 to 1.6.0 since the ClusterIP stuff was reverted.

[2019-05-09 11:11] max-rocket-internet commented on #9227
It's not though:
https://github.com/helm/charts/blob/master/stable/nginx-ingress/templates/controller-service.yaml#L21

[code]

[2019-05-09 11:18] larsha commented on #9227
Yes it is, check values.yaml for changes.

[2019-05-09 11:40] #13604 closed

[2019-05-09 11:48] unguiculus commented on #13575
Are you maintainer of a specific chart? Or would you be interested in becoming a charts maintainer?

[2019-05-09 11:53] juliohm1978 commented on #1863
Coming in late for this discussion with an interesting question...

What happens when you are using StatefulSets without a dynamic PV provisioning solution?

I'll admit manually creating each PV to match a specific PVC is awful, but it needs to be done anyway in this case. PVCs are created slowly as each pod in the StatefulSet becomes ready.

Would it be possible to prepare the chart template to a

[2019-05-09 12:44] max-rocket-internet commented on #9227
@larsha

That link is to master. History is irrelevant. I just tested with latest release (currently `1.6.0`):

[code]

[code]

[2019-05-09 12:50] #13533 closed

[2019-05-09 12:54] larsha commented on #9227
Yes because you seem to be upgrading from version 1.0.1, which will have the changed behavior. The issue was introduced in 0.31.0 and reverted in 1.2.3.

[2019-05-09 13:05] arthurvanduynhoven opened #13650 "[stable/postgresql] could not access the server configuration file"
**Describe the bug**
When I set `postgresqlConfiguration` values Postgresql fails to start with unable to find the postgresql.conf file.

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
`stable/postgresql`
Chart Version: `postgresql-4.0.0`
App Version: `10.7.0`
Docker Image: `docker.io/bitnami/postgresql:10.7.0`

**What happened**:
When specifying `postgresqlConfiguration` valu

[2019-05-09 13:06] max-rocket-internet commented on #9227
Ahh OK, I understand 👍

For everyone else who installed the chart in that 2 year window (early 2017 - early 2019) and who wants to upgrade this chart will hit this issue. Hopefully my PR will be merged soon.

[2019-05-09 13:13] alphabt opened #13651 "[stable/postgresql] data directory "/bitnami/postgresql" has group or world access"
**Describe the bug**
postgres master container is unable to start. It failed with error below
[code]

**Version of Helm and Kubernetes**:

Helm: 2.12.3
Kubernetes: 1.11.7

**Which chart**:
stable/postgresql v3.13.1

**What happened**:
postgresql master container couldn't start

**What you expected to happen**:
container starts normally

**How to reproduce it** (as minimally and precisely as possib

[2019-05-09 13:16] larsha commented on #9227
It’s not a two year window. The change was introduced November 9 and reverted January 30. So people who installed the chart with versions between 0.31.0 and 1.2.2 will face this issue.

[2019-05-09 13:33] Skeen commented on #13651
I have the same issue, chart + this as subchart used to work, but is now broken with no change whatsoever on my end.

[2019-05-09 13:55] langleyd commented on #13530
@brandondoran I saw this also, if you stick to using tags with `-heroku` suffixed(as in default values.yaml file) I don't see this. Not sure why it is needed, @giacomoguiulfo or @kanolato Could you shed light on that?

[2019-05-09 13:57] juan131 commented on #13651
Hi @Skeen @alphabt

Does the issue disappears when setting the parameter **image.tag** to **10.7.0-r68**?

[2019-05-09 13:57] mruepp opened #13652 "[stable/postgresql] statefulset-slaves mount secrets bug"
**Describe the bug**
Bug in the volumes and volumeMount section of statefulset-slaves.yaml
The following formatting is buggy:
[code]

**Version of Helm and Kubernetes**:
helm 2.12.3
kubernetes 1.13.5

**Which chart**:
stable/postgresql

**What happened**:
On the slave pod initialization, the log throws:
[code]
The Secret key "postgresql-password" don't get mounted in the slave pods

This is the ca

[2019-05-09 14:00] juan131 commented on #13652
Hi @mruepp

Did you check the section below in the README.md?

- https://github.com/helm/charts/tree/master/stable/postgresql#400

The env. variable POSTGRES_PASSWORD is mandatory now and you should try to upgrade your PostgreSQL chart to the version **4.0.0**

[2019-05-09 14:02] mruepp commented on #13652
FYI @tompizmor @desaintmartin @juan131

[2019-05-09 14:03] mruepp commented on #13652
@juan131 Hi, we use the master chart

[2019-05-09 14:11] juan131 commented on #13652
Hi @mrueg

What image version are you using? Is it **10.7.0-r69**?

[2019-05-09 14:18] alphabt commented on #13651
While I'm trying to repro using `image.tag`, I noticed this peculier log happened before the error:
[code]

Could this be significant or just a red herring?

[2019-05-09 14:25] mruepp commented on #13652
Image as defined in the values-production.yaml: 10.7.0
But the secrets mounting issue is resolved if refactoring the following lines:
[code]
and
[code]
in templates/statefulset-slaves.yaml

There is a missing slash at the end of mountPath: /opt/bitnami/postgresql/secrets so the secret key or file don't get mounted properly

[2019-05-09 14:25] juan131 commented on #13651
Hi @alphabt

I think it's related with the **mountPoint**, which changed from `/bitnami/postgresql/` to `/bitnami/postgresql/data`.

Using the chart version **3.18.4** and the image version **0.7.0-r68** use `/bitnami/postgresql/`.
Using the chart version **4.0.0** and the image version **0.7.0-r69 or newer**, use `/bitnami/postgresql/data`.

[2019-05-09 14:31] juan131 commented on #13652
Thanks for reporting that @mruepp

I just created a PR to address this issue.

[2019-05-09 14:32] mruepp commented on #13652
In the statefulset.yaml (master) the snippet is different and works.
[code]
[code]

[2019-05-09 14:38] alphabt commented on #13651
@juan131

I was able to confirm it repros with `image.tag` set to `0.7.0-r69`, but was fine with `0.7.0-r68`.

I see that to fix it on my side I would either:
- Pin `image.tag` to `0.7.0-r68` in my chart, or
- Upgrade chart to use `4.x`

This breakage is quite unexpected since I assumed others like me are using the older chart 3.x normally, and it suddenly breaks without any change on our sides. S

[2019-05-09 14:45] avorima opened #13656 "[stable/coredns] release name always contains chart name"
**Is your feature request related to a problem? Please describe.**
The chart's `coredns.fullname` helper function always appends the chart name to the release name. Meaning that if I install the chart with
[code]
The result is a deployment with the name `coredns-coredns`.

**Describe the solution you'd like**
I'd like a conditional check that prevents this.

**Describe alternatives you've consider

[2019-05-09 14:48] #13652 closed

[2019-05-09 14:51] juan131 commented on #13651
Using "rolling tags" is not recommended at all on production environment. You can find more information in the link below:

https://docs.bitnami.com/containers/how-to/understand-rolling-tags-containers/

However, I admit we should have found a way to avoid this happening.

I highly recommend you to upgrade to 4.x.x since the new image is based on Bash configuration scripts decreasing the size of t

[2019-05-09 14:53] alphabt commented on #13651
Thank you for the info on rolling tags. I was not aware of that before. I'll definitely take that into consideration.

Much appreciated!

[2019-05-09 14:53] juan131 commented on #13652
Hi @mruepp

The PR has just been merged and the new version **4.0.1** address this specific issue. Thanks again for reporting it.

[2019-05-09 15:03] msschl commented on #13621
After updating to the latest release this issue seems to be fixed.
Closing this issue.

[2019-05-09 15:03] #13621 closed

[2019-05-09 15:08] juan131 commented on #13651
You're welcome! And sorry for the inconveniences caused with this change introduce in the image.

Please do not hesitate to report any issue you face with the PostgreSQL chart or image. We really appreciate your collaboration.

[2019-05-09 15:31] sathyu commented on #13617
Thanks for the reply.

I set   userPasswordFile: false and given password in values.yaml file , now I am seeing below error:

2019-05-09 15:24:34.777 GMT [938] FATAL:  password authentication failed for user "repl_user"
2019-05-09 15:24:34.777 GMT [938] DETAIL:  Role "repl_user" does not exist.
	Connection matched pg_hba.conf line 95: "host     all             all             0.0.0.0/0

[2019-05-09 15:32] tompizmor commented on #13650
Hi @arthurvanduynhoven,

I was able to reproduce the issue. I just send this PR https://github.com/bitnami/bitnami-docker-postgresql/pull/132 to fix it.

I will let you know once the new PostgreSQL image is released with the fix.

[2019-05-09 15:32] srueg commented on #13575
I'd maintain the K8up chart: https://github.com/helm/charts/pull/13314
Also I'm working on an overhaul of the stable/rocketchat chart which I then could maintain

[2019-05-09 16:33] ThomasBoni opened #13659 "[stable/prometheus-operator] good way to override default alerts"
**Is your feature request related to a problem? Please describe.**
I need to modify default alerts.
For example some alerts are declared in file `templates/prometheus/rules/kubernetes-system.yaml`. There are two alerts `KubeAPILatencyHigh` one with 1s limit, another with 4s limit. I need to modify these alerts but I didn't find a proper way to do it (without forking the entire chart...)

**Describ

[2019-05-09 18:15] wvidana commented on #12999
@lkysow anything?

[2019-05-09 18:21] lkysow commented on #12999
Hi Wilfrido, sorry I didn't see this because there's no way for me to only get notified about Atlantis issues. I suggest you open up an issue in runatlantis/atlantis next time.

Yes I think we should support a secret name that you can pass in. PR's welcome!

[2019-05-09 18:57] #12541 closed

[2019-05-09 19:27] retr0h commented on #10183
@grantatspothero could you provide your config?  I cannot seem to find enough information on adding additional dashboards to grafana.  I deployed grafana with the prometheus operator chart.  I'm now wanting to add additional dashboards through values.yaml.

I attempted the following with no luck.  The prometheus-grafana pod errors with no useful container logs.

To summarize I simply want to confi

[2019-05-09 20:14] sathyu commented on #13617
I  created repl_user with replication and login allowed  after master pod came up.  Replication started happening.     Closing this issue.
Lesson learnt:   Just use stable/chart and deploy postgres.
                         login to master pod
                         execute this command at psql prompt
                         create role repl_user  with replication login;

[2019-05-09 20:17] holmesb commented on #12370
@tomelei "This user does not need to have administrator rights in Jenkins (the default Overall:Read is sufficient)" is wrong, the adminUser needs Overall:Administer rights.  [The Readme](https://github.com/helm/charts/tree/master/stable/jenkins#auto-reload-with-non-jenkins-identities) is correct, but values.yaml is wrong.  I'll create a PR to correct.

[2019-05-09 22:01] abraithwaite commented on #4540
/remove-lifecycle stale

[2019-05-09 22:02] abraithwaite commented on #4540
incubator zookeeper is still using the sample image

[2019-05-09 22:03] #12551 closed

[2019-05-09 23:08] wvidana commented on #12999
@lkysow Thank you for the prompt response.

I wanted to keep it simple in the PR https://github.com/helm/charts/pull/13667

But maybe you were looking for something like this? https://github.com/helm/charts/compare/master...wvidana:atlantis-secret-webhook-name

[2019-05-09 23:57] jlegrone commented on #13449
I think Option A actually turns out to be a breaking change if a default digest is ever provided by the chart. Given an existing user-defined `values.yaml` like this:

[code]

And a new chart version with `values.yaml` containing:

[code]

The merged values that will be applied to create/upgrade a release will be:

[code]

Since the proposed `digest` field takes precedence over `tag`, the deployed

[2019-05-10 00:03] #12554 closed

[2019-05-10 01:35] johnmarcou commented on #13651
Same issue here, esing `bitnami/postgres` chart v3.15.0.
Forcing the docker image to `docker.io/bitnami/postgresql:10.7.0-r68` fixed the issue.

I would suggest to avoid to use `imagePullPolicy: Always` as a default.

[2019-05-10 01:44] wu105 opened #13669 "[stable/prometheus-operator] prometheus-oper-kubelet targets done on deleted nodes"
**Describe the bug**
After deleting a node from a k8s cluster, the targets on service=kubelet for endpoints https://*nodeip*:10250/metrics and https://*nodeip*:10250/metrics/cadvisor remain and in down status

**Version of Helm and Kubernetes**:
helm v2.11.0
kubernetes v1.11.3

**Which chart**:
prometheus-operator-4.1.1

**What happened**:
drained and deleted a node from a kubernetes cluster

**Wh

[2019-05-10 02:03] #12555 closed

[2019-05-10 03:03] #11429 closed

[2019-05-10 05:44] huang-jy commented on #3723
@nroose the issue here is that the pods have enough resource to START but not enough to do what they need to do. In my case, when I monitored the pods at the started, the default values of the chart caused the slave to be killed by the cluster with OOMKilled. Increasing the requested resources allowed the slave to do its job.

[2019-05-10 06:40] juan131 commented on #13651
Hi @johnmarcou

I highly recommend you to upgrade to chart **v4.0.1** and image **docker.io/bitnami/postgresql:10.7.0-r71**. You should be able to upgrade the chart by running the commands below (please note the commands below assumed you named your release 'my-release'):

[code]

[2019-05-10 06:42] juan131 commented on #13650
Hi @arthurvanduynhoven

The new image has been released including the fix (tag **10.7.0-r71**). You can obtain it using the command below:

[code]

[2019-05-10 06:43] arthurvanduynhoven commented on #13650
@juan131 Thanks for the quick turnaround!

[2019-05-10 06:44] ramkrishnan8994 opened #13671 "[stable/hadoop] YARN UI Reverse Proxy"
From the YARN UI if I click on any of the links, Eg: History, Logs, Node etc. It gets redirected to the pod service endpoint which would not be accessible -
`**hdfs-yarn-hadoop-yarn-nm-0.hdfs-yarn-hadoop-yarn-nm.testing.svc.cluster.local**`

Spark UI has a reverse proxy configuration for the UI which solves the issue -
[code]

Does the YARN UI also support anything like this.
There is an option to

[2019-05-10 06:48] peterbosalliandercom opened #13672 "[stable/jenkins] warning when overriding initscripts"
**Describe the bug**
In the latest chart (1.1.16) when overriding initscripts: a warning appears when running helm template.

**Version of Helm and Kubernetes**:
helm version 2.13.1

**Which chart**:
jenkins

**What happened**:
when changing
  `initscripts: `
to
[code]

a warning appears:
 helm template -f values.yaml -f helm-config-test.yaml .  | grep peter
2019/05/10 08:28:30 Warning: Merging de

[2019-05-10 06:53] arthurvanduynhoven commented on #13650
Verified and latest image now works as expected.

[2019-05-10 06:53] #13650 closed

[2019-05-10 07:02] Skeen commented on #13651
@juan131 Upgrading to v4.x.x yesterday fixed the issue for me.

[2019-05-10 08:53] Hokwang opened #13673 "[stable/spinnaker] please make sure for not using pv and use storageclassName"
Hi,
In my spinnaker installation,

[code]
There's an error.

[code]

so I need a pv for this.

But for very basic test env, please provide the code like `persistence: false` to select use pv or not.
(please refer to https://github.com/helm/charts/blob/bb68b3f2d4c8878a53c60cc451335dcb6373cbb5/stable/jenkins/values.yaml#L374)

and one more thing,
I have pv(s) but I did not make it default storageCla

[2019-05-10 09:12] danielsreichenbach opened #13675 "[stable/mariadb] specifying customer users breaks cluster"
**Describe the bug**
When specifying custom values for users, password and database name, replication will always fail.

**Version of Helm and Kubernetes**:

_Kubernetes_:
[code]

_Helm_:
[code]
**Which chart**:
`stable/mariadb`

**What happened**:
Master will deploy fine, while any slave replica will die with this message

[code]

**What you expected to happen**:
Slave replicas should have picked

[2019-05-10 10:00] danielsreichenbach commented on #13675
Closing since this was actually in issue with our storage provisioner reusing slave volumes... /facepalm

[2019-05-10 10:00] #13675 closed

[2019-05-10 10:09] lbornov2 commented on #9267
Please include this as a core feature.

[2019-05-10 10:42] jmvizcainoio commented on #13651
I'm using bitnami/postgresql:11.2.0 and now is crashing.

Chart version postgresql-4.0.1

[code]

is on a staging postgresql that is power off everyday but today doesn't startup.

[2019-05-10 10:45] thonh commented on #13651
Yeah, I have same issue with "helm install stable/kong"

[2019-05-10 11:06] ramkrishnan8994 commented on #13671
@paulczar

[2019-05-10 11:41] shivasr opened #13677 "stable/postgresql"
**Describe the bug**
When I try to install stable/postgresql using helm the containers go into "CrashLoopBackOff" status. It seems to be working till yesterday, 9th May 2019.

**Version of Helm and Kubernetes**:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.5", GitCommit:"2166946f41b36dea2c4626f90a77706f426cdea2", GitTreeState:"clean", BuildDate:"2019-03-25T15:26:52Z", GoVe

[2019-05-10 11:51] juan131 commented on #13651
Hi everyones,

We shouldn't have included a breaking change on a rolling tag to avoid breaking the chart. We apologize for this error and we'll work on improving the documentation so everyone understand the implications on using rolling tags.

We just released new revisions that are compatible with both **3.x.x** and **4.x.x** charts:

- 9.6 series: **9.6.12-r73**
- 10 series: **10.7.0-r72**
- 11

[2019-05-10 12:31] unguiculus commented on #13575
Invite sent. I noticed maintainer in `Chart.yaml` and `OWNERS` don't match. Could you fix that?

[2019-05-10 12:31] #13575 closed

[2019-05-10 12:54] juan131 commented on #13677
Hi @shivasr

What version the Helm chart and what version of the Bitnami Docker PostgreSQL image are you using?

[2019-05-10 13:00] shivasr commented on #13677
This is the version of the helm:

`Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}`

For the Bitnami Docker PostgreSQL - I just did try to install postgresql using `helm install stable/postgresql`

I think it's

[2019-05-10 13:00] #13677 closed

[2019-05-10 13:03] juan131 commented on #13677
Hi @shivasr

I was talking about the version of the PostgreSQL chart. You can obtain the version of the chart by running: `helm search stable/postgresql`

That's great! Please do not hesitate to let us know if you face any new issue.

[2019-05-10 13:06] torstenwalter commented on #13672
Please try it like this:

[code]

That actually works for me. Using it as a list also allows you to separate different init scripts.

[2019-05-10 13:08] ReSearchITEng commented on #12780
/project heapster

[2019-05-10 13:09] shivasr commented on #13677
NAME                    CHART VERSION   APP VERSION     DESCRIPTION
stable/postgresql       3.18.0          10.7.0          Chart for PostgreSQL, an object-relational database manag...

This is the version details.

[2019-05-10 13:18] torstenwalter commented on #13672
Just checked the `values.yaml`. The example there is also a list.
https://github.com/helm/charts/blob/master/stable/jenkins/values.yaml#L166-L168

[2019-05-10 13:20] jmvizcainoio commented on #13651
using 11.2.0-r73  it works thank @juan131

[2019-05-10 13:22] munntjlx commented on #12551
Oh well. I guess its use the non-helm repo.

[2019-05-10 14:17] lkysow commented on #12999
Yeah I think the latter would be better so folks don't have to name the secret a certain name

[2019-05-10 14:18] r0f1 commented on #12964
Thank you bot!

[2019-05-10 14:31] #13617 closed

[2019-05-10 14:47] wvidana commented on #12999
Thanks for the feedback! Just pushed the changes to the original PR

[2019-05-10 16:03] #11767 closed

[2019-05-10 16:08] srueg commented on #13575
I didn't get any invite so far... Updated the `Chart.yaml` and `OWNERS` file.

[2019-05-10 19:03] #12530 closed

[2019-05-10 19:03] #12602 closed

[2019-05-10 19:42] infa-bsurber opened #13689 "[incubator/vault] Consul Agent TLS Support"
**Is your feature request related to a problem? Please describe.**
Currently if the backend Consul server is set to with `"verify_incoming": true`, there's no way to use this chart's Consul agent feature.
This is because the Consul agent needs a cert to use when interacting with the backend server, usually provided via the Consul config ("cert_file", "key_file", "ca_file").

**Describe the solutio

[2019-05-10 21:06] mauilion opened #13691 "[stable/grafana] init container does is not configured to set or template resource constraints."
**Describe the bug**
A clear and concise description of what the bug is.
When deploying the stable/grafana chart with `persistence: true` an init container that chowns the volume fs is created.
This init container does not specify a resource request and thus clusters that are configured to require one will fail to deploy the pod.

**Version of Helm and Kubernetes**:
helm v2.13.1
k8s 1.14.1

**Whic

[2019-05-10 22:25] roelofjansen commented on #12883
I got the same problem and removed the "location /" part from the snippet in values.yaml.

[2019-05-10 22:39] #12605 closed

[2019-05-10 22:39] #12371 closed

[2019-05-10 22:39] #11524 closed

[2019-05-11 01:08] juliohm1978 commented on #13599
After some time reading about how StatefulSets, PVCs and PVC Claims work, I'll admit there is no way to implement this only by only manipulating chart templates.

The solution proposed here does NOT work at all, because the the controller won't even consider including volumeName field in the PVC spec at runtime. The one declared in volumeClaimTemplates is simply ignored.

Besides, and more importa

[2019-05-11 01:08] #13599 closed

[2019-05-11 01:08] juliohm1978 commented on #13597
After some time reading about how StatefulSets, PVCs and PVC Claims work, I'll admit there is no way to implement this only by only manipulating chart templates.

The solution proposed here does NOT work at all, because the the controller won't even consider including volumeName field in the PVC spec at runtime. The one declared in volumeClaimTemplates is simply ignored.

Besides, and more importa

[2019-05-11 01:08] #13597 closed

[2019-05-11 01:08] juliohm1978 commented on #13594
After some time reading about how StatefulSets, PVCs and PVC Claims work, I'll admit there is no way to implement this only by only manipulating chart templates.

The solution proposed here does NOT work at all, because the the controller won't even consider including volumeName field in the PVC spec at runtime. The one declared in volumeClaimTemplates is simply ignored.

Besides, and more importa

[2019-05-11 01:08] #13594 closed

[2019-05-11 08:39] #9243 closed

[2019-05-11 12:39] #12621 closed

[2019-05-11 16:39] #12388 closed

[2019-05-11 16:39] #12638 closed

[2019-05-11 16:46] shiva075gowda commented on #10217
I am also hitting same issue with stable version. Is keycloak helm chart can be configured to create initial user ?
@okgolove, you have any suggestions ?

[2019-05-11 18:43] runningman84 commented on #13353
According to this wiki
https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint
You can configure a bearerTokenFile in order to access a protected resource. Unfortunatly I do not now where I would have to inject this kind of file in order to be able to use it.

[2019-05-11 18:49] runningman84 opened #13701 "[stable/prometheus-operator] how to create a bearerTokenFile"
**Describe the bug**
According to these docs you can use a bearerTokenFile:
https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint

It is unclear for me how to create or inject such file using the prometheus operator chart.

[2019-05-11 19:16] tony-kerz commented on #10217
there is always [this](https://github.com/helm/charts/issues/10217#issuecomment-456673209) as a work around

[2019-05-11 19:39] #11273 closed

[2019-05-11 22:15] okgolove commented on #10217
@shiva075gowda hi! Haven't any time to work on this. As far as I remember, enabling PVC has resolved the problem.
If I have any news I will write about.

[2019-05-12 00:05] #12653 closed

[2019-05-12 01:05] #12291 closed

[2019-05-12 02:05] #12626 closed

[2019-05-12 06:05] #12306 closed

[2019-05-12 09:37] dvdtth opened #13703 "[stable/elastalert] how to load enhancements"
How can I load an enhacement (https://elastalert.readthedocs.io/en/latest/recipes/adding_enhancements.html#enhancements) into elastalert when deploying through helm?

[2019-05-12 11:05] #12423 closed

[2019-05-12 12:37] krimeshshah opened #13704 "[stable/prometheus] Unable to access prometheus-server container in the prometheus pod"
**Describe the bug**
Unable to exec prometheus-server container inside the pod

**Version of Helm and Kubernetes**:
Helm CLient & Server Version - v2.12.3
Kubectl - 1.8.3
K8S version - 1.13.5

**Which chart**:
stable/prometheus

**What happened**:
I had prometheus and grafana set up successful with stable/ charts. The pvc size for prometheus-server was set to 2Gi since it is PoC set up. In few day

[2019-05-12 12:38] cirocosta commented on #13410
Hi @GreSuh ,

Would you mind sharing what did your `values.yaml` look like for the configuration that you tried, or any other configurations passed to the chart, please?

Thanks!

[2019-05-12 12:42] cirocosta commented on #12667
Hi @elsmorian !

Sorry for the long delay, and thanks for the feedback!

Would you mind sharing a sample `values.yaml` where that happened?

Looking at the latest version of the Chart (`6.1.0`), I can see the value changing accordingly:

[code]

Thanks!

[2019-05-12 12:43] cirocosta commented on #12667
@pikesley, I noticed that you gave a thumbs up - are you having the same issue?

Thanks!

[2019-05-12 12:50] cirocosta commented on #11610
🙌

[2019-05-12 15:05] #12645 closed

[2019-05-12 16:05] #12671 closed

[2019-05-12 16:46] pcornelissen commented on #685
and it's still an issue :-(

[code]
(Just copied from my cluster)

[2019-05-12 16:48] pcornelissen commented on #6064
FYI it still happens

[2019-05-12 16:53] #12765 closed

[2019-05-12 21:05] #12681 closed

[2019-05-13 03:14] gregbacchus opened #13708 "[stable/prometheus-operator] make alert rule annotations consistent"
**Is your feature request related to a problem? Please describe.**
Yes, it is difficult to create templates for formatting the alerts (e.g. into a slack message) as the annotations are inconsistent between different alerts.

Some alerts have the annotations [e.g. here](https://github.com/helm/charts/blob/master/stable/prometheus-operator/templates/prometheus/rules/etcd.yaml)
- `message`

And other

[2019-05-13 05:35] thomashoell commented on #12883
This broke Nextcloud for me because of the missing rewrite.

[2019-05-13 06:34] rdxmb commented on #13010
push

[2019-05-13 06:54] juan131 commented on #13651
That's great @jmvizcainoio !

Feel free to close this issue if you considered it solved.

[2019-05-13 06:57] alphabt commented on #13651
It's resolved, thanks @juan131

[2019-05-13 06:57] #13651 closed

[2019-05-13 07:15] peterbosalliandercom commented on #13672
Alright. My confusion was that I had to name the key of the list myself
It works fine indeed like this way:
[code]

resulted in this:
[code]

[2019-05-13 07:15] #13672 closed

[2019-05-13 07:33] abhi-dwivedi opened #13709 "Add read only guest user in grafana"
Hi Team

How can i add a readonly user in grafana chart inbuild as guest/guest

[2019-05-13 08:21] drastawi commented on #13449
@jlegrone Perhaps a more clean solution would be to respect both tag and digest when both are specified? This would be 3 cases: tag only, digest only, and both tag and digest, and would be more explicit to the end user what image is being pulled. It should also not add more complexity to the code since adding tags and digests is effectively just appending the image string.

As far as the vector of

[2019-05-13 08:23] phlegx commented on #12575
Update: Also with Helm Chart Kong version `0.10.3` we experience the same issue still.

[2019-05-13 08:28] cwrau commented on #12352
This issue still exists for me

[2019-05-13 08:38] ncrothe opened #13713 "[incubator/kafka] Service type NodePort for external use broken"
**Describe the bug**
In it's current stage the external service to make kafka available outside the cluster via NodePort is broken. Specifically, there is an issue with the template incubator/kafka/templates/service-brokers-external.yaml. For external.type:NodePort the service attribute targetPort gets expressed with $externalListenerPort (which is 31090+ by default), but it needs to point to the

[2019-05-13 08:41] ncrothe commented on #13713
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#is-the-service-correct would indicate that targetPort should always be the container's containerPort.

[2019-05-13 11:50] elsmorian commented on #12667
Apologies, this was caused by us overriding YAML dictionaries and it falling back to defaults, sorry!

[2019-05-13 11:50] #12667 closed

[2019-05-13 12:07] msschl opened #13715 "[stable/grafana][stable/prometheus-operator] CrashLoopBackOff - failed to open log file "...": no such file or directory"
**Describe the bug**
The grafana pod instance of the prometheus-operator chart occasionally crashes due to the error `failed to open log file "...": no such file or directory`

**Version of Helm and Kubernetes**:
Helm:
Client: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c72

[2019-05-13 12:18] volatilemolotov opened #13716 "[stable/prometheus-adapter] External metrics issue"
**Describe the bug**
When using the chart to deploy the adapter to use with HPA after leaving the default values, in this case *rules.default: true* which implies that the external metrics list is empty (im not trying to use external metrics) the charts still deploys the APIService named *external.metrics.k8s.io/v1beta1* causig me to have `error: unable to retrieve the complete list of server APIs

[2019-05-13 12:30] morsok opened #13717 "[stable/mercure] Wrong option in readme"
**Describe the bug**

In the configuration section there is `ingress.path` but this does does exists in the current version of the chart.

The current version has `ingress.paths` which is an array, furthermore, it has no default value (should be `['/']` in my opinion) and so enabling ingress without providing this options results in an error.

**Which chart**:

stable/mercure

**What happened**:

[2019-05-13 12:34] ncrothe commented on #13713
Nevermind, I simply did not understand what's happening. If we tie the service's NodePort to the containers 9092, traffic will be treated as internal and broadcast internal endpoints which fails the rest.

[2019-05-13 12:34] #13713 closed

[2019-05-13 13:11] YoussB commented on #13019
🙌

[2019-05-13 13:12] YoussB commented on #13024
🙌

[2019-05-13 13:13] YoussB commented on #13025
🙌

[2019-05-13 13:45] bamb00 commented on #12679
Hi @petrokashlikov,

Can you elaborate when you mention  tricking "-f /dashboards/somechart.json"? Where would you specify "-f /dashboards/somechart.json"? I'm running into the same issue with the json are not being detected in the dashboards folder and I'm not using the chart folder.  I just have the values.yaml and the dashboards folder.

[2019-05-13 15:49] juan131 commented on #9229
By default the service created on this chart (see the manifest below) only acts as a loadbalancer for requests on "primary" nodes:

https://github.com/helm/charts/blob/master/stable/mongodb/templates/svc-primary-rs.yaml

You could create another service with all the nodes (primary and secondary nodes) as endpoints and it'll balance the requests using round-robin.

You could also create a specific