[2018-12-04 14:53] ricardompcarvalho commented on #3723
look, the same error :s
![image](https://user-images.githubusercontent.com/27811451/49450162-5c643a80-f7d4-11e8-9c1f-72a118d8d40e.png)

[2018-12-04 15:03] huang-jy commented on #3723
@ricardompcarvalho Your jenkins endpoint is publicly accessible, you may wish to change that -- like, NOW.

Regarding your problem, I don't think that's the right location.

The default docker image for the agent/slave is `jenkinsci/jnlp-slave`

Let me copy in the comment from the other ticket:

[2018-12-04 15:05] ricardompcarvalho commented on #3723
@huang-jy my endpoint is public acessible but can you enter?

[2018-12-04 15:06] huang-jy commented on #3723
No, luckily :)

[2018-12-04 15:07] ricardompcarvalho commented on #3723
Yes, thatś because i use security although the endpoint is public!!

[2018-12-04 15:07] maorfr opened #9717 "[incubator/cassandra] backup job consumes excessive resources"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
All

**Which chart**:
incubator/cassandra

**What happened**:
Backup job saves files to local memory, thus consuming excessive resources

**What you expected to happen**:
Files should be streamed instead of copied

**How to reproduce it** (as minimally and precisely as possible):
Run the back

[2018-12-04 15:09] ricardompcarvalho commented on #3723
Can you give a solution for my problem? I put the configuration of resources in the right spot @huang-jy

[2018-12-04 15:10] huang-jy commented on #3723
The solution I had was to increase the resource requests for the slave, if that is not working for you, then you are probably having a different issue.

[2018-12-04 15:20] huang-jy commented on #3723
I just spun up a clean Jenkins install using:

helm install --name jenkins-jo stable/jenkins --version 0.25.0

I logged in, went to Manage Jenkins, then went to Configure System.

I scrolled down to "Cloud" section

![image](https://user-images.githubusercontent.com/2756283/49451786-d649f300-f7d7-11e8-8a38-5f84ace8cdfa.png)

Then a bit further down....

![image](https://user-images.githubuserconte

[2018-12-04 15:22] ricardompcarvalho commented on #3723
@huang-jy i know, i change where you refer!!!

[2018-12-04 15:26] enflo opened #9719 "[stable/prometheus-operator] helm install unable to recognize "": no matches for kind "PodSecurityPolicy" in version "policy/v1beta1""
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

**Version of Helm and Kubernetes**:
Kubernetes version: 1.9.7-gke.11
Helm version:
 - Client version: 2.11.0
 - Server version 2.11.0

**Which chart**: [stable/prometheus-operator]

**What happened**:
When executing the command: *helm install --name myrelease stable/prometheus-operator*  . the console paints the following erro

[2018-12-04 15:29] huang-jy commented on #3723
@ricardompcarvalho That's fine, instead of using `--set` you can change the values in your yaml

[2018-12-04 15:31] ricardompcarvalho commented on #3723
@huang-jy i know, that what i been use, but if i install through yaml if I do not define an agent in yaml it creates me an agent, I think it is pre-defined in the chart

[2018-12-04 15:34] huang-jy commented on #3723
Yes, it'll create a config for an agent for you, if you dont' define one, it'll use the chart defaults. And that's possibly where you're getting caught out. Even on my cluster here with pure defaults, the Jenkins master keeps crashing out with OOMKilled

[2018-12-04 15:37] ricardompcarvalho commented on #3723
My jenkins master always say that he not have minimum availability :s thanks for the help, i think :D

[2018-12-04 15:37] nikoul commented on #8712
This does not help for my issue.

[2018-12-04 16:38] mvasilenko commented on #9673
closed by PR #9560

[2018-12-04 16:38] #9673 closed

[2018-12-04 16:41] paskal commented on #9719
Sorry, but [Readme](https://github.com/helm/charts/tree/master/stable/prometheus-operator#prerequisites) say that minimal k8s version is 2.10 with Beta APIs enabled. It won't work on your version of k8s.

[2018-12-04 18:40] #9636 closed

[2018-12-04 19:14] Wenzil commented on #8982
Any plans to add support?

[2018-12-04 19:59] vinicyusmacedo opened #9731 "[stable/spinnaker] use pre-created secrets for all credentials"
**Is this a request for help?**: No

---

**FEATURE REQUEST**

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
`stable/spinnaker`

**What happened**:
On the Spinnaker chart, you can make reference to an already set secret for the Docker Registry, but you have to change the values file to include the credentials for GCS, S3, etc.

**What you expected to happen**:
It would be great if o

[2018-12-04 20:42] losil commented on #9485
Problem is fixed when I set the values in the following YAML format:

`
defaultBackend:
  image:
    repository: private-registry.domian/defaultbackend
`

[2018-12-04 20:42] #9485 closed

[2018-12-04 20:45] losil commented on #9719
Little detail: k8s version `1.10` is the minimal required.

[2018-12-04 21:59] ssalaues commented on #9488
Hmm ok I'll try something like this out and open a PR.

[2018-12-04 22:55] hbagdi commented on #9543
@prakharjoshi One migration Job is used at for the migrations at the start to bootstrap and run the initial set of migration.
The other one is used with a upgrade hook, meaning that the migration runs every-time you upgrade Kong or the helm chart.

Regarding,

Could you elaborate on what you mean by "when next deployment is done it start failing"?
Are you trying to deploy another Kong app in the s

[2018-12-05 04:57] #9077 closed

[2018-12-05 06:35] bholzer commented on #9093
I am experiencing the same thing in EKS. If I attempt a deployment with the same name as a previously deleted release, postgres will fail to start if a persistent volume remains from the previous deployment.

[2018-12-05 08:10] #9717 closed

[2018-12-05 08:44] steffenb91 opened #9740 "[nginx-ingress] imagePullSecrets is not working"
**Is this a request for help?**:
Yes!

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

Starting the nginx-ingress Helm-chart with following command:
 `helm install --name nginx-ingress stable/nginx-ingress --set imagePullSecrets=[regcred] [...]`
(other options hidden for clarity)
is not working:
`Error: release nginx-ingress failed: DaemonSet in version "v1beta1" cannot be h

[2018-12-05 09:38] bholemt opened #9743 "[incubator/kafka] setting fullnameOverride in zookeeper breaks as kafka uses incorrect service name to connect to zookeeper"
Kafka still looks for "nordic-mandrill-zookeeper-logger" service

[main-SendThread(nordic-mandrill-zookeeper-logger:2181)] WARN org.apache.zookeeper.ClientCnxn - Session 0x0 for server nordic-mandrill-zookeeper-logger:2181, unexpected error, closing socket connection and attempting reconnect
java.nio.channels.UnresolvedAddressException
        at sun.nio.ch.Net.checkAddress(Net.java:101)
        a

[2018-12-05 09:40] #9719 closed

[2018-12-05 09:41] enflo commented on #9719
Solved

[2018-12-05 10:33] roys8 opened #9744 "Error while creating Parser."
**Is this a request for help?**:

Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

<!--
If this is a BUG REPORT, please:

When I am trying to run the stable chart, I am getting the error as below.

Error: render error in "fluent-bit/templates/daemonset.yaml": template: fluent-bit/templates/daemonset.yaml:19:28: executing "fluent-bit/templates/daemonset.yaml" at <include

[2018-12-05 12:12] matthias-k commented on #2607
Same here

[2018-12-05 12:19] prakharjoshi commented on #9543
@hbagdi It was the issue with miss configuration for Postgres chart, I was not defining the password for Postgres and every deployment the secret created in the chart was creating a new password and hence was causing failure for migration jobs as the jobs are picking password from secret.

I guess an update in doc will be handy here to avoid such situations :)

[2018-12-05 12:19] #9543 closed

[2018-12-05 12:19] mooperd commented on #2607
/reopen

[2018-12-05 12:20] mooperd opened #9746 "Please reopen https://github.com/helm/charts/issues/2607#issuecomment-415087362"
Hi,

Can someone please reopen https://github.com/helm/charts/issues/2607
Thanks,

Andrew

[2018-12-05 13:12] matthias-k commented on #2607
Interestingly, when upgrading I get the error message `Error: UPGRADE FAILED: Service "killer-gnat-nginx-ingress-controller" is invalid: spec.clusterIP: Invalid value: "": field is immutable`. However, in the service `...-nginx-ingress-controller`, `spec.clusterIP` is not rendered at all, as visible via `helm template`. It is specified in the service  `...-nginx-ingress-default-backend`, which doe

[2018-12-05 13:17] matthias-k commented on #2607
yes, I just confirmed: When I remove [this check](https://github.com/helm/charts/blob/master/stable/nginx-ingress/templates/controller-service.yaml#L21), then the empty `clusterIP` *is* rendered into the service and the upgrade completes. This contradicts the error message... Also, I'm not sure wheter the check still should be there and maybe check for `nil`.

[2018-12-05 13:17] robel-yemane commented on #7383
I'm having the same issues, is there any solution for this?
`2018-12-04 13:28:21 +0000 [warn]: [elasticsearch] bad chunk is moved to /tmp/fluentd-buffers/backup/worker0/elasticsearch/57b4cdf0b8ce38ecca4d1abf3bb73159.log
2018-12-04 13:28:52 +0000 [warn]: [elasticsearch] Could not push logs to Elasticsearch, resetting connection and trying again. read timeout reached
2018-12-04 13:28:54 +0000 [info]

[2018-12-05 14:09] k commented on #7584
Same issue on 2.7.8. and tried it on 1.0.0; same problem. Unfortunately wasted two hours on this issue. It did not occur to me that it would be because of a subchart because the outputs from the templates looked fine. Anyone find anything?

[2018-12-05 14:23] k commented on #7584
So I'm just having trouble logging in when installing it directly from stable as well. Has anyone else had the same issue?

[2018-12-05 14:34] hbagdi commented on #9543
PR welcome!

On Wed, Dec 5, 2018, 4:19 AM prakhar <notifications@github.com wrote:

[2018-12-05 15:40] #8634 closed

[2018-12-05 16:27] Freyert opened #9753 "[stable/mongodb-replicaset] chart does not include link to peer-finder source"
**Is this a request for help?**: Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**: 3.8.0

**Which chart**: stable/mongodb-replicaset

**What happened**: I'm working outside the bounds of the original chart, but I would like to still use the peer-finder. In short, I'm trying to attach a hidden secondary to an existing cluster deployed with mong

[2018-12-05 18:41] iamShantanu101 opened #9756 "[stable/kibana] Unable to setup X-Pack login with kibana"
**Is this a request for help?**:
YES
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:

Helm Version:
[code]

Kubernetes Version:
[code]

**Which chart**:

kibana/stable

**What happened**:
After setting xpack enable value, I am still not able to see the login page while opening dashboard. In fact, it is not asking for username:password

[2018-12-05 19:01] JessieAMorris commented on #2607
Confirmed that I'm seeing that same issue. Reverting to 0.30.0 chart version fixes this issue for me.

[2018-12-05 19:22] steven-sheehy commented on #9753
It's at https://github.com/kubernetes/contrib/tree/master/peer-finder

@unguiculus Also has [PR](https://github.com/helm/charts/pull/9707) open to update the peer-finder version since it's out of date. Maybe your issue was already fixed in a newer version.

[2018-12-05 19:29] #9753 closed, assigned to nobody

[2018-12-05 19:40] #7833 closed

[2018-12-05 19:40] #7899 closed

[2018-12-05 19:56] #9649 closed

[2018-12-05 20:17] flah00 commented on #9661
@prydonius @juan131
Dunno how issues are bubbled up, thought I'd give you a ping.

[2018-12-05 20:17] flah00 commented on #9699
@prydonius @juan131
Dunno how issues are bubbled up, thought I'd give you a ping.

[2018-12-05 20:40] #7908 closed

[2018-12-05 20:40] #8645 closed

[2018-12-05 21:40] #8635 closed

[2018-12-05 22:41] jeckhart commented on #9014
We've been using this branch on our side successfully. What is needed to get this merged?

[2018-12-05 23:08] tmirks opened #9760 "[stable/percona-xtradb-cluster] Is it possible to override server-id in mysqld.cnf"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request

**Which chart**: stable/percona-xtradb-cluster

Is it possible to override the cluster `server-id` currently being set in `/etc/mysql/percona-xtradb-cluster.conf.d/mysqld.cnf`? It appears that this is hardcoded to `1`. When configuring an upstream master for PXC, if the upstream master is also

[2018-12-05 23:29] jrnt30 opened #9762 "[stable/mysql] Test pod/configmap expose credentials for DB"
Noticed a small issue/concern with the current stable MySQL chart as we were playing around with it that I would consider a bug (or at least a departure from norms).

**Issue:**
- Currently has a `templates/test/` directory for some hook tests to validate the configuration of the database.
- A ConfigMap is used to write out the test command to execute via the test hook
- The ConfigMap's script tha

[2018-12-06 04:40] #8336 closed

[2018-12-06 09:36] thomas-riccardi commented on #8635
Has someone started a discussion with upstream rabbitmq about this issue?

[2018-12-06 10:12] cbluth opened #9768 "[incubator/kafka] Please add kafka-exporter service when `prometheus.jmx.enabled=true`"
**Is this a request for help?**:
NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
incubator/kafka

**What happened**:
`helm install --name kafka --set prometheus.jmx.enabled=true --namespace backend incubator/kafka`
then no service was made so that i could scrape the metrics.

**What you expected to happen**:

[2018-12-06 10:19] desaintmartin commented on #3011
I think this can be updated regarding at least Label immutability (done).

[2018-12-06 11:31] chrisduong opened #9769 "[stable/external-dns] app version 0.5.9, using AWS access key will not work"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Which chart**:
- stable/external-dns, version 1.1.1

**What happened**:
AWS access key didn't work

** Reason**:

The recent app update v0.5.9 won't run as user _root_ but _nobody_. The Chart will create AWS credentials under this folder `/root/.aws`, then the user _nobody_ cannot read that f

[2018-12-06 11:35] mihau commented on #9298
@cpanato let me know your thoughts on the PR.

[2018-12-06 11:52] tdihp commented on #1863
@dnauck Are you using `RollingUpdate` deployment strategy? I suspect it's that making a "standoff" situation between the starting pod and the pod refusing to terminate, fighting for the same PVC. Using `.spec.strategy.type==Recreate` would first make the pod terminate. thus preventing the "standoff".

[2018-12-06 11:57] tdihp commented on #1863
@desaintmartin the PVC deleting didn't bite me, but `persistentVolumeReclaimPolicy:Delete` bit me hard :(

[2018-12-06 13:00] rishiraaz commented on #8925
Thanks c4m4

[2018-12-06 13:00] #8925 closed

[2018-12-06 13:02] rishiraaz opened #9773 "[stable/prometheus] SSH/Exec doesnt happen in prometheus-server pod"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:
helm: 2.9.1
k8s: 1.9.10

**Which chart**:
stable/prometheus

**What happened**:
The pods dont allow exec into it, the issue is with prometheus-server pod

**What you expected to happen**:
Should allow exec

**How to reproduce it** (as minimally a

[2018-12-06 13:56] yregaieg commented on #6674
@Fgruntjes I am kind of noob in this area, but I managed to workaround this issue by :
1- access kubernetes dashboard
2- point to the namespace I deployed the chart to
3- access the deployments section
4- update it to have the elastic url points to <release-name>-elasticsearch-client.<namespace>.svc.cluster.local
And that seems to have done the trick !

[2018-12-06 14:07] kartoch opened #9776 "[stable/kubernetes-dashboard] cannot create in namespace other than kube-system"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

[code]

**Which chart**: stable/kubernetes-dashboard

**What happened**:

[code]
**CrashLoopBackOff**

**Logs pod:***

[code]

**What you expected to happen**:

No **CarshLoopBackOff* if namespace not "kube-system"

**How to reproduce it** (as minimally and precisely as possible):

(tiller i

[2018-12-06 14:20] tony-kerz opened #9777 "spinnaker: allow for external redis?"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): feature-request

**Version of Helm and Kubernetes**: `2.10.x`, `1.10.x`

**Which chart**: spinnaker

**What happened**: couldn't specify external redis

**What you expected to happen**: can specify external redis

**How to reproduce it** (as minimally and precisely as possible): attempt to specify

[2018-12-06 14:37] f84anton commented on #8635
@thomas-riccardi, I dont think it's some kind of the rabbitmq management plugin issue. That's just misconfigured probes.

[2018-12-06 15:04] thomas-riccardi commented on #8635
@f84anton how would you configure the probes then?

The readiness probe should raise an error when cutting new incoming connections would help resolve the issue.
For memory and disk alarms it is tricky as maybe solving the issue is done by adding more consumers, which do need to connect to rabbitmq. Or maybe new connections are just for producers, which would then be blocked by the alarm: these ne

[2018-12-06 15:11] thomas-riccardi commented on #8635
@f84anton as for your second sub-issue:

It seems to be a different issue: your node seems to take a lot of time to start up, and the default liveness probe configuration is not calibrated for that and raises an error too early.
If that is the case, then you should change the liveness probe configuration (mainly the `initialDelaySeconds`, which defaults to `120`):
https://github.com/helm/charts/bl

[2018-12-06 16:23] jsullivan5 commented on #9667
We solved this.  Proxy service was pulling in an unexpected role for our fluentd node.  Cheers. 🍻

[2018-12-06 16:23] #9667 closed

[2018-12-06 16:34] poliez opened #9781 "[incubator/kafka] installation fails if `external.enabled` is set to true (version 0.13.2)"
**Version of Helm and Kubernetes**
Helm 2.11.0, Kubernetes 1.11.5

**Which chart**
incubator/kafka

**What happened** and **How to reproduce it**
Issuing the command `helm install --name foo --set external.enabled=true incubator/kafka --version 0.13.2` fails with this output: `Error: render error in "kafka/templates/service-brokers-external.yaml": template: kafka/templates/service-brokers-external

[2018-12-06 20:11] oursland opened #9788 "Cannot install elastic-stack in Minikube"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

**Version of Helm and Kubernetes**:

Host OS: Ubuntu 18.04
VM Driver: VirtualBox
Minikube Version: v0.30.0
Kubernetes Version: v1.10.0
Helm Version: v2.11.0

**Which chart**:

stable/elastic-stack

**What happened**:

Unable to complete deployment of the elastic-stack chart unless the Min

[2018-12-06 20:12] dan-j commented on #7647
@pentago It would be great if you commented the solution if you marked the issue as closed :)

[2018-12-06 22:40] ewbankkit opened #9790 "[stable/kiam] Add support for final kiam v3.0 release"
kiam v3.0 has been [released](https://github.com/uswitch/kiam/releases/tag/v3.0) 😄.
Add support to the Helm chart.
The following should probably be merged first:
* ~One of https://github.com/helm/charts/pull/9755 or https://github.com/helm/charts/pull/9526~ https://github.com/helm/charts/pull/10353
* https://github.com/helm/charts/pull/9528
* https://github.com/helm/charts/pull/9262
* One of https

[2018-12-07 05:07] kmova commented on #9691
The chart has been updated to 0.8.0. If the monitoring is enabled, the "prometheus.io/scrape" and "prometheus.io/port" annotations are added to the volume target pods.

[2018-12-07 05:15] #809 closed

[2018-12-07 06:15] #2976 closed

[2018-12-07 06:58] judexzhu commented on #9136
Facing the similar issue in

stable/grafana	1.19.0
appVersion: 5.3.4
kiwigrid/k8s-sidecar:0.0.6

grafana-sc-datasources logs

`Working on configmap monitoring/prometheus-operator-grafana-dashboard-k8s-resources-cluster
Working on configmap monitoring/prometheus-prometheus-operator-prometheus-rulefiles-0
Working on configmap monitoring/prometheus-operator-grafana-dashboard-k8s-resources-pod
Working

[2018-12-07 07:39] 4ydx opened #9791 "[stable/prometheus] node_exporters are unreachable from the prometheus server"
This happens in digital ocean's managed kubernetes environment.  They use flannel I believe.

helm install --name prometheus-service stable/prometheus

Results in node_exporters having an ip address that matches the internal-ip address of the node it runs on as reported by kubectl get nodes -o wide.

[code]
Note that node-C is 10.136.113.228.
[code]
prometheus-service-node-exporter-z is running on

[2018-12-07 07:44] embik commented on #9227
Ping @robermorales @jackzampolin @mgoodness @chancez, is this being worked on by someone?

[2018-12-07 07:50] yiwenshao opened #9792 "Request for hadoop high availality chart"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST
need ha support for hadoop chart.:
As described in [https://github.com/helm/charts/tree/master/stable/hadoop](https://github.com/helm/charts/tree/master/stable/hadoop), the current stable/hadoop chart does not provide ha support for hdfs and yarn. This issues requests for ha featur

[2018-12-07 08:15] blacksails opened #9793 "[stable/prometheus-operator] Remove dependencies to support the chart being used in an umbrella chart"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Prometheus operator is a component that a lot of people consider a core part of setting up a kubernetes cluster. Therefore it should be able to use it in an umbrella chart. To my understanding there is currently issues with enabling/disabling subsubcharts through requirement condit

[2018-12-07 08:15] #7811 closed

[2018-12-07 08:46] 4ydx commented on #9791
After looking into it further this, for better or worse, is simply how digital ocean networking works at the moment within clusters.  For now I am just running the helm chart with node_exporters disabled:

helm install --name prometheus-service stable/prometheus --tls --set nodeExporter.enabled=false

[2018-12-07 08:46] #9791 closed

[2018-12-07 08:48] tsmgeek commented on #9450
Note that now 4.7.0 has been released.

[2018-12-07 09:46] andrleite commented on #9118
We were faced the same error @shangjin92 , in our case is because we generated our own certificates for kubernetes and we didn't have the complete chain of our ca certificate. I think the python request lib need to verify the complete chain of CA certificate. After we added the CA_BUNDLE in /etc/kubernetes/pki/ca.crt, the problem was solved.

[2018-12-07 10:12] pentago commented on #7647
@franrebo84 @dan-j I felt there was no need since you guys fixed it and it started working as expected. I tested it extensively about 1.5 months ago and it worked just as advertised.

@franrebo84 you have issues? Why no posting your values.yaml or equivalent deployment command?

[2018-12-07 11:12] dan-j commented on #7647
I’m not part of the project, I just encountered the same issue yesterday and couldn’t find a workaround. Strange that it just started working for you.

What version of chart are you using? I’m using the @stable/wordpress chart so maybe that is depending on an earlier version

[2018-12-07 11:52] slimee opened #9794 "MountVolume.SetUp failed for volume “mongo-two”: lstat /mongo/data: no such file or directory"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: helm v2.10.0-rancher5, kubernetes v1.11.5

**Which chart**: mongo-replicaset 3.8.0

**What happened**:
Deploying never end, kubelet logs infinitely:
`MountVolume.SetUp failed for volume “mongo-two”: lstat /mongo/data: no such file or directory`
But /

[2018-12-07 12:50] franrebo84 commented on #7647
I'm still having the same issue. I tried with your exact helm command with stable and bitnami chart and still get this error:

`  Warning  FailedCreate      6s (x14 over 27s)  statefulset-controller  create Pod mariadb-mariadb-master-0 in StatefulSet mariadb-mariadb-master failed error: Pod "mariadb-mariadb-master-0" is invalid: spec.containers[0].volumeMounts[2].mountPath: Invalid value: "/bitnam

[2018-12-07 13:47] zakkg3 commented on #4763
https://github.com/kubernetes/ingress-nginx/blob/master/docs/annotations.md
still broken

[2018-12-07 14:18] vinodhalaharvi opened #9799 "link in the read me seems to be broken"
This link at the main page seems to be broken for me https://heptio.github.io/ark/v0.9.0/cloud-common

[2018-12-07 14:30] javsalgar commented on #9359
Hi,

Thanks for the feedback. Check https://github.com/helm/charts/pull/9801

[2018-12-07 14:34] javsalgar commented on #3855
Hi,

Thanks for the feedback. If this issue is constant, then maybe it makes sense to change the readiness/liveness probes to simple tcp port checking. Thoughts on that?

[2018-12-07 14:41] #9349 closed

[2018-12-07 14:45] javsalgar commented on #9662
Hi,

Thanks for the feedback. By being able to have SSL, you mean to connect to a database with SSL enabled, or to access phpmydamin with SSL?

[2018-12-07 15:10] AdrieVanDijk opened #9805 "[stable/rabbitmq-ha] Ignoring a CA cert as it could not be correctly decoded / Failed to get nodes from k8s"
**Is this a request for help?**:

Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm version --tls
Client: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean

[2018-12-07 15:33] PierluigiLenociAkelius commented on #9227
Same here with chart 1.0.1 (k8s 1.12.3, helm 2.8.1)

[2018-12-07 15:39] william-tran commented on #8384
If stale PRs are auto-closed like above then I can live with that

[2018-12-07 17:32] slimee commented on #9794
Ok the difference was I use a contenairized kubelet.
I add my volume bound into kubelet container and it's OK.

[2018-12-07 17:32] #9794 closed

[2018-12-07 20:02] jaipradeesh commented on #9074
Will try to open a PR on this sometime next week.

[2018-12-07 20:12] #7407 closed

[2018-12-07 21:22] desaintmartin commented on #7516
Dear bot, please don't.
cc @kfox1111

[2018-12-07 23:51] tableau2kube opened #9818 "[incubator/cassandra] backup fails is rbac is enabled"
BUG REPORT

Install Cassandra with backup enabled.

When the job is scheduled it fails to run with `cassandra-backup: serviceaccount "deployment-cassandra-backup" not found`

[code]

[code]

**Version of Helm and Kubernetes**:
Kubernetes 1.10 EKS
Helm
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemV

[2018-12-08 02:37] dNetGuru commented on #3855
@javsalgar I tried again with the latest version of the chart (rabbitmq-4.0.1) with Rabbitmq 3.7.9 (Erlang 21.1) and this problem does not seem to happen anymore.

[2018-12-08 04:12] #8718 closed

[2018-12-08 04:55] joerghall opened #9819 "[incubator/cassandra] backup fails with `container cassandra is not valid for pod deployment-cassandra-0`"
BUG REPORT

Install Cassandra with backup enabled. The scheduled backup will fail.

**Version of Helm and Kubernetes**:
EKS 1.10
helm:
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

**Which chart**:
incubator/

[2018-12-08 09:10] petcumihai opened #9820 "[stable/rabbitmq] failed_connect to_address kubernetes.default.svc.cluster.local"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
**BUG**

**Version of Helm and Kubernetes**:
Helm v2.12.0
Docker Edge Engine v18.09.0
Kubernetes v1.10.3
MacOS Mojave v10.14.1

**Which chart**:
stable/rabbitmq

**What happened**:
$ helm install --name my-release stable/rabbitmq

[code]

**What you expected to happen**:
To install the chart

**How to

[2018-12-08 10:12] #8730 closed

[2018-12-08 13:08] #8519 closed

[2018-12-08 13:08] #8739 closed

[2018-12-08 14:10] vinicyusmacedo opened #9822 "[stable/spinnaker] when using GCE ingress static ip, static files give a 404"
**Is this a request for help?**: no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Helm
[code]

Kubernetes
[code]

**Which chart**:
stable/spinnaker

**What happened**:
When setting the ingress to true and using a GCE ingress, any .js file will give a 404 because they fall to the default-backend and Spinnaker gets stuck on the "Hell

[2018-12-08 14:11] petcumihai commented on #9820
Apparently I had a custom Search Domain setup on my mac. Removed that, restarted mac, seems to work now.

[2018-12-08 14:11] #9820 closed

[2018-12-08 14:17] rajn27 opened #9823 "stable/grafana unable to import dashboard."
**Is this a request for help?**:yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG/config

**Version of Helm and Kubernetes**:
Helm v2.10.0
Kubernetes- v1.12.3+IKS

**Which chart**:
 stable/grafana 1.18.0    5.3.4

**What happened**:
Trying to add dashboards in grafana values.yaml

**What you expected to happen**:
dashboard to be visible on GUI

**How to reproduce it** (as mi

[2018-12-08 17:07] #8750 closed

[2018-12-08 18:03] haris44 opened #9825 "[stable/keycloak] cannot deploy with custom values.yaml"
**Version of Helm and Kubernetes**:
Kubernetes 1.11

**Which chart**:
stable/keycloak

**What happened**:
when I try to deploy keycloak with default values.yaml, the container never start

**How to reproduce it** (as minimally and precisely as possible):
copy values.yaml, and try to deploy with "helm install -f keycloak.yaml stable/keycloak"

[2018-12-08 18:10] haris44 commented on #9825
i think it's because keycloak values.yaml pull 4.5.0 image ?

[2018-12-08 20:07] #7487 closed

[2018-12-08 21:07] #8313 closed

[2018-12-08 21:07] #8765 closed

[2018-12-09 09:47] dellkeji commented on #9289
I have this error:

Error: release cert-manager failed: customresourcedefinitions.apiextensions.k8s.io "certificates.certmanager.k8s.io" already exists

when i reinstall stable/cert-manager

how to resolve this

[2018-12-09 10:21] somcsel opened #9828 "[stable/traefik] Support mutual TLS authentication"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:

[code]

**Which chart**: stable/traefik

**What happened**: Unable to configure traefik to enable [mutual TLS authentication](https://docs.traefik.io/configuration/entrypoints/#tls-mutual-authentication)

**What you expected to happen**: The chart

[2018-12-09 10:50] somcsel commented on #9828
Created PR #9829 for this

[2018-12-09 11:19] maver1ck commented on #9066
ping @rendhalver

[2018-12-09 11:20] maver1ck commented on #7978
/remove-lifecycle stale

[2018-12-09 11:20] maver1ck commented on #8894
/remove-lifecycle stale

[2018-12-09 14:07] #8348 closed

[2018-12-09 14:07] #8788 closed

[2018-12-09 15:45] flypenguin opened #9832 "[stable/postgresql] using existing PVC is broken"
**Is this a BUG REPORT or FEATURE REQUEST? (choose one):**
Feature request

**Version of Helm and Kubernetes**:
Helm: 2.11.0, K8S: 1.11.3 (Server), kubectl 1.12.2

**Which chart**:
stable/postgresql, v3.0.0

**What happened**:
I tried deploying using an existing PVC.

**What you expected to happen**:
The state would be as before (the PVC would be used as data mount)

**How to reproduce it** (as mi

[2018-12-09 16:58] braykov commented on #8425
Here, take some activity

[2018-12-09 18:04] flypenguin commented on #9832
I fixed it I think, see commit above. could @desaintmartin review maybe? you're listed as maintainer.

[2018-12-09 18:17] flypenguin commented on #9832
According to bot: /assign prydonius :)

[2018-12-09 22:04] savealive commented on #9136
Hello, we also experience the same issue on latest chart version.
[code]

Grafana keeps crashing:
[code]
Shall we reopen the ticket?

[2018-12-09 23:07] #9823 closed

[2018-12-09 23:09] #8798 closed

[2018-12-10 02:49] willyyang opened #9839 "Datadog chart- unable to get APM traces working with cluster agent setup"
**Version of Helm and Kubernetes**:
Helm: 2.11.0
K8s: client: 1.12.0, server: 1.9.6

**Which chart**:
Datadog

**What happened**:
Unable to get manual traces (apm) data to show up in Datadog by using the chart to configure a Datadog cluster agent set up .

**What you expected to happen**:
Trace should show up in Datadog if configuration of cluster-agent + daemonset are correct.

**How to reproduce

[2018-12-10 04:09] #8805 closed

[2018-12-10 07:22] NiuZhuang opened #9843 "[stable/jenkins] helm install failed: PodInitializing"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm version: 2.12
kubernetes: 1.10.11

**Which chart**:
stable/jenkins

**What happened**:
Jenkins pod gets Init:CrashLoopBackOff.
describe pod says container terminated  due to /var/jenkins_config/apply_config.sh failed with exit code 1

**What you

[2018-12-10 07:55] paskal commented on #9793
I'm using prometheus-operator as a subchart of my own chart, and values are propagated properly to it. How is your scenarios is different from mine? Your description (answer to what you did, and what you expect to happen) is not clear at all at current state.

[2018-12-10 08:03] MIllgner commented on #9136
@jbouzekri , please reopen this ticket ^^^

[2018-12-10 08:04] jbouzekri commented on #9136
@MIllgner : I don't have the permission to do it so I will just see if by commenting, the robot reopens it ;)

[2018-12-10 08:37] blacksails commented on #9793
@paskal are you configuring any of the subcharts of prometheus-operator?

[2018-12-10 08:41] paskal commented on #9793
Yes, of course, here is my `values.yaml`:
[code]

[2018-12-10 08:44] blacksails commented on #9793
@paskal It might be related to me changing the boolean used as condition in requirements.yaml. I will see if I can reproduce it again on a new chart in a few minutes.

[2018-12-10 08:44] blacksails commented on #9793
I also tried to improve the issue description a little to make it more clear.

[2018-12-10 09:06] tompizmor commented on #9510
The fix for this issue was proposed at https://github.com/helm/charts/pull/9512 and finally implemented at https://github.com/helm/charts/pull/9646. I think this issue can be closed

[2018-12-10 09:08] paskal commented on #9793
By the way, it's important how do you use that chart: if your version of prometheus-operator is unaltered, you should just run `helm dependency update` in root of your parent chart, and it will fetch prometheus-operator tar.gz to charts folder. If you have in unpacked, then you need to run same command in `charts/prometheus-operator/` directory so it will fetch it's own dependencies.

[2018-12-10 09:08] kivoli commented on #9510
Yes.

[2018-12-10 09:08] #9510 closed

[2018-12-10 09:49] nhoughto commented on #9580
Make default backend optional, more of a v0.20 feature tho..
same as https://github.com/helm/charts/issues/9257

[2018-12-10 10:07] savealive commented on #9136
Since I've got grafana installed as dependency for prometheus-operator it didn't have "NAMESPACE" env var to force /app/sidecar.py look for configmaps in specified namespace only.
But I'm pretty sure it's not the root cause. Looks like strconv.ParseUint unable to parse configmap due to invalid characters in it.

[2018-12-10 10:14] obeyler opened #9844 "[Stable/prometheus] securityContext"
**BUG REPORT
**Version of Helm and Kubernetes**:
Kubernetes 1.12.3
helm 2.10.0

**Which chart**:
stable/prometheus

**What happened**:
when I add a securityContext:
runAsUser: 1000

prometheus-server is not able to launch
on the log:

 `container "prometheus-server-configmap-reload" in pod "prometheus-server-6c7d4b74d5-jb2c7" is waiting to start: PodInitializing
`

**What you expected to happen**:

[2018-12-10 10:22] blacksails commented on #9793
I think this issue is really a matter of deciding wether or not the prometheus-operator chart should have subcharts which are able to be toggled on and off. That functionality does not work when using it in an umbrella chart.

I would argue that it shouldn't have grafana at least. For people who want an all-in-one installation, it would be better to have a separate chart for that which installed a

[2018-12-10 10:56] paskal commented on #9793
FYI there are some issue which is present only in 11.2+ versions of k8s, https://github.com/helm/helm/issues/4925. I'll try to reproduce your issue and understand what is wrong.

[2018-12-10 11:12] npiganeau opened #9847 "[stable/postgresql] Setting persistence.enabled=false breaks the chart"
**Version of Helm and Kubernetes**:
Helm: v2.11.0
Kubernetes: v1.12.2

**Which chart**:
stable/postgresql

**What happened**:
$ helm install --set "persistence.enabled=false" --name pg-demo stable/postgresql

Error: YAML parse error on postgresql/templates/statefulset.yaml: error converting YAML to JSON: yaml: line 88: mapping values are not allowed in this context

**What you expected to happen**

[2018-12-10 11:34] paskal commented on #9793
I was able to reproduce it.
To fix the issue you need to:

1. download prometheus-operator to `charts` directory of your parent chart
1. issue `helm dependency update` command in `/charts/prometheus-operator`
1. change `condition: grafana.enabled` to `condition: prometheus-operator.grafana.enabled` in `/charts/prometheus-operator/requirements.yaml`

This will fix the problem for you, downside of t

[2018-12-10 11:42] bpiselli commented on #2976
Hello guys,

I feel alone but for me it is really not working
using
`helm install -f values.yaml stable/mongodb-replicaset`
With those values.yaml
[code]

But I am still able to connect directly
`mongo xx.xx.xx.xx:27017/admin` without any user / password
and of course, user and password does not work : getting crazy on that.

I did not test https://github.com/helm/charts/issues/2976#issuecomment-3

[2018-12-10 12:08] blacksails commented on #9793
I dislike the idea of changing stuff in the charts folder. Then I would need to commit the hacked prometheus-operator chart to our umbrella chart.

Grafana is used for a lot more than just prometheus-operator, so to me it doesn't make sense that the prometheus-operator chart should claim ownership of configuring grafana. I understand that it is nice to be able to template out the grafana configura

[2018-12-10 13:07] swistaczek opened #9849 "[stable/keycloak] Expose 7600 port for JGroups"
Current **stable/keycloak** chart won't work on service mesh like Istio without sharing **JGROUPS** port (default 7600). We need to expose that port on "keycloak-headless" service which is used for DNS_PING cluster discovery method.

[2018-12-10 13:10] natarajmb commented on #9619
@liyaka
Thanks for the report and it helped me solve my issue. Hope I could give my 2p knowledge here on the issue as I faced several. If you look at the logs while the pods are being created you would see the errors reported for any of the scripts (hint: kubectl logs <pod_id> -f). What I have noted is that you can't create the SUPERUSER role once a normal DB user is created (as normal user wont h

[2018-12-10 14:02] #9849 closed

[2018-12-10 15:11] Freyert opened #9858 "[stable/mongodb-replicaset] helm tests are not correct"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Not relevant

**Which chart**: stable/monodb-replicaset

**What happened**:
With `auth` turned on we saw the following error when running `helm test`:
[code]

After running several of these tests manually we concluded that tests 2-4 should have failed

[2018-12-10 15:16] unguiculus commented on #9858
Thanks for the detailed analysis. Would you mind providing a fix?

[2018-12-10 16:16] Freyert commented on #9858
Sure thing!

[2018-12-10 19:45] #9300 closed

[2018-12-10 20:02] gajus opened #9871 "prometheus-operator additionalServiceMonitors attempts to create a ServiceMonitor with an empty name"
https://github.com/helm/charts/blob/9143206f0af35b7010c05b836a0d86aa68f002fa/stable/prometheus-operator/templates/prometheus/servicemonitors.yaml#L9

It appears that this variable does not have a value _or_ it is unclear how to configure it.

My configuration is as follows:

[code]

[2018-12-10 22:01] mrichman opened #9875 "[incubator/fluentd-cloudwatch] Permission denied @ rb_sysopen"
I'm new to fluentd. Just deployed to my EKS cluster using helm for the first time using these commands:

[code]

When I look at the pod logs, I see this:

[code]

I attached the CloudWatch Logs policy to the worker node IAM role.

[code]

[2018-12-10 22:20] mrichman commented on #9875
I used this configuration, and it has no issues: https://eksworkshop.com/logging/deploy.files/fluentd.yml

Just wondering what the differences are. Perhaps your is intended to work with kops and the other with EKS?

[2018-12-10 22:23] boskiv opened #9877 "Can't install stable/fluentd-elasticsearch"
**BUG REPORT**

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
[code]

**What happened**:
[code]

**What you expected to happen**:
Chart installed

**How to reproduce it** (as minimally and precisely as possible):
[code]

**Anything else we need to know**:
I have also tried to run command from README, same result.
[code]

[2018-12-10 22:44] boskiv commented on #9877
I'have found an error in values.yml
Should be:
[code]
instead of:
[code]

[2018-12-10 23:15] niclic commented on #1569
Here's how we made this work, without making any changes to the `mongodb-replicaset` chart. This should work also for the `mongodb` chart.

The relevant issue is clearly stated [here](https://github.com/mongodb/specifications/blob/master/source/server-discovery-and-monitoring/server-discovery-and-monitoring.rst#clients-use-the-hostnames-listed-in-the-replica-set-config-not-the-seed-list):

There i

[2018-12-10 23:44] #9877 closed

[2018-12-11 01:56] yuanpli commented on #9776
Faced the same issue. :(

[2018-12-11 02:01] NiuZhuang commented on #7657
Same issue here. Failed to helm install jenkins.

[2018-12-11 02:02] JonathanRRogers opened #9880 "Selenium: Firefox deployment lacks /dev/shm mount"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm v2.9.1
Kubernetes 1.11.3-gke.18

**Which chart**:
Selenium

**What happened**:
Only Chrome deployment mounts /dev/shm to increase shared memory available.

**What you expected to happen**:
Firefox deployments should also mount /dev/shm.
https://bugzilla.mozilla.org/show_bug.cgi?id=133877

[2018-12-11 03:13] NiuZhuang commented on #9843
I figure out this issue followed by below steps:

- ssh k8s node
- journalctl -fu docker.service
- My Error returned error: Get https://gcr.io/v2/: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting.

gcr.io is a google website, which is blocked in China. I need a VPN to walk it through.

[2018-12-11 03:14] #9843 closed

[2018-12-11 03:58] devzsolt commented on #8805
helpful bot, lol :rofl:

[2018-12-11 06:44] iamShantanu101 commented on #9756
So, should take it as "Not possible with helm charts"? Because I tried changing image in elasticsearch as well. But after adding `xpack.security.enabled = true`, the elasticsearch deployment was causing issue with authentication. I believe it was looking for the appropriate credentials like `username:password` which I couldn't find in the elasticsearch helm charts either (or maybe I will double-ch

[2018-12-11 09:02] omegazeng opened #9884 "[stable/openldap]Deleting the Deployment will DELETE associated Persistent Volumes if persistence is enabled."
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm version --tls
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"cle

[2018-12-11 09:33] maxfofocker opened #9885 "Traefik ACME tlsChallenge could not correctly get Let's Encrypt Certification"
My Environment:
[code]

[code]

My helm values.yaml
[code]

My GKE LOG is still loop
[code]

I confirm my etcd connect is correctly, bug I still can not run TLS verify.
Why log show me "Add certificate for domains *.example.com", but my setting is "main: "younger-life.info""?
How to resolve this issue, Is my values.yaml setting is error, or other error?

I get some other log.
[code]

[2018-12-11 10:43] desaintmartin commented on #9844
I have this problem. the "nami" daemon will run postgres with 1001:1001 anyway.

[2018-12-11 10:51] court-jus opened #9888 "README needs update for stable/redis about master.disableCommands"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

bug (documentation)

**Version of Helm and Kubernetes**:

* **helm**: 2.11.0
* **kubernetes**: 1.10.0 (minikube)

**Which chart**:

stable/redis

**What happened**:

The default value for `master.disableCommands` in the README file is `"FLUSHDB,FLUSHALL"`, it should be updated to:

[code]

The `value

[2018-12-11 11:16] mdomke commented on #8510
@francois-travais are you already working on a PR for this? I'm having the same problem and would otherwise work on this.

[2018-12-11 11:57] nsaboo commented on #9776
Facing the same issue :(

[2018-12-11 12:06] francois-travais commented on #8510
@mdomke no I'm not and I won't.

I submitted other PRs (#9311, #9224 and #9222), none of them got merged, and if an issue existed for them, they got closed even so they are pretty simple fixes.

I'm done trying to improve this chart, I did my own company-internal fork.

[2018-12-11 12:41] KeZhang commented on #9699
I encounter the same issue and the template miss the quota, I use the following config as workaround
`postgresqlConfiguration:
    "sharedBuffers": "'1GB'"
    "maxConnections": 1000
    "listenAddresses": "'*'"`

[2018-12-11 13:31] XiaoMuYi opened #9893 "[stable/prometheus-operator] KubeControllerManagerDown & KubeSchedulerDown"
**Is this a request for help?**:
yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
[code]
**Which chart**:
[code]
**What happened**:
KubeControllerManagerDown  & KubeSchedulerDown not firing

ALERTS:
KubeControllerManagerDown (1 active)
KubeSchedulerDown (1 active)

**What you expected to happen**:
[code]
I hope prometheus-ope

[2018-12-11 13:52] maorfr commented on #9819
Hey @joerghall,

Thanks for bringing this up.
The default container name to use is `cassandra`, as you found out.

To use a different container name, you can specify the `--container` flag in CronJob's arguments:
https://github.com/helm/charts/blob/master/incubator/cassandra/templates/backup/cronjob.yaml#L33

So instead of:
[code]

You should do:
[code]

More options can be found here:
https://git

[2018-12-11 14:24] maorfr commented on #9819
And after this PR is merged, you can define it in `values.yaml` under `backup.extraArgs`

[2018-12-11 14:33] AndresPineros opened #9895 "[stable/seq] volumes not working"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Kubernetes 1.10.6
Helm 2.11.0

**Which chart**:
stable/seq

**What happened**:
Volume mount not being created for pod even when persistence flag is true.

**What you expected to happen**:
Data to be persisted between restarts of the application

**How to reproduce it** (as minimally and preci

[2018-12-11 14:52] kolesoffac opened #9896 "[stable/prometheus-postgres-exporter] Wrong when set port"
**Is this a BUG REPORT?**

There is bug when set port:
`--set config.datasource.port=6000`

Secret is wrong string:
`... :%!s(float64=6000) ...`

Here say this about.
https://github.com/helm/helm/issues/1707

[2018-12-11 15:31] steven-sheehy commented on #8510
@francois-travais Your PRs have never been assigned to anyone, so that's why no one even looks at them. I understand your frustration, but there are only a handful of approvers and 400+ PRs. If you bump their chart versions, I can assign to someone and try to get them noticed and approved as they're good improvements. Or if you're against that, maybe I can create a combined PR incorporating your c

[2018-12-11 16:59] #8821 closed

[2018-12-11 17:59] #8823 closed

[2018-12-11 18:47] steven-sheehy commented on #9858
Test 4 also has a sleep that is brittle and should really be changed to an until loop like in on-start.sh

[2018-12-11 22:48] #9858 closed

[2018-12-12 00:41] ricardofbarros commented on #7677
@servicemeshistio Unfortunately I didn't did a PR with this feature because I didn't get any feedback from a core maintainer if this feature would be useful or not.

[2018-12-12 01:59] #8660 closed

[2018-12-12 05:45] lachlancooper commented on #8879
We're experiencing the same problem with the consul chart. It appears to affect a number of other stable charts too:

https://github.com/helm/charts/issues/7979
https://github.com/helm/charts/issues/7708

The original intention behind generating random test pod names was to allow consecutive test runs, but that seemingly no longer applies as `helm test` has supported a `--cleanup` flag since https

[2018-12-12 07:37] tompizmor commented on #9493
I am afraid that currently, the Postgres chart does not support to create multiple databases using just the command line.
However, you could use custom init scripts to create all the databases you want during the first Postgres initialization.
Check this section in the [README](https://github.com/helm/charts/tree/master/stable/postgresql#initialize-a-fresh-instance)

[2018-12-12 08:46] warrenseymour commented on #9871
I am facing the same issue; adding an `additionalServiceMonitor` with a configuration similar to the above results in `Error: UPGRADE FAILED: Could not get information about the resource: resource name may not be empty`

[2018-12-12 08:50] huxiaoliang commented on #9241
I encountered this issue (`unable to recognize "": no matches for kind`) sometimes when fresh install chart, but I can't reproduce it stably. I install CRD by `crd-install` annotation and create CR instance within the chart , but it seems the create CR instance failed due to CRD is not ready in race condition case.

[2018-12-12 08:52] liyaka commented on #9619
@natarajmb
In my case postgresqlUsername is not set, but still, nothing is running. I can see my script in ConfigMap, nothing appears in the log of the container.
I also tried to add a file under files/docker-entrypoint-initdb.d instead- same picture - appears in ConfigMap correctly but does not run, no errors in the log.
Suggestions?

[2018-12-12 08:54] pho-enix opened #9913 "[stable/chartmuseum] Make /storage writable by chartmuseum user"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: N/A

**Which chart**: chartmuseum

**What happened**: Deploying with pvc as storage. The /storage is owner root 755. It's not possible to upload charts via the API because the user chartmuseum does not have write access to /storage.

**How to fix**: I added spec.securityContext.fsGroup: 1000.

[2018-12-12 08:58] warrenseymour commented on #9871
@gajus Hey, I just solved this - although its not stated anywhere in the docs, each `additionalServiceMonitor` entry requires a `name` property. So your example would become:

[code]

[2018-12-12 08:58] cwinkler opened #9914 "[stable/phpmyadmin] not working with traefik ingress controller"
**Is this a request for help?**: yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
- Helm:
  - Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
  - Server: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean

[2018-12-12 10:09] nseyvet commented on #2607
Same problem here.

[2018-12-12 10:09] gajus commented on #9871
Thank you for sharing.

[2018-12-12 10:09] #9871 closed

[2018-12-12 10:30] #8692 closed

[2018-12-12 10:31] Tapanito commented on #9885
I was having the same issue last night. From what I gather, the issue is that traefik itself does not pre-populate the key-value store. See here: https://docs.traefik.io/user-guide/kv-config/#store-configuration-in-key-value-store

To populate the key-value store on k8s, after starting traefik, I ran a Job to populate the store and then re-created traefik pods.

[code]

[2018-12-12 10:43] stephenmoloney commented on #9847
I've noticed this error also.

[2018-12-12 10:52] kolesoffac commented on #9896
This resolved in https://github.com/helm/helm/pull/3599

[2018-12-12 10:53] #9896 closed

[2018-12-12 10:53] darrylb-github commented on #9019
Setting `sslCertPath: /etc/kubernetes/pki/ca.crt` on EKS resolved this for me

[2018-12-12 10:57] HBO2 opened #9918 "double entry of ports in value.yaml file logstah"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
K8S 1.11.5

**Which chart**:
https://github.com/helm/charts/tree/master/stable/logstash

**What happened**:
Double entry of port in value.yaml line 48-60

**What you expected to happen**:
no double entry of port

**How to reproduce it** (as minimally and precisely as possible):

**Anythi

[2018-12-12 12:03] rk295 opened #9925 "minecraft fails to install with default options"
Installing the latest minecraft chart with the example from the `README.md` fails:

[code]

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**: minecraft

**What happened**: deployment failed with default options

**What you expected to happen**: a server should be deployed into the cluster and be running.

**How to reproduce it** (as minimally and precisely as possible):

From t

[2018-12-12 13:11] marcelloromani opened #9934 "[stable/jenkins] Pre-provision agents"
**FEATURE REQUEST**

Problem I'm facing: when launcing a build after the master has been idle for some time, I need to wait for an agent to be provisioned before the build can start.

Proposed solution (my feature request): keep a pool of agent pre-provisioned (akin to what happens in typical non-k8s deployments) so that builds can start executing right away, and the wait for new agents to be prov

[2018-12-12 13:43] codemasterover9000 opened #9936 "[stable/keycloak] Upgrade with h2 deletes credentials"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT(?)

Keycloak is part of a development/test stack running in minikube which imports a realm.json complete with users. We use the standard h2 database.

When upgrading with Helm I expected the Keycloak instance to remain unchanged/untouched. This does not happen as the Keycloak admin credentials secret get removed from the environ

[2018-12-12 13:53] #8724 closed

[2018-12-12 15:11] obeyler opened #9940 "[stable/mariadb] probe failed if you set rootUser password"
**BUG REPORT** :

**Version of Helm and Kubernetes**:
helm 2.10
K8S : 1.12.3

**Which chart**:
stable/mariadb

**What happened**:
probe failed if you set rootUser password
`helm install stable/mariadb -n mariadb --debug --namespace mariadb --set rootUser.password=mypassword
`
![image](https://user-images.githubusercontent.com/23224162/49878511-09b7fd80-fe28-11e8-8130-c77d8683c8c0.png)

**What you

[2018-12-12 15:30] viggeh opened #9941 "[stable/prometheus-operator] Chart not working with helm 2.12.0"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/prometheus-operator

**What happened**:
[code]

**What you expected to happen**:
Prometheus-operator chart to be installed.

**How to reproduce it** (as minimally and precisely as possible):
1. Have helm at `2.11.0` ins

[2018-12-12 15:38] carmat88 opened #9942 "[stable/mysql] ERROR 1045 (28000): Access denied for user 'root'@'...' (using password: YES)"
**Is this a BUG REPORT or FEATURE REQUEST?**:
- Bug report

**Version of Helm and Kubernetes**:
- Helm version:
[code]
- Kubeadm version:

[code]

- Kubectl version:
[code]

**Which chart**:
- [stable/mysql](https://github.com/helm/charts/tree/master/stable/mysql)

**What happened**:
Once the chart is installed we are unable to login into the mysql server despite following the steps in the NOTES,

[2018-12-12 16:06] #7516 closed

[2018-12-12 16:17] burnettk opened #9944 "[stable/redis-ha] do we still need a statefulset"
**Which chart**:

stable/redis-ha

**What**

stable/redis-ha uses a statefulset. With the large refactor in https://github.com/helm/charts/pull/7323, do we still need it? Sorry for the newb question, but statefulsets are way more annoying to deal with than deployments, and it seemed like some of the reasons for its existence may have gone away, but maybe not all? I was thinking you probably knew t

[2018-12-12 17:24] anapsix commented on #9243
confirmed, after manually editing master service per #9910 warnings about being unable to resolve host went away
[code]

only "not enough master nodes" remains
[code]

[2018-12-12 17:58] steven-sheehy commented on #8779
Thanks for the investigating this. Do you mind providing a PR with the fix?

[2018-12-12 18:13] anapsix commented on #9343
Has some issues with version 5.6.14, resolution described in https://github.com/helm/charts/issues/9243#issuecomment-446671096

[2018-12-12 18:44] ssalaues commented on #9944
Even before that refactor, there was a big push and several PRs that were trying to switch to stateful sets that got abandoned because of the review timeline (#7323 took over 2 months to get merged!) I was just carrying that torch and wrapped it up with additional changes.

But while Statefulsets may have different constraints than deployments, they also allow for more predictability (stable names

[2018-12-12 20:38] Jeeppler commented on #9199
This is still an issue.

[2018-12-12 21:21] chris-malloy-mri commented on #9847
Fixed in https://github.com/helm/charts/pull/9952

[2018-12-12 21:56] luthes commented on #2591
I'm having an issue with this where I'm getting not getting the output from the NOTES.txt, looks like the templated values aren't populating.
[code]

I can get the first one to populate this command: `kubectl get pods --namespace airflow1 -L "component" -o jsonpath="{.items[0].metadata.name}"`

Unless I'm mistaken, `.Values.airflow.name` doesn't exist in the values.yaml, if that's where it should

[2018-12-12 23:17] provWayneFoley opened #9954 "error validating data when installing kong ingress controller"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Version of Helm and Kubernetes**:
[code]

[2018-12-13 00:21] maxwell-clarke-intranel commented on #7584
I think I'm having this this issue

[2018-12-13 00:52] limnick commented on #2591
+1

[2018-12-13 05:43] vsxen commented on #9893
in k8s 1.12/1.13(use kubeadm) the http metrics port bind wth 127.0.0.1
[code]
so I think we should change the prometheus confugure and add tls_config.
such as  kubelet also with etcd (https port) kube-controller-manager,kube-scheduler
[code]
also we need to change some selector
such as  coredns plgin (kube-controller-manager,kube-scheduler)
[code]
@gianrubio @vsliouniaev

[2018-12-13 08:09] rishisharmamt opened #9959 "[stable/rabbimtq] Ingress path variable used in global scope"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Helm: v2.12.0, Kubernetes: minikube v0.31.0

**Which chart**: stable/rabbitmq

**What happened**: In templates/ingress.yaml, the chart is using ".path" variable from global scope, therefore, it cannot be changed from values.yaml. Therefore, I am unab

[2018-12-13 08:11] rishisharmamt commented on #9959
@vtuson

[2018-12-13 08:33] tompizmor commented on #8821
I just created [this PR](https://github.com/helm/charts/pull/9960) to fix this issue. Thanks for reporting it!

[2018-12-13 09:10] #9547 closed

[2018-12-13 09:37] obeyler commented on #9524
/reopen

[2018-12-13 09:39] obeyler commented on #9940
I see that other people have the same not systematic behavior
see https://github.com/helm/charts/issues/9524

[2018-12-13 09:47] jschlichtholz opened #9961 "[stable/grafana] Support Extra Volume Mounts"
**Feature Request:** Support Extra Volume Mounts
**Which chart**: stable/grafana
**What happened**: Extra volume mounts are not supported.
**What you expected to happen**: Extra volume mounts are supported.

Despite multiple solutions for adding dashboards already existing, we need to use our own mechanism. This mechanism requires an additional volume mount. As this might be useful for other use c

[2018-12-13 10:08] carrodher commented on #8916
Hi @intelfx, yes I am currently working on that, but the TO-DO list is not short, any case I will try to do it before the end of next week

[2018-12-13 11:31] hobti01 commented on #9166
Installation using crd-install is broken as of helm 2.12.0.  Same as #9941

[code]

[code]

[2018-12-13 11:44] fabriziofortino opened #9963 "[incubator/kafka] zookeeper dependency"
**Which chart**:
[incubator/kafka]

The current zookeeper dependency points to `incubator/zookeeper`. This chart is based on https://github.com/kubernetes/contrib/tree/master/statefulsets/zookeeper and the last image is on zookeeper 3.4.10 (released more than a year ago).

@cablespaghetti has opened a [PR](https://github.com/kubernetes/contrib/pull/2965) to update the image to the latest stable ve

[2018-12-13 11:48] juan131 commented on #9596
Hi @sebastien-prudhomme

Do you mean "slack" when do you refer to "stash"?

[2018-12-13 12:52] #9220 closed

[2018-12-13 13:13] natarajmb commented on #9619
@liyaka
Adding files under files/docker-entypoint-initdb.d didn't work for me and your suggested approach in the bug report helped. If you don't set the postgresqlUsername to an empty string explicitly then the DB is created by the whatever the username and password you are passing in the chart. Hence to avoid that I had to set the postgresqlUsername explicitly so everything runs under the postgre

[2018-12-13 13:33] #8884 closed

[2018-12-13 13:45] paskal commented on #8798
Please, reopen.
@davidkarlsen @sameersbn could you please answer? It seems like @vsliouniaev is ready to fix that problem, only thing necessary is information from you what you acknowledge that issue and will approve fix PR.

[2018-12-13 13:54] steebchen commented on #8660
Thanks for the link, it looks cool. Is it production ready, though? Also, can it work with reclaimPolicy Retain?

It's a bit annoying with normal local PVs because I have to create them manually, but it's acceptable.

[2018-12-13 13:58] jonathanschwarze opened #9970 "[stable/grafana] missing quoation mark"
**Which chart**:
[stable/grafana]

**What happened**:
Missing quotation mark in Notes for Grafana. In the description how to get the URL for Grafana, there is no closing quotation mark for the attribute _app_. Currently it is just _"app=grafana_.

**How to reproduce it** (as minimally and precisely as possible):
helm install stable/grafana

**Anything else we need to know**:
Solution: https://gith

[2018-12-13 14:07] arthurvanduynhoven opened #9973 "[stable/metallb] default configmap name is different than documenation"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
stable/metallb-0.8.1

**What happened**:
In the helm chart the default name value for the config map is `metallb-config` (via `existingConfigMap` setting)

In the official documentation it states to create a map called `

[2018-12-13 14:21] vigohe commented on #9577
@johnzielke this is already supported. But by using command `-Dsonar.web.context=/sonarqube`

set a vaules.yaml

[code]

[info](https://github.com/SonarSource/docker-sonarqube/issues/17)

[2018-12-13 15:33] #8627 closed

[2018-12-13 15:55] rafi commented on #9941
Using `--force` on the second run works for me:
[code]

[2018-12-13 16:05] philoserf commented on #9941
I have seen the same thing. I have confirmed things work in 2.11.0 but have not yet identified change that broke the CRD install.

[2018-12-13 16:13] paskal commented on #9941
Only PR with CRD mentioned in [releases](https://github.com/helm/helm/releases) is https://github.com/helm/helm/pull/4709.

[2018-12-13 16:36] sebastien-prudhomme commented on #9596
@juan131 sure, it's "slack". Will correct it.

[2018-12-13 17:33] #8903 closed

[2018-12-13 18:02] boxboatmatt opened #9985 "mysql chart doesn't allow override of busybox and test-framework images"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
All

**Which chart**:
`mysql`

**What happened**:
Cannot currently override all images used by chart which prevents this chart from being used in an environment where you cannot pull from docker hub.

**What you expected to happen**:
Add `busybox` and the `test-framework` image to `

[2018-12-13 18:13] jpigree opened #9987 "[stable/jenkins] Backup/restore feature"
**Is this a request for help?**:
no

**Is this a BUG REPORT or FEATURE REQUEST?**:
Feature request

Adding a backup/restore mecanism could be great in the Jenkins chart (I had plenty of issues with backup jenkins plugins). Actually I implemented it quick and dirty with AWS S3 as a storage but never opensourced it. Is the community interested in this? I saw a rotten feature request #3344.

The conf

[2018-12-13 18:42] peidong-hu opened #9988 "livenessprobe named port setting is solved as http://:http/status.php"
https://github.com/helm/charts/blob/de9118bb98690b6b454efb2da34c73d067a5664f/stable/owncloud/templates/deployment.yaml#L97

[2018-12-13 18:44] peidong-hu opened #9989 "readinessprobe port setting is resolved as http://:http/status.php in my kube"
https://github.com/helm/charts/blob/de9118bb98690b6b454efb2da34c73d067a5664f/stable/owncloud/templates/deployment.yaml#L104

The kube version I have is 1.11

[2018-12-13 18:44] peidong-hu commented on #9988
The kube version I have is 1.11

[2018-12-13 18:44] #9696 closed

[2018-12-13 19:18] sidohaakma opened #9991 "[stable/sentry] When I deploy a sentry chart there is always a pv created for redis"
**BUG REPORT**

**Chart**
Sentry/stable

**How to reproduce**
I override the existing redis persistence configuration as follows:

[code]

**Expected behaviour**
The pv for redis is not created.

**Observed behavoir**
The pv for redis is created

**Possible solution**
If I look into the redis chart, the keys for enabling persistence are on the master level so:

[code]

[2018-12-13 19:28] jpigree opened #9992 "[stable/jenkins] Job definitions is broken in version 0.25.0"
**Is this a request for help?**:
no

**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
stable/jenkins, version: 0.25.0

**What happened**:
"helm install" throws an error:
[code]

When downgrading the chart used to the last version I saw working (0.19.1), It starts working again.

[code]

**How to reproduce it** (as minima

[2018-12-13 19:33] #9961 closed

[2018-12-13 20:12] yousafsyed-bg opened #9993 "[stable/kong ] ingress health checks for proxy are generated incorrectly"
**Version of Helm and Kubernetes**:
helm
[code]
kuebrnetes
[code]
**Which chart**:
[stable/kong]-0.6.6

**What happened**:
Kong proxy ingress is generating the wrong health checks with `/` as the endpoint since proxy does not have any health check endpoints and the deployment uses the admin proxy for `readinessProbe` and `livenessProbe`. k8s automatically creates the default route for health check

[2018-12-13 21:27] nomadjourney opened #9996 "[stable/logstash] Liveness and readiness probes fail for default set up"
**Is this a request for help?**:
No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
stable/logstash, version: 1.4.0

**What happened**:
Installing chart with default values causes pod to fail both liveness and readiness probes causing to pod to restart over and over.

**What you expected to happen**:

[2018-12-13 21:45] Philippe-Collignon opened #9998 "[stable/mongodb] Documentation about stable/mongodb authentication"
Feature Request :

It would be great to add some documentation about how to authenticate to stable/mongodb statefullset.

- The "one pod url"  `mongodb://user:password@mongodb:27017/dbname` does not work because we have to authenticate to the admin pod

- According to mongo documentation, we should use something like :
`mongodb://user:password@mongodb-1,mongodb-2,mongodb-3:27017/dbname`
but the ch

[2018-12-13 22:07] philoserf commented on #9941
Seeing reports here too.

https://stackoverflow.com/questions/53694728/prometheus-operator-alertmanagers-monitoring-coreos-com-already-exists

[2018-12-13 22:21] philoserf commented on #9941
I see it is already confirmed with cert-manager at #9166

I will open an issue with helm/helm unless I find one there already.

[2018-12-13 23:29] TR-jboykin opened #10001 "[incubator/kubeless] NodeJS Distroless Docker image does not exist"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
2.11.0/1.13.0

**Which chart**:
kubeless

**What happened**:
The runtime nodejs_distroless image defined in the values.yaml does not exist
https://github.com/helm/charts/blob/ae2cf5bf65c3a25642663d6c8cbd73d6e413d72f/incubator/kubeless/values.yaml#L367

[2018-12-14 00:36] #9954 closed

[2018-12-14 03:33] #8917 closed

[2018-12-14 05:07] tareks commented on #8489
Still need a fix for this. Using the code in the PR above as a workaround in the meantime. Please suggest any other alternative fixes.

[2018-12-14 07:22] axdotl commented on #8437
In fact, it was not an issue. It was caused by a kind of misconfiguration.
We run keycloak with limited resources:
[code]

But we were not aware of the default `readinessProbe` config: https://github.com/helm/charts/blob/master/stable/keycloak/values.yaml#L96

Due the limited resource config keycloak startup finished not in time, as a result readinessProbe failed and pod were killed.

After adjust

[2018-12-14 07:40] javafoot commented on #3723
Hi all,
I found the fatal reason at my k8s cluster. I installed Jenkins using helm too.
There are limits resources according to @huang-jy .
![image](https://user-images.githubusercontent.com/9742235/49989244-9263a480-ffb4-11e8-8e52-eabd463d5fd2.png)

But, it didn't work for me even if I left blank.
The "Allocate pseudo-TTY" setting is decisive! The pipeline started after clicked the checkbox.
![im

[2018-12-14 07:52] KlavsKlavsen opened #10004 "traefik chart - multi-attach-error"
Trying out traefik chart - gives me:
Multi-Attach error for volume "pvc-1b923121-ff74-11e8-9046-005056af6464" Volume is already used by pod(s) traefik-69455b8959-lrv2r
(when storeconfig tries to use it).

(enabled acme and using consul backend).

[2018-12-14 08:28] janbrunrasmussen opened #10005 "Datadog chart, replicaset not updated appropriately"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
HELM:
Client: &version.Version{SemVer:"v2.12.0", GitCommit:"d325d2a9c179b33af1a024cdb5a4472b6288016a", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.0", GitCommit:"d325d2a9c179b33af1a024cdb5a4472b6288016a", GitTreeState:"clean"}

Kubernetes:
Client Version: version.Info{Major:"

[2018-12-14 08:41] nurgasemetey commented on #8437
Thanks for fix and explanation. It saved me. Otherwise I would use H2 database

[2018-12-14 08:44] huang-jy commented on #3723
I don't think you need that set (I didn't have that ticked) -- though I guess it depends on what your pipeline is trying to do....

And removing the request/limit stuff will just revert it to the defaults of your cluster so it might work for some people who have set high defaults, and not others whoc have set lower defaults.

[2018-12-14 09:26] fejta opened #10010 "OWNERs must be helm members or helm/charts collaborators"
Howdy! I help run the prow deployment that handles this repo. Found my way here via  https://github.com/kubernetes/test-infra/issues/10434 and https://github.com/helm/charts/pull/9967

https://github.com/helm/charts/blob/ad2a20966d78471d2b4cd847d2070277bb225c58/stable/influxdb/OWNERS#L1-L4 defines @jackzampolin as an OWNER of the stable/influxdb dir, but Jack is not a member of the helm org nor is

[2018-12-14 09:30] fejta commented on #10010
Actually looks like you already enabled the plugin (thanks!) let me see the best way to scan your repo for other OWNERS files with this problem

[2018-12-14 09:33] #8830 closed

[2018-12-14 09:47] glebmikulko opened #10011 "[Airflow] No secrets files on a worker pods"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm
[code]
Kubectl
[code]

**Which chart**:
airflow

**What happened**:
I try to reveal secrets to my worker pods: at first I filled `workers->secrets`. After installing airflow chart the corresponding directory appeared. But inside of it there are n

[2018-12-14 09:50] AdrieVanDijk commented on #9805
Thanks for your response.

I have  read that page and tried the options you mention, but it did not make any difference.

In the meanwhile I found this ticket: [ERL-377](https://bugs.erlang.org/browse/ERL-377), which suggests that there really is a problem with the CA cert because it has empty fields, just like ours.

I finally deployed it on a different cluster and there it runs fine.

[2018-12-14 09:50] #9805 closed

[2018-12-14 09:53] juan131 commented on #9185
The charts are maintained by different people too. The **redis** is mantained by Bitnami while **Redis-ha** is mantained by Salim Salaues.

Now we're moving to distributed repositories, it should't be an issue anymore since there could be hundreds of charts for similar solutions. The only difference would be the people maintaining them and how reliable the charts are.

[2018-12-14 10:16] KlavsKlavsen commented on #10004
It seems that sharing ReadWriteOnce volumes across pods - requires these pods to be on the same node.. and in my case they land on different nodes - which means it won't work.
So either - this chart MUST have a storage backend that supportes ReadWriteMany (so same volume can be accessible on multiple nodes at the same time) - OR - a nodeselector MUST be set - to keep both traefik AND storeconfig c

[2018-12-14 11:14] Hokwang opened #10015 "[stable/jenkins] please make a documentation about Values.Master.JenkinsAdminEmail"
**Which chart**:
stable/jenkins

**What happened**:
https://github.com/helm/charts/blob/master/stable/jenkins/templates/config.yaml
line 180
there's Values.Master.JenkinsAdminEmail
but no documentation and it does not exist in values.yaml

Please improve this.

Thanks,

[2018-12-14 12:05] vsk-123 opened #10016 "AWS Auth Token became invalid,"
Hi,

**We are getting below error in fluentd kubernetes logs when docker container logs pushed to AWS Cloudwatch.**

**"log":"2018-12-12 02:19:58 +0000 [warn]: updating upload sequence token forcefully because unrecoverable error occured error=#\u003cAws:: token=\"49586306984825554627379165069778090704004635559658109378\"\n","stream":"stdout","time":"2018-12-12T02:19:58.309806114Z"}**

**Please su

[2018-12-14 12:42] max-lobur commented on #9261
PR opened

[2018-12-14 13:42] dorucailean opened #10020 "README update - sourceCategoryPrefix default value"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT (documentation)

**Version of Helm and Kubernetes**:
N/A

**Which chart**:
sumologic-fluentd

**What happened**:
The default value for `sumologic.sourceCategoryPrefix` in the README file is `Nil` but it should be `kubernetes/` according to [the sumologic documentation](https://github.com/SumoLogic/fluentd-kubernetes-sumologic).

[2018-12-14 14:11] #7708 closed

[2018-12-14 14:19] #8945 closed

[2018-12-14 14:48] xvello commented on #10005
Hi @janbrunrasmussen ,

I can reproduce it with your command, but the issue seems that `datadog/cluster-agent:1.0.1` has not been published. If I use `--set clusterAgent.image.tag=1.0.0` the update goes OK. Could you please try?

1.0.1 has only been released as `datadog/cluster-agent-dev:1.0.1`, I will investigate why.

[2018-12-14 15:19] EmilienMottet opened #10025 "[incubator/kafka] Expose externally using AWS ELB"
**Is this a request for help?**: YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: helm : 2.12.0, kubernetes : 1.10.11 on AWS

**Which chart**: kafka 0.13.1

**What happened**:
We are trying to deploy a Kafka on a Kubernetes cluster using Helm.
We want to send data from an external [glances](https://github.com/nicolargo/glance

[2018-12-14 15:59] #9985 closed

[2018-12-14 16:04] jonathanschwarze commented on #5433
Check your storage and CPU capacity! I got the same error and figured out that I had not enough storage left. After increasing it everything works well!

[2018-12-14 16:34] cpanato commented on #9227
We all have an agreement that we need to revert this change, correct?

[2018-12-14 16:51] vsliouniaev commented on #9309
This will not need to be done

[2018-12-14 16:51] #9309 closed

[2018-12-14 16:56] jiphex commented on #9832
Can confirm this - doesn't look like there's an option to get existing PVCs working at all

[2018-12-14 17:34] #7400 closed

[2018-12-14 17:35] mtparet commented on #9227
(my personal opinion) The initial PR (#7933) may fix a real issue but it should not break things, unless it is unavoidable and so we tell people how to upgrade manually.

[2018-12-14 17:43] vsliouniaev commented on #9941
The crd-install hook has been an awful experience in my experience. To run this in production across multiple clusters we have a separate chart to provision CRDs and then another step to validate that they have been created because of : https://github.com/helm/charts/issues/9241, https://github.com/helm/helm/issues/4925

Would it be worth simply removing the `crd-install`  hooks as the default opt

[2018-12-14 19:31] janbrunrasmussen commented on #10005
Thanks for looking at this! Try any other change, and there is a fair chance this behaviour will still be there. We originally saw it when trying to change the log level, so I still think it is related to the chart, not the image version.

[2018-12-14 21:56] ssalaues commented on #9185
@juan131 what exactly do you mean when you say:

Are the official Helm charts moving to new repositories?

[2018-12-15 08:40] #9140 closed

[2018-12-15 08:40] #9621 closed

[2018-12-15 08:40] #9144 closed

[2018-12-15 08:51] maver1ck commented on #8375
ping @davidkarlsen

[2018-12-15 10:50] upalkhouski commented on #6977
hey @unguiculus , would you please remove the stale status? We are still looking forward to the accepted PR

[2018-12-15 13:48] deshetti opened #10033 "Make Application Version a configurable parameter in the chart"
**Is this a request for help?**: Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST:
  - Currently appVersion is not a configurable parameter like for example in the elasticsearch chart where we could install an older version of the application. Currently, the only way that I could think of installing an older version is to use --version flag of the chart (please

[2018-12-15 15:22] #8939 closed, assigned to nobody

[2018-12-15 22:22] #7972 closed, assigned to nobody

[2018-12-16 23:07] jpalomaki commented on #8582
I also see this, fixed by inserting the API version manually after templating: `sed -i '/kind: ClusterRoleBinding/iapiVersion: rbac.authorization.k8s.io\/v1' path/to/jenkins.yaml`

[2018-12-17 01:24] rauny-brandao opened #10043 "[stable/fluentd-elasticsearch] change fluentd :scheme from http to https"
**Version of Helm and Kubernetes**: v2.11.0 and v1.10.3

**Which chart**: [stable/fluentd-elasticsearch]

**What happened**:

I'm using the AWS Elasticsearch service, and I have installed the chart with this command:

[code]

But I'm getting this error message in the logs:

[code]

Is there a way to change the default **:scheme** from **http** to **https**?

I've also tested the connection between

[2018-12-17 02:35] mjhd-devlion opened #10044 "[stable/prometheus-operator] should expose prometheus service's sessionAffinity config"
**Is this a request for help?**:

no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Which chart**:

prometheus-operator

**What happened**:

I want to launch 2 prometheus and 2 grafana according to [this documentation](https://github.com/coreos/prometheus-operator/blob/master/Documentation/high-availability.md), but stable/prometheus-operator does not expose `

[2018-12-17 04:10] dominikmontada opened #10045 "[stable/sonarqube] Enabling persistance causes CrashLoopBackOff"
**Is this a request for help?**: no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
stable/sonarqube

**What happened**:
In values.yaml, enabling persistance with below values, causes Sonarqube to exit during startup, resulting in a CrashLoopBackOff

**What you expected to happen**:
Sonarqube starts n

[2018-12-17 07:00] Mikewl commented on #9621
@vsliouniaev
Maybe I am not seeing this right in the chart - it seems like you can only set them to `nil` not `{}`?
https://github.com/coreos/prometheus-operator/issues/1053#issuecomment-371733807 states that there's a difference between `nil` and `{}` for prometheus-operator.
Unless I am making a mistake where `serviceMonitorSelecorNilUsesHelmValues=false` in combination with `serviceMonitorSelec

[2018-12-17 07:18] giddel opened #10048 "cannot assing chart owner as approver"
BUG REPORT

In my PR https://github.com/helm/charts/pull/9967 I'm not able to add the only [chart  owner](https://github.com/helm/charts/blob/master/stable/influxdb/OWNERS) jackzampolin as approver because he is not a [helm member](https://github.com/orgs/helm/people)
So the PR cannot approved.
Please add him to the  helm members.

[2018-12-17 07:54] monotek commented on #10043
Hey @rauny-brandao,

to make it a bit easier i've just added the setting to the following pr: https://github.com/helm/charts/pull/9382

[2018-12-17 08:49] tim-beatson commented on #9621
@vsliouniaev, I've spotted a slight typo in this: serviceMonitorSelecorNilUsesHelmValues. Missing t from selector - https://github.com/helm/charts/blob/master/stable/prometheus-operator/values.yaml#L740 https://github.com/helm/charts/blob/master/stable/prometheus-operator/templates/prometheus/prometheus.yaml#L71

[2018-12-17 08:52] carrodher commented on #9185
Yes, you can find more information in this blogpost:

https://helm.sh/blog/intro-helm-hub/index.html

But in summary, [Helm Hub](https://hub.helm.sh/) provides a means for you to find charts hosted in many distributed repositories (for example, via GitHub or Gitlab) hosted by different people and organizations.

[2018-12-17 09:46] juan131 commented on #9832
The PR created by @flypenguin should fix the issue. Just waiting for him to sign-off his commits and we could proceed to land the changes.

[2018-12-17 10:01] juan131 commented on #9596
Hi @sebastien-prudhomme

I just created the PR above to address this issue.

[2018-12-17 10:09] #9596 closed

[2018-12-17 10:46] g0blin79 commented on #8747
Guys we cannot close this issue. The related PR was not approved or rejected and, at this stage, this chart is unusable simply because **it doesn't use percona image**!!! Then you have two choices: resolve this issue (approving and merging or rejecting giving infos about that) or remove the percona chart from your repo. Tertium non datur.

Please give a feedback or merge.

[2018-12-17 11:17] robermorales commented on #9227
I also think that a revert could make people to upgrade manually, again.

In my opinion, the situation that leads to people needing to upgrade manually is caused by the original bug, not by the solution.

But you can proceed as you prefer.

[2018-12-17 11:42] tompizmor commented on #7908
@LecygneNoir Sorry for the late response. Where exactly are you seeing the error? I deployed dokuwiki enabling ingress and tls but I don't see any HTTP healtcheck failing.

[2018-12-17 12:23] tompizmor commented on #9347
Yes, it seems a parsing error that should be fixed: https://github.com/helm/helm/issues/3939

In any case, I am not able to reproduce it and I have the same helm version (2.11.0). I didn't tried with an RDS database but with an external mariadb chart deployed with this options:

[code]

Then I installed Ghost with this values.yaml file:

[code]

And checking the logs I see how Ghost was able to fi

[2018-12-17 12:32] LecygneNoir commented on #7908
Hello @tompizmor

It's some month ago, but it seems the bug is still here.

When enabling the tls option in the chart, it triggers the option `ingress.kubernetes.io/secure-backends: "true"`

This option is added in the ingress when deploying, and it implies that the ingress controller do its healthcheck on a secure port (eg: 443)

But at the same time, the ingress is hardcoded to use port 80, wher

[2018-12-17 12:47] tompizmor commented on #8735
I would say the issue is that PostgreSQL is running as a non-root user and the NFS provisioner does not support the `securityContext` kubernetes feature.

To be sure, I would try to deploy the postgres chart with the following options so it can be run as root:

[code]

[2018-12-17 12:54] obeyler commented on #9844
Have you an idea of how to do to to deploy it on a K8S with RunAsNonRoot pod security policy?

[2018-12-17 13:07] sebastien-prudhomme commented on #9596
@juan131 thanks

[2018-12-17 13:12] obeyler commented on #9940
@prydonius , @tompizmor, @sameersbn, @carrodher, @juan131
Have you got any idea what should I do to solve it ?

[2018-12-17 13:16] gissurWXNC commented on #9941
While this issue is still in limbo - I discovered the following (horribad) workaround that might be of use to someone:

1.  Try installing the operator as normal:
`helm install stable/prometheus-operator --name monitoring`
2. When this fails with the error mentioned above, go into your `values.yaml` and set `prometheusOperator.createCustomResource` to `false`
3. Uninstall the operator
`helm delete

[2018-12-17 13:19] gzur commented on #9941
While this issue is still in limbo - I discovered the following (horribad) workaround that might be of use to someone:

1. Try installing the operator as normal:
`helm install stable/prometheus-operator --name monitoring`

2. When this fails with the error mentioned above, go into your values.yaml and set `prometheusOperator.createCustomResource` to `false`

3. Uninstall the operator
`helm delete

[2018-12-17 13:43] gzur commented on #9941
@vsliouniaev but set `prometheusOperator.createCustomResource` is set to `false` first - right?

[2018-12-17 14:38] hjartardottir opened #10065 "[stable/rabbitmq-ha] "HTTP access denied: user ‘guest’ - invalid credentials" after adding PV functionality"
**Is this a request for help?**:
Request for help
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Version of Helm and Kubernetes**:
Kubernetes 1.10.4
Helm 2.11.0

**Which chart**:
stable/rabbitmq-ha

**What happened**:
Upgraded rabbitmq-ha chart to use PV option on a running cluster, where we weren't using PVs before. After deleting the pods, deleting the statefulset

[2018-12-17 14:41] mrobakowski commented on #9062
It seems to work for me if I set:
[code]

[2018-12-17 14:48] gzur commented on #9941
Yeah, the `--no-crd-hook` flag works for me as well on `v2.12.0` - which lends further credence to the idea that this was introduced by https://github.com/helm/helm/pull/4709

[2018-12-17 15:44] #10001 closed

[2018-12-17 15:52] hjartardottir commented on #10065
We're using a slightly configured version of the stable rabbitmq-ha helm chart from 4. July.

**values.yaml:**
[code]

**logs:**

[code]

[2018-12-17 15:57] steven-sheehy commented on #10065
I can't tell what you changed from default in that values.yaml. Please provide only your custom values.yaml. You can get this from `helm get values [release-name]`. Also, that chart version is very old and customized. Please try upgrading to the latest with no customizations to verify you still have the issue.

[2018-12-17 16:19] carrodher commented on #9998
When you deploy the chart, this information should appear in the console:
https://github.com/helm/charts/blob/master/stable/mongodb/templates/NOTES.txt

This is a template file that should be rendered in a more readable way including your specific parameters, so although you see this content weird in the `NOTES.txt` file when the content is displayed in the console where you did `helm install` thi

[2018-12-17 16:44] tompizmor commented on #8901
I just sent a PR https://github.com/helm/charts/pull/10070

[2018-12-17 16:57] matthewellis opened #10075 "[stable/minio] Allow creation of multiple buckets"
**Is this a request for help?**
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**Which chart**:

stable/minio

**What happened**:

When configuring minio only a single default bucket can be created.

**What you expected to happen**:

The chart should allow multiple buckets to be created rather than limiting this to a single bucket, this allows all buckets to be def

[2018-12-17 17:34] raoofm commented on #9664
@hexfusion @gyuho just wanted to get your opinion on this?

[2018-12-17 17:39] mbelang commented on #9289
It is a problem with Helm and `customresourcedefinitions` aka `CRD`: https://github.com/helm/helm/issues/4489... That is will say quite annoying and not idempotent :(

[2018-12-17 17:43] philoserf commented on #9941
The helm revert pull request is in flight.
https://github.com/helm/helm/pull/5067

[2018-12-17 17:46] #9888 closed

[2018-12-17 18:36] tedohayer commented on #2591
+1 we have been running this PR in prod since October and its been great

[2018-12-17 18:53] jkirkham-ratehub commented on #7726
I've also encountered this issue in the `stable/mongodb` chart.  It doesn't appear to be fixed yet (https://github.com/helm/charts/tree/master/stable/mongodb).

[2018-12-17 18:54] #7978 closed

[2018-12-17 18:59] flypenguin commented on #9832
Ah I just forgot - new to this sign-off thing. Done now :)

[2018-12-17 19:08] hexfusion commented on #9664
basic logic is this. https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/runtime-configuration.md#update-a-member

If quorum loss is temporarily (restarted node) underlying data-dir exists and ${HOSTNAME} and ${SET_NAME} are unchanged member update is not required and would fail if cluster were not quorate.

If ${HOSTNAME} or ${SET_NAME} changes and existing data-dir is available th

[2018-12-17 19:11] yurrriq commented on #9185
I can't say I'm at all a fan of even further fragmentation, but my question's been answered. Thanks for the information and links.

[2018-12-17 19:11] #9185 closed

[2018-12-17 19:30] hexfusion commented on #9664
Another thing I notice in v3 `etcdctl member update` requires `--peer-urls` flag

so this should look like this
`ETCDCTL_ENDPOINT=$(eps) etcdctl member update ${member_id} --peer-urls http://${HOSTNAME}.${SET_NAME}:2380`

[2018-12-17 19:45] hexfusion commented on #9664
etcdctl must be using `ETCDCTL_API=2` so disregard above re `--peer-urls`

[2018-12-17 20:35] ScottBrenner opened #10084 "[stable/fluentd-elasticsearch] Custom environment variables from secrets?"
**Is this a request for help?**: Yes

**Version of Helm and Kubernetes**: Helm `v2.10.0` and Kubernetes `v1.10.11-eks`.

**Which chart**: [stable/fluentd-elasticsearch]

**What happened**: Unable to set custom environment variables from cluster secrets, is it possible?

**Anything else we need to know**:

[1.4.0](https://github.com/helm/charts/commit/a30857af28ce68bdce6abb4f022cc7843105b6c6#diff-f

[2018-12-17 21:48] vemv commented on #6754
not stale

[2018-12-17 23:17] combor commented on #1569
I have followed this nice suggestion and wrote some simple app in golang to do the job. You can find it here: https://github.com/combor/k8s-mongo-labeler-sidecar

Docker container can be found here: https://hub.docker.com/r/combor/k8s-mongo-labeler-sidecar

[2018-12-17 23:37] selmison commented on #1569
The best solution I found was to use a Network Plugin with BGP support (for example, kube-router) to ensure external connectivity to each node in the Replica Set.

[2018-12-18 05:37] anandsinghkunwar opened #10091 "[stable/prometheus-operator] Support for API Group for CRD"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Which chart**: stable/prometheus-operator

**What happened**: Needed to configure CRD API group flag present in the prometheus-operator deployment.

**Anything else we need to know**: Will be pushing a change for the support of this

[2018-12-18 07:12] maorfr commented on #9987
I'll create a PR for this

[2018-12-18 08:19] #9818 closed

[2018-12-18 08:19] #9819 closed

[2018-12-18 08:21] maorfr commented on #9987
I think that we should go towards a solution that does not involve a sidecar.
We already have such a tool. I'll just add it :)

[2018-12-18 09:18] desaintmartin commented on #7726
It is related to https://github.com/helm/charts/issues/7680 to be exact, thanks for reporting.

[2018-12-18 09:19] desaintmartin commented on #7680
Monogodb is still impacted, see their statefulset with `.Values.selector.matchLabels.chart`.
cc @jkirkham-ratehub @prydonius @tompizmor @sameersbn @carrodher @juan131

[2018-12-18 10:04] saurabh1git opened #10098 "Stable/Prometheus Doesnt allow Exec on the Pod"
**Is this a request for help?**:
Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
feature Request
If this is a BUG REPORT, please:
No
If this is a FEATURE REQUEST, please:
we are looking to get into the prometheus Server pod to have a look at the metrics being collected.

**Version of Helm and Kubernetes**:
helm: 2.9.1
k8s: 1.9.10

**Which chart**:
Prometheus

**What you expected to

[2018-12-18 10:12] Patafix commented on #8779
Same issue here

[2018-12-18 11:20] carrodher commented on #9989
As both issues https://github.com/helm/charts/issues/9988 and https://github.com/helm/charts/issues/9989 are practically the same, to avoid duplications, can discuss it here?

The [readinessProbe](https://github.com/helm/charts/blob/de9118bb98690b6b454efb2da34c73d067a5664f/stable/owncloud/templates/deployment.yaml#L104) and [livenessProbe](https://github.com/helm/charts/blob/de9118bb98690b6b454efb

[2018-12-18 11:20] carrodher commented on #9988
I just answered the other issue #9989 but the answer is the same, can you take a look at the other one?

[2018-12-18 11:47] tompizmor commented on #8735
@Glorf I've been taking a look at the chart and I think the default configuration should also work for you since there is an initContainer changing the permissions of the volume.

Can you let me know which version of the PostgreSQL chart are you trying to install?

[2018-12-18 12:03] tompizmor commented on #9666
Do you mind running `helm repo update` and try to install the chart again?

I have seen some issues fixed recently related with persistence so maybe is already fixed in the latest version.

[2018-12-18 13:53] raphaelsampaio opened #10103 "[stable/airflow] Optionally mount `requirements.txt` for `entrypoint.sh` consumption"
**Is this a request for help?**: Maybe

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
not relevant

**Which chart**:
stable/airflow

**What happened**:
There is no way -- except from modifying the chart -- to mount a requirements.txt in the default Docker image (puckel/docker-airflow).

**What you expected to happen**:
Maybe it

[2018-12-18 13:55] #9700 closed

[2018-12-18 14:12] kozejonaz commented on #9992
I had the same problem. Just remove `|-` from `Jobs` like this

[code]

So I guess the `values.yaml` should be updated?

[2018-12-18 14:20] macon opened #10105 "[incubator/jaeger] Failed to init storage factory with AWS hosted ES"
**Is this a request for help?**:
Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug report

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
`incubator/jaeger`

**What happened**:
deployed using AWS-hosted ES behind k8s cluster proxy e.g. http://aws-es-kibana:9200 (no auth at all, proxy signs and forwards requests).
Getting failures (below) from the collector wh

[2018-12-18 14:22] Glorf commented on #8735
I use try to deploy with literally latest chart - postgresql-3.1.3 - still permissionDenied and CrashLoopBackoff
Last chart that was working for us without changes in securityContext is postgresql-1.0.0
Postgresql-3.1.3 is deploying and working well when security context fix is applied

[2018-12-18 14:42] tompizmor commented on #9914
I think the problem is one of the annotations set by default in the values.yaml.
If you comment/delete the first annotation it works fine:

[code]

[2018-12-18 17:20] jpigree commented on #9992
Oh right. it works and it looks like a cleaner fix. :)

Actually, I still don't understand the value of the added "toYaml" call in 0.25.0 and I can't find a documentation about this template function.

Anyway, I can submit a PR to fix this but let's decide which solution first.

[2018-12-18 17:31] DGreenstein commented on #9256
+1

[2018-12-18 17:34] jpigree commented on #9987
Thanks. I looked at your PR. You used a Cronjob. Great. :)

However, I think it misses a restore mecanism. It is cool to backup our files but to be really useful, we will need to be able to create a Jenkins from those backups.

How would you do it? On my side, I did it with a initContainer capable of fetching the backups from storage and copy it to "/var/jenkins_home".

[2018-12-18 17:44] johnraz commented on #4204
To anyone passing by this issue since v0.21.0
`nginx.ingress.kubernetes.io/secure-backends: "true"`

has become:
`nginx.ingress.kubernetes.io/backend-protocol: "GRPCS"`

[2018-12-18 18:06] #8375 closed

[2018-12-18 18:12] frankreno commented on #9432
@evanwoo for the best response here, I would suggest you open a ticket thru the Sumo Logic support team so they can debug this thru your account on the backend.

[2018-12-18 18:34] thomasliddledba commented on #9361
/assign @thomasliddledba

[2018-12-18 18:35] thomasliddledba commented on #9361
I will get this drafted and a PR in

[2018-12-18 18:55] maorfr commented on #9987
Hey @jpigree,

Thanks for your feedback :)
A restore is absolutely required.
Do you think that the restore needs to be a part of the chart?

I usually like to keep restore close, so I do it manually.
Plus, this backup creates a tag for each backup, so you would have to define a tag to restore from, which makes it less suitable for a chart.

Anyway, the way you can restore is using the underlying `

[2018-12-18 19:16] apeschel opened #10109 "MariaDB Chart Error Log Points to File Instead of STDOUT/STDERR"
Maybe there's a reason for this that I'm not aware of, but the default configuration for the MariaDB chart points the error log to a local file within the container, rather than pointing it to stderr or stdout. This is problematic, as it means getting the error logs follows a non-standard workflow, and restarting the container means losing the error log.

https://github.com/helm/charts/blob/master

[2018-12-18 19:42] juan131 commented on #9232
We just released new images of PostgreSQL (**9.6.11-r3**, **10.6.0-r34**, **11.1.0-r29**) including the locales `en_GB.UTF-8` and `en_US.UTF-8` by default.

Please feel free to test these new images in the chart. The error should be fixed now.

[2018-12-18 22:10] sercanacar opened #10112 "[incubator/vault] enable UI"
**Version of Helm and Kubernetes**:

Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.11",
Server: &version.Version{SemVer:"v2.11.0"

**Which chart**:
vault cart version=0.14.2
Vault app version=0.11.2

**What happened**:

Is it possible to enable UI using the values? I've tried many combinations of values but no luck

ui:
  enable: true

[2018-12-18 23:50] Dean-Coakley commented on #9970
Fixed in: https://github.com/helm/charts/pull/10034

[2018-12-19 00:39] bzub opened #10113 "[stable/docker-registry] Using custom service.port value borks everything"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

bug report

**Version of Helm and Kubernetes**:
- helm: `v2.12.0`
- kubernetes: `v1.13.0`

**Which chart**:
[stable/docker-registry](stable/docker-registry])

**What happened**:
I installed with a custom `service.port=80` value which causes the service to be created with a port of 80 as well as a targetport of 80. Meanwhile the configurat

[2018-12-19 00:46] jpigree commented on #9987
Hi @maorfr . Actually, I implemented it in the chart and it always made me feel uneasy when using it.
Mostly, because the workflow required to update "retrieve" to "true", run the chart, then immediately update the "retrieve" field to "false" otherwise it will overwrite my data with the backup content when I do an upgrade.

I didn't understand the tags you are talking about. Are you talking about

[2018-12-19 01:17] Dean-Coakley commented on #9660
@ntbrittain https://github.com/helm/charts/blob/master/stable/grafana/values.yaml#L109 looks perfectly valid to me.

Would you suggest that this default should be uncommented by default?

[2018-12-19 01:22] ntbrittain commented on #9660
@Dean-Coakley I suggest either uncommenting the default, or updating the documentation to indicate that it is required: https://github.com/helm/charts/blob/master/stable/grafana/README.md

As it is, the documentation indicates that it has a default of `[]`, which I find misleading. I expect that if I leave out values which have defaults, that those defaults are valid.

[2018-12-19 01:44] dteller opened #10115 "Can't disable grafana datasource sidecar"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
kubectl version
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.1", GitCommit:"eec55b9ba98609a46fee712359c7b5b365bdd920", GitTreeState:"clean", BuildDate:"2018-12-16T23:39:08Z", GoVersion:"go1.11.4", Compiler:"gc", Platform:"linux

[2018-12-19 01:53] Dean-Coakley commented on #9660
@ntbrittain I've opened a PR uncommenting the default. Feedback welcomed.

[2018-12-19 02:28] wutianya opened #10118 "failed to write data into buffer by buffer overflow action=:block"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

**What you expected to happen**:

**How to reproduce it** (as minimally and precisely as possible):

**Anything else we need to know**:

[2018-12-19 02:28] #10118 closed, assigned to nobody

[2018-12-19 02:58] #9257 closed

[2018-12-19 06:47] maorfr commented on #9987
I've added some instruction to the chart's readme.
Now we wait for the maintainers ;)

[2018-12-19 08:00] juan131 commented on #9998
That's great @Philippe-Collignon

Could we considered the issue solved?

[2018-12-19 08:15] juan131 commented on #7680
I just created this PR to fix it @desaintmartin
https://github.com/helm/charts/pull/10121

[2018-12-19 08:18] kimxogus commented on #8785
I think this is related to [this post](https://discuss.elastic.co/t/timed-out-waiting-for-all-nodes-to-process-published-state-and-cluster-unavailability/138590).

I'm trying solution 3 which I can try by myself. Do you know which config sets ping timeout in `discovery/zen/fd/master_ping`? `discovery.zen.fd.ping_timeout` didn't help.

[2018-12-19 08:42] desaintmartin commented on #8785
Documentation talks about `discovery.zen.ping_timeout` [0] but I haven't tested yet.

[0] https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-discovery-zen.html#master-election

[2018-12-19 09:09] kimxogus commented on #8785
I set both `discovery.zen.ping_timeout` and `discovery.zen.fd.ping_timeout` to `3s`, but didn't help to solve this issue.

Any http request to node in the cluster responded after logs written below, and outage was almost 2 minutes.

[code]

It seems `discovery/zen/fd/master_ping` doesn't follow `discovery.zen.ping_timeout`.

[2018-12-19 09:16] kimxogus commented on #8785
I tried many times after making sure all nodes have ping_timeout config.
Outage time reduced to about 1m, and node responded before `master_ping` timeout log.

[2018-12-19 09:18] desaintmartin commented on #8785
1m seems to be as expected, since 3s * 30 tries = 1 minute. This is why I thought that option as being dangerous: in order to have quick timeout, we should set this option to ~500ms (10 seconds timeout), which is dangerously low.

[2018-12-19 09:49] kimxogus commented on #8785
Ahh, you're right. As master re-election is done in 3~5 seconds, I thought this is irrelevant to master election.

Setting `3s` seems ok for now in my cluster, but master election seemed to have trouble with `1s`.

[2018-12-19 09:52] #8998 closed

[2018-12-19 10:06] juan131 commented on #9661
Hi @flah00

I was able to reproduce the issue on Minikube. I just followed the steps below (from this repo):

[code]

The problem is we're passing the `.gz` file as *data* instead of *binaryData*. I just created a PR to fix it.

[2018-12-19 10:08] DizTortion opened #10126 "[stable/minio] Healthchecks dont work with TLS"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Version of Helm and Kubernetes**:

helm version
Client: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean"}

kubeadm

[2018-12-19 10:18] kimxogus commented on #8785
I made a feature quest https://github.com/elastic/elasticsearch/issues/36822

[2018-12-19 10:37] juan131 commented on #9619
Hi @natarajaya @liyaka

I just want to mentioned that we recently fixed a similar feature (including the db ini files on gzip format). See the PR below:

- https://github.com/helm/charts/pull/10124

Regarding the issue you're facing @liyaka, could you share the output obtained when running the command below?

[code]

[2018-12-19 10:39] desaintmartin commented on #8785
I wonder one thing: why does the other ES masters still try to ping the master who left (see my point 1/)?

[2018-12-19 10:58] juan131 commented on #9699
Hi @flah00 @KeZhang

As you may find in the README.md below:
https://github.com/helm/charts/blob/master/stable/postgresql/files/README.md

You can put your **postgresql.conf** under the **files/** directory. That'll be much easier than trying to pass your configuration through the **values.yaml**.

[2018-12-19 11:04] juan131 commented on #9844
Hi @obeyler @desaintmartin

The `initContainer` was added to avoid issues on some K8s distributions were **SecurityContext** wasn't respected. Therefore, we needed a way to ensure the volumes had the proper permissions.

What do you think about adding a parameter such as `initContainer.enabled` that can be se to true/false so you can decide whether to install the chart with it or not? cc/ @tompizm

[2018-12-19 11:09] #9661 closed

[2018-12-19 11:11] xoen commented on #8630
I think I've stumbled into the same problem. It seems like the problem is caused by the failing liveness probe (in my case). Edit the `DaemonSet` to remove it makes the pod appear.

I've noticed that there is an (undocumented) `probe` value flag  to *not* have this probe. So that may be a workaround but ideally we'd want the probe to be there and working.

[2018-12-19 11:14] juan131 commented on #7770
[code]

Me neither.. Using the previous **configmap** parameter and running the commands below:

[code]

[2018-12-19 11:19] tompizmor commented on #9844
Agree. We should have enough flexibility to enable/disable both the securityContext and the initContainer.

[2018-12-19 11:23] Philippe-Collignon commented on #9998
Yes thanks .. this might be added to the doc for end users.

[2018-12-19 11:23] #9998 closed

[2018-12-19 11:37] DaveCTurner commented on #8785
The default value for `net.ipv4.tcp_retries2` is 15, which IMO is far too high in the kinds of environments that Elasticsearch should operate. This setting controls how many times a TCP packet should be retransmitted before considering the connection to have dropped, and there's exponential backoff involved, so 15 retries takes many minutes to detect a connection drop. Elasticsearch reacts quickly

[2018-12-19 12:04] skalp opened #10131 "[stable/jenkins] kubernetes agent configuration"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Not relevant

**Which chart**:
jenkins

**What happened**:
In container template definition, command, args and template names are not configurable (hardcoded name "jnlp" and empty command)
[...]
< command ></ command >
[...]
< name >jnlp</ name >

[2018-12-19 12:06] ChristianSchlatter commented on #9093
Same issue here. I even fail when I delete all previous pv and pcv.
Any ideas?

[2018-12-19 12:40] xoen commented on #8630
**Update**: Although originally I thought the problem was caused by the liveness probe, it appears to be just a coincidence as I ended up with the same situation (deamonset desired 0) when the deamonset had no liveness probe 🤷‍♂️

[2018-12-19 12:56] gna582 opened #10134 "[stable/logstash] error: open /usr/share/logstash/config/logstash.yml: read-only file system"
Dear developers,

**Is this a request for help?**:
Yes. I am new to this so please excuse my naivete.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT (or me not understanding how to properly use it)

**Version of Helm and Kubernetes**:
Helm v2.11.0
Kubernetes:
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.2", GitCommit:"17c77c7898218073f14c8d573

[2018-12-19 13:14] ppcololo opened #10135 "[stable/prometheus-operator] Missing metrics in k8s 1.12.*"
**Is this a request for help?**: YES

**Version of Helm and Kubernetes**: kubernetes: 1.12.2, helm: 2.11.0

**Which chart**: stable/prometheus-operator

**What happened**: grafana doesn't show some graphs

**What you expected to happen**: working graphs

**How to reproduce it** (as minimally and precisely as possible): install stable/prometheus-operator on 1.12.* k8s version

**Anything else we ne

[2018-12-19 13:33] #10043 closed

[2018-12-19 13:46] dominik-bln opened #10136 "[stable/postgresql] Metrics Sidecar Container not Starting"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:

Helm v2.11.0
Kubernetes v1.12.3

**Which chart**:

stable/postgresql v3.2.0

**What happened**:

Metrics Sidecar is CrashLooping and always runs into timeout when trying to establish database connection.

**What you expected to happen**:

Metrics Sidecar starts normally

**How to reproduce

[2018-12-19 14:05] macon opened #10137 "[incubator/jaeger] hotrod component configured with wrong environment variable: JAEGER_AGENT_HOST_PORT"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Version of Helm and Kubernetes**:
[code]
[code]
**Which chart**:
`incubator/jaeger`

**What happened**:
After helm install, hotrod is failing. K8s logs from hotrod pod:
[code]

**What you expected to happen**:
hotrod example app should be running successfully.

**How to reproduce it**

[2018-12-19 14:22] dominik-bln commented on #10136
We are seeing the same with version v2.7.10. Production is at v2.6.6 and works fine.

[2018-12-19 14:34] macon opened #10138 "[incubator/jaeger] no traces appearing from hotrod example app"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug report

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
`incubator/jaeger`

**What happened**:
Related to [10137](https://github.com/helm/charts/issues/10137). After issue 10137, I downloaded the chart and added the following env. var to hotrod-deploy.yaml:
[code]
After helm

[2018-12-19 14:43] #8826 closed

[2018-12-19 15:33] paskal commented on #10135
Metrics are 4 months old, could you please test actual version from https://github.com/helm/charts/pull/9516? For that clone stable/prometheus-operator directory from [this repo](https://github.com/paskal/charts), run `helm dependency update` in it, and upgrade your chart as usual using this local version.

[2018-12-19 15:34] paskal commented on #10115
@dteller it's the same, could you please post your values.yaml fragment with proper indentation?

[2018-12-19 15:58] #8916 closed

[2018-12-19 16:07] #9009 closed

[2018-12-19 16:40] dteller commented on #10115
sidecar:
    datasources:
       enabled: false

[2018-12-19 16:41] dteller commented on #10115
'''  sidecar:
    datasources:
      enabled: false
'''

[2018-12-19 16:44] dteller commented on #10115
[code]

[2018-12-19 16:44] dteller commented on #10115
Thanks

[2018-12-19 19:45] #9012 closed

[2018-12-19 20:21] InAnimaTe opened #10145 "Missing template files for elastic-stack"
@rendhalver in `charts/stable/elastic-stack/templates/` there is only a helper and text file....no actual templates???

[2018-12-19 23:17] hbagdi commented on #9993
PR welcome to fix this! We'll try to fix soon as well from our side.

[2018-12-20 01:52] jbiel commented on #9166
I just ran into an issue (this one?) while trying to go from cert-manger 0.5.0 -> 0.5.2 on the latest helm.

[code]

Possibly related to this: https://github.com/helm/helm/issues/3275. I really don't want to re-create cert-manager/request all certs again.

[2018-12-20 05:55] Hokwang commented on #5786
@triqster Can you explain more detaily for beginner like me?

[2018-12-20 06:58] #8970 closed

[2018-12-20 08:02] jrcast commented on #4434
In case someone else faces this issue:

Just faced this problem and solved it by updating my kubectl. Make sure your kubectl version matches your k8s server

[2018-12-20 09:38] petertang2012 commented on #9996
I am also getting **Liveness probe failed** with logstash-1.4.1. Any idea why it happened and how to work around it?

[2018-12-20 09:43] teozkr opened #10160 "[stable/postgresql] Values.initdbScripts is ignored if files/docker-entrypoint-initdb.d is empty"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Helm 2.11.0, Kubernetes 1.10.0, Kubectl 1.12.3

**Which chart**: stable/postgresql 3.2.1

**What happened**:

I installed a chart with the following `requirements.yaml`:

[code]

And the following `values.yaml`:

[code]

**What you expected to happen*

[2018-12-20 10:13] KeZhang commented on #9699
But how can I add the files if I use the remote repo to deploy?

[2018-12-20 11:04] macon commented on #10105
This was due to my ES host not resolving properly from the kubernetes namespace I was in. After fully qualifying the ES url, it worked. I specified empty quotes for the elastic username/password.

[2018-12-20 11:04] #10105 closed

[2018-12-20 11:10] zzabc007 commented on #1071
I also had the same problem, using nfs storage.
https://github.com/grafana/grafana/issues/14584#event-2035224133

[2018-12-20 11:31] vemv commented on #7556
not stale

---

there's a number of Kafka issues which probably have the same cause, and a handful of known fixes suggested from the community. Would really appreciate if things were left in a good shape finally!

[2018-12-20 11:46] giorgiosironi commented on #6353
May be related to https://github.com/helm/charts/issues/8735 where the default `postgres` image doesn't work, hence a derived image also wouldn't work.

[2018-12-20 12:30] giorgiosironi commented on #8735
I don't think the current chart can work with the official `postgres` image because the environment variables are prefixed with [`POSTGRESQL_*`](https://github.com/helm/charts/blob/master/stable/postgresql/templates/statefulset.yaml#L107-L120) rather than `POSTGRES_`.

[2018-12-20 12:38] #10126 closed

[2018-12-20 12:43] davidyuyuan opened #10165 "Unable to install stable/minio into tsi-test namespace. Note that User "system:serviceaccount:tsi-test:tiller" is namespace-admin, not cluster-admin"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
C02XD1G9JGH7:helm davidyuan$ helm version --tiller-namespace tsi-test
Client: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c72

[2018-12-20 14:12] juan131 commented on #9699
Hi @KeZhang

You can clone the repo locally (or just clone the **stable/postgresql** directory).

Another alternative would be using the workaround you suggested to "scape" the single quotes as you mentioned.

[2018-12-20 15:38] michaelferwer commented on #9515
I'm agree with @victornoel.

I use minio too as subchart and others subcharts.
When I list resources (Pods, Services, Secrets, Deployments, PersistentVolumeClaim, ConfigMap), minio resources are listed with release name as said @victornoel .
However mongodb subchart, for example, enriches release name with "mongodb" suffix.

I put an example below of deployed services on my kubernete.
As you can s

[2018-12-20 15:47] 80kk opened #10173 "Dashboard can't/won't talk to datasource after deployment?"
**Is this a request for help?**: Yes, it is.

---

**Version of Helm and Kubernetes**: 2.12.0 / 1.10.8

**Which chart**: Grafana

**What happened**:
I am trying to deploy Prometheus with Grafana with predefined datasources/dashboards. It works well for Kubernetes cluster monitoring, however I have an issue with external server metrics.
I am not sure where the problem is so I am asking here, correc

[2018-12-20 16:21] #9036 closed

[2018-12-20 17:53] hairmare commented on #10173
It looks like you're not using the [stable/grafana](https://github.com/helm/charts/tree/d26aca392691b4a26691fb8acbff64d5635b57e1/stable/grafana) chart from this repo. Maybe you should ask this question in [the repo with the helm chart you are using](https://github.com/marcel-dempers/kube-prometheus-grafana).

[2018-12-20 18:50] cnelson commented on #8024
@amartorelli did you ever figure out the fix for this?  Seeing the same issue.

[2018-12-20 19:01] mmiller1 opened #10183 "[stable/grafana] Adding dashboards to specific folders w/ the sidecar?"
**Is this a request for help?**:
yes

**Version of Helm and Kubernetes**:
helm: 2.12
k8s: 1.10.11

**Which chart**:
stable/grafana

**What happened**:
I would like to add dashboards from configmaps to specific folders in grafana (the grafana UI, I don't really care about the file location inside the pod). Is this possible using the sidecars deployed with grafana? looking through the provided value

[2018-12-20 19:19] #9049 closed

[2018-12-20 19:19] #9050 closed

[2018-12-20 19:39] liyaka commented on #9619
@natarajaya my configuration is just like this and as I said I could see my script in configMap and under  /docker-entrypoint-initdb.d
@juan131 My solution was to add a script that is called from docker-entrypoint and runs init_db.sql ( I use my image that is base on bitnami image), I would say it's a workaround and not a real solution, but it's ok for now.
When i'll be ready to upgrade to the lat

[2018-12-20 19:53] mseank commented on #9875
I think this response would help: #7833

But, essentially, you'll need to specify the FLUENT_UID
Why, I don't know. I just know that it works.

1) Make a YAML file:
`awsRegion: us-west-2
extraVars:
  - "{ name: FLUENT_UID, value: '0' }"
rbac:
  create: true`
2) Don't use the --set flag (apart from the IAM role - that may be able to go in the YAML file as well, beats me)
3) Use a line similar to th

[2018-12-20 20:17] jpigree commented on #9992
@kozejonaz, I submitted a PR with your fix in it. I mentioned you in the commit.
=> https://github.com/helm/charts/pull/10184/commits/4ca84af2915b1ceb50b049f36b25d35422a81c08

[2018-12-20 20:51] tareks commented on #8489
Looks like we will need something very similar to access Systems Manager. May amend the existing PR accordingly.

[2018-12-20 21:40] MorrisMatrix commented on #9199
I would benefit from this being fixed - please team look into this.

[2018-12-20 21:44] kozejonaz commented on #9992
@jpigree Cool, thanks :)

[2018-12-20 22:16] tgruenert opened #10185 "stable/minio PVC created even if persistence.existingClaim is set"
BUG REPORT

in my values.yaml definition is
[code]

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}

Kubernetes v1.12.3

**Which chart**:
stable/minio

**What happened**:
PVC

[2018-12-20 22:48] tgruenert commented on #10185
solved by myself.
in umbrella you have to add chart name to set variables for a chart
[code]

[2018-12-20 22:48] #10185 closed

[2018-12-20 22:58] #10113 closed

[2018-12-20 23:06] #9053 closed

[2018-12-20 23:06] #8914 closed

[2018-12-21 00:57] hbagdi commented on #9993
@yousafsyed-bg What Ingress controller are you using?

I'm struggling to understand the exact issue here. Could you share more details? Some configs and specific health-checks that are failing?

AFAIK, there is no `healthcheck` associated with an Ingress resource.

[2018-12-21 04:00] w4-sjcho opened #10190 "[stable/coredns] Template error when isClusterService = false"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Helm:
[code]
Kubernetes:
[code]

**Which chart**:
`stable/coredns`

**What happened**:
[code]
causes
[code]

**What you expected to happen**:
No error

**How to reproduce it** (as minimally and precisely as possible):
See what happened section.

**Anything else we need to know**:
https://gith

[2018-12-21 04:08] w4-sjcho opened #10191 "[stable/coredns] serviceAccount <-> roleBinding not generated correctly"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Helm:
[code]

Kubernetes
[code]

**Which chart**:
`stable/coredns`

**What happened**:
If I run:
[code]

the generated service account & bindings are:
[code]
[code]

**What you expected to happen**:
Use correct service account name in cluster role binding

**How to reproduce it** (as minimall

[2018-12-21 06:51] Hokwang opened #10192 "[stable/keycloak] how to add ca cert for connecting https sites"
**Is this a request for help?**:
yes
---

**Version of Helm and Kubernetes**:
1.11.3

**Which chart**:
stable/keycloak

I am in corporate proxy environment, and my OpenID Auth URL is https (only provided).

Simple fix solution is add ca cert to keycloak docker image,
but docker image does not provide update-ca-certificates command.

So I have to do in kubernetes (helm chart),
I think I need run co

[2018-12-21 07:58] joostcoelingh opened #10193 "[stable/nfs-client-provisioner] nodeSelector, tolerations and affinity rules not used in templates"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
Helm (client and server) v2.12.0
Kubernetes v1.12.3

**Which chart**:
stable/nfs-client-provisioner

**What happened**:
The properties below are in the values.yaml but not getting used in the deployment template.
[code]
**What you expected to happen**:
Proper

[2018-12-21 08:21] #10193 closed

[2018-12-21 08:34] melissapalmer opened #10195 "[stable/sonarqube] overiding image.tag=7.4-community does not install default sonarqube plugins"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Version of Helm and Kubernetes**:
helm version
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}

miniku

[2018-12-21 08:53] melissapalmer commented on #10195
PR created for this at: https://github.com/helm/charts/pull/10196

[2018-12-21 09:12] ywk253100 opened #10197 "[stable/postgresql] "initdbScripts" doesn't work if no scripts put under directory "docker-entrypoint-initdb.d""

[2018-12-21 09:18] #9063 closed

[2018-12-21 09:45] juan131 commented on #9619
Great @liyaka !!

Do no hot hesitate to let us know if you need help when checking the original option again.

[2018-12-21 09:58] paskal commented on #10115
Both fragments (`values.yaml` and `--set`) give the same output to the helm, you can play around with it with providing same arguments to `helm template` command to see what happens when.
I think problem is not with the chart but with the way you're passing values. In other words, it's only configuration problem on your side and no changes need to be introduced to the chart, developers won't have

[2018-12-21 11:18] kimxogus commented on #8785
As https://github.com/elastic/elasticsearch/issues/36822#issuecomment-449354129.
Reducing `transport.tcp.connect_timeout` helped

[2018-12-21 12:19] #8436 closed

[2018-12-21 13:49] vsliouniaev commented on #9793
@blacksails Using your original example can you please try this:

[code]

[2018-12-21 13:57] dteller commented on #10115
I don't understand what configuration could be wrong there. that seems very straightforward.
And if I use the same values.yaml and add the --set it works fine.

[2018-12-21 13:58] pingles commented on #9790
Awesome, thanks for steering everything through. Please @ me or @uswitch/cloud if anything comes up we can help with.

[2018-12-21 14:30] juan131 commented on #10197
Hi @ywk253100

Could you provide more information about the issue you're facing? Please provide the steps to reproduce it.

[2018-12-21 14:35] harshal-shah opened #10207 "[stable/jaeger-operator] Chart installation fails with crd already exists"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
kubernetes 1.11.5
helm 2.12.0

**Which chart**:
stable/jaeger-operator

**What happened**:
- run helm install --name jaeger-operator --namespace tracing stable/jaeger-operator
- installation fails with following error
[code]

**What you expected to hap

[2018-12-21 15:04] harshal-shah commented on #10207
I was able to work around this by adding flag `--no-crd-hook` to the helm install command

[2018-12-21 15:05] cpanato commented on #10207
sounds good, i will add that in the chart

[2018-12-21 15:11] juan131 commented on #9940
Hi @obeyler

It's very likely the master node was restarted before configuring the password, leaving the persisted data in an inconsistent state.

Could you please install the chart enabling the "debug" mode so we can identify the point where the pod is restarted? You can do it running the command below:

[code]

[2018-12-21 15:17] harshal-shah commented on #10207
@cpanato  No need to. I think this is a helm `2.12.0` issue. I tested the chart on another cluster with helm `2.11.0` and the chart got installed without any issues.

[2018-12-21 15:23] harshal-shah commented on #10207
Found a new helm release which should fix this, https://github.com/helm/helm/releases/tag/v2.12.1

testing it now

[2018-12-21 17:38] #8807 closed

[2018-12-21 22:32] ScottBrenner commented on #10084
[The Kubernetes documentation](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables) for this `secretKeyRef` says

but when I open a shell to my pods and try to view the variable I'm seeing
[code]
I would expect this to show the actual password (again, according to linked documentation) so it looks like this sort of mapping is not yet possible.

[2018-12-21 22:41] #8912 closed

[2018-12-21 22:41] #9081 closed

[2018-12-21 23:10] anragen commented on #9289
The same problem.

[2018-12-22 03:39] tony-kerz opened #10217 "[keycloak:4.0.8] You need local access to create the initial admin user ?"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug-report

**Version of Helm and Kubernetes**:  `2.12.1`, `1.10.x`

**Which chart**: keycloak `4.0.8`

**What happened**:

installed with following values:
[code]
<img width="327" alt="screen shot 2018-12-21 at 10 34 45 pm" src="https://user-images.githubusercontent.com/1223231/50370220-c6b90100-

[2018-12-22 03:40] #9090 closed

[2018-12-22 05:32] AustinReichert commented on #10197
@juan131 Hello, not the OP but I believe I have encountered the same issue.

I've been trying to use the initdbScripts to install an extension for me that would be useful for another application. Perhaps this is not what initdbScripts is meant to be used for, but from the description provided [here](https://github.com/helm/charts/blob/master/stable/postgresql/values.yaml#L117), I thought I'd try i

[2018-12-22 09:18] anragen commented on #9289
I want to add that iven if you do
helm  delete cert-manager
kubectl delete customresourcedefinitions.apiextensions.k8s.io certificates.certmanager.k8s.io clusterissuers.certmanager.k8s.io issuers.certmanager.k8s.io
and then try to install
still get error
 failed: customresourcedefinitions.apiextensions.k8s.io "certificates.certmanager.k8s.io" already exists

[2018-12-22 10:05] gsemet commented on #2591
Chart is now merged :) Thanks for all your help !

[2018-12-22 16:03] anragen commented on #9289
v2.12.0
that is ok?
helm install stable/cert-manager \
    --namespace certmanager \
    --set createCustomResource=false \
    --set ingressShim.defaultIssuerName=letsencrypt-prod \
    --set ingressShim.defaultIssuerKind=ClusterIssuer \
    --set rbac.create=false \
    --set serviceAccount.create=false

[2018-12-22 16:08] #10084 closed

[2018-12-22 16:27] cradle77 opened #10222 "[stable/prometheus-adapter] 403 in readiness probe in AKS"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG

**Version of Helm and Kubernetes**:
Kubernetes 1.11.5 (in AKS, with RBAC enabled)
Helm 2.10.0

**Which chart**:
stable/prometheus-adapter

**What happened**:
When installing the chart, the adapter pod's readiness and liveness probes fail with 403. This causes a CrashLoopback in the pod.

**What you expected to happen**:
The Pod becom

[2018-12-22 20:37] #8298 closed

[2018-12-22 20:37] #9116 closed

[2018-12-22 20:37] #9126 closed

[2018-12-22 20:37] #9113 closed

[2018-12-22 20:37] #8308 closed

[2018-12-22 20:37] #9083 closed

[2018-12-22 21:33] mbelang commented on #9289
[code]

[2018-12-23 03:58] GoingFast commented on #9217
stale

[2018-12-23 08:04] #9099 closed

[2018-12-23 08:50] anragen commented on #9289
Ok i did it to upgrade createCustomResource=false to createCustomResource=true
helm upgrade cert-manager stable/cert-manager \
    --namespace certmanager \
    --set createCustomResource=true  \
    --set ingressShim.defaultIssuerName=letsencrypt-prod  \
    --set ingressShim.defaultIssuerKind=ClusterIssuer \
    --set rbac.create=false  \
    --set serviceAccount.create=false

[2018-12-23 10:15] w4-sjcho opened #10227 "[stable/coredns] Support for changing service port"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:

**Which chart**:
`stable/coredns`

**What happened**:
Currently, the port of the service is fixed to the same port used by the container. This prevents the users to use non-privileged port for the container (e.g. 8053) and map it to a privileged port (e.g. 53).

**What you expected to h

[2018-12-23 15:53] steven-sheehy commented on #10222
What chart version and can you provide the logs?

[2018-12-23 21:45] #7498 closed

[2018-12-24 02:20] ywk253100 commented on #10197
The logic [here](https://github.com/helm/charts/blob/master/stable/postgresql/templates/initialization-configmap.yaml#L1) seems wrong, the initialization configmap is rendered only when the `files/docker-entrypoint-initdb.d/*.{sh,sql,sql.gz}` exists `and` `.Values.initdbScriptsConfigMap` isn't null. I think it should be `or`?

[2018-12-24 03:19] lanyangkj opened #10231 "the timezone set for [stable/percona-xtradb-cluster] not support"
We needed to set the time zone, but neither the help document (readme.md) nor the source code found a support interface for this feature.How to configure time zones, such as env TZ=?

[2018-12-24 10:34] gabibbo97 commented on #10217
Confirmed

[2018-12-24 12:20] cradle77 commented on #10222
Hello,

Thanks a lot for getting back to me. I'm using the latest stable:
[code]

I've also tried 0.2.1/0.4.0 - no changes.

In the pod logs I see just
[code]

Node logs don't say much more than that:
[code]

Are there any other logs that might be helpful in diagnosing this?

Thanks!
m.

[2018-12-24 13:14] #9167 closed

[2018-12-24 13:46] jaipradeesh commented on #9167
Re-opening

[2018-12-24 15:01] antweiss commented on #10103
Well, in fact, as I found today -  it's sufficient to put a requirements.txt at the root of your dags directory and the init container will run it.

[2018-12-24 15:08] antweiss opened #10232 "[stable/airflow] - Can't edit connections because of a cryptogrpahy exception"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
A BUG REPORT

**Version of Helm and Kubernetes**:
helm version
Client: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.11.0", GitCommit:"2e55dbe1fdb5fdb96b75ff144a339489417b146b", GitTreeState:"clean"

[2018-12-24 15:52] raphaelsampaio commented on #10103
Are you saying that placing a `requirements.txt` at the root of the dags directory works even for a [shared persistent volume strategy](https://github.com/helm/charts/tree/master/stable/airflow#mount-a-shared-persistent-volume), i.e. not only for a git-init strategy?

[2018-12-24 16:04] steven-sheehy commented on #10222
I don't think you provided enough of the logs. Most likely the health check fails if it can't connect to Prometheus. Verify your Prometheus url and port are correct. Verify your Prometheus instance doesn't require some form of authentication. Try increasing the logLevel to a higher value like 4.

[2018-12-24 19:05] johnraz commented on #9166
I can confirm @hobti's statement above.
I will try to investigate.

@munnerz Meanwhile, would you have any clue / pointers?

Thanks!

[2018-12-24 22:49] 030 commented on #10195
When I would like to install plugins, it seems that the default plugins cannot be installed:

`Caused by: java.io.FileNotFoundException: /opt/sonarqube/extensions/plugins/sonar-csharp-plugin-6.5.0.3766.jar (Permission denied)`

I think this is related. Could you verify?

[2018-12-25 03:50] #8952 closed

[2018-12-25 09:49] 030 commented on #10195
**chart version**

name: sonarqube
description: Sonarqube is an open sourced code quality scanning tool
version: 0.10.3

**image version**

[code]

**values**

[code]

**logs**

Caused by: java.io.FileNotFoundException: /opt/sonarqube/extensions/plugins/sonar-csharp-plugin-6.5.0.3766.jar (Permission denied)

**Discussion**

Although the aim was to install the sonar-go-plugin, a permission denied r

[2018-12-25 13:13] kchugalinskiy commented on #10065
The problem is not connected to configuration. It seems like env variable should be renamed from `RABBIT_USER` to `RABBIT_DEFAULT_USER` and the same should be applied for the password. It seems like the root of this problem starts from bad rabbitmq docker image tagging, which is tied to OS version instead of rabbitmq version.

[2018-12-25 14:23] maorfr opened #10242 "[incubator/cassandra] Add support for Minio S3 for backup"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**Which chart**:
incubator/cassandra

**Anything else we need to know**:
A PR will be created to close this issue.

[2018-12-25 16:18] #9155 closed

[2018-12-25 19:41] #8414 closed

[2018-12-26 07:17] lanyangkj opened #10246 "how to set [stable/percona-xtradb-cluster] use hostpath volume"
As we all know, under the business scenario of large data volume, the read and write performance of local disk is superior to that of network Shared disk, so how to set [stable/percona-xtradb-cluster] to use hostpath instead of PVC?

thanks!!

[2018-12-26 09:45] philoserf commented on #10145
The templates come from the charts listed in `requirements.yaml`

https://github.com/helm/charts/blob/master/stable/elastic-stack/requirements.yaml

Ref: https://docs.helm.sh/chart_best_practices/#requirements

[2018-12-26 10:01] zzabc007 commented on #1071
After I installed the source code, I tested each parameter and environment variable and found that only provisioning.datasources could not use NFS storage. Error content: "can't read datasource provisioning files from directory logger=provisioning.datasources"

[2018-12-26 10:30] #8525 closed

[2018-12-26 13:11] ryandawsonuk commented on #2560
The suggestion from @dfcowell would make sense to me as it would be in line with other charts such as how the keycloak chart allows a custom realm to be referenced

[2018-12-26 13:15] ryandawsonuk commented on #2560
The suggestion from @dfcowell would make sense to me as it would be in line with other charts such as how the keycloak chart allows a custom realm to be referenced. Would be great to get this reopened as there is demand to address this - https://stackoverflow.com/questions/53932412/how-to-integrate-custom-scripts-into-locust-helm-chart-stable-locust/53932594#53932594

[2018-12-26 13:16] ryandawsonuk commented on #2560
The suggestion from @dfcowell would make sense to me as it would be in line with other charts such as how the keycloak chart allows a custom realm to be referenced. Would be great to get this reopened as there is demand to address this - https://stackoverflow.com/questions/53932412/how-to-integrate-custom-scripts-into-locust-helm-chart-stable-locust

[2018-12-26 20:40] steven-sheehy commented on #1569
We can solve this if we make one small change to the helm chart and create a custom service. First, the helm chart just needs to set the 0th pod to have a higher priority in `on-start.sh` so he is always elected as the primary. You can also do this manually by connecting to MongoDB and using `rs.reconfig()`. Second, a custom service can be created to target just this primary pod like so:

[code]

[2018-12-26 22:01] #8499 closed

[2018-12-26 22:01] #9194 closed

[2018-12-26 22:01] #9186 closed

[2018-12-27 01:44] #9210 closed

[2018-12-27 01:44] #9197 closed

[2018-12-27 04:47] #9215 closed

[2018-12-27 07:21] ahsan-storm commented on #10195
@030 did you find a fix for this issue, as I'm having the same problem. Trying to install "sonar-auth-oidc" plugin, but the default plugins fail to install if custom plugins are being installed.

[2018-12-27 09:20] 030 commented on #10195
@ahsan-storm Could you check in the logs whether you see the following error as well?

`/opt/sonarqube/extensions/plugins/sonar-csharp-plugin-6.5.0.3766.jar (Permission denied)`

[2018-12-27 09:50] maver1ck commented on #9108
/remove-lifecycle stale

[2018-12-27 10:04] #10242 closed

[2018-12-27 10:44] #9218 closed

[2018-12-27 10:50] Monpoke commented on #10217
Same error on our own
Chart version: 4.0.8

[2018-12-27 11:49] 375gnu opened #10267 "[stable/jenkins] install with rbac doesn't work in tiller-less mode"
**Is this a request for help?**: NO

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: helm v2.11.0 and v2.12.1, k8s 1.10

**Which chart**: stable/jenkins

**What happened**: processed `rbac.yaml` doesn't have `apiVersion` field

**What you expected to happen**: it has it.

**How to reproduce it** (as minimally and precisely as possible

[2018-12-27 15:56] MorrisMatrix commented on #9199
Issue has been open for almost 2 months, the PR is simply fixing the typo so we can use SSM with Concourse. Please team can we get this merged in.

[2018-12-27 16:13] #8341 closed

[2018-12-27 16:45] #9229 closed

[2018-12-27 16:45] #9231 closed

[2018-12-27 16:45] #9230 closed

[2018-12-27 17:04] asloan7 opened #10271 "doc on how to install grafana-kubernetes-app to grafana chart?"
Chart - grafana

Help or documentation request:

Is there a way to install https://grafana.com/plugins/grafana-kubernetes-app/installation to this grafana helm chart?

[2018-12-27 18:34] #9239 closed

[2018-12-27 22:15] #9111 closed

[2018-12-27 22:15] #9242 closed

[2018-12-28 01:54] southwolf commented on #10145
Then how can I set values like `cluster.name` for the children charts?

[2018-12-28 03:50] philoserf commented on #10145
Now that is a different problem. Currently, the parent chart must expose a value in its values file. Elasticsearch's default value is used unless it is exposed in the parent chart. Here it is not.

A pull request to this chart adding values from the child charts that need to be exposed may be the answer.

There are a number of issues surrounding values and parent/child charts. I believe most peopl

[2018-12-28 03:54] philoserf commented on #10145
For the record the _stable/elastic-stack_ chart does work. Even without any templates of its own. It just doesn't give you the control you want...yet. `helm install stable/elastic-stack` gave me a *halting_huron* and it waded off into the marsh of my kubernetes cluster.

[2018-12-28 04:05] ezlee opened #10275 "helm install render error for annotations"
I was trying to add annotations to the service when using helm to deploy traefik:

[code]

Tried many different ways with escape "\" for slash,double quotes, colon,space, none of them works.
The only way is to add manually with "kuberctl edit svc traefik-internal" after it is installed.
[code]

Does anyone have rendered it correctly? How?
thanks!

[2018-12-28 08:18] mkjoerg commented on #10045
Managed to overcome this error by updating my helm repo.

[code]

Make sure you have the version 0.10.3 of the chart.
See https://github.com/SonarSource/docker-sonarqube/issues/224#issuecomment-449057068 for further information.

[2018-12-28 11:19] mtparet commented on #10222
Same issue, logs:
[code]

[2018-12-28 12:20] andrewnazarov opened #10282 "[stable/elasticsearch] Discrepancies between the context of values.yaml and the documentation"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Doesn't matter

**Which chart**: stable/elasticsearch

**What happened**:

Misleading defaults in the documentation:
appVersion | Application Version (Elasticsearch) | 6.5.3
image.tag | Container image tag | 6.5.1

whereas in the values.yaml
appVersion: "6.5.1"
image:
  tag: "6.5.3"

Also the

[2018-12-28 12:48] intelfx opened #10284 "[stable/postgresql] `init-scripts` configmap is skipped with non-null `.Values.initdbScripts`"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:

N/A

**Which chart**:

[stable/postgresql](https://github.com/helm/charts/tree/master/stable/postgresql)

**What happened**:

`.Values.initdbScripts` is not honored

**What you expected to happen**:

`.Values.initdbScripts` should be honored

**How t

[2018-12-28 14:08] pinnymz commented on #9586
Any thoughts on this?  Has nobody else experienced this problem?

[2018-12-28 14:34] gaui commented on #9259
☹️

[2018-12-28 16:00] #8059 closed

[2018-12-28 16:47] dalvizu commented on #1341
We're running k8s across cluster, and using LoadBalancer on the agent Service to allow communication.

If no range is specified, it defaults to `0.0.0.0/0` -- _however_, there is an annotation you can use to specify range, and you can specify this in the chart:

[code]

https://github.com/kubernetes/kubernetes/blob/870c0507272d13b67c4beff34685ff674f716a2d/pkg/cloudprovider/providers/aws/aws.go#L33

[2018-12-28 16:48] tjohnston-cd commented on #9472
It would be really good if this was fixed (to match the desired behaviour described in the OP).

Most search results about the grafana admin password don't mention `grafana-cli` either. @mauritsvdvijgh 's solution definitely works, so thanks for that!

[2018-12-28 16:51] 030 opened #10289 "Unable to use private images as Jenkins slaves"
**BUG REPORT**

**Version of Helm and Kubernetes**:

h: v2.12.0
k: v1.11.5-gke.5

**Which chart**:

jenkins

**What happened**:

`Error response from daemon: unauthorized: access to the requested resource is not authorized`

**What you expected to happen**:

that it is possible to use private image as jenkins slaves

**How to reproduce it** (as minimally and precisely as possible):

* define a pri

[2018-12-28 17:06] steven-sheehy commented on #10222
What authorization-mode are you using for your kube-apiserver? Mine is --authorization-mode=Node,RBAC. I think having Node there is the magic which makes it possible for kubelet to GET /healthz successfully.

[2018-12-28 17:20] dalvizu commented on #1341
Linting is failing because I did not bump version -- is that required for documentation update?

[2018-12-28 19:00] #9276 closed

[2018-12-28 19:27] nickolaskraus-wf opened #10291 "[stable/sentry] `sentry upgrade` fails with ProgrammingError"
**Is this a request for help?**:

Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

🐞BUG REPORT

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

[stable/sentry](https://github.com/helm/charts/tree/master/stable/sentry)

**What happened**:

I am attempting to run Sentry in a Kubernetes cluster locally via Minikube.

Using the [stable/sentry](https://github.com/helm/cha

[2018-12-28 20:31] elithrar opened #10292 "Cluster Autoscaler Chart - Can't Open /etc/gce.conf"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report
**Version of Helm and Kubernetes**:

[code]
[code]

**Which chart**: cluster-autoscaler - https://github.com/helm/charts/tree/master/stable/cluster-autoscaler

**What happened**: Installation of the chart failed due to a missing configuration file in the Managed Instance Group provided

[2018-12-28 20:31] elithrar commented on #10292
Related, but also unresolved (timed out): https://github.com/helm/charts/issues/7775

[2018-12-28 20:39] charles-d-burton opened #10293 "Atlantis Config/Documentation problem"
**Version of Helm and Kubernetes**:
helm v2.11.0
kubernetes 1.11.5

**Which chart**:
atlantis

**What happened**:
Allow repo config does not function
First, there is a documentation issue the value parsed is allowRepoConfig but the documentation says that it's allow_repo_config.  Additionally, setting the value does not work as expected.  Putting in the value:
allowRepoConfig: true

does not set t

[2018-12-28 22:10] ading1977 commented on #10222
I am seeing the same issue on my AKS:

Events:
  Type     Reason     Age                  From                               Message
  ----     ------     ----                 ----                               -------
  Normal   Scheduled  3m13s                default-scheduler                  Successfully assigned default/prome-adapter-prometheus-adapter-559c98948d-n82vs to aks-agentpool-350641

[2018-12-28 23:20] mtparet commented on #10222
It's not usuable but as it seems a common issue on aks, I cc some aks people which could help here. Feel free to come or not as your time is yours. @tariq1890 @jackfrancis @mboersma

[2018-12-29 01:16] ygqygq2 opened #10296 "stable/mysqldump configmap bug"
need use `if or`

![image](https://user-images.githubusercontent.com/17672440/50531742-43884400-0b4a-11e9-8623-f4e6d034a53b.png)

[2018-12-29 01:56] Erically commented on #7609
resolved?

[2018-12-29 07:15] Aisuko commented on #9781
I think that
if `{{- if .Values.external.enabled }}==true` and`{ {- if .Values.external.type }}==Nodeport` ,but `{{.Values.external.loadBalancerIP}}==[]`,
so `{{- $loadBalancerIP := index $root.Values.external.loadBalancerIP $i }}` maked mistaks with
`Error: render error in "kafka/templates/service-brokers-external.yaml": template: kafka/templates/service-brokers-external.yaml:11:27: executing "ka

[2018-12-29 07:42] Aisuko commented on #9781
And I got a init-container error
[code]

[2018-12-29 13:57] #7997 closed

[2018-12-29 17:41] ensonic commented on #9474
The issue has not been fixed, not is there any comment from the developers. The issue was introduced in the initial commit
https://github.com/helm/charts/commit/fb65df5bd017e9cc647ff5b9a313033553707127 by @gianrubio

[2018-12-29 20:45] #9299 closed

[2018-12-29 22:07] 030 commented on #10289
The `imagePullSecret` field is hidden. Navigate to the bottom of the podTemplate that resides in the configure section of jenkins and click on `advance options`

[2018-12-29 22:07] #10289 closed

[2018-12-30 03:18] ayk33 commented on #7657
I seem to be running across the same issue. Looking at events for my jenkins deployment just shows that the readiness probe failed. Anyone else figure out the root cause of this? Could this be an issue with latest? I didn't notice this issue happening before.

[code]

[2018-12-30 04:34] AaronFriel opened #10306 "[meta] Grafana persistence has been broken for most of a year, and so has the process of PR review"
Persistence in Grafana has been broken for months (#4156), a PR was made to fix the volume permissions (#5576), this was *incorrectly* [nitpicked](https://github.com/helm/charts/pull/5576#issuecomment-389392755) [twice](https://github.com/helm/charts/pull/5576#pullrequestreview-121053989) by the person it was assigned to @unguiculus, then there was some bikeshedding about whether the change that c

[2018-12-30 05:34] AaronFriel opened #10308 "[meta] Cannot /assign to the users recommended by k8s-ci-robot"
The bot gives bad advice and/or code OWNERS files are out of date. See here: https://github.com/helm/charts/pull/10305#issuecomment-450540277

[2018-12-30 07:55] halkeye opened #10310 "[stable/graphite] graphite chart doesn't startup"
**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/graphite

**What happened**:
Pod fails to start

[code]

**What you expected to happen**:
Pod starts

**How to reproduce it** (as minimally and precisely as possible):
(brand new install)
$ helm install stable/graphite --name graphite

**Anything else we need to know**:
https://github.com/graphite-project/docker-graphite-statsd/co

[2018-12-30 07:57] maorfr commented on #10275
Can this help? helm/helm#1987

[2018-12-30 08:36] maorfr commented on #10275
and in general, have you considered passing a local values file using `--values`\`-f` file instead of passing values on the command line using `--set`?

[2018-12-30 11:24] #8646 closed, assigned to nobody

[2018-12-30 11:59] #9278 closed

[2018-12-30 15:21] bootc commented on #8077
/assign @munnerz

[2018-12-30 15:21] bootc commented on #8077
Go away stale bot.

[2018-12-30 19:55] #8184 closed

[2018-12-30 23:38] bluebenno commented on #9519
/notstale

[2018-12-30 23:45] afroald commented on #9218
Have you found a solution to this?

[2018-12-31 08:59] sidohaakma commented on #9991
Fixed by #8878

[2018-12-31 08:59] #9991 closed

[2018-12-31 10:52] andresbono commented on #10284
Thanks for submitting the issue and the PR!

[2018-12-31 11:14] RuBiCK opened #10316 "[stable/prometheus-operator] Error: customresourcedefinitions.apiextensions.k8s.io "alertmanagers.monitoring.coreos.com" already exists (with no existing CRDs)"
BUG REPORT

**Version of Helm and Kubernetes**: Kubernetes v1.11.5 | Helm v2.12.0

**Which chart**: stable/prometheus-operator

**What happened**: When installing stable/prometheus-operator fails with `customresourcedefinitions.apiextensions.k8s.io "alertmanagers.monitoring.coreos.com" already exists`
even checked that the CRD doesn't exist previously

**What you expected to happen**: Install with

[2018-12-31 16:12] charles-d-burton commented on #10293
Looks like it's just a documentation error.

[2018-12-31 16:44] psoares opened #10318 "stable/elasticsearch Support extra volumes"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
2.12.0 - 1.13.1

**Which chart**:
elasticsearch

**What happened**:
I want to mount a custom file into /usr/share/elasticsearch/config/. In my particular use case it's a list of words for usage into a "Keep words token filter".

**What you expecte

[2018-12-31 16:56] kfox1111 opened #10319 "elasticsearch default migration timeout"
The default terminationGracePeriodSeconds is 1h. This may not be enough for nodes that are either very large, or have very slow networking. This can lead to real problems for folks not paying enough attention.

I believe the default should be huge, something like years allowing for failures to be safe in the right direction when folks are not paying attention.

[2018-12-31 20:10] rnkhouse commented on #9662
To connect the database with SSL.

[2018-12-31 20:11] philoserf commented on #10316
This issue has already been reported here and identified as an issue with helm/helm.

[2018-12-31 22:51] ezlee commented on #10275
@maorfr
no, actually I tried the --values \ -f option with the following contents in the first place, it didn't work.
`controller:
  service:
    loadBalancerIP: 172.20.0.131
    annotations:
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"
`

[2018-12-31 23:30] bekriebel commented on #4665
This appears to still be an issue, at least it was for an upgrade I just performed. Information on how to avoid this should at least be documented.

[2019-01-01 03:32] wirehead commented on #10316
To be more specific: This is tracked by helm#5054 and upgrading to Helm 2.12.1 should rectify the problem.

[2019-01-01 06:43] #7979 closed

[2019-01-01 06:43] #8559 closed

[2019-01-01 06:56] maorfr commented on #10275
Here is how to solve it using `--set`:
[code]

[2019-01-01 07:39] halkeye commented on #10310
@AaronFriel i saw that your most recent PR removed this. I was about to make a PR, was the change intentional? should I make a PR to add it back?

[2019-01-01 09:19] alokrajiv opened #10322 "[stable/mariadb] Existing Persistent Storage fails"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT (Possibly)

**Version of Helm and Kubernetes**:

[code]
[code]

**Which chart**:
[stable/mariadb] version: 5.0.9

**What happened**:
Existing Persistent Storage Volume behaviour is possibly inconsistent with other charts.
`persistence.enabled : true`
`persistence.existingClaim: xxxxx`
a

[2019-01-01 21:08] #9361 closed

[2019-01-02 02:57] halkeye commented on #10310
ah its included in the image, sweet, closing!

[2019-01-02 02:57] #10310 closed

[2019-01-02 03:01] EmperorArthur commented on #3104
This is still an issue.

Attempted to follow the [instructions](https://www.digitalocean.com/community/tutorials/how-to-install-software-on-kubernetes-clusters-with-the-helm-package-manager) from DigitalOcean, and ran into this issue today.

Please re-open.

[2019-01-02 05:48] AndresPineros commented on #9136
@savealive I get the same output in the logs. Grafana sidecars constantly restart and trigger Alertmanager.

[2019-01-02 08:15] marcopaga commented on #9280
The PR is still open.

[2019-01-02 09:49] juan131 commented on #9093
Hi @bholzer

According to what you say it should be related with previous PVC that were not removed when deleting the Helm chart and do not have the right permissions.

Could you please check the existing **PVCs** after deleting the previous chart? E.g. (chart named **"my-release"**)

[code]

You can remove the previous PVCs by running:

[code]

After that you should be able to install PostgreSQL

[2019-01-02 09:54] juan131 commented on #9267
Great @codemasterover9000 !!!

I'll continue the discussion on the original GitHub issue to see if we can include a task to work on that soon.

[2019-01-02 10:02] juan131 commented on #9267
By the way, the chart already implements this solution using a custom configuration file:

See:

- https://github.com/helm/charts/blob/master/stable/rabbitmq/values.yaml#L69-L71
- https://github.com/helm/charts/blob/master/stable/rabbitmq/templates/configuration.yaml#L12

[2019-01-02 10:07] codemasterover9000 commented on #9267
Yes that enables/activates the plugins in RabbitMQ. The plugin binary must still be available though :)

[2019-01-02 10:18] juan131 commented on #9267
You're right! I created a task to implement the solution in the image so it's downloaded/installed during the initialisation of the image.

[2019-01-02 10:34] tompizmor commented on #10160
I just sent this PR fixing the issue https://github.com/helm/charts/pull/10332

[2019-01-02 10:34] tompizmor commented on #10197
I just sent this PR fixing the issue https://github.com/helm/charts/pull/10332

[2019-01-02 10:41] #10160 closed

[2019-01-02 11:19] tompizmor commented on #10284
I miss this issue and the PR and sent this [other PR](https://github.com/helm/charts/pull/10332) that is already merged.  Please check [my comment](https://github.com/helm/charts/pull/10294#issuecomment-450835686) in your PR.

[2019-01-02 12:04] juan131 commented on #9359
Hi @Nittarab

I created a different PR to fix the same issue using a different approach. See https://github.com/helm/charts/pull/10335

[2019-01-02 12:20] juan131 commented on #3855
Hi everyone,

Do you still suffer High CPU usage because of readiness/liveness probes in the latest versions of the cart??

I agree with @javsalgar, we can make simpler probes (such as tcp port checking) or decrease the frequency if you're running into issues because of that.

[2019-01-02 12:34] juan131 commented on #9197
Hi everyone,

I was unable to reproduce it using the latest version of PostGreSQL chart:

[code]

Could you please confirm that the issue has been solved? Do you still suffer this issue on latest versions?

[2019-01-02 12:48] ariep commented on #9407
@unguiculus hi, anything further I can do to diagnose this? Or do you know what the problem is?

[2019-01-02 12:48] juan131 commented on #9959
I just created a PR to address this issue.

[2019-01-02 14:34] juan131 commented on #9218
Hi everyone,

I just created a PR to add some alternatives to specify the initdb scripts to use. As you mentioned there's no way to indicate these scripts with the current method when using the chart as a dependency.

[2019-01-02 14:48] #9959 closed

[2019-01-02 14:49] juan131 commented on #9229
Hi @giorgiosironi

Why do you want to avoid using this service? I don't see any advantage on making them optional.

The "headless" services are used on **statefulsets** to guarantee that each pod has a "stable network ID" so pods can discover one each other.

Here you can find a nice blog talking about this feature:
https://www.quora.com/What-is-the-use-of-a-headless-service-in-Kubernetes

[2019-01-02 14:54] juan131 commented on #7726
MongoDB chart was fixed on this PR: https://github.com/helm/charts/pull/10121

[2019-01-02 14:55] #9359 closed

[2019-01-02 15:59] juan131 commented on #8735
Hi @giorgiosironi

What do you mean with "official" image? Do you mean the image maintained by Docker, Inc?

As you mentioned the chart is adapted to the PostgreSQL image maintained by Bitnami. Is there any feature missing in the current image? Please open an issue/PR at https://github.com/bitnami/bitnami-docker-postgresql if you consider so. Any contribution/suggestion to improve the image is ver

[2019-01-02 16:16] juan131 commented on #10109
Hi @apeschel

That file is a symbolic link to `/dev/stdout` as you can check in the link below:

https://github.com/bitnami/bitnami-docker-mariadb/blob/master/10.2/debian-9/rootfs/prepare.sh#L18

Therefore, all the logs are redirected to `stdout` so you can access to them through K8s API.

[2019-01-02 16:20] #9334 closed

[2019-01-02 16:20] #9376 closed

[2019-01-02 16:20] #9325 closed

[2019-01-02 16:57] ysaakpr commented on #9450
4,8.1 is out

[2019-01-02 17:00] Place1 opened #10342 "grafana datasource should use "tpl" so that release name can be used in connection strings"
Currently there's no way to deploy stable/grafana and stable/prometheus and have a datasource configured automatically via values.yaml.

stable/prometheus will create a service called `{{ .Release.Name }}-prometheus-server` and ideally we could configure a datasource for grafana pointing to this, but as [this issue](https://github.com/helm/helm/issues/2492) points out, it's not possible to do so i

[2019-01-02 17:10] dperezmavro opened #10343 "[stable/concourse] localuser with username other than test gets access denied"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Helm version:
[code]

Kubernetes version:
[code]

**Which chart**:

`stable/concourse version 3.0.1`

**What happened**:

When installing this chart, I am trying to customize the `localUser` list to have a different name for the concourse user and a n

[2019-01-02 17:15] grampelberg commented on #10222
It appears that in AKS the kubelet does not do any kind of authentication for liveness/readiness probes. You can get the adapter working by adding this:

[code]

Disclaimer: this is definitely too open of a policy and I'd recommend figuring out what the minimum required is.

[2019-01-02 18:51] #10091 closed

[2019-01-02 19:01] melissapalmer commented on #10195
Hi @030 and @ahsan-storm,

I have just checked on

and get the same error's as you when including plugins to install ie: adding to values something along the lines of
`
plugins:
  install:
    - "https://github.com/sbaudoin/sonar-yaml/releases/download/v1.3.0/sonar-yaml-plugin-1.3.0.jar"
    - "https://repox.sonarsource.com/sonarsource/org/sonarsource/go/sonar-go-plugin/1.1.0.1612/sonar-go-plugin-

[2019-01-02 20:57] nickolaskraus-wf commented on #10291
The `ProgrammingError` error I was experiencing was a symptom of a more invidious problem. The migration which is initiated when calling `sentry upgrade` has a [memory leak](https://github.com/getsentry/sentry/issues/8862#issuecomment-401486370), which used up the resources on my Pod resulting in it being terminated. This prevented the initial migration from ever being completed, leading to contin

[2019-01-02 20:57] #10291 closed

[2019-01-02 21:10] #9702 closed

[2019-01-02 22:43] pib commented on #9703
This is still indented too far, though it is now on this line https://github.com/helm/charts/blob/master/stable/kubernetes-dashboard/templates/deployment.yaml#L92

[2019-01-03 01:10] #9389 closed

[2019-01-03 02:30] Anakin-Hao commented on #9561
@unguiculus any update on this?

[2019-01-03 06:02] salfand opened #10361 "mysqldump helm chart doesn't add rsync command even though upload ssh is enabled"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm version 2.12.1
K8S version 1.11.5

**Which chart**:
charts/stable/mysqldump/

**What happened**:
Installed the helm chart with ssh upload enabled, however the script didn't updated accordingly and rsync command didn't add to the script as it shou

[2019-01-03 07:04] bluebenno commented on #9698
For sure it is nice to know, I'm not the only one who got the same errors: i.e.  `starting container process caused "exec: \"/agent\": stat /agent: no such file or directory"`.

working with a local older copy of the chart, but the same (my)values file - it does work. Which is odd. I'll update in 24hours.

[2019-01-03 08:17] juan131 commented on #10322
Hi @alokrajiv

I don't understand very well the wrong behaviour you're explaining. You described two scenarios:

- Scenario A:
  - persistence.enabled : true
  - persistence.existingClaim: xxxxx
- Scenario B:
  - persistence.enabled : false
  - persistence.existingClaim: xxxxx

What do you expect on each scenario? I would expect the following behaviour:

- Scenario A: An existing PVC called "xxxxx

[2019-01-03 08:44] alokrajiv commented on #10322
Hi @juan131,

Scenario A: My current experience is PVC doesn't mount at `/bitnami/mariadb`

Notice: [mount point at line 156](https://github.com/helm/charts/blob/b89980b433d7883c2c494b05b90f16267a7bb903/stable/mariadb/templates/master-statefulset.yaml#L156)

[`data`](https://github.com/helm/charts/blob/b89980b433d7883c2c494b05b90f16267a7bb903/stable/mariadb/templates/master-statefulset.yaml#L144)

[2019-01-03 08:54] desaintmartin commented on #3855
In my case, I greatly reduced the frequency of the probes.

[2019-01-03 09:07] tompizmor commented on #10136
Hello @dominik-bln,

I am not able to reproduce the issue. This is what I have done:

Install postgresql chart (Version 3.7.2)

[code]

Check the logs of the metrics container:

[code]

Then I installed Prometheus and Grafana and import a PostgreSQL dashboard and I am able to see the metrics:

![screenshot 2019-01-03 at 10 04 11](https://user-images.githubusercontent.com/4026184/50629943-f4be1e00-

[2019-01-03 09:13] juan131 commented on #8660
Hi @steebchen

The default Reclaim Policy is "Delete" on dynamically provisioned PV. See https://kubernetes.io/docs/tasks/administer-cluster/change-pv-reclaim-policy/#why-change-reclaim-policy-of-a-persistentvolume

You can modify the default StorageClass (https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/) so the `reclaimPolicy` used on dynamic PVs is "Retain". Run

[2019-01-03 09:37] juan131 commented on #3855
What values did you use @desaintmartin ?

[2019-01-03 09:38] desaintmartin commented on #3855
[code]

[2019-01-03 09:41] alokrajiv commented on #10322
Also, do notice that Scenario B will not happen as well,

The [Volume](https://github.com/helm/charts/blob/b89980b433d7883c2c494b05b90f16267a7bb903/stable/mariadb/templates/master-statefulset.yaml#L154) is not wrapped in a `persistence.enabled` condition, and so, existingClaim will not be ignored and will be added, even if `persistence.enabled : false`

[2019-01-03 10:01] sebastien-prudhomme commented on #9893
Same regression for me comparing to the the old chart supplied by the prometheus-operator project.

I'm using RKE which installs kube-controller-manager and kube-scheduler as simple Docker containers.

We need to reintroduce endpoints for this two services.

[2019-01-03 12:09] drzero42 opened #10372 "[stable/jenkins] AdditionalConfig works only if OverwriteConfig is false"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Which chart**: stable/jenkins 0.26.0

With PR #9296 a feature for adding additional config files was introduced. However, it was put inside an if/else block in config.yaml in the definition for apply_config.sh (line 215 in config.yaml at the time of writing this), which means the addi

[2019-01-03 13:49] m-osmani commented on #1071
I have same problem using nfs storage. Any updates ?

[2019-01-03 13:57] omerxx opened #10375 "Prometheus Operator with latest release (1.3.0) using ServiceMonitors is now broken"
**What happened:**
Trying to `helm install stable/prometheus` with `additionalServiceMonitors` enabled is now broken due to latest commit.
https://github.com/helm/charts/commit/8769497e64820ed06c7c9d0316823735b205520c

**Workaround:**
`helm install stable/prometheus --version 1.2.0`

**What needs to be fixed:**
https://github.com/helm/charts/blob/5b209bedf7c248312c0db83ac5c775d7780f70be/stable/pro

[2019-01-03 14:05] anandsinghkunwar commented on #10375
You're right, trying to push a change.

[2019-01-03 14:07] omerxx commented on #10375
@anandsinghkunwar Thanks for the quick response!

[2019-01-03 14:42] dominik-bln commented on #10136
Looks like it works with the newest version. Thanks for looking into this.

[2019-01-03 14:42] #10136 closed

[2019-01-03 14:43] #10195 closed

[2019-01-03 15:22] jkodroff commented on #10293
/assign @jkodroff

[2019-01-03 15:24] juan131 commented on #10322
I'm able to reproduce the issue. Check my PR to allow the existing PVC to be mounted at `/bitnami/mariadb`

[2019-01-03 15:34] #3855 closed

[2019-01-03 15:38] haugene opened #10379 "[stable/kong] Incorrect default value in ingress-controller rbac settings"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm
[code]
kubernetes
[code]

**Which chart**:
stable/kong - 0.6.9

**What happened**:
Using the ingressController and default rbac-setup I get error logs from the controller saying:
[code]

**What you expected to happen**:
The serviceaccount should have

[2019-01-03 15:41] haugene commented on #10379
Nevermind. Sorry, I see it was patched 20 hours ago.

[2019-01-03 15:41] #10379 closed

[2019-01-03 15:45] #10322 closed

[2019-01-03 16:15] Amos-85 opened #10383 "mysqlha user / password / database not created"
**Is this a request for help?**: yes

---

**BUG REPORT**

**Version of Helm and Kubernetes**: helm v2.12.1 / k8s v1.12.3

**Which chart**: mysqlha

**What happened**: mysqlha user / password / database not created

**What you expected to happen**: be able to create new mysql user / password / database

**How to reproduce it**:

set those values from values.yaml file to create new user / password

[2019-01-03 16:49] RealArtemiy commented on #10217
Same issue
Chart version: 4.0.8

[2019-01-03 18:01] dtomcej commented on #9672
Hello @ms-choudhary, with the merging of https://github.com/helm/charts/pull/9430, there have been some changes to these ports.

Can you please try with the latest version of the chart, and see if you are able to accomplish this?

Thanks!

[2019-01-03 20:01] coatsnmore commented on #6648
Also seeing this issue.

[code]

[2019-01-03 21:04] mattfarina commented on #10306
@AaronFriel First, let me say that you are right the process around this is broken in some ways and you can see that with this particular problem. Thank you for highlighting that.

I would like to talk about a few things to help fix this situation along with highlight a couple reasons this happened to add context.

First, how did we get here? Why did this happen?

1. To be honest, the maintainers

[2019-01-03 22:33] #9420 closed

[2019-01-03 22:33] ssalaues commented on #9488
Bump to leave the discussion open until at least the PR is resolved.

[2019-01-03 22:46] lucasmundim commented on #7291
It seems that the problem is with the **if** statement evaluating to false on [controller-daemonset.yaml](https://github.com/helm/charts/blob/master/stable/nginx-ingress/templates/controller-daemonset.yaml#L75)
 and [controller-deployment.yaml](https://github.com/helm/charts/blob/master/stable/nginx-ingress/templates/controller-deployment.yaml#L77).

[code]

This logic tries to support both --some

[2019-01-03 22:46] #8510 closed

[2019-01-03 23:01] AaronFriel commented on #10306
Hey Matt, thanks for getting back to me. I admit, there are a lot of ways to try to resolve this, but I don't see any that don't have pretty obvious, apparent downsides. I'm sure you're doing your best and trying to grow and maintain a community is not easy; I greatly appreciate your response here.

In an ideal world, charts for third party projects would be fully maintained by a team of dedicated

[2019-01-04 02:16] macropin commented on #3855
So the "fix" isn't a fix, rather a workaround. This should be reopened.

[2019-01-04 07:33] #10284 closed

[2019-01-04 09:45] bootc commented on #8077
Created jetstack/cert-manager#1170

[2019-01-04 09:48] cradle77 commented on #10222
Thanks @grampelberg, I'll give it a try and let you know!

[2019-01-04 11:03] lead4good commented on #7135
@andrewcheny if you start the lamp chart with the default configuration, the web directory will be empty which means apache wont find an index.html file and tries to fetch the directory listing of / which is not allowed by default and results in a 403 error. You can fix this by uploading your index.html into the web root or you could try one of the examples.

[2019-01-04 11:08] lead4good commented on #8425
By default, if you log into the sftp container you will be in the home folder of the configured user which is non writable (some weird configuration of the atomz/sftp container). if you cd into the web subfolder or put directly into the web subfolder, the command succeeds. Since this has caused quite some confusion I will add a note in the documentation about this.

[2019-01-04 12:33] matthias-k commented on #9420
@arvindsv @bdpiparva I forgot to tag you on this issue, so it likely didn't get your attention and got closed in the meantime. I still think this is a bug that could be fixed easily (and as I pointed out, I have a bugfix ready).

[2019-01-04 12:36] pooranivrv commented on #7584
I am also having the same issue. has anyone solved it

[2019-01-04 12:38] juan131 commented on #3855
Hi @macropin

Currently liveness/readiness probes use `curl` instead of `rabbitmqctl`. Why do you consider necessary to update the `ulimits` on the probes?

[2019-01-04 13:12] bobvanluijt commented on #9663
Any updates on this issue?

[2019-01-04 13:12] jpds commented on #8568
@cirocosta Yep, this looks good.

[2019-01-04 14:17] mattfarina commented on #10306
We have meetings on Tuesdays and I've added this topic, including a link to this issue, to the agenda. The meeting schedule, including an ics feed, is available at https://github.com/helm/community/ for anyone interested.

The next step is for folks to talk about this broader topic.

[2019-01-04 14:54] giorgiosironi commented on #9229
In my use case (no replicas) there is only 1 pod, hence the two services coincide; the headless one become one additional service that has to be documented and whose presence has to be explained to the people accessing the cluster. Hence why I was marking this just as a possible simplification.

[2019-01-04 14:58] giorgiosironi commented on #8735
Yes, I see https://hub.docker.com/_/postgres has a [Docker Official Image](https://docs.docker.com/docker-hub/official_images/) label.

Essentially the environment variables names are different hence the chart cannot be used with the Docker Official Image; but this is just what's visible, things like folders and users may be even more different. Hence I personally gave up trying to use the `postgr

[2019-01-04 15:06] arvindsv commented on #9420
@matthias-k Good point. I think it's best to handle backwards compatibility around [here](https://github.com/helm/charts/blob/d8aa6b5109f8912af89aa039ce867714e73e6878/stable/gocd/templates/gocd-agent-deployment.yaml#L72-L75), by adding an else clause. But, fixing it everywhere, so that the documentation, etc. points to the right value.

/cc @varshavaradarajan @GaneshSPatil

[2019-01-04 15:33] varshavaradarajan commented on #9420
@arvindsv - yeah, that would work. Where do we announce deprecation of the typo? So that we can get rid of it in a future release? In the changelog?

[2019-01-04 15:39] arvindsv commented on #9420
@varshavaradarajan I'd assume so. We have no other means. We could also have a set of releases, where deployment (of the server through helm) will fail if it is set. :)

We could also show a warning message in the output of `helm status`.

[2019-01-04 15:46] juan131 commented on #8735
The "official" label is sth Docker adds to its own images. However, they don't offer any mechanism so other people/companies can certified their images by auditing the images (at least AFAIK).

That's the reason why I have my "concerns" about calling them "officials". The company that acts as "authority" that provides the "official" label and the company that develops it is the same one.

I know i

[2019-01-04 16:16] marcoceppi commented on #8735
Official or not, people - myself included - who come to get the stable postgres chart expect to be using the PostgreSQL docker image in library. NGINX maintains their library image, Ubuntu theirs, and several others maintainer their images. I understand Postgres as an entity is a bit more nebulous but I personally don't want bitnami's opinions on Postgres - I want to use library/postgres. As such

[2019-01-04 16:34] juan131 commented on #8735
I understand your point. @marcoceppi. There are many PostgreSQL images (no matter who's the company/developer maintaining them) and you're free to use the one you consider more reliable.

Bitnami adapted its image to support every missing feature that was available in the docker library postgres image once became the chart maintainer. However, as you mentioned, env. variables use a different forma

[2019-01-04 17:05] grampelberg commented on #10222
@cradle77 after digging in a little bit more, this RBAC is actually part of the [default](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L528). So, folks running into this aren't running the default bootstrap policy (likely for good reasons).

[2019-01-04 18:15] #9447 closed

[2019-01-04 18:15] #8749 closed

[2019-01-04 18:15] #9440 closed

[2019-01-04 18:15] #7550 closed

[2019-01-04 18:39] ssalaues commented on #9568
@ugoviti This should be fixed now with #10032 merged

[2019-01-04 19:22] jhohertz commented on #9241
Just wanted to note I just recently ran into this, and that it was working just fine on k9s 1.10.x. It's only been since testing 1.11.x that I am seeing this issue arise.

[2019-01-04 19:32] aerotog commented on #1863
For future reference, the stable postgresql chart is currently using statefulsets. I believe this was introduce in PR #8004.

[2019-01-04 19:49] jkodroff commented on #10306
@mattfarina I think it might be helpful to add some copy somewhere prominent about both the hub and that the current maintainers are overwhelmed in this repo.  As a chart developer, I found the lack of response time and dependence on the core maintainers frustrating, but more because I had the _expectation_ of a speedy response time.

I don't fault the maintainers for being a victim of Helm's own

[2019-01-04 19:53] jkodroff commented on #10306
@mattfarina Is there a way to allow the people in `OWNERS` to completely manage the PR process within a specific chart, or does that create too much potential liability for the core group of maintainers?

[2019-01-04 20:20] kcmartin commented on #9241
Still running into this.

I mistakenly thought that upgrading to Helm 2.12.1 would allow installation of this chart to happen with the CRDs issue; however I've tried launching several new clusters and I get the same error.

K8s: 1.11.5
Helm: 2.12.1

Error:
`Error: validation failed: [unable to recognize "": no matches for kind "Alertmanager" in version "monitoring.coreos.com/v1", unable to recogni

[2019-01-04 21:09] aelbarkani opened #10405 "[stable/influxdb] Liveness probe fails while in WAL recovery"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: 1.10

**Which chart**: stable/influxdb

**What happened**: When a WAL recovery lasts too much the liveness probe fails, causing a CrashLoopbackOff error.

**What you expected to happen**: The liveness probe shouldn't fail while the db is recovering (o

[2019-01-04 21:19] aerotog commented on #9093
@alexandruast it sounds like others are having problems with pre-existing PVC in cloud providers but no one has addressed your original issue where Postgres won't start with persistence enabled on Docker for Windows (D4W). I've been seeing the same failure and while I don't have a full answer, here is some extra information that might help and a possible workaround. (Sorry for the long post. This

[2019-01-04 21:33] #10267 closed

[2019-01-04 21:43] aerotog opened #10407 "[stable/postgresql] Unable to install with persistence enabled && replication disabled"
This is a BUG REPORT for the postgresql helm chart. The chart fails to install due to helm syntax errors when the following values are set:

- persistence.enabled=false
- replication.enabled=true

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/postgresql v3.9.0

**What happened**:
The chart failed to install with:
`Error: YAML parse error on postgresql/templates/statefulset-sl

[2019-01-04 21:59] aerotog commented on #10407
The error line `Error: YAML parse error on postgresql/templates/statefulset-slaves.yaml: error converting YAML to JSON: yaml: line 86: mapping values are not allowed in this context` points to a syntax error in the statefulset-slaves.yaml on line 86:

[code]

After testing, I'm pretty sure this is fixed by simply removing the following lines from the template file:
[code]

[2019-01-04 22:35] mehstg opened #10409 "[stable/fluent-bit] - backend.splunk.send_raw defaults to on, documentation says off"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Version of Helm and Kubernetes**:

**Which chart**:
stable/fluentbit

**What happened**:
Readme.md mentions that the backend.splunk.send_raw field defaults to off. This is not the case in values.yaml where it is set to on. I propose the values.yaml should be amended to match the docum

[2019-01-04 23:44] bluebenno commented on #9698
this fails:
$  helm repo update
Hang tight while we grab the latest from your chart repositories...
...Skip local chart repository
...Successfully got an update from the "ffxblue" chart repository
...Successfully got an update from the "incubator" chart repository
...Successfully got an update from the "bitnami" chart repository
...Successfully got an update from the "stable" chart repository
Upda

[2019-01-04 23:54] sbabutk commented on #9577
@vigohe What is the status of this feature?  I was able to setup the webcontext using extraEnv variable but readiness-probe is failing.

[2019-01-05 04:30] #9452 closed

[2019-01-05 05:48] macropin commented on #3855
Oh that's great. I missed that change. The High cpu usage of `rabbitmqctl` was due to it not inheriting the entrypoint `ulimit` which cased a cpu usage issue with the Erlang JVM.

[2019-01-05 10:06] afirth commented on #10383
I think this database should be created by the [mysql entrypoint](https://github.com/docker-library/mysql/blob/696fc899126ae00771b5d87bdadae836e704ae7d/5.7/docker-entrypoint.sh#L176), which doesn't rely on this chart for anything besides setting the env vars. Try `helm install --debug` or `kubectl describe` the pod and check the values are rendering correctly in the template/being passed to the en

[2019-01-05 11:59] Aisuko commented on #10145
It needs to add helm repo repository address and run `helm dep update` command under chart folder.

[2019-01-05 14:02] brunnels opened #10412 "[stable/keycloak] add ability to define volumeClaimTemplates on StatefulSet"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Which chart**: stable/keycloak

It's possible to define `extraVolumeMounts` and `extraVolumes` to point to an existing PVC.

If you want to scale the StatefulSet then you would need to define `volumeClaimTemplates` instead of the `extraVolumes`

[code]

[2019-01-05 16:01] paskal commented on #8749
JIC it's still not resolved, but we got decision how to fix it and will be fixed after my PR merge.

[2019-01-05 16:15] brunnels commented on #10412
replicas won't work with h2 as far as I can tell so moot.

[2019-01-05 16:15] #10412 closed

[2019-01-05 16:34] jeckhart commented on #9014
bump

[2019-01-05 20:41] #8996 closed

[2019-01-05 20:41] #9431 closed

[2019-01-05 20:41] #8126 closed

[2019-01-06 01:24] prageethw opened #10417 "Helm for prometheus broken - urgent"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:

Client: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.12.1", GitCommit:"02a47c7249b1fc6d8fd3b94e6b4babf9d818144e", GitTreeState:"clean"}

Client Version: ver

[2019-01-06 01:41] prageethw commented on #10417
sorry my own fault... closing this... i was passing ingress hostnames with https.

[2019-01-06 01:41] #10417 closed

[2019-01-06 02:06] gajus opened #10418 "Add a Helm chart for pgbouncer"
Would be nice if someone contributed a chart for pgbouncer, https://pgbouncer.github.io/.

Some existing community options:

* https://github.com/cradlepoint/kubernetes-helm-chart-pgbouncer authored by @mattmessinger
* https://github.com/CenterForOpenScience/helm-charts/tree/master/pgbouncer authored by @icereval

[2019-01-06 02:37] wirehead opened #10419 "[stable/prometheus-operator] Can't override the prometheus-operator provided Grafana data source."
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** Feature Request, bordering on bug.

**Version of Helm and Kubernetes**:
Client Version: version.Info{Major:"1", Minor:"13", GitVersion:"v1.13.0", GitCommit:"ddf47ac13c1a9483ea035a79cd7c10005ff21a6d", GitTreeState:"clean", BuildDate:"2018-12-03T21:04:45Z", GoVersion:"go1.11.2", Compiler:"gc", Platform:"windows/am

[2019-01-06 05:09] tspacek opened #10420 "[stable/kiam] Consider auto-generating secrets"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature suggestion

**Which chart**:
stable/kiam

A secret template like this:
[code]

Allows Helm to automatically generate certs and upload them as a secret. This has the following benefits:
a) it's more convenient to get up and running or try the chart out
b) the certs aren't persisted into Helm's me

[2019-01-06 05:46] alokrajiv opened #10421 "[stable/mariadb] Support for extraInitContainers like in other popular charts"
**Is this a request for help?**: Yes. (Kinda. I had to fix either way for work. so incase helpful for others I'm giving a PR. probably need help for ok-to-test if acceptable :) )

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

`extraInitContainers` feature support in mariadb.
currently this feature is available in other popular charts I was using:

- [elasticsearc

[2019-01-06 06:17] alokrajiv commented on #10421
I had to fix this for my work and put in our local museum, but thought might be useful for others.

I have given a PR onto the repo based on my references of the feature in other popular charts specifically mysql.

https://github.com/helm/charts/pull/10423

[2019-01-06 13:37] aelbarkani commented on #10405
/cc @jackzampolin

[2019-01-06 20:37] bradleygolden commented on #10112
I'm also having no luck after referencing the instructions [here](https://learn.hashicorp.com/vault/getting-started/ui#non-dev-servers).

Here is an example of my values.yaml:
[code]

Connection with the GCS storage backend works well but when I port forward from my local using:

[code]

I get this error in the browser:

[code]

Even if I set vault.dev to true I still get the same error.

[2019-01-06 20:52] sercanacar commented on #10112
@bradleygolden
Try

`vault:
  # By default the Vault Helm Chart will install in dev mode. Make sure to
  # turn this `dev` mode off!!
  dev: false
  customSecrets:
  # This secret will be uploaded into k8s as part of the Installation.
  - secretName: vault-aws-service-account
    mountPath: /vault/sa
  config:
    ui: true
`

[2019-01-06 23:45] #8310 closed

[2019-01-07 00:35] jaipradeesh commented on #9074
Pending PR

[2019-01-07 01:36] gajus opened #10424 "[stable/fluent-bit] Document how to parse JSON logs produced by an application"
**Which chart**:

stable/fluent-bit

**What happened**:

An application produces a JSON log, e.g.

[code]

but ES receives the log as a plain text message (log field):

[code]

**What you expected to happen**:

I expect that fluent-bit-parses the json message and providers the parsed message to ES.

**How to reproduce it** (as minimally and precisely as possible):

Using default configuration.

CC

[2019-01-07 01:58] kfox1111 commented on #7791
see: https://github.com/helm/charts/blob/master/stable/fluent-bit/values.yaml#L87

[2019-01-07 06:01] sonicrang opened #10425 "[stable/redis] default disableCommands config error in value.yaml"
**Version of Helm and Kubernetes**:
helm 2.11.0
k8s 1.11.3

**Which chart**:
redis 0.25.0

**What happened**:
I copy values.yaml or values-production.yaml to local, and run cmd like "helm install --values xxx.yaml(local file from values.yaml) stable/redis ". But shows err below:

`Error: release redis-service failed: Deployment in version "v1beta1" cannot be handled as a Deployment: v1beta1.Deploy

[2019-01-07 06:18] ljckennedy opened #10426 "Provide clear examples of passing an SSL certificate and accessing keycloak over https"
**Is this a request for help?**:

YES

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

There are good examples provided of using various databases, but none of using certificates and enabling HTTPS.  Can these be provided?

**Version of Helm and Kubernetes**:
LATEST

**Which chart**:
Keycloak

**What happened**:
Documentation not clear

**What you expected to happen**:

[2019-01-07 07:18] pho-enix commented on #9913
Fixed by https://github.com/helm/charts/commit/862f16e4d5a4b9c08a52cbe62317091e0d0b5236#diff-097e13011b35a8ed6b6b2f46576e628b

[2019-01-07 07:18] #9913 closed

[2019-01-07 07:35] tompizmor commented on #9744
@roys8 Could you be more specific regarding the issue? Are you talking about the `parse` chart or is something else?

[2019-01-07 07:56] tompizmor commented on #10421
I agree this is a nice to have feature. Thanks for sending the PR, I will review it.

[2019-01-07 08:04] charyorde opened #10427 "[stable/postgresql] Rejecting connections"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm client & server: 2.9.1

**Which chart**:
Postgresql

**What happened**:
Postgresql rejecting connections.
[code]

**What you expected to happen**:
Successful connection.

**How to reproduce it** (as minimally and precisely as possible):
[code]

[

[2019-01-07 09:35] tompizmor commented on #10407
Hello @aerotog,

Thanks for filling the issue. I just sent this PR fixing it https://github.com/helm/charts/pull/10428

[2019-01-07 09:37] tompizmor commented on #10425
OK! Thanks for letting us know!

[2019-01-07 10:01] max-rocket-internet commented on #10424
@gajus but your key. `_source . log` is not valid JSON. It starts with `2019-01-07T02:22:46.865426429Z stdout F {\"context\":{`. i.e. there is a bunch of randomn strings before the JSON. Isn't that the problem here?

[2019-01-07 10:31] Hashfyre opened #10430 "[stable/node-problem-detector] missing --custom-plugin-monitors flag"
**Is this a request for help?**:
Yes
---

**BUG REPORT** (choose one):

**Version of Helm and Kubernetes**:
# helm
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.10.0", GitCommit:"9ad53aac42165a5fadc6c87be0dea6b115f93090", GitTreeState:"clean"}

# kubernetes
Client Version: version.Info{Major

[2019-01-07 10:54] gajus commented on #10424
My understanding is that the prefix to which you are referring is added by Docker.

I have SSHed to one of the GKE nodes and checked the raw logs to confirm this:

[code]

The app itself simply outputs a JSON line, i.e. just:

[code]

My understanding is that fluent-bit is supposed to search the log message for occurrences satisfying the JSON parser and extract that information.

[2019-01-07 11:09] andrevtg opened #10433 "[stable/traefik] dns-01 works erratically with "1.7.6" (scratch or alpine)"
BUG REPORT

**Version of Helm and Kubernetes**:
Helm 2.12
Kubernetes 1.11

**Which chart**:
traefik

**What happened**:
dns-01 works erratically with "1.7.6" (scratch or alpine). Gets killed most of the time (OOM).

**What you expected to happen**:
Should work with defaults in Helm chart.

**How to reproduce it** (as minimally and precisely as possible):
Deploy Traefik as ingress controller with a

[2019-01-07 11:15] max-rocket-internet commented on #10424
I see.

FWFIW, this works for us with chart version `0.12.0` and these settings:

[code]

But it only works with top level JSON keys as far as I can tell. And here's one line from an nginx container that is set to log in JSON:

[code]

This works for us in Splunk, not ES.

[2019-01-07 11:21] gajus commented on #10424
Do you mind telling me what is the contents of `cat /etc/docker/daemon.json` in your Kubernetes cluster?

Mine is:

[code]

Shouldn't this say `log-driver: json-file`?

[2019-01-07 11:46] max-rocket-internet commented on #10424
Mine is the default for an EKS node on AWS:

[code]

I think the default GKE node has the same `log-driver`, no?

[2019-01-07 12:47] rendhalver commented on #10145
elastic-stack is basically a meta chart.
When you install it is pulls in the dependencies and listed in the requirements file.
You configure each sub-chart by using it's name as the key for the config hash.
If you look in the values.yaml it has entries for each sub-chart.
Just put your values under that key and you sub-shart will use those values.

If you use a nice wrapper like helmfile it will d

[2019-01-07 12:48] gajus commented on #10424
I have identified the cause.

The reasons the log format is off is because I am using [`containerd`](https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd).

Have not discovered what is the fix, yet.

[2019-01-07 13:05] oded-dd commented on #4569
+1

[2019-01-07 13:33] ms-choudhary commented on #9672
yeah sure.

[2019-01-07 13:36] cablespaghetti commented on #10025
Hi. Can you try the changes in my PR and tell me if it helps you?

[2019-01-07 13:38] cablespaghetti commented on #9781
Hi. If you could try the changes in my PR #10434 and tell me if they work for you, that would be really helpful!

[2019-01-07 13:38] cablespaghetti commented on #9695
Hi. If you could try the changes in my PR #10434 and tell me if they work for you, that would be really helpful!

[2019-01-07 13:44] dene14 opened #10437 "[stable/grafana] Wrong condition"
When  using `dashboards:` w/o `persistence:` helm chart fails to install due to malformed YAML spec.

Happening here: https://github.com/helm/charts/blob/master/stable/grafana/templates/deployment.yaml#L46

Preparing PR for this.

[2019-01-07 14:01] tompizmor commented on #10427
Hi @charyorde,

Just one basic question that is not clear to me, is the PostgreSQL stable or it is being restarted? In the PostgreSQL logs everything looks normal but the pod events shows that PostgreSQL was restarted.

[2019-01-07 14:08] charyorde commented on #10427
I think because PostgreSQL is rejecting connections, the pod tries to restart itself.

[2019-01-07 14:47] Fridus opened #10440 "[stable/percona-xtradb-cluster] Fail to initialize with v5.6"
**Which chart**:
stable/percona-xtradb-cluster

**What happened**:
[code]

**How to reproduce it** (as minimally and precisely as possible):

[code]

values.yaml
[code]

[2019-01-07 14:48] bradleygolden commented on #10112
`image.tag=1.0.1` worked. Thanks!

[2019-01-07 14:52] InAnimaTe commented on #10145
With that excellent explanation, I'm going to close this. Thanks all for jumping on it.

[2019-01-07 14:52] #10145 closed

[2019-01-07 15:09] jhohertz commented on #9241
This workaround is the most reliable method I've seen yet: https://github.com/helm/charts/issues/9941#issuecomment-447844259

It looks like the real fix will come in helm 2.13 via: https://github.com/helm/helm/pull/5112

[2019-01-07 15:22] gajus commented on #10424
There is something utterly broken with fluent-bit.

https://github.com/fluent/fluent-bit/issues/1012

[2019-01-07 16:49] gajus commented on #10424
After many hours... it looks that I needed to configure `Merge_Log_Trim On`.

https://docs.fluentbit.io/manual/filter/kubernetes

Everything else works after configuring `Merge_Log_Trim`.

[2019-01-07 16:49] #10424 closed

[2019-01-07 17:06] erictcgs opened #10445 "[stable/mongo] broken indentation when specifying resource quota for metrics"
**Is this a request for help?**:
No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Version of Helm and Kubernetes**:
Helm 2.10, K8s 1.10

**Which chart**:
Mongo

**What happened**:
Specifying metrics resource quotas results in invalid yaml

**What you expected to happen**:
Valid yaml

**How to reproduce it**:
Specify resource quotas for metrics

**Anything else we n

[2019-01-07 17:40] #9519 closed

[2019-01-07 17:50] #9523 closed

[2019-01-07 19:03] RothAndrew opened #10447 "[stable/sonarqube] Add post-install job"
**Is this a request for help?**: no

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Add an optional post-install job that gives the ability to configure SonarQube via its API.

Some of the things we always do programmatically via the API after we deploy SonarQube is:

- Change default admin password
- Create a Jenkins webhook
- Create a quality gate, its associate