[2019-06-06 16:21] tklovett commented on #14563
I'll put up a PR soon, hopefully today.

[2019-06-06 16:29] LaurentGoderre opened #14564 "[stable/elastic-stack] EPIC: Improve out of the box install"
**Describe the bug**
Out of the box elastic-stack needs to be configured to link the services together. I am creating a few PR to reduce the ammount of custom config needed to get the elastic-stack going.

**Which chart**:
* [stable/elastick-stack]
* [stable/kibana]
* [stable/logstash]

**Pull Requests**:
#14565
#14562
#14427
#14567

[2019-06-06 16:30] #13124 closed

[2019-06-06 16:47] tklovett commented on #14563
Prometheus exporter charts with existing support for ServiceMonitor:
* [prometheus-cloudwatch-exporter](https://github.com/helm/charts/blob/master/stable/prometheus-cloudwatch-exporter/templates/servicemonitor.yaml)
* [prometheus-mongodb-exporter](https://github.com/helm/charts/blob/master/stable/prometheus-mongodb-exporter/templates/servicemonitor.yaml)
* [prometheus-node-exporter](https://github

[2019-06-06 17:11] palade commented on #9161
The command below actually worked for me:

    kubectl delete crd alertmanagers.monitoring.coreos.com prometheuses.monitoring.coreos.com prometheusrules.monitoring.coreos.com servicemonitors.monitoring.coreos.com

[2019-06-06 17:30] #13210 closed

[2019-06-06 17:31] bitsofinfo commented on #13580
not stale

[2019-06-06 17:45] Towmeykaw commented on #14494
We have talked a lot about this issue and right now the consensus is if you want to a single value you use extraEntries and for more you use rawConfig. Not sure why you can't use rawConfig for adding additional filters? You can basically add whatever you want.

[2019-06-06 18:49] charlspjohn opened #14568 "[stable/karma] Cannot create silence from karma"
I am getting this error while creating silences from karma
![image](https://user-images.githubusercontent.com/14850736/59058171-acbe7100-88b9-11e9-91d2-423bf334163f.png)

This is the content of my values file
![image](https://user-images.githubusercontent.com/14850736/59058244-d4add480-88b9-11e9-85e3-e8ba10eb868b.png)

Could you please advice

[2019-06-06 20:18] GreenKnight15 opened #14573 "[stable/reloader] Bump app version to v0.0.29"
I would like to see the version of Reloader updated in the charts/stable version to match the tags in https://github.com/stakater/Reloader

v0.0.25 -> v0.0.29

**Is your feature request related to a problem? Please describe.**
I tried to using the existing stable/reloader chart and can into an issue reloaded a deployment based on specific configmaps
[code]
**Describe the solution you'd like**
Afte

[2019-06-06 20:54] sello4354 commented on #11404
I am facing similar issue and below is the command i used to deploy the helm chart :
helm install azure-marketplace/postgresql --version=4.2.1 --name in1-psql-release --set global.imagePullSecrets={empotysecret} --set networkPolicy.enabled=true --set postgresqlPassword=******** . My Postgres is deployed in azure k8s service

[2019-06-06 20:59] polganesh opened #14577 "[stable/nginx-ingress] integration with prometheus for monitoring"
**Is it request for help ?**
Yes

**what I am trying to achieve?**
I want to push stats  from Nginx to prometheus server hosted on specific URL

**My Observations**
[code]
not sure but i am unable to get any way by which i will mention prometheus server URL.
or steps by which i can monitor NgInx

[2019-06-06 21:07] msschl commented on #10921
Is there any news?

[2019-06-06 21:30] #13170 closed

[2019-06-07 00:38] anthonyvetter opened #14579 "[stable/concourse] postgres refusing connection from web node"
**Describe the bug**
A clear and concise description of what the bug is.
On a new, local Kubernetes cluster. Running `helm install stable/concourse`. The web node goes into CrashLoopBackOff status. The Postgres node never leaves "pending" status.

[code]

looking at the logs

[code]

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:
stable/concourse

**What happened**:
The web

[2019-06-07 01:58] aadhik opened #14580 "One ALB for multiple services"
i want to create only one ALB and as services deploy they add path to this already created alb .
Can u plz let me know if its supported and how to implement

[2019-06-07 02:30] #13226 closed

[2019-06-07 04:23] omegazeng opened #14581 "[stable/drone] add configurable tolerations for server"
**Is your feature request related to a problem? Please describe.**
Support configurable tolerations

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots abou

[2019-06-07 05:30] #9776 closed

[2019-06-07 06:27] erandu commented on #6921
Hello
@aleks-mariusz

I follow what you did, but i have issue with prometheus, it doesn't want to start when i put etcd-client into secrets in my values.yaml

The problem is that I don't have logs because the pod even don't start :disappointed_relieved:

If i keep `secrets : []`  in my values.yaml prometheus starts but I have alerts firing for etcd because Prometheus can't access to `:2379/metrics

[2019-06-07 06:30] #13015 closed

[2019-06-07 07:12] #14137 closed

[2019-06-07 07:41] juan131 commented on #13567
Hi @polganesh

Sorry for the late response. I was able to reproduce the issue using the lates version:

- My 'values.yaml':

[code]

- My `secrets.yaml`:

[code]

- Commands used:

[code]

It get stucks there. I'll share this bug with the team so we can investigate what's going on. Thanks for reporting it

[2019-06-07 07:52] juan131 commented on #14533
Hi @POD666 I was unable to reproduce your issue using the values.yaml below:

[code]

Commands used:

[code]

As you can see the script is being executed and the databases `mydb` and `anotherdb` are created.

[2019-06-07 10:00] cmoulliard opened #14586 "[stable/jenkins] We can't override values using yaml file or set key=value"
## Issue

Whenever we issue the command `heml install stable/jenkins` using either as parameter `-f myvalues.yml` or `--set` the values passed are never replaced within the resources generated

## Version of helm used on Macos

[code]

### Case 1 : using `-f myvalues.yml` file
Command:
[code]
Result: see -> https://git.io/fjz8R

### Case 2 : using `--set` where keys are defined using camelCase
Com

[2019-06-07 10:07] #13238 closed

[2019-06-07 10:25] vasayn opened #14588 "[elasticsearch stable/chart] restore snapshot"
hi everyone

how i can do restore\snapshots datas from my elasticsearch single mode on my PC to kubernetes cluster elasticsearch data\master pods.

in official docs (https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-snapshots.html#_shared_file_system_repository) i need to have single sharing fs between all master\data pods, but standart helm charts (https://github.com/helm/ch

[2019-06-07 10:40] jfiedler opened #14589 "[prometheus-consul-exporter] Unable to disable Consul health summary"
**Describe the bug**

The Prometheus consul exporter Helm charts allows to provide options to be passed to the actual exporter. The way options are rendered does not allow to specify options without values. This is however required for boolean options, eg. --no-consul.health-summary

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:

prometheus-consul-exporter

**What happened*

[2019-06-07 11:22] frank-carnovale commented on #14507
Got here with same bug.  Seems that in the underlying image, the environment var PATH is prepended with /usr/local/openjdk-8/bin..   (which looks like a workaround to compensate for an incomplete java install that didn't set up 'alternatives' properly..).  Yet In the k8s deployment, /usr/local is re-mounted for no other reason than to home the 'copy_plugins.sh' script which is delivered via a conf

[2019-06-07 11:41] ev4ern opened #14590 "[stable/neo4j] Tolerations, nodeSelector and affinity"
**Is your feature request related to a problem? Please describe.**
I cannot specify nodes which I want deploy to

**Describe the solution you'd like**
Please add tolerations, nodeSelector and affinity support

[2019-06-07 12:12] Towmeykaw commented on #14588
Im not sure if this will answer your question but the official elasticsearch chart has a guide on how to migrate to helm from a snapshot. The stable/elasticsearch chart will be depricated in favor of the official one in the future so might be worth migrating there.
https://github.com/elastic/helm-charts/blob/master/elasticsearch/examples/migration/README.md

[2019-06-07 12:37] POD666 commented on #14533
It's flaky, try this few times until it fails:
[code]

[2019-06-07 12:43] EricLemieux commented on #13869
@maorfr I made a pretty basic script to get the current number of maintainers, so you don't need to rely on comments letting you know whenever someone is added/removed.

This is a sample out the output displaying the number of maintainers, approvers, and reviewers per chart.

https://github.com/EricLemieux/Helm-Chart-Maintainers/blob/master/current-number-of-maintainers.md

[2019-06-07 12:51] papanito opened #14592 "[stable/sonarqube] Fail to load plugin Stash"
**Describe the bug**

After enabling some plugins as follows:
[code]

The `sonarqube` container fails with

[code]

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:

stable/sonarqube

**What happened**:

Container ` install-plugins` successfully downloaded the defined plugins

[code]

but then the container `sonarqube` fails

[code]

**What you expected to happen**:

**How to

[2019-06-07 12:59] papanito commented on #14592
Ok, it seems a problem wirth the stash plugin only

[2019-06-07 13:32] deprecastor opened #14595 "[stable/prometheus-operator] helm delete rel-name --pruge wont delete kublet scraper service"
**Describe the bug**

[code]

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

```prometheus-operator```

**What happened**:

Deleting the chart wont delete a specific service.

**What you expected to happen**:

That the service would be deleted.

**How to reproduce it** (as minimally and precisely as possible):

Just do what I did in BUG DESC

**Anything else we need to know**:

[co

[2019-06-07 13:48] leifcr opened #14596 "[stable/minio] securityContext / runasuser"
As containers/pods should run without root permissions if possible, securityContext/RunAsUser should be implemented, and default to a minio user (e.g. 1001)

Bitnami helm chart already has this for minio, but that lacks other features from this chart.

Example implementation:
For standalaone: https://github.com/bitnami/charts/blob/f37e9a84d6bc0f9ce0ad6f6fb0bb2b217ec911c4/bitnami/minio/templates/de

[2019-06-07 15:23] emcay commented on #14507
I was able to get a working setup using the 7.6-community image in the values file. More recent images don't appear to work with the current helm chart still.

[2019-06-07 17:07] #13254 closed

[2019-06-07 17:14] ljohnston opened #14602 "[stable/postgresql] lost+found directory causes init pod failure"
**Describe the bug**
An existing "lost+found" directory can cause the "init-chmod-data" init container to fail with the following error message from its logs:

`chown: changing ownership of '/bitnami/postgresql/lost+found': Operation not permitted`

**Version of Helm and Kubernetes**:  Helm 2.13.1, Kubernetes 1.14.1

**Which chart**: stable/postgresql 5.3.4

**What happened**:
Helm deployment fail

[2019-06-07 17:17] ntroast commented on #14494
@Towmeykaw could you please provide an example of how I can add an additional filter only by customizing values.yaml? Furthermore, could you provide an example of how to add an additional key/value pair to this existing input tail config?https://github.com/helm/charts/blob/0232f250401fb4c0db0c7d8811b7246e9323e759/stable/fluent-bit/templates/config.yaml#L28

[2019-06-07 18:07] #13186 closed

[2019-06-07 18:07] #13259 closed

[2019-06-07 18:23] samjsong commented on #14494
+1. As an example, I'd like to increase `rotate_wait` for the `in_tail` plugin, while also using `in_systemd`, but I don't believe that's possible without copying over the `systemd` config into my `rawConfig`.

[2019-06-07 18:44] Towmeykaw commented on #14494
That was kind of the point of rawConfig. If we are going to support every possible config then it will be unmaintainable.  I can't show an example right now since I'm on my phone but basically you can add how many config sections you want to the rawConfig.

[2019-06-07 18:45] chrono2002 opened #14605 "[stable/nginx-ingress] containerPort setting isn't work in helm chart"
Hello guys!
Looks like containerPort directive doesn't work in helm chart.
I've set a strict PSP looked like this (so users won't run under root):

[code]

Then I've set this in my custom-values.yaml:

[code]

Then i've executed:
$ helm install stable/nginx-ingress --namespace test_ns --name test_nginx --tls --values=custom-values.yaml

It doesn't even set in Deployment until i make a chart copy a

[2019-06-07 19:32] norwoodj commented on #14563
We have had to create a separate chart to add a servicemonitor that interoperates with this chart. This would be a very welcome addition.

[2019-06-07 20:00] bacongobbler commented on #14607
transferring this issue over to helm/charts for visibility.

[2019-06-07 20:02] dmxlsj opened #14608 "[stable/metrics-server] Command arguments shouldn't be quoted"
**Describe the bug**
Currently metrics-server chart is quoting all the command line arguments by default and this ends up failing the deployment

https://github.com/helm/charts/blob/master/stable/metrics-server/templates/metrics-server-deployment.yaml#L51

[code]
Please note the quotes around `--kubelet-insecure-tls` flag
Given the `args` flag is meant for command argument, it shouldn't quote the

[2019-06-07 20:48] #13557 closed

[2019-06-07 21:07] anthonyvetter commented on #14579
I figured it out. Needs a StorageClass. Feel dumb. Thanks!

[2019-06-07 21:07] #14579 closed

[2019-06-08 06:07] #13268 closed

[2019-06-08 06:07] #13270 closed

[2019-06-08 07:00] dgaffuri commented on #14243
@Flydiverny Sorry for the delay, i've tried today with 2.8.1 and it works for rbac.namespace: false

[2019-06-08 10:08] marcingorzynski77 opened #14613 "stable/sentry Client Keys DSN field empty"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:
Helm 2.13.1, 1.13.1 kubernetes

**Which chart**:
Sentry

**What happened**:
After installation which seems to be successful Client DSN key is always empty for every project. I am not sure if this is a helm chart issue or some other but I am unable to find enough info to categorise it prope

[2019-06-08 10:51] #12967 closed

[2019-06-08 10:55] george-oakling commented on #10418
Yes please. I can prepare a chart for pgbouncer if needed. But definitely would be good to have one official chart.

[2019-06-08 11:08] #14613 closed

[2019-06-08 11:10] marcingorzynski77 commented on #14613
figure it out but we could improve the documentation, basically I have changed url from my ingress one to loadbalancer ip + exposed port in Root URL

[2019-06-08 14:53] dhrn commented on #14289
i am facing the same issue

`E0608 20:17:59.718055   19043 portforward.go:400] an error occurred forwarding 9090 -> 9090: error forwarding port 9090 to pod f488b77b9c41f3f6324fb5e3ae909ce58a2642d9dbfea9445c68edcdc9d000fb, uid : exit status 1: 2019/06/08 14:47:59 socat[14411] E connect(5, AF=2 127.0.0.1:9090, 16): Connection refused
`

is there any workaround?

[2019-06-08 15:43] nicgirault opened #14615 "[stable/datadog] Improve documentation for usage with custom metrics"
I've spent 2 days trying to install datadog but I continue blocking to get custom metrics from my python app. I don't even now how to debug. Debug logs in dd-agent does not help me to understand where the problem comes from. The user experience is sadly horrible. As a comparison I installed kube-prometheus and get it work in 30 minutes...

I think this poor user experience could be very easily fix

[2019-06-08 15:51] #13288 closed

[2019-06-08 15:51] #11738 closed

[2019-06-08 16:28] MichaelJCole commented on #14289
It looks like Helm is having trouble maintaining these charts.

I've been replacing Helm with https://kustomize.io/ - it's a configuration system built into `kubectl`.

[2019-06-08 22:23] uthng opened #14617 "[stable/elasticsearch] Nodes cannot join the cluster with the hosts specified in DISCOVERY_SERVICE"
**Describe the bug**
Client & data nodes cannot join the cluster with the hosts specified in DISCOVERY_SERVICE.

**Version of Helm and Kubernetes**:
Helm: 2.14.0
Kubernetes: 1.14

**Which chart**: elasticsearch

**What happened**:
Client & data nodes cannot join the cluster with the hosts specified in DISCOVERY_SERVICE.

This bug might be due to : `serviceName: {{ template "elasticsearch.master.fu

[2019-06-09 10:02] #12042 closed

[2019-06-09 12:02] #12668 closed

[2019-06-09 13:22] deepaksood619 commented on #14117
Or you can add a scrape target for kafka in additionalScrapeConfigs in prometheus operator [here](https://github.com/helm/charts/blob/master/stable/prometheus-operator/values.yaml#L1370).

Scrape configuration -
[code]

[2019-06-09 15:18] deepaksood619 commented on #14094
#14621 PR merged

[2019-06-09 16:02] #13297 closed

[2019-06-09 18:03] deepaksood619 commented on #13869
PR to add OWNERS to stable/kapacitor #14622

[2019-06-09 19:45] nicgirault commented on #14615
To be more precise, here is my detailed issue:

Here is my values.yaml for the datadog chart:

[code]

Then the deployment of my app looks like this:

[code]

Then in my app I initialize the datadog agent client like this (note that this section is not documented in the chart documentation):

[code]

When running my app I can't find my metrics in the metrics explorer on datadog. I don't know how t

[2019-06-09 23:34] rajiteh commented on #13266
Hi @vsliouniaev! Sorry for the late response. I've proposed a PR for this here: https://github.com/helm/charts/pull/14624

Let me know what you think.

[2019-06-09 23:37] rajiteh commented on #13266
For testing purposes, you may use the following override values.

[code]
[code]

[2019-06-10 01:02] #13325 closed

[2019-06-10 01:56] red8888 commented on #14527
confused about how this works. I exec into the pod and I can find no html files or png files or a "static" directory. where is all of that in the container?

[2019-06-10 03:03] red8888 commented on #14527
ok this took way longer for me to figure out than it should have

Just need to add a wildcard to the path

@max-rocket-internet can you make the default path in values.yaml `path: /*` pleassseeeee

The documentation says to just build your base config like this: `helm inspect values stable/atlantis > values.yaml`

should probably default to wildcard right? no other paths are defined expect "/"

[2019-06-10 05:14] red8888 opened #14625 "stable/atlantis how to use environment param with secretKeyRef"
There is an "environment" param to inject arbitrary environment variables into the atlantis container

But I see no examples of how to inject arbitrary environment variables that get their value from secrets

How would I use this chart to do this? for example:
[code]

[2019-06-10 06:00] aliartiza75 commented on #13457
@carrodher  @javsalgar  @AdamDang kindly have a look at this issue.

[2019-06-10 07:03] carrodher commented on #13457
Ey @aliartiza75, I'm sorry but I don't have experience using this chart. According to https://github.com/helm/charts/blob/master/stable/prometheus-operator/OWNERS try to ping @gianrubio @vsliouniaev @anothertobi. Surely they can help you regarding this issue

[2019-06-10 07:05] aliartiza75 commented on #13457
@gianrubio @vsliouniaev @anothertobi kindly have a look at this issue.

[2019-06-10 07:48] avirtual opened #14627 "[stable/redis] redis container from previous master is not able to register as slave, if a password is used"
I've installed one redis with 2 slaves.
Master:  "10.240.13.208"
Slave0: "10.240.11.195:6379"
Slave1: "10.240.10.190:6379"

kubectl delete pod master-pod

Sentinels detect master pod is not responding and slave1 is promoted as master.
[code]

Master restarts and receives ip "10.240.13.209". It detects there is a master and assumes the role of a slave:

[code]

Meanwhile the former slaves detect th

[2019-06-10 08:08] zxDiscovery opened #14628 "[incubator/knative] lint-charts failed in incubator"
**Describe the bug**
I commit a [`knative` chart](https://github.com/helm/charts/pull/11024) in folder incubator but the `ci/circleci: lint-charts` failed.

The failed reason is that we don't have `repository` in the file [`requirements.yaml`](https://github.com/tomleah/helm-charts/blob/knative-chart/incubator/knative/requirements.yaml). The `dependencies` in [`requirements.yaml`](https://github.c

[2019-06-10 08:20] phongnx1 commented on #11308
@kamilgregorczyk Can you help me how to resolve this issue, I had seen value.yml but I don't understand how to fix this!

[2019-06-10 09:02] #13330 closed

[2019-06-10 09:30] avirtual commented on #14627
It would appear the problem is a missing line in templates/redis-master-statefulset.yaml
The slave-statefulsets have:
ARGS+=("--masterauth" "${REDIS_MASTER_PASSWORD}") which allows the redis container to connect to the redis master using the password.

The redis container from the redis-master-statefulset.yaml does not add it, probably under the assumption that the redis is a master and will not h

[2019-06-10 09:57] userguy opened #14633 "[Elasticsearch e.g. stable/elasticsearch] Not able to add xpack settings"
As soon i add these setting in config the xpack setting the discovery or readiness probe fails
There are two required parameter to set in the elasticsearch 6.8 onwards

xpack.security.enabled: true
xpack.security.transport.ssl.enabled: true

This parameter  as soon i set in the config or any other the readiness probe fails .

[2019-06-10 10:32] varkey commented on #13970
Ran into the same issue as this on a `kops` created cluster. Looks like the same issue @DReigada 's PR fixes - https://github.com/helm/charts/pull/14043

The certificate which gets created is below

[code]

However the `kiam-server` service which gets created has the release name as well, and the agent is configured to use the DNS name. The cert doesn't have a matching name and hence the connectio

[2019-06-10 11:19] diegomanso commented on #9941
Could you please give more details? I got the same error on the node exporter. Thanks in advance

[2019-06-10 13:00] luizferreira094 commented on #14559
Apparently  a dependency was conflicting with airflow, closing it.

[2019-06-10 13:00] #14559 closed

[2019-06-10 14:10] juan131 commented on #14533
Hi @POD666

What did you obtain in the logs when it failed? Could you please share it.

[code]

[2019-06-10 14:14] tompizmor commented on #14533
For the record, I tried 20 times with the chart postgresql-5.3.4 and it worked 20/20.

[2019-06-10 14:57] rnkhouse opened #14668 "stable/nginx-ingress: In AKS, allow to assign static IP address from different resource group"
**Is your feature request related to a problem? Please describe.**
In Azure, every time when I create an AKS cluster I need to add the public IP address in the same resource group which is annoying having other operational issues. It would be nice if we can assign IP address from another resource group which is already created before.

**Describe the solution you'd like**
Azure supports to use pre

[2019-06-10 15:02] alemorcuq commented on #14602
Hi, @ljohnston.

Thank your for reporting this issue. Would you mind submitting a PR to fix this?

Regards,
Alejandro

[2019-06-10 15:24] DylanLovesCoffee commented on #14615
hey @nicgirault, thanks for raising the issue here and sorry for the frustration. We keep the majority of our documentation centralized on our docs page, so if you haven't taken a look into this article already I'd recommend it as a starting point: https://docs.datadoghq.com/agent/kubernetes/dogstatsd/#use-dogstatsd-over-a-unix-domain-socket.

As for debugging custom metrics being received by the

[2019-06-10 16:12] rohitshrivastava04 opened #14670 "stable/mongodb fixing permission issue via initContainer"
**Is your feature request related to a problem? Please describe.**
While using stable/mongodb chart, with bitnami mongodb docker image, there is a issue of permission on the data dir. which can be solved by adding a init container which fixes the permission as suggested here. https://github.com/bitnami/bitnami-docker-mongodb/issues/103#issuecomment-494105869
There should be a way without changing

[2019-06-10 16:12] rosteroster commented on #13689
how should I draw attention to this?

[2019-06-10 16:16] infa-bsurber commented on #13689
how should attention to be drawn to this from the incubator/vault chart owners?

[2019-06-10 16:17] nicgirault commented on #14615
I fixed my issue with the help of the datadog support team. My issue was due to an outdated datadog python librairy. Minimum version too use UDS is 0.22.0.

Although this was a stupid mistake on my side, the debugging experience killed me. As a naive feedback, I would like the python librairy to fail if I give a wrong param or if it does not manage to send a packet.

[2019-06-10 16:17] #14615 closed

[2019-06-10 16:40] GreenKnight15 opened #14672 "[stable/metricbeat] Template daemonset dnsPolicy and hostNetwork"
I would like to add a template to the daemonset dnsPolicy.

**Is your feature request related to a problem? Please describe.**
My use case is when deploying this chart into a cluster that uses Istio the daemonset will not be injected with the istio side car until the dnsPolicy is changed to "ClusterFirst" and hostNetwork is set to "false"

**Describe the solution you'd like**
Template the daemonse

[2019-06-10 16:49] jmakani opened #14673 "ngix ingress controller is now allowing to change the listener configuration for existing controlelr serviceservice"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT
**Kubernetes version** (use `kubectl version`): 1.12
- **Cloud provider or hardware configuration**: AWS
**What happened**:
After installing the ingress controller using helm editing the controller service with annotation for "AWS L7 ELB with SSL Termination" as mentioned on this document [https://github.com/helm/charts/tree/mas

[2019-06-10 19:09] colindickson opened #14677 "[stable/anchore-engine] support to modify analyzer_config.yaml in values"
**Is your feature request related to a problem? Please describe.**
This is in regards to an official blog post by Anchore relating to a specific and important vulnerability scan which needs to be done in a specific way:  https://anchore.com/enforcing-alpine-linux-docker-images-vulnerability-cve-2019-5021-with-anchore/

The solution described in the blog post cannot be implemented very well using t

[2019-06-10 19:17] GreenKnight15 commented on #14672
/assign @GreenKnight15

[2019-06-10 19:18] GreenKnight15 commented on #14573
/assign @GreenKnight15

[2019-06-10 20:27] red8888 commented on #14625
If it was possible to just override env: completely that would work too. right now it seems to only support aws and gcp but I also terraform datadog stuff and might terraform more services in the future. To have to manually add and support each creds doesnt seem like it would scale well? if the env: block can be override or the `environment` param extended to support `secretKeyRef:` that would be

[2019-06-10 20:37] taylorsilva commented on #13284
### Dev Notes

We created a test to cover this use-case. Just need the previous PR mentioned to be merged into the chart.

[2019-06-10 21:23] gveltri commented on #14590
It's already been added:

https://github.com/helm/charts/pull/12700/files

[2019-06-10 22:10] DReigada commented on #13970
As a quick fix for the issue (if you don't want to use a forked version of the chart), you can add the following lines to your kiam configuration

[code]

[2019-06-10 22:49] chicken231 commented on #9756
For anyone down the line who comes across this...
I'm using an Elasticsearch operator, non-oss, version `6.8.0`. TLS + Username/Password auth is required when `xpack.security: enabled` with the *basic* license.

I'm able to use version `3.0.0` of the [stable/kibana]. Kibana's `values.yaml` (excerpt and not-for-prod):

1. Get the password for the `elastic` user (change secret name as-needed):

[cod

[2019-06-11 00:18] javsalgar commented on #14670
Hi,

We have something similar in stable/postgresql, so it could be interesting taking a look. Could you explain a bit more the platform you are using for deploying the chart?

[2019-06-11 00:54] jforman opened #14681 "[stable/nginx-ingress] NodePort http/https not working"
I am wishing to run nginx-ingress on my home-grown Kubernetes cluster (Ubuntu VM's running via libvirt/kvm on Ubuntu host) listening on ports 30080 and 30443 for http/https respectively on my controller-nodes. Specifying the below helm command line along with values.yaml, the log for the controllers still claim it is trying to listen on port 80.

**Version of Helm and Kubernetes**:
[code]
from 'ku

[2019-06-11 00:58] #14672 closed

[2019-06-11 02:55] pravarag commented on #13970
So, in my case the error mentioned above was more of a warning. The actual error faced was related to hostname mismatch for TLS certificates between Server and Agent. I was able to fix it, so closing this issue for now.

[2019-06-11 02:55] #13970 closed

[2019-06-11 04:47] cjen07 commented on #5188
same issue too

[2019-06-11 06:50] miguelaeh commented on #14627
Hi @avirtual ,
How are you deploying the chart? I cannot reproduce that. I deploy the chart, and after that kill the master pod. What is happening in my case is that the slaves can't connect to the master, bu when the master is created again, the slaves synchronize with him. But any slave is promoting to master.

[2019-06-11 06:58] avirtual commented on #14627
Yes, i specified in the second comment. One slave is promoted to master, but upon resurrection the redis container from the initial 'master' pod is not registered due to the missing password.

As for deployment there's nothing special about it:
helms upgrade --install redis-${namespace:-test} ./ --namespace $namespace --debug --set redis.clusterDomain=kube-staging,redis.sentinel.clusterDomain=kube

[2019-06-11 07:06] avirtual commented on #14627
kubectl logs redis-nm-master-0 -n nm -c redis-nm
[code]

[2019-06-11 07:14] miguelaeh commented on #14627
Sorry I write wrong, I mean that, in my case, no slave is being promoted.
This is the master log:
[code]

[2019-06-11 07:18] avirtual commented on #14627
are you enabling sentinel? slaves wont be promoted in the absence of sentinel.

[2019-06-11 07:46] varkey commented on #13970
Not sure if this can be resolved, but if the `stable/kiam` chart is installed as-is with a release name other than `kiam`, the generated TLS certificate will be invalid causing the `agent` pods to go into `CrashLoopBackoff` as it wouldn't be able to establish a connection to the `kiam-server`

[2019-06-11 08:25] #13337 closed

[2019-06-11 08:29] darioblanco opened #14682 "Please, add @darioblanco as Trusted Collaborator"
I would like to be added as a trusted collaborator. We use Helm charts in my company in all our infrastructure, I would like to make more contributions and I am already maintainer of `stable/hubot` and `incubator/buzzfeed-sso`.

Especially with `buzzfeed-sso`, we get a lot of contributions that require an `/ok-to-test`, and I think I can take care of those without bothering other trusted collabora

[2019-06-11 08:40] will-beta opened #14683 "[stable/airflow] Not compatible with the latest apache/airflow container"
Just saw Apache released its official [apache/airflow](https://hub.docker.com/r/apache/airflow) container.
Tried it with current chart, resulting in the `CrashLoopBackOff` status all the time.
Seems like a compatible issue.

[2019-06-11 09:59] weber-d commented on #11707
Push

[2019-06-11 10:38] ctienshi opened #14690 "Run SQL queries during the bootup in "mssql-linux" chart"
**Is your feature request related to a problem? Please describe.**
MySQL and Postgres has the option to run SQL queries during the bootup using initializationFiles (MySQL) and configurationConfigMap (Postgres). The Helm chart for **mssql-linux** does not have this option.

**Describe the solution you'd like**
Allow users to run SQL queries during the bootup using a config map in the values.yaml fo

[2019-06-11 11:08] POD666 commented on #14533
the chart postgresql-4.0.0
[code]
Looks like problem is here: `Grating access to "mydb" to the database "postgres"`.
Successful deployments have the following message `Grating access to "mydb" to the database "mydb"`.
But env variables seems to be fine:
[code]
I will try to reproduce it on the latest master.

[2019-06-11 12:00] bigpigeon opened #14695 "[stable/openvpn] helm install failure when keystoreSecret was specified"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:

helm version: v2.13.1

kubernetes version: v1.14.2

**Which chart**:

stable/openvpn

**What happened**:

I want to use helm install -f values.yaml stable/openvpn

but the pod start failure

when I get log has following error

[code]

**What you expected to happen**:

if I remove keystore

[2019-06-11 12:30] mumrau commented on #12900
up

[2019-06-11 12:59] POD666 commented on #14533
I have also failed to reproduce it on the latest master with a number of attempts but you should be able to reproduce it at `git checkout 12387212edc588cbc445370479253146ca0c3aa6` and at `git checkout 555cd7cbd685ce6077a04a432e13b03c5af9d303`.

[2019-06-11 13:08] POD666 commented on #14533
I have walked through changes since 5.3.0 and see nothing suspicious, except [this](https://github.com/helm/charts/commit/691a770df564a9bf9bfefcfbcc09f56d97b83df5#diff-fb61f7f926e5bfb00f3b15a715d90302).
Can you confirm issue at 4.0.0 or 5.3.0?

[2019-06-11 13:20] POD666 commented on #14533
Well, yes, reproduced at `git checkout bf1174b2e9bead6396f039df60b53fdb7a86ba3a` which is parent of that [one](https://github.com/helm/charts/commit/691a770df564a9bf9bfefcfbcc09f56d97b83df5#diff-fb61f7f926e5bfb00f3b15a715d90302). And at the `git checkout 691a770df564a9bf9bfefcfbcc09f56d97b83df5` it wasn't reproduced after few attempts.

So looks like I can just upgrade to 5.3.7 to solve my issue.

[2019-06-11 14:12] irozet commented on #14695
Error happens because crl.pem is added to config in the following commit:

https://github.com/helm/charts/commit/100d5a156b00d06214bff8eba8b259cce2daa63c#diff-426bf77ebc46805831ad90724aa62549

[2019-06-11 14:53] krishnapamarthi opened #14698 "Falco mail notifications configuration in program_output"
Need help with configuration of email notifications for falco. I have configured the program output with the mail -s "Falco Notification" user@example.com. But this seems to be not help full. Please help me with additional configuration if I need to do

[2019-06-11 16:17] cryptk opened #14700 "[stable/prometheus-mysql-exporter] numeric collectors generate invalid deployment YAML"
**Describe the bug**
When providing non-boolean options to the collectors value, there is no trailing comma, which causes the chart to generate an invalid configuration if there are other parameters specified after it.

**Version of Helm and Kubernetes**:
helm version:
Client: &version.Version{SemVer:"v2.12.3", GitCommit:"eecf22f77df5f65c823aacd2dbd30ae6c65f186e", GitTreeState:"clean"}
Server: &ve

[2019-06-11 16:23] aleclerc-sonrai opened #14702 "[stable/redis] issue title"
**Describe the bug**
Default sentinel production values lead to issues. By default, we suggest 3 slaves, which means 4 sentinels, and a quorum of 2 in `stable/redis/ci/production-sentinel-values.yaml`. Couldn't this lead to split head issues?

**Version of Helm and Kubernetes**:
n/a

**Which chart**:
redis 8.0.8

**What happened**:
n/a

**What you expected to happen**:
Having default values setup

[2019-06-11 16:42] Flydiverny commented on #14243
I'll just reference this here as well datawire/ambassador#1576

[2019-06-11 17:29] musabmasood opened #14705 "[stable/spinnaker] unable to install stable/spinnaker"
**Describe the bug**
Simply installing the latest spinnaker helm chart is failing (helm chart version **1.11.1**):

`helm install --name ss --namespace ss stable/spinnaker`

Error:

`Error: parse error in "spinnaker/templates/configmap/service-settings.yaml": template: spinnaker/templates/configmap/service-settings.yaml:37: function "mergeOverwrite" not defined`

**Version of Helm and Kubernetes**

[2019-06-11 18:12] #14700 closed

[2019-06-11 18:35] luizferreira094 commented on #14489
God bless you @pedroarthur, got the same problem with worker pod running with just 1 replica, still the same problem, sometimes the pod was starting with root user causing the CrashLoopBackoff.
After the SecurityContext config, the problem was solved! Thanks!

[2019-06-11 18:46] caiohasouza opened #14706 "[stable/mongodb] PodDisruptionBudget evict scale-down"
**Describe the bug**
The helm chart always create a pdb when the replicaset is enabled, with pdb and the min 1 the pod disruption budget can't move the pods.

**Version of Helm and Kubernetes**:
Helm v2.14.1
Kubernetes 1.12.7

**Which chart**:
stable/mongodb

**What you expected to happen**:
I think that in cases when the pod number is <= 0 the pdb can be disabled.

**How to reproduce it** (as min

[2019-06-11 19:46] #13344 closed

[2019-06-11 19:49] runningman84 opened #14709 "[stable/influxdb] fixed resources"
**Describe the bug**
The influxdb chart is using default limits and requests. This should be avoided from my point of view. Users should decide which limit make sense for their usecase.

**Which chart**:
influxdb

**What happened**:

[code]

**What you expected to happen**:
Set the resource section to {} like other charts.

[2019-06-11 19:50] runningman84 opened #14710 "[stable/chronograf] fixed resources"
**Describe the bug**
The chronograf chart is using default limits and requests. This should be avoided from my point of view. Users should decide which limit make sense for their usecase.

**Which chart**:
chronograf

**What happened**:

[code]

**What you expected to happen**:
Set the resource section to {} like other charts.

[2019-06-11 20:02] mde-pach commented on #14556
The problem was from my management of PV and PVC (and yes, from my non-knowledge of kubernetes).
Fix with a little more research about it and nfs-provider.

[2019-06-11 20:02] #14556 closed

[2019-06-11 20:38] M00nF1sh opened #14713 "Add owner of incubator/aws-alb-ingress-controller as read-only collaborator"
Please help add @M00nF1sh  and @bigkraig  as an read-only collaborator  on this repo.

We are maintaining the incubator/aws-alb-ingress-controller, and would like to able to /lgtm and /approve.

Thanks so much 😄

[2019-06-11 20:39] M00nF1sh commented on #14713
/cc @mattfarina

[2019-06-11 20:46] #13345 closed

[2019-06-11 21:13] javsalgar commented on #14702
Hi,

This values.yaml is actually used for testing, not to be used for production deployments. However, you are right, I think we should change it to 4 slaves and a quorum of 3

[2019-06-11 21:17] javsalgar commented on #14702
PR created. Could you take a look?

[2019-06-11 21:59] dwhitlow opened #14716 "[stable/elasticsearch] elasticsearch clients are periodically evicted due to excessive ephemeral-storage use"
**Describe the bug**
When using the default image for the chart, the client pods will be periodically evicted due to their GC logging (https://www.elastic.co/guide/en/elasticsearch/reference/6.7/gc-logging.html).

A workaround would be to set default ephemeral-storage requests for the client pods, but since the default settings can consume up to 2GB for GC logs, this isn't practical. I've searched

[2019-06-12 01:36] sd7y opened #14721 "[stable/postgresql] Can not run the initContainer when `volumePermissions.securityContext.runAsUser=1001` is set"
**Describe the bug**

I have an issue with #14538 and try to enable the initContainer, the PSP is set to runAsNonRoot is active in my kubernetes, so If I need to set `volumePermissions.securityContext.runAsUser=1001`, then I got an error
[code]

**Version of Helm and Kubernetes**:
helm v2.12.1
kubernetes v1.13.1

**Which chart**:
stable/postgresql

**What happened**:
Failed to start the pod.

**Wh

[2019-06-12 05:16] tmohanta opened #14725 "[incubator/druid] druid is not installing with default chart value on AWS EKS (k8S) cluster"
**Describe the bug**
The helm installation  of the incubator/druid with the default chart value is not working on AWS EKS cluster. The druid related pods are inifinitely  going on the CrashLoopBackOff state.
$ helm ls
NAME 	REVISION	UPDATED                 	STATUS  	CHART      	APP VERSION	NAMESPACE
druid	1       	Tue Jun 11 22:31:06 2019	DEPLOYED	druid-0.1.0	0.12.3     	druid

**Version of Helm a

[2019-06-12 05:54] wu105 opened #14726 "[stable/metallb] speaker daemon set size"
We deployed metallb chart 0.8.4 on HA clusters of 3 master and 3 worker nodes and the speaker daemonset size is 3 or 4.  All the speaker pods run on exactly 1 master node in each cluster.  Some clusters would have speaker pod on each worker, but there is one worker node has no speaker pod.

Furthermore, on one cluster there are 4 speaker pods while the daemonset size is 3.  The metallb itself seem

[2019-06-12 06:08] aliartiza75 opened #14727 "[stable/prometheus-operator] prometheus-operator chart mounting invalid configuration that doesn't exist"
**Describe **
Prometheus Operator alert manager mounts a config that doesn't exist.

**Which chart**:
Prometheus-operator chart:5.0.13

**What happened**:
When I provide secrets `alertmanager.alertmanagerSpec.secrets` to alertmanager and set this field `alertmanager.alertmanagerSpec.useExistingSecret` to `false`.

I also mounted a new secret (which is fine), the issue is that it doesn't create a d

[2019-06-12 06:46] #13357 closed

[2019-06-12 07:28] torstenwalter commented on #7360
Took me a while to look into this. You are correct service configuration is up to the chart.

I checked the latest chart version. There is no need to specify the `jenkinsTunnel` as it's configured globally under `Manage Jenkins -> Configure System -> Cloud -> Kubernetes -> Jenkins tunnel`.

One I remove that setting the error message looks like:
[code]

If the service would also listen on port 500

[2019-06-12 07:36] torstenwalter commented on #7360
Looks like this is the explanation:
[code]

[2019-06-12 07:54] miguelaeh commented on #14627
Hi @avirtual ,
Your are right, I forgot to enable sentinel. In any case executing this command:
`helm install stable/redis --set redis.clusterDomain=kube-staging,redis.sentinel.clusterDomain=kube-staging,sentinel.enabled=true`
And killing the master pod I am not able to  replicate your issue. You can see in this logs that the master is again the same:
[code]

Also, the sentinel logs detect the mas

[2019-06-12 08:56] avirtual commented on #14627
My guess is that your master is not down long enough for the sentinels to decide the master is down.
I've changed the default sentinel values for:
[code]

The whole purpose of the sentinels is to detect a master is dead and replace it, so if your sentinels are not doing that, i wouldn't say it's something desirable :)

[2019-06-12 09:02] legal90 commented on #14705
Oh, it seems that `mergeOverwrite` function is available only since helm 2.13.0
Please try upgrading to the latest Helm 2.* , if you can.

We might need to replace `mergeOverwrite` logic with reversed `merge` in order to keep a backward compatibility of `stable/spinnaker` with older Helm versions.

[2019-06-12 09:17] max-rocket-internet commented on #14527
Are you talking about the `Ingress` resource? This works fine for me:

[code]

[2019-06-12 09:31] icoolchn opened #14747 "helm create chart missing .Release.Namespace"
**Describe the bug**
A clear and concise description of what the bug is.

Our scenario use helm template generation templates, Use kubectl apply -f or spinnaker.
helm create testchart, templates there is no namespace: {{ .Release.Namespace }} ,Need to manually add namespace: {{ .Release.Namespace }}. Whether can be at the helm when the helm create added namespace: {{ .Release.Namespace }}. Thank y

[2019-06-12 09:46] #13362 closed

[2019-06-12 09:47] tompizmor commented on #14706
You can configure the min available parameter through the values.yaml and values-production.yaml

[code]
Would it work if you put 0 for the components with only 1 replica?

Do you think there should be an option to completely disable PDB for a specific component (primary, secondary, or arbiter) ?

[2019-06-12 10:10] tompizmor commented on #14702
@javsalgar I added a comment in the PR

[2019-06-12 10:13] POD666 commented on #14533
I have no idea how `.Values.extraEnv` is related to `.Values.postgresqlDatabase` and why @tompizmor failed to reproduce the issue. 😕

Just for notice
[code]

[2019-06-12 11:02] tompizmor commented on #14533
I am afraid I am unable to reproduce it on postgresql-4.0.0 nor postgresql-5.3.0.

I am using this command to deploy the chart 10 times:

[code]

The values.yaml file is:

[code]

Then in order to check the dbs were creates:

[code]
Being ID the chart index.

My helm versions here:
[code]
Could you exec into one of those pods and execute this command to get the exact postgresql image used?

[code]

[2019-06-12 11:09] #13363 closed

[2019-06-12 11:13] POD666 commented on #14533
Upgraded to
[code]
The issue persist for `4.1.0` and for `5.3.4`, but not for 5.3.7.
[code]

[2019-06-12 11:18] Amithpn opened #14751 "[stable/stolon]Data persistance is not working in postgres with chart version v0.13.0"
**Bug Description**

**Version of Helm and Kubernetes**: v0.13.0

**Which chart**: stolon

**What happened**:
We expected data to be retained every time in the keepers.

**What you expected to happen**:
All the databases and tables created are gone when we restart the pods(helm delete)

**How to reproduce it** (as minimally and precisely as possible):

    1. Install the postgres cluster using hel

[2019-06-12 11:36] mivanovvs commented on #14332
Thanks for response! But you said

In which cases it's  recommended? I mean full mesh. And how to configure full mesh topology in chart?

[2019-06-12 11:50] carrodher commented on #14721
This chart has two methods to set the proper permissions to the persist volume, both are enabled by default.

The first one is a [_securityContext_](https://github.com/helm/charts/blob/master/stable/postgresql/values.yaml#L68) (`1001:1001`) and the second one is an _initContainer_ [executed as root](https://github.com/helm/charts/blob/master/stable/postgresql/values.yaml#L58) that run the followin

[2019-06-12 12:54] tomerleib commented on #12416
Hi @maorfr need any help with contributing to the chart?

[2019-06-12 13:03] tomerleib commented on #12416
I face the same issue, added the annotations above and still receive the error page

[2019-06-12 13:18] morsok commented on #13717
Maybe I should have pinged @dunglas ?

[2019-06-12 14:14] naturalbeau commented on #12416
I am facing the same issue and still get the error page. @jaredbischof  Could you please share more information about your configuration?

[2019-06-12 14:37] nerumo commented on #13983
Propably related:
https://github.com/elastic/curator/issues/528

There's an update to 5.7.6, but a different repository

[2019-06-12 14:39] #14573 closed

[2019-06-12 14:42] sd7y commented on #14721
Hi, thank you for your reply, this thing is like this:
At the beginning I set `volumePermissions.enable=false`, at which time it worked fine, but then I found out that sometimes the slave won't start, I checked the logs and found these:
[code]
I found #14538 in the list of issues, it looks the same as I did, then I tried to set `volumePermissions.enable=true`, but my kubernetes set the PSP, it can

[2019-06-12 14:54] sd7y commented on #14721
Can `volumePermissions.securityContext.runAsUser` be set to a value other than `0`? If it can only run normally when `volumePermissions.securityContext.runAsUser=0`, what is the reason for this configuration?

[2019-06-12 15:18] yosbeleg89 commented on #2564
@Morriz Did you manage to make it work?

[2019-06-12 15:19] docktermj commented on #14751
Not sure if it helps, but Persistent Volumes (PV) and Persistent Volume Claims (PVC) need to be created for persistence.

An example of how to creat PV and PVC is in https://github.com/helm/charts/issues/14390

[2019-06-12 15:20] docktermj commented on #14721
Possibly related:  https://github.com/helm/charts/issues/14390

[2019-06-12 15:29] docktermj opened #14757 "[stable/rabbitmq] When using minikube and PVC, Liveness and Readiness probes fail"
**Which chart**:

stable/rabbitmq

**Description**

When using `minikube`, Persistent Volumes (PV) using `hostPath` fail when used in `stable/rabbitmq` chart.  The Liveness and Readiness warnings prevent the pod from reaching a `READY` state of "1/1".

[code]

The pod launched by the `stable/rabbitmq` chart never reaches a `READY` state of "1/1".

**Steps to reproduce the issue:**

1. Start MiniKu

[2019-06-12 15:37] etiennejournet opened #14758 "[stable/elasticsearch] Provide encrypted password for elastic ingress"
Hello,

I think it would be better to provide encrypted password the the client.ingress.password variable, to avoid commiting cleartext password.
Such password can be generated using `openssl passwd`or `htpasswd`, for which you can specify different hash algorithms.

All it requires is be to alter the client-auth.yml template and remove the ${PLAIN} directive.

I could also be possible to feature

[2019-06-12 15:42] docktermj commented on #14757
Log:
[code]

[2019-06-12 15:43] docktermj commented on #14757
I see this line in the log:
[code]
I don't understand.  I have the PV at `storage: 10Gi`

[2019-06-12 15:55] docktermj commented on #14757
In another test, we tried the `stable/rabbitmq` chart on the IBM Cloud Pak for Data kubernetes system and the chart deployed, but no pods came up.

We did a
[code]
Didn't see the anything for the pod (i.e. not CreatingContainer, Init:0/1, PodInitializing, nor Running).

[2019-06-12 16:07] docktermj commented on #14757
Just to make sure I'm not missing something, I just performed

[code]

But it did not solve the issue.

[2019-06-12 16:35] joshua-vandenhoek opened #14759 "[incubator/patroni] Add support for setting pg_hba.conf through helm chart"
Would really like to see support for setting postgres-related settings files (e.g. pg_hba.conf) from the helm chart. Currently, it does not look like there is support for this. I could be very wrong about this, so if I am please let me know!

**Is your feature request related to a problem? Please describe.**

I guess the problem is setting things like pg_hba.conf at deploy time and not through man

[2019-06-12 17:05] mazharul opened #14760 "[stable/heartbeat] output.file always get appended in heartbeat.yaml file"
**Describe the bug**

[code]

`output.file` always gets appended in the values.yaml file

**Version of Helm and Kubernetes**:
[code]

[code]
**Which chart**:

stable/heartbeat

**What happened**:
This is my partial values.yaml file:

[code]

This is what I get after I run ` helm install --debug --values values.yaml stable/heartbeat`

[code]

**What you expected to happen**:
There shouldn't be any

[2019-06-12 17:08] mazharul commented on #14760
I have tried with the fixes explained here #5164; doesn't work.

[2019-06-12 17:09] #13372 closed

[2019-06-12 17:27] dpkirchner opened #14761 "[stable/spark] enable spark.ui.reverseProxy, expose reverseProxyUrl variable"
**Is your feature request related to a problem? Please describe.**

Yes -- the Spark Web UI dynamically generates links to workers, and those links (by default) use the worker's IP. When run on k8s, those IPs are (typically) non-routable, and are thus hard to hit from your browser without port-forwarding.

**Describe the solution you'd like**

I'd like the ability to enable the `spark.ui.reversePr

[2019-06-12 18:03] hoffoo opened #14762 "[stable/redis] sentinel outside of slave pods"
**Is your feature request related to a problem? Please describe.**
It would be great to move sentinel outside of the redis pods. A common setup is 1 master + 1 slave with 3 sentinels and quorum of 2. Currently I think this type of setup would be impossible as this chart supports only 1 master + 3 slaves for a quorum of 2(please correct me if im wrong)

**Describe the solution you'd like**
Sentinel

[2019-06-12 18:09] #13335 closed

[2019-06-12 18:56] #14602 closed

[2019-06-12 19:09] #13333 closed

[2019-06-12 19:26] #14544 closed

[2019-06-12 19:30] agustinlare opened #14765 "[stable/orangehrm] Https bad request"
**Describe the bug**
Unable to make it work with https.

**Version of Helm and Kubernetes**:
Helm 2.12.2
K8n: Major:"1", Minor:"13", GitVersion:"v1.13.2"

**Which chart**: orangehrm

**What happened**:
I'm kinda new to the kubernetes technology, sorry if I'm asking something really dumb. I've been trying to install orangehrm with helm, with no major problems actually and the http works fine but wh

[2019-06-12 19:57] mdeggies opened #14766 "[stable/redis] Sentinel helm upgrades cause CrashLoopBackOff for last slave"
**Describe the bug**
A clear and concise description of what the bug is.

When we upgrade anything in our sentinel chart using `helm upgrade`, the last slave's pod becomes unhealthy. In the below repro example, I do a deployment and then upgrade the deployment by adding resource/request limits. This causes the following error: ``` Back-off 5m0s restarting failed container=sentinel pod=michele-test

[2019-06-12 20:24] mdeggies commented on #14766
Update: Just as an fyi, I checked and do not see any issues when doing the same upgrade in cluster mode.

[2019-06-12 21:02] mkozachek opened #14769 "[stable/airflow] redis.enabled: false does not stop Redis from launching"
**Describe the bug**
Setting the redis.enabled option to false does not disable Redis from being run. Either the documentation is incorrect as to what this flag does or Redis cannot be disabled. There's no need for me to use Redis as I am using a different Broker client.

**Version of Helm and Kubernetes**:
Helm: 2.14.0
Kubernetes:
[code]

**Which chart**:
stable/airflow

**What happened**:
Redis

[2019-06-12 21:12] mkozachek commented on #14769
Issue was resolved by moving the redis options in `values.yaml` outside of the `airflow` block.

[2019-06-12 21:12] #14769 closed

[2019-06-12 21:37] ianks commented on #12851
What would be the correct way to connect through redis-rb. Their documentation on sentinel is here: https://github.com/redis/redis-rb#sentinel-support

When we get a good answer here, let's add it to the readme as well

[2019-06-13 00:11] moustafab opened #14771 "[incubator/zookeeper] headless service name is too long"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:
all

**Which chart**:
incubator/zookeeper

**What happened**:
the headless service uses the fullName (63 chars) + "-headless" (9 chars) to create the service name. This will always fail with longer names to create as it violates dns rules

**What you expected to happen**:
the headless serv

[2019-06-13 01:53] PicoSushi commented on #2522
Are there any updates for this?

[2019-06-13 04:15] nesl247 opened #14773 "[stable/jenkins] Does not use release namespace for resources"
**Describe the bug**
A clear and concise description of what the bug is.

**Version of Helm and Kubernetes**:
`Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}`

`Server Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.6-gke.6", GitCommit:"fcbc1d20b6bca1936c0317743055ac75aef608ce", GitTreeState:"clean", BuildDate:

[2019-06-13 04:18] koolamusic commented on #13869
@maorfr any progress with `stable/lamp` I would like to join the maintainers for that project

[2019-06-13 05:09] #13166 closed

[2019-06-13 06:02] Amithpn commented on #14751
Hi @docktermj ,

I don't think its a PV/PVC creation problem, but if you still believe its PV/PVC problem then let me know after looking at below details.

Yesterday i deployed this chart with persistence enabled and it has created PVC/PV.

[root@server]# kubectl get pvc | grep stolon
data-si-postgres-stolon-keeper-0       Bound    pvc-14ffb823-8cfd-11e9-81a5-fa163eda9ef5   10Gi       RWO

[2019-06-13 06:09] torstenwalter commented on #14773
Whenever I tried the resources are created in the correct namespace.

Can you provide details how one can reproduce the problem? What's the command you are using to install the chart?

[2019-06-13 06:09] #13390 closed

[2019-06-13 06:50] andresbono commented on #14759
Hi @joshua-vandenhoek, I'll point you to some sections in the README.md that you may find useful:

- [postgresql.conf / pg_hba.conf files as configMap](https://github.com/helm/charts/tree/master/stable/postgresql#postgresqlconf--pg_hbaconf-files-as-configmap)
- [Configuration](https://github.com/helm/charts/tree/master/stable/postgresql#configuration)
  - `pgHbaConfiguration`
  - `postgresqlConfig

[2019-06-13 07:12] sd7y commented on #14721
I think I found the cause of the issue, `chmod 0700 "$POSTGRESQL_DATA_DIR"` is executed in this line of code https://github.com/bitnami/bitnami-docker-postgresql/blob/master/11/debian-9/rootfs/libpostgresql.sh#L727, but my pod is stopped by some reason before this code is executed.
I think I should fix the issue pod is stopped.
Thank you for your suggestions @carrodher @docktermj

[2019-06-13 07:12] #14721 closed

[2019-06-13 07:37] andresbono commented on #14766
Hi @mdeggies, we can reproduce the issue that you are describing. Just to confirm, can you share with us the logs of the sentinel container that is crashing? You can execute:

[code]

[2019-06-13 07:41] Amithpn commented on #14751
I see the below form one of the job which runs every time i deploy the chart:

[root@server]# k logs -f si-postgres-stolon-create-cluster-5pb97
WARNING: The current cluster data will be removed
WARNING: The databases managed by the keepers will be overwritten depending on the provided cluster spec.
[root@server]#

Does it makes sense to anyone why data persistence might not be happening for me?

[2019-06-13 08:31] monotek commented on #13869
added myself to prometheus-mysql-exporter: https://github.com/helm/charts/pull/14776

[2019-06-13 08:32] #14581 closed

[2019-06-13 09:34] torstenwalter commented on #14514
@orange-ly Have you been able to resolve the error? Did you check the logs of the pod?

One need to figure out why the pod can't start. Is it an error in the init container or another one. Does your pod have internet access? By default it's trying to download and install plugins...

[2019-06-13 09:34] miguelaeh commented on #14627
Hi @avirtual ,
Thanks, you are right.
I replicated it. And also it seems your solution works. But in my case, none of the pods died unexpectedly. And the master starts as slave successfully and connect with the new master:
[code]

Those are the master logs after kill him and restart.
The following are the logs of the slave that promote to master:
[code]

As you can see, the old master was 172.17.0

[2019-06-13 09:53] POD666 commented on #14533
I was wrong, the issue persists for 5.3.7.

[2019-06-13 10:09] #13386 closed

[2019-06-13 10:20] avirtual commented on #14627
Yes, it is expected for the master to reconnect as a slave, but it won't do it without the bit that adds --masterauth.
Having dealt with redis and sentinel for a couple of days, I feel there are some issues that would have to be addressed.
Quorum is used to decide a master is dead, but it is not used to elect a new master. This essentially means that if you start with a master and 2 slaves, the sy

[2019-06-13 11:11] donbowman commented on #9963
will be closed by #11343

[2019-06-13 11:48] tompizmor commented on #14721
@sd7y If you can, share the logs of the pod that is not starting well and we may be able to help.

If you think it is unrelated to this issue, feel free to open a new one.

[2019-06-13 11:49] Aisuko commented on #14681
If you don't need `pod security policy` to manage the container's security. You should set that's false. Or, you should override the `podsecuritypolicy.yaml`

[2019-06-13 11:52] miguelaeh commented on #14332
Hi @mivanovvs ,
The cases are not explained in the docs, I think it should be all cases.
I understand you, the chart topology is confusing. I think there is no way to configure full mesh on the chart right now. I am going to create an internal task to review this an see if we can change it to provide full mesh.
Thank for your report.

[2019-06-13 11:52] POD666 commented on #14533
I can reproduce the issue even with very simple values.yaml
[code]
here is my full testing script:
[code]
And here is output (sploiler: 5,6,7,10 failed):
<details>
<summary>Click to expand</summary>

[code]
</details>

So looks like the issue is not related to PostgreSQL version or to chart version or to `values.yaml`.

What can it be?

[2019-06-13 12:19] darioblanco commented on #13867
I am the maintainer of `incubator/buzzfeed-sso`. Lately, we had several MRs from the community, but I can't merge them as I am not a trusted collaborator. I have created an issue to become one here https://github.com/helm/charts/issues/14682 .

Even if I am quite active with the development and testing of that chart, anybody else who wants to help and take ownership is definitely welcomed :)

[2019-06-13 12:32] komljen commented on #14682
@darioblanco I added `/ok-to-test` on a few `buzzfeed-sso` PRs to unblock them until this gets resolved. I'm also `buzzfeed-sso` user, so I can help you to maintain it.

[2019-06-13 12:47] darioblanco commented on #14682
Thank you @komljen !!!!

[2019-06-13 13:09] DavidHache commented on #11471
I am having the same issue.
I believe it's not about the FQDN but the path.
I managed to fix the grafana part yesterday with this config but the same config on prometheus doesn't work.

`prometheus:
  podDisruptionBudget:
    enabled: true
    minAvailable: 1
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      nginx.ingress.kubernetes.io/rewrite-target: /$2

[2019-06-13 14:07] sd7y commented on #14721
This is the logs

[code]

At this time, the pod was killed with that event.
[code]

Then the pod was recreated and got that message `Permissions should be u=rwx (0700) or u=rwx,g=rx (0750).`

[code]

The reason is that I restored the database when postgresql is just started, so the pg_basebackup will take more time, so I set `livenessProbe.failureThreshold=30` and `readinessProbe.failureThreshold=

[2019-06-13 14:11] nesl247 commented on #14773
I'm actually using `pulumi` to do this. I did set the namespace property. I'm new to helm charts, so I could be wrong, but it seems like none of the templates have the namespace defined in them. Does helm add it automatically, and therefore maybe it's an issue with Pulumi?

[2019-06-13 14:13] maorfr commented on #14682
added you! please add an OWNERS file to hubot :)

[2019-06-13 14:13] #14682 closed

[2019-06-13 14:38] ahmadalli commented on #12957
mattermost helm chart uses configmaps for it's configuration which is why settings on system console (including plugins) are read-only.
the new mattermost's helm chart has a plugin section on it's value but I'm not sure how we can set things up there

[2019-06-13 14:42] joshua-vandenhoek commented on #14759
Hey there @andresbono , thank you very much for your reply! So I see you have linked me to the stabe postgresql community helm chart. So as my question pertains specifically to the incubator/patroni helm chart, does the patroni helm chart support setting configuration parameters for postgres through the postgresql chart as a dependency? I checked the requirements.yaml for incubator/patroni, and th

[2019-06-13 15:08] #13403 closed

[2019-06-13 16:05] frankreno commented on #14494
The problem with RawConfig is it requires user to now maintain a seperate copy of the configuration which is overkill in situations where you have one property that is not exposed that you want to add but only applies to a specific plugin.

[2019-06-13 16:08] #13407 closed

[2019-06-13 16:11] alemorcuq commented on #14765
Hi, @agustinlare.

Can you tell me what's the `curl` command you are using?

Regards,
Alejandro

[2019-06-13 16:12] torstenwalter commented on #14773
I am not familiar with pulumi, but I assume it's the same effect as helm template. Often resources are rendered without namespace. Helm/Tiller take care of injecting them. It's similar to having manifests without namespace and using `kubectl apply -n <namespace>`

Here are related tickets for pulumi:
https://github.com/pulumi/pulumi-kubernetes/issues/200
https://github.com/pulumi/pulumi-kubernetes

[2019-06-13 16:15] nesl247 commented on #14773
Thanks, I'll close this.

[2019-06-13 16:51] agustinlare commented on #14765
Hi, @alemorcuq

Its curl -v https://orangehrm.[REDACTED].com

[2019-06-13 16:58] mdeggies commented on #14766
Yeah, here are the logs from sentinel michele-test-redis-slave-2:

[code]

kubectl logs michele-test-redis-slave-1 sentinel

[code]

kubectl logs michele-test-redis-slave-0 sentinel

[code]

kubectl logs michele-test-redis-master-0 sentinel

[code]

[2019-06-13 17:20] red8888 commented on #14527
Im using what documentation says and generating a values.yaml. do you have to edit the ingress directly?

[2019-06-13 17:41] kmhughes commented on #13757
Is this not a problem that anyone else has? I have a change I made that seems to fix it. I could make a PR if anyone is interested.

[2019-06-13 17:46] jonatasfreitasv opened #14787 "[stable/sonarqube] ./bin/run.sh: line 24: exec: java: not found"
Simple that, no work.

[2019-06-13 17:54] juan131 commented on #14762
Hi @hoffoo

I think it's a very interesting alternative to explore. Indeed I think we could support both setups:

- Using sidecar containers for sentinels
- Running sentinels on a separate deployment

Then, users could decided what architecture to use base on some parameter.

I would consider this feature for sure. What do you think about @javsalgar ?

[2019-06-13 18:53] gWOLF3 opened #14790 "stable/prometheus-operator: dependencies missing and unable to pull from storage api"
**Describe the bug**

Unable to pull dependencies from `https://kubernetes-charts.storage.googleapis.com/`

[code]

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

stable/prometheus-operator

**What happened**:

i see: "...Successfully got an update from the "stable" chart repository"

however, does not build charts directory, and when I run 'helm dep list', the dependencies are sti

[2019-06-13 19:08] taylorsilva commented on #12221
Updated the PR https://github.com/helm/charts/pull/12763 so it's good to merge now.

[2019-06-13 19:26] agustinlare commented on #14765
I fix it making a specific ingress for the service with the annotation nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"

[2019-06-13 19:26] agustinlare commented on #14765
I fix it making a specific ingress for the service with the annotation nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"

Thank you!

[2019-06-13 19:26] #14765 closed

[2019-06-13 21:25] SKD-SKD opened #14794 "postgresql - FATAL: "/bitnami/postgresql/data" is not a valid data directory -> DETAIL: File "/bitnami/postgresql/data/PG_VERSION" is missing"
**postgresql pod is constantly restarting and
postgresql log gives the following error:**
[code]

Below  is additional info:

helm install with static PVC

[code]

[code]

pod :
[code]
log

[code]

[2019-06-14 02:08] 02040402 opened #14798 "Cloud add a jupyter chart?"
jupyter is popular. Even in `incubator` there isn't exists now. Hope add it will be very helpful.

[2019-06-14 05:08] #11528 closed

[2019-06-14 05:54] hanzala1234 commented on #12416
Same issue is with me as well

[2019-06-14 07:08] #13285 closed

[2019-06-14 07:13] alemorcuq commented on #14765
Glad you solved it, @agustinlare, and thank you for sharing the solution.

Regards,
Alejandro

[2019-06-14 07:32] andresbono commented on #14794
Hi @SKD-SKD, what are the contents of the `data-serge-postgresql-0` volume? Is it an empty volume or does it already contain PostgreSQL data?

[2019-06-14 07:32] miguelaeh commented on #14627
Hi @avirtual ,
First, you are right we have to add the `masterauth` parameter to the master.
In the other hand, how did you test that:

I can delete the master multiple times and a new master is elected always. The problem comes when you delete two of the 3 pods. That is because more than a half of the cluster has died, so the cluster is in a inconsistent state.
Also, in case sentinels are on a po

[2019-06-14 07:33] aliartiza75 opened #14801 "[stable/prometheus-opeartor] unable to modify `CPUThrottingHigh` alert configurations"
Hello everyone,

I want to disable `CPUThrottlingHigh` (https://github.com/helm/charts/blob/9aeaf2095c8b302718968829505a87ef4201ff6a/stable/prometheus-operator/templates/prometheus/rules/kubernetes-resources.yaml#L87) alert because it is trigging with huge frequency.

I want to do two things:

• change the threshold values(but can't do it now because it is hardcoded)
• Somehow disable this alert(s

[2019-06-14 07:50] andresbono commented on #14759
Oh, so sorry @joshua-vandenhoek! I was checking opened issues for the `stable/postgresql` chart that _Bitnami_ maintains and I didn't filter out this one!

You are absolutely right, `incubator/patroni` and `stable/postgresql` are independent charts with no dependencies.

Sorry again for the confusion!

[2019-06-14 08:35] max-rocket-internet commented on #14527
No. We use a values file for the chart:

[code]

There's no need to do this: `helm inspect values stable/atlantis > values.yaml`

[2019-06-14 08:38] compleatang commented on #12628
After thinking about this more and trying to debug the failures on #14562 I'm increasingly coming to the conclusion that there is little to no value in keeping Kibana as a standalone chart. The primary reason for this is that the Kibana runtime does not "go green" without elasticsearch behind it. This means, that in effect, we have an impossible task in terms of testing Kibana in any meaningful wa

[2019-06-14 08:48] compleatang commented on #12628
After thinking about this more and trying to debug the failures on #14562 I'm increasingly coming to the conclusion that there is little to no value in keeping Kibana as a standalone chart. The primary reason for this is that the Kibana runtime does not "go green" without elasticsearch behind it. This means, that in effect, we have an impossible task in terms of testing Kibana in any meaningful wa

[2019-06-14 09:05] monotek commented on #12628
I like the idea but see one problem.

If one likes to use the official Elasticsearch helm chart (https://github.com/elastic/helm-charts/tree/master/elasticsearch) it would be hard to use Kibana from the stable/elasticsearch cahrt, without having a switch to also disable Elasticsearch. But as there is also an official Kibana chart available (https://github.com/elastic/helm-charts/tree/master/kibana

[2019-06-14 09:15] desaintmartin commented on #12628
I am not sure this is the way to go (even if we forget the switch to elastic charts).
Although I don't deploy kibana without elasticsearch, I still have legacy Elasticsearch clusters outside of kube. It is then interesting to deploy kibana within kube without relying on the whole ES thing.

[2019-06-14 09:34] #14049 closed

[2019-06-14 11:44] MrD2 commented on #13642
Yes, this worked thank you.

[2019-06-14 11:44] #13642 closed

[2019-06-14 11:45] andresbono commented on #14766
Thanks for the information. We will investigate the issue and we will get back to you.

[2019-06-14 11:59] billimek commented on #13867
[stable/minecraft] chart doesn't even have a single owner.  I'm happy to pitch-in on this one.  Is anyone else interested to co-own the chart? @gtaylor? @itzg ?

[2019-06-14 12:15] lurajon commented on #10741
@SDC2021 - Hi! Is your image publicly available?

Best regards

Jone

[2019-06-14 12:35] ribx commented on #14794
I have the same problem and here it is an empty volume, create by helm with a storage class.

[2019-06-14 12:46] monotek commented on #12628
For the time being i test kibana with es dependency here: https://github.com/helm/charts/pull/14808

[2019-06-14 12:50] avirtual commented on #14627
After you delete the master, it register itself as a slave, so if you delete that pod again, you'll actually be deleting a slave, not the new master.
By master i mean whichever pod is considered to be the master of the other 2 redis containers. (initially it is the pod named redis-namespace-master-0, but then it could be redis-namespace-slave-0 or redis-namespace-slave-1)

The scenario is:
1. dele

[2019-06-14 12:59] avirtual commented on #14627
To summarize, the pull request will fix the bug report but, in my opinion, the process of electing a new master needs to be fixed (probably by not counting the dead sentinels)

[2019-06-14 13:11] a-hat opened #14811 "[stable/fluentd] Upgrade fluentd image"
It seems that the image you are using `gcr.io/google-containers/fluentd-elasticsearch` is no longer updated, v2.4.0 has been published in January.

Maybe `gcr.io/fluentd-elasticsearch/fluentd` is the new repository for this image? It contains v2.5.2 which has been published in May.

[2019-06-14 13:13] a-hat commented on #14811
see also https://github.com/kubernetes/kubernetes/issues/78684

[2019-06-14 13:43] tompizmor commented on #14757
Hi @docktermj!

Thanks for all the detailed instructions! I was able to reproduce the issue in Minikube.

Can I ask why do you create the PV and PVC manually? I tried deploying the chart with the default configuration and it worked fine. So I suspect the problem is using a hostPath volume.

Regarding the issue in IBM Cloud park, could you run the following command to see why the stateful set is no

[2019-06-14 14:20] SKD-SKD commented on #14794
Hi @andresbono, the volume is an empty volume.

[2019-06-14 14:20] POD666 commented on #14533
I assumed that there might be a delay before env variables are set, so I add the following command [here](https://github.com/helm/charts/blob/master/stable/postgresql/templates/statefulset.yaml#L91):
[code]
1 of 10 delpoyments failed with the following output:
<details>

[code]
</details>

So looks like postgresql might ignore POSTGRES_DB for some reason.

[2019-06-14 14:26] SKD-SKD commented on #14794
it was created by the following simple PV and PVC yamls

[code]

[code]

[2019-06-14 14:42] joshua-vandenhoek commented on #14759
That's alright @andresbono ! I appreciate you taking time to check this out. So with that being the case, do you know of a means to inject configuration lines into config files like pg_hba.conf using the incubator/patroni helm chart? We really like the patroni chart for the HA it can provide, but the lack of configuration options for postgres makes it a bit unwieldy to work with...

Anyway, if you

[2019-06-14 14:50] itzg commented on #13867
@billimek, since I don’t actively use Helm I’d be happy for you to take point on https://github.com/helm/charts/tree/master/stable/minecraft and would be good with co-owning since I can help keep the chart lockstep updated with the upstream image.

[2019-06-14 14:55] SKD-SKD commented on #14794
@andresbono, the problem is solved.
host mount point
[code]
was pointing to the location already used by another application
thank you

[2019-06-14 15:01] POD666 commented on #14533
After looking at [this](https://github.com/bitnami/bitnami-docker-postgresql/blob/de4ed17e9dbe4dae98498f67184612d98c340a27/11/ol-7/rootfs/libpostgresql.sh#L407), decided to also check `POSTGRESQL_DATABASE`:
[code]
Output:
<details>

[code]
</details>

[2019-06-14 15:16] compleatang commented on #12628
Perhaps we should back off doing any meaningful testing of Kibana as a standalone chart and ask folks to contribute tests of a particular feature to elastic-stack chart rather than to kibana chart? I guess thatn's another way we could go. In that instance we can use the "easier" values file in the `ci` directory rather than the "harder" `test.yaml`'s.

[2019-06-14 15:19] POD666 commented on #14533
I'm not longer able to reproduce the issue after changing command to:
[code]
Output:
<details>

[code]
</details>

[2019-06-14 15:40] ribx commented on #14794
I had this problem with an old postgresql version (bitnami/postgresql:11.2.0-debian-9-r74), which works fine locally run with docker, but not with the latest helm chart in my cluster.

I creates `/bitnami/postgresql/data` and later does not initialize the database:

https://github.com/bitnami/bitnami-docker-postgresql/blob/29de2a3a3a3f8671c2f8766368e60186d785124e/11/debian-9/rootfs/libpostgresql.s

[2019-06-14 15:51] POD666 commented on #14533
Should I move the issue to `bitnami/bitnami-docker-postgresql`?

[2019-06-14 17:39] tylercamp opened #14820 "[stable/minio] Specify service account name"
**Is your feature request related to a problem? Please describe.**
We're writing a chart that depends on minio and are planning to include a role and pod security policy for it. Right now there's no way to specify a service account for the sts/deploy, so we can't apply these resources to provide a comprehensive/secure setup for our dependent application.

**Describe the solution you'd like**
Minim

[2019-06-14 17:47] caiohasouza commented on #14706
Hmm no, the PDB doesn't support minAvailable=0, see this link please (https://kubernetes.io/docs/tasks/run-application/configure-pdb/#think-about-how-your-application-reacts-to-disruptions), the Kubernetes say:

Concern: do not terminate this application without talking to me.
Possible Solution 1: Do not use a PDB and tolerate occasional downtime.
Possible Solution 2: Set PDB with maxUnavailable=0

[2019-06-14 18:09] rnkhouse commented on #9662
@juan131
It looks like bitnami image now supports SSL.
Please take a look at this issue: https://github.com/bitnami/bitnami-docker-phpmyadmin/issues/21

[2019-06-14 18:19] jforman commented on #14681
@Aisuko What in the podsecuritypolicy.yaml would I change? I am running k8s 1.14.2 with PSP enabled, but looking at that YAML all seems correct (the nginx ingress pod is running as UID 33, not root), and the ports i'm trying to bind (30080 and 30443) are within the 1-65535 range.

Are there other logs I could look at to determine if this is indeed a PSP problem?

[2019-06-14 18:21] luiseduardobrito commented on #14787
Same error here for `v1.1.1`. I was able to make it work downgrading to chart version `v1.1.0`.

[code]

[2019-06-14 19:06] avirtual commented on #14762
Are you using an old chart? Currently when sentinel is enabled, there's going to be sentinel containers on both master and slaves. So a master with 2 slaves has 3 sentinels, and a quorum of 2 is doable.
That being said there are other issues with the sentinels and how they're running.

[2019-06-14 22:19] swade1987 opened #14823 "[stable/ingress-nginx] Service is created for host network daemonset"
**Is your feature request related to a problem? Please describe.**
I have set up my helm chart to deploy a host networked daemonset.
Additionally, I already have a load balancer configured via Terraform routing requests to these nodes.
However, when looking at Kubernetes I see the following:

[code]

There is no way to stop this service from being created via the helm chart. Which is causing error

[2019-06-15 00:30] jforman commented on #14681
I believe I've started to figure it out.

I believe it has to do with AppArmor in kubernetes 1.14.

I notices two different lists of annotations on two nginx-ingress controller pods on different clusters I have:

k8s 1.12 (nginx-ingress-controller 0.22.0):
Annotations:        <none>

k8s 1.14 (nginx-ingress-controller 0.24.1):
Annotations:        container.apparmor.security.beta.kubernetes.io/ngin

[2019-06-15 00:34] bekriebel commented on #13078
This appears to be closed with the merge of #14452

[2019-06-15 00:50] bekriebel opened #14824 "stable/openvpn Upgrade fails due to lack of crl.pem"
**Describe the bug**
After the merge of #14452, an upgrade of an existing installation fails with the following logs:
[code]
This is due to the fact that the crl is not generated by the startup script since certs already exist.

**Version of Helm and Kubernetes**:
helm v2.13.1
k8s v1.12

**Which chart**:
stable/openvpn

**What happened**:
Upgrade fails because crl.pem does not exist.

**What you e

[2019-06-15 01:14] jforman commented on #14681
Actually the pod starts up, but then gets killed by the PSP. Time to go back to using AppArmor but getting the PSP correctly configured for this service account to be able to use it.

[2019-06-15 10:57] #13281 closed

[2019-06-15 12:31] #13462 closed

[2019-06-15 12:31] #13464 closed

[2019-06-15 13:31] #13367 closed

[2019-06-15 14:31] #10949 closed

[2019-06-15 18:17] jforman commented on #14681
@Aisuko Is there any reason why the podsecuritypolicy.yaml is not being populated and applied? When I perform a 'kubectl get psp', the PSP provided by the nginx-ingress chart is not present.

[2019-06-15 18:52] didil commented on #14514
getting a similar issue
in the logs
[code]
fails with 404 from with GKE but also locally from my laptop

[2019-06-15 22:55] caarlos0 opened #14829 "[stable/prometheus-operator] global.rbac.pspEnabled=false does not disable psp"
**Describe the bug**
I'm trying to install it on a 1.9.x cluster, and psp api group is different there (see #8789).
So, I thought that disabling it would prevent the issue, but it doesn't.

**Version of Helm and Kubernetes**:

[code]

**Which chart**:
stable/prometheus-operator

**What happened**:

`helm install -n foo stable/prometheus-operator --set global.rbac.pspEnabled=false` fails with:

[co

[2019-06-15 23:27] caarlos0 commented on #14829
OK the alertmanager part was my fault, fixed the CRD creation, now I just get:

[code]

[2019-06-15 23:31] #13459 closed

[2019-06-15 23:41] caarlos0 commented on #14829
nevermind, found it!

`--set kube-state-metrics.podSecurityPolicy.enabled=false`

[2019-06-15 23:41] #14829 closed

[2019-06-16 02:31] #13481 closed

[2019-06-16 02:42] Aisuko commented on #14681
@jforman Please check your value.yaml about

https://github.com/helm/charts/blob/4527ebe8a36180ddd16973acddf476abe7264cfe/stable/nginx-ingress/values.yaml#L384

The default was `false` turn to 'true'

[2019-06-16 02:48] Aisuko commented on #14681
[code]
Is your `podsecuritypolicy.yaml` have been change for `Values.controller.podSecurityPolicy.enabled`

https://github.com/helm/charts/blob/120415f9ef44fda52d4b1da3e1a3fa38bfcfc2ea/stable/nginx-ingress/templates/podsecuritypolicy.yaml#L1

[2019-06-16 03:31] #13077 closed

[2019-06-16 03:50] egeland commented on #1714
/reopen

[2019-06-16 03:50] egeland commented on #1714
/remove-lifecycle rotten

[2019-06-16 13:12] #13458 closed

[2019-06-16 14:13] #13461 closed

[2019-06-16 15:12] #13497 closed

[2019-06-16 15:43] smirnov-mi commented on #1081
Hi guys. Has anyone found a solution for this issue? I have the same with my patroni 1.3, using etcd 2.2.5. Deleting PVC and PV didn't help.

[2019-06-16 18:47] ackarande opened #14836 "Node Exporter installed latest/stable charts provides invalid stats node_filesystem_avail_bytes"
Hi,

With reference to query asked on forum, I am raise a query/concern here. Please advise. If this not an issue then I'll be more happy to hear it :)

I am using CentOS and K8S deployment. I installed two set of node exporters

I have installed Node exporter from charts present at https://github.com/helm/charts/tree/master/stable/prometheus-node-exporter

I also installed node exporter present h

[2019-06-16 19:36] torstenwalter commented on #14514
@didil Can you share your values.yaml. I assume there is something wrong with the plugins.
The correct URL for the plugin is http://mirrors.jenkins-ci.org/plugins/credentials-binding/1.19/credentials-binding.hpi

[code]

[2019-06-16 20:54] rmmcnulty9 commented on #14559
How can this be fixed? I am on the chart version 3.0.0, and with the docker image 1.10.3 I still get this silent crash. If I am on 3.0.0 with 1.10.2 I get this error: https://github.com/puckel/docker-airflow/issues/342

What is the combination of versions that is stable and working currently for Airflow (helm chart)?

[2019-06-17 07:05] miguelaeh commented on #14627
Hi,

that is what I did. But in my case I found no problem.

[2019-06-17 07:27] ganchandrasekaran opened #14840 "[stable/mariadb] Pod goes to CrashLoopBackOff when deleted with PVC enabled"
**Describe the bug**
Install the chart with persistence enabled. When all pods are running, delete slave pod. Then when the pod comes back again it is stuck with CrashLoopBackOff, because it is using the previous pvc. I am using [NFS Server Provisioner chart](https://github.com/helm/charts/tree/master/stable/nfs-server-provisioner) that creates automatic pvc for required pods.
The same happens whe

[2019-06-17 09:08] kri5 opened #14844 "[stable/grafana] Issues providing custom dashboards"
**Describe the bug**
While trying to use this chart, i wanted to only configure it using a `values.yaml` file.

To provide additionnal custom dashboards, the chart use `.Files.Get`, so it is not possible to use without forking it, and having to maintain your own, OR you can provide dashboards inline in the `values.yaml` file directly in json.

However, doing so, if you have multiple dashboard, it

[2019-06-17 09:48] ybannay opened #14847 "stable/airflow airflow webserver generates python error with libpq.so.5"
**Describe the bug**
webserver generates python error with libpq.so.5

**Version of Helm and Kubernetes**:
helm: v2.9.1
kubernetes server: v1.10.13
kubernetes cliente: v1.14.1

**Which chart**:
airflow stable chart

**What happened**:
Trying to install the helm chart with the following command: helm install --namespace "airflow" --name "airflow" stable/airflow

I got the following error on webserv

[2019-06-17 10:12] saman opened #14848 "sonatype-nexus lastet version"
I checked the version of `sonatype-nexus` on the [repository](https://quay.io/repository/travelaudience/docker-nexus?tab=tags), is 3.15.2

Can you please put the latest stable version of nexus also?

[2019-06-17 10:38] rolandg commented on #12575
Are there any news on this?
How do you work with this limitation?
Can I set my password somewhere in plain text to get upgrades working somehow?
Is there another way to work around this issue?

We cannot use the helm charts like this.

[2019-06-17 10:53] saman commented on #14848
I found [a related issue](https://github.com/travelaudience/docker-nexus/issues/18), I close the issue.

[2019-06-17 10:53] #14848 closed

[2019-06-17 11:21] mounaBoo opened #14850 "how to access kibana from the outside and which file should I modify for that"
Hello everyone,

I am new on using kybernetes and helm chart so mayebe my question seems stupid but I would like to know how to change the IP adress to access the kibana dashboard from outside , I have installed your helm shart but as far as I know the kibana dashboard has access throught 127.0.0.1:5601 I want to change it into 0.0.0.0:5601 can any one help me , if there is a configuration file or

[2019-06-17 11:51] lnngle commented on #7652
@salman-hayder
I also have this problem. But how exactly do you adding persistent volumes and claims?

[2019-06-17 12:06] tompizmor commented on #14706
Hi @caiohasouza,

I prefer the second option as the user needs to specify specifically what they want rather than having a magic value to enable or disable the PDB creation.

I will send a PR later today with the changes.

[2019-06-17 12:29] caiohasouza commented on #14706
Hi @tompizmor,

Ok, perfect! If you need something that can i help please contact me.

I will wait your PR.

Regards

[2019-06-17 13:16] wrdls commented on #12575
@rolandg You can set the password (and other values for the `postgresql` dependency) in your values file:

[code]

[2019-06-17 14:00] freddy-bookinggo commented on #13017
Hi @carrodher, also apologies for the late reply. So my _values.yaml_ file does actually spin up a mysql pod, however, my sonarqube pod fails with a config error saying 'Error: secrets "bookinggo-helm-chart-sonar-postgresql" not found'. So for some reason it's failing to look for the mysql secret.

[2019-06-17 14:20] monotek commented on #14850
I guess what you want is an ingress configuration...

https://kubernetes.io/docs/concepts/services-networking/ingress/

In the kibana chart is configured here: https://github.com/helm/charts/blob/master/stable/kibana/values.yaml#L67

[2019-06-17 14:22] rainerfrey opened #14856 "[stable/jenkins] Chart tries to install Jenkins Configuration as Code Support plugin"
**Describe the bug**
The Jenkins chart adds the Plugin `configuration-as-code-support` to the list of plugins to be installed, if JCasC is enabled. This plugin has been removed in recent releases of `configuration-as-code`, and is no longer listed on https://plugins.jenkins.io/.

**Version of Helm and Kubernetes**:
not relevant

**Which chart**:
stable/jenkins

**What happened**:
I removed the val

[2019-06-17 14:24] perdurabo93 opened #14857 "[spark-history-server] Spark History UI Authentication"
**Problem Description**
I would like to have the ability to authenticate the UI to LDAP, PAM or SPNEGO/Kerberos using whatever filter servlets/filters, etc might be required, and for this configuration to be handled with in the chart's values.yaml.  I have a hard security requirement that all web UIs must be authenticated and I don't have local Kerberos domain or Ambari managed Hadoop cluster to l

[2019-06-17 14:29] #13760 closed

[2019-06-17 14:40] mounaBoo commented on #14850
thank you.

I am looking into the kibana yaml on my kubernetes is there any thing to change in there to access the dashboard from outside.

and the values.yaml where can I found it on my cluster ?

[2019-06-17 15:14] monotek commented on #14850
Its outside the cluster in some local file.
If you're using helm you should not edit the created resources inside the cluster.
Instead change the values file and do an "helm upgrade...."

[2019-06-17 15:17] mounaBoo commented on #14850
thank sir , now I get kibana to work ( using the forwarding option on kubernetes) it's given me Kibana not ready error message so the elasticsearch is not runing when I do curl -XPOST 'localhost:9200'

curl curl: (7) Failed to connect to localhost port 9200: Connection refused

[2019-06-17 15:42] rolandg commented on #12575
Found out that if you setup your own postgres and disable the one from the kong charts then upgrades are possible.

[2019-06-17 15:48] juan131 commented on #14762
Hi @avirtual

Could you please provide more information about the issues you found? Your feedback will be highly appreciated. Thanks in advance.

[2019-06-17 15:54] juan131 commented on #13050
Hi @thomas-riccardi

Good news! We already moved the RabbitMQ so it's based on Bash scripts. See:

https://github.com/bitnami/bitnami-docker-rabbitmq/tree/master/3.7/debian-9/rootfs

Now we need to decide wether we want to replace the current command and we use the logic available in the Bash container or not. As I mentioned on a previous comment, there'll be user that'll complain for this change

[2019-06-17 16:13] juan131 opened #14861 "[stable/external-dns] Proposing Bitnami team as chart maintainers"
Bitnami already has its own chart for **external-dns**, check:

https://github.com/bitnami/charts/tree/master/bitnami/external-dns

And... Maintainers for this chart were requested in the "Call for maintainers" (#13869) recently.

There are missing features in the current `stable/external-dns` chart that Bitnami chart already has (such as Prometheus exporters) as pointed out by @MPV at https://git

[2019-06-17 16:14] juan131 commented on #14861
/assign @prydonius @mattfarina @unguiculus @desaintmartin

[2019-06-17 16:27] javsalgar commented on #14840
Hi,

I was unable to reproduce the issue. This is what I got after deleting the slave pod.

[code]

[code]

Could you provide more details about your platform?

[2019-06-17 16:37] torstenwalter commented on #14856
Thanks for raising this issues. Fix should be released soon. See linked PR for details.

[2019-06-17 16:43] juan131 commented on #14861
/assign @maorfr

[2019-06-17 16:46] #14627 closed

[2019-06-17 19:49] #14856 closed

[2019-06-17 20:06] avirtual commented on #14762
I've mentioned the issues on https://github.com/helm/charts/issues/14627
The main issue appears to have just been fixed, but I think there's a problem electing a new master when you have multiple dead sentinels, if you don't do a sentinel reset when sentinel containers restart and are given new ips.

[2019-06-17 20:35] didil commented on #14514
@torstenwalter great thanks I ended up using the values from the readme and they worked. The issue was that I was using an old config from a 0.16 version which had outdated installPlugins values => 404

[2019-06-17 21:00] jaredbischof commented on #12416
Hi @tomerleib @naturalbeau @hanzala1234, did you guys add the root_url to the grafana config like this?

[code]

I realize now that it may not have been clear where that second snippet in my original post was supposed to go.

[2019-06-17 23:07] aegershman opened #14867 "[concourse/stable] Concourse Let's Encrypt usage w/ Ingress"
See also: https://github.com/helm/charts/pull/14292#issuecomment-502834939

**Version of Helm and Kubernetes**:
helm 2.4.x, k8s 1.14.x

**Describe the bug**

Concourse web pods fail to start when attempting to leverage the Let's Encrypt feature because the `--tls-bind-port` is not supplied.

Using the following configuration values:

[code]

Results in these error logs from web pod:

[code]

[but

[2019-06-17 23:42] aegershman opened #14868 "[concourse/stable] Concourse worker name should have worker number in hostname"
First off, I realize the title is a bit confusing. It's not as crazy as it sounds.

**Is your feature request related to a problem? Please describe.**

Want to deploy [external workers in multiple kubernetes environments](https://github.com/helm/charts/issues/11280) and have them all phone in to a single `web` deployment. These workers will be tagged so pipelines can take advantage of the workers'

[2019-06-17 23:57] ganchandrasekaran commented on #14840
That's weird. Here are some information on Storage class and MariaDB chart

[code]
I initially tried it with Image: `bitnami/mariadb:10.1.38`
But the same happens with latest image and latest chart too. Is there any other info you would like me to share?

[2019-06-18 00:06] aegershman opened #14869 "[concourse/stable] External worker without team association"
**Is your feature request related to a problem? Please describe.**

I have external workers in multiple environments (Azure, vSphere, etc.) all phoning into a central `web` deployment. But using external workers requires they be associated to a team. That is, your external worker configuration must have a `concourse.worker.team` on it:

[code]

I'm under the impression this limits the worker to on

[2019-06-18 08:24] Shini31 opened #14874 "[stable/prometheus-operator] Add support log.format for alertmanager"
**Is your feature request related to a problem? Please describe.**
Alertmanager is able to use json as log format. The option logFormat isn't avaiable for alertmanager in values.yaml.

**Describe the solution you'd like**
Add logFormat parameter just above logLevel in values.yaml and alertmanager.yaml

**Additional context**
Adding `logFormat: "json"` in the alertmanager.yaml as workaround works f

[2019-06-18 08:51] monotek commented on #14850
Yu need a running elasticsearch server and configure the elasticsearch url in kibanas values file.

[2019-06-18 09:20] azalenski opened #14878 "[stable/grafana] Grafana fails to pull image 6.2.3"
**Describe the bug**
After trying to install grafana using helm, the pod fails to start due to the following error:

Failed to pull image "grafana/grafana:6.2.3": rpc error: code = Unknown desc = Error response from daemon: manifest for grafana/grafana:6.2.3 not found

**Version of Helm and Kubernetes**:
Helm: v2.14.1
Kubernetes v1.12.9

**Which chart**:
stable/grafana

**What happened**:
Grafana

[2019-06-18 09:23] ammggmrtl commented on #12575
Hi.

I'm having this issue even when running for example:

helm install stable/kong --name kong --namespace api-gateway --set env.pg_database=kong --set env.pg_user=kong --set env.pg_password=0000000 --set postgresql.postgresqlPassword=0000000

Still, in the end, I keep getting the following:
[code]

[code]

Any ideas?

[2019-06-18 09:24] #14824 closed

[2019-06-18 09:29] camprr commented on #10889
Indeed, running into the same thing here. the -oss image of logstash apparently does not include the 'prune' filter, which is quite useful.

[2019-06-18 09:32] rolandg commented on #12575
@ammggm I needed to disable postgres with `--set postgresql.enabled=false`
here are my answers:
[code]

[2019-06-18 09:37] ammggm commented on #12575
But in that case it will not create the pod for the psql, what I don't seem to see working is that the user and pass I'm setting are just ignored.

[2019-06-18 09:46] StianOvrevage commented on #14878
Introduced in commit https://github.com/helm/charts/commit/64ec62d89180a9228e70637cd88d1c10974267b5 by @davidkarlsen

6.2.3 is not available on Docker hub: https://hub.docker.com/r/grafana/grafana/tags

[2019-06-18 10:05] baadc0de opened #14879 "[stable/nats] does not encode maxPayload correctly"
**Describe the bug**
The helm chart encodes the `maxPayload` option as a floating point number even when it is provided as an integer.

**Version of Helm and Kubernetes**:
helm 2.13.1, kubernetes 1.14.3

**Which chart**:
stable/nats

**What happened**:
The generated configMap encoded the `maxPayload` in scientific notation, `8.388608e06` which gnatsd failed to parse. As a result the server pod cra

[2019-06-18 10:06] baadc0de commented on #14879
Manually editing the configmap fixes the problem and the pod starts successfully.

[2019-06-18 10:14] tompizmor commented on #14706
@caiohasouza You can take a look at the PR (https://github.com/helm/charts/pull/14855) and make any suggestion you consider.

[2019-06-18 11:43] ammggm commented on #12575
So, in the end, managed to have it running if I don't give a --name during the helm install command.

Kinda strange for me that if you don't keep a random-name the all helm install will fail.

[2019-06-18 12:16] maximenannan opened #14881 "[stable/spark-history-server] Notes are not displaying the right port-forward when running the service in ClusterIP"
**Describe the bug**
When using spark-history-server with `service.type=ClusterIP` helm displays the following notes
[code]
But those notes seem to be wrong because the Spark history server is running on the port 18080
**Version of Helm and Kubernetes**:

**Which chart**:
stable/spark-history-server

**What happened**:
Wrongs notes

**What you expected to happen**:

**How to reproduce it** (as min

[2019-06-18 12:19] caiohasouza commented on #14706
Hi @tompizmor Sounds like very good, great work! I just don't understand the conditions:

{{- if .Values.replicaSet.pdb.maxUnavailable }}

The values does not exist, right?

Regards

[2019-06-18 12:43] EricLemieux commented on #14878
It looks like there was an issue with the 6.2.3 Image so it was removed from docker hub
https://github.com/grafana/grafana/blob/master/CHANGELOG.md#known-issues

[2019-06-18 13:01] samuel-begin opened #14883 "[stable/nginx-ingress] serviceMonitor not created"
**Describe the bug/how to reproduce**
Helm chart deployed with the following values
[code]
they also appear in the computed values of the charts installation
[code]
but no service monitor are created as a result: the following command has no output
[code]

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
tested on `0.22` and `0.24.1`

**What happened**:
no service monitor were created

[2019-06-18 13:07] narthollis opened #14884 "[stable/traefik] support ACME KeyType"
**Is your feature request related to a problem? Please describe.**
I would like to be able to request Let's Encrypt certificates for Elliptic Curve keys.

**Describe the solution you'd like**
Traefik has a documented configuration option for setting the `KeyType` under the `[acme]` section. Currently this is not a configuration option exposed by the Traefik chart.

**Additional context**
This conf

[2019-06-18 14:22] hanzala1234 commented on #6222
he

can we add without adding secret name in exsistingSecret?

[2019-06-18 14:53] docktermj commented on #14757
Hi @tompizmor!

On the question of PV and PVC...    I'm creating a series of "reference implementations" at https://github.com/Senzing/kubernetes-demo to help users understand how to bring up a docker formation using `minikube`.   The best teaching mechanism I know of so far is to manually create PV/PVC.   Do you have a suggestion for improvement?

I, too, was able to get the default to work, but

[2019-06-18 15:04] docktermj commented on #14757
@rgahockey   As described 2 posts up,  can you run the following command:

[code]
...at least I think that's the `STATEFULSET-NAME` @tompizmor is asking for.

@tokmpizmor,  As background for you,  the instructions we are crafting are at
https://github.com/Senzing/ibm-icp4d-guide/blob/master/docs/helm-rabbitmq-db2/README.md

[2019-06-18 15:04] ssinger opened #14888 "[stable/rabbitmq-ha] does not work with no clusterIP and service.type LoadBalancer"
**Describe the bug**
Installing rabbitmq-ha with service.type loadBalancer and no clusterIP results in the following error

Error: release oily-seagull failed: Service "rabbitmq" is invalid: spec.clusterIP: Invalid value: "None": may not be set to 'None' for LoadBalancer services

**Version of Helm and Kubernetes**:
Kubernetes 1.14.2 on minikube.
helm 2.14.0

**Which chart**:
rabbitmq-ha

**How to

[2019-06-18 15:15] tomislavtomasic opened #14889 "[stable/prometheus-operator] How to install custom dashboards and alerting rules"
**Is your feature request related to a problem? Please describe.**
After going through the documentation, and examining the project, I am still not clear how
you're supposed to install custom grafana dashboards and custom alertmanager rules.

The section in the readme which pertains to developing rules and dashboards suggests to add changes to the original `kube-prometheus` repo, then they will be

[2019-06-18 15:17] tomislavtomasic commented on #11202
@Vandersteen Can you please elaborate on your solution?
Your snippet suggest you had to customize the values of the `grafana` chart, and not the `prometheus-operator` chart.
I'm also tryign to figure out how to import both `official` and custom grafana dashboards as json files.

[2019-06-18 16:19] javsalgar commented on #14840
Could you share the command you used to deploy the nfs server provisioner chart?

[2019-06-18 16:44] rgahockey commented on #14757
[root@rga-icp4d01-icpmaster-0 ~]# kubectl describe sts --namespace zen senzing-rabbitmq
Name:               senzing-rabbitmq
Namespace:          zen
CreationTimestamp:  Wed, 12 Jun 2019 09:35:32 -0500
Selector:           app=rabbitmq,release=senzing-rabbitmq
Labels:             app=rabbitmq
                    chart=rabbitmq-6.0.2
                    heritage=Tiller
                    release=sen

[2019-06-18 16:59] javsalgar commented on #14879
Hi. Thanks for reporting. I created a PR that fixes the issue

https://github.com/helm/charts/pull/14891

[2019-06-18 17:16] docktermj commented on #14757
Formatted:

[code]

[2019-06-18 17:25] stevenmanton commented on #14847
This is a [known issue](https://github.com/puckel/docker-airflow/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+libpq) with the puckel image. I solved it by installing `psycopg2-binary` with `pip`. For example, I use `docker build ... PYTHON_DEPS="psycopg2-binary redis>=3.2.0"`

[2019-06-18 17:28] stevenmanton commented on #14683
This chart is designed to work with the pucke/docker-airflow image. Unfortunately, it's not compatible with the official airflow container, which is set up quite a bit differently (e.g. environment variables, entrypoint script).

I've heard that some of the core Airflow dev's are working on a new image, which would be great. (Puckel's image has a lot of downsides and breaks frequently because it d

[2019-06-18 17:31] rnkhouse opened #14893 "[stable/rabbitmq] endpoints does not exist"
**Describe the bug**
I installed helm chart by using this command:

When I tried to open hostname it's giving me 503 (service temporarily unavailable) error.

In `kubectl get ep`, there is no ip address for rabbitmq service.

In `kubectl describe pods/rabbitmq-0` => Readiness probe failed: curl: (22) The requested URL returned error: 401, Liveness probe failed: curl: (22) The requested URL returne

[2019-06-18 17:33] docktermj commented on #14757
So for IBM Cloud Pak, I think this is the story:

The RabbitMQ chart needs to change ownership of the files in the "persistence path".
It does that with an initContainer in [statefulset.yaml](https://github.com/helm/charts/blob/0f284f7d959e7b92501e138318983f866828ff4f/stable/rabbitmq/templates/statefulset.yaml#L61-L68).

However the security policies in IBM Cloud Pak seem to prevent that from happ

[2019-06-18 17:33] docktermj commented on #14757
@tompizmor, is there anything else we can do or provide to help get the original issue resolved?

[2019-06-18 17:36] stevenmanton commented on #14493
It seems like we could use the new [`airflow.extraEnv`](https://github.com/helm/charts/blob/c4f71a13595e751ee51eee12a24af5fa66c6780a/stable/airflow/values.yaml#L22) parameter for that. But you're right; the templates would have to change.

[2019-06-18 17:39] #9474 closed

[2019-06-18 19:14] ChiefAlexander commented on #14883
`controller.metrics.serviceMonitor.enabled` expects a boolean value. Set the value to `true` and see if that works.

[2019-06-18 20:07] rgahockey commented on #14757
WAS THIS EVER IMPLEMENTED??? It appears back in Dec 19, 2018 there was supposed to be a way to set the SecurityContext ...
==========================================================
Hi @obeyler @desaintmartin

The initContainer was added to avoid issues on some K8s distributions were SecurityContext wasn't respected. Therefore, we needed a way to ensure the volumes had the proper permissions.

Wha

[2019-06-18 20:08] kamilgregorczyk commented on #11308
You need to annotate your services with proper tags which are defined in value.yml

[2019-06-18 20:09] kamilgregorczyk commented on #11308
That worked for me: https://github.com/kamilgregorczyk/sample-micronaut-blog/blob/master/kubernetes/Service.yaml#L9

[2019-06-18 20:25] jasongwartz commented on #14695
@bigpigeon can you check if this is fixed by https://github.com/helm/charts/pull/14777 ? Cheers

[2019-06-18 20:28] obeyler commented on #14757
@rgahockey  I think that it's mandatory to have a way to disable the initContainer as if you run it in a secured K8S with PodSecurityPolicy runAsNonRoot the initContainer with root role won't be a accepted.
So I agree that it's a good idea to add initContainer.enabled
I'm less sure for the need of such tag to enable or not SecurityContext. At the end, SecurityContext  is  always present in yaml fi

[2019-06-18 20:55] docktermj commented on #14757
Good conversation.  Can it be moved to a new issue?

This issue is for Liveness and Readiness probes on minikube?

[2019-06-18 21:06] obeyler commented on #14757
👍

[2019-06-18 21:39] #13532 closed

[2019-06-18 21:55] Vandersteen commented on #11202
In the prometheus-operator values.yaml file there is a grafana section, you can configure grafana from there as well.

First, you need to add a dashboard provider (first section in the example)
Then you add the dashboards you want to that provider (second section in the example)

Then provider name in the example is 'extra'

[2019-06-18 22:32] neoakris opened #14900 "[stable/prometheus-operator] kube-scheduler and kube-controller-manager override will append default label selector instead of replace."
**Background Context:**
My kops cluster ships with kube-scheduler and kube-controller-manager pods
labeled:
k8s-app: kube-scheduler and k8s-app: kube-controller-manager

when I first deployed prometheus-operator
kubectl port-forward myrelease-prometheus-prometheus-oper-prometheus-0 9090:9090
http://localhost:9090/targets
monitoring/myrelease-prometheus-oper-kube-controller-manager/0 (0/0)
monitori

[2019-06-18 23:07] will-beta commented on #14683
@stevenmanton Thanks a lot for the reply! Expecting that new image!

[2019-06-18 23:07] #14683 closed

[2019-06-19 03:44] G0lang opened #14901 "[Stable/apm-server] liveness and readiness checks will fail after enable ssl"
**Describe the bug**
when you enable the TLS in config
    ssl.enabled: true
    ssl.certificate : "cert"
    ssl.key : "private_key"

liveness and readiness failed after enabling the ssl.
just fix by editing the schema of  liveness & readiness to HTTPS

**Version of Helm and Kubernetes**:
helm = v2.14.1
kubernetes = 1.12

**Which chart**:
Stable/apm-server

[2019-06-19 04:50] desaintmartin commented on #14757
Isn't this already the case?
`.Values.volumePermissions.enabled` allows to define (or not define) the initContainer.

[2019-06-19 04:58] ganchandrasekaran commented on #14840
@javsalgar sure, following are some difference from the current `values.yaml` in nfs server provisioner chart
[code]
I am creating a PV that nfs's PVC can claim
[code]
One difference in the NFS chart is that an additonal  mountOptionsis introduced
[code]

[2019-06-19 07:48] carrodher commented on #14706
By default, only the `minAvailable` exists (`maxUnavailable` is commented by default in the _values.yaml_). Users can comment/uncomment those values on demand, so the logic needs to check if the value is set before using it.

[2019-06-19 07:48] #14879 closed

[2019-06-19 08:02] #14706 closed

[2019-06-19 08:42] miguelaeh commented on #13850
Hi @RobertoDonPedro ,
Try to set the `runAsUser` to `0` to run MariaDB as root.
You can also change the volumes permissions using the `fsGroup` parameter.

[2019-06-19 10:04] Hrushi-kesh commented on #9561
**_Workaround_**:   add below docker image  Entrypoint in  Kubernetes yml.

`command: ["/bin/sh","-c"]
args: ["export POSTGRES_PORT=5432; /opt/jboss/tools/docker-entrypoint.sh; -b "0.0.0.0"]`

[2019-06-19 10:27] tompizmor commented on #14533
Yes please @POD666!

Thanks a lot for digging into that. However, I am still surprised that I couldn't reproduce the issue.

[2019-06-19 11:59] albanm opened #14912 "[stable/nfs-server-provisioner] container restarts when api server is failing"
**Describe the bug**

The container restarts frequently when the api server is not responding but it should not have to do it.

**Version of Helm and Kubernetes**:

helm 2.14.1
kubernetes 1.12.7-1

**Which chart**:

latest stable/nfs-server-provisioner

**What happened**:

I have a cluster with latency and sometimes failure issues of the api server. I have submitted a bug to my cloud provider that

[2019-06-19 12:11] samuel-begin commented on #14883
Thanks @ChiefAlexander , but I don't think its the issue, since I can use 0/1 values as boolean for all my other charts.

[2019-06-19 12:39] #13517 closed

[2019-06-19 13:20] #14881 closed

[2019-06-19 13:55] tompizmor commented on #14757
@docktermj

For me is weird having to create the PV manually as you would usually have a storage provider that will that automatically for you.

The original issue was that liveness and readiness probes fail when you use an already existing `hostPath` volume. In that case, you can see the following error:

[code]

My take on this is that RabbitMQ is not able to measure the available space when you

[2019-06-19 14:05] caiohasouza commented on #14706
Thank you!

[2019-06-19 14:30] ChiefAlexander commented on #14883
Interesting I did not know that you could do that. Using `helm template` and using your values I do see the service monitor getting templated out. Just to make sure, have you created the necessary Prometheus CRD's to use the ServiceMonitor?

[2019-06-19 15:25] Yitaek opened #14915 "[stable/redis] networkPolicy blocks slave pods from connecting"
**Describe the bug**
Enabling networkPolicy blocks the slave pods from connecting to master as the slave pods are missing the pod selector label (e.g. redis-client=true)

**Version of Helm and Kubernetes**:
Helm: v2.14.1
Kubernetes: v1.12.7

**Which chart**:
Redis

**What happened**:
Redis-slave pods are unhealthy and restarts constantly as it cannot connect to master

**What you expected to happe

[2019-06-19 16:32] #13549 closed

[2019-06-19 17:08] Pluies commented on #13411
Fo what it's worth, we ran into that issue specifically with the pods created by the `prometheus-node-exporter` DaemonSet, and it turns out that the [prometheus-node-exporter](https://github.com/helm/charts/tree/master/stable/prometheus-node-exporter) chart (imported through `requirements.yaml`) [already supports PriorityClassName](https://github.com/helm/charts/commit/2a7038bbdb9a42eda8a64f2f66e3

[2019-06-19 17:23] docktermj commented on #14757
@tompizmor   I agree that a storage provider would set up the PV,  but in my case  I'm educating folks using minikube,  so I need to demonstrate the PV/PVC concept.

Yikes!   Are we dead in the water?  You mentioned that you could recreate.   Is there anything I can do to move the ball forward?

[2019-06-19 17:30] samuel-begin commented on #14883
I actually found the issue. We were using the _app version_ instead of the _chart version_ when using helm. `0.24.1` is the nginx ingress v but with `helm search -l stable/nginx-ingress` i found that we should use `1.6.18`.

[2019-06-19 17:30] #14883 closed

[2019-06-19 20:17] 34code opened #14922 "stable/rethinkdb expose cluster without exposing admin ui"
Currently if you expose the service with a loadbalancer, using:

`kubectl expose deploy _cluster-name_-proxy --type=LoadBalancer --name=external-access`

It exposes all three ports on GKE. These are 28015, 29015, 8080. I want to only expose 28015 without exposing 8080.

-->

**Is your feature request related to a problem? Please describe.**
The deployment has all three ports instead of an alternat

[2019-06-19 23:17] TeslaC-137 commented on #11308
How do I specify multiple ports if my pod is exposing metrics at multiple pods.

[2019-06-20 02:15] 34code commented on #14922
nvm I was able to solve my needs by exposing a single pod in the statefulset instead using the guide here:

https://itnext.io/exposing-statefulsets-in-kubernetes-698730fb92a1

I exposed 2 pods in the cluster and am connecting to them with my driver. hope this helps someone in the future!

[2019-06-20 02:15] #14922 closed

[2019-06-20 02:55] ssinger commented on #14888
Setting
clusterIP: ""
type: LoadBalancer

solves this

[2019-06-20 02:55] #14888 closed

[2019-06-20 03:56] #14787 closed

[2019-06-20 04:11] ryanhope2 opened #14927 "[stable/newrelic-infrastructure] Add priorityClassName to DaemonSet"
**Is your feature request related to a problem? Please describe.**
I need to set priorityClassName on the DaemonSet to ensure the agent is scheduled on all nodes, especially when they are highly loaded with other workloads.

**Describe the solution you'd like**
I would like to be able to optionally set the priorityClassName on the DaemonSet

**Describe alternatives you've considered**
Forking a cu

[2019-06-20 04:54] ganchandrasekaran commented on #14840
I am also running other DBs (e.g. Cassandra) using the PVC from the same NFS provisioner. But they seam to start fine when the pod is deleted, this only happens to mariadb.

[2019-06-20 05:09] runningman84 commented on #11308
You should use a servicemonitor which can scrape multiple ports.

[2019-06-20 06:14] burakince commented on #14847
I changed puckel/docker-airflow image tag to 1.10.3 and it started to work fine for me.

[2019-06-20 07:32] #13531 closed

[2019-06-20 08:15] tomtom94 commented on #14901
`probesEnabled=false`

[2019-06-20 08:41] stevie- commented on #4540
@abraithwaite We also ran into the bug of zkGenConfig.sh in sample image.
Are you able to provide us the Dockerfile or reference so we can build a new image?

[2019-06-20 08:50] miguelaeh commented on #14757
Hi @docktermj ,
Why not use a single Pod mounting volumes to demonstrate the PV/PVC concept?
Don't you think using a Chart is a weird way to show that concept?
The majority of Helm Charts are prepared to use dynamic provisioning, did you try with other Chart to know if it only happens for RabbitMQ or is a general issue?

[2019-06-20 09:00] miguelaeh commented on #14915
Hi @Yitaek ,
I cannot reproduce the issue. I deployed using `helm install stable/redis --set networkPolicy.enabled=true`.
Could you clarify the description of the issue? And also, there are any other steps to reproduce it?

[2019-06-20 09:11] tomislavtomasic commented on #11202
Thanks! I figured out grafana is actually a subchart.

[2019-06-20 09:22] #14927 closed

[2019-06-20 09:23] lavanyaanbuatgmaildotcom commented on #6222
yes you can add it

existingSecret: "smtp-secret"

[2019-06-20 09:23] miguelaeh commented on #14893
Hi @rnkhouse ,
I perform some test with your command and the problem seems to be the resources limit. With you command the readinessProbe fails but without the resource limits it works. Probably that resources are not enought.

[2019-06-20 09:32] POD666 commented on #14533
The issue moved to `bitnami/bitnami-docker-postgresql`:
https://github.com/bitnami/bitnami-docker-postgresql/issues/152

[2019-06-20 09:32] #14533 closed

[2019-06-20 10:07] darioblanco commented on #13867
I have added myself as an OWNER to `stable/hubot` (I should have done it when I created the chart :facepalm:). It is currently stuck until approved by a helm member.

https://github.com/helm/charts/pull/14784

[2019-06-20 10:17] MartinX3 commented on #4540
@stevie-
https://github.com/helm/charts/pull/11343

[2019-06-20 10:38] miguelaeh commented on #14794
So, is the issue solved in both cases?

[2019-06-20 10:48] miguelaeh commented on #14762
Hi @avirtual ,
I understand what you are talking about, also we talk about that in the referenced issue, but I was not able to reproduce that. I will appreciate if you could provide more exhaustive steps to reproduce the issue.

[2019-06-20 10:54] miguelaeh commented on #14840
Not sure about the deployment, You installed the Chart for the nfs storage provisioner but you didn't use  'persistence.storageClass=nfs' on your MariaDB install command, so probably you are using other storage provisioner:

Apart from that, I deployed using the following:
[code]
After that I killed the slave pod to see if I the error appear, but I was not able to replicate it. Could you provide m

[2019-06-20 11:18] avirtual commented on #14762
[code]
You can see that after a rotation of masters, it stopped electing a new master. It elected them for a couple of times, then it stopped and now all sentinels recognize an unexisting ip as the master.

[2019-06-20 11:32] #13570 closed

[2019-06-20 11:53] stevie- commented on #4540
Thanks @MartinX3 ,

we use another workaround, but better use the official zookeeper images

`helm chart values-zk-fix.yaml`
[code]

[2019-06-20 12:06] Larzack opened #14934 "[stable/Kibana] Wrong elasticsearch.url"
**Describe the bug**
Kibana is not starting because it can't connect to elasticsearch.url which is by default http://elasticsearch:9200

Installed my elasticsearch service with the name elk-elasticsearch-client

So the URL should be http://elk-elasticsearch-client:9200

**Version of Helm and Kubernetes**:

Kubernetes : v1.12
Helm : v2.14.1

**Which chart**:

Kibana

[2019-06-20 12:14] compleatang opened #14935 "[stable/kibana] Migration Tracker"
In collaboration with the team at elastic, @monotek and I the maintainers of the kibana chart have decided to put the chart into a "pre-depreaction" status. Given that the [elasticsearch chart](https://github.com/helm/charts/tree/master/stable/elasticsearch#pre-deprecation-notice) is moving over it makes sense to move Kibana over too.

`Old Chart`: https://github.com/helm/charts/tree/master/stable

[2019-06-20 12:26] compleatang commented on #14934
Fixed by #14905

[2019-06-20 12:27] compleatang commented on #12628
Closing as we begin the migration https://github.com/helm/charts/issues/14935

[2019-06-20 12:27] #12628 closed

[2019-06-20 12:48] cabrinoob opened #14936 "[stable/grafana]Upgrade from 1.17.6 to 3.5.4 fails : kind PodSecurityPolicy with the name "grafana-test" already exists"
Hi,
I'd like to upgrade my grafana release deployed on my K8S cluster.

The current version of my deployed grafana chart is v1.17.6.

When I run this command :

    helm upgrade --install grafana stable/grafana --version 3.5.4 --namespace prometheus -f grafana-values.yaml

I have this error :

    Error: UPGRADE FAILED: kind PodSecurityPolicy with the name "grafana-test" already exists in the clus

[2019-06-20 12:54] avirtual commented on #14762
On [](https://redis.io/topics/sentinel) it is specified:

Technically it is not a helm chart problem, but it is a problem when there are enough dead sentinels to influence the vote. I've not spent enough time dealing with redis to be absolute positive that the 'right' way to fix this is to do a 'sentinel reset mymaster', but i'd venture to say that in most obvious cases involving kubernetes pods,

[2019-06-20 12:55] pierluigilenoci opened #14937 "[stable/nginx-ingress] use-proxy-protocol default value"
**Describe the bug**
If you remove “use-proxy-protocol”: “true” from helm values the ingress remain with this configuration

**Version of Helm and Kubernetes**:
K8s v1.12.7
Helm v2.14.1

**Which chart**:
v1.6.18

**What happened**:
I activated the value “use-proxy-protocol”: “true” inside the config and I updated the ingress. Unluckily the Cloud LB did not support proxy protocol and so I removed t

[2019-06-20 13:20] Yitaek commented on #14915
@miguelaeh thank you for the quick response.

I am deploying this to GKE with Calico installed and enabled. Then I run the command `helm install --name redis stable/redis --set networkPolicy.enabled=true` which brings up redis-master fine. However, the slave pods attempt to connect to the master pod and fails:

[code]

It then continues to restart.

It makes sense to me since enabling network poli

[2019-06-20 14:50] okgolove commented on #13934
Hello! Post an output `kubectl describe pvc` again, please.

[2019-06-20 14:52] rnkhouse commented on #14893
@miguelaeh : I am still getting the same error.

[2019-06-20 15:04] SKD-SKD commented on #14794
yes , i will close it

[2019-06-20 15:04] #14794 closed

[2019-06-20 15:13] avirtual commented on #14762
I've created some bash functions that you could probably use to obtain the same behavior.
`namespace='required'
pods=(master-0 slave-0 slave-1)

echo_separator(){
echo "---------------------------------------------------------------"
}

get_master(){
echo_separator
for pod in ${pods[@]}; do echo "Master from redis-$namespace-$pod: $(kubectl exec redis-$namespace-$pod -n $namespace -c sentinel -- r

[2019-06-20 16:01] cirocosta commented on #14868
Hey @aegershman,

If I understood correctly, I think what you want can already be achieved by leveraging the `worker.nameOverride` property as most of the "named" things we create are based on the templating of `concourse.worker.fullname`.

For instance, the name used for the worker container:

https://github.com/helm/charts/blob/5be1dd36fbbfb95372af3155e249b5a4366bff5f/stable/concourse/templates/

[2019-06-20 16:08] cirocosta commented on #14869
Hey @aegershman,

oh, that is actually not true 🤔  Did you have trouble when not having a `team` specified? in [`hush-house`](https://github.com/concourse/hush-house) we have a pool of "external" workers that have no team associated with them: https://github.com/concourse/hush-house/blob/41e3b35381b90c21aefcfc22ba9225b6d289bffe/deployments/with-creds/worker/values.yaml

(even though that `values.y

[2019-06-20 16:08] abraithwaite commented on #4540
I tried using the official image but the GCR one was so much easier to use.

Clever fix with the start command though!  Would have made our lives easier than re-hosting it. :-P

[2019-06-20 16:08] cirocosta commented on #14033
👀

[2019-06-20 16:11] cirocosta commented on #13284
Testing done - waiting on:

- [ ] merge of https://github.com/helm/charts/pull/14941, then
- [ ] merge of https://github.com/concourse/concourse/pull/3997

Thanks!

[2019-06-20 17:41] cirocosta commented on #11610
🙌

[2019-06-20 18:20] cirocosta commented on #11610
Hi,

I just created https://github.com/helm/charts/pull/14945 where I upgrade the version of the subchart to 5.3.8 (from 0.13.1!!!).

I'm still running the e2e test suite (https://github.com/concourse/concourse/tree/27097c93f25e84cd3f346f81d8013b550ca01a93/topgun/k8s), but so far, seems all right 😁

Thanks!

[2019-06-20 18:28] #12882 closed

[2019-06-20 18:56] mazzy89 commented on #9672
I've created a PR for this and fully tested https://github.com/helm/charts/pull/14946

[2019-06-20 19:35] runningman84 opened #14947 "[stable/prometheus-operator] render error"
**Describe the bug**
The latest chart produces render errors in the tiller log.

**Version of Helm and Kubernetes**:
helm 2.x
k8s 1.14

**Which chart**:
stable/prometheus-operator

**What happened**:
[code]

**What you expected to happen**:
There should be no render errors

**How to reproduce it** (as minimally and precisely as possible):
install the latest version

**Anything else we need to know

[2019-06-20 19:39] cybervagabond commented on #13592
any progress in this issue?

[2019-06-20 20:28] #13558 closed

[2019-06-20 20:28] #13584 closed

[2019-06-20 21:16] avirtual commented on #14915
It's likely because you did not set redis.clusterDomain. By default it is cluster.local and probably that is why slaves cannot resolve the name of the master.

[2019-06-20 21:28] #11637 closed

[2019-06-20 21:36] avirtual opened #14951 "[stable/redis] configmap contains wrong value"
[https://github.com/helm/charts/blob/master/stable/redis/templates/configmap.yaml](https://github.com/helm/charts/blob/master/stable/redis/templates/configmap.yaml) has a reference to cluster.local, but it should be {{.Values.clusterDomain}}
[code]

Since clusterDomain is a variable that can be set, having a constant string breaks sentinels.

[2019-06-20 22:10] aegershman commented on #14869
Hm I seeeee... So in the [`hush-house` deployment](https://github.com/concourse/hush-house/blob/41e3b35381b90c21aefcfc22ba9225b6d289bffe/deployments/with-creds/hush-house/values.yaml) (where `web` is hosted, without a pool of workers), do you have the worker's public key (`secrets.workerKeyPub`) configured somewhere hidden, such as `.values`? I'm under the impression the workers will need the [pub

[2019-06-20 23:28] #13587 closed

[2019-06-21 00:32] DandyDeveloper commented on #14018
I'd like to keep this open to understand if there's a good way to determine how chunk sizes should be determined. I still experience this issue, but it's fairly sporadic across the fleet of machines we have deployed.

[2019-06-21 01:48] #13977 closed

[2019-06-21 04:56] aegershman commented on #14868
Ah! @cirocosta you smart cookie. Dang, apologies I missed this, I should've looked closer at it in the doc & chart. I will try this out later, though I think this will work just fine. Didn't mean to eat up your time in writing a response, I hope at least this issue can serve someone else who runs into a similar use-case. Thank you!

[2019-06-21 04:56] #14868 closed

[2019-06-21 05:07] #13593 closed

[2019-06-21 05:29] procyclinsur commented on #9996
This is not over yet.. I just ran into this issue this week.. didn't see this ticket until after the fact, but came to the same conclusion that @petertang2012

I haven't been able to get the evidence to show, but I've seen late response from the liveness probe all the way till 110s which is thankfully still covered under the 90 second delay...  I think it would be beneficial to have a slightly hig

[2019-06-21 05:39] ganchandrasekaran commented on #14840
@miguelaeh thanks you
My nfs  storageClass is configured to be default so I dont have to specify `--set persistence.storageClass=nfs` this is selected by default.

In your case, can I ask who provisions the PVClaim that is made for stable/nfs-server-provisioner ? In my case I created a separate PersistantVolume yaml based on `hostPath` filesystem based (as described above).
[code]

You have just m

[2019-06-21 06:59] miguelaeh commented on #14893
Hi @rnkhouse ,
What cluster are you using? I tested it on a GKE cluster.
You are getting a 503 error because the readiness probe failed.
In my case the command `kubectl get ep` returns this:
[code]

I can reproduce the issue if I change the resources in the install command:
[code]

Does the Chart work on your environment installing it with:
[code]
?

[2019-06-21 07:14] miguelaeh commented on #14915
Hi,
@avirtual we would be very pleased if you create pull request to fix that kind of bugs that you found.
Regarding to the issue, @Yitaek can you try with the @avirtual suggestion?
In any case, if that was the problem, why can't I reproduce it?

[2019-06-21 07:31] phumberdroz commented on #13987
did you fix it ?

[2019-06-21 07:41] avirtual commented on #14915
My guess would be that your dns resolves service.namespace.svc.cluster.local addresses, while mine and others do not.

[code]

[2019-06-21 08:00] miguelaeh commented on #14915
BTW, I have created a pull request to fix what you commented: https://github.com/helm/charts/pull/14955

[2019-06-21 08:07] #13567 closed

[2019-06-21 08:07] #13577 closed

[2019-06-21 08:55] ogavrisevs commented on #11559
Issue is when i set : `slave.persistence.enabled=false`

Statefull set has `volumeMounts`  :
[code]
and is missing `volumes` part :
[code]

full example :
[code]

[2019-06-21 09:41] sdnetwork commented on #14118
i have exactly the same problem ... no clue :( maybe the readynessprobe but no events so ....

in witch kubernetes provider aws, gce ?

[2019-06-21 10:25] miguelaeh commented on #14951
Hi @avirtual,
Thank you very much for your report, I see you provided the solution to other bugs too, it is a pleasure to have users like you.
This is fixed on https://github.com/helm/charts/pull/14955

[2019-06-21 10:49] #14951 closed

[2019-06-21 11:07] #13562 closed

[2019-06-21 12:26] carrodher commented on #11470
Not stale

[2019-06-21 12:44] avirtual commented on #14915
You need to use whatever service name and namespace you have.
The url typically is redis-NAMESPACE.NAMESPACE.svc.cluster.local
In my case the namespace is 'required', in your case probably it isn't.
kubectl get svc -n WHATEVER_NAMESPACE_YOU_USED |grep redis
then start from there.

[2019-06-21 12:52] #11610 closed

[2019-06-21 13:08] Yitaek commented on #14915
@miguelaeh and @avirtual thanks for the discussion. Unfortunately, I don't believe that it is a clusterDomain issue for me. It fails for the simple setup (just using default namespace) and I can connect just fine to master when network policies are disabled.

[code]

It may be a race condition perhaps? If I initially bring up the redis pods with networkPolicy disabled and then enable it on a subse

[2019-06-21 15:10] MikeDaniel18 commented on #11101
@13567436138 Hey, did you ever fix this? I had a similar problem.

[2019-06-21 15:44] miguelaeh commented on #14915
Hi @Yitaek ,
Could you try labeling the pod?
[code]

[2019-06-21 15:51] marcindulak opened #14968 "[stable/jaeger-operator] WATCH_NAMESPACE should be configurable"
**Describe the bug**

According to https://github.com/jaegertracing/jaeger-operator/issues/60 the value of WATCH_NAMESPACE in https://github.com/helm/charts/blob/0007ebb1587b3858c0bfb25a2210824a86434d3f/stable/jaeger-operator/templates/deployment.yaml#L41-L44 should be an empty string.

**Version of Helm and Kubernetes**:

`k8s-v.1.10.6`
`helm-v2.8.1`

**Which chart**:

[stable/jaeger-operator]

*

[2019-06-21 15:53] marcindulak commented on #14968
Actually an old stale issue about the same problem exists https://github.com/helm/charts/issues/9298

[2019-06-21 16:05] jpkrohling commented on #14968
I believe this value should be customizable, as one might want to have multiple operators in the same cluster, each watching different namespaces, like in a multi-tenant scenario.

[2019-06-21 16:26] LucasBoisserie opened #14971 "[stable/nginx-ingress] defaultbackend not started with PSP enabled"
**Describe the bug**
Pods default backend in nginx-ingress chart doesn't start when `podSecurityPolicy.enabled`is set to `true`

The pod try to start with nginx-ingress psp which doesn't allow container to run as root
Deployment default backend doesn't specify a runAsUser in its security context which launches it as root
The pod doesn't start because the psp is not respected

**Version of Helm and

[2019-06-21 16:29] 0lmi opened #14972 "[stable/cluster-autoscaler] some params provided through extraArgs doesn't apply"
**Describe the bug**
When you specify `skip-nodes-with-local-storage` and/or `skip-nodes-with-system-pods` through `extraArgs` then empty values are applied.

**Version of Helm and Kubernetes**:
K8s: v1.12.6-eks-d69f1b
Helm: v2.14.1

**Which chart**:
v.0.13.3

**What happened**:
When you install cluster-autoscaler with providing `--set extraArgs.skip-nodes-with-local-storage=false` and/or `--set e

[2019-06-21 16:47] Yitaek commented on #14915
Hi @miguelaeh, once I set the label then it works. If we add the Helm templates to have that label when networkPolicy is enabled, it would work out.

[2019-06-21 16:52] BertrandGouny opened #14976 "[stable/collabora-code] Changing service.port doesn't work"
**Describe the bug**
Changing service.port breaks collabora-code service, pod livenessProbe and readinessProbe.

**Version of Helm and Kubernetes**:
Helm: v2.14.1
Kubernetes: v1.13.1

**Which chart**:
stable/collabora-code

**What happened**:
When changing service.port it also change the deployment's pod ports number. But the container continue to serve on port 9980 the default port as the softwar

[2019-06-21 17:22] robertchen opened #14978 "[stable/jenkins] jenkins display UTC time rather than timezone of the kubernetes node"
jenkins display UTC time rather than timezone of the kubernetes node.

Hope it is a quick fix or if there is quick tip for this?

[2019-06-21 18:33] nesl247 commented on #14773
I'm reopening this per the discussion on Pulumi. When helm is used purely as a templating tool, this won't work.

[2019-06-21 18:43] torstenwalter commented on #14978
https://wiki.jenkins.io/plugins/servlet/mobile?contentId=3309648#content/view/3309648

[2019-06-21 19:05] BertrandGouny opened #14980 "[stable/collabora-code] Allow to customise livenessProbe and readinessProbe scheme"
**Is your feature request related to a problem? Please describe.**
Collabora-code can be configured to use TLS. We need to adapt the livenessProbe and readinessProbe to use HTTPS scheme if so.

**Describe the solution you'd like**
Customise livenessProbe and readinessProbe scheme

**Describe alternatives you've considered**
Disabeling TLS will not fit our needs.

[2019-06-21 20:02] liuyuewen91 opened #14984 "[stable/concourse] Lost OIDC setting on main team, when web pod restarted"
**Describe the bug**

Lost OIDC setting of main team, when web pod recreated

**Version of Helm and Kubernetes**:

Helm:
[code]

Kubernetes:
[code]

**Which chart**:

stable/concourse
version: 5.3.0

**What happened**:

Lost OIDC setting of main team, when web pod restarted.

**What you expected to happen**:

Keep the setting, when web pod restarted

**How to reproduce it** (as minimally and preci

[2019-06-21 20:04] cirocosta commented on #13025
👀

[2019-06-21 20:04] cirocosta commented on #13019
👀

[2019-06-21 21:24] dwinters-gpsw commented on #14725
We are seeing the same behavior where the broker and historical server are infinitely going to the CrashLoopBackOff status.  We are also running on EKS.

[2019-06-21 23:58] jahstreet commented on #14857
Hi.
We run AKS on Azure and do the trick with [Nginx Ingreess Controller](https://github.com/helm/charts/tree/master/stable/nginx-ingress) + [OAuth2 Proxy](https://github.com/helm/charts/tree/master/stable/oauth2-proxy) + [Certmanager](https://github.com/helm/charts/tree/master/stable/cert-manager).

You can refer my [helm chart repo](https://github.com/jahstreet/spark-on-kubernetes-helm/tree/mast

[2019-06-22 04:36] #13629 closed

[2019-06-22 06:54] #14847 closed

[2019-06-22 08:03] deepaksood619 commented on #13869
`incubator/kubewatch` is deprecated and moved to `stable/kubewatch`

[2019-06-22 08:36] #12829 closed

[2019-06-22 08:39] poojithkumar opened #14993 "Init:CrashLoopBackOff Init:error prometheus"
command:
helm install --name prometheus --namespace prometheus  stable/prometheus -f values.yaml
values: rbac:
  create: false # Already created in Preparation step
nodeExporter:
  enabled: false # The node-exporter is already deployed by default

server:
  global:
    scrape_interval: 30s
    scrape_timeout: 30s

serverFiles:
  prometheus.yml:
    rule_files:
      - /etc/config/rules
      - /et

[2019-06-22 15:36] #13656 closed

[2019-06-22 22:17] i8ad8 opened #15000 "[stable/postgresql] Replication fails when persistence is enabled"
**Describe the bug**
I can successfully bring up a PostgreSQL cluster with a master node and two slave nodes when persistence is disabled; However, replication fails when persistence is enabled. I use Local Persistent Volumes as my storage solution for postgresql databases. I've been told that this might the best storage solution for a containerized postgresql cluster so I deployed it and expected

[2019-06-23 01:38] acejam commented on #14912
@albanm I'm seeing a very similar issue - which cloud provider are you seeing the latency with?

[2019-06-23 03:58] gowrisankar22 commented on #14579
@anthonyvetter  I am also encountering the same issue. BTW I am trying to set up using minikube.
How to fix this issue?

[2019-06-23 09:56] albanm commented on #14912
It is OVH. Their managed kubernetes solution is quite recent.

I have published a temporary fork of nfs-provisioner on docker hub to deactivate the leader election system in the meantime. If you wish you can test it with these options for the helm chart:

[code]

[2019-06-23 10:46] #13673 closed

[2019-06-23 12:18] i8ad8 commented on #15000
I was able to solve this on my own. The problem was not related to the postgresql helm chart. Replication failed because the local PVs weren't cleared so when they got reattached to postgresql pods the old data from the previous replications were present in slave nodes and that caused the cloning process to fail.
I'm closing this issue.

[2019-06-23 12:18] #15000 closed

[2019-06-23 12:46] #13671 closed

[2019-06-23 14:46] #12780 closed

[2019-06-23 15:25] anthonyvetter commented on #14579
For me I was using a bare metal cluster with upstream k8s which doesn’t include a default storage class. I had to add it. I think Minikube includes a PV for local storage but I would start there. If Postgres isn’t starting it’s probably because it doesn’t have access to any PVC. Look into that. Also check out the values.yml and modify to point Postgres in the right direction.

[2019-06-23 15:46] #12964 closed

[2019-06-23 16:55] #14563 closed

[2019-06-23 19:36] MrD2 commented on #14075
/close

[2019-06-23 19:36] #14075 closed

[2019-06-23 19:43] chrisz100 opened #15002 "[stable/external-dns] new crd source breaks chart"
**Describe the bug**
It is impossible to deploy the current external-dns chart as it always crashes.
[code]

As it seems the latest change (https://github.com/helm/charts/pull/14961) starts installing the crd and automatically adding crd as a source as well (even if I specify `crd: false`  as it doesn't affect the deployment listing crd as possible source.

Also getting it created fails as the rba

[2019-06-23 19:44] chrisz100 commented on #15002
/assign @SantoDE

[2019-06-23 20:54] alexzimmer96 commented on #14417
Try deleting the persistent volume created by the persistent volume claim from this chart.

With Automatic Volume provisioning, a pv will be created when you create a pvc. If kubernetes already has a pv with the right name/tags which is not in use, it will use the existing pv.

Just run `kubectl get pv` to get an Overview.

[2019-06-23 20:59] SantoDE commented on #15002
That is interesting. I tried even default installs without issues. I'll have a look tommorow and see what I can pull up.

[2019-06-23 21:10] SantoDE commented on #15002
second note:

I gave it another test and I can not reproduce the issue.

[code]

[code]
[code]

[2019-06-23 21:13] chrisz100 commented on #15002
Can you try supplying `--set rbac.create=true` Thats the only thing I did differently

[2019-06-23 21:23] SantoDE commented on #15002
Ah, I had some old charts cached. Refresh of that and I can see, that it creates the CRD by default. As I thought / think its fine. I dont have any errors.

However, I agree a "crd.create" switch would be a good idea. What do you think, should the CRD be a default source? I still tend to say yes, as it's in line with the current status. I'm eager to know about other ideas tough :)

[2019-06-23 21:34] chrisz100 commented on #15002
I don't really mind creating the CRD's by default - just what would be required is an extended set of RBAC that gets deployed with `rbac.create=true`

The reason I even tried deactivating this is simply that it stopped working at all because of it could not do one of the things:
- read the CRD's as RBAC didn't allow it to
- didn't find the CRD as they didnt deploy at all

Fixing issue number one w

[2019-06-23 22:46] #13691 closed

[2019-06-23 23:12] diepes commented on #14668
We just bumped into the same problem deploying kubernetes cluster on Azure, trying to use a existing public IP.
The deployment works without a error - even a bigger problem - and then at runtime the nginx-ingress-controller goes into a loop re-trying to bind to the ip.

$ kubectl describe service xxxxxx-nginx-ingress-controller
￼```

$ kubectl describe service xxxxxx-nginx-ingress-controller
Name:

[2019-06-24 01:50] t-d-d opened #15003 "stable/elasticsearch Master nodes have 'ingest' role for es 6.*"
When appVesrion is 6.*, master & client nodes have the 'ingest' role.

I presume the template logic here is incomplete:  https://github.com/helm/charts/blob/68d17b674fa6f12d3e79047624bf1ae0d4aabaed/stable/elasticsearch/templates/master-statefulset.yaml#L128
https://github.com/helm/charts/blob/68d17b674fa6f12d3e79047624bf1ae0d4aabaed/stable/elasticsearch/templates/client-deployment.yaml#L93

Also h

[2019-06-24 05:19] sameersbn commented on #14766
I found that in this case, the master and slave gets re-created at the same time and since the sentinel configuration is not persisted, the slave goes into a crashloop because we bungle up the config by trying to manually discover the sentinels running in the cluster. The redis-sentinel auto-discovers slaves running in the cluster and this manual discovery is not required.

I've submitted the fix

[2019-06-24 07:19] #14766 closed

[2019-06-24 07:37] carrodher commented on #15000
Thanks for letting us know, feel free to reopen the issue if needed.

[2019-06-24 07:38] carrodher commented on #12368
/on-hold

[2019-06-24 07:39] #14062 closed

[2019-06-24 07:46] Alien2150 commented on #14091
Any thoughts on this one?

[2019-06-24 08:35] urvineet commented on #13876
@andymartin even i  was facing same issue. i just changed the  `test-rabbit` . to `test-rabbit-1` then started
not sure but try to change name every delete and install for same chart
i have faced  similar problem in other chart as well

[2019-06-24 08:43] gmistick commented on #217
this just happened to us, how do we prevent this?

[2019-06-24 08:57] miguelaeh commented on #14915
Hi @Yitaek,
We can do that, but anyway, I would like to understand why in my cluster it works. Could you tell me where are you deploying the chart?

[2019-06-24 10:17] dennisotugo commented on #12523
This issue is very valid

[2019-06-24 11:01] gmistick opened #15008 "stable/mysql - After upgrade access denied, and no reset helps"
**Describe the bug**
GKE cluster upgrade changes the passwords/ users in the db.

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.14.1", GitCommit:"5270352a09c7e8b6e8c9593002a73535276507c0", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.14.0", GitCommit:"05811b84a3f93603dd6c2fcfe57944dfa7ab7fd0", GitTreeState:"clean"}

K8s

Client Version: version.Info{Major:"1"

[2019-06-24 11:01] robinelfrink opened #15009 "[stable/wordpress] service.extraPorts it not indented correctly."
**Describe the bug**
service.extraPorts it not indented correctly.

**Version of Helm and Kubernetes**:
n/a

**Which chart**:
stable/wordpress

**What happened**:
I added a port to `service.extraPorts` and got the error:

[code]

**What you expected to happen**:
No error, and a service which includes the extra defined port.

**How to reproduce it** (as minimally and precisely as possible):
Add a p

[2019-06-24 11:14] grahamar opened #15011 "[stable/external-dns] secret checksum breaks chart"
**Describe the bug**

The latest chart cannot deploy due to the following error:

[code]

Looks like it's due to the following commit:
https://github.com/helm/charts/commit/0dc8468615aa0b23795e07178dfb330fe466e532

I assume this should be a Pod Annotation instead?

**Version of Helm and Kubernetes**:

**HELM**:
[code]

**KUBERNETES**:
[code]

**Which chart**:
external-dns chart version 1.8.0

**Wh

[2019-06-24 12:02] tompizmor commented on #13876
@andymartin @urvineet sometimes that happens when you delete the chart and re-install with a different password using the same name.

The `helm delete --purge` command does not delete the PVC created by a stateful set so unless you manually delete them, the new helm chart will still use the password using during the first install.

[2019-06-24 12:23] nirdothan commented on #15002
The same error here. Fixed it by adding the following to clusterrole `external-dns`
[code]

[2019-06-24 12:32] SantoDE commented on #15002
Hey @nirdothan, @chrisz100,

I just raised a PR to fix that issue. Happy to see your test!

[2019-06-24 12:46] chrisz100 commented on #15002
@SantoDE just did the same thing... I'll delete mine! Looks better

[2019-06-24 13:12] liuyuewen91 commented on #14984
We can mount roles config yaml into pods, and  in `{{ .Values.concourse.web.auth.mainTeam.config }}` set up the yaml file path.

### In `values.yaml` at `{{ .Values.concourse.web.auth.mainTeam }}` add
[code]

### In `web-secrets.yaml` add
[code]

### In `web-deployment.yaml` add

at `spec.template.spec.volumes[name: auth-keys]` add
[code]

Your can also use `{{.Values.web.additionalVolumeMounts}}`

[2019-06-24 13:12] #14984 closed

[2019-06-24 13:22] mhbrooks opened #15015 "[stable/traefik] Invalid TOML generated"
**Describe the bug**
I have enabled TLS on my consul endpoint and would like traefik to connect to it over https rather than http.

However because I am using a self signed certificate traefik does not trust the consul endpoint. Whilst I would like to add the self-signed ca as trusted this does not seem to be possible/trivial.

Instead I am hoping that `kvprovider.consul.tls.insecureSkipVerify` wi

[2019-06-24 14:05] tompizmor commented on #15009
Hi @robinelfrink!

Thanks for reporting it and create a PR with the fix. Please take a look at my comment there when you have a minute.

[2019-06-24 14:05] rnkhouse commented on #14893
@miguelaeh I also tried with `helm install stable/rabbitmq` endpoints are blank and 503 error.
I am using AKS.
It was working fine before, suddenly it stopped working I don't know why!

[2019-06-24 16:08] mascah opened #15019 "[stable/sonarqube] No language analyzers/default quality profiles"
**Describe the bug**
When installing a fresh release of sonarqube, none of the language analyzers appear to be loaded.

**Version of Helm and Kubernetes**:

helm version
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.13.1",
GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4", GitTreeState:"

[2019-06-24 16:18] ecejjar commented on #11304
I'm facing this problem with the latest chart on AKS, any tips I can apply?

[2019-06-24 16:43] Ngob opened #15021 "[stable/kong] Cannot install 0.3.X ingress controller version with helm"
**Describe the bug**
When trying to set the version manually of the ingress controller, kong-ingress is crashing. The log message is "Please specify --default-backend-service"
I believe it is because when releasing the 0.4, the parameter `--default-backend-service` has been removed, so it is not specified in the helm chart anymore. I think the helm chart should handle this

**Version of Helm and K

[2019-06-24 16:56] loqutus commented on #12378
+1

[2019-06-24 17:21] #14971 closed

[2019-06-24 17:24] andrewhowdencom commented on #217
For Googles et. al; to prevent this, specify a root (and user) password that overrides the default (random) root password.

[2019-06-24 17:34] rquinlivan opened #15023 "[airflow] ImportError from psycopg in Airflow chart (v. 1.10.3)"
**Describe the bug**

Following the default setup instructions [here](https://hub.helm.sh/charts/stable/airflow), I encounter dependency issues when running the Airflow system in Kubernetes. On first glance it appears to be a missing dependency or broken path for psycopg.

**Version of Helm and Kubernetes**:

I'm running an EKS 1.13 cluster.

Kubernetes version:

[code]

Helm version:

[code]

**A

[2019-06-24 17:47] hoffoo commented on #14762
closing because derailed

[2019-06-24 17:47] #14762 closed

[2019-06-24 17:56] #14861 closed

[2019-06-24 18:10] wyattjsmith1 commented on #12406
@chrisjs Hey, I filed this ticket a while ago, and it automatically closed. I am still experiencing this issue when I install SCDF on Rancher. I was wondering if you had any suggestions for fixing it. Currently, the error says `ERROR 1045 (28000): Access denied for user 'root'@'10.42.0.31' (using password: YES)` for a configuration with
[code]

[2019-06-24 18:37] poochwashere commented on #5239
If you need to upgrade `helm` and it is configured to use tls give this a whirl.
[code]

[2019-06-24 18:46] Yitaek commented on #14915
@miguelaeh yup, here are the steps I'm taking.

1. Create a standard gke cluster network policy enabled (it will install Calico)
2. Install Helm
3. Install Redis chart with network policy enabled

The slave pods will not come up healthy as it fails to talk to the master pods. You can label the pods and see it connect.

[2019-06-24 19:20] sryabkov commented on #14847
The `pucker/docker-airflow:1.10.2` image was rebuilt around June 6th, which caused `pip install` to pull newer versions of some packages, which are not compatible with airflow 1.10.2

If you are not ready to upgrade to airflow 1.10.3 yet, one solution for this problem is to reference the original  `pucker/docker-airflow:1.10.2`  image, the one built in January 2019, by referencing sha256 of that i

[2019-06-24 19:26] #13353 closed

[2019-06-24 19:57] bloxgate opened #15025 "[stable/ambassador] AMBASSADOR_ID not set on ambassador-pro containers"
**Describe the bug**
When using Ambassador Pro and a non-default AMBASSADOR_ID, the environment variable needs to be set on both containers, as stated [here](https://www.getambassador.io/reference/running/#ambassador_id). However, AMBASSADOR_ID is only set on the ambassador container.

**Version of Helm and Kubernetes**:
Helm: v2.13.1
Kubernetes: 1.10.11

**Which chart**:
`stable/ambassador` v2.8.

[2019-06-24 19:59] Bekt commented on #15025
/cc @kflynn @lydiverny

[2019-06-24 20:23] chrisjs commented on #12406
i wasn't assigned / @'d until now, so went unnoticed. i see two different errors posted in this thread.

* have you tried deleting & purging the helm release, then reinstalling?
* have you decoded the secret created for the database and tried connecting to it via a DB client?
* we are currently at chart version 2.2.1, your issue indicates 2.0.0. have you tried using the latest chart?
* have you tr

[2019-06-24 21:12] taylorsilva commented on #13025
# Issue Status
###### Keep editing this comment with the current status of the issue

***

### Summary

Work is on the [concourse/tsa-hosts](https://github.com/concourse/charts/tree/concourse/tsa-hosts)

***

### Task List

- [ ] Continue working on WIP commit

[2019-06-24 21:28] jcoeltjen commented on #15019
The plugins folder is replaced with a volume that defaults to EmptyDir when using default values.
This was introduced via commit: https://github.com/helm/charts/commit/4ecc41158d8b9e0a268f3c42eb6c82133d9f4f74
PR: #12661
Issue: #12635

Simple workaround is to delete the mountPaths from the `deployment.yaml` but that would propably break the fixed issue from the PR that causes this issue.
We should

[2019-06-24 21:30] jcoeltjen commented on #15019
Maybe we can use another init container that populates the emptyDir volumes before startup.
I will try this and give feedback.

[2019-06-24 21:55] javsalgar commented on #14840
Hi,

I used the local provisioner PV (which is based on hostpath) and found no issues

[code]

[2019-06-24 22:20] jcoeltjen commented on #15019
I pushed a quick fix to my fork: https://github.com/jcoeltjen/charts/tree/feature/default-plugins
Currently I have no access to a cluster where PodSecurityPolicies are properly configured. Maybe somebody with a configured cluster on hand can try this.

[2019-06-25 00:19] krishnapamarthi commented on #14698
Any one here can help me with this

[2019-06-25 05:49] jamielennox opened #15031 "[stable/sonatype-nexus] No service entry for docker port"
I'm deploying nexus on AWS with the aws-ingress controller. Due to the way that the controller works it creates NodePorts for the service ports so the ALB can target the port.

When I deploy with a docker host it creates an ingress route to the port https://github.com/helm/charts/blob/21b3dcbb8ee7628fc469e4e9b2c984d01d229ad3/stable/sonatype-nexus/templates/ingress.yaml#L37 but there's no correspon

[2019-06-25 06:06] jamielennox commented on #15031
hmm, i don't know exactly what i screwed up here, but it's related to my custom ingress something about DNS.

I'm pretty sure this is my fault. The ingress is forwarding docker requests to the same nexusProxy port so it shouldn't matter it's not open on the service.

[2019-06-25 06:06] #15031 closed

[2019-06-25 06:54] #15009 closed

[2019-06-25 07:50] davidq2q commented on #4465
I think this is still a issue. What if the first node's grastate.dat contains seqno: -1 and is thus not the best node to bootstrap from because it doesn't contain the last version of the database. What if it is the third node in the statefulset that contains the last version of the data.

[2019-06-25 07:56] forsberg opened #15033 "[stable/graylog] trusted_proxies referred to in the wrong place"
**Describe the bug**
In values.yaml there's an example provisioning job that configures the SSO component, which is great and helped me, so thanks to @cablespaghetti

However, at https://github.com/helm/charts/blob/8e09a65c7652025f5283f58bbf92eaffc29f5257/stable/graylog/values.yaml#L280 there's a trusted_proxy setting being added, but it's in the wrong place - trusted_proxy belongs in the Graylog

[2019-06-25 08:49] miguelaeh commented on #14762
Did you solve the issue?

[2019-06-25 09:58] MrD2 commented on #14889
Custom dashboards you need to set them as a CM with a grafana_dashboar: "1" label. Check existent dashboards. Alerting rules, you need to create a k8s object manifest PrometheusRules.
you can kubectl get PrometheusRules and check the examples on how you can do this.

/close

[2019-06-25 10:12] jamborta opened #15039 "[stable/nfs-server-provisioner] Option to add annotation to statefulset"
I would like the option to provide parameterised annotations to the statefulset this chart creates.

**Is your feature request related to a problem? Please describe.**

I have this chart deployed in an istio inject namespace, where I need to add some annotations to disable istio for this component.

**Describe alternatives you've considered**

Currently, I have to copy this chart and maintain it a

[2019-06-25 10:17] oscarlofwenhamn opened #15040 "[stable/graylog] .snapshot in journal volume causes init pod crash loop"
**Describe the bug**
Edit: I realized the fault seems to lie in the init pod.
Graylog init pod won't complete after manual (and automatic) installation of dependencies.

**Version of Helm and Kubernetes**:
Helm: v2.14.1
Kubernetes:
- Client: v1.14.0
- Server: v1.14.2

**Which chart**:
stable/graylog

**What happened**:
After following the Manual Install Dependencies + Install Chart [guide](hub.hel

[2019-06-25 10:45] spica29 opened #15041 "[stable/kibana] Error with tpl in Kibana deployment"
**Describe the bug**
I saw you recently merged pull request #14905. Since this PR I cannot deploy Kibana helm chart. Problem is with variable env. The error I get is:
**"Error: render error in \"kibana/templates/deployment.yaml\": template: kibana/templates/deployment.yaml:141:20: executing \"kibana/templates/deployment.yaml\" at <tpl>: wrong number of args for tpl: want 2 got 1"**

**Version of H

[2019-06-25 10:50] #13703 closed

[2019-06-25 11:37] miguelaeh commented on #14893
Could it be possible you changed some configuration on your cluster?
Also, check the status of all the components:
[code]

Going component by component it should give more info about what is happening.

[2019-06-25 11:38] cablespaghetti commented on #15033
In my environment it is set there and in graylog.config:
[code]
I got that list of properties for the JSON from the Graylog 2.5 API browser. I'm not certain what removing one of them will do, as I've not tried it.

[2019-06-25 11:50] gmistick commented on #217
@andrewhowdencom - That didn't work on upgrade attempts. (Tried to remove grants table but that also didnt last... )
The solution for us was to:
1. Upgrade values to have skip-grant-tables
2.backup db
3. Delete and purge the helm chart.
4. Re install with those values, and not use the ROOT creds.

Will that solve my existing deployment issue or i need to reinstall ?

[2019-06-25 12:43] 99 commented on #14507
Experiencing the same issue.

[2019-06-25 12:50] #13704 closed

[2019-06-25 12:50] #13410 closed

[2019-06-25 12:52] ath88 commented on #14751
Are you setting `job.autoCreateCluster: false`? If not - your current cluster will be removed.

[2019-06-25 14:30] #15002 closed

[2019-06-25 15:03] jhohertz commented on #15002
Haha, I nearly had a PR in for this too. Good to see many eyes on it. :)

[2019-06-25 15:08] rnkhouse commented on #14893
@miguelaeh It's a default cluster deployed from Azure Portal.

[2019-06-25 15:39] brice86 opened #15049 "stable/phpmyadmin - Please add externalIPs to service.yaml"
I'd like externalIPs added to service.yaml

ie.
[code]

[2019-06-25 16:17] swtch1 opened #15051 "[stable/prometheus-operator] chart incompatible with thanos > 0.5.0"
**Describe the bug**
The latest version of Thanos ([v0.5.0](https://github.com/improbable-eng/thanos/releases/tag/v0.5.0)) "removes gossip with all configuration flags (--cluster.*)." The

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
prometheus-operator

**What happened**:
I configured the values.yaml with:
[code]

**What you expected to happen**:
Prometheus-operator to depl

[2019-06-25 16:17] sstarcher commented on #13867
Fixing a huge bug in dex and adding myself as a maintainer - https://github.com/helm/charts/pull/15050

[2019-06-25 16:18] brice86 commented on #15049
nevermind

[2019-06-25 16:18] #15049 closed

[2019-06-25 17:26] F0otsh0T commented on #12575
So what is the definitive fix when "--name" is specified during the helm install?

[2019-06-25 18:00] Amos-85 opened #15052 "mysql deployment annotations"
when using helm umbrela chart and using mysql chart,
helm hooks cannot be assign in deployment metadata resource.
need to template annotations sections.

[2019-06-25 18:45] wyattjsmith1 commented on #12406
Hey, no worries. I wasn't sure if I should tag someone.

I eventually got it working. I had to do two main things:
1. Manually supply a password through the configuration.
2. Drop the entire Skipper database from mysql and restart the pod it runs in.

The first part allowed Skipper and SCDF to connect to the database. The second part was because skipper was complaining about the flyway versions be

[2019-06-25 19:47] ashishxooa commented on #14117
The incubator/kafka documentation says that is supports auto-configuration of Promethues explorter and alert manager.

This is an excerpt from my helm value file.
[code]

So it should automatically register to the Prometheus operator. This seems to be not working. Anyone has any idea for this?

[2019-06-25 19:59] ashishxooa opened #15056 "[incubator/kafka] Prometheus operator or alertmanager is not updated when prometheus.operator is enabled."
**Describe the bug**
I am trying to install kafka using the helm chart and I have enabled for prometheus operator. However I dont see any service being exposed or any change done to Prometheus configuration to scrape this service endpoints.

[code]

**Version of Helm and Kubernetes**:

**Helm version**
Client: &version.Version{SemVer:"v2.13.1", GitCommit:"618447cbf203d147601b4b9bd7f8c37a5d39fbb4",

[2019-06-25 20:09] ashishxooa commented on #5993
@benjigoldberg, I have done exactly what you have mentioned, still it doesn't work for me.

Details here. https://github.com/helm/charts/issues/15056

[2019-06-25 20:18] bentatham commented on #4633
I tried using this example (to [mount providers instead of themes](https://github.com/aerogear/keycloak-metrics-spi/issues/34#issuecomment-505605521)), but I think I have a permissions problem so keycloak doesn't see my jars.  The directory that is mounted has permissions `root jboss` instead of `jboss root` like the others:
[code]

Any idea how to fix that using the instructions above?
(Note I am

[2019-06-25 20:21] ashishxooa commented on #15056
Oops. Configuration Mistake.

[2019-06-25 20:21] #15056 closed

[2019-06-25 21:47] caarlos0 commented on #15011
same here, had to install previous version again...

[2019-06-25 21:48] caarlos0 commented on #15011
cc/ @prydonius

[2019-06-26 02:44] uipo78 opened #15059 "[stable/nginx-ingress] Pod Security Policy for controller and `controller.extraVolumes` don't work well together"
**Describe the bug**
Since the pod security policy associated with the controllers [only allows volumes of type ConfigMap and Secret](https://github.com/helm/charts/blob/master/stable/nginx-ingress/templates/podsecuritypolicy.yaml#L17), any volume provided under the key `controller.extraVolumes` that isn't either a ConfigMap or a Secret causes the controller to fail to create a pod.

**Version of

[2019-06-26 06:52] phouri commented on #13109
Not stale... although the repo might be

[2019-06-26 07:01] SDC2021 commented on #10741
@lurajon Sry, it's not...

[2019-06-26 07:59] #13709 closed

[2019-06-26 08:27] bkSentinel opened #15063 "[incubator/kafka] Annotations on kafka exporter and config job are not set"
**Is your feature request related to a problem? Please describe.**
To use this chart in a istio enabled kubernetes it is needed to annotate all objects from kafka to disable istio. This is possible for the kafka pods and although zookeeper.

But the kafka-exporter deployment and the config job are missing these annotations.

**Describe the solution you'd like**
Use the podAnnotations set-able on h

[2019-06-26 08:44] Morriz opened #15064 "[stable/prometheus-operator] additionalPrometheusRules conflicts with additionalServiceMonitors"
if we provide both `additionalPrometheusRules` as well as `additionalServiceMonitors` the helm merging of the templates does not work correctly, as it is trying to merge a `List` object. This now results in the items in the `prometheus.additionalServiceMonitors` list being replaced by the items in the `additionalPrometheusRules` list.

Now, this could be considered a Helm bug and I will create an

[2019-06-26 08:49] Morriz commented on #15064
I don't think this is a helm bug actually, and this chart is making a mistake by using two template files to create the same `Kind: List` resource. My proposed solution is a necessary fix imo

[2019-06-26 09:11] vsliouniaev commented on #13411
These also support adding priority class through `AlertmanagerSpec` and `PrometheusSpec`. @Pluies

[2019-06-26 10:49] frank-berlin opened #15066 "[stable/nfs-server-provisioner] disable create storageClass the storageclass.yaml still produce output"
**Describe the bug**
When disable create storageClass the storageclass.yaml still produce output.
Because the end of if is missplaced.

**Version of Helm and Kubernetes**:
helm: v2.12.3"
k8s: v1.12.8-gke.10

**Which chart**:
nfs-server-provisioner

**What happened**:
[code]
**What you expected to happen**:
[code]
no output for storageclass.yaml

**How to reproduce it** (as minimally and precisely

[2019-06-26 11:11] karolinepauls opened #15069 "[stable/rabbitmq] RABBITMQ_PASSWORD containing slashes can cause rabbitmq pod to fail to start"
Culprit: https://github.com/helm/charts/blob/407ca2a8d7195473f16e7c74de90af247c4a2604/stable/rabbitmq/templates/statefulset.yaml#L96

Example password: `0cWCt8qyaX2irS4DHQd0JbVtGEZVS8gvmX/YwfCH`

Reason: sed interprets `/` in the password. `/` are likely to obtain by base64-ing strings.

**Which chart**:
stable/rabbitmq 6.1.1

**What happened**:

[code]

**What you expected to happen**:

Escape fo

[2019-06-26 11:33] davidq2q opened #15070 "[stable/percona] liveness probe root password"
**Describe the bug**
When mysql root password is set when deploying helm chart. Liveness probe keeps returning: Access denied for user 'root'@'localhost' (using password: NO)

**Version of Helm and Kubernetes**:
v1.13.5

**Which chart**:
stable/percona

**What happened**:
See description

**What you expected to happen**:
Liveness probe to execute

**How to reproduce it** (as minimally and precisel

[2019-06-26 11:52] prasadus92 commented on #15069
I just encountered the same problem, with the usage of `existingPasswordSecret`.

[2019-06-26 12:04] davidq2q commented on #7994
Copy the content of logging container when it is enabled. Perhaps you have to edit your grastate.dat file. See: http://galeracluster.com/library/training/tutorials/restarting-cluster.html

[2019-06-26 12:35] forsberg commented on #15033
At least on 3.0, setting it via the JSON and the API call to the SSO plugin endpoint has no effect, the SSO plugin will just complain that there's no trusted_proxies configured.

[2019-06-26 12:41] ramkrishnan8994 commented on #13671
@paulczar @pfisterer Can anyone help me with this

[2019-06-26 12:48] deepak71 opened #15072 "stable/chart] Pods failing with no such file."
**Describe the bug**
While deploying Master-Slave sentinel cluster, their pods are failing with /run.sh: No such file or directory in both master & slave entrypoint.

**Version of Helm and Kubernetes**:
Helm: SemVer:"v2.13.1"
Major:"1", Minor:"14"

**Which chart**:
Redis master-slave sentinel deployment

**What happened**:

I'm trying to deploy Master-slave with Sentinel using below command:
helm

[2019-06-26 12:53] oscarlofwenhamn commented on #15040
The .snapshot directory it complains about when trying to run `chown -R 1100:1100 ...` already is owned by 1100:1100 as far as I can see, but for some reason the .snapshot directory complains as it _for some reason_ seems to be set to Read Only.. I don't understand why the .snapshot directory is even there, since afaik it should be and empty volume.

I am running an nfs storage for my cluster, whe

[2019-06-26 12:57] oscarlofwenhamn commented on #15040
[code]
This is at the top of the flow of errors, further strengthening my feeling that .snapshot shouldn't be there in the first place..

[2019-06-26 13:32] miguelaeh commented on #14893
Could you paste the output of the commands I wrote in my last reply please?

[2019-06-26 13:35] miguelaeh commented on #14915
Thank you for your reporting @Yitaek,
I will try to create a pull request as soon as I have the time, please set the labels manually in the mean time.

[2019-06-26 14:16] rnkhouse commented on #14893
I ran this command: `helm install stable/rabbitmq --name rabbitmq`

    kubectl get pods
    rabbitmq-0                                               0/1       Running            0          1m

    kubectl describe pods rabbitmq-0
    Name:               rabbitmq-0
	Namespace:          default
	Priority:           0
	PriorityClassName:  <none>
	Node:               aks-agentpool-17141372-0/10.240.0

[2019-06-26 14:31] jpke commented on #7911
thanks @jungopro, this works for me!

One thing I would emphasize, the "<filename>.json" to import into a configmap must be in the chart but not the templates directory. I had to scratch my head for awhile to notice that!

[2019-06-26 14:45] aleks-mariusz commented on #15002
sorry to say but it looks like this PR did *not* fix it properly, the issue persists:
[code]

[2019-06-26 14:46] chrisz100 commented on #15002
I’ll look into it later today

[2019-06-26 14:47] chrisz100 commented on #15002
/reopen

[2019-06-26 14:50] SantoDE commented on #15002
Oh sorry! Good you taking over @chrisz100. Let me know if should I jump in

[2019-06-26 14:55] chrisz100 commented on #15002
Done, would be great if you could have a look @SantoDE

[2019-06-26 14:58] SantoDE commented on #15002
Done. :) Thanks

[2019-06-26 14:58] #13024 closed

[2019-06-26 15:15] basvandenbrink commented on #11761
I am also facing this issue and the corresponding pull request isn't closed. Can this issue be reopened?

[2019-06-26 15:30] ceastman-ibm opened #15078 "[stable/postgresql] values-production.yaml not setting up replication correctly"
**Describe the bug**
Copied the values-production.yaml to values.yaml to turn on slave replication. When the slaves try to start I get the following error in their logs:

pg_basebackup: could not connect to server: FATAL:  password authentication failed for user "<<redacted>>"

i verified that the user is the one im expecting that was defined in .Values.global.postgresql.replicationUser

**Version

[2019-06-26 17:53] mounaBoo opened #15081 "install elasticsearch version 7.1.1"
Hello I am new on elasticsearch and also using the helm chart to used it I want to install the helm chart you provide but I need to install version 7.1.1 of elasticsearch I ahve already chaged the values file I added this lines :

`appVersion: "7.1.1"`

[code]

and I enabled xpack as mentioned
[code]

now I am getting this error

the default discovery settings are unsuitable for production use; at

[2019-06-26 18:59] #11672 closed

[2019-06-26 19:59] #12925 closed

[2019-06-26 19:59] #13048 closed

[2019-06-26 20:18] aegershman commented on #14869
Apologies if this is spammy but @cirocosta just a bit more research: It appears the [Concourse BOSH 4.2.1 deployment accepted an array of authorized worker keys under `tsa.authorizedKeys`](https://bosh.io/jobs/tsa?source=github.com/concourse/concourse&version=4.2.1#p%3dauthorized_keys).

Right now it appears [the chart is configured for a single key under `CONCOURSE_TSA_AUTHORIZED_KEYS`](https://g

[2019-06-26 21:13] Yitaek commented on #14915
@miguelaeh I took a crack at adding the PR. It whitelists the slave pods when cluster.slavecount is >= 1

[2019-06-26 22:21] mornindew commented on #12851
I am having the same issue.   Is the HA Proxy the best way to go?   My issue hasn't even failed over (AFAIK) but I still get the "READONLY You can't write against a read only replica." about 80% of the time.

Clearly something that I am not understanding but is putting HA_Proxy out in front of it the recommended solution?

[2019-06-26 22:34] uipo78 commented on #12865
I know this issue was closed because of a lack of response, but it'd be nice to at least hear back from someone, especially considering the fact that there's [a PR that fixes this issue](https://github.com/helm/charts/pull/12911)...

[2019-06-26 22:35] uipo78 commented on #12865
@okgolove you're listed as an owner on this repo so I'm gonna tag you here, just in case you didn't receive a notification a while back.

[2019-06-26 22:50] sasso commented on #12928
any suggestions on how to get around this issue?

[2019-06-26 22:56] christian-roggia commented on #12928
@sasso @tiggerlee2 feel free to open a PR and ping @zakkg3 regarding a proposal.

[2019-06-26 23:01] obeyler opened #15083 "[stable/grafana] unable to import dashboard : download_dashboards.sh failed"
**Describe the bug**
I want to upload grafana dashboard  by the id but I'm behind a proxy
even with the env http_proxy,https_proxy,no_proxy set the pod doesn't start
the

**Version of Helm and Kubernetes**:
K8S 1.14.2

**Which chart**:
Stable/grafana
[code]
**What happened**:

The grafana deployment fail
![image](https://user-images.githubusercontent.com/23224162/60220576-c6c6f000-9876-11e9-9eb3-3

[2019-06-27 01:26] Neustradamus commented on #10768
Any news?

[2019-06-27 01:52] okgolove commented on #12865
Hi @uipo78. You can reopen your PR.

[2019-06-27 03:15] pickledrick opened #15084 "[stable/prometheus-operator] configured targets 'kube-controller-manager', 'kube-scheduler' unable to be scraped"
**Describe the bug**
Targets for configured ServiceMonitors `kube-controller-manager` and `kube-scheduler` unable to be reached by Prometheus

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

[stable/prometheus-operator]

**What happened**:

Installed default installation of the prometheus-operator chart, navigated to the configured targets page and saw unreachable targets.

**What y

[2019-06-27 05:03] DandyDeveloper opened #15085 "[stable/fluentd] Support User/Pass Authentication & Certificate Validation"
**Is your feature request related to a problem? Please describe.**
Typical production level ES machines scaling over multiple clusters require some form of authentication. In my case, using open-distro, I need both user/pass and client certification validation enabled.

**Describe the solution you'd like**
We need to add the following:
 - Authentication section in values.
 - Certificates section i

[2019-06-27 05:54] maorfr commented on #14878
image has been since upgraded, closing this issue. thanks for bringing this uP!

[2019-06-27 05:54] #14878 closed

[2019-06-27 06:43] simon71 commented on #15051
This is caused by the crd's in V0.30.0 https://github.com/coreos/prometheus-operator/blob/18fbf558ab7f8809fd610a3dc50bf483508dc1bb/pkg/prometheus/statefulset.go#L682 it has been removed in v0.31.0.

[2019-06-27 06:44] M0nsieurChat commented on #11610
Hello there :)

I don't know if this is because of our setup or something but yesterday while upgrading the Helm release of stable/concourse (adding an annotation on the ingress), we ended up with an empty postgresql.

Post-mortem : the new way of deploying postgres uses another PVC naming convention / creation scheme.

- The old PVC name was : concourse-postgresql
- The new PVC name after the upg

[2019-06-27 06:54] miguelaeh commented on #15078
Hi @ceastman-ibm,
Did you deploy this chart before? In that case did you delete your PVC? Probably the problem is that the password is stored on the cluster from the previous deployment and the new installation is configured with a different password while the slaves are using the old one because it is stored.
Please try removing the PVC:
[code]

[2019-06-27 06:55] praveen056 commented on #14547
how you have installed redis-ha with  the modified chart or file of redis-ha downloaded locally . ?

[2019-06-27 06:59] praveen056 opened #15086 "stable/redis-ha : Error for Sha1sum function"
When i am installing redis-ha through helm using helm install stable/redis-ha it throws me a error sh1sum is not defined. May be you need to modify the file templates/redis-ha-statefulset.yaml with sha256sum in place of sha1sum so that it will remove this error. Can you please check if it a bug or there is workaround solution

[2019-06-27 07:04] miguelaeh commented on #15072
Hi @deepak71 ,
I guess it could be related to your command. I am not sure if you can specify a `--set` option and also a `-f`, but in case this is possible as you put the `-f` after the `--set` maybe it overrides the values of the `--set` parameters.
[code]

[2019-06-27 07:06] miguelaeh commented on #15069
Hi,
Thank you very much for the PR, we will review it as soon as we can.

[2019-06-27 07:08] pfisterer commented on #13671
@ramkrishnan8994 Not sure if this helps, but Apache Knox could potentially support your use case (cf. https://community.hortonworks.com/questions/114618/how-to-access-the-yarn-ui-through-knox-default-gat.html).

However, this requires https://github.com/helm/charts/pull/13142 to be accepted before I can contribute my helm chart for Apache Knox - maybe @paulczar can have a look at this one and labe

[2019-06-27 07:27] miguelaeh commented on #14893
Hi @rnkhouse ,
I am not sure about what is happening. Could you paste the logs of the container?
Also, not sure if this could be related but, does your cluster have RBAC enabled?

[2019-06-27 08:17] #13737 closed

[2019-06-27 08:22] ahoulgrave commented on #14173
PR #14174 still opened, waiting for feedback from the owners

[2019-06-27 08:34] HaveFun83 commented on #14844
We run into this in a similar way.
Try to use the dashboard-side car instead.
[code]
here you can provide the dashboards via configmap.
as one configmap per dashboard
[code]

[2019-06-27 08:37] HaveFun83 commented on #13986
can somebody help here?

[2019-06-27 08:45] #14709 closed

[2019-06-27 08:45] #14976 closed

[2019-06-27 09:00] Dhananjay-J-P commented on #7366
facing same issue. Not able to pass file using InitializationFiles argument

[2019-06-27 09:17] Dhananjay-J-P commented on #7366
@farhan-sauce have u been able to resolve this issue. I am passing below in answers.yaml, yet I cant see that file in container

`initializationFiles:
  first-db.sql: |-
    CREATE DATABASE IF NOT EXISTS first DEFAULT CHARACTER SET utf8 DEFAULT COLLATE utf8_general_ci;`

[2019-06-27 09:48] ramkrishnan8994 commented on #13671
@pfisterer - The link says that it still does not support logs from NodeManager.
Without NodeManager there wont be any logs for the user to view

[2019-06-27 09:53] pfisterer commented on #13671
@ramkrishnan8994 I didn't try it out yet. Where exactly did you find this statement reg. the NodeManager? Maybe I overlooked it.

[2019-06-27 09:53] ricardompcarvalho opened #15089 "[stable/jenkins] Sidecar crashes after a couple of days working"
**Describe the bug**
Hello everyone, I wish you could help me. My container sidecar have gone down after a few days running and I do not understand why.
Error: Back-off restarting failed container
Image: shadwell/k8s-sidecar:0.0.3

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
JENKINS

**What happened**:
My container sidecar have gone down after a few days running and I do no

[2019-06-27 09:56] ramkrishnan8994 commented on #13671
@pfisterer
https://community.hortonworks.com/questions/194473/yarn-app-logs-through-knox.html

[2019-06-27 09:58] pfisterer commented on #13671
Ok, sorry. In this case I don't have any clue...

[2019-06-27 10:03] ramkrishnan8994 commented on #13671
@pfisterer - Okay. Can you help me with this
I tried setting up **Spark history server** and access the logs that YARN creates on HDFS.

![image](https://user-images.githubusercontent.com/40425959/60257241-b5bac500-98f0-11e9-985f-153acd34f05f.png)

The Logs are generated in the given location. **spark.history.fs.logDirectory** is also set correctly. The permissions are also correct.

I have deploy

[2019-06-27 10:04] ramkrishnan8994 commented on #13671
This was an attempt to somehow overcome the lack of a reverse proxy

[2019-06-27 10:17] #13736 closed

[2019-06-27 10:21] ramkrishnan8994 opened #15090 "[stable/spark-history-server] HELP - No logs being shown in UI"
@maximenannan @unguiculus @yuchaoran2011

I have deployed the stable chart with only **HDFS enabled and all other options disabled.**
Below are the logDirectory on HDFS that I've tried setting.

`logDirectory: hdfs://hdfs-yarn-hadoop-hdfs-nn:9000/var/log/hadoop-yarn/apps/`
`logDirectory: hdfs://hdfs-yarn-hadoop-hdfs-nn:9000/var/log/hadoop-yarn/apps/root/logs`

**Logs exist in the HDFS directory**

[2019-06-27 10:23] yuchaoran2011 commented on #15090
Have you looked in HDFS to verify that Spark has written logs in your specified directory?

[2019-06-27 10:26] ramkrishnan8994 commented on #15090
@yuchaoran2011
Yes. These are logs of applications submitted using YARN on Spark and they are generated in the location. Are there any constraints because it uses YARN and not StandAlone

![image](https://user-images.githubusercontent.com/40425959/60259115-1ef00780-98f4-11e9-8ccc-1f62e5fcfd5d.png)

[2019-06-27 10:29] yuchaoran2011 commented on #15090
It shouldn't matter whether YARN or standalone. Do you see anything in the history server pod logs?

[2019-06-27 10:31] ramkrishnan8994 commented on #15090
@yuchaoran2011 - Nothing out of the blue
[code]

[2019-06-27 10:32] ramkrishnan8994 commented on #15090
@yuchaoran2011 - Is it an issue if the internal service DNS is used to specify Namenode address

[2019-06-27 10:35] ramkrishnan8994 commented on #15090
@yuchaoran2011 - Also I'm using ClusterIP instead of LoadBalancer

[2019-06-27 10:35] yuchaoran2011 commented on #15090
Not sure. But when you deployed the history server chart, did you configure hdfs-site.xml and core-site.xml through configMaps?

[2019-06-27 10:41] ramkrishnan8994 commented on #15090
@yuchaoran2011 - What exactly are the parameters the History Server looks for in these xml files

[2019-06-27 10:46] ramkrishnan8994 commented on #15090
@yuchaoran2011
**core-site.xml**
[code]

In the /etc/hadoop folder there are only two files - core-site.xml and hdfs-site.xml.
Is this correct? There are no hadoop binaries required?

[2019-06-27 11:14] ramkrishnan8994 commented on #15090
@yuchaoran2011 - Any ideas?

[2019-06-27 12:00] mwieczorek opened #15091 "[stable/prometheus-operator] Make allowedCapabilities in PSP configurable"
**Is your feature request related to a problem? Please describe.**

I'd like to add a sidecar to the prometheus pod (vault agent - to provide vault token which can be used then by serviceMonitor). Problem is that it won't start with PSP from templates (https://github.com/helm/charts/blob/master/stable/prometheus-operator/templates/prometheus/psp.yaml) because it requires some additional capabiliti

[2019-06-27 12:17] #13747 closed

[2019-06-27 12:17] oscarlofwenhamn commented on #15040
I found a workaround by modifying the StatefulSet into using subPath instead:
[code]
This makes moves the mount point (and .snapshot directory) one level up, avoiding the issue. It is still a workaround, and I'm going to want to keep looking for a more permanent solution, but it is not a Helm Chart issue.

[2019-06-27 12:17] #15040 closed

[2019-06-27 12:22] cirocosta commented on #11610
woooooow damn! I'm sorry to hear that it caused trouble for you! thanks for sharing though!

I'm wondering whether this instruction should be part of the `CHANGELOG` then to make clear that folks should be very careful about it - wdyt?

Thanks!

[2019-06-27 12:33] brunocous opened #15092 "[stable/kube2iam] STS regional endpoint: how to pass region"
In order for kube2iam pods to call a regional STS endpoint, the '--use-regional-sts-endpoint' flag should be set and specify the 'AWS_REGION' (according to https://github.com/jtblin/kube2iam#aws-sts-endpoint-and-regions).

We specify those in a `values.yaml`(based on https://github.com/helm/charts/blob/master/stable/kube2iam/values.yaml), which is passed when helm installing. (As encouraged in htt

[2019-06-27 13:09] ceastman-ibm commented on #15078
yep i deleted the pvc in between installations.

[2019-06-27 13:18] lhotrifork opened #15094 "[stable/sonarqube] sonarproperties cannot contain json needed for auth.oicd plugin"
**Describe the bug**
After sonarproperties was changed to a map, I cannot configure my OICD plugin via the helm chart.
The configmap used to be able to contain json, but cannot anymore:

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
stable/sonarqube

**What happened**:
With the following values in my helmchart:
[code]

The configmap now contains:
Notice the map[] golang type

[2019-06-27 14:15] rnkhouse commented on #14893
@miguelaeh
Cluster is RBAC enabled.
Logs:

	2019-06-27 14:13:14.010 [info] <0.282.0>
	 Starting RabbitMQ 3.7.14 on Erlang 21.3
	 Copyright (C) 2007-2019 Pivotal Software, Inc.
	 Licensed under the MPL.  See https://www.rabbitmq.com/

	  ##  ##
	  ##  ##      RabbitMQ 3.7.14. Copyright (C) 2007-2019 Pivotal Software, Inc.
	  ##########  Licensed under the MPL.  See https://www.rabbitmq.com/
	  ####

[2019-06-27 14:35] #14771 closed

[2019-06-27 15:54] stepro opened #15097 "[stable/mssql-linux] does not fail if ACCEPT_EULA is not provided"
**Describe the bug**
The `microsoft/mssql-server-Linux` image is designed to fail unless you explicitly provide the `ACCEPT_EULA` environment variable. Specifically the container considers the *existence* of the environment variable, regardless of value, to represent acceptance. However, the way the Helm chart is written, it will *always* accept the EULA regardless of whether this environment vari

[2019-06-27 16:01] step42 commented on #14547
I downloaded the files locally and made the changes in order to install redis-ha. The unmodified version did not work for me.

[2019-06-27 16:17] #12903 closed

[2019-06-27 16:21] miguelaeh commented on #14915
Thank you for the PR, we will review it.

[2019-06-27 16:42] smoyer64 commented on #14507
Same problem for both 7.7 and 7.8 ... but we had been running 7.7-community for a month and when the cluster restarted the pod, it failed.  I'm assuming that indicates a problem with the underlying docker image (which did change underneath the Helm chart).

[2019-06-27 16:44] hbagdi commented on #12575
The error shouldn't really happen if `--name` is specified.

A potential solution that can work here is creating a secret in k8s for postgres password and then passing it to Kong and postgresql helm chart (via postgresql.postgresqlPassword param)

[2019-06-27 17:17] #11589 closed

[2019-06-27 17:30] mounaBoo opened #15099 "how to access helm charts folder"
hello I installed elasticsearch using helm chart , I want to enable security on it so I did what's mentioned on the documentation but I have probleme accessing the folder examples to run the make file to enable security features , so how can I access that file or where can I found it , and which command to use so I could get to that location ?

[2019-06-27 17:45] obeyler commented on #15083
I found thetrouble :
https://github.com/helm/charts/blob/44d3e232fc6fd04f73c2cb2536facb3e9cc5ebec/stable/grafana/templates/deployment.yaml#L78

should be replace by :

[code]

[2019-06-27 17:48] obeyler commented on #15083
@zanhsieh
@rtluckie
@maorfr
Could you check that the correction is good ? If yes I can do a PR

[2019-06-27 18:10] zanhsieh commented on #15083
LGTM

[2019-06-27 18:36] Newman-Hui opened #15102 "[stable/elastalert] Elastalert service endpoint for kibana integration"
HI! Would it be possible to add a template to the helm chart to support a k8s service? I would like to deploy an elk stack on k8s and use the kibana elastalert plugin but am unable to connect to the elastalert server.

I've considered forking the helm chart and applying my changes there, but I would have to keep reapplying my changes to get new updates to the helm chart.

[2019-06-27 18:43] lagorsse commented on #14417
Yeah it was that, I also deleted associated pvc
Thanks

[2019-06-27 19:11] #12221 closed

[2019-06-27 19:12] infa-kparida commented on #9472
@rishiraaz  Did you get any workaround for this issue ?

[2019-06-27 19:25] carrodher commented on #15069
This PR is just moving the problem, at this moment the command will fail using `|` in the password because it's the new delimiter. Unless there are some limitations at RabbitMQ level that doesn't allow certain characters in the password (if RabbitMQ exclude `|` as a valid character, the PR will work)

[2019-06-27 20:32] karolinepauls commented on #15069
Testing the best thing I could come up with - uses `/match/creplacement` to replace the whole line. Backslash is still interpreted by sed so i need to double it. But the resulting line is identical to the var.

[code]

[2019-06-27 21:10] pajoma opened #15104 "[stable/janusgraph] JanusGraph Settings from chart values ignored"
**Describe the bug**
Chart values are ignored. Default configuration of the docker image is used instead.

Logs when starting up the Pod installed via the helm chart:
[code]

The paths should point to the config files in the directory `/janusgraph-config`, which contains the settings configured in the chart values.

Possible Workarounds (not tested, though)
* add container argument "-gremlinserver

[2019-06-27 22:19] #14093 closed

[2019-06-27 22:19] #14173 closed

[2019-06-27 23:51] #14589 closed

[2019-06-28 03:53] #14820 closed

[2019-06-28 04:29] #14915 closed

[2019-06-28 05:31] okgolove commented on #12865
Btw https://github.com/helm/charts/pull/14940

[2019-06-28 06:36] dadez opened #15110 "[incubator/sparkoperator] control rbac role and clusterrole separately from each other"
You deliver an rbac file for create a role in `templates/spark-rbac.yaml` and another one for create a clusterRole in `templates/spark-operator-rbac.yaml`. Both files are controlled from the property `rbac.create` in `values.yaml`.

In my case, I'm not allowed to manage roles at cluster scope, it would be nice to can manage the role and clusterRole separately from each other.

### Sample implement

[2019-06-28 07:08] Towmeykaw commented on #15081
The chart in stable don't support version 7.1 and instead we recommend you use the official elasticsearch chart
https://github.com/elastic/helm-charts/tree/master/elasticsearch

[2019-06-28 07:18] jackdreilly commented on #1473
For anyone potentially hitting this issue in the future: I solved this by making sure that "false" was interpreted as a string instead of being converted to "0".

[2019-06-28 07:50] miguelaeh commented on #14893
Hi @rnkhouse ,
The problem here seems to be that the readiness probe is obtaining an unauthorized code from the HTTP request, as you can see on the log the credentials are invalid. As you can see on the template, the readinessProbe use a password.
[code]

That password is taken from a secret witch name is taken from a template:
[code]

If you do not set a password manually it is created a randomly

[2019-06-28 08:11] miguelaeh commented on #15078
Hi @ceastman-ibm ,
Could you try to set a password manually at deploy time?

[2019-06-28 08:18] bcollard commented on #15099
Hello, did you git clone this repo? or only ran helm install ...?
I guess you need to build your own Helm release of the ES chart.

[2019-06-28 08:54] bcollard opened #15114 "[stable/fluentd] stop enforcing elasticsearch as standart output"
This chart uses the 'fluentd-elasticsearch' docker image.
These image and chart don't allow to use other input / output plugins when they are not built-in with basic fluentd. I'm thinking about the list of available plugin to download and install via (fluent-)gem CLI.

For example, if I want to use the plugin 'fluent-plugin-amqp', I have start from scratch, ie. from the official fluent/fluentd ima

[2019-06-28 09:29] #15072 closed

[2019-06-28 09:48] deepak71 opened #15115 "[stable/chart]: Old master failing to join the redis cluster as a slave"
**Describe the bug**
When current master fails, running slaves elected new master but old master not joining the Redis cluster as slave. This leading to two master under the Redis service.

**Version of Helm and Kubernetes**:
Helm: SemVer:"v2.13.1"
Major:"1", Minor:"14"

**Which chart**:
Redis master-slave sentinel deployment

**What happened**:
To test master failover functionality of sentinel cl

[2019-06-28 10:20] alexsn opened #15117 "[stable/prometheus-operator] filesystem paths displayed in prometheus alerts web tab"
**Describe the bug**
/etc/prometheus/rules filesystem paths are displayed in Prometheus `Alerts` tab, see attached screenshot.

**Screenshot**
<img width="1658" alt="Screen Shot 2019-06-28 at 13 14 42" src="https://user-images.githubusercontent.com/987019/60335745-494ecd00-99a7-11e9-8bd5-41a8563f85d9.png">

**Version of Helm and Kubernetes**:

Client Version: version.Info{Major:"1", Minor:"15", Gi

[2019-06-28 10:36] #13746 closed

[2019-06-28 10:57] #14874 closed

[2019-06-28 11:54] ReSearchITEng opened #15118 "[stable/kubernetes-dashboard] permissions secret when rbac.clusterReadOnlyRole=True"
**Describe the bug**
when using `--set rbac.clusterReadOnlyRole=True`, the pod logs crash with error:
[code]

**Version of Helm and Kubernetes**:
k8s 1.15
helm

**Which chart**:
kubernetes-dashboard-1.5.3      1.10.1

**What happened**:
It works with full cluster admin but not with the ReadOnly one.

**What you expected to happen**:
work

**How to reproduce it** (as minimally and precisely as poss

[2019-06-28 12:09] Warok21 opened #15119 "stable/openvpn --version 3.13.1"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
With this chart, is it possible to deploy a VPN between two nodes of one cluster?

**Describe alternatives you've considered**
I have three nodes, a master wich is geographically located elsewhere, and the two other nodes that are close, but not on the same network. I've create a cluster with t

[2019-06-28 12:40] drewwells opened #15120 "[stable/nginx-ingress] electionID should be based on release name"
**Describe the bug**
When installing multiple nginx-ingress from the current chart, only one controller will publish services due to electionID not being unique to the release.

Release name not in electionID https://github.com/helm/charts/blob/master/stable/nginx-ingress/templates/controller-deployment.yaml#L61

**Version of Helm and Kubernetes**:
helm: 2.14.1
k8s: 1.12.8

**Which chart**:
stable

[2019-06-28 12:50] drewwells commented on #15120
at a minimum election should be based off class name and possibly even have overrides with a default of either release or class name

[2019-06-28 13:47] ceastman-ibm commented on #15078
would that be an environment variable in the slave yaml file?

[2019-06-28 14:10] spica29 commented on #15041
Solved in [#14959](https://github.com/helm/charts/commit/471065b438854b9263b11244aa34b913901852c8), I will close the issue.

[2019-06-28 14:10] #15041 closed

[2019-06-28 14:17] #15083 closed

[2019-06-28 14:23] naseemkullah opened #15122 "[incubator/jaeger] passwords should be in a secret and used via secretKeyRef."
Please see title.

[2019-06-28 14:37] rnkhouse commented on #14893
@miguelaeh
I do not have secret from older deployment. I tried deleting chart by `helm delete rabbitmq --purge` and checked there is no secret left related to rabbitmq and re-deployed the chart. Still getting the same error.

I also tried with assigning password manually as you can see the command in the original question. I am not sure what are you trying to say.

[2019-06-28 14:44] cirocosta opened #15124 "[stable/concourse] Do not add local users if local auth disabled"
**Is your feature request related to a problem? Please describe.**

Currently, consumers of the Chart who disable local authentication (but enable
other forms of auth) and forget to remove the default addition of the "test"
user to the `main` team end up with a `CrashloopBackoff`.

To reproduce:

[code]

Then, after installing, see that the `web` component keeps failing, with the
following message

[2019-06-28 15:05] karolinepauls opened #15125 "[stable/chronograf] neither env nor envFrom are evaluated as templates, no ConfigMap support, inability to rename variables from secrets"
Both configuration sources don't allow for templating (actually, envFrom kind of does because it's possible to create own secrets and use templating there).

Current code:
[code]

[code]

The above makes it impossible to correctly point Chronograf to Influx, which service name depends on `{{.Release.Name}}`. I can technically create a secret with INFLUXDB_URL and use templating there but I cannot

[2019-06-28 15:13] #15069 closed

[2019-06-28 15:35] chrono2002 opened #15126 "[stable/nginx-ingress] Add StatefulSet kind"
Hello

I'm trying to mount PVC to my controller. I've succeed only when I got 1 replica, but when I add more replicas or change kind to Daemonset all other pod stuck waiting for PVC to come, which is already claimed by the first replica.
[code]

I describe PVC like this:
[code]

Why don't you make StetefulSet with volumeClaimTemplates instead to solve this issue?
[code]

[2019-06-28 15:55] YoussB commented on #11610
wondering if we should add a sort of upgrade testing to mitigate such problems 🤔

[2019-06-28 16:14] YoussB commented on #14579
I think it would be nice if the chart README explicitly mentions the need for having a default `StorageClass`

wdyt @anthonyvetter ?

[2019-06-28 16:29] karolinepauls commented on #15125
Please treat the syntax here as pseudocode. I'm not well-versed in Go Template Lang and its extensions and to be honest just want my Jinja (or better - not to render data with text interpolation, though I'm sceptical towards Lua).

[2019-06-28 16:32] javsalgar commented on #15115
Hi,

Could you show the "lost master" logs? At the beginning it would try querying the sentinel service to know which the new master is. I would like to know what went wrong

[2019-06-28 16:44] F0otsh0T commented on #12575
^^Didn't see that env/param - did see this one:

env.pg_password | Postgres database password (required if you are using your own database) | kong

[2019-06-28 17:50] jnwaogbe opened #15129 "[stable/grafana] Is there any way to disable all notifications -- especially errors?"
<img width="422" alt="red_notification_error" src="https://user-images.githubusercontent.com/32357197/60361169-8917b380-99ab-11e9-8718-93215e30775a.png">

Is there any way I could disable all error notifications like the one above so that they never pop up? If not, perhaps all notifications?

[2019-06-28 19:58] caarlos0 commented on #13867
stable/consul seems to have only one maintainer as well... cc/  @lachie83