[2018-06-28 14:26] lxblvs opened #6373 "[stable/keycloak] The initial admin user creation does not work"
BUG REPORT

**Version of Helm and Kubernetes**:
Helm v2.9.1
Kubernetes v1.10.3

**Which chart**:
stable/keycloak

**How to reproduce it** (as minimally and precisely as possible):
Using the values:

[code]

Trying to log in into the console with keycloak:keycloak fails.

UPDATE:
I have managed to create a user manually and log in. The `keycloak` user defined in the values does not show up - which

[2018-06-28 14:36] mgk commented on #6145
We are seeing this with the following versions:

**chart** 0.4.0

**helm**

[code]

**kubectl**

[code]

[2018-06-28 17:12] jainishshah17 commented on #5676
Can you please close this issue?

[2018-06-28 18:16] #5453 closed

[2018-06-28 19:08] pkelleratwork opened #6379 "MONGODB hangs in "Pending" state after latest "upgrade""
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Version of Helm and Kubernetes**:

**Which chart**: stable/mongodb

**What happened**: install hangs in "Pending" status

**What you expected to happen**: it should pull the image and run

**How to reproduce it** (as minimally and precisely as possible):
run ```helm install --name test stable/m

[2018-06-28 19:21] #2827 closed

[2018-06-28 19:33] prydonius commented on #6379
Do any pods get created? What's the output of `kubectl describe pod $PODNAME`?

[2018-06-28 19:43] sonaikar commented on #6309
I am facing the same issue. Is there any solution to this problem?

Unable to mount volumes for pod "mongo-dev-1-mongodb-replicaset-0_mongo-dev(xxx)": timeout expired waiting for volumes to attach/mount for pod "mongo-dev"/"mongo-dev-1-mongodb-replicaset-0". list of unattached/unmounted volumes=[datadir config init keydir workdir configdir default-token-q8gds]

[2018-06-28 19:51] gintautassulskus commented on #5676
The [Artifactory chart documentation](https://hub.kubeapps.com/charts/stable/artifactory) gives the impression that Artifactory OSS is fully supported and even provides a dedicated section with the instructions on how to deploy it - `Deploying Artifactory OSS`.

I will close the issue, but please first either fix this issue for the artifactory-oss or update the documentation indicating which confi

[2018-06-28 20:00] jainishshah17 commented on #5676
@gintautassulskus I totally understand things from your perspective. I will update the documentation to avoid unintentional mislead.

[2018-06-28 20:36] pkelleratwork commented on #6379
@prydonius - you just helped me figure out part of the issue. I created the storage class (had been removed without my knowlegde) I am now getting `InvalidImageName`

[code]

[2018-06-28 20:38] prydonius commented on #6379
@pkelleratwork nice, glad you got the StorageClass issue resolved. Did you provide any values to change the image tag when deploying MongoDB?

[2018-06-29 00:35] prydonius commented on #6379
@pkelleratwork no problem, and glad you got that working for you. I am curious how you got that InvalidImageName though, can you share what values you were providing?

[2018-06-29 01:53] estahn opened #6383 "[stable/prometheus-cloudwatch-exporter] aws_access_key_id and aws_secret_access_key is not honored"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
kubectl
[code]
helm
[code]

**Which chart**: stable/prometheus-cloudwatch-exporter

**What happened**:
We're trying to use `aws.aws_access_key_id` and `aws.aws_secret_access_key` in the `values.yaml`.

**What you expected to happen**:
I expect the val

[2018-06-29 01:54] estahn commented on #6383
@gianrubio

[2018-06-29 05:16] swqmaven opened #6388 "stable/rabbitmq-ha"
helem version
'''
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

'''

kuberntes version
'''
1.10

'''

rabbitmq delpoy error!
log:
sed: can't create temp file '/etc/rabbitmq/rabbitmq.confXXXXXX': Read-only file

[2018-06-29 07:28] #6388 closed

[2018-06-29 07:30] swqmaven opened #6394 "stable/redis-ha non-existing domain"
Helm version 2.9
Kubernetes 1.10
chart version 1.6.2

ERROR: epmd error for host rightcloud-rabbitmq-rabbitmq-ha-0.rightcloud-rabbitmq-rabbitmq-ha-discovery.rightcloud-prod.svc.cluster.local: nxdomain (non-existing domain)

[2018-06-29 08:06] mercantiandrea commented on #3210
I have the same problem with k8s 1.10.5 installed with kops on AWS.
M5 family instances and ami k8s-1.10-Debian-Stretch

[2018-06-29 09:35] tompizmor commented on #6379
We have seen that issue with the docker image tag before.
In theory, the issue was fixed in this PR https://github.com/kubernetes/charts/pull/5893.

@pkelleratwork could you check if your _helpers.tpl include the following snippet for the image name?

[code]
The key thing is the toString function in the tag line.

[2018-06-29 09:51] AliYusuf95 opened #6395 "[stable/rethinkdb] Update to version 2.3.6"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Feature request

---

If this is a FEATURE REQUEST, please:
Describe *in detail* the feature/behavior/change you'd like to see.

- Update rethinkdb image version to 2.3.6

[2018-06-29 13:12] emanuelecasadio commented on #3197
I confirm I cannot resolve the name `my-name-redis-ha.default.svc.cluster.local`but I can indeed resolve the name `my-name-redis-ha-master-svc.default.svc.cluster.local`

[2018-06-29 13:19] bweston92 opened #6396 "[stable/mongodb]"
**Is this a request for help?**:

Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

stable/mongodb

**What happened**:

Running `rs.status()` on `mongodb-primary-1` gives:

[code]

**What you expected to happen**:

The primary and secondary.

**How to reproduce it** (as minimally and precisely as possible):

`v

[2018-06-29 13:23] kc004 opened #6398 "OpenVPN connection is not established properly"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): No

**Version of Helm and Kubernetes**: Kubernetes 1.10.1
Helm 2.9.1

**What happened**: I am not able to connect kubernetes services using OpenVPN kubernetes chart.

**What you expected to happen**: On my local pc i can access kubernetes services locally using VPN

**How to reproduce it** (as min

[2018-06-29 14:53] arun-esure commented on #5810
hi @tbtommyb , did you pass the aws-key and secret_key raw values or base64 values in v1.2 fluentd image env vars? I'm stuck with this same problem.

[2018-06-29 19:45] #3489 closed

[2018-06-29 20:33] varunpalekar commented on #5441
I also face this kind of problem, When I deploy Redis-HA it deploys two master. This happens very rarely. Problem may be due to both redis-server get from kubernetes API about master and got no master so both become master due to exact same time query.

We can use statefulset to control creation of pod one after the another.

I guess we need to revert to statefulset again
https://github.com/kubern

[2018-06-30 08:40] monotek commented on #6133
Even renewing the setting of the password by updating the chart should not export a wrong one.

[2018-06-30 15:13] dwardu89 opened #6409 "vault-operator is not available in the stable/vault-operator"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

If this is a BUG REPORT, please:
  - When you run `helm install --name vault-operator stable/vault-operator`, the download fails with `Error: failed to download "stable/vault-operator"`
 - This is most likely because the chart is not in the helm `stable` repo

In both cases, be ready f

[2018-06-30 17:06] #2782 closed

[2018-06-30 19:08] #3431 closed

[2018-06-30 23:36] JamesonNetworks commented on #4461
Seeing the same using Helm 2.9.1 and Kubernetes 1.11. I'm getting stuck in CrashLoopBackoff with:

{"Kernel pid terminated",application_controller,"{application_start_failure,rabbit,{bad_return,{{rabbit,start,[normal,[]]},{'EXIT',{{case_clause,{error,\"{failed_connect,[{to_address,{\\"kubernetes.default.svc.cluster.local\\",443}},\n I'm assuming this is the same thing you are seeing @Flowkap ?

[2018-07-01 00:13] #3505 closed

[2018-07-01 01:14] #3507 closed

[2018-07-01 06:52] Flowkap commented on #4461
Seems so. This is definitely a big as the value in the chart is fix but cluster name definitely is configurable.

[2018-07-01 16:36] kujenga commented on #5992
I ran into what I believe was the same issue, and I was able to resolve it by setting `vault.readiness.readyIfSealed` to `true` in my installed release of the chart.

https://github.com/kubernetes/charts/blob/3168f8bba6ebd3284c84d45a3e670c414d771499/incubator/vault/values.yaml#L129

I'm not sure why this is off by default, since when the vault is sealed it then becomes unreachable through the serv

[2018-07-01 17:38] #6153 closed

[2018-07-01 18:31] #3236 closed

[2018-07-01 21:34] #2741 closed

[2018-07-01 21:46] JamesonNetworks commented on #4461
@Flowkap Was able to work around this be providing a values.yml file that contained the IP and port of the kubernetes host instead of the DNS name. The two lines were:

      cluster_formation.k8s.host = <ip>
      cluster_formation.k8s.port = 6443

Not sure if it respects the port or not but I put it in for good measure. The rest of the file looked just like https://github.com/kubernetes/charts/b

[2018-07-02 03:16] dove-young commented on #3875
I got the same error when I tried to add one more sub-chart to a Helm chart

It says `Error: found in requirements.yaml, but missing in charts/ directory: local-volume-provisioner`, but this directory does exist and contains the sub-chart there.

[code]

[code]

[2018-07-02 09:05] tbtommyb commented on #5810
Hi @arun-esure what I ended up having to do was create my own `fluentd.yaml` file from the templates in the chart and pass in the env vars directly as raw values in `DaemonSet.spec.template.spec.containers.fluentd-cloudwatch.env`. This isn't a great solution but I couldn't get anything involving secrets to work (raw or encoded). Perhaps I was just doing it wrong.

[2018-07-02 09:12] davidkarlsen opened #6417 "[stable/spinnaker] - redis fails to start due to limits"
[code]

maybe this should be set with an init-container?

**Version of Helm and Kubernetes**:
2.9.0 / 1.11

**Which chart**:
stable/spinnaker

**What happened**:
see above

**What you expected to happen**:
container should start

**How to reproduce it** (as minimally and precisely as possible):
set limits lower (mine are at defaults) for ubuntu LTS and kernel:
uname -a
Linux main.lan.davidkarlsen.

[2018-07-02 09:24] hsinhoyeh commented on #5810
@tbtommyb @arun-esure  have you tried my patch?  https://github.com/kubernetes/charts/pull/6209
It works for me well on v1.2 fluentd image

[2018-07-02 09:44] arun-esure commented on #5810
@hsinhoyeh your patch is working for me too! thanks.
Thanks for your input @tbtommyb .

[2018-07-02 13:46] wonderb0lt opened #6421 "[incubator/jaeger] Hotrod example does not work"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
Kubernetes:
[code]

Helm:
[code]

**Which chart**:
incubator/jaeger

**What happened**:

I installed the chart with hotrod enabled using `hotrod.enabled=true`. I opened the Hotrod UI and clicked 10-15 times on the various buttons, and then browsed to

[2018-07-02 14:42] Nodraak commented on #6359
Hi ! I don't really understand your question, could your rephrase it?

[2018-07-02 14:48] Nodraak commented on #6356
If you update [this line](https://github.com/kubernetes/charts/blob/63653fd596a88f2cf45139999155ec60d7b422b2/stable/jenkins/values.yaml#L90) and replace v2.15 by v2.21 does it work better?

[2018-07-02 14:51] #3530 closed

[2018-07-02 15:36] kedare commented on #3504
No way to deploy it without giving full cluster access to tiller ? We are using per-namespace tiller deployments

[2018-07-02 16:32] pclalv commented on #4812
the latest version of the chart seems to only include the port in the `CONCOURSE_TSA_HOST` env var if the version is `3.10.x`, but my experiencing deploying `3.14.0` with the latest version of the helm chart suggests that it's still necessary to include the TSA port in the `CONCOURSE_TSA_HOST` env var.

[2018-07-02 17:59] hooligan495 commented on #6359
Sure!

So when I use this chart, the config file specifies the LegacySecurityRealm and it looks like a User (admin) is created in the container and passed through to jenkins.  I would like to have the chart leave us with: HudsonPrivateSecurityRealm and a user created somehow in the jenkins user database.  I'm not sure if that is possible or not

Is this clearer?  I'm not a jenkins expert so I'm no

[2018-07-02 18:40] karthimohan commented on #5431
I created the cluster by setting the persistence.storageClass. So when i scale up the cluster i had to pass that as well

helm install --namespace "cassandra" -n "cassandra" incubator/cassandra --set persistence.storageClass=standard

helm upgrade --set config.cluster_size=5 cassandra incubator/cassandra --set persistence.storageClass=standard

Give this a try

[2018-07-02 19:31] IvanBiv opened #6431 "[charts/incubator/elastic-stack/] What plan for this Chart"
I think it is good idea about Elastic stack! And my interesting in some questions.
1) What plan for this Chart?
2) Will be more options for chart (values.yaml)?
3) Will be include ElasticHQ?

[2018-07-02 19:57] #6064 closed

[2018-07-02 20:57] #3535 closed

[2018-07-02 21:18] IvanBiv opened #6432 "[charts/incubator/elastic-stack/] http://http.default.svc.cluster.local:9200"
I see the problem with DNS name:

[code]

and Kibana want "http://http.default.svc.cluster.local:9200"

but my services:

[code]
How I can fix it?

[2018-07-02 23:59] temujin9 commented on #1567
@tompizmor I'm encountering this on my GCE cluster. [My image](https://hub.docker.com/r/greenfieldguild/wordpress_cli/) is built off of `bitnami/wordpress:latest`. It adds, among other things, an edit to httpd.conf to set the one-liner you described. No such line is on your current latest image, and adding it fixes the problem.

If you let me know the correct file to edit, I'll make a PR to fix th

[2018-07-03 04:08] talbenari1 commented on #5991
@quantum-fusion You said you're running in minikube, which I don't believe has a LoadBalancer built into it. Did you set one up before installing the chart?

[2018-07-03 07:34] magowant opened #6438 "[stable/ark] support ark-config.yaml updates"
FEATURE REQUEST:

I may have got this wrong, but I don't see how the stable/ark chart supports updating the `ark-config.yaml` via a helm upgrade.

The ark config is applied by a post-install hook that runs  `kubectl create -f ark-config.yaml`. Therefore the config is only created for a helm install, and will never be run for a helm upgrade.

Is it possible to make the hook run for `post-upgrade` a

[2018-07-03 10:44] ryandawsonuk opened #6442 "[stable/rabbitmq-ha] upgrade impossible since ClusterIP changes"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug

**Version of Helm and Kubernetes**:
2.9.1, 1.9.7-gke.3

**Which chart**: stable/rabbitmq-ha

**What happened**: upgrade failed with same error as a previous version of the prometheus chart had https://github.com/kubernetes/charts/issues/5128 - Service is invalid  spec.clusterIP: Invalid value: "": field is immutable

**Anything else w

[2018-07-03 11:06] huang-jy commented on #3723
For other users with this problem, copy-pasted from other issue:

Under http://jenkins-master/configure, look for tthe "Cloud -> Kubernetes -> Images -> Kubernetes Pod Section -> Containers" section, and you'll see the settings for the images -- one for the master and one for the slave.

Under the slave settings, there's a button labelled "Advanced" (it's just above the "Delete Container" button).

[2018-07-03 11:14] ryandawsonuk commented on #6373
I guess you mean for the master realm and not for a custom realm.

I have noticed this also, though am not sure if it happens every time. I think it would work if you were to try with:

[code]
This works for me. But presumably you'd like the chart to do this for you and I think it could if these lines were in https://github.com/kubernetes/charts/blob/master/stable/keycloak/templates/configmap.yaml

[2018-07-03 11:38] ryandawsonuk commented on #6346
I think https://github.com/kubernetes/charts/pull/6350 addresses this

[2018-07-03 12:59] monotek commented on #6133
works for me again with chart version 1.12.0

[2018-07-03 14:57] obeyler opened #6446 "[GOGS] Unable to mount volume for pods"
Version of Helm and Kubernetes**:
helm version : 2.9.1
Kubernetes : 1.10.3

**Which chart**:
gogs-0.6.0

**What happened**:
I use as value.yml
[code]
The Persistent Volumes are created  and boud to each PersistentVolumeClaim
But pods failed with this error

[code]

[2018-07-03 15:56] magowant opened #6448 "[stable/ark] optional backup schedule"
FEATURE REQUEST:

I would like to automatically create an ark backup schedule when installing the chart. The schedule would not be created by default, but there would a Helm property to enable the creation of the schedule and properties to define the various schedule parameters.

[2018-07-03 16:28] jalberto opened #6450 "[stable/grafana] dashboard provisioning not working"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
2.9.1 and 1.10.3

**Which chart**:
grafana

**What happened**:

I created a folder 'Default' and use this config:
[code]

**What you expected to happen**:
See 2 new dashbaords in grafana

**How to reproduce it** (as minimally and precisely as possible

[2018-07-03 16:39] #6442 closed

[2018-07-03 18:33] galuszkak commented on #3672
/remove-lifecycle rotten

[2018-07-04 08:32] #2647 closed

[2018-07-04 11:05] ljufa opened #6466 "[incubator/schema-registry] zookeeper jmx exporter can't be enabled"
**Is this a request for help?**:
no
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
v2.9.1 and v1.10.0

**Which chart**:
schema-registry

**What happened**:
Enabling jmx exporter on zookeeper is not producing jmx-exporter container in the pod.

[code]

**What you expected to happen**:
this condition in zookeeper/statefullset.yaml temp

[2018-07-04 12:17] Mtax commented on #1631
Same problem. Any one solved?

[2018-07-04 12:26] ljufa opened #6468 "[incubator/schema-registry] can't disable zookeeper dependency in global chart"
**Is this a request for help?**:
no
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
v2.9.1 and v1.10.0

**Which chart**:
schema-registry

**What happened**:
`kafka.enabled: false` is not going to stop zookeeper creation so it fails with `Error: release wayfaring-gecko failed: services "wayfaring-gecko-zookeeper" already exists`

**Wha

[2018-07-05 07:45] #4699 closed

[2018-07-05 09:01] jiuchongxiao opened #6478 "does have url to get the locust response time distribution?"
my focust web url is "http://192.168.181.93:30089",and the result of the url as below:
![image](https://user-images.githubusercontent.com/13093730/42313308-ff06ce2e-8074-11e8-822f-bd841b0c36c7.png)

i can get my request statistics by visite the url "http://192.168.181.93:30089/stats/requests",and the response as below:
{"errors": [], "stats": [{"median_response_time": 22, "min_response_time": 13,

[2018-07-05 09:01] jiuchongxiao commented on #6478
/locust

[2018-07-05 09:26] svyotov opened #6481 "[stable/datadog] livenessProbe fails for datadog/dogstatsd"
---
This is a BUG REPORT.

**Version of Helm and Kubernetes**:
helm: v2.7.2
kubernetes: 1.9.2

**Which chart**:
stable/datadog

**What happened**:
Kubernetes sends kill to docker as liveliness probe fails.
We observed in the docker
[code]
and after debugging we reached the conclusion this is happening due to the liveliness probe.

**What you expected to happen**:
liveliness probe not to fail

**Ho

[2018-07-05 09:52] jalberto commented on #4236
so no one thinks this is important?

[2018-07-05 10:19] juvlarN opened #6482 "[stable/hadoop] Namenode can not be elected as active NN because localhost is unknown"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: helm-v2.9.1-windows-amd64, kubernetes 1.9.1 (`Server Version: version.Info{Major:"", Minor:"", GitVersion:"v1.9.1+a0ce1bc657", GitCommit:"a0ce1bc", GitTreeState:"clean", BuildDate:"2018-03-22T21:27:02Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"li

[2018-07-05 10:49] gsemet commented on #2591
For me the mergerequest is ready to merge. Need an approver

[2018-07-05 13:25] svyotov opened #6485 "[stable/datadog] private registry support"
---
FEATURE REQUEST

**Version of Helm and Kubernetes**:
helm: v2.7.2
kubernetes: 1.9.2

**Which chart**:
stable/datadog

**What happened**:
Failed to download the docker image from a private repository

**What you expected to happen**:
Be able to download the docker image from a private repository

**How to reproduce it** (as minimally and precisely as possible):
Configure the docker image to com

[2018-07-05 14:38] GrantKlassy opened #6486 "[stable/nginx-ingress] tcp add "enable" option to create and use config map"
In the nginx-ingress chart there is a tcp section in values.yaml. If something in tcp is defined, then a tcp config map is created and it is used in controller-deployment.yaml [1]

[code]

However, this means that if a separate service wants to request for ingress to map a certain port, the config map will not be created unless we set up a key-value pair in values.yaml. In essence, if we don't set

[2018-07-05 16:34] kwill4026 commented on #6357
any update on this?

[2018-07-05 18:57] jderuere commented on #2635
@kaosmonk What do you mean by having an issue. I have the same problem and don't know how to fix it.

[2018-07-05 21:08] #3432 closed

[2018-07-06 00:35] vmalhotra22 commented on #3210
I got the same error :(

The following I tried but still it fails.

helm install --name my-release stable/spinnaker --debug --namespace spinnaker
[debug] Created tunnel using local port: '59058'
[debug] SERVER: "127.0.0.1:59058"
[debug] Original chart version: ""
[debug] Fetched stable/spinnaker to /Users/varun.malhotra/.helm/cache/archive/spinnaker-0.5.0.tgz
[debug] CHART PATH: /Users/varun.malho

[2018-07-06 06:17] #3566 closed

[2018-07-06 15:16] rbutcher opened #6506 "[stable/jenkins] Agent service does not support NodePort at deployment time"
**Is this a request for help?**:
No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**Version of Helm and Kubernetes**:
Helm:
[code]
Kubernetes:
[code]

**Which chart**:
stable/jenkins

**What happened**:
When creating a new deployment using ```helm upgrade -i -f ./some-values stable/jenkins``` with ```Master.SlaveListenerServiceType=NodePort``` the service is cre

[2018-07-06 15:32] rewt opened #6507 "Alert Manager Will Not Start"
**Version of Helm and Kubernetes**:
`Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}`

**Which chart**:
stabe/prometheus

**What happened**:
`level=info ts=2018-07-06T15:28:07.859903912Z caller=main.go:174 msg="S

[2018-07-06 18:15] rbutcher opened #6513 "[stable/jenkins] Jenkins URL is not set during deploy time"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**Version of Helm and Kubernetes**:
Helm:
[code]

Kubernetes:
[code]

**Which chart**:
stable/jenkins

**What happened**:
During deployment `JenkinsLocationConfiguration.xml` does not get filled out. If placing the instance behind an ingress you will need to go through another confi

[2018-07-06 18:29] #3503 closed

[2018-07-06 18:42] xtremerui commented on #4812
In concourse team when we set the imageTag to `4.0.0-rc.12` , the `semverCompare` considers that is a lower version to `^3.10.x` and thus makes worker failed to register to TSA.

https://github.com/kubernetes/charts/blob/fd35ab34bfd26878fb5970fbc7c3e75760df10ec/stable/concourse/templates/worker-statefulset.yaml#L81

[2018-07-06 23:14] tarioch opened #6517 "[FEATURE REQUEST] MariaDB allow to specify nodeSelector/affinity"
**Is this a request for help?**:

No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

It would be great if the mariadb chart would allow to specify nodeSelector and affinity for the master and slaves.

If there's different nodes that way the can be run on optimized hardware or can be run on the same node as pods that use the database.

[2018-07-07 00:35] #2373 closed

[2018-07-07 06:31] DylanGraham opened #6518 "[stable/wordpress] Initialisation hangs on external db connection"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm v2.9.1
k8s v1.11.0

**Which chart**:
stable/wordpress

**What happened**:
Initialisation hangs on external db connection

**What you expected to happen**:
Connection to existing db

**How to reproduce it** (as minimally and precisely as possible)

[2018-07-07 09:44] #3588 closed

[2018-07-07 22:57] #3412 closed

[2018-07-07 22:57] #3597 closed

[2018-07-08 15:13] #3337 closed

[2018-07-08 18:36] magicalbanana opened #6521 "[incubator/fluentd-elasticsearch"
**Is this a request for help?**:
Yes
---

How do you configure `fluentd-elasticsearch` to send logs from the pods (stdout) to elasticsearch? Do you still need to have a running instance of `fluentd`?

[2018-07-08 19:03] kalexmills opened #6522 "[stable/mongodb-replicaset] Pod stuck at bootstrap/peer-finder when replicas=1"
**Is this a request for help?**: YES

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
Kubernetes: 1.10.3
Helm: 2.9.1

**Which chart**:
stable/mongodb-replicaset version 3.5.1

**What happened**:
After running `helm install --name flavr8 -f mongodb-values.yaml stable/mongodb-replicaset` with mongodb-values.yaml containing only `replicas: 1`, the

[2018-07-08 20:18] #3623 closed

[2018-07-09 05:51] huang-jy commented on #3613
Closing, as no activity

[2018-07-09 05:51] #3613 closed

[2018-07-09 09:29] deruizhu opened #6530 "prometheus chart can not be installed"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug report

**Version of Helm and Kubernetes**:

Helm version:
Client: &version.Version{SemVer:"v2.10.0-rc.1", GitCommit:"aa98e7e3dd2356bce72e8e367e8c87e8085c692b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.10.0-rc.1", GitCommit:"aa98e7e3dd2356bce72e8e367e8c87e8085c692b", GitTreeSta

[2018-07-09 09:40] esanchezm commented on #6323
I think you should consider reading the [nginx-ingress customization](https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/customization) where you can find what can be set via ingress annotations or configmaps (`controller.config` section in the values.yml). Unfortunately, there are some things that are not supported and you'll probably need to open an issue there.

[2018-07-09 10:02] ppcololo commented on #5437
Add to values.yml like this:

master:
  persistence:
    storageClass: "managed-nfs-storage"

data:
  persistence:
    storageClass: "managed-nfs-storage"

[2018-07-09 10:34] davidkarlsen commented on #3289
@munnerz can this be re-attempted? I'd love to see it in the official repo!

[2018-07-09 12:41] alexvicegrab commented on #6530
Could you provide some more detail, such as the exact error message?

[2018-07-09 12:59] maver1ck commented on #2591
Are we going to merge this ?

[2018-07-09 13:35] #3381 closed

[2018-07-09 16:44] jmymy commented on #6398
What version of this chart are you using?

[2018-07-09 17:44] giggio commented on #6518
I am stuck on the same spot. I can't find apache logs. How do we debug this?

[2018-07-09 17:47] vjroxvijay1 commented on #6522
I am facing similar issue but with standard replicas 3. POD just stuck in bootstrap status for ever whenever I use Persistent volumes. It works fine for me if I dont use persistent volumes. But however, PVC claim is successfully bound and then it gets stuck in bootstrap status in the init script with parameters /work-dir/peerfinder

[2018-07-09 17:49] vjroxvijay1 commented on #6522
My install command - helm install --name test -f values.yaml stable/mongodb-replicaset

values.yaml -

replicas: 3
port: 27017

replicaSetName: rs0

podDisruptionBudget: {}
  # maxUnavailable: 1
  # minAvailable: 2

auth:
  enabled: false
  # adminUser: username
  # adminPassword: password
  # key: keycontent
  # existingKeySecret:
  # existingAdminSecret:

# Specs for the Docker image for the ini

[2018-07-09 17:52] giggio commented on #2960
I can confirm this problem still happens. I just tried with the latest `stable/wordpress` version (`2.1.2`).

[2018-07-09 19:01] jmreicha opened #6559 "[stable/sumologic-fluentd] Way to collect non k8s container logs?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): `Feature request`

Describe *in detail* the feature/behavior/change you'd like to see.

I noticed that there is currently no configuration option to allow log collection for paths outside of the default /var/log/container location.

It would be useful to be able to specify the path to other log file locations so that they can be collected

[2018-07-09 20:35] anupshrestha commented on #4773
@saplla I am seeing the same issue and tried out your changes. It successfully started up the first replica set host but the second is hung on the bootstrap init container stage.

    2018/07/09 20:07:26 Peer list updated
    was []
    now [mongodb-mongodb-replicaset-0.mongodb-mongodb-replicaset.default.svc.cluster.local
    mongodb-mongodb-replicaset-1.mongodb-mongodb-replicaset.default.svc.clus

[2018-07-09 20:42] #3468 closed

[2018-07-09 22:00] costimuraru opened #6561 "[stable/newrelic-infrastructure] failed to discover kube-state-metrics endpoint"
**Is this a request for help?**: Yes
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
[code]
[code]
**Which chart**:
`stable/newrelic-infrastructure`

**What happened**:

The `newrelic-infrastructure` chart requires `kube-state-metrics` with the label `k8s-app: kube-state-metrics`.
There does not seem to be a way to set that particular labe

[2018-07-09 22:30] timshoaf commented on #2591
Would really love to see this included.

[2018-07-10 00:28] bhack opened #6563 "openfaas operator"
What about adding  [openfaas-operator](https://github.com/openfaas/faas-netes/tree/master/chart/openfaas#openfaas-operator--crd-controller)?

/cc @alexellis

[2018-07-10 01:27] ohmanandam opened #6564 "Prometheus Helm rule_files does not load alert into prometheus server"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG Report

**Version of Helm and Kubernetes**:
Helm: 2.9.1
Kubernetes: v1.10

**Which chart**:
stable/Prometheus

**What happened**:
I am able to bring up Prometheus, Alertmanager, Node exporter, Push Gateway and Kube State matrix containers via this chart and able to scrape my prometheus endpoint

[2018-07-10 02:41] chainlink commented on #3403
Any update on this?

[2018-07-10 07:50] chrisatomix opened #6566 "[stable/wordpress] Image uploads over 1MB fail when using NFS Persistent Volumes"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT?**
Yes

**Version of Helm and Kubernetes**:
Helm 2.9.1
Kubernetes v1.10.4-gke.0 (Google Kubernetes Engine)

**Which chart**:
stable/wordpress (2.1.1)

**What happened**:
After deploying the WordPress Helm Chart on a Kubernetes Cluster with a single Replica and a standard PersistentVolume, I was able to upload as many files/images as

[2018-07-10 08:55] varunpalekar commented on #5977
I am also agree with @7CHANHO . We should add redis exporter as sidecar as this is prometheus way to monitor. We can also add this to stable/redis-ha chart

[2018-07-10 11:29] alexellis commented on #6563
Hi thanks for the ping.

We have a chart repo on GitHub pages for OpenFaaS, perhaps this repo could sync from our upstream?

https://github.com/openfaas/faas-netes/tree/master/chart/openfaas

Cc @stefanprodan

[2018-07-10 11:40] bhack commented on #6563
@alexellis Yes could be ideal.

[2018-07-10 12:36] ferrarimarco commented on #3919
@moneydance one way could be what grafana chart is doing: https://github.com/kubernetes/charts/blob/master/stable/grafana/templates/ingress.yaml

[2018-07-10 13:59] #3398 closed

[2018-07-10 14:59] guleng opened #6570 "spinnaker-create-bucket-sfb8s Startup failure"
###Issue Summary:
helm install spinnaker after spinnaker-create-bucket-sfb8s Startup failure

###Cloud Provider(s):
local kubernetes cluster

###Environment:
kubernets 1.9.1
helm 2.8.1

###Feature Area:
China、

###Description:
kubectl get pod -n spinnaker -o wide
NAME READY STATUS RESTARTS
spinnaker-create-bucket-sfb8s 0/1 CrashLoopBackOff 10
kubectl logs -n spinnaker spinnaker-create-bucket-sfb8s

[2018-07-10 15:10] guizmaii opened #6572 "[stable/datadog] error while creating mount source path '/opt/datadog-agent/run': mkdir /opt/datadog-agent: read-only file system"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:

Helm v2.9.1
k8s 1.9.7-gke.3

**Which chart**:

stable/datadog

**What happened**:

Since this commit: https://github.com/kubernetes/charts/commit/ebfd2957a94d4c7f70ef69deb29c43a2813f9794#diff-e329e0fe977392337a5d8ded00798a9a

there're 2 new config keys

[2018-07-10 16:00] tomahawk28 opened #6577 "Neo4j replica deployment should include NEO4J_ACCEPT_LICENSE_AGREEMENT variable"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm
[code]
Kubernetes:
[code]
**Which chart**:
`stable/neo4j`

**What happened**:
if you scale `neo-helm-neo4j-replica` after installing stable/neo4j chart(initially size=0), all replica pods are crashed since NEO4J_ACCEPT_LICENSE_AGREEMENT are not set.
[code]
**What you expected to happen**

[2018-07-10 16:24] mneedham commented on #6577
Hey,

It's deliberately like that so that users would explicitly set that flag indicating that they accept the license. There was a long discussion thread about that variable somewhere on GitHub but I can't seem to find it at the moment.

@moxious can you remember the thread?

[2018-07-10 16:33] tomahawk28 commented on #6577
Do you mean, even if user set an agreement variable during helm install,
you should do that again when you scale up your replicated neo4j?

On Tue 10. Jul 2018 at 18:24, Mark Needham <notifications@github.com> wrote:

[2018-07-10 17:05] moxious commented on #6577
Hi guys -- yes a while back I tried to introduce a change into the public helm chart to auto-accept the license.  That got fairly substantial pushback, and I ended up closing the PR for this and other reasons.   That full thread can be found here: https://github.com/kubernetes/charts/pull/4460

In general, the thinking is that because the underlying docker container requires explicit "yes" on the

[2018-07-10 21:06] #2898 closed

[2018-07-10 21:06] #3488 closed

[2018-07-11 01:54] toddlers opened #6589 "[stable/artifactory] Artifactory license did not get picked up"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:

Helm

[code]

Kubernetes

[code]

**Which chart**:

[code]

**What happened**:

Installing the chart by following the guide .

[code]
License didn't get installed .

We tried the `--dry-run` too . It shows nothing about the secrets getting mounted there.

**What you expected to happen**:

Ar

[2018-07-11 06:49] kc004 commented on #6398
@jmymy  I am using official kubernetes chart. [https://github.com/kubernetes/charts/tree/master/stable/openvpn](https://github.com/kubernetes/charts/tree/master/stable/openvpn)

[2018-07-11 07:05] jiuchongxiao opened #6591 "locust how to send post reqeusts body type is raw"
![image](https://user-images.githubusercontent.com/13093730/42555766-f418ffc2-851b-11e8-8211-3fc3da7da264.png)

the above is the post reqeust by postman, this type request how to send reqeust by locust?

[2018-07-11 07:51] tomahawk28 commented on #6577
Hi, @moxious
For this problem,

Could we simply put the same env variable in `stable/neo4j/templates/readreplicas-deployment.yaml`
[code]
I double-checked it solves my problem.

[2018-07-11 08:30] #6591 closed

[2018-07-11 08:30] #6478 closed

[2018-07-11 09:31] maver1ck commented on #6293
You don't need to update chart for that.
Change only imageTag in configuration to 1.6.4.

[2018-07-11 14:42] jlegrone opened #6599 "Circle CI not reporting statuses to GitHub"
Circle CI Project: https://circleci.com/gh/kubernetes

I'm not a member of the org so I can't debug the configuration, but it looks like the last commit to have a status reported was b0061e9c20ec4097abb3d08e50c990941bfe001d on June 28th:

https://github.com/kubernetes/charts/commits/master?after=f3aa26446329150f9569b1664fb6228f2eddeb9a+0

[2018-07-11 14:42] jlegrone commented on #6599
/assign @unguiculus

[2018-07-11 14:47] jlegrone commented on #6599
Also cc @mattfarina

[2018-07-11 16:35] xtal0 commented on #6530
I am seeing the same thing with the error "Error: no available release name found".

[2018-07-11 17:07] huang-jy commented on #3723
Have you tried increasing the resource requests as per https://github.com/kubernetes/charts/issues/3723#issuecomment-402112213 ?

[2018-07-11 22:17] rjain15 opened #6613 "[stable/concourse] Concourse helm install fails with ClusterRoleBinding/RBAC error"
**Version of Helm and Kubernetes**:
Client: v2.9.1
Server: v2.9.1
kubectl / GKE : 1.9

**Which chart**:
Concourse

**What happened**:
The `helm install stable/concourse` fails with error
`Error: release concourse failed: clusterroles.rbac.authorization.k8s.io "concourse-web" is forbidden: attempt to grant extra privileges: [PolicyRule{Resources:["secrets"], APIGroups:[""], Verbs:["get"]}] user=&{s

[2018-07-12 01:02] grantga commented on #1631
@Mtax we hit this as well and I believe what happens is that the internal mongo replica set configuration has old pod ips that are no longer valid after a redeploy.

If you remote into the mongo primary pod you can see the replicat set configuration with:
`cfg = rs.conf()`
which gives:
[code]

In my case all the members were pointing to old IPs.

I updated them to the current pod IPs as follows:
[

[2018-07-12 07:40] #3437 closed

[2018-07-12 09:30] deruizhu commented on #6530
hi, thanks. when I downgrade my helm version, the problem is fiexed.

  On July 11, 2018 at 6:35 PM Crystal Barnes <notifications@github.com> wrote:

 I am seeing the same thing with the error "Error: no available release name found".
 —You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or mute the thread.

 

[2018-07-12 09:31] embik opened #6619 "[stable/metrics-server] Expose command parameters to specify a metrics source"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**: `stable/metrics-server`

**What happened**:
It is not possible to set the metrics-server pod command parameters to specify a different metrics source. This is a problem because with our Kubernetes deplyoment as ku

[2018-07-12 09:32] embik commented on #6619
ping @olemarkus (hope it's fine to ping you for issues related to `stable/metrics-server`).

[2018-07-12 09:42] olemarkus commented on #6619
No problem. I can create a PR for this if you don't want to. It usually takes a while to get it merged though.

[2018-07-12 09:45] embik commented on #6619
That would be awesome, no pressure though. As we already have existing specs for metrics-server deployments it's not urgent, but would be kind of neat.

[2018-07-12 14:26] J-Ha commented on #6421
ill ran into the same problem and found a solution.
the hotrod container needs to be startet with this commands
[code]

[2018-07-12 15:44] xvello commented on #5671
First and foremost, please keep in mind that using a load-balanced `Service` will require you to properly force the metrics/traces hostname at emission, as the hostname added by the agents will be non-deterministic. This is why our recommended method is to directly talk to the local agent via a host port, or a unix socket (for dogstatsd).

Adding the service to daemonset installs is in our roadmap

[2018-07-12 17:36] adaniline opened #6624 "[stable/wordpress] Readiness probe fails with external db"
**Version of Helm and Kubernetes**:
helm: 2.9.1
k8s: 1.9.8

**Which chart**:
stable/wordpress

**What happened**:
Pod hangs on DB initialization, Apache does not listen on port 80, readiness/liveliness probes fail

**What you expected to happen**:
Pod should start and become ready

**Anything else we need to know**:
Configured with external MySQL db, WP creates and populates MySQL tables.

[code]

[2018-07-12 19:18] benmathews opened #6626 "[stable/mongodb-replicaset] custom initialization"
**Is this a request for help?**:
Yes

FEATURE REQUEST

**Version of Helm and Kubernetes**:
Server: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"clean", BuildDate:"2018-03-21T15:13:31Z", GoVersion

[2018-07-13 04:01] toddlers commented on #6589
I've an update for this .

I tried with the master branch and it worked fine . My license and bootstrap config too got picked up fine.

[2018-07-13 04:11] dvasdekis commented on #6096
Duplicate of #5266

[2018-07-13 04:31] sandeepmendiratta commented on #6564
Can you try rules like that?
[code]

[2018-07-13 05:38] ohmanandam commented on #6564
I had a similar alert  rule config defined in my rule_files
rule_files:
- /home/ohm/work/rules1.rules

The Alert rule file contains the latest yaml spec from Prometheus as below

groups:
- name: example
  rules:
  - alert: HighErrorRate
    expr: Success_Count > 1
    for: 10s
    labels:
      severity: critical
    annotations:
      summary: High request latency

I tried your recommended record

[2018-07-13 05:48] #6589 closed

[2018-07-13 05:48] ohmanandam commented on #6564
I have also tried adding this alert rule in serverFiles: alerts section, and this also does not get picked by prometheus server when the helm chart is installed.

serverFiles:
  alerts:
    groups:
    - name: example
      rules:
      - alert: HighErrorRate
        expr: Success_Count > 1
        for: 10s
        labels:
          severity: critical
        annotations:
          summary: High r

[2018-07-13 10:45] nickrobertssky opened #6631 "[incubator/jaeger] No way to alter default remote sampler configuration"
**Is this a request for help?**: Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm 2.8.2
Kubernetes v1.10.3

**Which chart**:
incubator/jaeger

**What happened**:
The agent-sampling port on the jaeger-agent service returns the following default configuration:
[code]
I can't find a way to change this when installing Jaeger thro

[2018-07-13 11:07] #3496 closed

[2018-07-13 14:31] kovszilard opened #6634 "nginx-ingress metrics service extra labels"
**Is this a request for help?**: NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Currently, it is not possible to add custom labels to nginx-ingress metrics service. It would be useful for people who use prometheus-operator since the ServiceMonitor CRD finds services using label selectors.

**Version of Helm and Kubernetes**: NA

**Which chart**: nginx-ingress

[2018-07-13 14:37] michaelgeorgeattard opened #6635 "[stable/nginx-ingress] Possible wrong template"
In `templates/controller-deployment.yaml` we have:

[code]

Shouldn't the `containerPort` use `$value` instead of `$key`?

[2018-07-13 20:51] sjentzsch commented on #3580
/remove-lifecycle rotten

[2018-07-13 22:23] davidkarlsen commented on #1079
How did it go @mbarison ?

[2018-07-13 22:58] gkarthiks commented on #5239
@gyurobenjamin
this command actually reconfigures the client as well. Not just the `tiller` server. I don't want my client to reconfigure. Because I have already updated version of my client and configured some repo and working with other compatible tillers in other namespaces.

[2018-07-14 00:29] RaymondArias commented on #3403
pr #4038 makes the pods in a stateful again. While there is no pvc with this pull request I think It would be pretty easy to add the option for a pvc deployment, at least for the redis pod

[2018-07-14 08:30] ozbillwang opened #6639 "[stable/kubernetes-dashboard] status CrashLoopBackOff"
**Version of Helm and Kubernetes**:

[code]
**Which chart**:

stable/kubernetes-dashboard

version: 0.7.1

**What happened**:
install with default value, but status is always `CrashLoopBackOff`

**What you expected to happen**:

Of course, I need see a running status.

**How to reproduce it** (as minimally and precisely as possible):

        helm install stable/kubernetes-dashboard

**Anything el

[2018-07-14 08:32] ozbillwang commented on #6639
Seems it is same issue as #5493

[2018-07-14 08:32] #6639 closed

[2018-07-14 08:37] ozbillwang commented on #5493
I have the same issue and fixed with clusterAdminRole to true. Thanks.

But my question is, could we split all charts into seperate repositories? With that I can try old versions, if latest version doesn't work for me.

Does helm support to install chart with release/version?

[2018-07-14 18:38] #3087 closed

[2018-07-15 07:03] c-knowles commented on #6481
We hit the same problem (I added the probe to the chart). I filed https://github.com/DataDog/datadog-agent/issues/1640, hope Datadog can fix it soon or we have to add a switch to the chart. FYI the https://github.com/DataDog/docker-dogstatsd repo is deprecated according to the readme.

For now we use `--chartVersion=0.10.11` on install to workaround this issue.

[2018-07-15 07:05] c-knowles commented on #4160
This was already resolved in https://github.com/kubernetes/charts/pull/3938.

[2018-07-15 07:15] c-knowles opened #6644 "[stable/datadog] Direct support for live process monitoring"
Datadog Process Monitoring allows for real-time visibility of the most granular elements in a deployment.

It would be good to add direct support via a flag rather than having to figure out which options to override and if they are set correctly. It can be done today by adding the env var plus mount overrides just it'd be neater to have an option. It would also be more automated for users upgradin

[2018-07-15 07:29] c-knowles opened #6645 "[stable/datadog] Direct support for DogStatsD unix socket collection"
Ingestion of DogStatsD metrics via a Unix Domain Socket instead of UDP, holds [a few advantages](https://docs.datadoghq.com/developers/dogstatsd/unix_socket/).

It would be good to add direct support via a flag rather than having to figure out which options to override and if they are set correctly. It can be done today by adding the env vars, mount overrides plus `useHostPID ` just it'd be neater

[2018-07-15 16:28] #5379 closed

[2018-07-15 16:35] consideRatio commented on #1863
@jfelten

StatefulSets allow you to use a `volumeClaimTemplates`, but you can also declare `volumes` as you do within deployments, and `volumeMount` for a container in the pod. At least I've done so, but I did not use a `volumeClaimTemplates` field at the same time.

[2018-07-15 17:00] gianrubio commented on #3096
/remove-lifecycle stale

[2018-07-15 18:01] #3741 closed

[2018-07-15 18:01] #3743 closed

[2018-07-15 23:58] javajon opened #6648 "stable/sonarqube errors when used with image.tag: 7.1-alpine"
**Is this a request for help?**: No, just reporting error and hint for a way to fix it

---
BUG REPORT

**Version of Helm and Kubernetes**: Minikube 0.28.0, Kubernetes 1.10.0, Helm 2.9.1

**Which chart**:   stable/sonarqube

**What happened**:

Start helm chart with default values.yaml with

image.tag | sonarqube image tag. | 6.5

and it works fine.  If you change the image.tag to latest "7.1-alpi

[2018-07-16 07:37] davidkarlsen commented on #6530
@deruizhu You can only close it yourself. Please do so.

[2018-07-16 07:48] #6530 closed

[2018-07-16 08:40] yangchao0512 opened #6649 "Can't create repl user on mysql master node"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm version: Client:v2.8.2  Server:v2.8.2
Kubernetes version:v1.9.5

**Which chart**:
mysqlha

**What happened**:
Can't create repl user on master node, create-replication-user.sql is null.
These things happen occasionally.

**What you expected to happen

[2018-07-16 09:15] sc250024 opened #6650 "Helm templates cannot handle boolean 'false' for extraArgs"
**Is this a request for help?**: **No**

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **BUG REPORT**

**Version of Helm and Kubernetes**:

Helm:
[code]

Kubernetes: **v1.9.9**

**Which chart**: Several, but for my case, **stable/oauth2-proxy**

**What happened**:

This is actually more of a problem with the Mustache templating, or perhaps how the charts are written. I'm using [O

[2018-07-16 12:19] #3750 closed

[2018-07-16 13:41] benmathews commented on #6626
@foxish, @unguiculus

[2018-07-16 14:22] rajkumar49 opened #6655 "Error: failed to download "incubator/fluentd-cloudwatch""
please help to fix!
buntu@ip-10-0-x-x:~$ helm install --name fluentd-cloudwatch \

Error: failed to download "incubator/fluentd-cloudwatch" **(hint: running `helm repo update` may help)**

[2018-07-16 14:43] rajkumar49 commented on #6655
I can able to successfully update the helm repo and download the redis from the repo. but not able to download the **incubator/fluentd-cloudwatch**

[2018-07-16 15:22] #3344 closed

[2018-07-16 15:41] michaelgeorgeattard opened #6660 "[stable/nginx-ingress] ingress-controller-leader-nginx configmap not removed on chart delete"
After chart is deleted, `ingress-controller-leader-nginx` chart is still kept intact. This should probably be deleted.

[2018-07-16 19:24] scottcrespo commented on #3580
@pswenson
@unguiculus

I think this is a very critical feature to have, as far as database management best practices is concerned. I believe the ability to utilize existing PVCs is important for 3 different scenarios: (1) disaster recovery, (2) rapid horizontal scaling, and (3) major volume changes.

Perhaps specifying existing PVCs can occur on `helm install` and it would be really nice if it cou

[2018-07-17 02:37] gabrielgrant commented on #3240
/reopen

Afaict this is still an issue (i seem to be running into the same problem)

[2018-07-17 05:41] zhill commented on #5988
hi @MMartyn , I'll take a look at the minikube process. I've had issues with some networking configuration in the past due to the way minikube sets up the network and that anchore-engine interacts with both other pods as well as its own pod (for local services). I'm getting ready to roll and upgrade for the helm chart so I'll double-check minikube compatibility as well. We definitely expect miniku

[2018-07-17 06:30] zhill commented on #5988
@MMartyn I ran into the issue, which is https://github.com/kubernetes/minikube/issues/1568, where pods that are part of a service cannot reach each other via the service dns name (but localhost works if in same pod). So this looks to be a minikube issue independent of the anchore chart itself.

You can verify by exec into the anchore-engine core pod and trying to curl from the service name:
`curl

[2018-07-17 07:20] xvello commented on #6572
Hello @guizmaii,

This volume is currently needed for persisting the tailing state of log files and container logs. Without it, an agent restart would throw duplicate data into the log stream. We'd welcome a PR to make the path configurable it that can help.

Regards

[2018-07-17 07:54] Mikulas commented on #6507
This is same as those two issues:
https://github.com/prometheus/alertmanager/issues/1271
https://github.com/prometheus/alertmanager/issues/1434

I've patched the deployment as

[code]

and alertmanager starts.

<details>
level=info ts=2018-07-17T07:52:02.776561077Z caller=main.go:320 msg="Loading configuration file" file=/etc/config/alertmanager.yml
level=info ts=2018-07-17T07:52:02.776820037Z cal

[2018-07-17 07:54] rajkumar49 commented on #6655
added the incubator repo to helm, fixed the issue.

[2018-07-17 07:54] #6655 closed

[2018-07-17 07:57] rajkumar49 opened #6669 "standard_init_linux.go:178: exec user process caused "no such file or directory"
$ kubectl --namespace=default get pods -l "app=fluentd-cloudwatch,release=fluentd-cw"
NAME                                  READY     STATUS             RESTARTS   AGE
fluentd-cw-fluentd-cloudwatch-cw5cm   0/1       CrashLoopBackOff   1          22s
fluentd-cw-fluentd-cloudwatch-zplcp   0/1       Error              2          22s
$ kubectl logs -f fluentd-cw-fluentd-cloudwatch-zplcp
**standard_ini

[2018-07-17 08:31] rajkumar49 commented on #6669
Also, I want to send logs to AWS cloudwatch, I am using the **kube2iam** pods in kubernetes. how to give access to AWS to create AWS role automatically by Kube2iam?

[2018-07-17 09:14] vidhy opened #6670 "[inclubator/kafka] Accessing Kafka outside kubernetes not working"
**Is this a request for help?**:
Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Version of Helm and Kubernetes**:
Helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

 Kubern

[2018-07-17 09:44] NicolasT opened #6671 "stable/fluent-bit: `http` under `parsers` should be under `backend`"
https://github.com/kubernetes/charts/blob/79c0b39dee76d59013233171c2c27ce47b707d55/stable/fluent-bit/values.yaml#L52 looks wrong, introduced in 7da6e88d1. Could be an oversight or a merge-gone-wrong.

The use of `.Values.backend.http.host` and others in `config.yaml` seems to confirm this.

CC @kfox1111 @edsiper

[2018-07-17 09:47] NicolasT opened #6672 "stable/fluent-bit: Templates don't specify `chart`/`release`/`heritage` labels on objects"
CC @kfox1111 @edsiper

[2018-07-17 09:49] eloo opened #6673 "[stable/grafana] DataSource provising using config-map is buggy"
**Version of Helm and Kubernetes**:
Using minikube (but also reproducable in real k8s cluster)
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

**Which chart**:
Grafana 1.12.0

**What happened**:
When changing da

[2018-07-17 09:50] NicolasT commented on #6672
Related, the `Service` *selector* is likely too broad, only selecting on `app`.

[2018-07-17 09:52] NicolasT commented on #6672
Related, the `Service` *selector* is likely too broad, only selecting on `app`.

[2018-07-17 10:17] thomas-riccardi commented on #5057
/remove-lifecycle stale

[2018-07-17 10:19] saplla commented on #6450
Just hit this too. The dashboard sidecar writes my JSON file to /tmp/dashboards, and `/etc/grafana/provisioning/dashboards/providers.yaml` is configured to point to this path. There are no dashboards in grafana though, and reloading the pod (kill 1) doesn't help either.

There's an [updateIntervalSeconds setting](http://docs.grafana.org/administration/provisioning/#dashboards) documented but this

[2018-07-17 11:03] saplla commented on #6450
Checking the grafana logs in my case this looks to be purely a grafana issue.

[2018-07-17 11:24] rajkumar49 opened #6674 "repo incubator/elastic-stack kibana not able to resolve to elastic-search"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
$ helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"

$ kubectl v

[2018-07-17 11:44] mprzygrodzki opened #6675 "[incubator/fluentd-elasticsearch] - can't install additional GeoIP plugin"
Hello,

I'm trying to install on existing fluentd-elasticsearch deployment on pod additional plugin called GeoIP output plugin but installation fails all the time.

**Which chart**:
[incubator/fluentd-elasticsearch]

**What happened**:
Trying to add to existing configuration another plugin called fluentd-geoip-plugin:

**Running following commands:**
[code]

**Produces following output:**
[code]
*

[2018-07-17 13:07] mprzygrodzki commented on #6675
I believe i've managed to get this working, have to install additional packages in following order:

[code]
Will try to build some custom docker image with this prerequisites installed.

[2018-07-17 13:07] #6675 closed

[2018-07-17 14:39] rajkumar49 commented on #6674
I have even upgraded kubernetes to version 1.9.9 . but still same issue
![image](https://user-images.githubusercontent.com/16345902/42824304-341c0f3e-89fd-11e8-8307-b634a06ca1c9.png)

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.5", GitCommit:"f01a2bf98249a4db383560443a59bed0c13575df", GitTreeState:"clean", BuildDate:"2018-03-19T15:59:24Z", GoVersion:"go1.9

[2018-07-17 14:44] eloo commented on #6673
Maybe it would be enough to not use a sidecar for datasources but use a configmapoverride like the prometheus chart has?

[2018-07-17 18:40] sc250024 commented on #6650
Yep, I'm a noob. Better to use the `values.yaml` file, then it's much more tolerant.

[2018-07-17 18:40] #6650 closed

[2018-07-17 19:20] SupriyaKasten opened #6686 "incubator/elasticsearch: unable to set path.repo"
**Is this a request for help?**:
Yes

**Version of Helm and Kubernetes**:
[code]
helm version
Client: &version.Version{SemVer:"v2.8.1", GitCommit:"6af75a8fd72e2aa18a2b278cfe5c7a1c5feca7f2", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.8.2", GitCommit:"a80231648a1473929271764b920a8e346f6de844", GitTreeState:"clean"}
[code]
{"error":{"root_cause":[{"type":"repository_exception","reason"

[2018-07-17 20:03] ctrom commented on #2538
/remove-lifecycle stale

[2018-07-17 21:13] jlegrone commented on #6599
Per conversation on slack: this is due to third-party apps being disabled on the kubernetes github organization.

[2018-07-18 00:00] ozbillwang opened #6689 "[incubator/kafka] Get metrics with jmx_prometheus_javaagent or jmx_prometheus_httpserver?"
**Is this a request for help?**:

It is a discussion about how to get proper metric (memory and CPU usage) in kafka, with current setting, it can't.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

it should be a feature request. With exist command running in metric container in kafka pod, I can see the metrics with `java_`, and `kafka_`, but I can't see any `jvm_` metrics.

**Version

[2018-07-18 06:16] gcontini opened #14607 "https://kubernetes-charts.storage.googleapis.com not reachable in China. Set up a mirror."
The site "https://kubernetes-charts.storage.googleapis.com" is blocked by the Chinese country wide firewall (GFW).

This causes errors during helm init:
[code]

There are unofficial mirrors such as
 * https://burdenbear.github.io/kube-charts-mirror
 * https://kubernetes.oss-cn-hangzhou.aliyuncs.com/charts

But they're far from being stable. Please provide an "official" mirror on a non-googleish we

[2018-07-18 06:32] wzt3309 commented on #4204
your answer help me a lot!
 thank you !!! @shahbour

[2018-07-18 08:42] swibrow commented on #6669
Seeing this same issue. Is this related to the latest release of busybox?

[2018-07-18 09:10] swibrow commented on #6669
Add this to your values file
[code]

[https://github.com/fluent/fluentd-kubernetes-daemonset/issues/164](url)

[2018-07-18 09:16] yangchao0512 opened #6692 "Slave node can't synchronous from master node"
**Is this a request for help?**:

Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
Helm Version:v2.8.2
Kubernetes Version:v1.9.5
**Which chart**:
mysqlha

**What happened**:

If you shutdown or delete slave pod,the slave container can't synchronous from master pod.

**What you expected to happen**:

Master slave node normal replication

**How

[2018-07-18 09:21] rajkumar49 commented on #6669
**2018-07-18 09:18:58 +0000 [error]: unexpected error error_class=Errno::EACCES error=#<Errno::EACCES: Permission denied @ rb_sysopen - /var/log/fluentd-containers.log.pos>**
  2018-07-18 09:18:58 +0000 [error]: /fluentd/vendor/bundle/ruby/2.4.0/gems/fluentd-0.12.43/lib/fluent/plugin/in_tail.rb:145:in `initialize'
  2018-07-18 09:18:58 +0000 [error]: /fluentd/vendor/bundle/ruby/2.4.0/gems/fluentd-

[2018-07-18 09:23] rajkumar49 commented on #6669
hi @swibrow ,
i changed as above with tag: v0.12.43-cloudwatch
getting above error

[2018-07-18 09:58] gianrubio commented on #4171
PR #5569 was merged with this FR

[2018-07-18 10:05] guizmaii commented on #6572
Good idea.

I can try to make a PR for that. Or, maybe, you prefer to do it yourself ?

[2018-07-18 10:19] guizmaii commented on #6572
Here's the PR: https://github.com/kubernetes/charts/pull/6695 😉

[2018-07-18 10:41] sanverm2 opened #6697 "[stable/minio] subPath: "" is misplaced in values.yaml"
In values.yaml it is declared as:

[code]

Whereas it is being accessed as part of  Values.persistence:

[code]

subPath: ""  should go under Values.persistence. in values.yaml.

[2018-07-18 11:06] briantopping commented on #5129
/remove-lifecycle stale

[2018-07-18 11:31] djsd123 commented on #6655
Glad you got it sorted.  Anyone viewing this in the future can find the instructions [here](https://github.com/kubernetes/charts#how-do-i-enable-the-incubator-repository)

Essentially, just run:
`helm repo add incubator https://kubernetes-charts-incubator.storage.googleapis.com/`

[2018-07-18 11:53] ameier38 commented on #2991
I was getting the same error on Windows 10 using Docker Kubernetes. I fixed it by using the internal docker DNS `host.docker.internal` and adding to insecure registries. The internal DNS resolved the `connection refused` issue. And adding to insecure registries resolve the `HTTP response to HTTPS client` issue.

#### Steps:

Add to insecure registries in the docker daemon settings:
[code]
Forward

[2018-07-18 12:45] ohmanandam commented on #6564
I am unable to make the current helm chart work with any rules/alerts configured either via serverFiles or rule_files. I also could not find enough documents that demonstrate a working end to end configuration of  stable/prometheus charts, it seems that this version is not supported enough.

[2018-07-18 12:45] #6564 closed

[2018-07-18 13:03] cholick opened #6699 "[incubator/elasticsearch] Need Truncation Filter on Service Name"
**BUG REPORT**

**Version of Helm and Kubernetes**:
Any

**Which chart**:
[incubator/elasticsearch]

**What happened**:
Choosing a long name causes failure:
[code]

**What you expected to happen**:
Success

**How to reproduce it** (as minimally and precisely as possible):
[code]

[2018-07-18 13:12] rajkumar49 commented on #6669
hi @swibrow , please update the "fluentd-cloudwatch" incubator repo with the correct docker image tag.

[2018-07-18 13:43] swibrow commented on #6669
Hi @rajkumar49, not too sure about the error you're getting now. Are you using all the chart defaults?

 Regarding the PR, I've opened one with the updated tag.

[2018-07-18 13:56] jimbeck opened #6700 "Allow Filebeat to pass in annotations to the daemonset"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
**FEATURE REQUEST**

We want to be able to pass in configurable annotations to the filebeat daemonset.<br>
Our use case is that we need filebeat to write to aws elasticsearch service. We have kube2iam configured and need to add an annotation to the filebeat daemonset so that it can assume an iam rol

[2018-07-18 13:56] rajkumar49 commented on #6669
@swibrow , i have used both options - 1. all defaults with --set awsRole flag , 2. with values.yaml with small edits like aws region , aws log group name etc...

for example :
helm install --name fluentd-cloudwatch2 --set awsRole=CloudwatchPodLogs incubator/fluentd-cloudwatch

[2018-07-18 14:01] swibrow commented on #6669
awsRole needs to be the role ARN eg: **arn:aws:iam::1234567890:role/fluentd-cloudwatch** which also requires kube2iam running in your cluster [https://github.com/kubernetes/charts/tree/master/stable/kube2iam](url)

[2018-07-18 14:22] rajkumar49 commented on #6669
hi @swibrow , i have used the full ARN of role  in the  --set awsRole flag , also i am using the kube2iam with my AWS accesskey and secret access key.
**still getting this below ERROR:**
[fluentd-cloudwatch6-5hch7] 2018-07-18 14:19:51 +0000 [error]: unexpected error error_class=Errno::EACCES error=#<Errno::EACCES: Permission denied @ rb_sysopen - /var/log/fluentd-containers.log.pos>

[2018-07-18 15:53] MMartyn commented on #5988
@zhill That was totally it. Thanks for the help. Much appreciated.

[2018-07-18 15:53] #5988 closed

[2018-07-18 20:15] zxjinn opened #6715 "[stable/prometheus] Prometheus Alertmanager Deployment strategy references wrong variable"
In the stable/prometheus alertmanager deployment file:
https://github.com/kubernetes/charts/blob/09be94a0c031b80175bd42f41929fae635782364/stable/prometheus/templates/alertmanager-deployment.yaml#L14-L16

Both variables should be `.Values.alertmanager.strategy` not `.Values.server.strategy`

[2018-07-18 23:31] jasonkeene opened #6719 "[incubator/vault] Path is broken on GKE"
**Is this a request for help?**: nope

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug

**Version of Helm and Kubernetes**:

[code]

**Which chart**: incubator/vault

**What happened**: We used the chart on GKE. When we enabled the ingress it would return `default backend - 404` on any request other than `/`. Apparently, the gcp ingress class handles the `path:` value different

[2018-07-19 07:06] whereisaaron commented on #5154
/remove-lifecycle stale

Still an issue.

[2018-07-19 09:39] Krishna1408 commented on #6635
This is correct. This is how looping works.
[code]

[2018-07-19 10:13] bramvdklinkenberg commented on #5984
Issue doesn't occure (anymore) on AKS.

[2018-07-19 10:13] #5984 closed

[2018-07-19 10:30] tkuther commented on #5608
extraConfigMapMounts would be another solution.

[2018-07-19 11:12] seyhbold commented on #5156
/remove-lifecycle stale

[2018-07-19 11:48] swibrow commented on #6669
I'm also seeing these errors but the logs are still being forwarded. I will look into it in the next days.

[2018-07-19 12:04] rajkumar49 commented on #6669
@swibrow , thanks . in my case the fluentd process is getting shut down.

[2018-07-19 12:54] swibrow commented on #6669
So a temp fix is to run the fluentd user as root.

add this line to your values file
extraVars:
  - "{ name: FLUENT_UID, value: '0' }"

this should get you up and running.

[2018-07-19 13:12] rajkumar49 commented on #6669
@swibrow  please help to solve this . the extraVars above helped to solve the permission denied error.

[fluentd-cloudwatch8-vdgdm] 2018-07-19 13:08:03 +0000 [warn]: temporarily failed to flush the buffer. next_retry=2018-07-19 13:08:35 +0000 error_class="Aws::CloudWatchLogs::Errors::AccessDeniedException" error="User: arn:aws:sts::XXXXXXX:assumed-role/nodes.myfirstcluster.k8s.local/i-08458xxxxxx

[2018-07-19 13:16] maver1ck opened #6727 "[stable/traefik] option to configure tls for ingress"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm v2.9.1
Kubernetes v1.9.6

**Which chart**:
Traefik

**What happened**:
There is no possibility to configure tls section in ingress

**What you expected to happen**:
TLS section can be configured

**Anything else we need to know**:
Example chart with TLS:
https://github.com/kubernet

[2018-07-19 13:18] swibrow commented on #6669
Seems like your IAM role doesn't have access to Cloudwatch

[2018-07-19 14:01] rajkumar49 commented on #6669
Hi @swibrow , thanks , i given the Cloudwatch access permission to that role , now i can see logs in cloudwatch logs .

[2018-07-19 14:08] tomnocon commented on #5160
New keycloak version support additional JDBC parameters, so it is possible to enable ssl mode.

[2018-07-19 14:08] #5160 closed

[2018-07-19 16:48] robdefeo commented on #5157
/remove-lifecycle stale this is still an issue

[2018-07-19 18:28] bentatham opened #6728 "[stable/grafana] datasources provisioning not working"
**Is this a request for help?**: yes

**Version of Helm and Kubernetes**:
Helm 2.9.1
Kuberenetes 1.10 (running on AWS EKS)

**Which chart**: stable/grafana

**What happened**: When trying to use `datasources` in the values.yaml, grafana fails to start with this message:
[code]

**What you expected to happen**:
I expected grafana to start, and have my configured data sources.

**How to reproduce it

[2018-07-19 20:08] maver1ck commented on #4472
/remove-lifecycle stale

[2018-07-19 20:15] shuraa commented on #6522
Got the same issue (replicas=2).

[2018-07-19 22:13] pcgeek86 commented on #5188
I'm having this same problem while trying to deploy Monocular. It has been ongoing for the past 5 hours.

* Amazon EKS v1.10.3
* Helm v2.9.1

[code]

[code]

[2018-07-19 22:17] pcgeek86 commented on #5188
If I do a `kubectl describe` on the persistent volume claim, this is what I see:

[code]

[2018-07-19 22:20] YaraMohammed opened #6731 "Nats pod is crashing"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm version is v2.9.1 and kubernetes version is 1.10.5-gke.0

**Which chart**:
Nats

**What happened**:
I installed the chart without editing any values but the pod is crashing with error

**What you expected to happen**:
pod to be in Running state

[2018-07-19 23:49] pcgeek86 commented on #5188
After hacking at this for a while, I found a solution:

* Create a StorageClass `kubectl apply --filename storageclass.yml` (see below)
* Set the StorageClass as the default StorageClass `kubectl patch storageclass <your-class-name> -p '{"metadata": {"annotations":{"storageclass.kubernetes.io/is-default-class":"true"}}}'`
* Delete the Helm release
* Install the Helm release again

[code]
**NOTE**:

[2018-07-20 02:32] mattfarina opened #6732 "CI Failing"
CI is currently failing. There are two known issues

1. The CLA bot checking isn't working. Work on this is in progress with the CNCF
2. e2e tests are failing. I think the PR at https://github.com/kubernetes/test-infra/pull/8749 will fix it

We're shooting to fix these in short order. Sorry for the CI issues we've been having lately.

[2018-07-20 06:09] michaelgeorgeattard opened #6735 "Helm doesn't delete configmaps on chart deletion"
Seems that helm won't touch configmaps (or atleast some configmaps), on chart deletion.

https://github.com/helm/charts/issues/6660

[2018-07-20 07:01] robinro commented on #5320
@devdavidkarlsson You need to remove the `{}`:
[code]

[2018-07-20 13:33] qbast opened #6737 "Neo4j does not expose bolt port"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm 2.9.0
Kubernetes 1.10

**Which chart**:
stable/neo4j

**What happened**:
The service exposes only port 7474 (http). It is not really right way to connect to a neo4j cluster since http driver (at least for java) does not support routing, so wr

[2018-07-20 13:54] drekle opened #6739 "incubator/Kafka support for additional clouds"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
kafka

**What happened**:
kafka makes the assumption that you are running on aws and have deployed using kops.
because the following file:
https://github.com/helm/charts/blob/master/incubator/kafka/templates/service

[2018-07-20 14:09] drekle commented on #6468
since kafka is a child chart for you your entry
[code]
should be made false yes?

[2018-07-20 14:48] aba182 opened #6741 "[incubator/elasticsearch] not enough masters"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 BUG REPORT

**Version of Helm and Kubernetes**:
helm version
Client: &version.Version{SemVer:"v2.7.2", GitCommit:"8478fb4fc723885b155c924d1c8c410b7a9444e6", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.8.1", GitCommit:"6af75a8fd72e2aa18a2b278cfe5c7a1c5feca7f2", GitTreeState:"clean"}

kub

[2018-07-20 14:49] drekle commented on #6670
Hi @vidhy

I believe you must also specify configurationOverrides.advertised.listeners.  Guessing for your example it would be this...
[code]

[2018-07-20 15:01] ljufa commented on #6468
Actually, I made kafka and schema-registry as requirements on the same level.
So kafka is first requirements with zookeeper configured and schema-registry is next dependency with kafka and zookeeper disabled.
Is that possible? For me it make sense to make kafka primary dependency, and later expand my umbrella chart with additional tools like schema-registry...

[2018-07-20 15:04] benjigoldberg commented on #6468
/assign @benjigoldberg

[2018-07-20 15:05] benjigoldberg commented on #6466
/assign @benjigoldberg

[2018-07-20 15:09] benjigoldberg commented on #5993
Hi @1mihirpandya if you check out the [Kafka chart values file](https://github.com/helm/charts/tree/master/incubator/kafka#installing-the-chart) you can see we have two settings which should help you out:

`prometheus.jmx.enabled` and `prometheus.kafka.enabled` if you enable both of these features, both the JMX exporter and the Kafka Prometheus exporter will be installed and emit metrics for your

[2018-07-20 15:10] benjigoldberg commented on #5993
@1mihirpandya let me know if that addresses your question!

[2018-07-20 15:13] benjigoldberg commented on #6086
Thanks for the feature request @lakarchitect -- I will work on this shortly.

As far as your last question, regarding how to control things that the chart doesnt expose -- as of now there is no real way to get at that information. The best bet is to submit a PR to expose the functionality or file a feature request as you have here.

[2018-07-20 15:13] benjigoldberg commented on #6086
/assign @benjigoldberg

[2018-07-20 15:16] benjigoldberg commented on #6689
Thanks for filing the issue @ozbillwang and adding  these details. I'm happy to look into this in a few days.

/assign @benjigoldberg

[2018-07-20 15:16] benjigoldberg commented on #6739
Thanks for the issue submission and PR @drekle -- excited to get this out and correct my oversight on this one!

[2018-07-21 04:15] citizenrich opened #6749 "[stable/traefik] In GKE, Traefik fails to get cert via ACME"
**Is this a request for help?**:
Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report.

**Version of Helm and Kubernetes**:
Helm client and server: 2.9.1
Kubernetes: 1.10.3

**Which chart**:
stable/traefik

**What happened**:
Error obtaining cert via ACME.

"Unable to obtain ACME certificate for domains \"traefik.XX.XX\" detected thanks to rule \"Host:traefik.XX.XX\" : cannot

[2018-07-21 08:39] monotek commented on #6700
added a pr for this: https://github.com/helm/charts/pull/6751

[2018-07-21 08:43] ozbillwang commented on #6689
@benjigoldberg

There are extra informations about this issue, maybe it will be useful for you. Paste here to take a reference: https://github.com/danielqsj/kafka_exporter/issues/53

[2018-07-21 09:01] monotek commented on #6674
Please check your config of the Elasticsearch url in Kibana.
If your using the Elasticsearch chart it will probably look like:
[code]

[2018-07-21 14:49] kody-abe opened #6753 "[stable/falco] Rules volume is trying to mount in config volume"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Which chart**:
stable/falco

**What happened**:
Adding a custom rules configmap does not mount on falco pods

**What you expected to happen**:
The configmaps should mount on the rules volume on falco pods

**How to reproduce it** (as minimally and precisely as possible):
Follow https://git

[2018-07-21 14:50] kody-abe commented on #6753
ping @nestorsalceda

[2018-07-21 19:23] Chehai opened #6754 "[incubator/kafka] KAFKA_ADVERTISED_LISTENERS should use hostname instead of IP"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
$ helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

[2018-07-21 21:35] dangersorus opened #6755 "Can't get internet from fresh install of Kubertnetes and OPENVPN"
**Is this a request for help?**:

yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Client Version: ve

[2018-07-21 21:38] dangersorus commented on #6755
logs from the pod once it is up: Sat Jul 21 21:37:43 2018 192.168.202.64:36798 Connection reset, restarting [0]
Sat Jul 21 21:37:43 2018 192.168.202.64:36798 SIGUSR1[soft,connection-reset] received, client-instance restarting
Sat Jul 21 21:37:43 2018 192.168.11.192:20849 Connection reset, restarting [0]
Sat Jul 21 21:37:43 2018 192.168.11.192:20849 SIGUSR1[soft,connection-reset] received, client-i

[2018-07-21 21:43] weeco opened #6756 "Traefik auth"
**Version of Helm and Kubernetes**:

Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

**Which chart**:
Traefik

**What happened**:
Using dashboard.auth.basic the generated toml is invalid and therefore traefik do

[2018-07-21 21:53] jlegrone commented on #6599
Fixed as of the move to helm org.

[2018-07-21 21:53] #6599 closed

[2018-07-21 22:17] evhfla opened #6757 "Redis-Ha doesn't elect a new master after deleting the master pod."
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug Report

**Version of Helm and Kubernetes**:
Helm Version 2.9.1
Kubernetes Version 1.93 with RBAC Enabled

**Which chart**:
Redis-ha

**What happened**:
If I delete the master pod to check Ha....No new pod every gets elected as a new master....When, the new pod starts, it sees that there is no m

[2018-07-22 09:07] #6756 closed

[2018-07-22 20:49] citizenrich commented on #6749
This issue is referenced in https://github.com/helm/charts/issues/5617
I'll close it as a duplicate but it remains unresolved.

[2018-07-22 20:49] #6749 closed

[2018-07-23 03:50] iming0319 commented on #5849
@cpanato I have the same problem
Can you show me how did you fix this?

[2018-07-23 07:37] nestorsalceda commented on #6753
Hey! I'm trying to reproduce the error, but I can't. So perhaps there are some detail that I' m missing. Could you paste the content of your custom-rules.yaml file?

Thanks!

[2018-07-23 09:00] monotek commented on #6133
After running into this again i did some debugging. It  seems part of the problem is, that the persistence is used and a pod restart recreates the password and updates it in the sqlite db (/var/lib/grafana/grafana.db).

The kubernetes secret seems not to be updated.

As a workaround you can get password from containers env var:
* kubectl exec -it grafana-79766578b9-hzbrb -n infra env | grep GF_SEC

[2018-07-23 09:05] jmlambert78 commented on #6613
I have the same issue, have you found a solution as I am not on gcp ? Thx

[2018-07-23 09:39] rajkumar49 commented on #6674
hi , @monotek , have a good day  and thanks for your response.
if i change the Elastic-search URL in Kibana , i also need to change it in the logstash pod which also unable to access the elasticsearch URL (http://http.default.svc.cluster.local:9200), i think the helm chart is buggy or kubernetes v1.8.6 and 1.9.9 are buggy.

[2018-07-23 09:44] rajkumar49 commented on #6674
hi @monotek , i got the below error in the logstash pod , ( FYI: i am using the helm chart)

[elkstack-logstash-0] [2018-07-23T08:24:51,553][WARN ][logstash.outputs.elasticsearch] Attempted to resurrect connection to dead ES instance, but got an error. {:url=>"http://elasticsearch-client.default.svc.cluster.local:9200/", :error_type=>LogStash::Outputs::ElasticSearch::HttpClient::Pool::HostUnreacha

[2018-07-23 11:47] ramontayag opened #6767 "[stable/redis]"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): **bug report**

**Version of Helm and Kubernetes**:

[code]

Kubernetes: `1.10.5-gke.3`

**Which chart**: stable/redis

**What happened**: when you install or upgrade the chart, you see a message like this:

However, I am not able to connect to the pods using that host. I have to connect to the mas

[2018-07-23 11:55] benjigoldberg commented on #6754
@Chehai have you tried using the headless service names instead of IP address in your application pod? Eg conecting to `<statefulset>-<pod-number>` instead of IP?

[2018-07-23 12:45] Dviejopomata opened #6770 "[stable/postgresql] Allow to put custom environment variables"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm v2.9.1
Kubernetes v1.9.1

**Which chart**:
stable/postgresql

**What happened**:
Postgresql chart doesn't allow to put custom environment variables

**What you expected to happen**:
To be able to specified them, this is useful when you're r

[2018-07-23 13:17] alwinmarkcf opened #6772 "[stable/traefik] etcd provider"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature Request/Suggestion

**Version of Helm and Kubernetes**: Not relevant

**Which chart**: stable/traefik

**What happened**:
I'm currently trying to deploy traefik in a cluster setup (which makes sense for a Kubernetes Ingress Controller I guess). I'm using ACME Certs and therefore I need to d

[2018-07-23 14:06] Tim-Schwalbe commented on #6222
Can you provide an working example please.

[2018-07-23 14:09] Chehai commented on #6754
I did try having my Kafka client connecting to the headless service (like setting bootstrap.servers = kafka-headless:9092). However, I had the same problem. When the Kafka client was reconnecting to Kafka, it tried to use the addresses from `KAFKA_ADVERTISED_LISTENERS` (returned from Zookeeper) instead of addresses listed in `bootstrap.servers`. `KAFKA_ADVERTISED_LISTENER` had the old pod IP, so t

[2018-07-23 14:49] kody-abe commented on #6753
@nestorsalceda Thanks for helping on this. Here is that file. I am using the script that merges the multiple files into 1. (https://github.com/draios/falco-extras/blob/master/scripts/rules2helm)

[code]

[2018-07-23 14:55] kevinfrommelt commented on #5176
Looks like this issue can be closed. https://github.com/helm/charts/tree/master/stable/nats

[2018-07-23 14:57] #6739 closed

[2018-07-23 15:57] euan-tilley commented on #6522
Hitting this as well with 3 replicas. Doesn't happen every time but when it does it is always on the 2nd instance. Bootstrap container will sit there indefinitely.

Log from the bootstrap container
`➜  ~ kubectl logs -f mongodb-1 -c bootstrap
2018/07/23 15:51:37 Peer list updated
was []
now [mongodb-0.mongodb.bravo.svc.cluster.local mongodb-1.mongodb.bravo.svc.cluster.local]
2018/07/23 15:51:37 ex

[2018-07-23 16:59] nestorsalceda commented on #6753
Yeah! I think I got something.

I install Falco using the custom-rule you provided me with the following command. And I get the following output.

[code]

And my pods are up and running:

[code]

So I'm going to take a look to the logs:

[code]

Then I think the problem is some kind of confusion between a warning and an error loading the rule. The rule is loaded, but we receive a warning because w

[2018-07-23 17:01] nestorsalceda commented on #6753
/assign @nestorsalceda

[2018-07-23 17:15] GrantKlassy commented on #6741
I am having the same problem. This could be related to kubedns?
[code]
But it looks to me like elasticsearch-discovery does have endpoints listed.
[code]

[2018-07-23 18:14] kody-abe commented on #6753
@nestorsalceda Nope, I don't get that - This is all I get:

[code]

The real problem here is that the mount is not even mounting:

[code]

[2018-07-23 19:21] thenickname opened #6778 "Allow for finer grained gzip compression control (e. g. to exclude already compressed formats like jpeg)"

[2018-07-23 19:23] #6778 closed

[2018-07-23 19:24] thenickname commented on #6778
uuups sorry completely wrong project

[2018-07-23 20:39] arcana261 commented on #4461
Same problem here...

[2018-07-24 00:13] nhoughto opened #6781 "[stable/gitlab-ee] Readiness and Liveness Probe URLs are expensive, cause 502s."
**Is this a request for help?**:
No
---

**Version of Helm and Kubernetes**:
Kubernetes 1.9

**Which chart**:
stable/gitlab-ee

**What happened**:
Intermittent readiness failures, when gitlab is actually healthy

**What you expected to happen**:
Readiness failures not to happen

**How to reproduce it** (as minimally and precisely as possible):
Deploy helm charts and put Gitlab under load.

**Anyth

[2018-07-24 04:03] mhamilton723 opened #6784 "[stable/spark] Zepplin Config Not found"
**Version of Helm and Kubernetes**:

**Which chart**:
Spark

**What happened**:
Zepplin Config not Found, is fixed when removing these two commits
[spark/stable] Added Horizontal pod autoscaler according to documenta…  …

@jonaseck2
@k8s-ci-robot
jonaseck2 authored and k8s-ci-robot committed 8 days ago

[spark/stable] Added persistence for notebooks and configuration (#3345)  …

@jonaseck2
@k8s-ci

[2018-07-24 04:21] ananthunair commented on #6222
`{
  "grafana.ini":{
  "smtp":  {
    "enabled": true,
    "host" :"<hostname goes here>",
    "user" : "<username goes here>",
    "password" : "<password goes here>"
    }
  }
}`

Pass the above config while installing/upgrading. It should start working.
`helm install --name my-release stable/grafana -f <path-to-json-file>`

[2018-07-24 04:23] #6222 closed

[2018-07-24 08:07] nestorsalceda commented on #6753
Hey!I would like to see the command you typed for installing Falco using the chart. I'm wondering if the right parameters are passed to `helm install`

Thanks!

[2018-07-24 08:11] monotek commented on #6133
Setting the password via sidecarcontainer is not an option, as the grafana server has to run to use the admin reset via grafana-cli.

Setting a static user password seems to be the best option at moment.

closing...

[2018-07-24 08:11] #6133 closed

[2018-07-24 14:11] kody-abe commented on #6753
@nestorsalceda Here is the command:

`helm install stable/falco --name falco --namespace falco -f generated/falco_rules.yaml -f generated/falco_values.yaml --kube-context <redacted> --version 0.1.1`

falco_values.yaml:

[code]

faclo_rules.yaml:

[code]

[2018-07-24 14:45] Devanshu5833 opened #6790 "Use existing jenkins instead of Provided by chart"
**Is this a request for help?**:
Yes It is a request
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

**Version of Helm and Kubernetes**:
Helm
-------
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", Git

[2018-07-24 14:47] aba182 commented on #6741
I think the DNS error occurs when the service is first created but then the masters come online and the DNS entry is updated correctly.

I have exposed each master node and updated the DISCOVERY_SERVICE to the node specific service end points but it still doesn't work. Which makes me think there is some sort of larger config issue here.

Example of what I did:
Create services:
[code]

Values.yml:

[2018-07-24 14:54] bastianeicher opened #6791 "[stable/mogodb] Write access to volume broken"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):  BUG REPORT

**Version of Helm and Kubernetes**:
Helm Version: 2.9.1
Kubernetes Version: 1.10

**Which chart**:
`stable/mongodb`

**What happened**:
I installed the chart with no additional configuration. The pod went into a crash loop with the following log output:
[code]

**How to reproduce it** (as minimally and precisely as possible):

[2018-07-24 16:10] nestorsalceda commented on #6753
I tried with your settings and your command and Falco is loading the rule successfully.  So we are going to check other components and try to find the difference.

My Helm version is:
[code]
And my Kubernetes version is:

[code]

Thanks!

[2018-07-24 16:12] vojbarzz opened #6793 "newrelic-infrastructure - version 1.0.0 has been released"
FYI: seems like the latest version is 1.0.0 for newrelic-infrascturcture

[2018-07-24 18:33] mgk opened #6798 "[stable/prometheus] cannot add non-YAML files in configmap"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:

[code]

**Which chart**:
stable/prometheus 6.10.0

**What happened**: `alertmanager-configmap.yaml` requires the contents of each config file to be YAML.

With a values file containing the following (configure Slack receiver using a notification temp

[2018-07-24 19:09] mgk commented on #6798
Alternatively, if all the files in `/etc/config` need to be YAML, there should be some other way to inject a template file like the above. If that's the case then this is a feature request rather than a bug report.

[2018-07-24 19:13] jderuere commented on #908
/reopen

[2018-07-24 19:25] vashgaurav opened #6799 "[stable/verdaccio] - container not reading all values from configmap"
**Is this a request for help?**:
request
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm - v2.9.1

**Which chart**:
verdaccio

**What happened**:
I ran helm install --name npm -f values.yaml stable/verdaccio , where values.yaml is copy from the repo with addition of max_body_size parameter in it. I can verify by describing the co

[2018-07-24 19:34] kody-abe commented on #6753
@nestorsalceda  My Helm version is:

[code]

And my Kubernetes version is:

[code]

[2018-07-24 21:02] zcourts opened #6802 "Keycloak cannot be deployed with an external postgres named "postgres""
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
No. This is more an FYI for others to document the issue.

**Version of Helm and Kubernetes**:
Helm 2.7.0, K8s 1.8

**Which chart**:
Keycloak

**What happened**:
If using an external postgres, the postgres service cannot be called `postgres`. The name results in `POSTGRES_PORT` being made an env. va

[2018-07-24 21:04] zcourts commented on #6802
For reference the legacy support for this env var is in https://github.com/jboss-dockerfiles/keycloak/blob/master/server/docker-entrypoint.sh#L64

[2018-07-24 21:13] dvonthenen commented on #6421
I can take a look at adding this... seems simple enough.

[2018-07-24 21:13] dvonthenen commented on #6631
I can take a look at adding this... seems simple enough.

[2018-07-24 23:31] costimuraru commented on #6793
Thanks for the heads up @vojbarzz

Here's the pull request to use the latest & greatest image from NewRelic, along with the required settings: https://github.com/helm/charts/pull/6562

[2018-07-24 23:38] costimuraru commented on #6561
Latest NewRelic docker image doesn't seem to require this.
Issue #6793 aims to upgrade the newrelic chart to the latest version.

[2018-07-25 00:33] mprzygrodzki opened #6803 "[stable/grafana] - Sidecar not importing dashboards - bug ?"
Hello everyone, i've started using official Helm chart for Grafana, and i'm facing problem with automatic dashboard import from JSON files. Inside Helm chart i've added dir called dashboards where i've some custom dashboards in .json format. I've added also a task to created ConfigMap based on those files - and until this point everythin is correct.

As far as i understood reading docs etc, if i w

[2018-07-25 02:49] bappr opened #6806 "[stable/mongodb] --wait does not wait for the pod to be running"
BUG REPORT

**Version of Helm and Kubernetes**:
Kubernetes: v1.9.7-gke.3
Helm: v2.9.1

**Which chart**:
stable/mongodb
Chart version: 3.0.4

**What happened**:
Command does not wait for the mongodb pod to be up and running.

**What you expected to happen**:
Command should wait for the mongodb to be up and running.

**How to reproduce it** (as minimally and precisely as possible):
```helm upgrade -

[2018-07-25 05:39] EOS9Cat commented on #6791
I had the same issue since the new version.

Version of Helm and Kubernetes:
Helm Version: 2.9.1
Kubernetes Version: 1.10.4

Which chart:
stable/mongodb

[code]

[2018-07-25 05:39] bappr commented on #6791
Seems buggy only with Chart Version: 3.0.4

```helm install stable/mongodb --name mytest --version 3.0.3``` works.

[2018-07-25 05:47] redpolarbear commented on #6791
I had the same issue.

**Version of Helm and Kubernetes:**
Helm Version: 2.9.1
Kubernetes Version: 1.10.4

**Which chart:**
stable/mongodb

What happened:

[code]

[2018-07-25 10:40] vidhy commented on #6670
@drekle  I dont think that fixes the issue. These are the properties I have inside the pod.

[code]

When i do
`bin/kafka-console-producer.sh     --broker-list test-kafka.k8s.groupplatform.vpc:31090     --topic my-topic`

I am getting

org.apache.kafka.common.errors.TimeoutException: Expiring 1 record(s) for my-topic-0: 1549 ms has passed since batch creation plus linger time

[2018-07-25 10:45] vidhy commented on #6670
I am able to produce and consume properly inside the kubernetes cluster and access broker via "test-kafka.test-kafka.svc.cluster.local:9092". So the issue is with external access of kafka alone.

[2018-07-25 12:10] kwill4026 commented on #6522
any result to this

[2018-07-25 12:35] drekle commented on #6670
@vidhy I told you wrong above.  The advertised listener should be the FQDN.  You are calling it with `test-kafka.k8s.groupplatform.vpc:31090` yet it is listening to `k8s.groupplatform.vpc:31090`.  This was my mistake in my mention.  Can you try changing it to `test-kafka.k8s.groupplatform.vpc:31090`?

[2018-07-25 13:42] vidhy commented on #6670
that worked like a charm. thanks @drekle

[2018-07-25 13:47] #6670 closed

[2018-07-25 14:41] KoviaX commented on #6757
It seems to be caused by the same issue mentioned in #5441. If during start-up multiple servers received the master label, the sentinels never get a correct configuration, thus try to elect a non-existing pod as master.

[2018-07-25 14:47] KoviaX commented on #5441
I think you are correct varunpalekar, PR #4038 has been opened some time ago but the user @bzumhagen does not seem to manitain it anymore, maybe give #6706 a try?

[2018-07-25 16:01] #6700 closed

[2018-07-25 16:05] #6793 closed

[2018-07-25 16:20] drekle opened #6816 "[stable/cert-manager]"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**:
[stable/cert-manager]

**What happened**:
I wrote an umbrella chart for cert-manager where another chart deploys resources defined by the cert-manager chart.  It fails with error:
[code]
because the CRD's are not yet deploye

[2018-07-25 16:49] bzon commented on #6669
@rajkumar49 I'm dealing with error `error_class="Aws::Errors::MissingCredentialsError" error="unable to sign request without credentials set"` right now..

Can you describe (censoring account id) here how your IAM policy and IAM role looks like that you used for kube2iam?

[2018-07-25 17:05] monotek commented on #6803
/assign @Tim-Smyth

[2018-07-25 17:06] monotek commented on #6803
@Tim-Smyth can you have a look please...

[2018-07-25 19:37] #6799 closed

[2018-07-25 20:40] manipulator01 opened #6822 "[stable/keycloak] add support for loadBalancerSourceRanges"
current stable/keycloak chart does not support "loadBalancerSourceRanges"
I cannot lockdown my load balancer to my IP

Please add support.

Thank you for being awesome!
Have a nice day!

[2018-07-25 20:45] swackhamer opened #6823 "[stable/rabbitmq] Not a directory error on start up"
**Version of Helm and Kubernetes**:
k8s: 1.10.5
helm: 2.9.1

**Which chart**:
stable/rabbitmq

**What happened**:
After installing the helm chart the container goes into a crash loop producing the following error before crashing.

`cp: cannot create regular file '/opt/bitnami/rabbitmq/.rabbitmq/': Not a directory
`

**How to reproduce it** (as minimally and precisely as possible):
Install the late

[2018-07-25 22:14] rubberydub commented on #5152
/close

[2018-07-25 22:15] #5152 closed

[2018-07-26 00:35] jaredbischof opened #6825 "Consul RPC and encryption error"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**: Helm v2.6.1, Kubernetes v1.10.2-gke.1

**Which chart**: stable/consul

**What happened**: After deploying this chart on my kubernetes cluster I see the following errors in my consul logs.
[code]

**What you expected to happen**: I don't expect to see

[2018-07-26 07:43] nestorsalceda commented on #6753
Hey @kody-abe it looks like is an older kubernetes server version, so I'm going to try to reproduce with that settings.

Thanks again!

[2018-07-26 08:01] rajkumar49 commented on #6669
Hi,
No need to use kube 2 IAM. Just configure in values.yaml of fluent-
cloudwatch repo.

thanks,
Rajkumar Selvaraj,

On Wed, Jul 25, 2018, 10:19 PM John Bryan Sazon <notifications@github.com>
wrote:

[2018-07-26 08:06] bzon commented on #6669
@rajkumar49, do you mean just use AWS variables?

[2018-07-26 09:01] swibrow commented on #6669
@bzon
Here is our role we use with kube2iam
[code]
Start with this policy to see if it is a permissions issue. Fluentd will create multiple log streams.
[code]

[2018-07-26 09:03] arkanmgerges opened #6828 "[stable/redis-ha] Not correct use inside NOTES.txt"
**Is this a request for help?**:
No
---

You have the line inside NOTES.txt
redis-cli -h {{ template "redis-ha.fullname" . }}.{{ .Release.Namespace }}.svc.cluster.local

after installing redis with helm
[code]
[code]

And from inside the node

[code]

In helm status it's written to use redis-cli as:
redis-cli -h affable-heron-redis-ha.default.svc.cluster.local
But this is not correct, it needs to

[2018-07-26 09:14] pmilewsk commented on #6791
I have same issue for both charts 3.0.3 and 3.0.4

**Version of Helm and Kubernetes:**
Helm: 2.8.2
Kubernetes Version: v1.10.0

**Which Chart:**
stable/mongodb

**What happened:**
Error executing 'postInstallation': EACCES: permission denied, mkdir '/bitnami/mongodb/data'

[2018-07-26 09:59] bzon commented on #6669
Thanks a lot @swibrow I just realised that I have a __wrong Trust Relationship__ in the IAM role that I used for the fluentd daemonset.

_AssumeRolePolicyDocument.Principal.AWS_ __should be the IAM role of the kubernetes cluster nodes__ and __not the IAM role of the fluentd pod__..

[2018-07-26 10:00] swibrow commented on #6669
@bzon No worries

[2018-07-26 10:17] floriantraber opened #6830 "[stable/mongodb-replicaset] Why does the init container not log to stdout?"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE  REQUEST

**Which chart**: stable/mongodb-replicaset

**What happened**: The on-start script in the init container doesn't log to stdout but only to a log file. (See https://github.com/helm/charts/blob/master/stable/mongodb-replicaset/init/on-start.sh#L36)

**What you expected to happen**:

[2018-07-26 11:11] jstriebel commented on #6816
I guess that is because of the order the resources (especially CRD) are installed.
This is defined [here](https://github.com/helm/helm/blob/506ed05b84a1477c96708c53a38eb86ba79a4670/pkg/tiller/kind_sorter.go#L29-L55).

This issue seems to be related: #2994

Installing this first without the certificates (or any other CRD resources) and then upgrading should help for the moment.

[2018-07-26 11:20] jstriebel opened #6832 "[stable/cert-manager] upgrade to cert-manager 0.4"
Feature Request: It would be great if we could upgrade the chart to support cert-manager version 0.4.

Tbh I don't know which changes would be necessary therefore. Pinging owners @munnerz @simonswine @kragniz. Is there any reason not to use 0.4 by default?
Also not sure what [this comment](https://github.com/helm/charts/blob/master/stable/cert-manager/templates/rbac.yaml#L16-L20) is about.

[2018-07-26 11:33] jstriebel commented on #6832
Somehow I ended up looking at an old version, sorry for the confusion. :flushed:

I'll add a PR for the `endpoints`.

[2018-07-26 11:37] jstriebel commented on #6832
for reference: https://github.com/jetstack/cert-manager/pull/769

[2018-07-26 11:37] #6832 closed

[2018-07-26 12:03] sekka1 opened #6833 "[stable/mongodb-replicaset] Metrics cannot be enabled on an helm upgrade"
**Is this a request for help?**:
Yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/mongodb-replicaset

**What happened**:
If you start out with this chart (stable/mongodb-replicaset) without enabling the metrics, you are not able to enable it with an upgrade and the entire cluster goes into a `CrashLoopBackO

[2018-07-26 12:12] sekka1 commented on #6833
Looks like on an upgrade to enable the `metrics`, it will never reach this section and wont create the `metrics` user:  https://github.com/helm/charts/blob/master/stable/mongodb-replicaset/init/on-start.sh#L138

[2018-07-26 13:00] drekle commented on #6816
I believe there is just a set of helm hooks needed.  I had this working but got into an argument with myself.

https://github.com/helm/helm/blob/master/docs/charts_hooks.md#defining-a-crd-with-the-crd-install-hook

[2018-07-26 13:13] cpjolly opened #6835 "Why do many charts still use apps/v1beta1 or earlier APIs ?"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Which chart**: stable/mariadb

**What happened**: Why do many charts still use older versions of the APIs ? For example, the StatefulSets in this Bitnami MariaDB chart are using apps/v1beta1, which is from before version 1.8 and therefore is missing some features, like the .spec.

[2018-07-26 13:36] #6619 closed

[2018-07-26 13:41] jstriebel commented on #6816
Yes, I guess you would need to add the annotation [here](https://github.com/helm/charts/blob/master/stable/cert-manager/templates/certificate-crd.yaml#L4). At the moment it's not defined and not possible with values, so maybe just test it manually once and have a PR in the upstream repo https://github.com/jetstack/cert-manager/

[2018-07-26 13:42] jstriebel commented on #6816
/cc @munnerz

[2018-07-26 14:06] kody-abe commented on #6753
@nestorsalceda We upgraded to the latest version of Kubernetes and see that the issue does not occur there. So, this is specifically an issue with an older version. This no longer affects us, but should still probably be solved for. I leave that up to you.

[2018-07-26 14:24] uwehdaub commented on #6356
You can delete the plugin workflow-job from the list, because it's automatically installed as a dependency of workflow-aggregator. And then it's also at the right version. At least this is what I do.

[2018-07-26 14:31] uwehdaub opened #6837 "[jenkins/stable] Make the maximum number of build agents configurable"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature Request

Currently the maximum number of build agents is limited to 10:

File .../charts/stable/jenkins/config.yaml:
Line 105:  `<containerCap>10</containerCap>`

This should be configurable from the values.yaml file.

**Which chart**:
stable/jenkins

[2018-07-26 15:35] manipulator01 commented on #6802
I am having the same issue.
I have some other services depending on 'postgres' name. Can you think of any other workaround @zcourts ?

p.s. thanks for creating an issue <3

[2018-07-26 16:38] drekle commented on #6816
closing with relevant link:
https://github.com/helm/helm/issues/2680

[2018-07-26 16:38] #6816 closed

[2018-07-26 16:55] PavelYarysh commented on #1569
@adrianliechti How would you get the external IP for nodes? Thanks in advance

[2018-07-26 16:57] jderuere opened #6844 "[stable/keycloak] Crash trying to connect to cloud sql"
BUG REPORT:

**Version of Helm and Kubernetes**:

Helm: 2.9.1
Kubernetes: 1.9.7-gk.3

**Which chart**:

Last version of stable/keycloak

**What happened**:

`WARNING [org.postgresql.core.v3.ConnectionFactoryImpl] (ServerService Thread Pool -- 58) IOException occurred while connecting to 127.0.0.1:5432: java.net.SocketException: Connection reset
`

I followed this: https://cloud.google.com/sql/docs

[2018-07-26 17:51] aba182 commented on #1569
@PavelYarysh If you are asking about my mongoS solution above and are running on a hardware based system. We use https://metallb.universe.tf/ to give external IP address. MetalLB is easy to setup and works like a charm!

[2018-07-26 19:04] jderuere commented on #6844
My mistake
I simply didn't enable Google cloud Admin API as specify here :
https://cloud.google.com/sql/docs/postgres/connect-kubernetes-engine#1_enable_the_api

[2018-07-26 19:04] #6844 closed

[2018-07-26 19:12] zcourts commented on #6802
You could probably provide your own `docker-entrypoint.sh` (mount a volume at the path which points to yours) which removes/changes the function I mentioned above.
Provide a custom start command in the spec. I've not tried either but both should be doable

[2018-07-26 20:31] #6672 closed

[2018-07-26 21:07] sneerin commented on #3197
also, you can't find it using variable, e.g. kubectl exec my-nginx-3800858182-e9ihh -- printenv | grep REDIS doesn't return anything thought other items works fine

[2018-07-27 02:33] YenTheFirst opened #6851 "Default install of Keycloak does not allow login."
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug Report

**Version of Helm and Kubernetes**:
Helm v2.9.1
Kubernetes 1.9.9

**Which chart**:
stable/keycloak

**What happened**:
It generates a service which only exposes access over HTTP, while Keycloak's default behavior is to require SSL for all external requests. This causes all attempted log

[2018-07-27 03:05] dvonthenen commented on #6421
Still trying to debug this... I found a couple of errors, but still having problems getting this to work.

[2018-07-27 06:34] #6692 closed

[2018-07-27 08:09] quater commented on #6174
The previous PR got deleted. The new PR is https://github.com/helm/charts/pull/6855.

[2018-07-27 09:07] mingyuanzhu opened #6857 "[stable/mongodb] Deploy mongoDB in replica-set mode the arbiter connect primary fail"
**Is this a request for help?**:
---
Yes

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
Helm version: 2.9.1
Kubernetes: 1.10.2

**Which chart**:
stable/mongodb

**What happened**:
The arbiter connection primary timeout cause the pod always restart
`Subscribe to project updates by watching https://github.com/bitnami/bitnami-docker-mongodb
Submit iss

[2018-07-27 10:03] bergerx opened #6859 "Postgres secret is not valid anymore after a `helm upgrade`"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
[code]

**Which chart**: postgresql

**What happened**:
- we used postgres chart as a dependency in our chart,
- we didnt provide a `postgresPassword` value for the postgres in our apps values file to let the postgres chart to let it generate a random

[2018-07-27 10:05] bergerx commented on #6859
Duplicate of #5167

[2018-07-27 10:05] #6859 closed

[2018-07-27 10:51] lucecc opened #6861 "[prometheus-6.7.2 ] no alert send to pagerDuty from prometheus"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Version of Helm and Kubernetes**:
kubectl version
[code]
helm version
[code]

**Which chart**: prometheus-6.7.2

**What happened**:
until recently the integration with Prometheus and our pods was all right,
both the alerts on our slack channel and in PagerDuty were sent.

lately the

[2018-07-27 10:59] nestorsalceda commented on #6753
Ah! It's nice to know this.

I think we would add a note in the README saying that we support the latest three versions of Kubernetes, following the Kubernetes conventions

https://github.com/kubernetes/community/blob/master/contributors/design-proposals/release/versioning.md#supported-releases-and-component-skew.

Thanks for the feedback Kody!

[2018-07-27 11:00] nestorsalceda commented on #6753
/close

[2018-07-27 13:47] joekohlsdorf commented on #6648
Can you post the full pod log?
The chart runs the startup script provided by SonarQube and that hasn't changed in 7.1.

What will certainly fail though is that the newer versions don't run as root but all files on the PVCs are by default owned by root and the chart does nothing to change that.

[2018-07-27 14:14] simonft opened #6867 "[stable/rabbitmq-ha] Cluster fails to create if generated fullname is longer than 52 characters"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug

**Version of Helm and Kubernetes**:
Helm: v2.9.1
Kuberenetes: v1.10.5

**Which chart**:
rabbitmq-ha

**What happened**:
Cluster fails with: Kubectl apply failed. Error: The Service "fake-name-for-github-issue-aaaaaaaaaaaaaaaa-rabbitmq-ha-discovery" is invalid: metadata.name: Invalid value: "fake-name-for-github-issue-aaaaaaaaaaaaaaaa-

[2018-07-27 15:42] tdebiasio commented on #5958
I ended up moving away from the helm chart and deploying from a5huynh/oauth2_proxy manually.  I did have a few issues with my ingress setup though with this line:
`nginx.ingress.kubernetes.io/auth-url: https://my.cloudapp.azure.com/oauth2/auth`

which should have been:
`http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth`

If you are using Azure AD, my other issue was that the reply

[2018-07-27 17:12] olegchorny commented on #5958
Thanks @tdebiasio , http://oauth2-proxy.kube-system.svc.cluster.local:4180/oauth2/auth
works for me even in case of helm chart.

[2018-07-27 18:02] Bhavya525k commented on #3193
git --version # timeout=10
using GIT_ASKPASS to set credentials

ERROR: Timeout after 10 minutes
ERROR: Error fetching remote repo 'origin'

Getting the above error while running gradle build on Jenkins.  Steps taken so far

1. Tried to create SSH credential in Bitbucket and then added it to jenkins.

Please help me resolve the issue. Thanks.

[2018-07-27 18:18] #3682 closed

[2018-07-27 19:11] jstriebel commented on #4452
/cc @compleatang (maintainer of oauth2-proxy helm chart)

[2018-07-27 20:30] dvonthenen commented on #6421
PR https://github.com/helm/charts/pull/6872 submitted

[2018-07-27 22:14] jhenriquez commented on #6731
This happened to me too. I did review the `gnatsd.conf` that exists on the configmap. I didn't catch any typos. I just deleted and recreated the chart.

Unfortunately, I never did check the actual faulty data. So, I'm not sure why this happened.

[2018-07-27 22:39] maximmass commented on #5058
Also running into this with AWS EKS only with external.enabled=true

[2018-07-27 23:26] wendorf opened #6873 "[stable/concourse] Upgrade chart to support Concourse 4.0"
Concourse 4.0 has been released with some breaking changes, requiring changes to the chart. I'd like to start working on this, but don't want to duplicate work in case someone else is already working on it.

@frodenas @william-tran Is this safe to work on? Should the chart support both 3.x and 4.0?

Breaking changes:
- [x] Migrate `CONCOURSE_BASIC_AUTH_*` to `CONCOURSE_ADD_LOCAL_USER`, `CONCOURSE_

[2018-07-29 09:21] str1k3r commented on #6757
same here. faced with that during chart upgrade.

[2018-07-29 19:53] evhfla commented on #6757
Is there an older chart that still works?

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Sergey Petrushin <notifications@github.com>
Sent: Sunday, July 29, 2018 5:21:30 AM
To: helm/charts
Cc: evhfla; Author
Subject: Re: [helm/charts] Redis-Ha doesn't elect a new master after deleting the master pod. (#6757)

same here. faced with that during chart upgrade.

[2018-07-30 04:00] garygithub1 commented on #6506
Please provide a temp detail solution until the issue resolved  i.e. how to "manually configuring the JNLP port to match the randomized service port"

[2018-07-30 04:17] macropin commented on #6125
Try
[code]

[2018-07-30 05:43] Tim-Schwalbe commented on #6222
How this could look in the values.yml file? Because I am calling helm like this:
helm install --name grafa --namespace monitoring -f values.yaml stable/grafana
Thank you!

[2018-07-30 09:58] bweston92 opened #6878 "[stable/redis] [bug] invalid image name"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

stable/redis

**What happened**:

A dodgy image name generated in the YAML file. Causing Kubernetes pod status to be `InvalidImageName`

Output:
[code]

You can see invalid image name in the output below:

[code]

**What you e

[2018-07-30 10:44] mumarniaz opened #6879 "[stable/prometheus] Unable to run multiple instances"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Version of Helm and Kubernetes**:
Helm:
`Client: &version.Version{SemVer:"v2.8.1", GitCommit:"6af75a8fd72e2aa18a2b278cfe5c7a1c5feca7f2", GitTreeState:"clean"}`
`Server: &version.Version{SemVer:"v2.8.1", GitCommit:"6af75a8fd72e2aa18a2b278cfe5c7a1c5feca7f2", GitTreeState:"clean"}`

Kubernetes:

[2018-07-30 11:10] #5676 closed

[2018-07-30 12:09] gintautassulskus opened #6882 "helm emits warning if field "annotations:" has no value"
**BUG REPORT**

**Version of Helm and Kubernetes**: helm 2.9.1

**Which chart**: artifactory, jenkins, docker-registry

**What happened**:
the same issues as in https://github.com/helm/charts/pull/3025

[2018-07-30 13:02] hongmengwang opened #6883 "[stable/presto] Can I set -Xms to JVM and PVC to node data dir?"
I set memory in value.yml as below:
[code]
when started, I got this error:
`Error injecting constructor, java.lang.IllegalArgumentException: query.max-memory-per-node set to 16GB, but only 10307921511B of useable heap available
`
### I have two questions:
- Why doesn't set -Xms when starting JVM?
- Can I add PersistentVolumeClaim to _**node.data-dir**_?
@bivas

[2018-07-30 13:04] spinside opened #6884 "[stable/jenkins] Credentials not working"
/bug

**Version of Helm and Kubernetes**:
Kubernetes 1.10
Helm version v2.9.1

**Which chart**:
stable/jenkins

**What happened**:
Can't login with credentials provided by Helm.
Also can't login when the credentials are manually set in values.yaml

**What you expected to happen**:
Too login succesfully

**How to reproduce it** (as minimally and precisely as possible):
I've used the following value

[2018-07-30 13:09] alexvicegrab commented on #6790
You should be able to provide your own Docker image and tag:

[code]

[2018-07-30 13:19] desaintmartin opened #6885 "[stable/rabbitmq] Cannot update rabbitmq if PersistentVolume is used"
StatefulSet.volumeClaimTemplates contains version of the chart as metadata, but StatefulSet.volumeClaimTemplates is immutable.

Trying to update it will cause error:

[code]

Maybe we should remove metadata from the volumeClaimTemplates (if so, let me know so that I do a PR). Should we remove all of them? Only the "chart" one? Replace by chart name without version?

cc @prydonius @tompizmor @samee

[2018-07-30 16:37] Typositoire commented on #6873
I'd be happy to help. v4 bring user based auth instead of team based!!! I can't wait to test that!

[2018-07-30 17:40] william-tran commented on #6873
I don't think the chart should support both 3.x and 4.0, that would introduce too much complexity that we should avoid maintaining. With web and worker both supporting arbitrary env vars, at this point, I think the current version of the chart can continue to support 3.x use cases without further changes.

This breaking change gives us an opportunity to make breaking chart changes to resolve some

[2018-07-30 17:53] #4932 closed

[2018-07-30 18:00] wendorf commented on #6873
I'm on board with dropping explicit 3.x support, `extraEnv` -> `env`, and removing old arguments.

As far as relying more heavily on `env`, I'm personally in favor of explicitly supporting features in the chart:
* The documentation for Concourse flags isn't fantastic (you have to run the binary's `--help` instead of referencing the website to really see everything) and as a user, I really apprecia

[2018-07-30 18:53] drekle opened #6914 "[stable/redis-ha] Separate master and slave service annotations"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm 2.9.1
Kubernetes 1.11.1

**Which chart**:
redis-ha

**What happened**:
Server values allow you to override the type to be load balancer.  Annotations can be used to create DNS entries in either external-dns or kops dns controller.  These annotati

[2018-07-30 19:49] rekcah78 commented on #6803
@mprzygrodzki
This PR https://github.com/helm/charts/pull/6815 fix the problem,
edit your values and change the path of your provider:
[code]

[2018-07-30 19:54] rekcah78 commented on #6728
@bentatham values format for datasources as changed, see my comment here: https://github.com/helm/charts/issues/6803#issuecomment-408632824
I think you would find what you need to fix your problem.

[2018-07-30 19:58] Typositoire commented on #6873
So i've tested with just adding `web.env` everything WORKED except this:

[code]

the semverCompare fails and my workers get the wrong `tsa_host`

[2018-07-30 20:28] rekcah78 commented on #6879
@mumarniaz
it's normal with a persistent volume And Deployment, only one pod can be use the volume so replica max value is 1.

in my case for prometheus and alertmanager i use prometheus-operator an he deploy with a StatefulSet so all pod have a volume for himself if you want replica > 1.

[2018-07-30 20:49] william-tran commented on #6873
There is an open PR for that fix: https://github.com/helm/charts/pull/6853. But I want to address other breaking chart changes while we have the chance so I'm going to hold off on merging that.

[2018-07-30 22:49] vgopal commented on #5615
Notice same error..
[code]

[2018-07-31 00:37] wendorf commented on #6873
In case you're responding to my long (my apologies for the length) previous comment, I've edited in some extra questions and details.

[2018-07-31 05:44] bappr commented on #6123
Why `{{- if not .Values.existingSecret }}{{- end }}` should include the certificates secret?

It's 2 different things.
We should have:

ssl.secret
`{{- if not .Values.existingSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "mysql.fullname" . }}
  labels:
    app: {{ template "mysql.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name

[2018-07-31 06:06] bappr opened #6920 "[stable/mysql] SSL is not enabled when ssl.enabled=true"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**Version of Helm and Kubernetes**:
[code]

[code]

**Which chart**:
[stable/mysql]
0.8.2

**What happened**:
SSL is not enabled when ssl.enabled=true (and certificates are provided and mounted in /ssl)

**What you expected to happen**:
SSL should be enabled.

**How to reproduce it** (as minimally and precisely as possible):
Create th

[2018-07-31 06:41] bappr commented on #6920
I am closing the issue.
After digging a bit more, I found out I tried to connect to mysql server via UNIX socket instead of TCP/IP.

Had to add `-h 127.0.0.1` to the command line.
[code]

[2018-07-31 06:41] #6920 closed

[2018-07-31 07:12] #6884 closed

[2018-07-31 07:12] spinside commented on #6884
Sorry, seems like a configuration issue

[2018-07-31 07:27] bivas commented on #6883
1. Following the presto documentation - the chart updates `jvm.properties` file with the settings
2. I don't see why not 😃

[2018-07-31 07:51] mprzygrodzki commented on #6803
@rekcah78 , thanks for the tip, will try to take a look on this when i'll get free while.

[2018-07-31 08:21] minhdanh opened #6921 "[stable/prometheus] How to monitor etcd with ssl?"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:
[code]
[code]

**Which chart**: stable/prometheus

**What happened**:
I need to update prometheus to scrape the etcd servers of the same cluster that Prometheus is running on. Here's my job config:

[code]

This doens't work as the cert file (ca

[2018-07-31 09:12] bartwalczak1 opened #6922 "[incubator/elasticsearch/]"
**FEATURE REQUEST**:

**Version of Helm and Kubernetes**:
[code]
**Which chart**:
[incubator/elasticsearch/]
**What happened**:
support passing variables via values file.

**What you expected to happen**:
Instead of passing variables via `--set` it would be nice to provide values.yaml via `-f` or `--values`.
Not sure but this might be a bug in case it was expected behavior

[code]
content of value

[2018-07-31 11:40] rekcah78 commented on #6885
@desaintmartin
you can delete the statefulset with cascade: false
kubectl delete statefulset cayzn-cm-production-rabbitmq --cascade=false
with this command you delete only statefulset but not the pods.
After that your can apply a helm upgrade, he will recreate the statefulset and attach the existing pods.

[2018-07-31 11:59] desaintmartin commented on #6885
Thanks for the tip, but is that the official way of doing upgrades with Helm? I sometimes use this trick for dev purposes but I would like to avoid anything like this in production.

[2018-07-31 12:35] rekcah78 commented on #6885
Yes is hard to think to do something like this in the production but actually is the only way to do that.

[2018-07-31 15:07] Jianyi-Ren commented on #6309
same issue. no log was provided except for the 'is waiting to start: PodInitializing' message

[2018-07-31 15:19] Jianyi-Ren commented on #6309
try `kubectl logs {{pod_name}} -c init-config` to check the message

[2018-07-31 15:58] dvonthenen commented on #6631
PR https://github.com/helm/charts/pull/6926

@nickrobertssky if you can give me a hand testing this, I would appreciate it!

[2018-07-31 18:45] #6513 closed

[2018-07-31 21:08] dtshepherd opened #6932 "[stable/grafana] Can't enable grafana https"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?**:

Feature Request?  Sort of a bug.

**Version of Helm and Kubernetes**:

Helm: 2.9.1
Kubernetes: 1.10.4

**Which chart**:

Grafana 1.12.0

**What happened**:

I updated the grafana `values.yaml` to include:
[code]

Grafana started up fine and HTTPS was working as expected until the pod health checks failed against t

[2018-07-31 23:32] mprzygrodzki opened #6934 "[stable/rabbitmq] Can't spin up cluster with PV's created manually."
Hello everyone, i have a task to extend our RabbitMQ deployment to the cluster with 3 replicas running. Main issue i'm facing, is that the requester would like to have persistent volumes created manually in AWS (not dynamically) But i'm facing issues to attach those PVC's to POD's. I'm running latest helm chart for RabbitMQ. When starting up new deployment, i would like that PVC which will be crea

[2018-08-01 03:08] compleatang commented on #4452
There's a few competing PRs for the fix that haven't been merged upstream. There are some work arounds in various places but I haven't had time to test or document them and we aren't using the chart internally any longer.

A few links:

https://github.com/bitly/oauth2_proxy/pull/461
https://github.com/bitly/oauth2_proxy/pull/490
https://github.com/bitly/oauth2_proxy/pull/427

[2018-08-01 10:15] EamonKeane commented on #5958
Thanks @tdebiasio  @olegchorny . What ended up working for me with the helm chart was:

[code]

Port 4180 didn't work for me.

[2018-08-01 11:15] Kemyke commented on #6648
I experience the same behavior. Interestingly it only occures when we use kubernetes, if we create the same environment in docker-compose it runs without problem.
We experienced the problem with the 7.0-alpine version but then the `logbar-core` jar file was missing.

Our logs from the 7.1-alpine:
[code]

and the logs from 7.0-alpine:
[code]
Even stranger that once we could start the 7.0-alpine and

[2018-08-01 12:13] rsignell-usgs opened #6939 "[stable/cluster-autoscaler] ASGs: NoCredentialProviders: no valid providers in chain."
**Version of Helm and Kubernetes**:
[code]

**Which chart**:
[stable/cluster-autoscaler]

**What happened**:
I believe I have all the AIMs and tags in place, and I invoked the chart with:
[code]

when I tail the autoscaler pod logs, I see:
[code]

Any ideas about what is wrong or how to debug?

[2018-08-01 12:17] mingyuanzhu commented on #6857
Sorry, my mistake. Config the error network plugin.

[2018-08-01 12:17] #6857 closed

[2018-08-01 12:50] TobiasWenzel opened #6941 "[stable/mongodb] Missing service annotations"
**Is this a request for help?**: No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Depends on the perspective. From my POV, it's a bug report.

**Version of Helm and Kubernetes**:
Helm: 2.9.1
Kubernetes: 1.10.3

**Which chart**:
mongodb-4.0.1

**What happened**:
When I install the mongodb chart I am not able to specify a [parameter](https://github.com/helm/charts/tree/master/stabl

[2018-08-01 14:05] obeyler opened #6942 "[incubator/gogs] serviceDisableRegistration: false and user creation"
Hello
I want to install with helm gogs and I want to disableRegistration.
I've find the properties serviceDisableRegistration: true and it works well
but If I use it I'm not able to create user anymore as I cannot find the admin user or admin portal.
So Is there a way to create an user and set his password by helm parameter ?

[2018-08-01 14:17] kkzz8888 opened #6943 "stable/postgres does not work with windows 10"
**Is this a request for help?**:

--- Yes.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm version
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

[2018-08-01 15:03] #5157 closed, assigned to nobody

[2018-08-01 15:18] james-masson commented on #5224
Yes - seems weird that it's implemented in this way, in this helm chart.

The problem comes down to the fact that the pod ip changes every time, and the Mnesia DB path is based on this. So the mnesia DB does actually survive the pod deletion/recreation on the persistant volume - but it's simply not used.

One solution would be to set RABBITMQ_MNESIA_DIR to a fixed thing - probably the stateful set

[2018-08-01 17:49] patrickleet commented on #6934
I'm getting the same error when letting AWS create the volume, too, on EKS.

[2018-08-01 17:51] patrickleet commented on #6934
looks like this: https://github.com/helm/charts/pull/6836

[2018-08-01 22:38] dimrozakis commented on #4748
Hey everyone! Are there any updates on the effort to merge rabbitmq and rabbitmq-ha charts? I'm in the process of adding a rabbitmq subchart in a chart I'm developing. Any suggestions as to what is the safest, most future-proof option at this point?

[2018-08-02 03:50] hongmengwang commented on #6883
Thank you for your quick reply!
1. Let me think more about the memory configurations, why presto guys doesn't set -Xms.
2. Maybe presto doesn't need pvc, I will think more.

[2018-08-02 03:50] #6883 closed

[2018-08-02 08:49] skarj opened #6954 "[stable/filebeat] Possibility to load the index template in Elasticsearch"
**FEATURE REQUEST**:
Please add possibility to load filebeat index template into Elasticsearch

Based on the official documentation https://www.elastic.co/guide/en/beats/filebeat/current/filebeat-template.html#load-template-auto
By default, Filebeat automatically loads the recommended template file, fields.yml, if the Elasticsearch output is enabled, BUT if we use logstash output we MUST load the

[2018-08-02 08:52] hobti01 opened #6955 "[stable/postgres] strategy exists twice in Deployment spec"
**this is a BUG REPORT**

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
stable/postgres

**What happened**:
Does not work as "documented":
[code]

Could not upgrade chart because spec.strategy has changed from RollingUpdate to Recreate #6343.  This is "ok" (other than the upgrade breakage).
But this has overwritten the user-supplied spec.strategy of #6218 and left the value and logi

[2018-08-02 12:14] plumdog commented on #5671
@xvello I find myself in a similar situation. I want to report statsd things from an application.

I have found the `daemonset.useHostPort` configuration option:
https://github.com/helm/charts/blob/01f7b1664a37f3b057c2894bac1fd5e278c32806/stable/datadog/templates/daemonset.yaml#L39-L44

which I think is what you were referring to above. Then as per https://docs.datadoghq.com/tracing/setup/kubernet

[2018-08-02 12:24] desaintmartin commented on #2633
I would like to reopen this bug.
@prydonius @tompizmor @sameersbn @carrodher @juan131 would you consider merging a PR with an initContainer in privileged mode that does this? If so it can easily be done.

[2018-08-02 12:25] desaintmartin commented on #2633
/reopen

[2018-08-02 13:27] avirkar opened #6961 "Error while accessing Sonar via nginx reverse proxy."
I have sonar chart installed on kubernetes, which I am accessing via an nginx reverse proxy. The web access works perfectly fine. But when I run the maven build command i get an error.

`mvn clean package sonar:sonar -Dsonar.host.url=https://team-sonar.mia.ucloud.int -Dsonar.login=8f47a6dbc71291edbc4e37d0e3453861626bb067`

[2018-08-02 14:18] bartwalczak1 commented on #6922
@aba182 Can you please share your values.yml and command, please.

[2018-08-02 14:25] aba182 commented on #6922
Command
[code]

Yaml (Defaults besides storage class) I know it works because it takes my storageclass modifications:
[code]

Notice though that I have another issue open against this chart here: https://github.com/helm/charts/issues/6741

[2018-08-02 17:40] robdefeo commented on #5157
`/remove-lifecycle` stale this is still an issue

[2018-08-02 18:00] patrickleet commented on #6934
https://github.com/helm/charts/pull/6836 was merged, so that update may address this.

I'll test when it's available and when I get to it over the next couple of days.

[2018-08-02 23:07] monotek commented on #3104
Imho this is fixed. I run my dashboards in different namespaces...

[2018-08-03 02:54] BrunoQuaresma opened #6968 "charts/stable/jenkins/ default admin user is not working"
**Version of Helm and Kubernetes**:
[code]
**Which chart**:
stable/Jenkins

**What happened**:
I deployed a Jenkins chart but the default login with "admin" is not working.

Terraform file:
[code]

Url: http://35.232.8.150:8080/login

[2018-08-03 03:16] ryantotti opened #6969 "[stable/spark] Set the Worker. ExecutorMemory in spark chart is invalid"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:

**Which chart**:
Kubernetes v1.9.5
helm v2.8.2

**What happened**:
It is no used to set Worker. ExecutorMemory in values.yaml. The memory of  worker for executor always 1 gb.
![image](https://user-images.githubusercontent.com/14865188/43622370-5ab48bbc-

[2018-08-03 03:34] ryantotti commented on #6969
It seems work fine .It is my fault.
 But i wonder how  Values.Worker. ExecutorMemory works?

[2018-08-03 03:34] #6969 closed

[2018-08-03 04:19] ryantotti opened #6970 "[stable/spark] How to set the worker cores ?"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:
How to set worker cores?
The master ui shows the host machine cores.
![image](https://user-images.githubusercontent.com/14865188/43624144-1b8f8fcc-9718-11e8-92b0-cf0bea85bcd2.png)

**What you expected to happen*

[2018-08-03 06:06] hsafe commented on #3210
Hi,
I did get the same error, mine is a bit different. I ran a minikube install on ArchLinux install with KVM2 driver. Natively the default name space gets a cluster of Minio set up and running. Following install instruction from [here]([https://thenewstack.io/getting-started-spinnaker-kubernetes/])eventually and after a long retry with the timeouts and running:
helm del --purge kubelive
Here is w

[2018-08-03 09:03] bartwalczak1 commented on #6922
thank you @aba182 that worked like a charm!

[2018-08-03 10:05] sokoow opened #6971 "incubator/elasticsearch/templates/master-svc.yaml contains ClusterIP:None, which prevents clusters from spinning up"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
[code]

**Which chart**:
incubator/elasticsearch

**What happened**:
Upon trying to deploy version 2.4.6 of ES, we've found that incubator/elasticsearch/templates/master-svc.yaml contains a line ClusterIP: None, which causes following error:

[code]

[2018-08-03 10:39] jeusdi opened #6972 "incubator/vault: no available release name found"
**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.10.0-rc.2", GitCommit:"56154102a2f25ebf679c791907fd355bb0377f05", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.10.0-rc.2", GitCommit:"56154102a2f25ebf679c791907fd355bb0377f05", GitTreeState:"clean"}

oc v1.5.1+7b451fc
kubernetes v1.5.2+43a9be4
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://192.168.99.

[2018-08-03 11:31] sundeer opened #6974 "[stable/traefik] Traefik fails when ACME is enabled"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug?

**Version of Helm and Kubernetes**:
helm: v2.9.1
Kube: 1.10.5-gke.3

**Which chart**: traefik

**What happened**:
[code]
[code]
traefik container dies with error
[code]
 If I uncomment ssl section, pod starts and I'm able to access https://traefik.mydomain.com. However the cert in not from L

[2018-08-03 13:13] bartwalczak1 commented on #6922
Actually one more question @aba182 it seems that the name passed in values.yml is not used? I see you're passing name with helm install command and you have one specified inside the file.
I've run helm install without passing the name to the command and it looks like the one inside config file was not used?

[2018-08-03 13:46] sundeer commented on #6974
I see now that I have challengeType in the wrong spot.

[2018-08-03 13:46] #6974 closed

[2018-08-03 14:05] aba182 commented on #6922
These are all "how to use helm" questions please read official helm docs and they will show you all you need to know.

[2018-08-03 14:22] #6922 closed

[2018-08-03 14:43] sta-szek opened #6975 "[incubator/jaeger] More configuration options for components"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST
**Which chart**: jaeger

It would be nice to have more configuration options like:
* env variables taken from `values.yaml` e.g.:
[code]
* provide UI configuration file as config map, which is taken from `values.yaml`

[2018-08-03 14:54] sta-szek opened #6976 "[incubator/jaeger] Sample configurations"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST
**Which chart**: jaeger

Hi, actually I don't know if that issue should be here, as sample configurations depends or kubernetes (ingress / services / ...) configuration.
However I believe it would be nice to prepare few (or at least one, the most used) configurations + images with description.

E.g.
1. If you want to expose

[2018-08-03 15:07] Nodraak commented on #6921
I ended up manually loading etcd's certificates into a Kubernetes Secret and adding this to prometheus chart's config :

[code]

[2018-08-03 15:13] dvonthenen commented on #6975
Hi @sta-szek

For your first item, those are cassandra specific configuration parameters. For subcharts like cassandra or elasticsearch, you can already override all of the options that those charts expose. For specific options in cassandra and elasticsearch that might be missing, you might want to reach out to those chart maintainers.

For your second item, can you provide specific options? You c

[2018-08-03 15:22] ivanfitenko opened #6977 "Add `read-only` mode for weave scope"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Which chart**: weave-scope
Weave Scope has an option to disable potentially dangerous controls, for example 'delete pod' or 'run shell on node'. It would be good to leverage this feature in chart.
Also, as per https://github.com/weaveworks/scope/issues/3153,  we can reduce the number of perms given to cluster role (and t

[2018-08-03 15:28] dvonthenen commented on #6976
Hi @sta-szek

I would think the most used configuration is the default which is simply `helm install incubator/jaeger`. If you are looking for customizing paramters, I would read the helm documentation located at https://docs.helm.sh/using_helm and look for the section "Customizing the Chart Before Installing".

For #1, I am not sure what you mean by "hide everything else". The chart already suppo

[2018-08-03 21:03] k opened #6989 "[stable/cert-manager] Does not use crd hook and fails when used as dependency"
**Is this a request for help?**:
Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

Chart cert-manager v0.4.0

installing with no custom values.yaml other than `--name` and `--namespace cert-manager`

**Version of Helm and Kubernetes**:

`v2.10.0-rc.2`

**Which chart**:
cert-manager
v0.4.0

**What happened**:
Tried to install the chart as a dependency with a Certifica

[2018-08-03 21:59] chrishiestand opened #6991 "stable/rabbitmq-ha documentation: define high availability"
**Is this a request for help?**:
No
---
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Documentation/Feature Request

The stable/rabbitmq-ha chart advertises high availability but does not describe how the chart provides high availability. This is particularly not obvious to people who aren't already well versed in rabbitmq (e.g. me).

Please add a paragraph or two to the README descri

[2018-08-03 23:57] patrickleet commented on #2538
@Miouge1 I tried the workaround, if I understand correctly, that is to set

[code]
 in `persistence` so that the config is not stored in the volume.

I'm still having an issue with the password changing with each upgrade though.

[2018-08-03 23:58] patrickleet commented on #2636
/remove-lifecycle stale

[2018-08-04 12:23] naseemkullah opened #7000 "[stable/redis] easy way to backup (remotely) and restore from dump.rdb"
Hi!

Please see title.

Please let me know if you have any questions or comments.

**Version of Helm and Kubernetes**: latest and greatest

**Which chart**: redis

Thank you.

[2018-08-04 12:47] BrunoQuaresma commented on #6968
I fixed it using AdminPassword field but the doc doesn't explain that so I created a pull request that adds this missing field.

https://github.com/helm/charts/pull/6987

[2018-08-04 12:47] #6968 closed

[2018-08-04 18:12] BrunoQuaresma commented on #6356
It was fixed -> https://github.com/helm/charts/pull/6988

[2018-08-04 18:43] davidkarlsen commented on #6356
Is this ok with the latest chart version so that this issue can be closed?

[2018-08-05 07:34] brycesteinhoff commented on #3154
Same problem. Is this Helm chart broken for all users?

[2018-08-05 14:54] BrunoQuaresma opened #7002 "[stable/Jenkins] How to run docker commands in agents?"
**Is this a request for help?**:
Yes
---

**Which chart**:
Jenkins

**What happened**:
I can't run docker commands in steps.
`/home/jenkins/workspace/vision_front_new_master-PTH4UDTQVSAS7VICPCO2UFHIE5M6B37LQYLEJT5BMAT36AYX77KA@tmp/durable-e821ca88/script.sh: docker: not found`

**What you expected to happen**:
Can run docker commands

**Anything else we need to know**:
I tried to create a new Dock

[2018-08-06 13:00] gintautassulskus opened #7038 "coredns does not have affinity and tolerations configuration"
At the moment there is no way to specify affinity and tolerations for the coredns deployment.

[2018-08-06 13:16] gintautassulskus opened #7042 "cert-manager does not have affinity and tolerations configuration"
At the moment there is no way to specify affinity and tolerations for the cert-manager deployment.

[2018-08-06 13:33] kachkaev commented on #6293
Default image tag in the latest chart version is 1.6.5 now (see [values.yaml](https://github.com/helm/charts/blob/4689b66d9092856ae3f826b144a328bcf21723da/stable/traefik/values.yaml)). @maver1ck is right – you can pick any traefik image tag you want, so there is no need to wait for chart updates (although life is abit easier when the chart includes the latest traefik by default). All you need to d

[2018-08-06 13:51] maver1ck commented on #2591
@unguiculus ?

[2018-08-06 14:11] vasya10 commented on #6570
I am running into same issue, but my versions are slightly different. My setup is on AWS EKS (K8S 1.10, Helm 2.9.1). After I ran helm install -n myspinnaker stable/spinnaker, every thing started except create-bucket, front50 and gate. They keep restarting and end up in CrashLoopBackOff. Any pointers?

[2018-08-06 14:31] vasya10 commented on #5999
@wtwde did you find a solution for this?

[2018-08-06 14:51] kratos81 opened #7044 "Restore is not working and no visible errors"
**Is this a request for help?**:
yes
---

**Version of Helm and Kubernetes**:
[code]
**Which chart**:
https://github.com/helm/charts/tree/master/stable/ark

However , I used the 0.9.0 version  of the ark-server to deploy

**What happened**:
I am doing a POC and each time I run a restore it fails , it does not restore the objects when I do a test backup and restore.

**What you expected to happen**

[2018-08-06 16:14] jannishuebl commented on #6398
I have the same problem. @kc004 could you fix it in the meantime?

@jmymy can I provide you any log outputs?

I am also running Kubernets 1.10.1, using RKE for deployment.

 From my local maschine I can ping the Openvpn pod, the 10.240.0.1 and the 10.42.*.* address of the openvpn pod. But services or pods beside are not working.

ping 10.42.2.9
PING 10.42.2.9 (10.42.2.9): 56 data bytes
64 bytes fr

[2018-08-06 16:17] gboor opened #7046 "[stable/rabbitmq] cannot log in after deployment"
**Is this a request for help?**: Yes

**Version of Helm and Kubernetes**:

[code]

**Which chart**: stable/rabbitmq

**What happened**:
Installation went fine, I provided username and password in the values.yaml. After deployment, it echoes back the correct username and gives me a command to retrieve the password, which also returns the correct password (both as set in the yaml file). I kubectl --

[2018-08-06 16:49] agoloAbbas commented on #2976
I had similar issue due to bad ssl key format and by looking at
```kubectl describe pod mongodb-mongodb-replicaset-0```

I could Identify that bootstrap container was still running and by looking at this container log there was noting special

[code]
inside this container there is a script that log to /work-dir/log.txt
you can always see content of this file and it will mostly show you what is the

[2018-08-06 18:26] xornet-sl opened #7047 "mongodb chart: respect existingSecret in standalone deployment"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
This is a BUG

**Version of Helm and Kubernetes**:
Helm version 2.9.1
Kubernetes version 1.11.0

**Which chart**:
stable/mongodb chart version 4.0.4

**What happened**:
standalone mongodb doesn't respect .Values.existingSecret but replicaset does.

**What you expected to happen**:
Secret handling with

[2018-08-07 01:46] BrunoQuaresma opened #7051 "[stable/Jekins] Agent is not using the image from values.yaml"
My values.yaml config:
[code]
Agent pod describe:
[code]

How can fix that?

[2018-08-07 03:01] moyuanhui opened #7052 "Consul Has an error:Error message from Consul: No cluster leader,when i has install finish!"
![image](https://user-images.githubusercontent.com/18112282/43751845-2d4d31a8-9a31-11e8-8cb8-a37b568da2af.png)
![image](https://user-images.githubusercontent.com/18112282/43751859-3b25a648-9a31-11e8-8cef-8012ed3d8070.png)
![image](https://user-images.githubusercontent.com/18112282/43751872-4982545c-9a31-11e8-819e-0489a0288a82.png)

[2018-08-07 03:32] svella opened #7053 "OpenLDAP chart README contains incorrect information"
Under the Testing heading of charts/stable/OpenLDAP/README.md, it states

This appears to have been copied directly from the consul chart where confirming that the first three cluster members have quorum makes sense. It does not make sense for OpenLDAP nor do the OpenLDAP tests actually test anything related to clustering or quorum.

[2018-08-07 03:48] #7002 closed

[2018-08-07 03:48] #7051 closed

[2018-08-07 03:49] BrunoQuaresma commented on #7051
Some values are not updated with helm upgrade do I had to delete the service and install again.

[2018-08-07 03:49] BrunoQuaresma commented on #7002
My values.yaml

[code]

[2018-08-07 06:15] kc004 commented on #6398
@jannishuebl still problem exist.

[2018-08-07 08:33] styk-tv commented on #6851
To solve temporarily apply changes from this PR (two lines added to values file)
https://github.com/helm/charts/pull/6444

[2018-08-07 09:23] maver1ck opened #7056 "[Percona XtraDB Cluster] Add Pod Disruption Budget"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

Add Pod Disruption Budget to Percona configuration.

**Version of Helm and Kubernetes**:
2.10.0-rc.1, 1.10.6

**Which chart**:
percona-xtradb-cluster

**What happened**:
There is no configuration of disruption budget so more than one pod can be killed at time.
(when replicas = 3)

**What you expected to happen**:
Only one

[2018-08-07 10:10] garethmorris78 opened #7058 "[stable/external-dns] Azure Config File Volume Type"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

external-dns helm chart, when provider "azure" is set, the volume type used to present the service principal credential is hostpath:

[code]
Can an additional option please be added to select the volume type within value.yaml ? Specifically a secret to support helm deployment of exter

[2018-08-07 12:16] oleksiSh commented on #5909
Have same in docker-for-desktop.
For me it happens if I try to use one of latest elasticsearch charts (have tried 1.4.0, 1.3.0, 1.2.1).

[2018-08-07 14:28] aba182 commented on #1569
I had an excellent suggestion from a Jody (can't see how to link slack name to github name for direct @) on the kubernetes slack channel.

The suggestion is to fix this issue with deploying Replica Sets in kubernetes by deploying a side car system along with the replica set that will query the MongoDB replica's to see which is master, take that information and update a kubernetes service that will

[2018-08-07 15:08] #6954 closed

[2018-08-07 15:08] #7038 closed

[2018-08-07 15:15] unguiculus commented on #6851
I'm not aware of any issues. The Selenium test has always worked here. It is run by the CI and would prevent PR merges when it fails. Also, I run Keycloak behind nginx-ingress without any problems.

I'll try and look into this.

[2018-08-07 15:56] styk-tv commented on #6851
@unguiculus

My issue is same as described in name of this issue however i get there a bit differently since TLS makes no difference to me. I always run it behind haproxy and works without any TLS issues. Either way there is no admin account that allows UI access after installation completed.

I use postgres option with persistence to aws volume. Maybe somehow that delays things maybe completely i

[2018-08-07 16:28] jmymy commented on #6398
Can you provide your openvpn server and client config please?

[2018-08-07 17:41] wspi commented on #7046
I've seen the same behaviour, but I'm not on GKE, running K8S via kops... and I don't even get the login failed message, whenever I try to login clicking on the button in the RabbitMQ login screen I get an Auth Basic that I can't get through.

PS: I don't have any extra plugins installed

[2018-08-07 18:45] Krueladin opened #7070 "Statefulset replicas Update Error"
**BUG REPORT**

**Version of Helm and Kubernetes**:
Helm:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Kubernetes:
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978

[2018-08-07 18:59] gboor commented on #7046
I can confirm the call to /api/whoami, which, according to the documentation, should return "details on the currently logged in user".

I inspected the request a bit more and saw that the www-authenticate header of the whoami call is set to

[code]

Googling that gives me the Kubernetes API server source, not RabbitMQ. Could it be that calls to /api/whoami on RabbitMQ and being redirected to the K

[2018-08-07 19:35] gboor commented on #7046
One further update; I just destroyed the service again (helm del --purge) and changed the serviceType in the values.yaml to LoadBalancer - essentially exposing the service through an external IP directly.

If I install it like that, it gives me some other command to get the external IP. It took a minute before that returned a valid IP, but once it did, I could access the console directly on that I

[2018-08-07 20:13] aba182 commented on #6741
Note that I was able to get this to work with some effort and not using the discovery service which always just returns the local address for the master I am running on.

To get this to work I had to do the following:

Setup my config file most notably including the names of each master.

[code]

Install:

[code]

Wait a bit for things to deploy...

Verify DiscoveryService is set:

[code]

Expose

[2018-08-07 20:25] ssalaues commented on #6833
Yeah definitely an issue there when upgrading to enable metrics w/ auth enabled. Also when testing this I found that it looks like upgrades from `auth.enabled = false` to `auth.enabled = true` causes a crash loop =(

[2018-08-07 21:27] mentalblock commented on #5882
I do not understand how you are getting the resulting configMap you do, but you aren't using the `plugins` key as defined in the Values file. Fixing that should be a great start. https://github.com/helm/charts/blob/master/stable/coredns/values.yaml#L63

[2018-08-07 21:52] arthur0 commented on #5882
Thanks for the comment @mentalblock!
Closed by: https://github.com/helm/charts/pull/2771

[2018-08-07 21:52] #5882 closed

[2018-08-08 00:09] sammerry commented on #5671
We're attempting to use the helm chart in the daemonset configuration. We've been able to use bash to send a custom metric to the daemonset but it required adding an un-documented environment variable to the helm chart.

[code]

The helm chart exposes 8125 as the metrics port. However setting the following on our python service doesn't seem to find the datadog agent.
[code]

exec'ing into the pod

[2018-08-08 00:18] dennybaa opened #7075 "[stable/mongodb] [bitnami] replicaset.enabled=true cluster is not functional after any pod upgrade operation"
Replicaset gets broken after any upgrade... rs.initiate() initializes replicaset hosts with IP addresses, since any pod kill/restart produces a new IP address all hosts are removed from the replicaset.
Any clues how to overcome this? Where us rs.initiate() buried inside bitnmani configurations?

It would be nice to be able to use DNS hostnames instead of IPs, such as

[code]

[code]

**Version of

[2018-08-08 09:44] juan131 commented on #7075
I just responded at https://github.com/bitnami/bitnami-docker-mongodb/issues/105

Let's try to continue with the discussion there so we avoid talking about the same thing twice.

Thanks so much for reporting this issue.

[2018-08-08 09:46] gboor commented on #7046
More update;

This seems to be a direct result of this - https://github.com/kubernetes/kubernetes/issues/38775

Which means the experienced behaviour is "intended" for security reasons. It also means logging in to RabbitMQ via kubectl proxy is not possible at all and the instructions given at the end of the helm install are misleading.

[2018-08-08 09:56] dennybaa commented on #7075
np

[2018-08-08 11:02] gboor commented on #7046
This was inadvertently resolved by #7030, which gives port-forward commands that actually work. Closing this issue.

[2018-08-08 11:02] #7046 closed

[2018-08-08 13:28] derangeer opened #7083 "helm creates efs-provisioner only with fs-12345678 default setting"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
1.10

**Which chart**:
efs-provisioner

**What happened**:
my command
helm install stable/efs-provisioner --name=provis --set efsFileSystemId=fs-2c2f4685 --set awsRegion=us-west-2

kubectl describe pods provis-efs-provisioner-xxxxx

Output: Running scope

[2018-08-08 13:47] aba182 commented on #6741
Further discovery. The issue I am having is with the fully qualified DNS name set in the DISCOVERY_SERVICE environment variable.

I was able to get this to work by leaving the DISCOVERY_SERVICE setting to just "elastic-test-elasticsearch-discovery" which is the following difference in github code:

[code]

This is a small change and makes my deployment functional. I admittedly do not know why the

[2018-08-08 14:01] #4461 closed

[2018-08-08 14:01] #4472 closed

[2018-08-08 14:02] #5166 closed

[2018-08-08 14:50] rendhalver commented on #6741
Exposing port 9300 on the masters was removed in the DNS discovery PR.
https://github.com/helm/charts/pull/5663/files#diff-8937019d987e37ecf933f34f87f0a3b7L21

I have been wondering whether setting the discovery to the short hostname would work.

Do you think you could open a PR to get this fixed @aba182?
I am happy to help get it finished off.
I should get tagged when you open it.

[2018-08-08 15:01] #5147 closed

[2018-08-08 15:01] #5125 closed

[2018-08-08 15:01] #5132 closed

[2018-08-08 15:01] #5085 closed

[2018-08-08 15:01] #5095 closed

[2018-08-08 15:01] #5072 closed

[2018-08-08 15:01] #5092 closed

[2018-08-08 15:01] #5040 closed

[2018-08-08 15:01] #5069 closed

[2018-08-08 15:01] #5015 closed

[2018-08-08 15:01] #4954 closed

[2018-08-08 15:01] #4927 closed

[2018-08-08 15:01] #4920 closed

[2018-08-08 15:01] #4908 closed

[2018-08-08 15:01] #4900 closed

[2018-08-08 15:01] #4814 closed

[2018-08-08 15:01] #4825 closed

[2018-08-08 15:01] #4833 closed

[2018-08-08 15:01] #4766 closed

[2018-08-08 15:01] #4746 closed

[2018-08-08 15:01] #4753 closed

[2018-08-08 15:01] #4763 closed

[2018-08-08 15:01] #4736 closed

[2018-08-08 15:01] #4714 closed

[2018-08-08 15:01] #4710 closed

[2018-08-08 15:01] #4686 closed

[2018-08-08 15:01] #4697 closed

[2018-08-08 15:01] #4604 closed

[2018-08-08 15:02] #4540 closed

[2018-08-08 15:02] #4537 closed

[2018-08-08 16:01] #4499 closed

[2018-08-08 16:01] #4513 closed

[2018-08-08 16:01] #4465 closed

[2018-08-08 16:01] #4468 closed

[2018-08-08 16:01] #4473 closed

[2018-08-08 16:01] #4413 closed

[2018-08-08 16:01] #4440 closed

[2018-08-08 16:01] #4417 closed

[2018-08-08 16:01] #4402 closed

[2018-08-08 16:01] #4283 closed

[2018-08-08 16:01] #4236 closed

[2018-08-08 16:01] #4125 closed

[2018-08-08 16:01] #4067 closed

[2018-08-08 16:01] #3847 closed

[2018-08-08 16:01] #3849 closed

[2018-08-08 16:01] #3767 closed

[2018-08-08 16:01] #3526 closed

[2018-08-08 16:01] #3450 closed

[2018-08-08 16:01] #3464 closed

[2018-08-08 16:01] #3352 closed

[2018-08-08 16:01] #3365 closed

[2018-08-08 16:01] #3360 closed

[2018-08-08 16:01] #3173 closed

[2018-08-08 16:01] #3072 closed

[2018-08-08 16:01] #2800 closed

[2018-08-08 16:01] #2862 closed

[2018-08-08 16:01] #2803 closed

[2018-08-08 16:01] #2784 closed

[2018-08-08 16:01] #2656 closed

[2018-08-08 16:02] #2536 closed

[2018-08-08 16:10] cpanato commented on #5849
@iming0319 one quick fix is delete the mysqha-1 pod and then the mysqlha-2 and most of the times it will fix.

another approach is to follow the PR I've opened.

[2018-08-08 16:48] unguiculus commented on #6851
I don't really want to diff the values file you posted. Please post what you changed on top of the defaults. Why do you even have all the defaults in your values file?

[2018-08-08 16:52] gajus opened #7088 "[stable/prometheus] prometheus /metrics endpoint results in 404 when server.baseURL and server.prefixURL are configured"
**Version of Helm and Kubernetes**:

[code]

**Which chart**:

https://github.com/helm/charts/tree/master/stable/prometheus

**What happened**:

I have installed the prometheus chart using a custom `server.baseURL` and `server.prefixURL`. It appears that the underlying container is not passed all the relevant configuration. As a result, Prometheus is querying wrong endpoint.

<img width="1920" alt

[2018-08-08 17:01] #2488 closed

[2018-08-08 17:01] #2338 closed

[2018-08-08 17:01] #1711 closed

[2018-08-08 17:01] #1567 closed

[2018-08-08 17:01] #5144 closed

[2018-08-08 17:01] #4977 closed

[2018-08-08 17:01] #4914 closed

[2018-08-08 17:01] #1159 closed

[2018-08-08 17:02] gajus commented on #7088
Adding `--web.route-prefix` does not fix the issue.

[2018-08-08 17:16] cliedeman commented on #809
/remove-lifecycle stale

[2018-08-08 17:46] gajus opened #7089 "[stable/grafana] Grafana setup does not allow to configure baseurl"
**Which chart**:

https://github.com/helm/charts/tree/master/stable/grafana

**What you expected to happen**:

Add ability to configure service URL with a custom path.

It appears that ingress allows to configure path property (`ingress.path`).

However, there is no way to configure Grafana [`root_url`](http://docs.grafana.org/installation/configuration/#root-url) setting.

[2018-08-08 17:47] gajus commented on #7089
https://github.com/helm/charts/issues/6264#issuecomment-399363457

[2018-08-08 17:47] #7089 closed

[2018-08-08 17:59] gajus commented on #6264
@obeyler did you need to configure anything extra to make the static assets work?

Using equivalent configuration I cannot get static assets to load:

<img width="1920" alt="screen shot 2018-08-08 at 18 59 12" src="https://user-images.githubusercontent.com/973543/43855353-30e4c5d0-9b3d-11e8-8bc1-4ea319208b81.png">

[2018-08-08 18:19] giggio commented on #2960
This is not stale until fixed.

[2018-08-08 18:19] giggio commented on #2960
/remove-lifecycle rotten

[2018-08-08 20:49] davidkarlsen commented on #4977
/remove-lifecycle stale
/assign

[2018-08-08 23:06] naseemkullah opened #7092 "[stable/redis] networkPolicy needs more granularity"
Is this a BUG REPORT or FEATURE REQUEST? FEATURE REQUEST

Version of Helm and Kubernetes: 2.9.1 1.11

Which chart: stable/redis

For network policy in the redis chart, can we define the network policy with more granularity? e.g. choose the  values of the `namespaceSelector` and the `podSelector` and put as many as we want, and even since 1.11 mix the two together

[2018-08-08 23:11] crbichler commented on #3154
For us, it was basically an issue with newer aws instances (c5,m5, etc) that utilize nvme storage.   See:

https://github.com/kubernetes/kubernetes/issues/49926

resolved by using c4 or m4 instances.

[2018-08-09 00:25] naseemkullah opened #7093 "[stable/redis] metrics pod, need to enable flags"
Is this a BUG REPORT or FEATURE REQUEST? FEATURE REQUEST

Version of Helm and Kubernetes: 2.9.1 1.11

Which chart: stable/redis

it would be very nice to be able to enable flags for the redis_exporter..
possible values [here](https://github.com/oliver006/redis_exporter#flags)

Just like the extraArgs value in the [prometheus-redis-exporter](https://github.com/helm/charts/tree/master/stable/prometh

[2018-08-09 05:44] GaneshSPatil commented on #6228
Fixed as part of https://github.com/helm/charts/pull/6229

[2018-08-09 05:44] #6228 closed

[2018-08-09 08:54] sneko opened #7095 "[stable/elastalert] Support custom SSL certificates"
Hi @mumoshu!

I saw you are a maintainer of the ElastAlert Chart and I was wondering if you plan to support custom SSL certificates?

Because in my case I would like to specify some properties like:
[code]
(name properties are not the ones from ElastAlert, it's just an example)

One of the possible way to do that would be to authorize custom volume mounts.

Thank you 😃 !

[2018-08-09 10:58] alexjg commented on #6791
I'm also encountering this issue but can't find a reliable way to reproduce it.

[2018-08-09 12:55] vdboor opened #7102 "[stable/redis] Add podPriorityClass field"
**Is this a BUG REPORT or FEATURE REQUEST?** feature request

**Version of Helm and Kubernetes**: 2.9.1 1.11

**Which chart**: stable/redis

**What happened**: After a node reboot, website pods were started before redis was active, causing a backoff during the start. As timeouts built up, the website became online after ±5 minutes after bootup.

**What you expected to happen**: Redis and related s

[2018-08-09 13:05] SteveCaswellTST opened #7103 "Gateway timeout create argument not supported by kiam v2.7"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
Helm client 2.9.1
Helm server 2.9.1
Kubernetes client: 1.10.4
Kubernetes server: 1.9.8

**Which chart**: kiam

**What happened**:
I'm trying to use the helm chart stable/kiam to deploy kiam v2.7. The agent fails to start because the helm chart include

[2018-08-09 13:15] aparedero opened #7104 "[stable/consul] GossipKey ignored after setting up in values.yml"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

The template https://github.com/helm/charts/blob/master/stable/consul/templates/gossip-secret.yaml have a conditional just in case we selected gossip.create but after that is not considering if we set a fixed Gossip Key.
[code]

**Version of Helm and Kubernetes**:
[code]
K8s Version
[c

[2018-08-09 14:29] aba182 opened #7105 "[incubator/fluentd-elasticsearch] Feature: allow for non default docker install locations"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.7.2", GitCommit:"8478fb4fc723885b155c924d1c8c410b7a9444e6", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Client Versi

[2018-08-09 14:50] jeusdi opened #7107 "Vault: Mount extraVolumes"
How can I mount `extraVolumes` into specific containers?

[2018-08-09 15:05] SteveCaswellTST commented on #7103
I just realized this flag is also used on the server liveness probe which causes the server pod to crash:

`Liveness probe failed: health: error: unknown long flag '--gateway-timeout-creation', try --help`

Applying any fix for agent would also be appropriate for the server.

[2018-08-09 18:26] mattfarina commented on #4953
`cce-1.7.3.17+8857de1a267f8f-dirty` is not a valid semantic version and is likely causing the error.

[2018-08-09 18:32] caiobegotti opened #7108 "[incubator/elastic-stack] Default installation prints multiple meaningless warnings"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug

**Version of Helm and Kubernetes**:

[code]

[code]
**Which chart**:

incubator/elastick-stack

**What happened**:

I had previously fetched the chart but the same happens installing it from the remote repo:

[code]

**What you expected to happen**:

A better warning to be printed with an actual

[2018-08-09 18:39] caiobegotti opened #7109 "[incubator/elastic-stack] Probes have a too short delay time, failing to get pods ready with wrong status"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:

incubator/elastic-stack

**What happened**:

After installing the chart I see its client pods are all in a Running status but they are actually failing to run:

[code]

This is wrong because they are not ready in fact:

[code]

[2018-08-09 18:54] mattfarina commented on #3240
@gabrielgrant I can re-open it for you

[2018-08-09 19:22] lemccarthy opened #7110 "[stable/mongodb-replicaset] Issue creating admin user via existing secret."
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Version of Helm and Kubernetes**:

Helm:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Kuberne

[2018-08-09 19:25] gajus opened #7111 "[stable/datadog] use Service to create DataDog agent for APM metric collection"
**Which chart**:

https://github.com/helm/charts/tree/master/stable/datadog

**What happened**:

DataDog chart requires use of `hostPort` on a DaemonSet to enable APM metric collection.

**What you expected to happen**:

I expect chart to create a service that I could use to send metrics to without using `hostPort`, e.g.

[code]

[2018-08-09 19:36] gajus commented on #7111
Duplicate of https://github.com/helm/charts/issues/5671

[2018-08-09 19:36] #7111 closed

[2018-08-09 22:55] caio1982 commented on #7109
Just an extra comment on this, there is also a possibility of the logstash pod failing after a few times the client pods fail as well, so even if you manually edit the deploy to fix the initial delay seconds, you may have a permanently borked logstash pod, which requires a redeploy because it is a StatefulSet. The only way to prevent this is fixing the seconds value as suggested above in the chart

[2018-08-09 23:16] caiobegotti opened #7114 "[incubator/elastic-stack] Hardcoded service address in probes fail chart customization with --name"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug

**Version of Helm and Kubernetes**:

[code]

[code]

**Which chart**:

incubator/elastic-stack

**What happened**:

Installing the chart with `--name elk` make things like the logstash StatefulSet start to falling because it is apparently hardcoded to probe `elasticsearch-client.default.svc.clust

[2018-08-09 23:18] caio1982 commented on #7114
That would be the hardcoded setting in ELASTICSEARCH_HOST.

[2018-08-09 23:27] caiobegotti opened #7115 "[incubator/elastick-stack] Wrong label selector in the setup instructions"
**Is this a request for help?**:

No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug

**Which chart**:

incubator/elastic-stack

**What happened**:

The setup instructions have an export command to do the port-forwarding and check everything is working but it is has the wrong app label selector.

**What you expected to happen**:

The template of the instructions should match the a

[2018-08-09 23:36] caio1982 commented on #7115
Oh! In fact it seems your helper template is using the app label selector of the elastic-stack chart and NOT the kibana label, like `app=kibana,release=[...]`. After fixing this the instruction works.

[2018-08-09 23:57] sneko commented on #7095
Having a look at OWNERS it seems I could have mention @jertel too 😄

[2018-08-09 23:59] giacomoguiulfo commented on #2346
/reopen

[2018-08-10 00:00] giacomoguiulfo commented on #2346
/remove-lifecycle rotten.

[2018-08-10 00:58] naseemkullah opened #7117 "[stable/prometheus-redis-exporter] REUSE existing secret for password"
FEATURE REQUEST

Use existing secret for password

Would be nice to use an existing secret (and specify the key in it) so if we are using the redis chart for example we could say that the password is in secret `redis` and the key is `password`

[2018-08-10 02:11] jertel commented on #7095
Hi @sneko,

Have you seen the open PR #6733? It is attempting some of what you're requesting, but it appears the submitter hasn't finished signing the CLA form or addressed the merge issues. Perhaps you'd be interested in using that PR as a template for one that you could submit, along with your volume suggestions for the custom certificate options.

[2018-08-10 04:41] sivareddyforu opened #7119 "stable/mcrouter - How can we set the required resources (memory & cpu) for both mcrouter and memcache"
**Is this a request for help?**: Yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): NA

**Version of Helm and Kubernetes**: helm-v2.6.0 & Kubernetes 1.10.5-gke.3

**Which chart**: mcrouter-0.1.1

**What happened**: Could not set the required resources

**What you expected to happen**: Is there a way to set required resources(memory & cpu for both mcrouter and memcache) while inst

[2018-08-10 06:05] tristanveness opened #7121 "Add ability to modify timezone for mysql chart"
I have a requirement to modify the default server timezone for a mysqld instance. The chart doesn't currently have support to do this (that I can see).

I'm looking to follow up with a PR to simply have the ability to set the system TZ.

[2018-08-10 06:16] Nopik opened #7122 "Testlink does not support nodeSelector"
**Is this a request for help?**:

No.

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Feature request.

**Which chart**:

Testlink

**What you expected to happen**:

Testlink chart to obey nodeSelector in values.yaml. Currently testlink pods are scheduled randomly, supporting nodeSelector (just like other charts) will allow to place testlink pods according to user needs.

[2018-08-10 08:00] rajkumar49 commented on #6674
Any update ?

[2018-08-10 08:27] #6941 closed

[2018-08-10 08:48] #2960 closed

[2018-08-10 10:21] kiall opened #7127 "Several charts default values prevent an operator from draining a worker"
**Version of Helm and Kubernetes**:

	# kubectl version
	Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.8", GitCommit:"c138b85178156011dc934c2c9f4837476876fb07", GitTreeState:"clean", BuildDate:"2018-06-18T14:12:08Z", GoVersion:"go1.9.4", Compiler:"gc", Platform:"linux/amd64"}
	Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.8", GitCommit:"c138b85178156011d

[2018-08-10 11:10] kiall commented on #7127
For memcached, I created this PR yesterday: https://github.com/helm/charts/issues/7127

[2018-08-10 13:54] sebglon opened #7132 "nfs-server-provisioner can you add statefulset match selector labels"
**Is this a request for help?**:
NO
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

On statefulset volumeClaimTemplates can you add matchSelector to add possibility to match with an existing PV when matchSelector is provided.

**Which chart**:
nfs-server-provisioner

**What happened**:
Statefulset can use pre existing PV (for example on recovery process or on dupli

[2018-08-10 14:06] mattfarina commented on #7127
This is a good catch. It would be good for the automation to pick this up. That's all packaged up over at https://github.com/helm/chart-testing

Thanks for the PR

[2018-08-10 14:43] #6772 closed

[2018-08-10 15:53] snypelife opened #7133 "[stable/verdaccio] Deployment fails to scale past 1 replica"
**Is this a request for help?**:
Maybe? I believe since this has to do with the fact that Verdaccio is stateful when enabling persistence. In which case, a migration to StatefulSet would be needed? If you'd like I could make an attempt at a contribution.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
I guess I would say bug?

**Version of Helm and Kubernetes**:
Helm: 2.9.1
Kubern

[2018-08-10 19:27] gallolp commented on #6754
Hi @Chehai just in case you are still dealing with the problem this did the trick for me: https://github.com/gallolp/charts/commit/0984cd4552690cbbbe56454ce26b39fae45faeab

I added .POD_NAMESPACE to your suggestion in order to be able to access the cluster from a different namespace (for example I'm using kubeless)

[2018-08-10 19:44] skarj commented on #7114
It seems connected with  #2492 / #2133 and this PR https://github.com/helm/helm/pull/3252
I really look forward to this feature
It seems that we are forced to change these names manually for subcharts for now as I did here https://github.com/skarj/helm-elastic-stack/blob/master/values.yaml

[2018-08-10 19:47] ssalaues commented on #2780
There's so many issues with the stable/redis-ha chart it really should be moved into incubator. I just ran into the same issues with no failover happening.

Just to name a few other big issues I've encountered as well:
Race condition with masters #5441
Announced service no longer working #3197
PVCs possibilities #3403

I'm working on a major refactor of the chart loosely based off the PR #6706 to

[2018-08-10 19:56] andrewcheny opened #7135 "[stable/LAMP] Error 403 when accessing the website"
**Is this a request for help?**: Yes
Following the instruction to install. After getting the external IP address tried the website and get a 403 error. Forbidden.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
1.10

**Which chart**:
stable/LAMP

**What happened**:
After successful install the website encountered 403 error. Same behavior on AWS

[2018-08-10 20:53] wernight commented on #1863
Another advantage of StatefulSet is that you can `helm delete --purge RELEASE-NAME` and re-create it with the same name, and it'll keep&reuse the data. There is a lot lower risk of deleting data.

There's indeed still the cases where a single volume is used by multiple Pods. It's more advanced as more volumes support only RWO and those that don't are slow(er). It may use StatefulSet but switch to

[2018-08-10 23:15] jainishshah17 opened #7136 "[stable/rabbitmq-ha] Use randAlphaNum instead of randAscii to generate random password"
**Is this a request for help?**:
Using randAlphaNum instead of randAscii to generate a random password
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:
[helm 1.9.2 kubernetes 1.9.6]

**Which chart**:
[stable/rabbitmq-ha]

**What happened**:
Current mechanism is to use randAscii to generate password some of rabbitmq client does not support special

[2018-08-10 23:33] #5058 closed

[2018-08-11 00:35] Chehai commented on #6754
Cool! Thank you, @gallolp

Hopefully, the official chart can get your fix soon.

[2018-08-11 14:05] camflan commented on #2780
@ssalaues thanks! I just hit an issue this morning as well. Master died and then I had 3 pods labeled `redis-role: slave`. I relabeled one of the pods to master and of course k8s relabeled it back to slave.

I'll give the redis-operator a shot, but look forward to your update

[2018-08-12 11:35] dwaiba commented on #3504
Works fine with this [RBAC Disabled]
[code]

[2018-08-12 17:14] robertervin commented on #4773
Any update to this? I'm running into a similar issue where the init containers appear to get stuck when TLS is enabled

[2018-08-12 19:49] jaredallard commented on #7133
Wouldn't there be issues with two instances sharing different volumes? A `StatefulSet` would just provision a new PV, which wouldn't solve the issue I think you're having here which is that you want multiple replicas of the same verdaccio instance to run.

[2018-08-12 19:59] jaredallard commented on #7122
Hi @Nopik, will #7142 be sufficient?

[2018-08-12 20:05] naseemkullah opened #7143 "[stable/influxdb] Update to influxdb 1.6.1"
They did it:
https://github.com/influxdata/tick-charts/tree/master/influxdb

[2018-08-12 21:35] tvildo opened #7144 "OpenVPN ca certificate strange name"
https://github.com/helm/charts/blob/5c8e924545a110b744a37e35d0c1ffd6857cc36e/stable/openvpn/templates/config-openvpn.yaml#L22

That line tells easyrsa  to generate certificate with name of    "ca\n"
Is newline symbol typo or has some reason to be there ?

[2018-08-13 01:14] naseemkullah opened #7145 "[stable/influxdb] boolean value to expose backup-and-restore svc on port 8088"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: latest and greatest

**Anything else we need to know**:

Add a boolean to be able to expose `release-backup-and-restore.namespace.svc` on `8088` so external influxdb pods can perform backups from and restores to the helm influxdb.. not sure if it works for 1.4 but need to update inf

[2018-08-13 02:39] stanltam opened #7146 "redis-ha helm release note kube-dns not correct"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 BUG REPORT

**Version of Helm and Kubernetes**:
k8s:v1.10.0
helm: v2.7.3

**Which chart**:
redis-ha

**What happened**:
In the release note:
Redis cluster can be accessed via port 6379 on the following DNS name from within your cluster:
redis-db-redis-ha.bff-dev.svc

However, I failed to ping this ku

[2018-08-13 08:55] saplla commented on #4773
@robertervin / @anupshrestha  I'm not sure TBH. The only real difference I can see between the latest chart, 3.5.3 and mine is the latest chart passes `--bind_ip=0.0.0.0` to mongod, but I pass `--bind_ip_all` instead (in the stateful set).

[2018-08-13 11:37] maver1ck opened #7148 "[incubator/elasticsearch] Add updateStrategy to Stateful sets"
FEATURE REQUEST

**Version of Helm and Kubernetes**:
Helm: 2.9.1
K8S: 1.10.6

**Which chart**:
incubator/elasticsearch

**What happened**:

By default Stateful sets created by this chart have updateStrategy: onDelete

**What you expected to happen**:

I'd like to configure updateStrategy via values.yaml

[2018-08-13 12:52] davidkarlsen commented on #7148
Would you like to create a PR for it?

[2018-08-13 14:47] pierreozoux opened #7151 "Mongodb version 3.4"
RocketChat depends on the official helm mongoDB chart.
RocketChat requires MongoDB version 3.4.
The official heml mongodb chart depends on bitnami chart that doesn't provide 3.4

In your opinion, what would be the best way to solve the issue?

Thanks for your feedback!

[2018-08-13 15:02] #6697 closed

[2018-08-13 15:33] plumdog commented on #6438
I think the full solution here might be to make use of the new `crd-install` helm hook, which will be part of 2.10, but is not released yet.

Then the hack to create custom the custom resource from the confimap can go away, and we can just use helm for everything. This will then handle resources being deleted too.

[2018-08-13 15:33] plumdog commented on #6448
See https://github.com/helm/charts/issues/6438#issuecomment-412560311 - will be much cleaner to implement once helm 2.10 is released.

[2018-08-13 16:51] Nopik commented on #7122
@jaredallard Yes, it will. I didn't noticed that PR, sorry. Closing this as duplicate.

[2018-08-13 16:51] #7122 closed

[2018-08-14 07:25] davidkarlsen commented on #7143
Fancy doing a PR?

[2018-08-14 08:41] monotek commented on #6150
done in: https://github.com/helm/charts/pull/6827

[2018-08-14 08:48] techlunacy opened #7166 "[stable/jenkins] custom labels on the agent"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**:
all

**Which chart**:
[stable/jenkins]

**What happened**:
cannot add custom labels to jenkins agent in the values file

**What you expected to happen**:
add custom labels to the agent in the values file

**How to reproduce it** (as minimally and pr

[2018-08-14 08:51] davidkarlsen commented on #7166
Fancy doing a PR?

[2018-08-14 09:07] techlunacy commented on #7166
@davidkarlsen think i might be able to get it done

[2018-08-14 09:45] techlunacy commented on #7166
[pull request](https://github.com/helm/charts/pull/7167/)

[2018-08-14 10:15] grebois opened #7168 "[stable/fluentd-elasticsearch] fluentd-elasticsearch:v.2.2.0 not formatting JSON logs"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Version of Helm and Kubernetes**:

[code]

**Which chart**:

stable/fluentd-elasticsearch

**What happened**:

gcr.io/google-containers/fluentd-elasticsearch:v.2.2.0 is not mapping json input

**What you expected to happen**:

Format json input in searchable fields

**How to reproduce it** (as minimally and precisely as poss

[2018-08-14 10:16] grebois commented on #7168
@monotek you can test this issue with standard nginx logs https://github.com/kubernetes/ingress-nginx/issues/1664

[2018-08-14 11:26] naseemkullah commented on #7143
I want to but I need to get around to signing the cNCf thing

[2018-08-14 11:43] GiORg1 opened #7169 "[stable/mongodb] No credentials used after upgrade"
**Is this a request for help?**: yes

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**Version of Helm and Kubernetes**:
Helm version:

Client: &version.Version{SemVer:"v2.10.0-rc.1", GitCommit:"aa98e7e3dd2356bce72e8e367e8c87e8085c692b", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.10.0-rc.1", GitCommit:"aa98e7e3dd2356bce72e8e367e8c87e8085c692b", GitTreeSt

[2018-08-14 12:37] GiORg1 commented on #7169
It's my first issue on Github, so if something is unclear or missing please let me know and I will provide additional details upon necessity

[2018-08-14 13:42] manojit123 opened #7171 "Jenkis master pod is not able to initilized"
**Is this a request for help?**:
 This is a request for help
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Version of Helm and Kubernetes**:

**Which chart**:

**What happened**:

Jenkins master pod is not coming to running state

**What you expected to happen**:
Pod to initialize and come to running state. The container should have google DNS entry since it pulls plugins from

[2018-08-14 13:42] alwinmarkcf opened #7172 "[stable/traefik] Update KV Configs by running helm upgrade"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:

Helm:
[code]
K8s:
[code]

**Which chart**:

stable/traefik

**What happened**:

When you change values in the values file and run:
`helm upgrade traefik` the values in etcd were not changed.

**What you expected to happen**:

If I run `helm upgrade` and

[2018-08-14 14:16] sc-pulsion commented on #7083
The docs are incorrect. You need to use e.g.

`helm install stable/efs-provisioner --set efsProvisioner.efsFileSystemId=fs-ae098765 --set efsProvisioner.awsRegion=eu-west-1 --set efsProvisioner.path=/ --set efsProvisioner.storageClass.reclaimPolicy=Retain --name efs-provisioner --version 0.1.1`

[2018-08-14 14:28] cabrinoob opened #7174 "[stable/phabricator] mariadb pod not ready"
Hi,
I'am trying to install the last stable version of phabricator (phabricator-2.1.7).

I'am using helm :

[code]
And kubectl :
[code]

I'am installing phabricator chart with these values :

[code]

You can see that I force the mariadb root password to azerty123. But the problem is that the mariadb pod is never ready because the readyness probe crashes :

[code]

When I connect into the mariadb co

[2018-08-14 16:55] nick4fake commented on #3236
/remove-lifecycle rotten

[2018-08-14 20:25] dcherman opened #7185 "[stable/vault-operator] default value for service account name doesn't match readme"
**Version of Helm and Kubernetes**:

Helm: 2.9.1
Kubernetes: 1.10.3

**Which chart**:

stable/vault-operator

**What happened**:

Installation fails by default with the error `Error: release vault-operator failed: ServiceAccount "" is invalid: metadata.name: Required value: name or generateName is required`

**What you expected to happen**:

The install to succeed

**How to reproduce it** (as mini

[2018-08-14 23:54] gregkeys commented on #6398
Im having the same problem, Im trying to provide access outside of the kubernetes network.
We have an aws VPC VPN connection connected for secure access to a remote API we need to be able to develop against that ip which is propagated into our VPC, we also need to be able to access the internet while on the VPN which is currently not working either

openvpn.conf
[code]

configure.sh
[code]

[2018-08-15 12:52] kimbad opened #7192 "stable/rabbitmq fails to start on tectonic 1.9.6"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Version of Helm and Kubernetes**: 2.9.1 and 1.9.6 (tectonic)

**Which chart**:stable/rabbitmq version: 2.1.2

**What happened**:
Pod continually fails to start with error
bash: line 1: /opt/bitnami/rabbitmq/var/lib/rabbitmq/.erlang.cookie: Permission denied

**What you expected to happen*

[2018-08-15 13:06] monotek commented on #7168
I can confirm the issue.
Kibanas json log is not detected as json.

[2018-08-15 15:01] Adverbly opened #7197 "Grafana URL after install"
**Is this a request for help?**:
No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Version of Helm and Kubernetes**:
helm - 2.9.1
kube -
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-07-26T20:40:11Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"da

[2018-08-15 15:54] ThomasUllrich666 commented on #5385
Same issue too. v. sonatype-nexus-1.5.1
Log file:
kubectl logs nexus-release-sonatype-nexus-654df8f789-t7rbs nexus-proxy

2018-08-15 15:52:41,586 [WARN ] [vert.x-eventloop-thread-0] [io.netty.util.internal.MacAddressUtil] Failed to find a usable hardware address from the network interfaces; using random bytes: fa:ae:94:83:de:8a:90:c9
2018-08-15 15:52:41,663 [INFO ] [vert.x-eventloop-thread-0] [com

[2018-08-15 15:57] jmymy commented on #6398
Did you use custom values in the helm chart? i.e. values.yaml?

[2018-08-15 20:12] yokhahn opened #7204 "incubator/elasticsearch needs enough flexibility in the chart to allow snapshotting"
In order to have a production elasticsearch run, I believe backups are probably a requirement.
If I understand correctly this is usually done with the snapshot capability (https://www.elastic.co/guide/en/elasticsearch/reference/6.3/modules-snapshots.html).

By default there is a filesystem snapshot, but there is nothing in the chart to allow a separate persistent volume to be allocated purely for

[2018-08-15 20:14] davidkarlsen commented on #7204
@yokhahn You could just build your own image extending the official one and install a plugin and use that in the chart values.yaml?

[2018-08-15 20:15] yokhahn commented on #7204
That could possibly work as a work around,  I just thought folks might want to not depend on a custom image.

[2018-08-15 20:26] #6145 closed

[2018-08-15 20:57] cpjolly opened #7205 "[stable/etcd-operator] EtcBackup.spec requires etcdEndpoints, not clusterName"
**BUG REPORT**

**Version of Helm and Kubernetes**:

Helm: 2.9.1
Kubernetes: 1.10.5-gke.4

**Which chart**:

stable/etc-operator

**What happened**:

EtcBackup.spec requires etcdEndpoints array, not clusterName. For example, See
https://github.com/coreos/etcd-operator/blob/master/example/etcd-backup-operator/backup_cr.yaml
and
https://github.com/coreos/etcd-operator/blob/master/doc/user/backup_cro

[2018-08-15 20:57] yokhahn commented on #7204
Also, mounting another volume for the file-system snapshot is really something that needs to be done in the chart.  Perhaps another set of persistent storage something like:
snapshot.persistence.enabled
snapshot.persistence.name
snapshot.persistence.size
.. etc

And just mount in one more volume.

[2018-08-15 21:09] yokhahn opened #7206 "incubator/elasticsearch needs a way to specify pull secrets so the image can come from a private registry"
If you try to make a custom image stored on a private repository, there is no way in the chart to specify the secret to pull the image with.

**Version of Helm and Kubernetes**: helm 2.9.1, and Kubernetes 1.10.1

**Which chart**: incubator/elasticsearch

**What happened**:Unable to pull an image from a private repository with a password.

**What you expected to happen**: I expected to be able to u

[2018-08-15 21:27] unguiculus commented on #6830
This is because the logs would be lost. The script is called by peer finder which doesn't capture the output.

[2018-08-15 21:27] #6830 closed

[2018-08-15 21:29] unguiculus commented on #6357
There was an issue with the initial PR. The exporter is back now.

[2018-08-15 21:29] #6357 closed

[2018-08-15 21:30] terrykong opened #7209 "[Horovod Chart] cannot set useHostNetwork to True"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Possible bug or perhaps lack of information.

**Version of Helm and Kubernetes**:
Helm:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710",

[2018-08-15 23:35] #4748 closed

[2018-08-16 01:01] gregkeys commented on #6398
@jmymy Yes and I also manually updated the configmap and restarted the container, thats how I added the extra routes, I also manually edited the configure.sh entry in the configmap

[2018-08-16 01:28] sfitts opened #7213 "[stable/grafana] Ingress definition requires host route"
**Is this a request for help?**:
No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**Version of Helm and Kubernetes**:
$ helm version --short
Client: v2.9.1+g20adb27
Server: v2.9.1+g20adb27

$ kubectl version --short
Client Version: v1.10.3
Server Version: v1.10.3

**Which chart**:
[stable/grafana](https://github.com/helm/charts/tree/master/stable/grafana)

**What hap

[2018-08-16 07:46] gregkeys commented on #6398
i have a sneaky suspicion it might need some custom iptable rules and ip forwarding e.g. https://www.linode.com/docs/networking/vpn/tunnel-your-internet-traffic-through-an-openvpn-server/ i toyed with it a little with no luck though

[2018-08-16 07:56] xiaods opened #7214 "[stable/percona-xtradb-cluster] failed for restart the cluster."
[code]

it always crash for helm restart the pod

[2018-08-16 13:08] mattfarina commented on #3236
@nick4fake This was closed. Did you mean for it not to be closed as well?

[2018-08-16 14:38] sneko commented on #7095
Hi! @jertel thank you for the answer and sorry about answering late I'm quite busy currently 😢

I noticed too that the PR is not letting the choice to the user about certificate files location.

I would have liked to participate to the PR but I can't presently. As soon as I'm done with my huge TODO list I will dig into it 😄

[2018-08-16 21:43] chavezmx opened #7223 "[stable/ark] Restic support"
**Is this a request for help?**: No

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**Version of Helm and Kubernetes**: k8s 1.9.1, helm 2.8.2

**Which chart**: ark

**Feature**: I see the current chart don't have the proper template for creating the demonset for restic, it will be good to enable the creation of backups from pv other than snapshots and store them o

[2018-08-17 01:56] hubbardmichael opened #7225 "stable/magento mysql-c ERROR [canConnect] Connection with 'bn_magento' user is unsuccessful"
**Is this a request for help?**:
yes
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
bug report

**Version of Helm and Kubernetes**:
Client: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}
Server: &version.Version{SemVer:"v2.9.1", GitCommit:"20adb27c7c5868466912eebdf6664e7390ebe710", GitTreeState:"clean"}

Server Version

[2018-08-17 03:14] TreHack opened #7226 "[stable/rabbitmq-ha]Node 'rabbit@rabbitmq-rabbitmq-ha-0.rabbitmq-rabbitmq-ha-discovery.default.svc.cluster.local' not responding"
**Is this a request for help?**:

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
 BUG

**Version of Helm and Kubernetes**:
k8s version:
[code]
helm version:
[code]
linux version:
[code]

**Which chart**:
stable/rabbitmq-ha

**What happened**:
The rabbitmq-ha pods always crashloopbackoff
[code]
The pods log is below:
[code]
The pods event is below:
[code]
**What you expected to hap

[2018-08-17 08:18] #6572 closed

[2018-08-17 08:59] TreHack commented on #7226
When I change the default DNS  to kube dns, It worked well.  It seems that the stable/rabbitmq-ha can't support coredns?  Since k8s 1.11, CoreDNS has graduated to General Availability (GA) and is installed by default.

[2018-08-17 10:12] brianbaquiran commented on #6757
I'm seeing this problem now as well, in a staging environment. The chart version installed was 2.0.0, and upgrading to later charts doesn't work:

[code]

[2018-08-17 11:41] TobiasWenzel opened #7227 "[stable/mssql-linux] Missing service annotations"
**Is this a request for help?**: No
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Depends on the perspective. From my POV, it's a bug report.

**Version of Helm and Kubernetes**:
Helm: 2.9.1
Kubernetes: 1.10.3

**Which chart**:
mssql-linux-0.5.0

**What happened**:
When I install the mssql-linux chart I am not able to specify a [parameter](https://github.com/helm/charts/tree/mast

[2018-08-17 12:00] mtparet commented on #6170
Same issue on my side, cannot update redis chart..

[2018-08-17 14:48] monotek commented on #7168
The problem is in the fluent-plugin-kubernetes_metadata_filter plugin. I've created a bugreport fluent-plugin-kubernetes_metadata_filter.

Pull request for fixed image is available too: https://github.com/kubernetes/kubernetes/pull/67544

[2018-08-17 14:52] obeyler opened #7231 "[stable/grafana] pod.Spec.SecurityContext.RunAsUser is forbidden"
I use of kubernetes version 1.11.1 and grafana helm chart: 1.14.0

when I try to install grafana with helm I haven't got any pod created and in event of replica set I've got an error
pod.Spec.SecurityContext.RunAsUser is forbidden

I've try with both option for rbac.pspEnabled (true or false) with same result

this is my value.yaml
[code]

[2018-08-18 00:46] #2636 closed

[2018-08-18 05:05] kojiDev commented on #362
No solution so far? PostgreSQL Chart is unusable.

[2018-08-18 09:10] gboston commented on #7151
Hi, you can use the mongodb chart with the a bitnami/mongodb:3.4.10-r0 image.

[2018-08-18 09:38] gboston commented on #7169
Hi, the first time you deploy the helm chart it will create a secret that is used as credentials for configuration of the MongoDB. If you don't reuse that secret when updating the helm chart, it will overwrite the root password and you won't be able to reconnect as a root user to the MongoDB database. So make sure you specify the mongodbRootPassword or reuse the secret from initial install.

[2018-08-18 09:49] gboston commented on #5219
Hi, if you look at the default config that is used in opt/bitnami/mongodb/conf/mongodb.conf
You will notice that it allows bypassing the authentication.

# set parameter options
setParameter:
   enableLocalhostAuthBypass: true

[2018-08-18 20:56] bhack commented on #6563
Any news?

[2018-08-18 23:30] mjrsnyder commented on #5873
I'm still having this issue

[2018-08-19 00:57] burnettk commented on #6065
anyone have thoughts on this?

[2018-08-19 02:30] briantopping commented on #5129
I'm not going to "maintain" this and assume it would be marked complete if it was resolved. Leaving this note for those that come afterwards...

[2018-08-19 02:41] cheyang commented on #5032
/close

[2018-08-19 03:10] whereisaaron commented on #5154
This problem is still present in the MySQL chart 0.9.1 and is not fixed.

ref: @viglesiasce

[2018-08-19 06:53] subesokun commented on #5731
/unstale Issue still exists

[2018-08-19 07:07] nerumo commented on #3855
still an issue

[2018-08-19 08:21] #6577 closed, assigned to nobody

[2018-08-19 10:32] groundnuty commented on #6349
*bump* please let's not forget about it

[2018-08-19 10:34] #6346 closed

[2018-08-19 16:43] kingdonb commented on #4142
It looks like PR #3870 was merged, and #2779 was closed in favor of #6433 which has also been merged now.

I'm not sure there's any reason to keep this issue open anymore!  It looks like we have a chart that can be used to make PVCs against a backing ReadWriteOnce, and make them available via NFS to ReadWriteMany, ... then another chart that can take an existing NFS service and access it as a PV v

[2018-08-19 16:44] desaintmartin commented on #6114
Not yet fixed, see https://github.com/helm/charts/pull/6115 .

[2018-08-19 17:44] davidkarlsen commented on #4142
One uses https://github.com/kubernetes-incubator/external-storage/tree/master/nfs-client - the other is for https://github.com/helm/charts/tree/master/stable/nfs-server-provisioner .
I actively use the client one myself. The main difference is that one provides a NFS server - while the client one is based on the availability of an already provided NFS server outside of Kubernetes.

Yes I think thi